<%= render(Primer::Beta::BorderBox.new) do |component| %>
  <% if accesses.any? %>
    <% accesses.each do |access| %>
      <% component.with_row do %>
        <span>
          <%= link_to \
            access.name,
            stafftools_user_personal_access_token_path(this_user, access) %>
        </span>
        <span style="float:right">Created <%= time_ago_in_words access.created_at %> ago</span>
      <% end %>
    <% end %>
  <% else %>
    <% component.with_body do %>
      This account does not have any personal access tokens
    <% end %>
  <% end %>
<% end %>
