<div class="SelectMenu-list select-menu-list" data-filter="owner">
  <div data-filterable-for="assigns-filter-field" data-filterable-type="substring">
    <%= render(GitHub::Menu::LinkComponent.new(
      checked: false, text: "Clear", classes: "js-pat-owner-search-filter",
      href: stafftools_user_personal_access_tokens_path
    )) %>

    <% org_members.find_each do |user| %>
      <% checked = (user.display_login == selected_owner) %>

      <%= render(GitHub::Menu::LinkComponent.new(
        text: user.display_login, description: user.safe_profile_name, checked: checked,
        avatar: GitHub::AvatarComponent.new(actor: user, mr: 1), classes: "js-pat-owner-search-filter",
        href: stafftools_user_personal_access_tokens_path(this_user, q: "owner:#{user.display_login}"),
        data: { "test-selector" => "org-members", "test-id" => user.id.to_s }
      )) %>
    <% end %>
  </div>
</div>
