<%# erblint:counter DeprecatedComponentsCounter 1 %>
  <li class="Box-row">
    <div class="d-flex flex-justify-between flex-items-center">
      <div class="pr-2">
        <div class="d-flex flex-items-start flex-items-center">
          <label for="" class="mr-2">
            Change Tier
          </label>
        </div>
      </div>
      <div class="d-flex flex-justify-end position-relative">
        <details class="details-reset details-overlay">
          <%= render Primer::ButtonComponent.new(tag: :summary, "aria-haspopup": "true", test_selector: "change_tier") do -%>
            <% if forced_tier > 0 %><%= TrustTiers::Tier.tier_name(forced_tier) %> (Forced)<% else %><%= TrustTiers::Tier.tier_name(billable_owner_tier) %> (Calculated)<% end %>
            <span class="dropdown-caret"></span>
          <% end %>
          <div class="SelectMenu right-0" role="menu">
            <div class="SelectMenu-modal">
              <header class="SelectMenu-header">
                <h3 class="SelectMenu-title">Change account tier</h3>
              </header>
              <div class="SelectMenu-list">
                <% possible_forced_tiers.each do |tier, name| %>
                  <%= render Stafftools::TrustTiers::TieringSelectOptionComponent.new(user, tier, name) %>
                <% end %>
              </div>
            </div>
          </div>
        </details>
      </div>
    </div>
  </li>
