<%# erblint:counter DeprecatedComponentsCounter 1 %>
<div class="Box color-border-muted">
  <%= render Primer::BlankslateComponent.new(
    icon: "dependabot",
    title: "There are no recent update jobs",
    description: "Dependabot runs update jobs to update your dependencies.",
    spacious: true,
  ) do %>
    <p>
      <%= form_tag create_network_dependabot_run_path(update_config_id: update_config.id), method: :post do %>
        <%= render Primer::Beta::Button.new(type: :submit, scheme: :primary, size: :small, "aria-label": "Check for updates now") do %>
          Check for updates now
        <% end %>
      <% end %>
    </p>
  <% end %>
</div>
