<% page_info \
     :title => "PR ##{this_pull.number}",
     :selected_link => :issues %>

<div class="site-admin-unboxed">
  <div class="site-admin-subhead ruleless">
    <h2 class="site-admin-subhead-heading">
      <%= link_to \
            "Pull requests",
            gh_stafftools_repository_issues_path(current_repository) %>
      /
      <%= link_to \
            "PR ##{this_pull.number}",
            gh_stafftools_repository_pull_request_path(this_pull) %>
      / Database
    </h2>
  </div>

  <%= render \
        partial: "stafftools/database",
        locals: { record: this_pull } %>

  <div class="site-admin-subhead ruleless">
    <h2 class="site-admin-subhead-heading">
      Issue database record
    </h2>
  </div>

  <%= render \
        partial: "stafftools/database",
        locals: { record: this_pull.issue, denylist: %w(body) } %>
</div>
