<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% page_info :title => "Transforming" %>

<div class="setup-wrapper">
  <div class="setup-header setup-org">
    <h1>Please wait&hellip;</h1>
    <%= render "organizations/transform/transform_steps", step1: "complete", step2: "current" %>
  </div>
  <poll-include-fragment
    src="<%= transforming_organizations_path(:user => current_user) %>"
    data-redirect-url="<%= login_path %>"
  >
    <%= render Primer::BlankslateComponent.new(
      title: "Converting #{current_user} into an organization.",
      description: "You will be redirected when we’re done.",
      large: true,
      title_tag: :h2,
      classes: "h3",
    ) do |component| %>
      <% component.with_spinner(size: :large) %>
    <% end %>
  </poll-include-fragment>
</div>
