<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<%# `view` is an instance of Orgs::SecuritySettings::IndexView %>
<a class="btn" href="<%= team_sync_review_url(view.organization) %>">
  Review pending request
</a>
<div class="text-small color-fg-muted d-inline ml-2">
  <%= primer_octicon(:eye, color: :muted) %>
  Your team synchronization setup is pending review and approval.
</div>
