<div class="col-12">
  <%= render Primer::Beta::Blankslate.new do |c| %>
    <% c.with_heading(tag: :h2) do %>
      Unsupported identity provider
    <% end %>

    <% c.with_description do %>
      Currently, team synchronization is only supported for Entra ID and Okta. If you've configured SAML single sign-on with Entra ID or Okta, please contact support for help.
    <% end %>

    <% c.with_secondary_action(href: "#{GitHub.help_url}/articles/synchronizing-teams-between-your-identity-provider-and-github") do %>
      Learn more
    <% end %>
  <% end %>
</div>
