<%# `view` is an instance of Orgs::SecuritySettings::IndexView %>
<div>
  <% if view.okta_team_sync? %>
    <%= link_to("Enable for Okta", new_orgs_team_sync_okta_credentials_path(this_organization),
                class: "btn #{ 'disabled' unless view.enable_team_sync_settings? }") %>
  <% else %>
    <%=form_tag(view.team_sync_install_path, method: "post") do %>
      <%= submit_tag("Enable for #{view.team_sync_provider_type_label}",
                     class: "btn #{ 'disabled' unless view.enable_team_sync_settings? }") %>
    <% end %>
  <% end %>
</div>
