<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter DeprecatedInPrimerCounter 1 %>
<%# `view` is an instance of Orgs::SecuritySettings::IndexView %>
<%= render Primer::ButtonComponent.new(classes: "disabled tooltipped tooltipped-n", "aria-label": "You must single sign-on before enabling") do %><%# erblint:disable Primer::Accessibility::TooltippedMigration %>
  Enable for <%= view.team_sync_provider_type_label %>
<% end %>
<div class="text-small color-fg-muted d-inline ml-2">
  <%= primer_octicon(:info, color: :muted) %>
  You must
  <%= link_to "single sign-on", org_idm_sso_path(view.organization, return_to: settings_org_security_path(view.organization)), class: "Link--inTextBlock" %>
  before team synchronization can be enabled.
</div>
