<%# `view` is an instance of Orgs::SecuritySettings::TeamSync::ReviewPendingAssignmentView %>
<% page_info :title => "Team synchronization setup completed" %>

<div class="org-sso text-center">
  <div class="org-sso-panel">
    <div class="position-relative mt-2 mb-3">
      <h1 class="sso-title m-0">
        Team synchronization with
        <strong><%= view.provider_label %></strong>
      </h1>
    </div>
    <p class="color-fg-muted mb-4">
      Thank you for enabling team synchronization by connecting your
      <strong><%= view.provider_label %> tenant <%= view.team_sync_provider_id %></strong>
      to this organization.
    </p>
    <p class="color-fg-muted mb-4">
      Please have the organization administrator review and approve
      the team synchronization settings.
    </p>
  </div>
</div>
