<% page_info stafftools: stafftools_enterprise_path(this_business) %>

<% content_for :content do %>
  <main>
    <%= render layout: "businesses/layout", locals: { business: this_business } do %>
      <%= yield %>
    <% end %>
  </main>
<% end %>

<%= render template: "layouts/application" %>
