<%# erblint:counter DeprecatedInPrimerCounter 2 %>
<% page_info :title => "Spamurai Central", :selected_link => :spamurai %>

<% content_for :pagehead_path do %>
  / <strong>Spamurai Central</strong>
<% end %>

<div class="d-flex flex-wrap">
  <div class="col-6 p-2">
    <div class="d-flex border color-border-inverse rounded-3 p-3">
      <%= primer_octicon(:globe, height: 32) %>
      <div class="ml-3">
        <h3><%= link_to "Show Queued Patterns", queues_spamurai_patterns_path, "data-hotkey" => "q", class: "Link--inTextBlock" %></h3>
        <p>Data Patterns stored in SpamDatasources</p>
      </div>
    </div>
  </div>

  <div class="col-6 p-2">
    <div class="d-flex border color-border-inverse rounded-3 p-3">
      <%= primer_octicon(:globe, height: 32) %>
      <div class="ml-3">
        <h3><%= link_to "Datasources", spamurai_datasources_path, class: "Link--inTextBlock" %></h3>
        <p>Also not ready for day to day use yet.</p>
      </div>
    </div>
  </div>
</div>
