<% tag = @url.present? ? :a : :span %>
<% id = "alert-severity-#{@active_severity}-#{SecureRandom.alphanumeric(6)}" %>

<%= content_tag(tag, {
  class: "Label #{"Label--large" if @large_label} d-inline-flex flex-items-center #{subclass} #{@additional_classes}",
  id: id,
}.merge(@url.present? ? { href: @url } : {})) do %>
  <% if octicon %>
    <%= render Primer::Beta::Octicon.new(icon: octicon[:octicon], color: octicon[:color], pr: 1) %>
  <% end %>
  <span>
    <%= label_text %>
  </span>
<% end %>

<% if @url.present? %>
  <% tooltip_text = "Filter alerts by '#{label_text.downcase}' severity." %>
  <%= render(Primer::Alpha::Tooltip.new(for_id: id, type: :description, text: tooltip_text, direction: :s)) %>
<% end %>
