<pretty-cron data-cron="<%= @cron %>" <%= test_selector("pretty-cron") %>>
  <code data-target="pretty-cron.placeholder"><%= @cron %></code>
  <span data-target="pretty-cron.richContent" hidden>
    <span data-target="pretty-cron.human"></span>
  </span>
</pretty-cron>
