<% box_bottom_margin = alert_results.size == 0 ? "border-bottom-0" : "" %>

<div class="no-wrap d-flex d-lg-none">
  <%= render SecurityCenter::StatesComponent.new(
    open_state_href: open_path,
    open_state_count: open_count,
    open_state_selected: !has_both_state_filters? && open_filter_applied?,
    closed_state_href: closed_path,
    closed_state_count: closed_count,
    closed_state_selected: !has_both_state_filters? && closed_filter_applied?
  ) %>
</div>

<div class="Box Box--condensed Box--responsive mt-3 <%= box_bottom_margin %> js-scanning-alert-list js-check-all-container" data-hpc>
  <%= render CodeScanning::AlertTableHeaderComponent.new(
    open_count: open_count,
    closed_count: closed_count,
    query: query,
    open_path: open_path,
    closed_path: closed_path,
    repository: repository,
    current_user: user,
    organization: organization,
    business: business,
    ref_names: ref_names,
    fixed_result_numbers: fixed_result_numbers,
    language_percentages: language_percentages,
  ) %>

  <% if alert_results.size > 0 %>
    <ul class="js-alert-list js-navigation-container js-active-navigation-container" data-pjax>
      <% alert_results.each do |alert_result| %>
        <% result = alert_result.result %>
        <% alert_repository = alert_result.repository %>
        <% if alert_repository %>
          <%= render CodeScanning::AlertTableRowComponent.new(
            repository: alert_repository,
            alert: result,
            instance: result.most_recent_instance,
            show_checkbox: show_checkbox_for_row?,
            show_repository: business.present? || organization.present?,
            show_organization: business.present?,
            linked_issues: alert_issues(alert_result),
            show_link_to_issue: show_link_to_issue,
            repository_result_path: repository_result_path(alert_repository, result.number),
            severity_link: severity_link_for_result(result),
            query: query,
            alerts_code_scanning_index_path_method: alerts_code_scanning_index_path_method,
            experimental_tag_path: experimental_tag_path,
            show_alert_number: business.blank? && organization.blank?
          ) %>
        <% else %>
          <li class="Box-row Box-row--focus-gray d-flex mt-0 js-navigation-item">
            <div class="ml-1 d-flex flex-column flex-auto min-width-0 lh-condensed">
              <div class="d-flex flex-items-start">
                No longer present - please refresh the page
              </div>
            </div>
          </li>
        <% end %>
      <% end %>
    </ul>
  <% end %>
</div>
