<p>
  Hey <%= @user.display_login %>!
</p>

<p>
<%= yield %>

<p>
  To see this and other security events for your account, visit <a href="<%= settings_user_audit_log_url %>">your account security audit log.</a>
</p>

<p>
  If you run into problems, please contact support by visiting <a href="<%= contact_url %>">the GitHub support page.</a>
</p>

<p>
Thanks,<br>
The GitHub Team
</p>
