<% page_info title: "Continue to the application report abuse form" %>

<div class="container-md px-3">
  <%= render Primer::Beta::Blankslate.new(mt: 5) do |component| %>
    <% component.with_visual_icon(icon: "link-external") %>
    <% component.with_heading(tag: :h3).with_content("You are being redirected to the application report abuse form.") %>
    <% component.with_description do %>
      If your browser does not redirect you automatically, please visit <%= link_to("the application report abuse form", redirect_url, id: "redirect", class: "Link--inTextBlock") %> to continue.
    <% end %>
  <% end %>
</div>
