<strong class="AppHeader-context-compact-mainItem d-flex flex-items-center Truncate" <%= test_selector("compact-crumb") %>>
  <span class="Truncate-text <%= crumb.label_classes %>"><%= crumb.label %></span>

  <% if crumb.octicon.present? %>
    <%= primer_octicon(crumb.octicon, size: :xsmall, ml: 1) %>
  <% end %>
</strong>
