<% if !enterprise? %>
  <div class="container-md mt-3 mt-10">
    <div class="px-3 rounded-2 p-6 border text-center">
      <% if logged_in? %>
        <h3 class="h4-mktg color-fg-default mb-3">Learn more on Skills</h3>
        <p class="color-fg-muted mb-5">Learn new skills by completing fun, realistic projects in your very own GitHub repository.</p>

        <%= render Site::ButtonComponent.new(
          text: "Explore GitHub Skills",
          url: "https://skills.github.com/",
          analytics: {
            category: "Git Guides footer",
            action: "click",
            label: "text:Explore GitHub Skills; location: Skills box; ref_page: /git-guides#{ref_page}; ref_cta: end_of_article_skills; ref_loc: git_guides_end_of_article"
          }
        ) %>
      <% else %>

        <h3 class="h4-mktg color-fg-default mb-2">Get started with git and GitHub</h3>
        <p class="color-fg-muted mb-5">Review code, manage projects, and build software alongside 40&nbsp;million&nbsp;developers.</p>

        <%= render Site::ButtonComponent.new(
          text: "Sign up for GitHub",
          url: signup_path,
          classes: "mr-1 mb-3 no-underline",
          analytics: {
            category: "Git Guides footer",
            action: "click",
            label: "text:Sign up for GitHub; location: Get started with GitHub box; ref_page: /git-guides#{ref_page}; ref_cta: end_of_article_sign_up; ref_loc: git_guides_end_of_article"
          }
        ) %>

        <%= render Site::ButtonComponent.new(
          text: "Sign in",
          url: login_path,
          classes: "mb-3 no-underline",
          scheme: :muted,
          analytics: {
            category: "Git Guides footer",
            action: "click",
            label: "text:Sign in; location: Get started with GitHub box; ref_page: /git-guides#{ref_page}; ref_cta: end_of_article_sign_in; ref_loc: git_guides_end_of_article"
          }
        ) %>
      <% end %>
    </div>
  </div>
<% end %>
