<unveil-container class="flex-auto text-left rounded-bottom-3 color-bg-subtle px-3 py-2">
  <div id="pricing-business-features" data-unveiled="class" data-targets="unveil-container.unveilItems" class="d-none d-lg-block">
    <ul class="list-style-none">
      <li class="position-relative pl-5 my-3">
        <span class="position-absolute top-0 left-0">
          <%= render(Primer::Beta::Octicon.new(icon: "arrow-left", color: :default, mr: 2)) %>
        </span>
        Everything included in Free, plus...
      </li>

      <% rows = [
        {
          title: "Access to GitHub Codespaces",
          description: "Blazing fast cloud developer environments with flexible compute and pre-configured containers, developers can code, collaborate, and debug from any browser. Pay only for what you use with compute fees starting at $0.18/hr and storage fees at $0.07/GB per month."
        },
        {
          title: "Protected branches",
          description: "Enforce restrictions on how code branches are merged, including requiring reviews by selected collaborators, or allowing only specific contributors to work on a particular branch."
        },
        {
          title: "Multiple reviewers in pull requests",
          description: "Assign multiple users or a team to review a pull request."
        },
        {
          title: "Draft pull requests",
          description: "Easily discuss and collaborate on pull requests before submitting to formal review."
        },
        {
          title: "Code owners",
          description: "Automatically request reviews—or require approval—by selected contributors when changes are made to sections of code that they own."
        },
        {
          title: "Required reviewers",
          description: "Ensure that pull requests have a specific number of approving reviews before collaborators can make changes to a protected branch."
        },
        {
          title: "Pages and Wikis",
          description: "Host documentation and simple websites for your project in a wiki format that contributors can easily edit either on the web or command line."
        },
        {
          title: "Environment deployment branches and secrets",
          description: "A job cannot access secrets that are defined in an environment unless it is running on the specified branch."
        },
        {
          title: "3,000 CI/CD minutes/month",
          subtitle: "Free for public repositories",
          description: "Use execution minutes with GitHub Actions to automate your software development workflows. Write tasks and combine them to build, test, and deploy any code project on GitHub.",
        },
        {
          title: "2GB of Packages storage",
          subtitle: "Free for public repositories",
          description: "Host your own software packages or use them as dependencies in other projects. Both private and public hosting available.",
        },
        {
          title: "Web-based support",
          description: "GitHub Support can help you troubleshoot issues you run into while using GitHub."
        }
      ] %>
      <%= render "site/pricing/plan_features/rows", rows: rows, analytics: { ref_loc: "team"} %>

      <li class="position-relative pl-5 my-3 js-yearly-cost d-none d-lg-block">
        <span class="pricing-info position-absolute left-0 top-0 color-fg-accent ml-1 mr-2 f2">*</span>
        <span class="d-flex pt-1 f5-mktg">
        <% cache "site_pricing_business_discount_notice", expires_in: 1.day do %>
          <%= render Pricing::AnnualDiscountNoticeComponent.new(plan: GitHub::Plan.business) %>
        <% end %>
        </span>
      </li>
    </ul>
  </div>
  <button type="button" class="d-block d-lg-none btn-mktg btn-muted-mktg width-full" data-target="unveil-container.unveilElement" data-action="click:unveil-container#toggleUnveil" aria-expanded="false" aria-controls="pricing-business-features" data-expanded-copy="Hide features" data-collapsed-copy="Show features">Show features</button>
</unveil-container>
