<unveil-container class="d-lg-block flex-auto text-left rounded-bottom-3 color-bg-subtle px-3 py-2">
  <div id="pricing-business-plus-features" data-unveiled="class" data-targets="unveil-container.unveilItems" class="d-none d-lg-block">
    <ul class="list-style-none">
      <li class="position-relative pl-5 my-3">
        <span class="position-absolute top-0 left-0">
          <%= render(Primer::Beta::Octicon.new(icon: "arrow-left", color: :default, mr: 2)) %>
        </span>
        Everything included in Team, plus...
      </li>

      <%
        rows = GitHub.cache.fetch("site_pricing_plan_enterprise", expires_in: 1.day) do
          GitHub::Plan.business_plus.feature_information.map do |item|
            {title: item[:title], description: item[:description]}
          end
        end

        rows.concat([
          {
            title: "50,000 CI/CD minutes/month",
            subtitle: "Free for public repositories",
            description: "Use execution minutes with GitHub Actions to automate your software development workflows. Write tasks and combine them to build, test, and deploy any code project on GitHub."
          },
          {
            title: "50GB of Packages storage",
            subtitle: "Free for public repositories",
            description: "Host your own software packages or use them as dependencies in other projects. Both private and public hosting available."
          }
        ])
      %>

      <%= render "site/pricing/plan_features/rows", rows: rows, analytics: { ref_loc: "enterprise"} %>
    </ul>

    <h4 class="f5 text-uppercase fgColor-accent mt-4">Exclusive add-ons</h4>
    <ul class="list-style-none Links--underline">
      <% addons_rows = [
        {
          title: "GitHub Advanced Security",
          description: "Automatically find and fix vulnerabilities before they are put into production. Get notified if your secrets have been exposed in your codebase."
        },
        {
          title: "Premium support",
          description: "With Premium, get a 30-minute SLA on Urgent tickets and 24/7 web and phone support via callback request. With Premium Plus, get everything in Premium, assigned Customer Reliability Engineer and more.<br><br> <a href='/premium-support'>Learn more about Premium&nbsp;Support</a>"
        }
      ] %>
      <%= render "site/pricing/plan_features/rows", rows: addons_rows, analytics: { ref_loc: "enterprise"} %>

      <li class="position-relative pl-5 my-3 js-yearly-cost d-none d-lg-block">
        <span class="pricing-info position-absolute left-0 top-0 color-fg-accent ml-1 mr-2 f2">*</span>
        <span class="d-flex pt-1">
          <% cache "site_pricing_business_plus_discount_notice", expires_in: 1.day do %>
            <%= render Pricing::AnnualDiscountNoticeComponent.new(plan: GitHub::Plan.business_plus) %>
          <% end %>
        </span>
      </li>
    </ul>
  </div>
  <button type="button" class="d-block d-lg-none btn-mktg btn-muted-mktg width-full" data-target="unveil-container.unveilElement" data-action="click:unveil-container#toggleUnveil" aria-expanded="false" aria-controls="pricing-business-plus-features" data-expanded-copy="Hide features" data-collapsed-copy="Show features">Show features</button>
</unveil-container>
