<unveil-container class="flex-auto text-left rounded-bottom-3 color-bg-subtle px-3 py-2">
  <div id="pricing-free-features" data-unveiled="class" data-targets="unveil-container.unveilItems" class="d-none d-lg-block">
    <ul class="list-style-none">
      <% rows = [
        {
          title: "Unlimited public/private repositories",
          description: "Host open source projects in public GitHub repositories, accessible via web or command line. Public repositories are accessible to anyone at GitHub.com."
        },
        {
          title: "Automatic security and version updates",
          description: "Keep projects secure by automatically opening pull requests that update vulnerable dependencies to secure versions, and update out-of-date dependencies."
        },
        {
          title: "2,000 CI/CD minutes/month",
          subtitle: "Free for public repositories",
          description: "Use execution minutes with GitHub Actions to automate your software development workflows. Write tasks and combine them to build, test, and deploy any code project on GitHub."
        },
        {
          title: "500MB of Packages storage",
          subtitle: "Free for public repositories",
          description: "Host your own software packages or use them as dependencies in other projects. Both private and public hosting available."
        },
        {
          title: "Issues & Projects",
          description: "Give your developers flexible features for project management that adapts to any team, project, and workflow — all alongside your code."
        },
        {
          title: "Community support",
          description: "Get help with most of your GitHub questions and issues in our Community Forum."
        },
      ] %>
      <%= render "site/pricing/plan_features/rows", rows: rows, analytics: { ref_loc: "free"} %>
    </ul>

    <h4 class="f5 text-uppercase fgColor-accent mt-4">Featured add-ons</h4>
    <ul class="list-style-none Links--underline">
      <% addons_rows = [
        {
          title: "GitHub Copilot Access",
          description: "With <a href='/features/copilot'>GitHub Copilot</a>, get suggestions for whole lines or entire functions—right inside your&nbsp;editor."
        },
        {
          title: "GitHub Codespaces Access",
          description: "With <a href='/features/codespaces'>GitHub Codespaces</a>, get an instant dev environment in the cloud, so you can code anywhere on any device.",
        }
      ] %>
      <%= render "site/pricing/plan_features/rows", rows: addons_rows, analytics: { ref_loc: "free"} %>
    </ul>
  </div>
  <button type="button" class="d-block d-lg-none btn-mktg btn-muted-mktg width-full" data-target="unveil-container.unveilElement" data-action="click:unveil-container#toggleUnveil" aria-expanded="false" aria-controls="pricing-free-features" data-expanded-copy="Hide features" data-collapsed-copy="Show features">Show features</button>
</unveil-container>
