<% page_info stafftools: stafftools_user_achievements_path(this_user) %>

<div class="d-flex flex-wrap p-3">
  <h2 class="sr-only">Earned achievements</h2>

  <% achievements.each do |achievement| %>
    <%= render(Profiles::User::Achievements::CardComponent.new(
      achievement: achievement,
      skin_tone_block: skin_tone_block,
      open: open_achievement == achievement,
    )) %>
  <% end %>
</div>
