<%= render(
  "users/tabs/yearly_contributions",
  calendar: Contribution::Calendar.new(collector: non_graphql_calendar_collector),
  graph_collector: non_graphql_calendar_collector,
  org: scoped_organization,
) %>

<% unless this_user.large_bot_account? %>
  <div id="js-contribution-activity" class="activity-listing contribution-activity">
    <% track_render_partial("user/tabs/contribution-activity") do %>
      <%= render partial: "users/tabs/contribution_activity",
                 locals: { org: scoped_organization, collector: collector, include_header: true } %>
    <% end %>
  </div>
<% end %>
