<details class="select-menu select-menu-modal-right details-reset details-overlay mb-2 hx_rsm">
  <summary class="f6 rounded-2 border Link--secondary py-1 px-3 height-full">
     <span style="height: 21px" class="d-inline-block v-align-middle"></span>
    More
  </summary>

  <details-menu class="select-menu-modal position-absolute" style="right:0;z-index:1000"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
    <div class="select-menu-header">
      <span class="select-menu-title">Organizations</span>
    </div>

    <div class="select-menu-filters">
      <div class="select-menu-text-filter">
        <input type="text" autofocus class="form-control js-filterable-field" placeholder="Search by name" aria-label="Search by name" autocomplete="off" id="organization-name-field">
      </div>
    </div>

    <div class="select-menu-list">
      <ul data-filterable-for="organization-name-field" data-filterable-type="substring">
        <% orgs.each do |org| %>
          <li>
            <% path = user_profile_org_filter_path(base_path: this_user.path, org: org.display_login) %>
            <a style="padding: 8px 8px 8px 30px;"
              class="d-block select-menu-item wb-break-all js-org-filter-link"
              role="menuitem"
              href="<%= path %>"
              <%= safe_data_attributes(activity_overview_org_filter_hydro_attrs(selected_org_database_id: selected_org_database_id, path: path)) %>>
              <%= avatar_for(org, 20, class: "select-menu-item-icon mr-2", alt: "") %>
              <div class="select-menu-item-text css-truncate css-truncate-target" style="max-width: 95%;">@<%= org.display_login %></div>
            </a>
          </li>
        <% end %>
      </ul>

      <div class="select-menu-no-results">No organizations found</div>
    </div>
  </details-menu>
</details>
