<%
  # # first 3, and selected org if not in the first 3
  all_orgs = organization_selector_collector.organizations_contributed_to.to_a
  visible_orgs = all_orgs.first(3)
  visible_orgs << selected_org if selected_org && !visible_orgs.include?(selected_org)

  other_orgs = all_orgs.select { |o| !visible_orgs.include?(o) }
%>

<% if visible_orgs.any? %>
  <div class="js-org-filter-links-container">
    <nav class="subnav mb-2 d-flex flex-wrap" aria-label="Organizations">
      <%# Show first 5 organizations individually %>
      <% visible_orgs.each do |org| %>
        <%
          selected = selected_org&.id == org.id
          path = user_profile_org_filter_path(base_path: user_path(this_user), org: org.display_login, selected: selected)
          org_link_data_attributes = activity_overview_org_filter_hydro_attrs(selected: selected, selected_org_database_id: selected_org&.id, path: path)
          org_link_data_attributes.merge!(hovercard_data_attributes_for_org(login: org.display_login))
        %>

        <%= link_to path, style: "max-width: 181px;", class: "js-org-filter-link f6 py-1 pr-2 pl-1 rounded-2 mr-2 mb-2 subnav-item css-truncate css-truncate-target #{"selected" if selected}", data: org_link_data_attributes do %>
          <%= avatar_for(org, 20, class: "avatar mr-1", alt: "") %>
          @<%= org.display_login %>
        <% end %>
      <% end %>

      <%# Allow filtering through other organizations %>
      <% if other_orgs.any? %>
        <%= render partial: "users/tabs/more_filter", locals: {
              orgs: other_orgs, selected_org_database_id: selected_org&.id
            } %>
      <% end %>
    </nav>
  </div>
<% end %>
