<div class="js-yearly-contributions">
  <%= render partial: "users/contribution_graph",
             locals: { calendar: calendar, collector: graph_collector, org: org, user: this_user } %>

  <%
     if GitHub.flipper[:contribution_retention_period].enabled?(this_user)
       inside_retention_period = graph_collector.time_range.begin >= Contribution.retention_period.begin
     else
       inside_retention_period = true
     end
  %>

  <% if activity_overview_enabled? && inside_retention_period %>
    <div class="position-relative" id="user-activity-overview">
      <%= render(
        "users/tabs/activity_overview",
        selected_org: org,
        collector: non_graphql_calendar_collector,
        organization_selector_collector: organization_selector_collector,
        team_count: team_count,
      ) %>
    </div>
  <% end %>
</div>
