<div class="container-xl p-responsive-readme f3-mktg mx-auto">
  <div class="col-md-8 offset-md-3">
    <div class="border-top color-border-accent-emphasis text-mono color-fg-muted f4-mktg mt-5 mt-md-6 pt-5 pt-md-6 readme-postscript">
      <%= contentful_readme_rich_text(bio) %>
    </div>
  </div>
</div>
