<copilot-coding-guideline-path-row class="Box-row flex-items-center d-flex" data-targets="copilot-coding-guideline-form.rows">
  <div class="flex-1">
    <%= f.hidden_field(
      :_destroy,
      {
        data: { target: "copilot-coding-guideline-path-row.destroyInput" },
        index: index,
        value: false
      }.compact # Index might be nil. In that case we want to remove it and let Rails autogenerate the index
    ) %>
    <%= f.hidden_field(
      :path,
      {
        index: index,
        value: path
      }.compact
    ) %>
    <span class="bgColor-accent-muted fgColor-accent rounded f6 py-1 px-2 text-mono"><%= path %></span>
  </div>
  <%= render Primer::Beta::IconButton.new(
    tag: :button,
    icon: :trash,
    scheme: :invisible,
    data: { action: "click:copilot-coding-guideline-path-row#markForDestroy" },
    aria: { label: "Remove path" }) %>
</copilot-coding-guideline-path-row>
