<div class="d-md-flex flex-items-center flex-row-reverse my-8">
  <div class="col-md-6 pr-md-4 text-center">
    <img src="<%= image_path "modules/site/open-source/friday.png" %>" alt="" class="featurette-illo img-responsive">
  </div>
  <div class="col-md-6 text-center text-md-left">
    <h3 class="h5-mktg mb-3">An easier way to contribute to open source</h3>
    <p class="color-fg-muted mb-4">Every Friday, invest a few hours contributing to the software you use and love.</p>

    <%= render Site::LinkComponent.new(text: "Contribute on Open Source Friday", url: "https://opensourcefriday.com", size: :medium, underlined: true) %>
  </div>
</div>
