<div class="d-md-flex flex-items-center my-8">
  <div class="col-md-6 pr-md-4 text-center">
    <img src="<%= image_path "modules/site/open-source/guide.png" %>" alt="" class="featurette-illo img-responsive">
  </div>
  <div class="col-md-6 text-center text-md-left">
    <h3 class="h5-mktg mb-3">Learn how to run a successful project</h3>
    <p class="color-fg-muted mb-4">Open source is made by people just like you. Learn how to contribute, launch a new project, and build a healthy community of contributors.</p>

    <%= render Site::LinkComponent.new(text: "Read Open Source Guides", url: "https://opensource.guide", size: :medium, underlined: true) %>
  </div>
</div>
