<div class="my-6">
  <%= render(Primer::Beta::Heading.new(tag: :h4)) { "Hosted Runner" } %>
  <div class="color-fg-muted">
    You can select a runner group and runner to run this prebuild configuration.
  </div>

  <%= render(Primer::Alpha::Select.new(**select_arguments)) do |component| %>
    <% runner_group_options.each do |o| %>
      <% component.option(label: o[0], value: o[1]) %>
    <% end %>
  <% end %>
</div>

