<div class="my-6" <%= test_selector "template-versions" %>>
  <%= render(Primer::Beta::Heading.new(tag: :h4)) { "Template history" } %>
  <div class="color-fg-muted">
   You can specify the number of prebuild template versions retained to speed up codespaces from an older commit to manage storage costs. The maximum value is 5 versions.
   <a class="Link--inTextBlock" href="https://aka.ms/ghcs-prebuild-retention" target="_blank">Learn about template history</a>
  </div>
  <div class="form-group">
    <span class="form-control" style="display: inline-flex; width: unset;">
      <label for="template-versions" style="position: absolute; overflow: hidden; clip: rect(0px, 0px, 0px, 0px)">Template versions</label>
      <%= form.number_field :maximum_template_versions, required: true, value: maximum_template_versions, min: 1, max: 5, id: "template-versions", "aria-label": "template versions", style: "width: 100%; background: none; border: none; min-width: 12px;"%>
      <span style="color: #586069; font-weight: 400; line-height: 20px; margin-left: 8px; align-self: center;">versions</span>
    </span>
  </div>
</div>
