.linkButton {
  display: inline;
  padding: 0;
  margin: 0;
  text-align: left;
  text-decoration: underline;
  cursor: pointer;
  background-color: transparent;
  border: 0;
}

.asideHeading {
  font-size: var(--brand-text-size-100);
  /* stylelint-disable-next-line primer/colors */
  color: var(--brand-color-text-muted);
  text-transform: uppercase;
  letter-spacing: 0.031rem;
}

@media screen and (max-width: 63.25rem) {
  .aside {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: -1;
    width: 100%;
  }

  .aside--visible {
    /* z-index needs to be 1 < z-index < 32 to not conflict with CTA buttons or  navbar.
      Setting it to 30 since the table of contents should be above everything except the navbar.
     */
     z-index: 30;
  }

  .asideContent {
    display: flex;
    width: 100%;
    padding: var(--base-size-16);
    visibility: hidden;
    /* stylelint-disable-next-line primer/colors */
    background-color: var(--brand-color-canvas-default);
    box-shadow: 0 100px 80px rgba(0, 0, 0, 0.01), 0 41px 33px rgba(0, 0, 0, 0.02), 0 22px 17px rgba(0, 0, 0, 0.02),
      0 12px 10px rgba(0, 0, 0, 0.03), 0 6px 5px rgba(0, 0, 0, 0.04), 0 2px 2px rgba(0, 0, 0, 0.07);
    opacity: 0;
    transition: visibility var(--brand-animation-duration-default) var(--brand-animation-easing-default),
      opacity var(--brand-animation-duration-default) var(--brand-animation-easing-default),
      transform var(--brand-animation-duration-default) var(--brand-animation-easing-default);
    transform: translateY(-100%);
    justify-content: center;
  }

  .asideContent--visible {
    visibility: visible;
    opacity: 1;
    transform: none;
  }

  .asideContent--open {
    display: flex;
    height: auto;
    padding: var(--base-size-16) var(--base-size-16) var(--base-size-32);
    justify-content: center;
  }

  .asideContent--open::after {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    content: '';
    /* stylelint-disable-next-line primer/colors */
    background-color: var(--brand-color-canvas-subtle);
    opacity: 0.8;
  }

  .asideHeading {
    display: flex;
    height: 45px;
    align-items: center;
  }
}

.tableOfContentsList {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  flex-direction: column;
  gap: var(--base-size-16);
}

.tableOfContentsListItem {
  /* stylelint-disable-next-line primer/colors */
  color: var(--brand-color-text-muted);
  text-decoration: none;
}

.tableOfContentsMenuToggle {
  display: none;
}

.tableOfContentsMenuToggle:hover {
  /* stylelint-disable-next-line primer/colors */
  background-color: var(--brand-color-neutral-subtle);
}

@media screen and (max-width: 63.25rem) {
  .asideHeading {
    padding-inline-start: var(--base-size-12);
  }

  .tableOfContentsMenuToggle {
    display: block;
    width: var(--base-size-32);
    padding: var(--base-size-4);
    cursor: pointer;
    /* stylelint-disable-next-line primer/colors */
    background-color: var(--brand-color-canvas-subtle);
    border: 0;
    /* stylelint-disable-next-line primer/borders */
    border-radius: var(--brand-borderRadius-full);
  }

  .tableOfContentsNav,
  .tableOfContentsFeaturesBox {
    display: none;
  }

  .tableOfContentsNav--visible {
    display: block;
  }

  .tableOfContentsListItem {
    display: block;
    padding: var(--base-size-8) var(--base-size-12);
  }

  .tableOfContentsListItem[aria-current] {
    /* stylelint-disable-next-line primer/colors */
    background-color: var(--brand-color-neutral-subtle);
    /* stylelint-disable-next-line primer/borders */
    border-radius: var(--brand-borderRadius-medium);
  }
}

@media screen and (min-width: 64rem) {
  .aside {
    position: sticky;
    top: 0;
    margin-block-start: calc(var(--base-size-64) * -1);
    padding-block-start: var(--base-size-64);
  }
}
