<% content_for :content do %>
  <main class="px-3 mt-4 container-lg">
    <%= render layout: "stafftools/stafftools", locals: {header: true} do %>
      <%= yield %>
    <% end %>
  </main>
<% end %>

<%= render template: "layouts/application" %>
