<% repos_ref_selector_compare_fix = GitHub.flipper[:repos_ref_selector_compare_fix].enabled?(current_user) %>

<template data-target="ref-selector.noMatchTemplate">
  <% if repos_ref_selector_compare_fix %>
    <div class="height-full width-full d-flex flex-items-center pl-3">
      <span>Branch not found: <strong>{{ refName }}</strong></span>
    </div>
  <% else %>
    <% if current_user_can_push? %>
      <%= form_tag form_path, class: "select-menu-new-item-form d-block", method: :get do %>
        <input type="hidden" name="new_compare_type" value="<%= type %>">
        <input type="hidden" name="new_compare_ref" value="{{ refName }}">
        <button type="submit" role="menuitem" class="select-menu-item width-full" data-index="{{ index }}">
          <%= primer_octicon(:history, classes: "select-menu-item-icon") %>
          <span>{{ refName }}</span>
        </button>
      <% end %>
    <% else %>
      <div class="SelectMenu-message">Nothing to show</div>
    <% end %>
  <% end %>
</template>
