<div class="d-flex flex-column f5-mktg border-top border-dashed border-bottom-0 border-left-0 border-right-0 py-3">
  <p class="f5-mktg text-bold">Select the operating system where you would like to run your jobs</p>
  <p class="f5-mktg color-fg-muted">GitHub-managed runners are based on Ubuntu Linux, Microsoft Windows, and macOS, and each job in a workflow runs in a fresh virtual environment.</p>
  <% Site::PricingCalculator::OPERATING_SYSTEMS.each do |os| %>
    <label class="d-flex flex-row mb-1">
      <%= radio_button_tag("#{calculator}-os", os[:key], false, class: "mt-1 mr-2", "data-label": os[:label], data: {
        targets: local_assigns[:data_targets],
        action: local_assigns[:data_action],
      })%>
      <div class="d-flex flex-row f5-mktg flex-items-baseline">
        <span class="f5-mktg mr-2 text-bold"><%= os[:label] %></span>
        <span class="f5-mktg color-fg-muted"><%= Money.new(os[:price_cents_usd_per_hour], "USD").format %> USD/hr</span>
      </div>
    </label>
  <% end %>
</div>
