<div class="d-flex flex-column pt-4">
  <p class="f5-mktg text-bold">
    <%= heading %>
  </p>
  <% Site::PricingCalculator::RUNNER_TYPES.each do |runner_type| %>
    <label class="d-flex flex-row flex-items-start mb-2">
      <%= radio_button_tag("#{calculator}-runner-type", runner_type[:key], false, class: "mt-1 mr-2", "data-label": runner_type[:label], data: {
        targets: local_assigns[:data_targets],
        action: local_assigns[:data_action],
      }) %>
      <div class="d-flex flex-column f5-mktg">
        <span class="text-bold"><%= runner_type[:label] %></span>
        <span class="color-fg-muted"><%= runner_type[:description] %></span>
      </div>
    </label>
  <% end %>
</div>
