<% view = Stafftools::Search::AuditLogView.new(logs: logs, query_string: query, current_user: current_user, results: results) %>

<% if logs.any? %>
  <%= render \
      partial: "stafftools/search/audit_log_table",
      locals: {
        view: view
      } %>
<% else %>
  <p class="site-admin-blankstate">
    No audit log entries.
  </p>
<% end %>
