<% if selected_check_run && repository %>
  <% latest_run = CheckRun.latest_version_of(selected_check_run, repository.id) %>
  <% if latest_run && latest_run.id != selected_check_run.id %>
    <div class="stale-files-tab d-inline-block float-none ml-2 my-0 f6">
      <a class="stale-files-tab-link js-latest-run-link" href="<%= latest_run.permalink(pull: pull) %>">Refresh</a>
    </div>
  <% end %>
<% end %>
