<%
  outer_radius ||= 15
  inner_radius ||= 9
%>
<% if contexts_helper.state_counts.empty? %>
  <span class="flex-auto flex-grow-0 flex-shrink-0">
    <%= donut_svg({ "neutral" => 1 }, outer_radius, inner_radius) %>
  </span>
<% elsif contexts_helper.all_succeeded? %>
  <span class="checks-summary-conclusion text-center color-fg-on-emphasis color-bg-success-emphasis float-left mt-1 flex-auto flex-grow-0 flex-shrink-0">
    <%= primer_octicon(:check) %>
  </span>
<% elsif contexts_helper.all_failing? %>
  <span class="checks-summary-conclusion text-center color-fg-on-emphasis color-bg-danger-emphasis float-left mt-1 flex-auto flex-grow-0 flex-shrink-0">
    <%= primer_octicon(:x) %>
  </span>
<% else %>
  <span class="flex-auto flex-grow-0 flex-shrink-0">
    <%= donut_svg contexts_helper.state_counts.transform_keys(&:downcase), outer_radius, inner_radius %>
  </span>
<% end %>
