<div>
  <div class="d-flex position-relative">
    <button data-show-dialog-id="configure_thread_subscription" type="button" class="discussion-sidebar-heading discussion-sidebar-toggle">
      <div class="d-flex flex-justify-between">
        <div class="text-bold">Notifications</div>
        <span class="text-normal">Customize</span>
      </div>
    </button>
    <%= render(Primer::Alpha::Dialog.new(id: "configure_thread_subscription", title: "Notification settings", size: :medium_portrait, color: :default)) do |d| %>
      <% d.with_header(show_divider: true) %>
      <% d.with_body(p: 0) do %>
        <include-fragment loading="lazy" src="<%=notifications_thread_subscription_dialog_path(
          repository_id: list.id,
          thread_class: thread_class,
          thread_id: thread_id,
        )%>">
          <div class="d-flex flex-items-center flex-justify-center" style="min-height: 315px;" data-show-on-error hidden>
            <h2 class='f5'>Sorry, something went wrong.</h2>
          </div>
          <div class="d-flex flex-items-center flex-justify-center" style="min-height: 315px;" data-hide-on-error>
            <%= render(Primer::Beta::Spinner.new(role: 'img', aria: { label: "Loading" })) %>
          </div>
        </include-fragment>
      <% end %>
    <% end %>
  </div>
</div>
