<table class="site-admin-table">
  <thead>
    <tr>
      <td>User</td>
      <td>Role</td>
      <td>Teams</td>
      <td>Invited by</td>
      <td>Created</td>
      <td>Updated</td>
      <% if render_failed_invitations %>
        <td>Failed reason</td>
      <% end %>
    </tr>
  </thead>

  <%= render Stafftools::InvitationComponent.with_collection(invitations, failed: render_failed_invitations) %>
</table>

<div class="paginate-container">
  <%= will_paginate invitations %>
</div>
