<% page_info \
     title: "#{this_user.login} - #{this_team.name} child teams",
     selected_link: :org_teams %>

<div class="site-admin-unboxed">
  <div class="site-admin-subhead ruleless">
    <h2 class="site-admin-subhead-heading">
      <%= link_to "Teams", stafftools_user_teams_path(this_user) %>
      /
      <%= link_to this_team.name, gh_stafftools_team_path(this_team) %>
      / Child Teams
    </h2>
  </div>

  <% if child_teams.any? %>
    <table class="site-admin-table">
      <% child_teams.each do |team| %>
        <tr>
          <td>
            <%= link_to team.name, gh_stafftools_team_path(team) %>
          </td>
        </tr>
      <% end %>
    </table>

    <div class="paginate-container">
      <%= will_paginate child_teams %>
    </div>
  <% else %>
    <p class="site-admin-blankstate">No child teams</p>
  <% end %>
</div>
