<% page_info \
     :title => "#{this_user.login} - #{this_team.name} team database",
     :selected_link => :org_teams %>

<div class="site-admin-unboxed">
  <div class="site-admin-subhead ruleless">
    <h2 class="site-admin-subhead-heading">
      <%= link_to "Teams", stafftools_user_teams_path(this_user) %>
      /
      <%= link_to this_team.name, gh_stafftools_team_path(this_team) %>
      / Database
    </h2>
  </div>

  <%= render \
        partial: "stafftools/database",
        locals: { record: this_team } %>
</div>
