<% page_info \
     title: "#{this_user.login} - #{this_team.name} external groups",
     selected_link: :org_teams %>

<div class="site-admin-unboxed">
  <div class="site-admin-subhead ruleless">
    <h2 class="site-admin-subhead-heading">
      <%= link_to "Teams", stafftools_user_teams_path(this_user) %>
      /
      <%= link_to this_team.name, gh_stafftools_team_path(this_team) %>
      / External Groups
    </h2>
  </div>

  <% if external_groups.any? %>
    <table class="site-admin-table">
      <% external_groups.each do |external_group| %>
        <tr>
          <td>
            <%= link_to external_group.group_name, stafftools_user_team_external_members_path(team_id: this_team.slug, group_id: external_group.group_id) %>
          </td>
        </tr>
      <% end %>
    </table>

    <div class="paginate-container">
      <%= will_paginate external_groups %>
    </div>
  <% else %>
    <p class="site-admin-blankstate">No external groups</p>
  <% end %>
</div>
