<div class="mt-4">
  <% if !view.has_persisted_budget? %>
    <%# Manage spending using budgets banner %>
    <%= render "businesses/billing_settings/budgets/manage_budget_banner", locals: { this_business: view.business } %>
  <% end %>

  <%# filter menu %>
  <%= render "businesses/billing_settings/budgets/budget_filters", view: view %>

  <ul class="list-style-none" data-filterable-for="billing-settings-budgets-search">
    <% view.all_budgets.each do |budget| %>
      <%= render "businesses/billing_settings/budgets/budget_list_item",
        view: view,
        budget: budget,
        show_elipses_menu: budget.persisted? %>
    <% end %>
  </ul>
</div>
