<%
  query = params[:q]
%>
<div class="clearfix">
  <%= form_tag settings_billing_tab_enterprise_path(view.business, :budgets), method: :get,
        :"data-autosearch-results-container" => "enterprise-budgets-list",
        "aria-label" => "Budgets",
        :role => "search" do %>
      <div class="subnav-search float-left pr-3">
        <span class="position-absolute f5 pl-2" style="line-height: 32px">
          <%= render(Primer::Beta::Octicon.new(icon: "search", height: 14)) %>
        </span>
        <input
          type="search"
          id="billing-settings-budgets-search"
          name="q"
          class="form-control pl-4 js-filterable-field"
          placeholder="Search budgets&hellip;"
          autocomplete="off"
          aria-label="Search budgets&hellip;"
          value="<%= query %>"
          data-throttled-autosubmit>
      </div>
    <% end %>
  <%= link_to "New budget", new_billing_settings_billing_budget_path, class: "btn btn-primary float-right" %>
</div>
