<%= render(GitHub::FlashActionDismissibleComponent.new(level: :default, display_icon: false, text_align: :center, mb: 4)) do |c| %>
  <% c.with_title(classes: "d-block h3 text-center") do %>
    Manage spending using budgets
  <% end %>
  <% c.with_text(classes: "d-block color-fg-muted mx-auto mt-1 text-center", style: "max-width: 600px;") do %>
    Create budgets to track and limit your spending on metered services across your enterprise and organizations. As a default, we have created a budget with <span class="text-bold">unlimited spending</span> for Actions & Packages for your enterprise.
  <% end %>
<% end %>
