<%
  highlight.dotcom_search_each_line_with_number do |line, number|
    number += 1
%>
  <tr>
    <td class="blob-num">
      <a href="<%= "#{file_link}#L#{number}" %>"><%= number %></a>
    </td>
    <td class="blob-code blob-code-inner"><%= line %></td>
  </tr>
<% end %>
