<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%= render Primer::BlankslateComponent.new(
  icon: "search",
  title: "Request to #{GitHub.dotcom_host_name_string} failed, not showing results for '#{search}'",
) do %>
  <p>
    Please try again later or try searching directly on <a class="Link--inTextBlock" href='<%="https://#{GitHub.dotcom_host_name}/search?q=#{search}&type=#{type}&utf8=%E2%9C%93"%>'><%= GitHub.dotcom_host_name_string %></a>.
  </p>
<% end %>
