<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# rubocop:disable Lint/InstanceVariable %>
<%= render Primer::BlankslateComponent.new(
  icon: "search",
  title: message,
) do %>
  <p>You could try an <%= link_to "advanced search", dotcom_advanced_search_path(q: @search), class: "Link--inTextBlock" %>.</p>
<% end %>
