<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%= render Primer::BlankslateComponent.new(
  icon: "search",
  title: "This functionality is not available",
) do %>
  <p>
    Please try searching directly on <a class="Link--inTextBlock" href='<%="https://#{GitHub.dotcom_host_name}/search?q=#{search}&type=Wikis&utf8=%E2%9C%93"%>'><%= GitHub.dotcom_host_name_string %></a>.
  </p>
<% end %>
