.gap8 {
  gap: 8px;
}

.filterContainer {
  flex-flow: wrap;
}

.validation {
  flex-basis: 100%;
}

@media only screen and (max-width: 544px) {
  .filter {
    order: 1;
    min-width: 100%;
  }

  .validation {
    order: 2;
  }

  .buttons {
    order: 3;
  }
}
