<% if !@edit_from_list %>
  <div class="ml-3">
    <%= render Primer::Beta::Button.new(tag: :a, href: edit_path, size: :medium) do
      "Edit"
    end %>
  </div>
<% else %>
  <%= render(Primer::Beta::Link.new(id: "runner-dropdown-item", classes: "dropdown-item btn-link", href: edit_path)) { "Edit runner" } %>
<% end %>
