<h3 class="my-3 text-bold h5">Active jobs</h3>

<% if @check_runs.empty? %>
  <div class="Box mt-2 text-center py-4">
   <h4 class="h2">There are currently no running jobs</h4>
      <% if @larger_runner.labels.first %>
        Add `<code>runs-on: <%=@larger_runner.labels.first.name%></code>` to your workflow's YAML to send jobs to this runner.
      <% end %>
  </div>
<% else %>

  <%= render(Primer::Beta::BorderBox.new(mt: 3)) do |component| %>
    <% @check_runs.each do |check_run| %>
      <% component.with_row(p: 2) do %>
        <%= render Actions::Runners::CheckRunItemComponent.new(check_run: check_run) %>
      <% end %>
    <% end %>
  <% end %>

  <div class="paginate-container">
    <div class="pagination">
      <%= will_paginate(@check_runs) %>
    </div>
  </div>
<%end%>
