<%= render Site::SectionComponent.new(
  theme: :dark,
  container: false,
  padding: false,
  classes: "home-campaign-footer position-relative js-section",
) do %>
  <div class="container-xl position-relative z-2 px-3">
    <div class="d-flex js-build-in-trigger" data-build-in-stagger="100">
      <div class="col-1 d-flex flex-column flex-items-center js-build-in-trigger">
        <div class="home-campaign-git-line rounded js-build-in-item build-in-scale-top" style="height: 100%; background: linear-gradient(transparent, #6639BA 10%, #A371F7, #D2A8FF);"></div>

        <div class="mx-auto my-3 home-campaign-glowing-icon">
          <div class="position-relative d-inline-block z-1">
            <%= render Primer::Beta::Octicon.new(icon: "code", size: :medium) %>
            <span class="position-absolute left-0 bottom-0 height-full width-full home-campaign-glowing-icon-glow z-n1" style="background-color: var(--mktg-accent-primary); filter: blur(17px);"></span>
          </div>
        </div>
      </div>

      <div class="col-11 ml-2 ml-md-0">
        <div class="col-md-11 col-lg-9 py-8">
          <h2 class="h2-mktg mb-5">Over 100 million developers call GitHub home<sup class="f3-mktg" style="vertical-align: super">3</sup></h2>
          <p class="f3-mktg color-fg-muted">Whether you’re scaling your startup or just learning how to code, GitHub is your home. Join the world’s largest developer platform to build the innovations that empower humanity. Let’s&nbsp;build from&nbsp;here.</p>
        </div>

        <div class="pb-2">
          <%= render "site/home/cta", cta_location: "footer" %>
        </div>
      </div>
    </div>
  </div>

  <% if force_globe || globe_enabled %>
    <%# When home_page_globe feature is enabled %>

    <div id="globe" class="js-globe-root">
      <%= render "site/home/globe" %>

      <div class="text-center position-relative z-3 mt-5 mb-7">
        <button
          type="button"
          class="f4-mktg js-animation-pause-toggle js-globe-pause-toggle animation-pause-toggle rounded-2"
          data-target-id="globe"
          aria-pressed="false"
          data-pause-aria-label="Globe is curently animating. Click to pause animation."
          data-play-aria-label="Globe is paused. Click to play animation."
        >
          <span class="animation-toggle-pause-label">Pause</span>
          <span class="animation-toggle-play-label">Play</span>
        </button>
      </div>
    </div>
  <% end %>
<% end %>

<div class="container-xl p-responsive" data-dark-theme="dark" data-color-mode="dark">
  <ul class="list-style-none col-lg-9 color-fg-muted f5">
    <li class="mb-3"><sup id="footnote-1">1</sup> This 7X times factor is based on data from the industry’s longest running analysis of fix rates
Veracode State of Software Security 2023, which cites the average time to fix 50% of flaws as 198 days vs. GitHub’s fix rates of 72% of flaws with in 28 days which is at a minimum of 7X faster when compared.</li>
    <li class="mb-3"><sup id="footnote-2">2</sup> The Total Economic Impact™ Of GitHub Enterprise Cloud and Advanced Security, a commissioned study conducted by Forrester Consulting, 2022. Results are for a composite organization based on interviewed customers.</li>
    <li class="mb-3"><sup id="footnote-3">3</sup> There are now 100 million developers around the world using GitHub. <a href="https://github.blog/2023-01-25-100-million-developers-and-counting/" class="color-fg-muted text-underline" target="_blank">Read the blog post</a>.</li>
  </ul>
</div>
