<div class="mb-4 position-relative home-campaign-glowing-icon js-build-in-item build-in-scale-fade">
  <%= render Primer::Beta::Octicon.new(icon, size: :medium) %>
  <span class="position-absolute left-0 top-0 height-full width-full home-campaign-glowing-icon-glow circle z-n1" style="background-color: var(--mktg-accent-primary); filter: blur(18px);"></span>
</div>
