<div class="container-xl position-relative">
  <%= image_tag(
    "modules/site/home-universe/hero-desktop.webp",
    alt: "",
    aria: { hidden: true },
    width: "2236",
    height: "1630",
    class: "position-absolute top-0 height-auto events-none d-none d-sm-block",
    style: "width: min(1118px, max(100vh, 100vw)); left: 67%;"
  ) %>
  <%= image_tag(
    "modules/site/home-universe/hero-mobile.webp",
    alt: "",
    aria: { hidden: true },
    width: "860",
    height: "544",
    class: "events-none d-sm-none width-full height-auto mb-n3"
  ) %>
</div>
