/* stylelint-disable primer/spacing, primer/colors, primer/borders */

.day {
  display: flex;
  width: var(--control-large-size);
  height: var(--control-large-size);
  margin: 1px;
  font-family: var(--fontStack-monospace);
  font-size: var(--text-body-size-small);
  color: var(--text-color);
  user-select: none;
  border-radius: var(--borderRadius-medium);
  transition:
    0.1s background-color ease,
    0.1s color ease,
    0.1s box-shadow ease;
  align-items: center;
  justify-content: center;

  /* Using a variable ensures the today indicator line is the same color as the text */
  --text-color: var(--fgColor-default);

  &[aria-disabled='true'] {
    --text-color: var(--control-fgColor-disabled);
  }

  /* Presence of aria-selected indicates selectability/interactivity */
  &[aria-selected]:not([aria-disabled='true']) {
    cursor: pointer;

    &:focus-visible {
      /* Make sure the outline shows above next date background: */
      z-index: 1;
      outline: var(--focus-outline);
    }

    &:where(:not(.selected)) {
      &:hover {
        background: var(--control-bgColor-hover);
      }

      &:active {
        background: var(--control-bgColor-active);
      }
    }
  }

  &.today {
    font-weight: bold;

    --text-color: var(--fgColor-accent);

    /* Indicator line underneath text */
    .date::after {
      position: absolute;
      bottom: 0;
      left: 50%;
      display: block;
      width: 16px;
      height: 2px;
      content: '';
      background: var(--text-color);
      border-radius: 1px;
      transform: translateX(-50%);
    }
  }

  /* Visible selection styling may differ from aria-selected when there is a range preview, so we can't select with `[aria-selected]` here. */
  &.selected {
    background: var(--bgColor-accent-emphasis);

    --text-color: var(--fgColor-onEmphasis);

    &:is(.rangeFrom, .rangeTo):not(.activeRangeEnd) {
      background: var(--borderColor-accent-muted);

      --text-color: var(--fgColor-default);
    }

    &.rangeFrom {
      border-radius: 4px 0 0 4px;
    }

    &.rangeMiddle {
      background: var(--bgColor-accent-muted);
      border-radius: 0;

      --text-color: var(--fgColor-default);
    }

    &.rangeTo {
      border-radius: 0 4px 4px 0;
    }
  }

  &.range {
    width: calc(var(--control-large-size) + 2px);
    margin: 1px 0;
  }

  &.header {
    --text-color: var(--fgColor-muted);
  }

  .date {
    position: relative;
    line-height: 2;
  }
}
