.container {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.rangeInputs {
  display: flex;
  align-items: center;

  .rangeInputsSeparator {
    flex-grow: 0;
    padding-right: var(--base-size-4);
    padding-left: var(--base-size-4);
  }
}

.singleDateInputContainer {
  position: relative;
  flex-grow: 0;
  width: 16ch;

  &.hasCalendarButton {
    width: 22ch;
  }

  .singleDateInput {
    width: 100%;

    &.activeRangeEnd {
      border-color: var(--fgColor-accent);
    }
  }
}

.fullWidth {
  flex-grow: 1;
}

.multiDateInputContainer {
  position: relative;
  flex-grow: 0;

  &.insideDatePicker {
    width: 14ch;
    max-width: 100%;
  }

  .multiDateInput {
    width: 100%;
    padding: 0 var(--base-size-8);

    /* stylelint-disable-next-line selector-max-type */
    & input {
      width: 0;

      /* stylelint-disable-next-line selector-max-type */
      &:focus {
        width: 11ch;
      }
    }
  }
}

.calendarIconButton {
  padding: 0;
}

.successIcon {
  color: var(--fgColor-success);
}

.dangerIcon {
  color: var(--fgColor-danger);
}
