.container {
  display: flex;
  flex-direction: column;
  user-select: none;

  .row {
    display: flex;
    justify-content: space-between;
  }

  .title {
    height: var(--base-size-24);
    font-size: var(--text-body-size-medium);
    font-weight: bold;
    color: var(--fgColor-default);
    text-align: center;
    grid-area: month;

    &.compressedHeader {
      clip-path: circle(0);
    }
  }
}
