.container {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--bgColor-default);
  align-items: stretch;

  & *[disabled],
  & *[aria-disabled='true'] {
    pointer-events: none;
  }
}

.topNav {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  display: flex;
  padding: var(--base-size-16);
  justify-content: space-between;
}

.months {
  position: relative;
  display: flex;
  padding: var(--base-size-16);
  margin-top: var(--base-size-4);
  flex-direction: row;
  align-items: flex-start;
  gap: var(--base-size-40);
}

.footer {
  display: flex;
  padding: var(--base-size-8) var(--base-size-16);
  flex-direction: column;
  border-top: var(--borderWidth-thin) solid;
  border-top-color: var(--borderColor-default);
  gap: var(--stack-gap-condensed);
  align-items: stretch;

  .footerRow {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-basis: 0;
    justify-content: space-between;
    gap: var(--base-size-8);
  }

  .footerButtons {
    display: flex;
  }
}

.arrowButton {
  width: 40px;
  height: 28px;

  &:not(:last-child) {
    margin-right: var(--base-size-4);
  }

  .icon {
    color: var(--fgColor-muted);
  }
}

.pickers {
  flex: 1;

  .picker {
    padding: var(--base-size-4);
    margin-right: var(--base-size-6);
    font-weight: 600;
    color: var(--fgColor-default);
    background: var(--bgColor-default);
    border: 0;
    border-radius: var(--borderRadius-medium);

    :focus {
      outline: var(--focus-outline);
    }

    .option {
      padding: var(--base-size-8);
      font-weight: 400;
      color: var(--fgColor-default);
      background: var(--bgColor-default);
      border: 0;
    }
  }
}
