<% secondary_two_grid_stories = homepage.featured_content.drop(5).take(2) %>
<% secondary_three_grid_stories = homepage.featured_content.drop(7).take(6) %>

<div class="container-readme p-responsive-readme">
  <h2 class="readme-home-visually-hidden">Community stories</h2>
  <!-- TEASE GRID (2)  -->
  <div class="d-sm-flex flex-wrap gutter-sm-spacious">
    <% secondary_two_grid_stories.each do |story| %>
      <div class="col-sm-6 mb-8">
        <div class="position-relative mb-4">
          <%= render Site::Readme::Shared::LinkImgComponent.new(
            story: story.to_json,
            image: "hero",
            lazyload: true,
            build_in: true,
            build_in_margin: "10",
            dimensions: {
              width: 2000,
              height: 1200
            }
          ) %>
        </div>

        <%= render Site::Readme::Shared::LinkTextComponent.new(story: story.to_json) %>
      </div>
    <% end %>
  </div>

  <!-- TEASE GRID (3)  -->
  <div class="d-sm-flex flex-wrap gutter-sm-spacious">
    <% secondary_three_grid_stories.each do |story| %>
      <div class="col-sm-6 col-lg-4 mb-8">
        <div class="position-relative mb-4">
          <%= render Site::Readme::Shared::LinkImgComponent.new(
            story: story.to_json,
            image: "hero",
            lazyload: true,
            build_in: true,
            build_in_margin: "10",
            topic_tag: false,
            sizes: "(max-width: 755px) 90vw, 30vw",
            dimensions: {
              width: 1000,
              height: 600
            }
          ) %>
        </div>

        <%= render Site::Readme::Shared::LinkTextComponent.new(story: story.to_json) %>
      </div>
    <% end %>
  </div>
</div>
