<%# erblint:counter DeprecatedComponentsCounter 3 %>
<template class="js-file-alert-template">
  <%= render(Primer::Beta::Flash.new(icon: :alert, scheme: :warning, full: true, display: :flex, align_items: :center)) do |component| %>
    <span>
      This file contains bidirectional Unicode text that may be interpreted or compiled differently than what appears below. To review, open the file in an editor that reveals hidden Unicode characters.
      <a class="Link--inTextBlock" href="https://github.co/hiddenchars" target="_blank">Learn more about bidirectional Unicode characters</a>
    </span>
    <% component.with_action do %>
      <%= render(Primer::ButtonComponent.new(tag: :a, variant: :small, href: "{{ revealButtonHref }}")) { params[:h] == "1" ? "Hide revealed characters" : "Show hidden characters" } %>
    <% end %>
  <% end %>
</template>
<template class="js-line-alert-template">
  <%= render(Primer::Tooltip.new(label: "This line has hidden Unicode characters", direction: :e, classes: "line-alert")) do %>
    <%= primer_octicon(:alert) %>
  <% end %>
</template>
<% if params[:h] == "1" %>
  <template class="js-revealed-character-template"><span class="user-select-none mx-1 p-1 border rounded-2 color-border-danger-emphasis">{{ revealedCharacter }}</span></template>
<% end %>
