<div class="pt-2">
  <% organization_prefix ||= "the" %>

  <p>
    The total number of users for this Enterprise Account is calculated by looking at the unique billable users/emails
    on each Enterprise Cloud Organization and Enterprise Server installation contained within this Enterprise Account.
    Because we only count unique users/emails the Enterprise Cloud Organization and Enterprise Server installation,
    individual totals will almost certainly not sum to the Enterprise Account total.
  </p>

  <p> An Enterprise Cloud user will consume a license if: </p>

  <%= render "shared/organization_licensing_explanation", organization_prefix: organization_prefix %>

  <p> An Enterprise Server installation user will consume a license if: </p>

  <ul class="pl-4 my-2">
    <li> They are included in the Enterprise Server usage user account upload, </li>
    <li> They are synced through GitHub Connect. </li>
  </ul>

  <p>
    We automatically attempt to deduplicate the users between the Enterprise Cloud and Enterprise Server installations.
    We do this by comparing all `Verified`, `Profile` (EMU only) and SAML provided emails (we look at email and NameID attributes)
    belonging to this Enterprise Account's Cloud users against the `Primary` emails contained within the Enterprise Server(s)'s Uploads.
    Server users without a `Primary` email are unable to be deduplicated (until one is added) and will automatically consume a license upon upload.
  </p>
</div>
