<%# erblint:counter FlashMigrationCounter 1 %>
<% is_template ||= false %>
<% border ||= false %>

<div class="flash flash-full <% if defined?(type) %>flash-<%= type %><% end %> <% if border %>border<% end %> <% if is_template %>{{ className }}<% end %>">
  <div <%= test_selector("flash-container") %>>
    <button autofocus class="flash-close js-flash-close" type="button" aria-label="Dismiss this message">
      <%= primer_octicon(:x) %>
    </button>
    <div aria-atomic="true" role="alert" class="js-flash-alert">
      <%= yield %>
    </div>
  </div>
</div>
