<details class="d-inline details-overlay details-reset dropdown">
  <summary aria-haspopup="true">
    <%= primer_octicon(:question, "aria-label" => "More information") %>
  </summary>
  <details-menu class="dropdown-menu <% if responsive? %>dropdown-menu-sw<% else %>dropdown-menu-s<% end %> p-3"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
    For more detailed information see <a class="Link--inTextBlock" href="<%= consumed_licenses_path %>">the <%= entity %>'s licensing page</a>
  </details-menu>
</details>
