<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% flash_rendered! %>
<%= render Primer::Beta::Flash.new(full: true, scheme: :danger, test_selector: "trade-controls-error-flash") do %>
  <div class="<% if container_xl? %>container-xl<% else %>container-lg<% end %> px-2" <% if !responsive? && mobile? %>style="font-size: 36px; padding: 20px;"<% end %> role="alert">
    <button class="flash-close js-flash-close ml-6" type="button" aria-label="Dismiss this message">
      <%= primer_octicon(:x, height: !responsive? && mobile? ? 48 : nil) %>
    </button>
    <%= copy %>
  </div>
<% end %>
