<details class="details-reset d-inline-block ml-1 details-overlay js-dropdown-details">
  <%= render Primer::Beta::Label.new(tag: :summary, scheme: :orange, title: "Label: Under review") do %>
    Under review <%= primer_octicon(:info, ml: 1) %>
  <% end %>
  <div class="Popover mt-2 ml-2">
    <div class="Popover-message Popover-message--large Popover-message--top-left Box color-shadow-large p-3 f5 text-normal">
      This user is currently under review by GitHub staff and may have limited, read-only access to repositories.
    </div>
  </div>
</details>
