<p>
  If you wish to regain access or would like to dispute that a violation occurred and can provide additional information to show that a different decision should have been reached, please review our <a href="https://docs.github.com/en/site-policy/acceptable-use-policies/github-appeal-and-reinstatement">Appeal and Reinstatement Policy</a> and submit a request via our <a href="https://support.github.com/contact/reinstatement">form</a>.
</p>
