<%# erblint:counter DeprecatedInPrimerCounter 1 %>
<span class="float-right color-fg-muted tooltipped tooltipped-w" aria-label=" <%= view.integration_name %> is installed. Click to configure.">Configure <%= primer_octicon(:"chevron-right", ml: 1) %></span><%# erblint:disable GitHub::Accessibility::NoAriaLabelMisuse, Primer::Accessibility::TooltippedMigration %>
