<% integration = installation_request.integration %>
  <div class="Box-row d-flex flex-items-center gap-2">
    <div class="CircleBadge CircleBadge--small" style="background-color: #<%= integration.preferred_bgcolor %>">
      <%= oauth_application_logo(integration, 30, class: "CircleBadge-icon", alt: integration.name) %>
    </div>
    <span class="text-bold color-fg-default"><%= integration.name %></span>
    <div class="d-flex flex-1">
      <div class="BtnGroup flex-auto">
        <%= link_to "Review request", view.review_request_path_for(installation_request), class: "btn iconbutton BtnGroup-item float-right" %>
      </div>
    </div>
  </div>
