<%# view is an instance of IntegrationInstallations::ShowView %>

<% if GitHub.flipper[:alert_on_spammy_apps].enabled? && view.installation.integration.spammy? %>
  <div class="flash-messages" <%= test_selector("spammy_flash_alert") %>>
    <%= render(Primer::Alpha::Banner.new(scheme: :danger)) do %>
      The owner of this GitHub App has been marked as spammy.
    <% end %>
  </div>
<% end %>
