<%# `view` is an instance of IntegrationInstallations::SuggestionsView %>
<%= render partial: "integration_installations/suggestion", collection: view.suggestions, as: :repository, locals: { view: view } %>
<div class="p-3 js-no-repository-found" hidden>No repositories found.</div>
<% if view.suggestions.size == IntegrationInstallations::SuggestionsView::MAX_SUGGESTIONS %>
  <div class="d-flex flex-justify-center p-2">Displaying maximum <%= IntegrationInstallations::SuggestionsView::MAX_SUGGESTIONS %> suggestions</div>
<% end %>
