<% page_info :title => "Select Account" %>

<div class="auth-form px-3" data-hpc>
  <div class="auth-form-header p-0">
    <h1>Select user to authorize <strong><%= view.integration_name %></strong></h1>
  </div>
  <%= render "shared/flash" %>

  <%= render partial: "sessions/account_switcher_box", locals: {
    view_name: "switch_account",
    signing_out: false,
    continue_to: continue_to,
    return_to: return_to,
    continue_type: "link",
  }%>

  <%= link_to "Use a different account", login_path(return_to: return_to, add_account: "1", allow_signup: true), class: "btn btn-large width-full text-center mt-3", role: "button" %>
</div>
