<% suggestions.each do |org| %>
  <%= render Primer::Beta::AutoComplete::Item.new(
    value: org.display_login,
    classes: "member-suggestion typeahead-result",
    style: "width: 20vw;"
  ) do %>
    <%= avatar_for(org, 24, :class => "avatar") %>
    <p class="member-suggestion-info">
      <strong class="member-login" <%= test_selector("org-autocomplete-suggestion") %>><%= org.display_login %></strong>
    </p>
  <% end %>
<% end %>
