<div class="d-flex table-list-header table-list-header-next d-flex flex-items-center">
  <span class="color-fg-default text-semibold d-none d-md-block d-lg-block table-list-heading table-list-header-meta flex-auto ">
    Organizations
  </span>
</div>
<ul>
  <% if sponsorships_allowed_orgs.present? %>
    <% sponsorships_allowed_orgs.each do |org| %>
      <li class="d-flex flex-justify-between flex-items-center border border-top-0" <%= test_selector("allowed-org-#{org.display_login}") %>>
        <%= render Sponsors::Businesses::SponsorshipsAllowedOrgRowComponent.new(org: org, business: business) %>
      </li>
    <% end %>
  <% else %>
    <li class="d-flex flex-justify-between flex-items-center border border-top-0" <%= test_selector("blank-slate-results") %>>
      <%= render Primer::Beta::Blankslate.new do |c| %>
        <% c.with_visual_icon(icon: "search") %>
        <% c.with_heading(tag: :h3) do %>
          No organizations have been granted permission to create sponsorships.
        <% end %>
      <% end %>
    </li>
  <% end %>
</ul>
