<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%graphql
  fragment ProjectColumn on ProjectColumn {
    name
    databaseId

    ...Views::ProjectWorkflows::Presets::ProjectColumn
  }

  fragment Project on Project {
    columnsResourcePath

    ...Views::ProjectWorkflows::Presets::Project
  }
%><%# erblint:disable NoGraphqlFragments %>
<% project_column = Views::ProjectColumns::Add::ProjectColumn.new(project_column) %>
<% project = Views::ProjectColumns::Add::Project.new(project) %>
<% errors ||= nil %>

<div class="d-flex flex-column flex-auto overflow-hidden js-column-form-container">
  <div class="Box-header">
    <h3 class="Box-title">Add a column</h3>
  </div>
  <div class="Box-body border-0 rounded-0 m-0 py-0 overflow-auto">
    <%= form_tag project.columns_resource_path.to_s,
        method: :post,
        autocomplete: "off",
        class: "pb-3 js-create-project-column js-column-settings-form" do %>

      <input type="hidden" name="client_uid" class="js-client-uid-field">

      <%= render partial: "project_columns/name", locals: {
            column_name: project_column&.name,
            column_id: project_column&.database_id,
            errors: errors
          }
      %>
      <%= render partial: "project_workflows/presets", locals: { project_column: project_column, project: project, show_heading: true } %>

      <div class="d-flex d-sm-block">
        <%= render Primer::ButtonComponent.new(scheme: :primary, flex: :auto, "data-disable-invalid": "", "data-disable-with": "Creating column...", type: :submit) do %>
          Create column
        <% end %>
      </div>
    <% end %>
  </div>
</div>
