<%= include_staff_bar(view_id: "column-#{column.id}") %>

<% cards.each do |card| %>
  <%= render partial: "projects/card", locals: { card: card, project_closed: project.closed? } %>
<% end %>

<% if next_after %>
  <include-fragment src="<%= project_column_cards_path(project, column, after: next_after) %>">
    <div class="text-center pt-4">
      <%= render(Primer::Beta::Spinner.new) %>
    </div>
  </include-fragment>
<% end %>
