<%# erblint:counter DeprecatedComponentsCounter 2 %>
<div class="Box-header">
  <h3 class="Box-title">Delete <%= column_name %></h3>
</div>
<div class="Box-body border-0 rounded-0 m-0 pb-0 overflow-auto">
  <p>This action will remove any cards and automation preset associated with the column.</p>
  <%= form_tag column_resource_path,
      "data-column-id": column_id,
      method: :delete,
      class: "pb-3 js-delete-project-column d-flex flex-column d-sm-block" do %>
    <%= render Primer::ButtonComponent.new(scheme: :danger, flex: :auto, type: :submit, "data-disable-with": "Deleting column...") do %>
      Delete column
    <% end %>
    <%= render Primer::ButtonComponent.new(mt: [2, 0], flex: :auto, "data-close-dialog": "") do %>Cancel<% end %>
    <input type="hidden" name="client_uid" class="js-client-uid-field">
  <% end %>
</div>
