<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% errors ||= nil %>

<div class="d-flex flex-column flex-auto overflow-hidden js-column-form-container">
  <div class="Box-header">
    <h3 class="Box-title">Edit <%= column_name %></h3>
  </div>
  <div class="Box-body border-0 rounded-0 m-0 py-0 overflow-auto">
    <%= form_tag column_resource_path,
        "data-column-id": column_id,
        method: :put,
        autocomplete: "off",
        class: "pb-3 js-update-project-column" do %>
      <input type="hidden" name="client_uid" class="js-client-uid-field">

      <%= render partial: "project_columns/name", locals: {
            column_name: column_name,
            column_id: column_id,
            errors: errors
          }
      %>

      <div class="d-flex d-sm-block">
        <%= render Primer::ButtonComponent.new(scheme: :primary, flex: :auto, "data-disable-invalid": "", "data-disable-with": "Updating column...", type: :submit) do %>
          Update column
        <% end %>
      </div>
    <% end %>
  </div>
</div>
