<dl class="form-group <% if errors %>errored<% end %>">
  <dt>
    <label for="project-column-name-<%= column_id %>">Column name</label>
  </dt>
  <dd>
    <input type="text"
           class="js-project-column-name-field js-quick-submit form-control"
           name="project_column[name]"
           id="project-column-name-<%= column_id %>"
           value="<%= column_name %>"
           placeholder="Enter a column name (To Do, In Progress, Done)"
           maxlength="140"
           required
           autofocus>
  </dd>
  <dd class="error">
    <%= errors && errors.messages.values.join(", ") %>
  </dd>
</dl>
