<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<div class="Box-body overflow-auto">
  Reporting <%= authorization.safe_app.name %> will contact Support about abuse on the application.

  <%= form_tag report_oauth_authorization_path(authorization.application.key) do %>
    <p class="h4 border-top mt-3 pt-3">More options</p>
    <div class="form-checkbox">
      <label>
        <input type="checkbox" name="revoke" aria-describedby="help-text-for-revoke">
        Revoke <%= authorization.safe_app.name %>
      </label>
      <p class="note mb-1" id="help-text-for-revoke">
        Revoking will deny future access to your account
      </p>
    </div>

    <button type="submit" class="btn btn-block btn-danger" autofocus data-close-dialog>Report <%= authorization.safe_app.name %></button>
  <% end %>
</div>
