<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<div class="Box-body overflow-auto">
  <p class="mb-3">
    <%= authorization.safe_app.name %> will no longer be able to access your GitHub account. You cannot undo this action.
  </p>

  <%= form_tag settings_oauth_authorization_path(authorization.application.key), method: :delete do %>
    <button type="submit" class="btn btn-block btn-danger" autofocus data-close-dialog>I understand, revoke access</button>
  <% end %>
</div>
