<%# erblint:counter DeprecatedComponentsCounter 1 %>
<div class="Box Box--danger d-flex flex-justify-between flex-items-center p-3">
  <div>
    <strong>Delete this Reminder</strong>
    <p class="m-0">Once deleted, it will be gone forever. Please be certain.</p>
  </div>

  <%= form_tag url, method: :delete do %>
    <%= render Primer::ButtonComponent.new(type: :submit, scheme: :danger, "data-confirm": "Are you sure you want to delete this reminder?") do %>
      Delete this reminder
    <% end %>
  <% end %>
</div>
