<div class="d-flex pb-2 mt-4 flex-justify-between">
  <h2 id="<%= title.to_s.parameterize(separator: "_") %>" class="h3 <%= defined?(subtitle) && subtitle.presence ? '' : 'mb-2' %> text-normal">
    <%= title -%>
  </h2>
</div>
<% if defined?(subtitle) && subtitle.presence %>
  <p class="mb-3">
    <%= subtitle -%>
  </p>
<% end %>
