<%# rubocop:disable Lint/InstanceVariable %>
<% page_info :title => "#{current_repository.name_with_owner} - Issue files" %>

<div class="site-admin-unboxed">
  <div class="site-admin-subhead">
    <h2 class="site-admin-subhead-heading">Issue files</h2>
  </div>

  <p>
    These are files which were attached to issue
    <%= "and discussion" if current_repository.discussions_active? %>
    comments.
  </p>

  <% if @files.any? %>
    <table class="site-admin-table">
      <% @files.each do |file| %>
        <tr>
          <td>
          <%= link_to \
                file.name,
                gh_stafftools_repository_repository_file_path(file) %>
          </td>
          <td class="float-right">
            <%= file.state %>
          </td>
        </tr>
      <% end %>
    </table>

    <div class="paginate-container">
      <%= will_paginate @files %>
    </div>

  <% else %>
    <p class="site-admin-blankstate">
      No issue files uploaded yet.
    </p>
  <% end %>
</div>
