.code-view-link-button {
  &:hover:not([disabled]) {
    text-decoration: 'none',
  }

  &:focus:not([disabled]) {
    text-decoration: 'none',
  }

  &:active:not([disabled]) {
    text-decoration: 'none',
  }
}
