<span
  <% if local_assigns.key?(:normalized_name) %>
    class="js-rename-branch-autocheck-message"
    data-shell-safe-name="<%= shell_safe_name(":branch", normalized_name) %>"
    data-shell-safe-name-with-remote="<%= shell_safe_name("origin/:branch", normalized_name) %>"
  <% end %>
><%= message %></span>
