.container {
  border: var(--borderWidth-thin) solid;
  border-color: var(--borderColor-muted);
  border-radius: var(--borderRadius-medium);
}

.note {
  border-bottom: var(--borderWidth-thin) solid;
}
