<%# erblint:counter FlashMigrationCounter 1 %>
<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%
  otp = ""
  if Rails.env.development?
    case type
    when :app
      otp = user.two_factor_app_totp&.now || ""
    when :sms
      otp = user.two_factor_sms_totp&.now || ""
    end
  end
  otp_param_name = form_type == "sudo" ? "sudo_#{type}_otp".to_sym : "#{type}_otp".to_sym
%>

<div class="flash flash-error flash-full" hidden></div>
<% autocomplete = supports_autocomplete_otp? ? "one-time-code" : "off" %>
<%= text_field_tag otp_param_name, "", "aria-labelledby": "session-otp-input-label", "aria-describedby": "session-otp-input-description",
  autocomplete: autocomplete, autofocus: "autofocus", class: "input-block js-verification-code-input-auto-submit mb-2",
  value: otp, id: "#{type&.to_s}_totp", :inputmode => "numeric", :pattern => "([0-9]{6})|([0-9a-fA-F]{5}-?[0-9a-fA-F]{5})",
  :placeholder => "XXXXXX" %>

<%= render Primer::ButtonComponent.new(scheme: :primary, block: true, "data-disable-with": "Verifying…", type: :submit) do %>Verify<% end %>
<% if type == :sms %>
  <div class="mt-3" id="session-otp-input-description" <%= test_selector("sms-otp-form-body") %>>
    We just sent you a message via SMS with your authentication code.
    Enter the code in the form above to verify your identity.
  </div>
<% else %>
  <div class="mt-3" id="session-otp-input-description" <%= test_selector("app-otp-form-body") %>>
    Open your two-factor authenticator (TOTP) app or browser extension to view your authentication code.
  </div>
<% end %>
