<p>Hello <%= @organization.display_login %>,</p>

<p>
  It looks like one or more of your GitHub organizations may be affiliated with a U.S.-sanctioned jurisdiction.
  GitHub is subject to certain restrictions under U.S. law, just like any company that does business in the U.S., and is committed to full compliance with applicable law.
  At the same time, we take seriously our responsibility to examine government mandates thoroughly to be certain that users and organizations are not impacted beyond what is required by law.
</p>

<p>The organizations in question are:</p>

<p><%= @organization.name %></p>

<p>
  To ensure the information in our possession is accurate, please verify the information for your GitHub organization by completing the following form in the next 14 days.
  If we don’t hear back, we will assume the affiliation is accurate, and we may be required to take appropriate action.
</p>

<p><%= link_to "Verify Your Information", @appeal_url %></p>

<p>
  This information is confidential and will be used expressly for the purpose of verifying your information.
  We will handle the data you provide to us in this form in accordance with the <%= link_to "GitHub Privacy Statement", @privacy_url %>.
</p>

<p>Thank you in advance for understanding.</p>
