<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%= form_tag bulk_update_package_collaborators_path, method: :post do %>
  <div class="Box-body">
    <h6>Select a new role</h6>
    <ul class="form-group list-style-none">
      <li>
        <div class="form-checkbox">
          <label aria-live="polite">
            <input name="role" type="radio" value="package_reader" class="form-checkbox-details-trigger" required>
            Read
            <p class="f6 color-fg-muted text-normal">
              Recommended for non-code contributors who want to view or discuss your package.
            </p>
          </label>
        </div>
      </li>
      <li>
        <div class="form-checkbox">
          <label aria-live="polite">
            <input name="role" type="radio" value="package_writer" class="form-checkbox-details-trigger" required>
            Write
            <p class="f6 color-fg-muted text-normal">
              Recommended for contributors who actively push to your package.
            </p>
          </label>
        </div>
      </li>
      <li>
        <div class="form-checkbox">
          <label aria-live="polite">
            <input name="role" type="radio" value="package_admin" class="form-checkbox-details-trigger" required>
            Admin
            <p class="f6 color-fg-muted text-normal">
              Recommended for people who need full access to the package, including sensitive and destructive actions like managing security and package visibility.
            </p>
          </label>
        </div>
      </li>
    </ul>
  </div>
  <div class="Box-footer">
    <% selected_ids.each do |id| %>
      <%= hidden_field_tag "selected_ids[]", id, multiple: true %>
    <% end %>
    <%= render Primer::ButtonComponent.new(type: :submit, block: true, scheme: :danger, "data-disable-invalid": "") do %>
      Change <%= pluralize(selected_count, "Role") %>
    <% end %>
  </div>
<% end %>
