<span class="mx-2"></span>

<div class="d-flex flex-column flex-auto col-6">
<span>
  <% if repository.public? %>
  <%= primer_octicon(:repo) %>
  <% else %>
  <%= primer_octicon(:lock) %>
  <% end %>
  <a class="f4" href="<%= repository_path(repository) %>"><strong><%= repository.name %></strong></a>
</span>
</div>
