<%=
  link_to(
    sponsorable_path(sponsor_button_target_user_login),
    class: link_class,
    data: link_data_hash,
    aria: { label: link_aria_label }
  ) do
%>
  <%=
    render Primer::Beta::Octicon.new(
      icon: octicon_icon,
      vertical_align: :middle,
      classes: octicon_classes,
      color: :sponsors
    )
  %>
  <span><%= link_text %></span>
<% end %>
