<%
  page_info(
    title: %{Merge queue · #{current_repository.name_with_display_owner}},
    container_xl: true,
    selected_link: :repo_source
  )
%>

<%= render layout: "layouts/repository_container", locals: { repository: current_repository } do %>
  <div class="clearfix container-xl px-3 px-md-4 px-lg-5 mt-4">
    <h2 class="mb-4 mt-3 lh-condensed-ultra d-flex">
      <span class="mr-2">Merge queue</span><span class="f3-light color-fg-accent branch-name"><%= merge_queue.branch %></span>
    </h2>

    <%= render partial: "merge_queue/queue", locals: {
      recent_merge_histogram_days: recent_merge_histogram_days,
      merge_queue: merge_queue,
      recent_merges_histogram: recent_merges_histogram,
      up_next_entries_for_display: up_next_entries_for_display,
      page: page,
      per_page: per_page,
      active_merge_group: active_merge_group,
    } %>
  </div>
  <% if up_next_entries_for_display.any? %>
    <div class="paginate-container">
      <%= will_paginate up_next_entries_for_display %>
    </div>
  <% end %>
<% end %>
