<div class="container-sm px-3 mt-4">
  <div class="pt-4 text-center">
    <p>
      <h3>This invitation has already been <%= invitation.accepted? ? "accepted" : "declined" %>.</h3>
    </p>
  </div>
</div>

