
<div class="container-sm px-3 mt-4">
  <div class="pt-4 text-center">
    <p>
      <h3>Invitation not found</h3>
    </p>
    <p>
      Your invitation could not be found, or is not valid.
    </p>
  </div>
</div>

