<div class="container-xl p-responsive py-9 py-md-12 text-center">
  <h2 class="h2-mktg col-7-max mx-auto">
    <span class="position-relative text-gradient-red-orange pb-3">
      <img
        src="<%= image_path "modules/site/security/platform/security-footer-spice.png" %>"
        alt=""
        aria-hidden="true"
        width="152"
        height="152"
        style="max-width: 152px;"
        class="position-absolute d-block top-n10 left-n11" loading="lazy" decoding="async">
      Ready for best-in-class enterprise&nbsp;security?
    </span>
  </h2>
  <p class="f3-mktg color-fg-muted col-7-max mx-auto mt-3">
    GitHub provides end-to-end DevSecOps, where security is embedded directly into the developer workflow&mdash;empowering you to ship secure software fast.
  </p>
  <%= render Site::LinkComponent.new(
      text: "Explore GitHub Advanced Security",
      url: feature_enabled_globally_or_for_current_user?(:site_security_react) ? "/enterprise/advanced-security" : "https://resources.github.com/contact/security/?utm_source=github&utm_medium=site&utm_campaign=2022q2-resources-site-ww-Security-Contact-Request&utm_content=AdvancedSecurity",
      classes: "mt-3 mt-md-4",
      analytics: {
        category: "GitHub Advanced Security",
        ref_loc: "security footer"
      }) %>
</div>
