<div class="container-xl p-responsive py-9 py-md-12 text-center">
  <h2 class="h2-mktg text-gradient-red-orange pb-3 col-6-max mx-auto">
    Securing the world’s software, together
  </h2>
  <p class="f3-mktg color-fg-muted col-8-max mx-auto">
    GitHub Security Lab’s mission is to inspire and enable the community to secure the open source software we all depend on.
  </p>
  <%= render Site::LinkComponent.new(
    url: "https://securitylab.github.com/",
    text: "Explore GitHub Security Lab",
    classes: "mt-3 mt-md-4"
  ) %>

  <div class="d-flex flex-row flex-wrap gutter gutter-spacious mt-5 mt-md-8">
    <div class="col-12 col-md-6 d-flex flex-column">
      <div class="box-shadow-default-mktg rounded-2 d-flex flex-column flex-items-start flex-justify-center height-full text-left p-6 pl-lg-9 pr-lg-9 py-lg-9">
        <h3 class="h6-mktg mb-2">
          Security Lab bug bounty
        </h3>
        <p class="color-fg-muted" style="max-width: 384px">
          Get rewarded for CodeQL queries that find and prevent vulnerabilities at scale in open source projects through our bounty program.
        </p>
        <%= render Site::LinkComponent.new(
          url: "https://securitylab.github.com/bounties",
          text: "Visit our CodeQL bounty program",
          classes: "mt-3 mt-md-4",
          size: :medium
        ) %>
      </div>
    </div>
    <div class="col-12 col-md-6 d-flex flex-column mt-5 mt-md-0">
      <div class="box-shadow-default-mktg rounded-2 d-flex flex-column flex-items-center flex-justify-center height-full p-6 pl-lg-9 pr-lg-9 py-lg-9">
        <span class="circle color-bg-subtle color-fg-muted d-inline-block mb-3" style="padding: 20px;">
          <%= render(Primer::Beta::Octicon.new(icon: "bug", size: :medium, style: "display: block")) %>
        </span>
        <h3 class="h4-mktg">
          265+ CVEs found
        </h3>
      </div>
    </div>
  </div>
</div>
