<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% if repo_count > 0 %>
  <ul class="team-listing table-list table-list-bordered adminable" data-repository-hovercards-enabled>
    <% repos_on_current_page.each do |repo| %>
      <%= render partial: "orgs/team_repositories/repository", locals: { org: org, repo: repo, ability: abilities[repo.id], team: team, viewer_can_administer_team: viewer_can_administer } %>
    <% end %>
  </ul>
  <div class="paginate-container">
    <%= will_paginate paginated_repo_ids, page_links: false, class: "d-flex d-md-inline-block pagination" %>
  </div>
<% elsif repo_count == 0 %>
  <%= render Primer::BlankslateComponent.new(
    icon: "repo",
    title: "This team doesn’t have any repositories.",
  ) %>
<% else %>
  <%= render Primer::Beta::Blankslate.new do |c| %>
    <% c.with_visual_icon(icon: "search") %>

    <% c.with_heading(tag: :h2) do %>
      We couldn’t find any matching repositories.
    <% end %>
  <% end %>
<% end %>
