<%
  page_info \
    title: "#{team.name} · #{org.name} Team",
    responsive: false,
    class: "team",
    dashboard_pinnable_item_id: team.id
%>

<div itemscope itemtype="http://schema.org/Organization">
  <div class="container mt-4"><%# erblint:disable DeprecatedCustomCss %>
    <% if has_all_repo_role %>
      <div class="container mb-3" <%= test_selector "all-repo-role-banner" %>><%# erblint:disable DeprecatedCustomCss %>
        <%= render Primer::Beta::Blankslate.new(narrow: false, spacious: false, border: true, my: 3) do |component|
          component.with_visual_icon(icon: :repo)
          component.with_heading(tag: :h2).with_content("This team has access to all repositories in the #{org.name} organization")
          component.with_description { "Access granted via organization role assignment." }
          component.with_secondary_action(href: org_repositories_path(org)).with_content("See all repositories")
        end %>
      </div>
    <% end %>
    <%= render partial: "orgs/team_repositories/container", locals: { org: org, team: team, repo_count: repo_count, paginated_repo_ids: paginated_repo_ids, repos_on_current_page: repos_on_current_page, abilities: abilities, viewer_can_administer: viewer_can_administer, has_all_repo_role: has_all_repo_role} %>
  </div>
</div>
