<div class="color-bg-subtle border-bottom">
  <div class="container-lg p-responsive text-center py-6">
    <h1 class="h1">
      <%= header %>
    </h1>

    <p class="f4 color-fg-muted col-md-6 mx-auto">
      <%= subheading %>
    </p>
  </div>
</div>
