<div class="pt-5 pt-lg-6 col-lg-4 d-sm-flex d-lg-block border-lg-left">
  <div class="col-sm-6 col-lg-12 pr-3 pr-lg-0">
    <h2 class="h4 mt-lg-6 mb-3">
      Sponsored by GitHub
    </h2>

    <ul class="list-style-none mb-5">
      <% if local_assigns[:sponsored_events].any? %>
        <% sponsored_events.each do |sponsored_event| %>
          <%= render partial: "site/contentful/events/sponsored_event", locals: {sponsored_event: sponsored_event} %>
        <% end %>
      <% else %>
        <li>
          No Events
        </li>
      <% end %>
    </ul>
  </div>
</div>
