<li>
  <%= render(Primer::Beta::Link.new(
    data: {
      **analytics_click_attributes(
        category: "Events",
        action: "go to #{local_assigns[:sponsored_event][:name]}",
        label: "location:sponsored by github"
      )
    },
    href: local_assigns[:sponsored_event][:external_url]
  )) do %>
    <%= local_assigns[:sponsored_event][:name] %>
  <% end %>

  <p class="color-fg-muted f6">
    <%= local_assigns[:sponsored_event][:formatted_date_range] %>
    • <%= local_assigns[:sponsored_event][:location_short_name] %>
  </p>
</li>
