<%
  page_info \
  title: page[:title], \
  description: page[:seo_description],
  class: "f4",
  richweb: {
    title: page[:seo_title],
    url: request.original_url,
    description: page[:seo_description],
    image: page[:seo_image_url],
  }
%>

<% content_for :head do %>
  <meta name="is_logged_out_page" content="true">
<% end %>

<%= render(Explore::NavComponent.new) %>

<%= render partial: "site/contentful/events/header", locals: {header: page[:heading], subheading: page[:subheading]} %>

<div class="container-lg p-responsive border-bottom">
  <div class="d-lg-flex gutter-lg-spacious">
    <%= render partial: "site/contentful/events/main", locals: {events: events} %>
    <%= render partial: "site/contentful/events/sidebar", locals: {sponsored_events: sponsored_events} %>
  </div>
</div>
