<div class="d-flex flex-items-center flex-wrap mt-0">
  <a class="flex-shrink-0 mb-4 <% if responsive? %>flex-self-start flex-md-self-center width-fit<% end %> text-center Link--muted d-flex flex-items-center flex-justify-start"
    href="<%= issue_path(parent_issue) %>">
    <%= render(Primer::Beta::Octicon.new(icon: "arrow-left", classes: "flex-shrink-0")) %>
    <div class="pl-1 css-truncate css-truncate-target width-fit"><span class="Link--primary"><%= parent_issue.title %></span><span> #<%= parent_issue.number %></span></div>
  </a>
</div>
