<%= render Files::SidebarListComponent.new(
  title: "Contributor",
  href: gh_contributors_path(current_repository),
  max_count: 14,
  count: count) do |component| %>
  <% grid = component.items_to_show > 4 %>
    <%= include_cached_fragment(
      cache_key: sidebar_contributors_cache_key,
      src: contributors_list_path(current_repository: current_repository, items_to_show: component.items_to_show, count: count),
      "aria-busy": "true",
      "aria-label": "Loading contributors") do %>
      <ul class="list-style-none <% if grid %>d-flex flex-wrap mb-n2<% end %>">
        <% Array.new(component.items_to_show).each do %>
          <li class="mb-2 <% unless grid %>d-flex<% end %>">
            <div class="Skeleton avatar avatar-user mr-2" style="width:32px;height:32px;"></div>
            <% unless grid %>
              <div class="Skeleton Skeleton--text flex-1 flex-self-center f4">&nbsp;</div>
            <% end %>
          </li>
        <% end %>
      </ul>
    <% end %>
<% end %>
