<%# view is instance of Integrations::PermissionsView %>
<%
  # An event and Array of resources come in as a Hash
  # Example:
  #
  # ["content_references", ["content_reference"]]
  event_type = event[0]
  resources  = event[1]

  data_resources = resources.join(" ") # A space separated list. E.g. "issues pull_requests"
  event = Integration::Events.hook_event_for_event_type(event_type)
  show_events = view.show_events_for_resource?(resources)
  readonly = !show_events
%>

<div class="gutter js-dropdown-container js-send-events <%= "anim-fade-in d-none" unless show_events %>" data-resource="<%= data_resources %>">
  <span class="flash flash-error js-integration-hook-event-permission-error text-small d-none p-0 ml-2" data-resource="<%= data_resources %>">
    Change privileges to be able to select events
  </span>

  <%= render partial: "integrations/settings/event", locals: {
    event: event,
    data_resources: data_resources,
    category: "default_events",
    readonly: readonly,
    view: view,
  } %>
</div>
