<%# view is instance of Integrations::PermissionsView %>
<div class="gutter">
  <%= render partial: "integrations/settings/event", locals: {
    event: event,
    data_resources: "",
    category: "integrator_events",
    readonly: false,
    view: view
  } %>
</div>
