<% integration = integration_transfer_row.integration %>

<li class="table-list-item developer-app-item">
  <div class="table-list-cell developer-app-avatar-cell">
    <%= link_to gh_settings_app_transfer_path(current_context, integration_transfer_row) do %>
      <%= integration_avatar(integration: integration, size: 40, class: "avatar", alt: integration.name) %>
    <% end %>
  </div>
  <div class="table-list-cell developer-app-info-cell">
    <%= link_to integration.name, gh_settings_app_transfer_path(current_context, integration_transfer_row), :class => "developer-app-name" %>
    <p class="developer-app-list-meta">
      GitHub App transfer requested by <strong><%= integration_transfer_row.requester.display_login %></strong>
    </p>
  </div>
</li>
