<%# view is an instance of Integrations::FormView %>
<% page_info :title => view.page_title, :selected_link => view.selected_link %>

<div class="container-lg px-3 pt-6">
  <div class="col-6 mx-auto">
      <%= render Primer::Beta::Subhead.new do |component| %>
        <% component.with_heading(tag: :h2, danger: true) do %>Invalid GitHub App configuration<% end %>
      <% end %>

      <p>The configuration does not appear to be a valid GitHub App manifest.</p>

      <ul class="list-style-none">
        <% view.manifest.errors.full_messages.each do |message| %>
          <li>
            <div class="Box manifest-errors p-3 mb-3">
              <%= primer_octicon(:x, color: :danger) %>
              <strong class="pl-1 pr-2">Error</strong>
              <strong class="color-fg-danger">
                <%= message %>
              </strong>
            </div>
          </li>
        <% end %>
      </ul>
  </div>
</div>
