<% page_info title: "Continue setting up your GitHub App" %>

<div class="container-md px-3">
  <%= render Primer::Beta::Blankslate.new(mt: 5) do |component| %>
    <% component.with_visual_icon(icon: "link-external") %>
    <% component.with_heading(tag: :h3).with_content("You are being redirected to continue setup of your GitHub App.") %>
    <% component.with_description do %>
      If your browser does not redirect you automatically, please visit <%= link_to("this setup page", redirect_url, id: "redirect", class: "Link--inTextBlock") %> to continue.
    <% end %>
  <% end %>
</div>
