<% if view.show_dormant_indicator? %>
  <span data-test-id="dormancy-indicator">
    <%= render Primer::Beta::Octicon.new(icon: icon_type, size: :small, color:  view.user.dormant?(strict: !GitHub.enterprise?) ? :danger : :success) %>
    <% if GitHub.enterprise? %>
      <%= link_to view.dormant_title, stafftools_user_activity_path(view.user) %>
    <% else %>
      <span data-test-id="strict-dormancy-title">Account may be <%= link_to view.dormant_title.downcase, stafftools_user_activity_path(view.user), class: "Link--inTextBlock" %></span>
    <% end %>
<% end %>
