<div class="col-md-3">
  <%= render Primer::Experimental::NavigationList.new(
    aria: { label: "Organization sponsoring" },
    selected_item_id: selected_link,
    test_selector: "org-sponsoring-tabs"
  ) do |component| %>
    <% component.with_item(
      href: org_sponsoring_path(@org),
      selected_by_ids: :org_sponsoring,
      test_selector: "org-sponsoring-tab"
    ) do |item| %>
      <% item.with_leading_visual_icon(icon: :heart) %>
      Your sponsorships
    <% end %>

    <% if dependencies_feature_enabled? %>
      <% component.with_item(
        href: org_sponsoring_dependencies_path(@org),
        selected_by_ids: :org_sponsoring_dependencies,
        test_selector: "org-sponsoring-dependencies-tab"
      ) do |item| %>
        <% item.with_leading_visual_icon(icon: "package-dependencies") %>
        Dependencies
      <% end %>
    <% end %>

    <% component.with_item(
      href: org_sponsoring_bulk_sponsorships_path(@org),
      selected_by_ids: :org_sponsoring_bulk,
      test_selector: "org-sponsoring-bulk-tab"
    ) do |item| %>
      <% item.with_leading_visual_content do %>
        <%= render Sponsors::BulkSponsorshipIconComponent.new(color: :muted) %>
      <% end %>
      Bulk Sponsors
    <% end %>

    <% if show_invoices_tab? %>
      <% component.with_item(
        href: org_sponsoring_invoices_path(@org),
        selected_by_ids: :org_sponsoring_invoices,
        test_selector: "org-sponsoring-invoices-tab",
      ) do |item| %>
        <% item.with_leading_visual_icon(icon: :"credit-card") %>
        Invoices
      <% end %>
    <% end %>

    <% if show_settings_tab? %>
      <% component.with_item(
        href: org_sponsoring_settings_path(@org),
        selected_by_ids: :org_sponsoring_settings,
        test_selector: "org-sponsoring-settings-tab"
      ) do |item| %>
        <% item.with_leading_visual_icon(icon: :gear) %>
        Settings
      <% end %>
    <% end %>
  <% end %>
</div>
