<span class="color-fg-muted">
  <span>Discounted pricing is for new yearly customers paying with credit cards or PayPal. </span>
  <span> After first year, price is subject to change. GitHub will send you a notification email at least 30 days in advance of any price change.
  </span>
</span>
