<div class="flex-auto pr-3">
  <%= f.text_field :allow_list_value,
    id: "ip_allowlist_entry_#{entry.id}_allow_list_value",
    class: "form-control input-block",
    autofocus: !entry.new_record?,
    placeholder: "IP address or range in CIDR notation",
    "aria-label" => "IP address or range in CIDR notation" %>
</div>
<div class="flex-auto pr-3">
  <%= f.text_field :name,
    id: "ip_allowlist_entry_#{entry.id}_name",
    class: "form-control input-block",
    placeholder: "Short description of IP address or range",
    "aria-label" => "Short description of IP address or range" %>
</div>
<div>
  <%= render Primer::Beta::Button.new(
    type: :submit,
    scheme: :primary,
    data: { "disable-with": "" }
  ) do %>
    <% if entry.new_record? %>
      <%= primer_octicon(:plus) %> Add
    <% else %>
      Update
    <% end %>
  <% end %>
</div>
