<details class="commit-build-statuses details-overlay details-reset js-dropdown-details hx_dropdown-fullscreen js-socket-channel js-updatable-content">
  <summary class="color-fg-danger">
    <%= primer_octicon("question") %>
  </summary>
  <div class="dropdown-menu status-checks-dropdown dropdown-menu-e overflow-hidden">
    <div class="branch-action-item js-details-container Details open branch-action-item-simple">
      <div>
        <h3 class="h4 status-heading color-fg-danger">An error occurred while loading commit statuses</h3>
      </div>
      <% unless GitHub.enterprise? %>
        <div class="merge-status-list js-updatable-content-preserve-scroll-position m-1">
          <br>
          If this error continues, check <a class="Link--inTextBlock" href="<%= GitHub.status_url %>">GitHub Status</a> for more information.
        </div>
      <% end %>
    </div>
  </div>
</details>
