<div class="branch-action-item">
  <div class="branch-action-item-icon completeness-indicator completeness-indicator-warning">
    <%= render Primer::Beta::Octicon.new(icon: "question") %>
  </div>
  <div>
    <h3 class="h4 status-heading color-fg-attention" <%= test_selector("status-load-error") %>>Failed to load checks</h3>
    <div class="status-meta pt-1">
      There was an error while loading checks for this pull request.
      <% unless GitHub.enterprise? %>
        If this error continues, check <a class="Link--inTextBlock" href="https://www.githubstatus.com/">GitHub Status</a>
        for more information.
      <% end %>
    </div>
  </div>
</div>
