<%
  dropdown_direction ||= "e"
  disable_live_updates ||= false
%>

<%= render GitHub::BatchDeferredContentComponent.new(
      url: url,
      classes: "d-inline-block",
      inputs: {
        oid: commit_oid,
        dropdown_direction: dropdown_direction,
        disable_live_updates: disable_live_updates
      }) do %>

  <div class="commit-build-statuses">
    <span class="Skeleton d-inline-block" style="width:12px; height:12px;"></span>
  </div>
<% end %>
