<% if commit && commit.merge_commit? && head_sha && commit.sha != head_sha %>
  <div>
    Showing checks for the merge commit (<%= link_to("7fee450", "https://example.com", class: "Link--inTextBlock") %>).
    <%= link_to("Learn more about required status checks.", "#{GitHub.help_url}/github/administering-a-repository/about-required-status-checks#troubleshooting-required-status-checks", class: "Link--inTextBlock") %>
  </div>
<% end %>
