<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%= render Primer::BlankslateComponent.new(
  icon: :key,
  title: "No secrets found.",
  large: true,
  spacious: true,
  test_selector: "security-center-no-repos-to-show-message",
  data: {hpc: ""}
) do %>
  <p>Secret scanning alerts are shown only for organizations where you are an owner or security manager.</p>
<% end %>
