<div class="d-flex flex-wrap flex-md-nowrap position-relative z-1 rounded-2 box-shadow-card-border-mktg overflow-hidden color-bg-subtle">
  <div class="col-6-max mx-auto mx-md-0">
    <div class="col-12 col-md-10 px-4 pb-0 pt-6 pt-md-7 pb-md-7 pl-md-5 pl-lg-7 pr-md-5 pr-lg-7 mb-md-0 text-left">
      <h2 class="f2-mktg text-bold mb-5 mx-auto mx-md-0">Find out why the world’s most innovative companies use GitHub</h2>
      <%= render Site::ButtonComponent.new(
        text: "Explore customer stories",
        url: "/customer-stories",
        classes: "mb-3 mb-sm-0 mr-sm-2",
        scheme: :muted,
        arrow: true
      ) %>
    </div>
  </div>

  <div class="col-12 col-md-8 mt-n4 mt-md-0 position-relative position-md-absolute text-right height-full right-md-n12 z-n1 color-bg-subtle">
    <svg aria-hidden="true" version="1.1" width="800" height="560" class="width-full height-auto d-block d-md-none events-none"></svg>
    <%= render Site::ImageComponent.new(
      src: image_path("modules/site/home/enterprise-city-w-logos.jpg"),
      classes: "services-customer-stories-decoration width-full height-full position-absolute right-0 bottom-0 events-none",
      width: 1376,
      height: 436,
      sizes: "(max-width: 1120px) 60vw, 688px",
      style: "mix-blend-mode: multiply; object-fit: cover; object-position: 76% 50%;"
    ) %>
  </div>
</div>
