<%= render Site::SectionComponent.new(
  theme: :dark,
  padding: false,
  id: "newsletter",
  container: false,
  classes: "py-6 py-lg-8 color-bg-subtle"
) do %>
  <div class="container-xl p-responsive">
    <div class="newsletter rounded-2">
      <div class="d-flex flex-row flex-wrap color-bg-subtle flex-items-center rounded-2">
        <div class="pl-6 pr-6 pl-lg-7 pr-lg-7 py-6 py-lg-7 col-12 col-lg-6 col-xl-7">
          <h2 class="h4-mktg color-fg-default">Subscribe to The GitHub Insider</h2>
          <p class="f3-mktg color-fg-muted mt-2 mb-0">A newsletter for developers covering techniques, technical guides, and the latest product innovations coming from GitHub.</p>
        </div>
        <div class="pl-3 pl-lg-5 pr-3 pr-lg-5 pt-3 pt-lg-7 pb-3 pb-lg-7 col-12 col-lg-6 col-xl-5">
          <%= form_with url: "https://s88570519.t.eloqua.com/e/f2?elqFormName=copynewsletter-signup-form-637872624660309567&elqSiteID=88570519", method: :post, class: "js-form-validator" do %>
            <label for="newsletter_emailAddress">Email Address <sup style="color: var(--color-danger-emphasis, --fgColor-danger); top: -0.25em;" class="f5">*</sup></label>

            <div class="d-md-flex flex-row newsletter-form rounded-2 required form-group mt-2">
              <div class="m-0 width-full">
                <input type="email" required id="newsletter_emailAddress" name="emailAddress" placeholder="you@company.com" class="required px-5 js-validity-check d-block width-full mb-2 mb-md-0 f4-mktg newsletter-field rounded-2">
              </div>
              <input type="hidden" id="newsletter_classification" name="classification" value="Practitioner">

              <input type="hidden" id="newsletter_utm_source" name="USOURCE" value="">
              <input type="hidden" id="newsletter_utm_medium" name="UMEDIUM" value="">
              <input type="hidden" id="newsletter_utm_campaign" name="UCAMPAIGN" value="">

              <div class="newsletter-submit-wrap rounded-2 width-auto d-none d-md-block">
                <%= render Site::ButtonComponent.new(text: "Subscribe", submit: true, arrow: true, classes: "js-form-validator-submit newsletter-submit width-full width-md-auto flex-shrink-0 d-flex flex-row f3-mktg flex-items-center text-semibold pl-5 pr-4 text-center flex-justify-center") %>
              </div>
            </div>

            <div class="form-checkbox color-fg-muted f6-mktg m-0 mt-2 form-group">
              <label class="text-normal">
                <input id="optincheckbox" name="marketingEmailOptin1" type="checkbox" value="True">
                Yes please, I’d like GitHub and affiliates to use my information for personalized communications, targeted advertising and campaign effectiveness. See the <a class="Link--inTextBlock" href="https://github.com/site/privacy" target="blank">GitHub Privacy Statement</a> for more details.
              </label>
            </div>

            <div class="newsletter-submit-wrap rounded-2 width-full mt-3 d-block d-md-none">
              <%= render Site::ButtonComponent.new(text: "Subscribe", submit: true, arrow: true, classes: "js-form-validator-submit newsletter-submit width-full width-md-auto flex-shrink-0 d-flex flex-row f3-mktg flex-items-center text-semibold pl-5 pr-4 text-center flex-justify-center") %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
