<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% page_info :title => "Users", :selected_link => :users  %>

<%= render layout: "biztools/biztools" do %>
  <div class="boxed-group">
    <h3>Search for account</h3>
    <div class="boxed-group-inner">
      <p><label for="account-id">Search account</label></p>
      <%= form_tag biztools_users_path, :method => :get, :id => "account-lookup" do %>
        <p>
          <input class="form-control js-account-id" type="text" required placeholder="account name" id="account-id">
          <%= render Primer::ButtonComponent.new(type: :submit) do %>Search<% end %>
        </p>
      <% end %>
    </div>
  </div>
<% end %>
