<div class="SelectMenu-list" data-filterable-for="branch-filter" data-filterable-type="fuzzy" role="menu">
  <% branches.each do |branch_name| %>
    <% selected = selected_branch == branch_name %>
    <label tabindex="0" role="menuitemradio" class="SelectMenu-item text-normal" aria-checked="<%= selected %>">
      <input type="radio" name="branch" value="<%= branch_name %>" <% if selected %>checked<% end %> hidden data-autosubmit>
      <span class="SelectMenu-icon SelectMenu-icon--check"><%= primer_octicon(:check) %></span>
      <span data-menu-button-text><%= branch_name %></span>
    </label>
  <% end %>
</div>
