<div class="form-group">
  <h4 class="h4 mb-2">
    Weaknesses
  </h4>
  <div class="form-group-header"><label for="autocomplete-cwes-input">Common weakness enumerator (CWE)</label></div>
  <auto-complete
      src="<%= cwe_autocomplete_path(type: field_name_prefix) %>"
      for="autocomplete-cwes-search"
      class="auto-search-group width-full js-add-cwe-link-auto-complete">
    <input
      id="autocomplete-cwes-input"
      type="text"
      class="form-control auto-search-input input-contrast width-full"
      aria-label="Search by CWE"
      placeholder="Search by CWE">
    <%= render(Primer::Beta::Octicon.new(icon: "search")) %>
    <ul id="autocomplete-cwes-search" class="autocomplete-results"></ul>
  </auto-complete>
</div>

<div class="js-cwe-list">
  <% if cwes.any? %>
    <% cwes.each do |cwe| %>
      <%= render partial: "advisories/linked_cwe", locals: { cwe: cwe, field_name_prefix: field_name_prefix, hidden: false } %>
    <% end %>
  <% end %>
</div>
