<p class="mb-3">Select Manage subscriptions to update the emails you receive from GitHub.</p>
<p>
  <%= render(
    Mail::ButtonComponent.new(
      text: "Manage subscriptions",
      url: @link,
      classes: "btn-primary btn-large"
    )
  ) %>
</p>

<% content_for :content_footer do %>
  Button not working? Paste the following link into your browser: <br>
  <small><a href="<%= @link.to_s %>" class="wb-break-all"><%= @link %></a></small>
<% end %>

<% content_for :footer_text do %>
  You're receiving this email because you recently requested to update your email subscription preferences. If this wasn't you, please ignore this email.
<% end %>
