<%= issues_triage_menu_hidden_fields(params[:issues]) %>

<div class="select-menu-list">
  <button type="button" role="menuitem" class="select-menu-item width-full" name="state" value="open">
    <div class="select-menu-item-text">Open</div>
  </button>
  <button type="button" role="menuitem" class="select-menu-item width-full" name="state" value="closed">
    <div class="select-menu-item-text">Closed</div>
  </button>
</div>
