<%# erblint:counter DeprecatedComponentsCounter 1 %>
<details class="details-reset details-overlay select-menu d-inline-block js-issue-triage-menu" data-url="<%= show_menu_content_issues_path(partial: "issues/triage/actions_content") %>">
  <%= render Primer::ButtonComponent.new(tag: :summary, scheme: :link, classes: "select-menu-button") do %>
    Mark as
  <% end %>
  <details-menu class="SelectMenu-modal position-absolute right-0" style="z-index: 99;"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
    <%= form_tag "#{issues_path}/triage", method: :put do %>
      <div class="SelectMenu-header">
        <span class="SelectMenu-title">Actions</span>
      </div>
      <div class="js-triage-deferred-content"></div>
    <% end %>
  </details-menu>
</details>
