<%# erblint:counter DeprecatedComponentsCounter 1 %>
<details class="details-reset details-overlay select-menu label-select-menu d-inline-block js-issue-triage-menu" data-url="<%= show_menu_content_issues_path(partial: "issues/triage/labels_content") %>">
  <%= render Primer::ButtonComponent.new(tag: :summary, scheme: :link, classes: "select-menu-button") do %>
    Label
  <% end %>
  <details-menu class="SelectMenu-modal position-absolute right-0" style="z-index: 99;"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
    <%= form_tag "#{issues_path}/triage", method: :put do %>
      <div class="SelectMenu-header">
        <span class="SelectMenu-title">Apply labels</span>
      </div>

      <div class="select-menu-filters">
        <div class="SelectMenu-filter">
          <input
            type="text"
            id="triage-label-filter-field"
            class="SelectMenu-input form-control js-filterable-field"
            placeholder="Filter labels"
            aria-label="Filter labels"
            autocomplete="off"
            autofocus>
        </div>
      </div>

      <div class="js-triage-deferred-content"></div>
    <% end %>
  </details-menu>
</details>
