<!-- note: VML markup is fallback for Outlook 2007, 2010, and 2013; see http://buttons.cm/ -->
<div class="cta-button-wrap <%= 'cta-button-wrap-centered' if defined?(center) && !!center %>"><!--[if mso]>
<p style="line-height:0px;height:0;font-size:1px;margin:0;padding:0;">&nbsp;</p>
<v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="<%= url %>" style="height:40px;v-text-anchor:middle;width:200px;" arcsize="8%" stroke="f" fillcolor="#4183C4">
  <w:anchorlock/>
  <center>
<![endif]-->
    <a class="cta-button" href="<%= url %>" style="display: inline-block;color: #fff;font-size: 14px;font-weight: 600;padding: 6px 12px;background-color: #2da44e;"><%= text %></a>
<!--[if mso]>
  </center>
</v:roundrect>
<![endif]--></div>
