<% page_info title: view.title %>

<%= render \
      partial: "stafftools/purgatory/entries",
      locals: { view: view} %>

<div class="paginate-container">
  <%= will_paginate view.repos, :param_name => :repo_page %>
</div>
