<%# rubocop:disable Lint/InstanceVariable %>
<% page_info :title => @hooks_view.page_title, :selected_link => :hooks %>

<%= render Primer::Beta::Subhead.new do |component| %>
	<% component.with_heading(tag: :h2) do %>Webhooks<% end %>
<% end %>
<div>
  <% if @hooks_view.webhooks.empty? %>
    <p>No webhooks configured for this <%= repo_hooks? ? "repository" : "organization" %>.</p>
  <% else %>
    <%= render :partial => "stafftools/hooks/list", :locals => {:hooks => @hooks_view.webhooks} %>
  <% end %>
</div>
