<div class="note pt-2 pb-3 mt-0">
  <% if !this_business.members_can_change_repo_visibility_policy? %>
    Your organizations' current settings are shown below. If you change this setting to
    <span class="text-bold">Enabled</span> or <span class="text-bold">Disabled</span>
    the enterprise policy will override these values.
  <% else %>
    Your organizations' settings without the enterprise policy are shown below.
    If you adjust this setting with <span class="text-bold">No policy</span>,
    then the organizations will use the configuration outlined below.
  <% end %>
</div>

<ul class=" table-list border-bottom-0">
  <%= render partial: "businesses/organizations/settings/row", locals: {
    organizations: this_business.members_can_change_repository_visibility_setting_organizations(value: true),
    label: "Enabled",
    description: "Organization members with admin permissions can change repository visibilities."
  } %>
  <%= render partial: "businesses/organizations/settings/row", locals: {
    organizations: this_business.members_can_change_repository_visibility_setting_organizations(value: false),
    label: "Disabled",
    description: "Only organization owners can change repository visibilities."
  } %>
</ul>
