<div class="note pt-2 pb-3 mt-0">
  <% if !this_business.members_can_create_repositories_policy? %>
    Your organizations' current settings are shown below. If you change this settings
    to <span class="text-bold">Disabled</span> or <span class="text-bold">Members can create repositories</span>
    the enterprise policy will override these values.
  <% else %>
    Your organizations' settings without the enterprise policy are shown below.
    If you adjust this setting with <span class="text-bold">No policy</span>,
    then the organizations will use the configuration outlined below.
  <% end %>
</div>

<ul class=" table-list border-bottom-0">

  <% if GitHub.public_repositories_available? %>
    <%= render partial: "businesses/organizations/settings/row", locals: {
      organizations: this_business.members_can_create_repositories_organizations(visibility: "PUBLIC"),
      label: "Public repositories",
      description: "Organization members can create public repositories."
    } %>
  <% end %>
  <%= render partial: "businesses/organizations/settings/row", locals: {
    organizations: this_business.members_can_create_repositories_organizations(visibility: "PRIVATE"),
    label: "Private repositories",
    description: "Organization members can create private repositories."
  } %>
  <%= render partial: "businesses/organizations/settings/row", locals: {
    organizations: this_business.members_can_create_repositories_organizations(visibility: "INTERNAL"),
    label: "Internal repositories",
    description: "Organization members can create internal repositories."
  } %>
  <%= render partial: "businesses/organizations/settings/row", locals: {
    organizations: this_business.members_can_create_repositories_organizations(visibility: "NONE"),
    label: "Disabled",
    description: "Organization members cannot create repositories.",
  } %>
</ul>
