<div class="note pt-2 pb-3 mt-0">
  <% if this_business.saml_provider.blank? %>
    Your current organizations' settings are shown below. If you enable SAML single
    sign-on for the enterprise, the enterprise setting will override these values.

    <% if this_business.team_sync_enabled_orgs.any?
         names = this_business.team_sync_enabled_orgs.flat_map(&:name)
         extra = this_business.team_sync_enabled_orgs.count - names.size
         names << "and #{extra} more" if extra > 0
         message = names.to_sentence
       %>
     <%= "Enabling enterprise SAML will prevent team syncing in the following organizations which have team sync enabled: #{message}." %>
    <% end %>

  <% else %>
    Your organizations' settings without the enterprise setting are shown below.
    If you disable SAML single sign-on for the enterprise, then the organizations
    will use the configuration outlined below.
  <% end %>
</div>

<ul class=" table-list border-bottom-0">
<%= render partial: "businesses/organizations/settings/row", locals: {
      organizations: this_business.saml_configured_organizations(value: Business::SAML_PROVIDER_CONFIGURATION_STATES["ENFORCED"]),
      label: "Enforced",
      description: "Organizations with SAML single sign-on configured and enforced."
    } %>
<%= render partial: "businesses/organizations/settings/row", locals: {
      organizations: this_business.saml_configured_organizations(value: Business::SAML_PROVIDER_CONFIGURATION_STATES["CONFIGURED"]),
      label: "Configured",
      description: "Organizations with SAML single sign-on configured but not enforced."
    } %>
<%= render partial: "businesses/organizations/settings/row", locals: {
      organizations: this_business.saml_configured_organizations(value: Business::SAML_PROVIDER_CONFIGURATION_STATES["UNCONFIGURED"]),
      label: "Unconfigured",
      description: "Organizations with SAML single sign-on unconfigured."
    } %>
</ul>
