<div class="note pt-2 pb-3 mt-0">
<% if this_business.two_factor_required_policy? %>
  Your organizations' settings without the enterprise policy are shown below. If you
  adjust this setting with <span class="text-bold">No policy</span>, then the
  organizations will use the configuration outlined below.
<% else %>
  Your organizations' current settings are shown below. If you change this setting to
  <span class="text-bold">Enabled</span> or <span class="text-bold">Disabled</span>
  the enterprise policy will override these values.
<% end %>
</div>

<ul class="table-list border-bottom-0">
<%= render partial: "businesses/organizations/settings/row", locals: {
      organizations: this_business.two_factor_required_organizations(value: true),
      label: "Enabled",
      description: "Organizations requiring two-factor authentication."
    } %>
<%= render partial: "businesses/organizations/settings/row", locals: {
      organizations: this_business.two_factor_required_organizations(value: false),
      label: "Disabled",
      description: "Organizations not requiring two-factor authentication"
    } %>
</ul>
