<%= render Primer::Beta::Subhead.new do |component| %>
  <% component.with_heading(tag: :h2) do %>Flagged sponsors<% end %>
<% end %>

<div class="mb-4">
  <% @flagged_sponsor_records.each do |flagged_record| %>
    <%= render Stafftools::Sponsors::Members::FlaggedSponsors::FlaggedSponsorComponent.new(
      flagged_record: flagged_record,
      sponsor: flagged_record.sponsor,
    ) %>
  <% end %>
</div>
