.issueTypesListContainer {
  border-color: var(--borderColor-muted);
  border-style: solid;
  border-width: var(--borderWidth-thin);
  border-radius: var(--borderRadius-medium);
}

.sampleIssueType {
  padding-top: var(--base-size-8);
  padding-bottom: var(--base-size-8);
}

.sampleIssueTypeContainer {
  min-width: 120px;
  margin-right: var(--base-size-8);
}

.sampleIssueTypeHeader {
  display: inline-block;
  padding: var(--base-size-4) var(--base-size-8);
  margin-right: var(--base-size-4);
  margin-left: var(--base-size-4);
  font-size: var(--text-body-size-small);
  font-weight: 600;
  color: var(--fgColor-muted);
  background-color: var(--bgColor-inset);
  border-color: var(--borderColor-muted);
  border-style: solid;
  border-width: var(--borderWidth-thin);
  /* stylelint-disable-next-line primer/borders */
  border-radius: 32px;
  align-items: center;
}

.sampleIssueTypeMetadata {
  padding-right: 0;
  gap: var(--base-size-4);
}
