<div class="form-group mt-1 mb-2 <%= required? ? " required" : "" %>">
  <div class="form-group-body">
    <div class="form-checkbox my-0">
      <%= hidden_field_tag("inputs[#{name}]", false) %>

      <label class="color-fg-default text-mono f6">
        <%= check_box_tag(
          "inputs[#{name}]",
          "true",
          checked?,
          id: id,
        ) %>

        <%= label %>
      </label>
    </div>
  </div>
</div>
