<div class="position-relative">
  <div class="dropdown-menu dropdown-menu-sw p-0 overflow-hidden" style="top:6px;width:400px;max-width: calc(100vw - 320px);">
    <%= render Codespaces::CodeMenuContentsComponent.new(
      visibility: visibility,
      pull_request: pull_request,
      repository: repository,
    ) %>
  </div>
</div>
