<%= render(Primer::Beta::BorderBox.new) do |component| %>
  <% component.with_header do |h| %>
    <% h.with_title(tag: :h2) do %>
      Maximum running codespaces reached
    <% end %>
  <% end %>
  <% component.with_row(border_bottom: 0) do %>
    You have too many running codespaces. You'll need to stop some before you start a new codespace.
  <% end %>
  <% if link_to_index %>
    <% component.with_row do %>
      <%= render Primer::Beta::Link.new(href: codespaces_path, scheme: :primary, test_selector: "manage-all-codespaces-link") do %>
        <%= render(Primer::Beta::Octicon.new(:codespaces)) %> &nbsp;Manage all codespaces <div class="float-right"><%= render Primer::Beta::Octicon.new(icon: "arrow-right") %></div>
      <% end %>
    <% end %>
  <% end %>
<% end %>
