<div <%= test_selector "codespaces-create-notice" %>>
  <div class="<%= extra_classes %>" id="codespaces-create-notice-text">
    <%= render partial: notice_partial, formats: [:html], locals: {
        billable_owner: billable_owner,
        show_org_admin_text: org_is_paying? && user_can_manage_billing?,
        show_org_user_text: org_is_paying?,
        user: user,
        show_policy_codespaces_limit: show_policy_codespaces_limit?,
        show_org_policy_codespaces_limit: show_org_policy_codespaces_limit?,
        policy_codespaces_limit: policy_codespaces_limit,
        user_codespace_limit: user_codespace_limit,
        codespaces_limit_policy_owner: codespaces_limit_policy_owner,
      }
    %>
  </div>
</div>
