<% if small? %>
  <span class="text-small ml-1 flex-1 text-right">Expiring in
     <%= render(Primer::Beta::RelativeTime.new(
                  datetime: deletion_time,
                  format: :micro,
                  flex: :auto,
                  mr: 3,
                  text_align: :right,
                  font_size: :small)
                ) %>
  </span>
<% else %>
  <span>Expiring in
    <span class="no-wrap"><%= time_until_deletion %></span>
  </span>
<% end %>
