<%# erblint:counter DeprecatedComponentsCounter 2 %>
<%= render Primer::Beta::Flash.new(
  scheme: :danger,
  dismissible: true,
  p: 2,
  display: :flex,
  icon: :info,
  classes: "flex-items-center"
) do %>
  <div>
    Your org has reached its spending limit for Codespaces. Update your spending limits to continue using Codespaces.
  </div>
  <%= render(
    Primer::ButtonComponent.new(
      scheme: :default,
      variant: :small,
      tag: :a,
      href: cta_href,
      mt: 1,
      mr: 3,
      ml: 1
    ).with_content("Billing settings")
  ) %>
<% end %>
