<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%= render(Primer::Beta::Flash.new(mb: 2)) do %>
  To manage Codespace ownership settings, please <a href="<%= settings_org_plans_path(organization) %>"
        <%= safe_analytics_click_attributes(
          category: "#{analytics_account_prefix(organization)} Upgrade",
          action: "click to upgrade",
          label: "ref_cta:Upgrade;ref_loc:codespaces_settings"
        ) %>
        <%= test_selector("billing-user-upgrade-option") %>
      >upgrade your plan</a> to enable your organization.
<% end %>
