<% get_url = lambda do |selected_workflow, workflow_run_filters, fetch_required_workflows: false|
    workflows_partial_path(
      user_id: current_repository.owner_display_login,
      repository: current_repository,
      lab: selected_workflow&.lab?,
      workflow_file_name: selected_workflow&.filename,
      fetch_required_workflows: fetch_required_workflows,
      query: actions_filtered_query(filters: workflow_run_filters))
  end
  workflow_pages_url = get_url.call(selected_workflow, workflow_run_filters)
  required_workflow_pages_url = get_url.call(selected_workflow, workflow_run_filters, fetch_required_workflows: true)
%>

<% track_render_partial("actions/actions_nav") do %>
  <div class="d-flex flex-justify-between flex-items-start flex-lg-items-center mt-1 mb-2">
    <h2 class="f3 color-fg-default d-none d-md-block">Actions</h2>
    <% if current_repository.writable_by?(current_user) && !current_repository.archived? && !show_only_required_workflows %>
      <%= link_to "New workflow", actions_onboarding_path, class: "d-none d-md-block btn btn-sm" %>
    <% end %>
  </div>

  <div data-pjax="#repo-content-pjax-container" data-turbo-frame="repo-content-turbo-frame">
    <%= render(Primer::Beta::NavList.new(aria: { label: "Actions Workflows" }, selected_item_id: selected_item_id)) do |component| %>
      <% if !show_only_required_workflows %>
        <% component.with_item(selected_by_ids: :all_workflows, href: actions_workflow_path(filters: workflow_run_filters)) do |item| %>
          All workflows
        <% end %>
      <% end %>
    <% if workflows.length > 0 && !show_only_required_workflows %>
      <% component.with_group(
        test_selector: "workflows-list"
        ) do |group| %>
        <% group.with_heading(title: "Workflows") %>
        <% if selected_workflow.present? && workflows.exclude?(selected_workflow) && !selected_workflow.required? %>
          <% group.with_item(
            selected_by_ids: [selected_workflow.id],
            component_klass: Actions::WorkflowNavComponent,
            selected_workflow: selected_workflow,
            workflow: selected_workflow,
            current_repo: current_repository,
            current_user: current_user,
            filters: workflow_run_filters) %>
        <% end %>
        <% workflows.each_with_index do |workflow, index| %>
          <% group.with_item(
            selected_by_ids: [workflow.id],
            component_klass: Actions::WorkflowNavComponent,
            selected_workflow: selected_workflow,
            workflow: workflow,
            current_repo: current_repository,
            current_user: current_user,
            filters: workflow_run_filters) %>
        <% end %>
        <% group.with_show_more_item(
          test_selector: 'workflows-show-more',
          src: workflow_pages_url,
          pages: workflow_pages_count,
          ) do |item| %>
          <span class="color-fg-accent">Show more workflows...</span>
        <% end %>
      <% end %>
    <% end %>

    <% if required_workflows.length > 0 %>
      <% component.with_group(
        test_selector: "req-workflows-list"
        ) do |group| %>
        <% group.with_heading(title: "Organization workflows") %>
        <% if selected_workflow.present? && selected_workflow.required? && required_workflows.exclude?(selected_workflow) %>
          <% group.with_item(
            selected_by_ids: [selected_workflow.id],
            component_klass: Actions::WorkflowNavComponent,
            selected_workflow: selected_workflow,
            workflow: selected_workflow,
            current_repo: current_repository,
            current_user: current_user,
            filters: workflow_run_filters) %>
        <% end %>
        <% required_workflows.each_with_index do |workflow, index| %>
          <% group.with_item(
            selected_by_ids: [workflow.id],
            component_klass: Actions::WorkflowNavComponent,
            selected_workflow: selected_workflow,
            workflow: workflow,
            current_repo: current_repository,
            current_user: current_user,
            filters: workflow_run_filters) %>
        <% end %>
        <% group.with_show_more_item(
          test_selector: 'req-workflows-show-more',
          src: required_workflow_pages_url,
          pages: required_workflow_pages_count,
          ) do |item| %>
          <span class="color-fg-accent">Show more workflows...</span>
        <% end %>
      <% end %>
    <% end %>
    <% if !show_only_required_workflows %>
      <% component.with_group(
        test_selector: "management-section"
        ) do |group| %>
        <% group.with_heading(title: "Management" ) %>
        <% group.with_item(selected_by_ids: :caches, href: actions_caches_path ) do |item| %>
          <% item.with_leading_visual_icon(icon: :cache) %>
          Caches
        <% end %>
        <% if current_repository.deployments.any? %>
          <% group.with_item(href: deployments_path(current_repository.owner, current_repository) ) do |item| %>
            <% item.with_leading_visual_icon(icon: :rocket) %>
            <% item.with_trailing_visual_icon(icon: :"arrow-up-right") %>
            Deployments
          <% end %>
        <% end %>
        <% if show_attestations_view %>
          <% group.with_item(href: attestations_path(current_repository.owner, current_repository), test_selector: 'attestations-nav-item') do |item| %>
            <% item.with_leading_visual_icon(icon: :verified) %>
            <% item.with_trailing_visual_icon(icon: :"arrow-up-right") %>
            Attestations
          <% end %>
        <% end %>
        <% if show_runners_view %>
          <% group.with_item(href: actions_runners_path(current_repository.owner, current_repository), selected_by_ids: :runners) do |item| %>
            <% item.with_leading_visual_icon(icon: :server) %>
            Runners
          <% end %>
        <% end %>
      <% end %>
     <% end %>
    <% end %>
  </div>
<% end %>
