<%
  selected_category = local_assigns[:selected_category] || view.selected_category
%>

<%= render(Primer::Alpha::Dialog.new(
  title: "Categories menu",
  id: "category-menu",
  position_narrow: :fullscreen,
  h: :fit
)) do |d| %>
  <% d.with_show_button(block: true, size: :large, hide: :xl) { "Menu" } %>
  <% d.with_header(show_divider: true) do %>
    <h2 class="Box-title">Categories</h2>
  <% end %>
  <% d.with_body do %>
    <%= render partial: "actions/side_nav_categories", locals: { view: view } %>
  <% end %>
  <% d.with_footer(show_divider: true) do %>
    <%= render(Primer::Beta::Button.new(block: true, data: { "close-dialog-id": "category-menu" })) { "Close" } %>
  <% end %>
<% end %>

<nav class="d-none d-lg-block col-lg-3 float-lg-left pl-3 pl-md-0 pr-3 pr-md-5 pt-3 pt-md-0 pb-md-12" aria-labelledby="categories-label">
  <div class="Box-row py-3 px-0">
    <h2 id="categories-label" class="mb-md-1 h4">Categories</h2>
    <%= render partial: "actions/side_nav_categories", locals: { view: view } %>
  </div>
</nav>
