<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter DeprecatedComponentsCounter 1 %>
<div class="container-xl px-3">
  <% if GitHub.flipper[:banner_migration].enabled?(current_user) %>
    <%= render Primer::Alpha::Banner.new(scheme: :danger, mt: 3, mb: 2, test_selector: "spammy-workflow-run-banner") do %>
      This workflow run is marked <strong>spammy</strong>. This workflow run will only show in staff mode.
    <% end %>
  <% else %>
    <%= render Primer::Beta::Flash.new(scheme: :danger, mt: 3, mb: 2, test_selector: "spammy-workflow-run-banner") do %>
      This workflow run is marked <strong>spammy</strong>. This workflow run will only show in staff mode.
    <% end %>
  <% end %>
</div>
