<%
  return unless current_repository.organization
  run_ci_task = OnboardingTasks::Organizations::RunCi.new(taskable: current_repository.organization, user: current_user)
%>
<%= render(Onboarding::Organizations::TipComponent.new(
  organization: current_repository.organization,
  show_tip: params[:show_workflow_tip].present?,
  task: run_ci_task,
  mb: 4,
)) do %>
  <h3 class="mb-1">Run a continuous integration test</h3>
  <div class="color-fg-muted">
    <p>
      This is your repository’s "Actions" tab, where you can find the jobs most recently run by
      your workflows. Your demo-repository includes the <a class="Link--inTextBlock" href="https://github.com/marketplace/actions/proof-html" target="_blank">Proof HTML</a>
      workflow, which allows developers to continuously integrate new code while automatically checking for invalid HTML.
    </p>
    <p>
      The <strong>proof-html.yml</strong> workflow in your repository is currently configured to run automatically whenever someone pushes code,
      or to run manually; which you can do from this page. Just select <strong>Run workflow</strong> below to see it in action.
    </p>
    <p>
      <a
        href="<%= GitHub.help_url %>/actions/guides/about-continuous-integration"
        target="_blank"
      >
        <%= render(Primer::Beta::Octicon.new(:file, mr: 1)) %>
        Learn more about continuous integration
      </a>
    </p>
  </div>
<% end %>

<%= render(Onboarding::Organizations::CompletedGuidanceComponent.new(
  organization: current_repository.organization,
  completed_task: run_ci_task,
  show_tip: params[:show_workflow_tip].present?,
  container_class: "mb-4"
)) %>
