<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%= render Primer::BlankslateComponent.new(
  image_src: "modules/site/features/actions-icon-actions.svg",
  image_alt: "GitHub Actions",
  title: "You have hit the limit of pages.",
  large: true,
  spacious: true,
) do %>
  <% if recommended_date_filter.present? %>
    <%
      link_to_filter = filtered_runs_by_file_path(filters: workflow_run_filters, replace: { created: recommended_date_filter }, filename: params[:selected_filename], lab: params[:lab] == "true")
    %>
    <span <%= test_selector "date-filter" %>>You could filter by <a class="Link--inTextBlock" href="<%= link_to_filter %>">created:<%= recommended_date_filter %></a> to continue reviewing older workflow runs.</span>
  <% end %>
<% end %>
