<% if pull_requests.any? %>
  <div class="mt-3">
    <p>The following pull requests may not be able to be merged if this run is deleted:</p>
    <% pull_requests.each do |pull_request| %>
      <p>
        <% if pull_request.open? %>
          <%= primer_octicon(:"git-pull-request", classes: "type-icon open") %>
        <% else %>
          <%= primer_octicon(:"git-pull-request-closed", classes: "type-icon closed") %>
        <% end %>
        <strong><%= link_to pull_request.title, pull_request_path(pull_request), class: "Link--inTextBlock" %></strong>
        <span class="color-fg-muted">#<%= pull_request.number %></span>
      </p>
    <% end %>
  </div>
<% end %>
