<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter ButtonComponentMigrationCounter 2 %>
<%
  fullscreen = params["fullscreen"] && params["fullscreen"] == "true"
  page_classes = class_names(
    "full-width height-full",
    {
      "actions-full-screen": fullscreen,
    }
  )
  blank_slate_style = "max-width: 900px; margin-left: auto; margin-right: auto;"
%>

<% page_info \
    title: "Actions · #{current_repository.name_with_display_owner}",
    container_xl: true,
    selected_link: :repo_actions,
    skip_pjax_container: true,
    footer: false,
    class: page_classes,
    dashboard_pinnable_item_id: current_repository.global_relay_id
%>

<%= render layout: "layouts/repository_container", locals: { repository: current_repository } do %>
  <div class="clearfix container-xl px-3 px-md-4 px-lg-5 mt-4 d-flex flex-column flex-md-row">
    <%= render Primer::BlankslateComponent.new(
      image_src: "modules/site/features/actions-icon-actions.svg",
      image_alt: "GitHub Actions",
      title: "GitHub Actions has not been enabled",
      spacious: false,
      style: blank_slate_style,
    ) do %>
      <% if current_user&.site_admin? %>
        <p>Automate all your software workflows, now with world-class CI/CD.<br>
          Make code reviews, branch management, and issue triaging work the way you want.
        </p>
        <a href="/setup" class="btn btn-primary my-3">Enable GitHub Actions</a><br>
        <p><a href="https://github.com/features/actions" class="btn-link">Learn more about GitHub Actions</a></p>
      <% else %>
        <p>Automate all your software workflows, now with world-class CI/CD.<br>
          Contact your Enterprise Administrator to enable GitHub Actions.
        </p>
        <a href="https://github.com/features/actions">Learn more about GitHub Actions</a>
      <% end %>
    <% end %>
  </div>
<% end %>
