<div class="tabnav">
  <nav class="tabnav-tabs" aria-label="Organization invitations and upgrades">
    <a
      class="tabnav-tab"
      href="<%= organization_invitations_stafftools_enterprises_path %>"
      <% if tab == "organization_invitations" %>aria-current="page"<% end %>>Organization invitations</a>
    <a
      class="tabnav-tab"
      href="<%= organization_upgrades_stafftools_enterprises_path %>"
      <% if tab == "organization_upgrades" %>aria-current="page"<% end %>>Organization upgrades</a>
  </nav>
</div>
