<%# organization is an Organization %>
<%= avatar_for(organization, 24, class: "avatar mr-1") %>
<span class="css-truncate-target v-align-middle text-bold">
  <%= organization.display_login %>
</span>
