<% business_params ||= {}
   business_params[:customer_attributes] ||= {} %>
<% page_info title: "Edit #{business.name}", selected_link: :business_overview %>

<%= render Primer::Beta::Subhead.new do |component| %>
	<% component.with_heading(tag: :h2) do %>Edit enterprise<% end %>
<% end %>
<div>
  <%= render "stafftools/businesses/form",
    business: business,
    business_params: business_params,
    url: stafftools_enterprise_path(business),
    method: :patch,
    zuora_account_url: business.customer&.zuora_account_id.present? ? zuora_account_url_for_customer(business.customer) : nil
  %>
</div>
