<% business_params ||= {}
   business_params[:customer_attributes] ||= {} %>

<% page_info title: "Create a new enterprise account", selected_link: :businesses %>

<%= render layout: "stafftools/stafftools" do %>
  <%= render Primer::Beta::Subhead.new do |component| %>
    <% component.with_heading(tag: :h2) do %>Create a new enterprise account<% end %>
  <% end %>
  <div>
    <%= render "stafftools/businesses/form",
      business: Business.new,
      business_params: business_params,
      url: stafftools_enterprises_path,
      method: :post
    %>
  </div>
<% end %>
