<div class="Box-row color-bg-subtle">
  <p>
    If you change your mind and want to join GitHub Sponsors, you can reactivate
    your account. Your GitHub Sponsors profile will be pending so others will not
    see it or be able to sponsor you right away.
  </p>

  <%= form_tag form_path do %>
    <%= render Primer::Beta::Button.new(type: :submit, size: :small).with_content("Enable GitHub Sponsors account") %>
  <% end %>
</div>
