<%= @user_name %> from <%= @user_company %> has requested to discuss Enterprise plans for <%= @listing.name %>.

<%- if @contact_subject.present? -%>
<p>-------------------</p>

<%= @contact_subject %>

<p>-------------------</p>

<%- end -%>

<p>Thanks,</p>
<p>GitHub Marketplace Team</p>
