Thank you for your interest in GitHub Marketplace.

For publishing paid app - <%= @listing_name %> on GitHub Marketplace, we need to onboard you to our payment system. To start that process, we need some basic information. Can you fill this <a href="https://docs.google.com/forms/d/1qw6yIYB4B1ZLOQEJEsW-FM1zn_Np9SkL01AL9CBG1Tc/viewform">form</a> and start the onboarding. Thereafter, our finance team will reach out to complete the onboarding.

Thanks,

GitHub Marketplace Team
