.task-list-item {
  display: flex;
  align-items: flex-start;
  gap: var(--base-size-12);
  list-style-type: none;
  justify-content: space-between;

  &:not(.disabled):hover {
    background-color: var(--bgColor-muted);
    border-radius: var(--borderRadius-medium);
  }
}

.no-convert-task-list-item {
  display: flex;
  justify-content: space-between;
}

.left-aligned-content {
  position: relative;
  display: flex;
  width: 100%;
  min-width: 0;
  flex-direction: row;
  gap: 2px;
}

.checkbox-items {
  display: flex;
  width: inherit;
  min-width: 0;
  flex-direction: row;
  gap: var(--base-size-8);
  align-items: flex-start;
}

.task-item {
  margin: 0 !important;
}

.drag-drop-container {
  min-width: 20px;
}

.drag-handle-icon {
  width: 20px;
  height: 28px;
  opacity: 0;
}

.show-trigger {
  opacity: 1;
}

.task-list-item:focus-within .drag-handle-icon {
  opacity: 1 !important;
}

.task-list-html {
  min-width: 0;
  padding-top: var(--base-size-4);
  padding-bottom: var(--base-size-4);
  line-height: 20px; /* Rounded down from 21px (the default) to help with alignment */
  overflow-wrap: anywhere;
  white-space: preserve-spaces;

  /* Hide checkbox from markdown as we are recreating a checkbox */
  [type='checkbox'] {
    display: none;
  }
}
