.task-list-item {
  margin-top: var(--base-size-2);
  margin-left: calc(-1 * var(--base-size-8));
  list-style-type: none;
}

.numbered-task-list {
  margin-left: var(--base-size-32);
  list-style: lower-roman;
}

.numbered-task-list-nested {
  margin-left: var(--base-size-32);
  list-style: lower-alpha;
}

.unordered-task-list {
  margin-left: var(--base-size-36);
  list-style: circle;
}

.unordered-task-list-nested {
  margin-left: var(--base-size-36);
  list-style: square;
}

.bullet-task-item {
  list-style: disc;

  [dir="auto"] {
    margin-top: var(--base-size-16);
  }
}

.numbered-task-item {
  list-style: decimal;

  [dir="auto"] {
    margin-top: var(--base-size-16);
  }
}

.nested-task-list-item {
  list-style: none;
}

.nested-overlay-list {
  margin-left: var(--base-size-32);
}

.overlay-task-list-child {
  margin-left: var(--base-size-80);
}

.task-list-item-checkbox {
  visibility: hidden;
}
