<% page_info title: view.page_title %>

<%= render Primer::Beta::Subhead.new do |component| %>
  <% component.with_heading(tag: :h2) do %>Database record<% end %>
<% end %>

<%= render(Primer::Beta::BorderBox.new(padding: :condensed)) do |component| %>
  <% view.columns.each do |column| %>
    <% component.with_row(display: :flex) do %>
      <span class="col-4 text-bold">
        <%= column.humanize %>
      </span>
      <span class="col-8">
        <%= view.value column %>
      </span>
    <% end %>
  <% end %>
<% end %>
