<%
  page_info(
    title: "How many team members will be working with you?",
    class: "header-overlay",
    full_height: true,
  )
%>

<div class="container-xl position-relative z-2 p-responsive mt-n5">
  <div class="d-lg-flex gutter-md-spacious">
    <div class="col-lg-6 col-xl-7">
      <%= svg("signup/icons/team-mentions", class: "d-block mb-3", width: "80") %>
      <h1 class="h2-mktg d-inline-block features-category--title text-gradient-mint-blue mb-3" <%= test_selector("welcome") %> data-hpc>Welcome to GitHub</h1>
      <p class="f2-mktg text-normal text-gray-light-mktg mb-6">We are glad you're here.</p>
    </div>
    <div class="col-lg-6 col-xl-5">
      <div class="rounded-3 color-shadow-extra-large color-bg-default px-3 px-sm-5 py-5">
        <span class="Progress Progress--small mb-3">
          <span class="Progress-item" style="width: 33%; background-color: #4969ed;"></span>
        </span>
        <p class="f5 color-fg-muted mb-3">This will help us guide you to the tools that are best suited for your projects.</p>
        <%= primer_form_with(url: signup_recommended_plan_path, scope: :suggested_plan, method: :post) do |f| %>
          <%
            validation_errors = Set.new
            if session.dig("recommended_plan", "validation_errors") == "size"
              validation_errors.add(:size)
            end
          %>
          <%= render(RecommendedPlans::WelcomeForm.new(f, validation_errors: validation_errors)) %>
        <% end %>
      </div>
    </div>
  </div>
</div>
