
<% length = value.length / 2 %>

<div class="d-flex flex-items-baseline">
  <div class="input-group my-2 d-flex">
    <div class="form-control input-monospace input-sm color-bg-subtle color-fg-muted wb-break-all" <%= test_selector("dns-challenge-value") %>>
      <%= value %>
    </div>
    <div class="input-group-button d-flex" style="width:unset">
      <%= content_tag(
        "clipboard-copy",
        render(Primer::Beta::Octicon.new(icon: "copy", classes: "js-clipboard-copy-icon", display: :inline_block)) + render(Primer::Beta::Octicon.new(icon: "check", color: :success, classes: "js-clipboard-check-icon", display: [:inline_block, :none])),
        value: value,
        "aria-label": "Copy #{desc} to the system clipboard",
        "data-copy-feedback": "Copied!",
        class: "btn btn-sm js-clipboard-copy ClipboardButton",
        display: :inline_block
      ) %>
    </div>
  </div>
</div>
