<% if repos_to_unpublish.present? %>
  <p>
    This domain is verified by more than one organization. By removing this domain, pages from the
    following repositories <%= "in this organization" if current_pages_owner.organization? %> may
    be unpublished from their custom domains:
  </p>
  <ul class="repos-to-unpublish Box overflow-auto p-2">
    <% last_index = repos_to_unpublish.length - 1 %>
    <% repos_to_unpublish.each_with_index do |repo, n| %>
      <li class="<%= "mb-2" unless n == last_index %>">
        <%= render Primer::Beta::Octicon.new(icon: repo.public? ? "repo" : "lock") %>
        <%= repo.name_with_display_owner %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>
    Your GitHub Pages sites may be unpublished from their custom domains if another organization
    claims ownership of this domain.
  </p>
<% end %>
