<%graphql
  fragment Organization on Organization {
    team(slug: $slug) {
      viewerCanAdminister

      paginatedProjects: projects(first: $first, last: $last, before: $before, after: $after) {
        totalCount
        pageInfo {
          ...ProjectsHelper::ProjectsCursorPaginate
        }
        edges {
          ...Views::Orgs::TeamProjects::Project::TeamProjectEdge
        }
      }
    }
  }
%><%# erblint:disable NoGraphqlFragments %>

<% organization = Views::Orgs::TeamProjects::List::Organization.new(organization) %>
<% team = organization.team %>

<% if team.paginated_projects.total_count > 0 %>
  <ul class="team-listing table-list table-list-bordered adminable">
    <% team.paginated_projects.edges.each do |project_edge| %>
      <%= render partial: "orgs/team_projects/project", locals: { project_edge: project_edge, viewer_can_administer_team: team.viewer_can_administer? } %>
    <% end %>
  </ul>
  <div class="paginate-container">
    <%= projects_cursor_paginate(team.paginated_projects.page_info, next_label: "Next", previous_label: "Previous") %>
  </div>
<% else %>
  <%= render Primer::Beta::Blankslate.new do |c| %>
    <% c.with_visual_icon(icon: "project") %>

    <% c.with_heading(tag: :h2) do %>
      This team doesn’t have any projects.
    <% end %>
  <% end %>
<% end %>
