<%graphql
  fragment Organization on Organization {
    name

    team(slug: $slug) {
      id
      name
    }

    ...Views::Orgs::TeamProjects::Container::Organization
  }
%><%# erblint:disable NoGraphqlFragments %>

<%
  organization = Views::Orgs::TeamProjects::Index::Organization.new(graphql_org)
  team = organization.team

  page_info(
    title: "#{organization.team.name} · #{organization.name} Team",
    class: "team",
    dashboard_pinnable_item_id: team.id
  )
%>

<div itemscope itemtype="http://schema.org/Organization">
  <%= render partial: "orgs/team_projects/container", locals: { organization: organization, show_templates_index: show_templates_index } %>
</div>
