<div class="d-flex flex-items-center border rounded-2 px-2 py-4 width-full"
  <%= test_selector("sponsors-featured-sponsor-#{@sponsorship.id}") %>>
  <span class="js-sponsors-sortable-item-handle p-2 pr-3 cursor-pointer">
    <%= primer_octicon(:grabber) %>
  </span>
  <%= render Sponsors::Profile::SponsorAvatarComponent.new(
        user_or_org: @sponsorship.linked_or_direct_sponsor,
        sponsorship: @sponsorship,
        size: 50,
      )
  %>
  <div class="ml-2">
    <%= @sponsorship.linked_or_direct_sponsor.name %>
  </div>
</div>
