<%# rubocop:disable Rails/DataHash %>
<%
  # NOTE: the `do`/`end` block here is intentional, even with the empty body.
  #       It forces a closing `</form>` tag, which is necessary so the browser
  #       doesn't try to nest other forms inside this one.
%>
<%= form_tag(sponsorable_dashboard_profile_featured_work_path(@sponsorable_login),
    method: :get,
    id: "sponsors-featured-work-search-form",
    data: test_selector_hash("sponsors-featured-work-search-form").merge(
      "autosearch-results-container": "sponsors-featured-work-search-container",
    )) do
%>
<% end %>
