<div class="form-checkbox color-bg-subtle rounded-2 mt-5 p-3">
  <label class="d-flex">
    <%= check_box "sponsors_listing", "featured_state", checked: featured_state_checked?, "aria-describedby": "featured-opt-in-description", "class": "mr-2 ml-0" %>
    <div>
       Optional: Opt-in to get featured on <%= link_to "github.com/sponsors", sponsors_path, class: "Link--inTextBlock" %>
      <p class="note" id="featured-opt-in-description">
        If we choose to feature you, we'll show your avatar and short bio on the Sponsors page—another way for potential sponsors to find you!
      </p>
    </div>
  </label>
</div>
