<div class="clearfix">
  <div class="form-group mt-0 required">
    <div class="mb-3">
      <label class="f4" for="sponsors_profile_full_description">
        Introduction
      </label>
      <p class="note mt-0">
        Your introduction is the main focus that appears on <%= owner %> GitHub Sponsors profile.
        It's a great opportunity to help potential sponsors learn more about you, your work,
        and why their sponsorship is important to you.
      </p>
    </div>
    <div class="js-length-limited-input-container">
      <%= csrf_hidden_input_for marketplace_preview_path, class: "js-data-preview-url-csrf" %>
      <%= render Comments::PreviewableCommentFormComponent.new(
        subject: sponsors_listing,
        label: "Introduction",
        allow_attachments: false,
        hide_saved_replies: true,
        hide_mentions: true,
        hide_cross_references: true,
        preview_path: marketplace_preview_path,
        input_max_length: SponsorsListing::MAX_FULL_DESCRIPTION_LENGTH,
        textarea_id: "sponsors_profile_full_description",
        field_name: "sponsors_listing[full_description]",
        body: full_description,
      ) %>
    </div>
  </div>
</div>
