<div class="clearfix">
  <div class="form-group mt-0 mb-0">
    <div class="mb-3 h4">
      Your Sponsors
    </div>
    <div class="form-checkbox">
      <label for="hide-past-sponsorships">Hide past sponsors on my profile</label>
      <input type="checkbox" name="sponsors_listing[hide_past_sponsorships]" id="hide-past-sponsorships"
        value="on"
        <% if hide_past_sponsorships? %>checked<% end %>
        <%= test_selector("hide-past-sponsorships-checkbox") %>
      >
      <p class="color-fg-muted text-normal">
        Only show current monthly and one-time sponsors.
      </p>
    </div>
  </div>
</div>
