<% page_info title: "Account recovery", class: "page-two-factor-auth session-authentication" %>

<div class="two-factor-container">

  <div id="login" class="auth-form px-3">

    <div class="auth-form-header p-0">
      <h1>Account recovery</h1>
    </div>

    <%= render "shared/flash" %>

    <div class="auth-form-body mt-3">
      <p>
        <strong>Recovery review aborted</strong>
      </p>
      <p>
        The recovery review for your account has been aborted.
      </p>
      <br>
      <p>
        If you believe there is malicious activity targeting your account, you
        can read our
        <a class="Link--inTextBlock" href="<%= GitHub.help_url %>/en/articles/keeping-your-account-and-data-secure">Keeping your account and data secure</a>
        documentation, or <a class="Link--inTextBlock" href="<%= contact_path %>">contact GitHub Support</a>
        if you have additional questions.
      </p>
    </div>
  </div>
</div>
