<%= render Primer::Beta::Blankslate.new do |blankslate| %>
  <% blankslate.with_visual_icon(icon: :table) %>
  <% blankslate.with_heading(tag: :h2) do %>
      Projects haven't been enabled for this organization.
  <% end %>
  <% blankslate.with_description do %>
    <% if @owner.adminable_by?(current_user)%>
      Projects are disabled for the <%= @owner.name.to_s %> organization. You can change this in the organization <%= render(Primer::Beta::Link.new(href: settings_org_projects_path(@owner), classes: "Link--inTextBlock")) { "settings" } %>.
    <% else %>
      <p> Projects are disabled for this organization and cannot be added to quick access. <br> Please contact your <a class="Link--inTextBlock" href="<%= org_people_path(@owner, query: "role:owner") %>">organization administrators</a>.</p>
    <% end %>
  <% end %>
<% end %>
