<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter DeprecatedComponentsCounter 1 %>
<div class="flash-messages">
  <%= render Primer::Beta::Flash.new(scheme: :danger) do %>
    <button type="button" class="flash-close js-flash-close">
      <%= primer_octicon(:x) %>
    </button>

    A verified email address is required to invite members via email address.
    Please <%= link_to "verify your address", settings_email_preferences_path, class: "Link--inTextBlock" %> and
    try again.
  <% end %>
</div>
