<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<li class="list-item d-flex flex-items-baseline py-3 border-bottom">

  <span class="mr-2 color-fg-muted">
    <%= primer_octicon(:mail, :height => 28, classes: "avatar invite-icon") %>
  </span>

  <div class="flex-auto">
    <span class="team-member-username css-truncate css-truncate-target text-bold">
      <%= invitation.email %>
    </span>
  </div>

  <a href="<%= org_edit_email_invitation_path(current_organization_for_member_or_billing, :email => invitation.email) %>" class="btn btn-sm">
    Edit invitation
  </a>
</li>
