<% return_to ||= nil %>
<div class="invited Box-body overflow-auto">
  <ul class="team-member-list org-list">
    <% invitations.each do |invitation| %>
      <% if invitation.email? %>
        <%= render "orgs/invitations/invitation_via_email", :invitation => invitation, :return_to => return_to %>
      <% else %>
        <%= render "orgs/invitations/invitation", :invitation => invitation, :return_to => return_to %>
      <% end %>
    <% end %>
  </ul>
</div>
<div class="Box-footer">
  <p class="help">
    Invitations are sent via email and can be accepted at
    <a class="Link--inTextBlock" href="<%= user_path(current_organization_for_member_or_billing) %>"><%= user_url(current_organization_for_member_or_billing) %></a>
  </p>
</div>
