<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%- hide_close = false unless defined?(hide_close) -%>
<div class="flash-messages" <%= test_selector("rate-limited-message") %>>
  <%= render Primer::Beta::Flash.new(scheme: :danger) do %>
    <% unless hide_close %>
      <button type="button" class="flash-close js-flash-close">
        <%= primer_octicon(:x) %>
      </button>
    <% end %>

    <p>
      In order to prevent abuse, we’ve limited the number of invitations you
      can send in a day.
    </p>
    <p>
      Try inviting new members tomorrow or <a class="Link--inTextBlock" href="<%= GitHub.contact_support_url(tags: "dotcom-organizations") %>">contact support</a>.
    </p>
  <% end %>
</div>
