<p class="reinstate-lead" <%= test_selector("show-reinstated") %>><strong>Finished!</strong> You have re-joined <%= organization.safe_profile_name %> and your previous membership has been reinstated.</p>

<%= render Primer::Beta::Blankslate.new do |c| %>
  <% c.with_heading(tag: :h2) do %>
    Your membership has been reinstated!
  <% end %>

  <% c.with_primary_action(href: org_reinstate_complete_path(return_to: continue_path)) do %>
    <%= "Continue to #{organization.safe_profile_name}" %>
  <% end %>
<% end %>
