<%# erblint:counter DeprecatedComponentsCounter 1 %>
<div class="reinstate-org-member settings-next">

  <%= render Primer::Beta::Subhead.new do |component| %>
    <% component.with_heading(tag: :h2, data: { "hpc": "true" }) do %>Welcome back to <strong><%= organization.safe_profile_name %>!</strong><% end %>
  <% end %>

  <poll-include-fragment src="<%= org_show_reinstated_path(organization, status: status.id, return_to: continue_path) %>">
    <p class="reinstate-lead">
       Your previous membership is being reinstated now! This shouldn’t take more than a couple minutes.
    </p>

    <%= render Primer::BlankslateComponent.new(
      title: "Your membership is being reinstated.",
    ) do |component| %>
      <% component.with_spinner(size: :medium) %>
    <% end %>
  </poll-include-fragment>

</div>
