<topic-feeds-container data-src="<%= dashboard_topic_feeds_search_show_path %>" data-query="<%= params[:topics_query] %>">
  <p class="h3 mb-3">Topics</p>

  <%= render(
  Primer::Alpha::TextField.new(
    size: :large,
    name: :topics_query,
    label: "Topic Search",
    show_clear_button: true,
    clear_button_id: "topic-feeds-container-clear-button",
    visually_hide_label: true,
    value: params[:topics_query],
    placeholder: "Explore topics and communities...",
    classes: "js-topic-feeds-container-search",
    leading_visual: {
      icon: :search,
      display: :flex,
      top: 0,
    },
    data: {
      test_selector: "topic-feeds-container-search",
      target: "topic-feeds-container.searchInput",
      action: "input:topic-feeds-container#handleSearchInput",
    }
  )
  ) %>

  <div class="pt-2" data-target="topic-feeds-container.content">
    <include-fragment></include-fragment>
  </div>

  <template hidden class="js-topic-feeds-toast">
    <%= render partial: "shared/toast", locals: { text: "You're following {topic_display_name} on your feed.", dismissable: false, state: "success", icon: "check", action: {
      text: 'Go to feed',
      href: dashboard_path(topic: "{topic_name}"),
    } } %><%# erblint:disable A11yToastMigration %>
  </template>
</topic-feeds-container>
