<% content_for :header do %>
  We can no longer verify your ownership of <%= @domain.name %>
<% end %>

<p>We were unable to find a verification TXT record on <b><%= @domain.name %></b> and as a result the domain has become unverified.</p>

<p>When a domain is unverified, other users can freely publish GitHub Pages sites on that domain. Additionally, if another user verifies this domain, your GitHub Pages sites on that domain will move back to <b>github.io</b>.</p>

<%= render(Mail::SpacerComponent.new) %>

<%= render(Mail::ButtonComponent.new(text: "Manage verified domains", url: @pages_settings_url, classes: "btn-primary btn-large")) %>
