<% unless header_redesign_enabled? %>
  <div class="border-bottom">
    <div class="pb-2 pt-2 container-xl p-responsive clearfix">
      <div class="col-4 float-left">
        <%= render(Primer::Beta::Breadcrumbs.new(my: 3)) do |component| %>
          <% component.with_item(href: settings_user_profile_path) do %>Settings<% end %>
          <% component.with_item(href: request.path) do %>Developer settings<% end %>

          <% if selected_link == :access_tokens %>
            <% component.with_item(href: settings_user_tokens_path(type: PersonalAccessTokensController::BETA_VERSION)) do %>Personal access tokens<% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<div class="pt-4 container-xl p-responsive">
  <%= render Primer::Alpha::Layout.new do |c| %>
    <% c.with_sidebar do %>
      <%= render "navigation/developer_settings", view: create_view_model(Settings::NavigationView) %>
    <% end %>
    <% c.with_main(width: :md) do %>
      <%= yield %>
    <% end %>
  <% end %>
</div>
