<div class="<% if responsive? %>ml-0 pl-0 ml-md-6 pl-md-3<% else %>ml-6 pl-3<% end %> mt-3 branch-action mb-0 branch-action-state-dirty">
  <span class="branch-action-icon <% if responsive? %>d-none d-md-flex<% else %>d-flex<% end %> flex-items-center flex-justify-center">
    <%= primer_octicon(:"git-merge", size: :medium) %>
  </span>

  <div class="branch-action-body timeline-comment--caret">
    <div class="branch-action-item">
      <div class="branch-action-item-icon completeness-indicator completeness-indicator-success">
        <%= primer_octicon(:check) %>
      </div>
      <div class="h4 status-heading">No changes</div>
      <span class="status-meta">No changes are waiting to be merged.</span>
    </div>
  </div>
</div>
