<% page_info title: "GitHub Models Waitlist" %>
<div class="d-flex flex-column flex-lg-row">

  <div class="col-12 col-lg-6">
    <div class="copilot-waitlist-header-section copilot-waitlist-header-jetbrains">
      <div class="copilot-waitlist-section-inner">
        <div class="copilot-waitlist-beta-bubble">
          Limited Public Beta
        </div>
        <p class="lh-condensed copilot-waitlist-header">Join the GitHub Models waitlist</p>

        <p class="text-light mt-4 mb-4">
          Join the limited public beta for early access to GitHub Models.
        </p>
      </div>
    </div>
  </div>

  <div class="copilot-waitlist-form-section col-12 col-lg-6 pr-8 pb-8 pl-8 pt-10">
    <% if emu_user %>
      <p class="mb-2 h3">
        Thank you for your interest. Unfortunately, the GitHub Models waitlist is not available for Enterprise Managed Users.
      </p>
      <p class="mb-4">
        Return to continue exploring <a class="Link--inTextBlock" href="/marketplace/models">GitHub Models</a>.
      </p>
    <% else %>
      <div class="copilot-waitlist-section-inner copilot-waitlist-section-models">
        <%= render(Copilot::BetaSignupFormComponent.new(
          signup_url_path: marketplace_models_waitlist_create_path,
          signup_cta_text: "Join GitHub Models waitlist",
          # The `preview_terms` currently point to the GitHub preview terms at "https://docs.github.com/en/site-policy/github-terms/github-terms-for-additional-products-and-features#previews"
          # see packages/marketplace/app/models/marketplace/models_beta.rb#L19 to change
          preview_terms: preview_terms,
          survey_questions: survey_questions
        )) %>
      </div>
    <% end %>
  </div>
</div>
