<div class="d-flex flex-column flex-lg-row">

  <div class="col-12 col-lg-6">
    <div class="copilot-waitlist-header-section copilot-waitlist-header-jetbrains">
      <div class="copilot-waitlist-section-inner">
        <div class="copilot-waitlist-beta-bubble">
          Limited Public Beta
        </div>
        <p class="lh-condensed copilot-waitlist-header">Join the GitHub Models waitlist</p>

        <p class="text-light mt-4 mb-4">
          Join the limited public beta for early access to GitHub Models.
        </p>
      </div>
    </div>
  </div>

  <div class="copilot-waitlist-form-section col-12 col-lg-6 pr-8 pb-8 pl-8 pt-10">
    <p class="mb-2 h3">Thank you! <%= current_user.display_login %> is now on the waitlist for GitHub Models.</p>

    <p class="mb-2">
      Admission to the limited public beta for GitHub Models will be limited. You will receive an email if you are
      granted access.
    </p>

    <p class="mb-4">
      Return to continue exploring <a class="Link--inTextBlock" href="/marketplace/models">GitHub Models</a>.
    </p>
  </div>
</div>
