  <%= render Primer::Alpha::ActionMenu.new(select_variant: :single, test_selector: "group-team-sync-status-filter-button") do |menu| %>
    <% menu.with_show_button do |button| %>
      <% button.with_trailing_action_icon(icon: :"triangle-down") %>
      <% "Sync status" %>
    <% end %>
    <% menu.with_item(
      tag: :a,
      href: external_group_teams_enterprise_path(id: external_group.id, query: view.apply_query_filters(sync_status: nil)),
      active: view.sync_status.nil?
    ) do %>
      <div class="select-menu-item-text">All</div>
    <% end %>
    <% menu.with_item(
      tag: :a,
      href: external_group_teams_enterprise_path(id: external_group.id, query: view.apply_query_filters(sync_status: BusinessesHelper::EXTERNAL_GROUP_SYNC_STATUS["SYNCED"])),
      active: view.sync_status == BusinessesHelper::EXTERNAL_GROUP_SYNC_STATUS["SYNCED"]
    ) do %>
      <div class="select-menu-item-text">Synced</div>
    <% end %>
    <% menu.with_item(
      tag: :a,
      href: external_group_teams_enterprise_path(id: external_group.id, query: view.apply_query_filters(sync_status: BusinessesHelper::EXTERNAL_GROUP_SYNC_STATUS["NOT_SYNCED"])),
      active: view.sync_status == BusinessesHelper::EXTERNAL_GROUP_SYNC_STATUS["NOT_SYNCED"]
    ) do %>
      <div class="select-menu-item-text">Not synced</div>
    <% end %>
  <% end %>
