<%= render Primer::Beta::Subhead.new(hide_border: true) do |component| %>
  <% component.with_heading(tag: :h2) do %>Applications<% end %>
<% end %>

<div class="tabnav">
  <nav class="tabnav-tabs" aria-label="Application settings">
    <%= selected_link_to "Installed GitHub Apps", gh_settings_installations_path(current_user), :class => "tabnav-tab", :highlight => [:integration_installations]%>
    <%= selected_link_to "Authorized GitHub Apps", settings_user_app_authorizations_path, :class => "tabnav-tab", :highlight => [:integrations_settings, :settings_user_authorized_integrations] %>
    <%= selected_link_to "Authorized OAuth Apps", settings_user_applications_path, :class => "tabnav-tab", :highlight => [:settings_user_authorized_apps] %>
  </nav>
</div>
