<% beta_version = OauthTokensController::BETA_VERSION %>

<div class="pr-md-4 pr-0">
  <%= render(Primer::Beta::NavList.new(aria: { label: "Developer settings" }, selected_item_id: @selected_link)) do |component| %><%# rubocop:disable Lint/InstanceVariable %>
    <% component.with_item(label: "GitHub Apps", href: gh_settings_apps_path(current_user)) do |item| %>
      <% item.with_leading_visual_icon(icon: :apps) %>
    <% end %>

    <% component.with_item(label: "OAuth Apps", href: settings_user_developer_applications_path) do |item| %>
      <% item.with_leading_visual_icon(icon: :person) %>
    <% end %>

    <% if current_user.patsv2_enabled? %>
      <% component.with_item(
        label: "Personal access tokens",
        id: "personal-access-tokens-menu-item") do |item| %>
        <% item.with_leading_visual_icon(icon: :key) %>

        <% item.with_item(label: "Fine-grained tokens", href: settings_user_tokens_path(type: beta_version), selected_by_ids: :access_tokens) do |subitem| %>
          <% subitem.with_trailing_visual_label(title: "Label: #{beta_version.capitalize}", scheme: :success) { beta_version.capitalize } %>
        <% end %>

        <% item.with_item(label: "Tokens (classic)", href: settings_user_tokens_path, selected_by_ids: :oauth_tokens) %>
      <% end %>
    <% else %>
      <% component.with_item(label: "Personal access tokens", href: settings_user_tokens_path) do |item| %>
        <% item.with_leading_visual_icon(icon: :key) %>
      <% end %>
    <% end %>

  <% end %>
</div>
