<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<div class="d-flex flex-wrap flex-justify-between width-full width-md-auto milestones-flexbox-gap">
  <%= render :partial => "issues/navigation" %>
  <% if current_user_can_push? && current_repository_writable? %>
    <a href="<%= new_milestone_path(current_repository.owner, current_repository) %>" class="btn btn-primary">New milestone</a>
  <% end %>
</div>
