<div class="col-md-3 col-12 pr-md-4 pr-0">
  <nav class="menu" aria-label="OAuth App settings" data-pjax>
    <%= selected_link_to "General", oauth_application_path(current_application), :highlight => [:oauth_app], :class => "menu-item" %>
    <%= selected_link_to "Optional features", settings_oauth_application_beta_features_path(current_application), :highlight => [:oauth_app_beta], :class => "menu-item" %>
    <%= selected_link_to "Advanced", settings_oauth_application_advanced_path(current_application), :highlight => [:oauth_app_advanced], :class => "menu-item" %>
  </nav>
</div>
