<%# view is an instance of Settings::NavigationView %>

<div class="pr-md-4 pr-0">
  <%= render(Primer::Beta::NavList.new(aria: { label: "User settings" }, selected_item_id: @selected_link, item_classes: "org-menu-item", nav_classes: "org-sub-menu")) do |component| %><%# rubocop:disable Lint/InstanceVariable %>
    <% component.with_item(label: profile_heading_text, href: settings_user_profile_path, selected_by_ids: :settings_user_profile) do |item| %>
      <% item.with_leading_visual_icon(icon: :person) %>
    <% end %>

    <% unless current_user.is_enterprise_managed? %>
      <% component.with_item(label: "Account", href: settings_account_preferences_path) do |item| %>
        <% item.with_leading_visual_icon(icon: :gear) %>
      <% end %>
    <% end %>

    <% component.with_item(label: "Appearance", href: settings_appearance_preferences_path) do |item| %>
      <% item.with_leading_visual_icon(icon: :paintbrush) %>
    <% end %>

    <% component.with_item(label: "Accessibility", href: settings_accessibility_preferences_path) do |item| %>
      <% item.with_leading_visual_icon(icon: :accessibility) %>
    <% end %>

    <% component.with_item(label: "Notifications", href: settings_notification_preferences_path) do |item| %>
      <% item.with_leading_visual_icon(icon: :bell) %>
    <% end %>

    <% component.with_group do |group| %>
      <% group.with_heading(heading_level: 2, title: "Access") %>

      <% if GitHub.billing_enabled? && !current_user.is_enterprise_managed? %>
        <% if current_user.customer&.billed_via_billing_platform? %>
          <% group.with_item(
            label: "Billing",
            data: test_selector_hash("billing_and_plans")) do |item| %>
            <% item.with_leading_visual_icon(icon: :"credit-card") %>

            <% item.with_item(label: "Overview", href: settings_billing_url, selected_by_ids: :billing_vnext_overview) %>
            <% item.with_item(label: "Usage", href: settings_billing_usage_url, selected_by_ids: :billing_vnext_usage) %>
            <% item.with_item(label: "Budgets and alerts", href: settings_billing_budgets_url, selected_by_ids: :billing_vnext_budgets) %>

            <% item.with_trailing_visual_label(ml: 2, scheme: :success) { "Beta" } %>
          <% end %>
        <% end %>

        <% group.with_item(
          label: "Billing and plans",
          data: test_selector_hash("billing_and_plans")) do |item| %>

          <% item.with_item(label: "Plans and usage", href: settings_user_billing_url, selected_by_ids: :user_billing_settings) %>
          <% item.with_item(label: "Spending limits", href: target_billing_url(current_user, tab: "spending_limit"), selected_by_ids: :spending_limits) %>
          <% item.with_item(label: "Payment information", href: target_billing_url(current_user, tab: "payment_information"), selected_by_ids: :payment_information) %>

          <% item.with_leading_visual_icon(icon: :"credit-card") %>
        <% end %>
      <% end %>

      <% group.with_item(label: "Emails", href: settings_email_preferences_path) do |item| %>
        <% item.with_leading_visual_icon(icon: :mail) %>
        <% if view.should_verify_email? %>
          <%= primer_octicon(:alert, classes: "menu-warning", title: "You have not verified any email addresses") %>
        <% end %>
      <% end %>

      <% group.with_item(label: "Password and authentication", href: settings_security_path) do |item| %>
        <% item.with_leading_visual_icon(icon: :"shield-lock") %>
      <% end %>

      <% group.with_item(label: "Sessions", href: settings_sessions_path) do |item| %>
        <% item.with_leading_visual_icon(icon: :"broadcast") %>
      <% end %>

      <% group.with_item(label: "SSH and GPG keys", href: settings_keys_path, selected_by_ids: [:ssh_and_gpg_keys, :gpg_keys, :ssh_keys]) do |item| %>
        <% item.with_leading_visual_icon(icon: :key) %>
      <% end %>

      <% group.with_item(label: "Organizations", href: settings_organizations_path) do |item| %>
        <% item.with_leading_visual_icon(icon: :organization) %>
      <% end %>

      <% if view.show_enterprise_button? %>
        <% group.with_item(
          label: "Enterprises",
          href: settings_enterprises_path,
          data: analytics_click_attributes(
            category: "enterprises_more_discoverable",
            action: "click_enterprises",
            label: "ref_loc:settings_sidebar;ref_cta:enterprises"
          ),
        ) do |item| %>
          <% item.with_leading_visual_content do %>
            <%= render(Primer::Beta::Octicon.new(:globe, size: :small)) %>
            <%= render(Hydro::TrackViewComponent.new(name: "settings_sidebar/enterprises")) %>
          <% end %>
        <% end %>
      <% end %>

      <% unless current_user.is_enterprise_managed? %>
        <% if GitHub.user_abuse_mitigation_enabled? || GitHub.interaction_limits_enabled? || GitHub.code_review_limits_enabled? %>
          <% group.with_item(
            label: "Moderation",
            nav_classes: "org-sub-menu",
            id: "moderation-settings-item") do |item| %>
            <% item.with_item(label: "Blocked users", href: settings_blocked_users_path, selected_by_ids: :block_users ) %>

            <% if GitHub.interaction_limits_enabled? %>
              <% item.with_item(
                label: "Interaction limits",
                component_klass: Users::Settings::InteractionLimitsNavComponent,
                href: settings_interaction_limits_path,
                selected_by_ids: :interaction_limits,
                expires_at: RepositoryInteractionAbility.new(current_user).local_active_limit_expiry
              ) %>
            <% end %>

            <% if GitHub.code_review_limits_enabled? %>
              <% item.with_item(label: "Code review limits", href: settings_user_code_review_limits_path, selected_by_ids: :code_review_limits) %>
            <% end %>

            <% item.with_leading_visual_icon(icon: :report) %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <% component.with_group do |group| %>
      <% group.with_heading(heading_level: 2, title: "Code, planning, and automation") %>

      <% group.with_item(label: "Repositories", href: settings_repositories_path) do |item| %>
        <% item.with_leading_visual_icon(icon: :repo) %>
      <% end %>

      <% if current_user&.codespaces_feature_enabled? %>
        <% group.with_item(label: "Codespaces", href: settings_user_codespaces_path) do |item| %>
          <% item.with_leading_visual_icon(icon: :codespaces) %>
        <% end %>
      <% end %>

      <% group.with_item(label: "Packages", href: settings_packages_path) do |item| %>
        <% item.with_leading_visual_icon(icon: :package) %>
      <% end %>

      <% if !GitHub.enterprise? %>
        <% unless current_user.is_enterprise_managed? && !current_copilot_user.has_enterprise_seat? %>
          <% group.with_item(label: "Copilot", href: copilot_settings_path) do |item| %>
            <% item.with_leading_visual_icon(icon: :copilot) %>
          <% end %>
        <% end %>
      <% end %>

      <% if pages_domain_protection_enabled?(user: current_user) %>
        <% group.with_item(label: "Pages", href: settings_pages_path, data: test_selector_hash("pages_user_nav")) do |item| %>
          <% item.with_leading_visual_icon(icon: :browser) %>
        <% end %>
      <% end %>

      <% group.with_item(label: "Saved replies", href: saved_replies_path, selected_by_ids: [:edit_saved_reply, :saved_replies]) do |item| %>
        <% item.with_leading_visual_icon(icon: :reply) %>
      <% end %>
    <% end %>

    <% component.with_group do |group| %>
      <% group.with_heading(heading_level: 2, title: "Security") %>

      <% group.with_item(label: "Code security and analysis", href: settings_security_analysis_path, selected_by_ids: :security_analysis, data: test_selector_hash("security_analysis_user_nav")) do |item| %>
        <% item.with_leading_visual_icon(icon: :"shield-lock") %>
      <% end %>
    <% end %>

    <% component.with_group do |group| %>
      <% group.with_heading(title: "Integrations") %>

      <% group.with_item(label: "Applications", href: gh_settings_installations_path(current_user), selected_by_ids: [:applications_settings, :integration_installations]) do |item| %>
        <% item.with_leading_visual_icon(icon: :apps) %>
      <% end %>

      <% if RemindersMethods.reminders_enabled?(current_user) %>
        <% group.with_item(label: "Scheduled reminders", href: personal_reminders_path, selected_by_ids: :reminders) do |item| %>
          <% item.with_leading_visual_icon(icon: :clock) %>
        <% end %>
      <% end %>

      <% if GitHub.dotcom_connection_enabled? && (GitHub::Connect.unified_contributions_enabled? || GitHub::Connect.unified_private_search_enabled?) %>
        <% group.with_item(label: "GitHub Connect", href: settings_dotcom_user_path) do |item| %>
          <% item.with_leading_visual_icon(icon: :plug) %>
        <% end %>
      <% end %>
    <% end %>

    <% component.with_group do |group| %>
      <% group.with_heading(heading_level: 2, title: "Archives") %>

      <% group.with_item(label: "Security log", href: settings_user_audit_log_path) do |item| %>
        <% item.with_leading_visual_icon(icon: :log) %>
      <% end %>

      <% if GitHub.sponsors_enabled? %>
        <% group.with_item(label: "Sponsorship log", href: settings_user_sponsors_log_path) do |item| %>
          <% item.with_leading_visual_icon(icon: :log) %>
        <% end %>
      <% end %>
    <% end %>

    <% component.with_item(label: "Developer settings", href: gh_settings_apps_path(current_user)) do |item| %>
      <% item.with_leading_visual_icon(icon: :code) %>
    <% end %>

  <% end %>
</div>
