<div class="table-list-filters d-flex">
  <div class="table-list-header-toggle states flex-justify-start pl-3">
    <%= selected_link_to primer_octicon(:repo) + " Repositories", settings_repositories_path, class: "btn-link" %>
    <%= selected_link_to primer_octicon(:trash) + " Deleted repositories", settings_deleted_repositories_path, class: "btn-link" %>
  </div>
</div>
