<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%= render Primer::BlankslateComponent.new(
  icon: "file-code",
  title: "No errors found",
  large: true,
  spacious: true,
) do %>
  <p>
    No errors were found for
    <%= view.state %>
    alerts on
    <%= view.package_name %>
    in
    <%= link_to view.short_manifest_path,
        view.manifest_blob_path,
        class: "color-fg-default Link--inTextBlock",
        data: { octo_click: "missing_alert" },
        title: view.manifest_path
      %>.
    The error may have been resolved and deleted by recent pushes to this repository.
  </p>
<% end %>
