<%# view is an instance of RepositoryAlerts::UpdateError %>

<% if dependabot_error %>
  <div class="Box color-border-muted">
    <%= render Primer::Beta::Blankslate.new(spacious: true) do |c| %>
      <% c.with_visual_icon(icon: "alert") %>

      <% c.with_heading(tag: :h2) do %>
        Dependabot encountered an error
      <% end %>

      <% c.with_description do %>
        We've been notified of the problem, and are working to fix it.
      <% end %>
    <% end %>
  </div>
<% elsif dependabot_unavailable %>
  <div class="Box color-border-muted">
    <%= render Primer::Beta::Blankslate.new(spacious: true) do |c| %>
      <% c.with_visual_icon(icon: "stop") %>

      <% c.with_heading(tag: :h2) do %>
        Dependabot is currently unavailable
      <% end %>

      <% c.with_description do %>
        We've been notified of the problem, and are working to fix it. Please try again later.
      <% end %>
    <% end %>
  </div>
<% elsif update_job_logs.present? %>
  <div class="Box d-flex flex-column">
    <div class="Box-header timeline-comment-header py-0 clearfix">
      <h3 class="Box-title timeline-comment-header-text text-normal">
        Update logs
      </h3>
    </div>

    <div class="Box-body pt-2 p-3">
      <div class="text-mono text-small my-1 overflow-auto">
      <% update_job_logs.split("\n").each do |line| %>
        <div class="d-flex">
          <div class="d-inline-block flex-auto" style="white-space: pre-wrap;"><%= line %></div>
        </div>
      <% end %>
    </div>
  </div>
<% else %>
  <div class="Box color-border-muted mt-2">
    <%= render Primer::Beta::Blankslate.new(spacious: true) do |c| %>
      <% c.with_visual_icon(icon: "hubot") %>

      <% c.with_heading(tag: :h2) do %>
        Can't find any logs
      <% end %>

      <% c.with_description do %>
        Logs are deleted after 14 days
      <% end %>
    <% end %>
  </div>
<% end %>
