<%
  page_info(
    container_xl: true,
    dashboard_pinnable_repository_id: current_repository.global_relay_id,
    selected_link: :alerts,
    title: "#{alert.title} · Dependabot alert ##{alert.number} · #{current_repository.name_with_display_owner}",
  )
%>

<%= render layout: "layouts/repository_container", locals: { repository: current_repository } do %>
<div class="clearfix container-xl px-3 px-md-4 px-lg-5 mt-4">
  <%= render Primer::Beta::Breadcrumbs.new(mb: 3) do |breadcrumbs| %>
    <% breadcrumbs.with_item(href: repository_alerts_path).with_content("Dependabot alerts") %>

    <% breadcrumbs.with_item(href: repository_alert_path, test_selector: "alert-number").with_content("##{alert.number}") %>
  <% end %>

  <%= render DependabotAlerts::ShowComponent.new(alert: alert) %>
</div>
<% end %>
