.titleContainer {
  display: flex;
  border-bottom: var(--borderWidth-thin) solid var(--borderColor-muted, var(--color-border-muted));
}

.infoArea {
  display: flex;
  padding-top: var(--base-size-16);
  gap: var(--base-size-16);
  align-items: flex-start;
}

@media screen and (max-width: 1012px) { /* --breakpoint-large */
  .infoArea {
    flex-direction: column;
    gap: var(--base-size-12)
  }
}

.infoBlockTextOrg {
  margin-bottom: 0;
}

.tableHeaderText {
  min-height: var(--base-size-32);
}
