<p>You may have noticed a message that your account was under review. Thank you for your patience while we reviewed your case. There appears to be an issue with your billing information, please verify your details are correct.</p>
<p><%= link_to "Update Your Information", GitHub.payment_information_update_url %></p>
