<div class="Box">
  <% if successor_invite.nil? || successor_invite.canceled? %>
    <%= render Primer::Beta::Blankslate.new do |c| %>
      <% c.with_heading(tag: :h2) do %>
        You have not designated a successor.
      <% end %>
    <% end %>
  <% else %>
    <div>
      <%= render partial: "settings/successor/successor", locals: { successor_invite: successor_invite } %>
    </div>
  <% end %>
</div>
