<div class="position-relative width-full pt-8 pt-md-9 overflow-hidden">
  <div class="container-readme p-responsive-readme">
    <div class="position-relative pt-8 pt-md-9 pb-9">
      <%= render "site/readme/shared/navbar_hero" %>

      <h1 class="pt-6 pt-md-9 pb-3 readme-heading-0">
        <%= @topic[:name] %>
      </h1>

      <%= link_to readme_topics_path, class: "d-block d-sm-inline no-underline text-semibold text-uppercase arrow-target-mktg readme-text-blue text-center py-3 f4-mktg", style: "letter-spacing:0.05em;" do %>
        See all topics <%= svg("site/icons/chevrow.svg", class: "octicon") %>
      <% end %>
    </div>
  </div>
</div>
