<div class="container-readme p-responsive-readme">
  <% @stories.each do |story| %>
    <div class="d-sm-flex flex-row-reverse flex-items-center flex-sm-items-start border-sm-top pt-sm-4 pt-xl-5 mb-8">
      <div class="position-relative col-sm-4 offset-md-1 pl-sm-3 pl-md-4 mb-4">
        <%= render Site::Readme::Shared::LinkImgComponent.new(
          story: story,
          image: "hero",
          lazyload: true,
          topic_tag: false,
          dimensions: {
            width: 1000,
            height: 600
          }
        ) %>
      </div>

      <div class="col-sm-8 col-md-7">
        <%= render Site::Readme::Shared::LinkTextComponent.new(story: story) %>
      </div>
    </div>
  <% end %>
</div>
