<% page_info title: "Organizations · #{this_business.name}",
  stafftools: stafftools_enterprise_path(this_business),
  selected_link: :business_organizations %>

<%= render layout: "businesses/layout", locals: { business: this_business, title: "Organizations" } do %>
  <% if this_business_organizations_count > 0  %>
    <%= render "businesses/organizations/nav" %>
  <% end %>

  <div id="business-organizations-list">
    <%= render "businesses/organizations_list",
      organizations: organizations,
      organization_transfers: organization_transfers,
      viewer_organization_abilities: viewer_organization_abilities,
      query: query,
      show_create_org_ui: show_create_org_ui %>
  </div>
<% end %>
