<div class="d-flex flex-justify-between">
  <div class="d-flex flex-column flex-md-row flex-justify-between width-full">
    <div class="col-12 col-lg-12 pr-0 pr-md-3 my-1 my-md-2 my-lg-5">

      <h1 class="mb-2">Get started with Codespaces</h1>

        <p class="color-fg-muted">
            <a class="Link--inTextBlock" href="https://containers.dev/">Development Containers</a> are configuration files used by Codespaces and other tools implementing the
            dev container specification.  These files allow you to create a consistent, sharable development environment.
        </p>
        <p class="color-fg-muted">
            To continue, either choose a template below or
            <a class="Link--inTextBlock" <%= test_selector "codespaces-new-dev-container" %>
               href="<%= new_file_path(current_repository.owner, current_repository, current_branch_or_tag_name, filename: ".devcontainer/devcontainer.json", dev_container_template: 1) %>">
              add a <code>devcontainer.json</code>
               <%= primer_octicon(:"arrow-right") %>
            </a>
        </p>
    </div>
  </div>
</div>


