<% page_info \
  title: "Codespaces · #{current_repository.name_with_display_owner}",
  container_xl: true,
  selected_link: :repo_codespaces,
  skip_pjax_container: true,
  dashboard_pinnable_item_id: current_repository.global_relay_id
%>



<%= render layout: "layouts/repository_container", locals: { repository: current_repository } do %>
  <div class="clearfix container-xl px-3 px-md-4 px-lg-5 mt-4 d-flex flex-column">
    <div class="d-flex flex-column flex-lg-row width-full">
      <div class="flex-auto col-12 col-lg-8">
        <div class="flex-auto">
          <%= render partial: "codespaces/dev_containers/get_started" %>

        <div class="d-flex flex-column flex-md-row flex-justify-between">
            <h2 class="f3 my-3 lh-condensed">
              Templates
            </h2>
          </div>

          <div class="d-flex flex-justify-between">
            <%= render partial: "codespaces/dev_containers/template", collection: Codespaces::DevContainers::dev_container_collection_metadata_for_templates, locals: { current_repository: current_repository } %>
          </div>
        </div>
      </div>
     </div>
  </div>
<% end %>


