.container {
  display: flex;
  height: 48px;
  padding: var(--base-size-8);
  background-color: var(--bgColor-muted);
  border-bottom: var(--borderWidth-thin) solid;
  border-bottom-color: var(--borderColor-muted);
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  justify-content: flex-start;
  align-items: center;
}

.heading {
  display: flex;
  padding-right: var(--base-size-8);
  padding-left: var(--base-size-8);
  overflow: hidden;
  font-size: var(--text-body-size-medium);
  text-overflow: ellipsis;
  white-space: nowrap;
}
