.container {
  position: relative;
  display: grid;
  min-height: 2rem;
  /* stylelint-disable-next-line primer/spacing */
  padding: 0 10px;
  margin: 0;
  font-size: var(--text-body-size-medium);
  color: var(--fgColor-default);
  list-style: none;
  flex-direction: row;
  background-color: var(--bgColor-muted);
  align-items: center;
  grid-template-rows: auto;
  grid-template-areas: 'status primary secondary';
  grid-template-columns: minmax(24px, auto) minmax(0, auto) 1fr;
  border-color: var(--borderColor-muted);

  &:where(.compact) {
    min-height: 1rem;
    padding-top: var(--base-size-8);
    padding-bottom: var(--base-size-8);
  }

  &:focus-visible {
    border-radius: 0;
    outline: 2px solid var(--focus-outlineColor, var(--color-accent-fg));
    outline-offset: -2px;
    box-shadow: none;
  }
}

.title {
  grid-area: primary;
  padding-right: var(--base-size-8);
}

.leadingIconContainer {
  margin-left: var(--base-size-8);
}

.childrenContainer {
  grid-area: secondary;
}
