.container {
  display: flex;
  padding: 0 var(--base-size-8);
  font-size: var(--text-body-size-medium);
  font-weight: normal;
  line-height: 30px;
  color: var(--fgColor-muted);
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  border-radius: var(--borderRadius-medium);
  transition: background 0.12s ease-out;
  align-items: center;

  &:hover:not([disabled]) {
    text-decoration: none;
    background: var(--control-transparent-bgColor-hover);
  }

  &:active:not([disabled]) {
    background: var(--control-transparent-bgColor-active);
    border-color: var(--button-default-borderColor-active);
  }

  &:where(.selected) {
    font-weight: bold;
    color: var(--fgColor-default);
  }
}

.count {
  display: inline-block;
  min-width: 20px;
  padding: 0 var(--base-size-6);
  margin-left: var(--base-size-8);
  font-size: var(--text-body-size-small);
  font-weight: semibold;
  line-height: 18px;
  text-align: center;
  background: var(--bgColor-neutral-muted);

  &:where(.loading) {
    /* stylelint-disable-next-line primer/colors */
    color: transparent;
  }
}

.counterLabelSkeleton {
  margin-left: var(--base-size-8);
  border-radius: var(--borderRadius-full) !important;
}

.title {
  display: block;
}
