.container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.formControlContainer {
  display: flex;
  width: 32px;
  min-width: 32px;
  height: 32px;
  min-height: 32px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.count {
  display: flex;
  min-width: min-content;
  margin-right: var(--base-size-8);
  margin-bottom: 0;
  margin-left: var(--base-size-8);
  overflow: hidden;
  font-weight: bold;
  text-overflow: ellipsis;
  white-space: nowrap;
  align-items: center;
  flex: 1;
}
