<%
  row = location.ident.start.line + 1
  target_oid = location.pkg&.commit_oid || commit_oid
  target_repo = repos_by_location.fetch(location, current_repository)
  path = "#{blob_path(location.path, target_oid, target_repo)}#L#{row}"
  text = location.first_line.lstrip.split("\n").first
  highlighted_text = if (scope = Linguist::Language[language].try(:tm_scope)) && text
    safe_join(GitHub::Colorize.highlight_one(scope, text, code_snippet: true), "\n")
  else
    text
  end
  is_cross_repo = aleph_cross_repo_jump_to_definition_enabled? && location.pkg && location.pkg.repository_id != current_repository.id
%>

<li class="TagsearchPopover-list-item py-1 d-flex">
  <%= link_to(path, class: "TagsearchPopover-item", data: code_navigation_hydro_click_tracking(click_tracking_id, repo: current_repository, ref: tree_name, language: language, backend: backend, code_nav_context: code_nav_context, retry_backend: "")) do %>
    <div class="d-flex">
      <div class="text-small blob-num color-fg-muted"><%= row %></div>
      <div class="blob-code blob-code-inner"><%= highlighted_text %></div>
    </div>
  <% end %>
</li>
