<%# erblint:counter DeprecatedComponentsCounter 1 %>
<div class="flex-auto d-flex flex-justify-between f6 px-3 py-1 text-small color-bg-subtle">
  <%= render Primer::BlankslateComponent.new(
    icon: "search",
    icon_size: :small,
    title: "No #{data_kind} found using a #{display_backend} lookup.",
    title_tag: :h4,
  )%>
</div>
