<div class="Popover anim-scale-in js-tagsearch-popover"
     hidden
     data-tagsearch-url="<%= code_nav_definition_path(repo.owner, repo) %>"
     data-tagsearch-ref="<%= scrubbed_utf8(ref) %>"
     data-tagsearch-code-nav-context="<%= code_nav_context %>">
  <div class="Popover-message Popover-message--large Popover-message--top-left TagsearchPopover mt-1 mb-4 mx-auto Box color-shadow-large">
    <div class="TagsearchPopover-content js-tagsearch-popover-content overflow-auto" style="will-change:transform;">
    </div>
  </div>
</div>
