<div class="UnderlineNav pl-2 top-0 color-bg-default"
     style="position: sticky; position: -webkit-sticky; position: -moz-sticky; z-index: 2;">
  <div class="UnderlineNav-body">
    <%= button_tag("Definition".pluralize(definitions_count),
          type: "button",
          "aria-expanded": !references_selected,
          name: "definitions",
          class: "btn-link border-left-0 border-right-0 border-top-0 UnderlineNav-item text-small px-2 py-1 mr-1 #{references_selected ? 'js-details-target' : 'selected'} js-tagsearch-nav-item",
          style: "padding-top: 10px !important",
          data: code_navigation_hydro_click_tracking("click_on_definitions", repo: current_repository, ref: ref, language: language, backend: backend, code_nav_context: code_nav_context, retry_backend: "")) %>
    <%= button_tag("References",
          type: "button",
          "aria-expanded": references_selected,
          name: "references",
          class: "btn-link border-left-0 border-right-0 border-top-0 UnderlineNav-item text-small px-2 py-1 mr-1 #{references_selected ? 'selected' : 'js-details-target'} js-tagsearch-nav-item",
          style: "padding-top: 10px !important",
          data: code_navigation_hydro_click_tracking("click_on_references", repo: current_repository, ref: ref, language: language, backend: backend, code_nav_context: code_nav_context, retry_backend: "")) %>
  </div>
</div>
