<% page_info title: "Choose frequency to bulk sponsor" %>
<div class="mt-4 width-full container-lg p-responsive">
  <%= render Sponsors::BulkSponsorships::BreadcrumbComponent.new(
    page: Sponsors::BulkSponsorships::BreadcrumbComponent::Page::SelectFrequency,
    sponsor: sponsor,
  ) %>
  <h1 class="f3">Bulk sponsor</h1>
  <div class="d-sm-flex border-bottom">
    <div class="col-sm-8 pb-3 pt-2">
      <%= render Sponsors::AccountSwitcherComponent.new(
        sponsor: sponsor,
        route: :bulk_sponsorship_frequencies,
        method: :get,
        header_tag: :h2,
      ) %>
    </div>
  </div>

  <%= render Sponsors::BulkSponsorships::FrequenciesComponent.new(sponsor: sponsor) %>

</div>
