<p>
  Your organization <%= @organization_name %> now has access to GitHub Copilot.
</p>

<p>
  To start using GitHub Copilot, you need to grant seats to the users and teams
  of your choice. Check out your GitHub Copilot settings pages:
</p>

<ul>
  <li>
    <%= link_to "Manage GitHub Copilot seats in your settings", settings_org_copilot_seat_management_url(@organization_login) %>
  </li>

  <li>
    <%= link_to "Manage GitHub Copilot policies", settings_org_copilot_policies_url(@organization_login) %>
  </li>
</ul>

<p>
  For more information on setting up and using GitHub Copilot, visit the
  documentation:
  <%= link_to "GitHub Copilot documentation", "https://docs.github.com/copilot" %>.
</p>
