<p>
  <% if @grantor_name %>
    Your GitHub Copilot access has been disabled by an owner of the
    <%= @friendly_grantor_type %> <%= @grantor_name %>.
  <% else %>
    Your GitHub Copilot access has been disabled because the Copilot business or organization you were a member of has been deleted.
  <% end %>
</p>

<p>
  To continue using GitHub Copilot, ask one of the owners of your
  businesses or organizations to grant you access again, or get
  <%= link_to "GitHub #{Copilot.individual_product_name}", "https://github.com/github-copilot/signup" %>.
</p>
