<% view.issues.each do |issue| %>
  <%= render "issues/issue", view: create_view_model(
    Issues::IssueListItem,
    issue: issue,
    repo: current_repository,
    show_drag_controls: true,
    draggable: view.draggable?,
    drag_disabled_message: view.drag_disabled_message,
    hide_milestone: true,
  ) %>
<% end %>

<% unless view.last_page? %>
  <include-fragment src="<%= milestone_paginated_issues_path(view.milestone.repository.user, view.milestone.repository, view.milestone, page: view.issues.next_page, closed: params[:closed]) %>">
    <div class="text-center pt-4 pb-4">
      <%= render(Primer::Beta::Spinner.new) %>
    </div>
  </include-fragment>
<% end %>
