<%# explicit style tag added since table-list CSS construct is not responsive. Milestones layout be migrated to responsive components. %>
<ul class="table-list table-list-bordered table-list-milestones js-navigation-container js-active-navigation-container"  style="table-layout:auto;">
  <% milestones.each do |milestone| %>
    <%= render :partial => "milestones/milestone",
                :locals => {
      :view => Milestones::MilestoneView.new(current_repository, milestone)
    } %>
  <% end %>
</ul>

<% unless is_last_page %>
  <include-fragment
    src="<%= paginate_milestones_path(
      current_repository.user,
      current_repository,
      page: next_page,
      state: params[:state],
      sort: params[:sort],
      direction: params[:direction]) %>"
    loading="lazy">
    <div class="text-center pt-4 pb-4">
      <%= render(Primer::Beta::Spinner.new) %>
    </div>
  </include-fragment>
<% end %>
