<div class="d-flex flex-column flex-lg-row">

  <div class="col-12 col-lg-6">
    <div class="copilot-waitlist-header-section copilot-waitlist-header-jetbrains">
      <div class="copilot-waitlist-section-inner">
        <div class="copilot-waitlist-beta-bubble">
          Beta
        </div>
        <p class="lh-condensed copilot-waitlist-header">Get GitHub Copilot Chat in JetBrains IDEs</p>

        <p class="text-light mt-4 mb-4">
          Admission to the private beta for <%= link_to "GitHub Copilot Chat", "https://github.co/copilot-chat-jetbrains", class: "Link--inTextBlock" %>
          in JetBrains IDEs is limited to users with an active GitHub Copilot subscription. Joining the waitlist does not guarantee access.
        </p>
      </div>
    </div>
  </div>

  <div class="copilot-waitlist-form-section col-12 col-lg-6 pr-8 pb-8 pl-8 pt-10">
    <p class="mb-2 h3 lh-condensed">Thank you for your interest!</p>

    <p class="mb-2">
      Admission to the private beta for <%= link_to "GitHub Copilot Chat", "https://github.co/copilot-chat-jetbrains", class: "Link--inTextBlock" %>
      in JetBrains IDEs is limited to users with an active GitHub Copilot subscription.
      Copilot users with an Individual plan may request access by joining this waitlist.
    </p>

    <p class="mb-4">
      If you have access to Copilot through your organization (Copilot Business plan), please contact your organization administrator to ask your account manager for access to this private beta.
    </p>

    <%= render(Site::ButtonComponent.new(
      role: :button,
      url: copilot_chat_jetbrains_waitlist_signup_join_path,
      text: "Sign in to join the waitlist",
      arrow: false,
      classes: "width-full copilot-waitlist-submit-button mt-2"
    )) %>

    <p class="mt-2">
      You must sign in to your account to join the private beta waitlist.
    </p>
  </div>
</div>
