<div class="d-flex flex-column flex-lg-row">

  <div class="col-12 col-lg-6">
    <div class="copilot-waitlist-header-section copilot-waitlist-header-jetbrains">
      <div class="copilot-waitlist-section-inner">
        <div class="copilot-waitlist-beta-bubble">
          Beta
        </div>
        <p class="lh-condensed copilot-waitlist-header">Get GitHub Copilot Chat in JetBrains IDEs</p>

        <p class="text-light mt-4 mb-4">
          Admission to the private beta for <%= link_to "GitHub Copilot Chat", "https://github.co/copilot-chat-jetbrains", class: "Link--inTextBlock" %>
          in JetBrains IDEs is limited to users with an active GitHub Copilot subscription.
          Joining the waitlist does not guarantee access.
        </p>
      </div>
    </div>
  </div>

  <div class="copilot-waitlist-form-section col-12 col-lg-6 pr-8 pb-8 pl-8 pt-10">
    <p class="mb-2 h3">Thank you! You are on the waitlist for Copilot Chat in JetBrains IDEs</p>

    <p class="mb-4">
      Admission to the private beta for GitHub Copilot Chat in JetBrains IDEs will be limited. You will receive an email
      if you are granted access.
    </p>
  </div>
</div>
