<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<% if card.writable_by?(current_user) && !card.pending? %>
  <%= form_tag archive_project_card_path(card), method: :put, class: "js-archive-project-card archive-dropdown-item" do %>
    <button class="dropdown-item text-left btn-link btn-block" type="submit" role="menuitem">Archive</button>
    <input type="hidden" name="client_uid" class="js-client-uid-field">
  <% end %>
<% end %>
