<div class="js-socket-channel js-updatable-content"
    data-channel="<%= live_update_view_channel(GitHub::WebSocket::Channels.issue_state(issue)) %>"
    data-url="<%= show_partial_issue_path(id: issue, partial: "projects/card_issue_details_title_icon") %>">
  <div class="pr-2">
    <%= octicon(issue_icon(issue), class: issue_class(issue), "aria-label": issue_label(issue)) %>
  </div>
</div>
