<details class="details-reset details-overlay card-menu-container dropdown position-static">
  <summary class="color-fg-muted Link--onHover btn-octicon p-0 position-absolute right-0 top-0 mt-2 mr-3" aria-label="Card menu">
    <%= primer_octicon(:"kebab-horizontal") %>
  </summary>
  <details-menu class="dropdown-menu dropdown-menu-sw top-0 mt-4 mr-1"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
    <%= render Primer::Beta::ClipboardCopy.new(classes: "dropdown-item btn-link", text_align: :left, "aria-label": "Copy card link", value: "#{ request.protocol }#{ request.host }#{ project_path(card.project, anchor: "card-#{card.id}") }", role: "menuitem") do %>
      Copy card link
    <% end %>
    <% if (card.writable_by?(current_user) || card.removable_by?(current_user)) && !card.project.closed? %>
      <div class="dropdown-divider" role="none"></div>
      <%= capture %>
    <% end %>
  </details-menu>
</details>
