<%graphql
  fragment Project on Project {
    viewerCanUpdate
    linkedRepositoriesSettingsResourcePath

    linkedRepositories {
      name
      resourcePath
    }
  }
%><%# erblint:disable NoGraphqlFragments %>
<% project = Views::Projects::LinkedRepositoriesList::Project.new(project) %>

<span class="text-bold d-block">
  <%= primer_octicon(:link) %>
  Linked repositories
  <% if project.viewer_can_update? %>
    <a class="text-normal" href="<%= project.linked_repositories_settings_resource_path.to_s %>">(Change)</a>
  <% end %>
</span>

<div class="mb-3">
  <% project.linked_repositories.each do |repo| %>
    <a href="<%= repo.resource_path.to_s %>"><%= repo.name %></a>
  <% end %>
</div>
