<%# erblint:counter ButtonComponentMigrationCounter 10 %>
<div class="flex-auto">
  <details class="details-reset details-overlay dropdown position-relative">
    <summary class="btn width-full text-center" aria-label="Project menu">
      Project menu
      <div class="dropdown-caret"></div>
    </summary>

    <details-menu class="dropdown-menu dropdown-menu-ne project-small-menu-dropdown width-full right-0" style="min-width: 170px !important; left: auto !important;"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
      <% if project_viewer_can_update && !project_closed %>
        <div class="dropdown-header">
          Current column
        </div>
        <ul>
          <li>
            <button class="btn-link dropdown-item js-open-active-column-dialog" type="button" role="menuitem" data-dialog-prefix="edit-column" aria-expanded="false">
              Edit column
            </button>
          </li>
          <li>
            <button class="btn-link dropdown-item js-open-active-column-dialog" type="button" role="menuitem" data-dialog-prefix="edit-column-automation" aria-expanded="false">
              Manage automation
            </button>
          </li>
          <li>
            <button class="btn-link dropdown-item js-open-active-column-dialog" type="button" role="menuitem" data-dialog-prefix="archive-column" aria-expanded="false">
              Archive all cards
            </button>
          </li>
          <li>
            <button class="btn-link dropdown-item js-open-active-column-dialog" type="button" role="menuitem" data-dialog-prefix="delete-column" aria-expanded="false">
              Delete column
            </button>
          </li>
          <li class="dropdown-divider" role="none"></li>
        </ul>
        <div class="dropdown-header">
          Add new...
        </div>
        <ul>
          <li>
            <button class="btn-link dropdown-item js-show-project-triage" type="button" role="menuitem" aria-expanded="false">
              Cards
            </button>
          </li>
          <li>
            <button class="btn-link dropdown-item js-add-note-button" type="button" role="menuitem">
              Note
            </button>
          </li>
          <li>
            <button class="btn-link dropdown-item js-project-dialog-button" data-dialog-id="add-column" type="button" role="menuitem" aria-expanded="false">
              Column
            </button>
          </li>
          <li class="dropdown-divider" role="none"></li>
        </ul>
      <% end %>
      <div class="dropdown-header">
        Project board
      </div>
      <ul>
        <li>
          <button class="btn-link dropdown-item js-show-archived-cards" type="button" role="menuitem" aria-expanded="false">
            View archive
          </button>
        </li>
        <li>
          <button class="btn-link dropdown-item js-show-project-menu" type="button" role="menuitem" aria-expanded="false">
            Settings &amp; activity
          </button>
        </li>
      </ul>
    </details-menu>
  </details>
</div>
