<% repositories.each do |repository| %>
  <label class="select-menu-item" tabindex="0" role="menuitemradio">
    <input type="radio" name="repository_id" value="<%= repository.id %>" hidden required>
    <%= primer_octicon(:check, classes: "select-menu-item-icon") %>
    <span class="select-menu-item-text text-normal" data-menu-button-text>
      <%= repository.name %>
    </span>
  </label>
<% end %>
<% if repositories.empty? %>
  <div class="p-3 text-center">
    No matching repositories.
  </div>
<% end %>
