<%graphql
  fragment Project on Project {
    id
    websocket

    progress {
      enabled

      ...Views::Projects::ProjectProgress::ProjectProgress
    }
  }
%><%# erblint:disable NoGraphqlFragments %>
<%
  project = Views::Projects::ShowProgress::Project.new(project)

  css_classes = class_names(
    "js-socket-channel js-updatable-content",
    {
      "d-none": !project.progress.enabled
    }
  )
%>
<div class="<%= css_classes %>"
    data-channel="<%= live_update_view_channel(project.websocket) %>"
    data-url="<%= show_project_node_partial_path(path: "projects/show_progress", id: project.id) %>"
    style="width: 100px">
  <%= render partial: "projects/project_progress", locals: { progress: project.progress } %>
</div>
