<% page_info \
  container_xl: true,
  title: "New Project",
  selected_link: :new_repo_project,
  breadcrumb_object: Project.new(owner: project_owner)
%>

<%= render layout: "layouts/projects", locals: { project_owner: project_owner } do %>
  <div class="container-md">
    <%= render Primer::Beta::Subhead.new do |component| %>
      <% component.with_heading(tag: :h2) do %>Create a new classic project<% end %>
      <% component.with_description do %>Coordinate, track, and update your work in one place, so projects stay transparent and on schedule.<% end %>
    <% end %>

    <% selected_template ||= nil %>
    <% selected_repositories ||= nil %>
    <%= render partial: "projects/form", locals: {
          project_owner: project_owner,
          project: project,
          selected_template: selected_template,
          selected_repositories: selected_repositories,
          public_project_label: public_project_label,
          public_project_description: public_project_description,
        } %>
  </div>
<% end %>

<% content_for :scripts do %><%# erblint:disable NoContentForScripts %>
  <%= javascript_bundle "projects" %>
<% end %>
