<hr class="bleed-flush">

<dl>
  <dt>
    <span class="text-bold d-block">Link Patreon account</span>
    <p class="note mb-2">
      Connect a Patreon account for <strong>@<%= sponsorable.display_login %></strong> to give credit
      on GitHub to those sponsoring the linked Patreon account via Patreon.
    </p>
  </dt>
  <dd>
    <%= render(Sponsors::ConnectPatreonButtonComponent.new(user: sponsorable, scope: :sponsorable)) %>
  </dd>
</dl>
