<hr class="bleed-flush">

<dl>
  <dt>
    <span class="text-bold d-block">Unlink Patreon account</span>
    <p class="note mb-2">
      Disconnect the Patreon account <strong><%= patreon_email %></strong> for
      <strong>@<%= sponsorable.display_login %></strong>. Any sponsorships made on Patreon to this account will
      no longer be credited on GitHub.
    </p>
  </dt>
  <dd>
    <%= render(Sponsors::DisconnectPatreonButtonComponent.new(user: sponsorable, scope: :sponsorable)) %>
  </dd>
</dl>
