<hr class="bleed-flush">

<div class="form-group" <%= test_selector "fiscal-host" %>>
  <div><span class="text-bold d-block">Fiscal host</span></div>
  <div>
    <p>
      <strong><%= @sponsorable.display_login %>'s</strong> Sponsors account is using
      <strong><%= fiscal_host_name %></strong> as its fiscal host.
    </p>
    <p class="note">
      If this is incorrect or has changed, please <%= link_to "contact us", contact_us_url, class: "Link--inTextBlock" %>.
    </p>
  </div>
</div>
