<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%= form_tag sponsorable_legal_name_path(@sponsorable), method: :put do |f| %>
  <div class="form-group">
    <div>
      <label for="legal-name"><%= legal_name_label %></label>
      <p class="note" id="legal-name-description">
        <% if @sponsorable.user? %>
          This information is for GitHub's internal use only to make payments to your bank account.
          It will not be shared publicly OR with your sponsors.
        <% else %>
          The name of your organization so we can make payments to your organization's bank account.
        <% end %>
      </p>
    </div>
    <div>
      <input value="<%= legal_name %>" type="text" required name="legal_name" id="legal-name"
        class="form-control" aria-describedby="legal-name-description">
      <%= render Primer::ButtonComponent.new(type: :submit) do %>Save<% end %>
    </div>
  </div>

  <hr class="bleed-flush">
<% end %>
