<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%= render Primer::Beta::Flash.new(mt: 2, classes: "flash-notice", test_selector: "payout-email-banner") do %>
  This allows you to update your preferred email address for GitHub Sponsors related notifications, but does not include payout emails.
  To update your payout email address, please <a class="Link--inTextBlock" href="<%= SponsorsListing.support_url(subject: "GitHub Sponsors: Update payouts email") %>">contact support</a>.
<% end %>
