<hr class="bleed-flush">

<div class="form-group">
  <div>
    <span class="text-bold d-block">Payouts email</span>
    <p class="note">
      The email address used to contact you about payouts from Stripe Connect.
    </p>
  </div>
  <div>
    <span class="text-bold" <%= test_selector "stripe-payout-email" %>>
      <%= stripe_connect_email %>
    <% unless hide_stripe_link? %>
      </span> &mdash;
      <a class="Link--inTextBlock" href="<%= sponsorable_stripe_account_path(sponsorable, stripe_account) %>"
        target="_blank"
        rel="noopener noreferrer"
      >
        Edit in Stripe Connect account settings <%= render Primer::Beta::Octicon.new(icon: "link-external") %>
      </a>
    <% end %>
  </div>
</div>
