.chartList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-auto-rows: 1fr;
  gap: var(--base-size-16);
  max-width: 100%;
  list-style: none;
}

.chartListItem {
  width: 100%;
  min-width: calc(320px - var(--base-size-16) * 2);
}

.chartListItem > * {
  height: 100%;
}

.titleContainer {
  flex: 1;
  min-width: 50%;
}
