<%= render(Primer::Beta::BorderBox.new) do |component| %>
  <% component.with_row do %>
    <div class="d-flex flex-justify-between flex-items-center">
      <div>
        <strong>Sponsor button</strong>
        <p><%= description %></p>
      </div>
      <%= form_with(
        url: stafftools_repository_funding_links_path(repository.owner_display_login, repository.name),
        method: form_method,
      ) do %>
        <%= render(Primer::Beta::Button.new(
          type: :submit,
          disabled: !has_funding_file?,
          test_selector: "funding-links-toggle-button",
        ).with_content(button_text)) %>
      <% end %>
    </div>
  <% end %>
<% end %>
