<%
  sso_url = org_sso_path(path: org_idm_sso_path(repository.owner), return_to: return_to_path)
%>

<div class="p-3" <%= test_selector("commit-sso-hovercard") %>>
  <div class="d-flex width-full text-small">
    <%= primer_octicon(:"shield-lock", height: 36, color: :muted) %>
    <div class="ml-3">
      <a class="d-inline-block text-underline" href="<%= sso_url %>">Single sign-on</a>
      to view this commit within the <strong><%= repository.owner_display_login %></strong> organization.
    </div>
  </div>
</div>
