<% page_info title: page_title %>

<%= render Primer::Beta::BorderBox.new(border: false, border_radius: 1) do |box| %>
  <% box.with_header(font_weight: :bold, font_size: 1) do %>
    <div class="d-flex flex-justify-between text-bold">
      <div class="d-block">
        <h1>Profile</h1>

        <div class="note">
          Current profile status:

          <% if private_profile? %>
            <span class="text-emphasized color-bg-danger p-1 rounded-2">Private</span>
          <% else %>
            <span class="text-emphasized color-bg-success p-1 rounded-2">Public</span>
          <% end %>
        </div>
      </div>

      <% if private_profile? %>
        <div class="pr-2">
          <%= link_to(
            "View Full Profile",
            user_path(@user, params: { private_profile_override: true }),
            class: "btn",
          ) %>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>

<%= render Stafftools::Users::MetadataComponent.new(user:) %>
<%= render Stafftools::Users::SocialAccountsComponent.new(user_profile:, nodeinfo_cache_values:) %>
