<div class="dev-zone">
  <p class="dev-zone-heading">Fake states</p>
  <div>
    <a href="/setup/updates/never">Never Ran</a>
    <a href="/setup/updates/running">Running</a>
    <a href="/setup/updates/latest">Latest</a>
    <a href="/setup/updates/downloading">Downloading</a>
    <a href="/setup/updates/downloaded">Downloaded</a>
    <a href="/setup/updates/error/network">Error - Network</a>
    <a href="/setup/updates/error/no-package">Error - No Package</a>
    <a href="/setup/updates/error/not-enough-space">Error - Not Enough Space</a>
    <a href="/setup/updates/error/verification-failed">Error - Verification Failed</a>
    <a href="/setup/updates/error/unsupported-version">Error - Unsupported Version</a>
    <a href="/setup/updates/error/downloading">Error - Download</a>
    <a href="/setup/updates/error/interrupted">Error - Interrupted</a>
    <a href="/setup/updates/error/upgrade-check-failed">Error - Upgrade Check Failed</a>
    <a href="/setup/updates/scheduled/notstarted">Package Not Started</a>
    <a href="/setup/updates/scheduled/running">Package Running</a>
    <a href="/setup/updates/scheduled/done">Package Done</a>
    <a href="/setup/updates/scheduled/error">Package Error</a>
  </div>
</div>
