<div class="flash flash-error visible">
  <% case @updates.status %>
  <% when "ERROR_NETWORK" %>
    <h2>Network error</h2>
    <p><code>ghe-update-check</code> <a class="js-click2copy click2copy js-tooltipped" data-clipboard-text="ghe-update-check" title="Copy to clipboard"  data-preclick-title="Copy to clipboard" data-copied-hint="Copied!"><span class="octicon octicon-clippy"></span></a> encountered a network error. This may mean it cannot reach the internet or your instance is misconfigured.</p>
  <% when "ERROR_NO_PACKAGE" %>
    <h2>No upgrade package found</h2>
    <p>No suitable upgrade package was found for your platform. This is likely an error on our side. <a href="https://support.github.com">Contact support</a> and we'll be in touch to fix the problem.</p>
  <% when "ERROR_NOT_ENOUGH_SPACE" %>
    <h2>Not enough space</h2>
    <p>Not enough space at the target location to download the new update package. Please SSH into your instance and clear more space or use a larger storage device.</p>
  <% when "ERROR_VERIFICATION_FAILED" %>
    <h2>Checksum verification failed</h2>
    <p>The file downloaded doesn't match the checksum given. <code>ghe-update-check</code> <a class="js-click2copy click2copy js-tooltipped" data-clipboard-text="ghe-update-check" title="Copy to clipboard"  data-preclick-title="Copy to clipboard" data-copied-hint="Copied!"><span class="octicon octicon-clippy"></span></a> will attempt to download the file again.</p>
  <% when "ERROR_UNSUPPORTED_VERSION" %>
    <h2>Unsupported version</h2>
    <p>Your version of GitHub Enterprise no longer supports autoupdates. Please update to a newer series (e.g. upgrade from 2.3 series to 2.4 series)</p>
  <% when "ERROR_DOWNLOADING" %>
    <h2>Could not download package</h2>
    <p>Ran into an error when trying to download the newest update package. This could be due to network issues or our remote server. Try again a bit later, or attempt to manually run <code>ghe-update-check</code> <a class="js-click2copy click2copy js-tooltipped" data-clipboard-text="ghe-update-check" title="Copy to clipboard"  data-preclick-title="Copy to clipboard" data-copied-hint="Copied!"><span class="octicon octicon-clippy"></span></a> on the instance to get more verbose output.</p>
  <% when "ERROR_INTERRUPTED" %>
    <h2>Update check was interrupted</h2>
    <p><code>ghe-update-check</code> <a class="js-click2copy click2copy js-tooltipped" data-clipboard-text="ghe-update-check" title="Copy to clipboard"  data-preclick-title="Copy to clipboard" data-copied-hint="Copied!"><span class="octicon octicon-clippy"></span></a> was terminated prematurely by <code>SIGINT</code> or <code>SIGKILL</code>.</p>
  <% when "ERROR_UPGRADE_CHECK_FAILED" %>
    <h2>Upgrade package check failed</h2>
    <p>Your system doesn't meet some minimum requirements. Please consult the <code>/data/user/common/ghe-update-check.log</code> <a class="js-click2copy click2copy-addon-code js-tooltipped octicon-transparent" data-clipboard-text="/data/user/common/ghe-update-check.log" title="Copy to clipboard"  data-preclick-title="Copy to clipboard" data-copied-hint="Copied!"><span class="octicon octicon-clippy octicon-transparent"></span></a> and <code>/var/log/preflight-check-report.json</code> <a class="js-click2copy click2copy-addon-code js-tooltipped octicon-transparent" data-clipboard-text="/var/log/preflight-check-report.json" title="Copy to clipboard"  data-preclick-title="Copy to clipboard" data-copied-hint="Copied!"><span class="octicon octicon-clippy"></span></a>for details or check <a href="https://docs.github.com/enterprise-server/admin/installation/setting-up-a-github-enterprise-server-instance"> <b>document</b> </a> on minimum requirements</p>
    <%== erb :"updates/_preflight_check_result" %>
  <% end %>
</div>
