<form action="/setup/updates" method="POST" class="form-list js-updates-form">
  <%== csrf_tag %>
  <% if @updates.enabled? %>
    <hr>
    <input type="hidden" name="enabled" value="false"/>
    <p>
      Want to manually check for updates?
      <button type="submit" class="btn-link">Disable automatic checking</button>
    </p>
  <% else %>
    <input type="hidden" name="enabled" value="true"/>
    <button type="submit" class="btn btn-primary js-auto-updates-toggle">Yes, automatically check for updates</button>
  <% end %>
</form>
