<% if @auto_install.available? %>
  <% scheduled_at = @auto_install.scheduled_at %>
  <div class="auto-install">
    <p>You can run installation now or schedule it to run later on.</p>
    <form action="/setup/updates/schedule" method="POST">
      <%== csrf_tag %>
      <% if scheduled_at %>
        <input type="hidden" name="enabled" value="false"/>
        <p>
          Want to stop the package update?<br/>
          <button type="submit" class="btn-link">Remove scheduled update</button>
        </p>
      <% else %>
        <input type="hidden" name="enabled" value="true"/>
        <% install = "Install" %>
        <% schedule = "Schedule" %>

        <div class="columns install-select">
          <label class="one-fourth column">Install package:</label>
          <div class="one-half column">
            <select name="install_at" class="inline-input">
              <option data-action="<%== install %>" value="now">Now</option>
              <option data-action="<%== schedule %>" data-input="#dt-hidden-input" value>Schedule for later</option>
            <select>

            <input type="hidden"
                   id="dt-hidden-input"
                   class='js-datepicker'
                   data-field="datetime"
                   data-opts='{ "minuteInterval": 5, "buttonsToDisplay": ["HeaderCloseButton", "SetButton"] }'
                   data-min="today"
                   data-format="yyyy-MM-dd hh:mm"
                   data-picker="#dt-box">
            <div id="dt-box"></div>
          </div>
          <div class="one-fourth column">
            <button class="btn btn-primary" type="submit">
              <%== scheduled_at ? schedule : install %>
            </button>
          </div>
        </div>
      <% end %>
    </form>
  </div>
<% end %>
