<form action="/setup/updates/check" enctype="multipart/form-data" method="POST" class="js-check-now-form">
  <%== csrf_tag %>
  <button type="submit" class="btn btn-primary check-update js-check-now" <% if @updates.running? || @check_now %>disabled="true"<% end %>>Check for updates</button>
</form>
