<div class="blankslate">
  <h2>Automatically check for updates</h2>
  <p>Automatic update checking ensures that GitHub Enterprise always has the latest updates ready to install. When enabled, your instance will periodically send GitHub a small amount of information about what version and platform you're using so we know when it's time for you to upgrade. We won't use this information publicly in any way that could identify you.</p>

  <br>

  <%== erb :"updates/_form_auto_updates" %>

  <br>

  <p>
    <small>
      All external communication will be sent over HTTPS, using any proxies configured and logged at <code>/data/user/common/ghe-update-check.log</code> <a class="js-click2copy click2copy js-tooltipped" data-clipboard-text="/data/user/common/ghe-update-check.log" title="Copy to clipboard"  data-preclick-title="Copy to clipboard" data-copied-hint="Copied!"><span class="octicon octicon-clippy"></span></a> on the appliance.
    </small>
  </p>
</div>
