<%# erblint:counter DeprecatedComponentsCounter 1 %>
<h3 class="sr-only">Citation</h3>
<div class="mt-2">
  <details class="dropdown details-reset details-overlay d-inline-block">

    <%= render(Primer::ButtonComponent.new(tag: :summary, scheme: :link, color: :muted, classes: "no-underline")) do %>
      <%= render Primer::Beta::Octicon.new(icon: "cross-reference", mr: 2) %>
      Cite this repository
      <div class="dropdown-caret"></div>
    <% end %>

    <details-menu
      class="dropdown-menu dropdown-menu-sw p-0"
      src="<%= repository_citation_hovercard_path(current_repository.owner_display_login, current_repository.name, tree_name: tree_name) %>"
      style="width: 344px; top: 28px;"
      preload
    ><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
      <include-fragment class="SelectMenu-loading pb-0" aria-label="Menu is loading">
        <div data-hide-on-error>
          <%= render(Primer::Beta::Spinner.new(my: 3, mx: :auto, display: :block)) %>
        </div>
        <p data-show-on-error hidden>
          Something went wrong.
        </p>
      </include-fragment>
    </details-menu>
  </details>
</div>
