<div id="all_commit_comments" class="js-quote-selection-container" data-quote-markdown=".js-comment-body">
  <div class="mb-1 mb-md-3">
    <%= render :partial => "commit/visible_comments_header", :object => commit %>
  </div>

  <div id="comments" class="comment-holder ml-0 pl-0 ml-md-6 pl-md-3">
    <%= render :partial => "commit/timeline_marker", :object => commit %>
  </div>

  <% if view.weirich? %><%= render :partial => "commit/roses" %><% end %>

  <%= render :partial => "commit/new_comment_input", :locals => { :commit => commit } %>
</div>
