<div class="commit-branches pb-2">
  <%= include_cached_fragment(cache_key: commit_branches_cache_key(commit),
                              src: commit_branches_path(commit),
                              id: "async-branches-list") do %>
    <div class="pt-2">
      <%= primer_octicon(:"git-branch") %>
      <ul class="branches-list">
        <li class="loading">Loading branch information<span class="AnimatedEllipsis"></span></li>
      </ul>
    </div>
  <% end %>
</div>
