<div class="Subhead">
  <h2 class="Subhead-heading">Commit</h2>
</div>

<a href="<%= commit_path(commit.oid) %>" class="d-none js-permalink-shortcut" data-hotkey="y">Permalink</a><%# erblint:disable DataHotkey %>

<% if view.weirich? %><%= render :partial => "commit/weirich_tribute" %><% end %>

<%= render "commit/full_commit_detail", commit: commit, show_checks_status: show_checks_status %>
