<%
  badge_size ||= "small"
  dropdown_direction ||= "s"
  html_class ||= "d-inline-block"
%>

<%= render GitHub::BatchDeferredContentComponent.new(
      url: commit_badges_path,
      classes: html_class,
      inputs: {
        id: verifiable_global_relay_id,
        badge_size: badge_size,
        dropdown_direction: dropdown_direction
      }) do %>

  <% if indicate_loading %>
    <span class="Skeleton d-inline-block mr-1" style="width:75px; height:14px; margin-bottom:-4px;"></span>
  <% end %>
<% end %>
