<%# view is `Commits::BranchListView` %>

<%= cache spoofed_commit_check_cache_key(view.commit) do %>
  <%# If the current commit is not present in any branches or pull requests, it's likely spoofed. %>
  <% if view.branches_with_pull_requests.none? && !view.pr_search_problem %>
    <%# This element being rendered triggers the actual warning from _spoofed_commit_warning.html.erb to be unhidden %>
    <span id="js-spoofed-commit-warning-trigger" <%= test_selector("commit-does-not-exist-in-repo") %>></span>
  <% end %>
<% end %>
