<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter DeprecatedComponentsCounter 1 %>
<div id="spoof-warning" class="mt-0 pb-3" hidden aria-hidden>
  <%= render Primer::Beta::Flash.new(scheme: :warning, mt: 0, clearfix: true) do %>
    <%= primer_octicon(:alert, float: :left, mt: 1) %>

      <div class="overflow-hidden">This commit does not belong to any branch on this repository, and may belong to a fork outside of the repository.</div>
  <% end %>
</div>
