<%- commit = visible_comments_header %>

<div id="partial-visible-comments-header" class="d-flex flex-items-center <% if responsive? %>flex-column-reverse flex-md-row<% end %>">
  <h3 class="h4 flex-auto <% if responsive? %>text-md-left text-center<% end %>">
    <%= pluralize(number_with_delimiter(commit.comment_count), "comment") %>
    on commit <code class="commit-sha"><%= commit.to_s[0..6] %></code>
  </h3>

  <div class="flex-shrink-0 <% if responsive? %>mb-2 mb-md-0<% end %>">
    <%= render partial: "commit/locking", locals: { commit: commit } %>
  </div>
</div>
