<%# erblint:counter FlashMigrationCounter 1 %>
<%#
  Historical banner for Jim Weirich tribute:
  https://github.com/jimweirich/wyriki/commit/d28fac7f18aeacb00d8ad3460a0a5a901617c2d4
%>
<div class="flash color-bg-default color-fg-default border rounded-2 p-4 mb-4">
  <img src="<%= image_path "modules/commit/flowers@2x.png" %>" alt="" width="88" height="49" class="float-left mt-1 mr-4">
  <h2>Thanks for everything, Jim.</h2>
  <p>We will miss you.</p>
</div>
