<%= render Primer::BaseComponent.new(
  tag: :'loading-spinner',
  display: :flex,
  justify_content: :center,
  align_items: :center,
  direction: :column,
  **system_arguments
) do %>
    <%= render(Primer::Beta::Spinner.new(
      test_selector: "loading-spinner"
    )) %>
    <p <%= test_selector "loading-message" %> class="color-fg-muted my-2 mb-0"><%= @message %></p>
<% end %>
