<%= render(Primer::Box.new(classes: "billing-credit-card js-billing-payment-methods disabled", test_selector: "payment-information-form")) do %>
  <noscript>
    <p class="flash flash-error">
      Oh no! It looks like JavaScript is disabled in your browser.
      <strong>Please enable JavaScript</strong> to submit payment details.
    </p>
  </noscript>
  <%= render(Billing::Settings::PaymentMethodFormComponent.new(
    target: target,
    new_name_address_design: true,
    signature_view_context: Billing::Zuora::HostedPaymentsPage::BUSINESS_SELF_SERVE_SIGNATURE_VIEW_CONTEXT,
    return_to: return_to_path,
  )) %>
<% end %>
