<div class="border-top py-4 color-border-muted" <%= test_selector("sponsors-profile-featured-work") %>>
  <p class="f3-light color-fg-muted mb-3">
    Featured work
  </p>
  <ol class="d-flex flex-wrap flex-justify-between list-style-none gutter-condensed">
    <% featured_repositories.each do |item| %>
      <% repo = item.featureable %>
      <li class="d-flex col-12 col-lg-6 float-left mb-3" <%= test_selector("sponsors-profile-featured-repo-#{repo.id}") %>>
        <%= render(Sponsors::Shared::FeaturedRepositoryComponent.new(repo: repo)) %>
      </li>
    <% end %>
  </ol>
</div>
