<div class="mt-3 pb-4 d-flex flex-wrap">
  <% featured_sponsorships.each do |sponsorship| %>
    <%=
      render Sponsors::Profile::SponsorAvatarComponent.new(
        user_or_org: sponsorship.featureable.linked_or_direct_sponsor,
        sponsorship: sponsorship.featureable,
        size: 50,
      )
    %>
  <% end %>
</div>
