<p class="color-fg-sponsors text-small" <%= test_selector("sponsorship-is-matchable") %>>
  <%= render(Primer::Beta::Octicon.new(icon: "heart", vertical_align: :top, classes: "icon-sponsoring")) %>
  GitHub will match <%= message %>. <a class="Link--inTextBlock" href="<%= help_url %>">Learn more about the GitHub Sponsors Matching Fund</a>.
</p>
