<%= render(Primer::Beta::BorderBox.new(mb: 4)) do |component| %>
  <% component.with_body(display: :flex, align_items: :center) do %>
    <%= image_tag "email/sponsors/mona.png", height: 50, alt: "", class: "mr-3" %>
    <div class="flex-1">
      <p>
        As part of your tier, you get access to <%= link_to(repository.name_with_display_owner, repository_path(repository), class: "Link--inTextBlock") %>.
      </p>
    </div>
  <% end %>
<% end %>
