<% page_info responsive: false, title: "Fine-grained Personal Access Token Requests", selected_link: :pending_requests %>

<%= render layout: "orgs/settings/layout" do %>
  <%= render Primer::Beta::Subhead.new do |component| %>
    <% component.with_heading do %>Fine-grained personal access token requests<% end %>
  <% end %>

  <%= render partial: "orgs/settings/third_party_access/personal_access_tokens/subnav_search", locals: {
    url: settings_org_personal_access_token_requests_path(current_organization),
    container_id: "token-requests-container", placeholder: "Filter fine-grained personal access tokens requests"
  } %>

  <div id="token-requests-container">
    <%= render partial: "orgs/settings/third_party_access/personal_access_token_requests/requests_container", locals: { grant_requests: grant_requests } %>
  </div>
<% end %>
