<% if @tabs.size > 1 %>
  <nav class="SelectMenu-tabs" role="tablist" aria-label="Tabs">
    <% @tabs.each_with_index do |tab, i| %>
      <%= render Primer::Beta::BaseButton.new(aria: { selected: i == 0 }, classes: "SelectMenu-tab", role: :tab) do %>
        <%= tab.title %>
      <% end %>
    <% end %>
  </nav>
<% end %>

<% @tabs.each_with_index do |tab, i| %>
  <%= render(
    Primer::Experimental::SelectMenu::ListComponent.new(
      hidden: i != 0,
      id: tab.id,
      role: @tabs.size > 1 ? :tabpanel : nil,
      title: tab.title,
      test_selector: "filter-options-#{i}"
    )
  ) do |list| %>
    <% SecurityCenter::SelectMenuComponentHelper.fill_tab(
      default_selected_slug: @default_selected_slug,
      is_multiselect: @is_multiselect,
      items: tab.items,
      list: list,
      qualifier_to_valid_values_map: @qualifier_to_valid_values_map,
      query: @query,
      query_parser: @query_parser,
      use_default_selected_slug_on_invalid_values: @use_default_selected_slug_on_invalid_values
    ) do |item| %>
      <%= render(SecurityCenter::SelectMenu::ItemComponent.new(item: item)) %>
    <% end %>
  <% end %>
<% end %>
