<li>
  <%= link_to @href, class: "enterprise-customer-agreement d-flex py-2 no-underline position-relative" do %>
  <div class="flex-shrink-0 mr-2 top-1 position-relative">
    <% icons.each do |icon| %>
    <%= render icon %>
    <% end %>
  </div>

  <div>
    <h3 class="f3-mktg text-semibold">
      <%= @title %>
    </h3>

    <%= content_tag(:p, @subtitle, class: "f6-mktg color-fg-muted my-2") if @subtitle.present? %>
  </div>
  <% end %>
</li>
