<div class="customer-terms-update pl-7 position-relative mb-7">
  <%= render Primer::Beta::Octicon.new(icon: "git-commit", size: :medium, position: :absolute, top: 0, bg: :default, style: "left: 5px;") %>
  <%= content_tag(:h2, @title, class: "h5-mktg mb-3", id: "#{@title.parameterize}") if @title.present? %>

  <% updates.each do |update| %>
    <%= render update %>
  <% end %>
</div>
