<% data = [
  {
    title: 'Python: Small fixes for typeTracker',
    body: '#4207 opened 2 hours ago by RasmusWL・Approved',
    url: 'https://github.com/github/codeql/pull/4207'
  },
  {
    title: 'JS: Fix inconsistencies in `js/unsafe-jquery-plugin`',
    body: '#4206 opened 3 hours ago by erik-krogh・Review required',
    url: 'https://github.com/github/codeql/pull/4206'
  },
  {
    title: 'C#:Add stable order for generated accessors in printed AST',
    body: '#4205 opened 3 hours ago by tamasvajk・Review required',
    url: 'https://github.com/github/codeql/pull/4205'
  },
  {
    title: 'C++: Support `!= constant` in range analysis',
    body: '#4204 opened 3 hours ago by jbj・Review required',
    url: 'https://github.com/github/codeql/pull/4204'
  },
] %>

<div class="width-full position-relative d-flex flex-column mt-8 mt-md-0">
  <div class="d-flex flex-column rounded-2 mb-1 color-bg-overlay box-shadow-card-dark-mktg js-build-in-trigger" data-build-in-stagger="100">
    <% data.each_with_index do |item, i| %>
      <a href="/" class="px-3 py-2 no-underline d-flex flex-row flex-items-center js-build-in-item build-in-slideX-right <% unless i == 0 %>border-top border-white-fade<% end %>">
        <%= primer_octicon(:"git-pull-request") %>
        <div class="ml-2">
          <span class="d-block f5-mktg color-fg-default"><%= item[:title] %></span>
          <span class="d-block f6-mktg color-fg-muted mb-1"><%= item[:body] %></span>
        </div>
      </a>
    <% end %>
  </div>

  <div class="mt-2">
    <%= render Site::LinkComponent.new(text: "See all code scanning query PRs", url: "https://github.com/github/codeql/pulls", size: :medium) %>
  </div>
</div>
