<%# required locals: button_text, agreement_title, agreement_body_html %>
<% button_class ||= "btn" %>
<% signature_created_at ||= nil %>

<%= render layout: "shared/details_dialog", locals: {
  button_class: button_class,
  button_text: button_text,
  title: agreement_title,
} do %>
  <div class="Box-body markdown-body overflow-auto">
    <%= agreement_body_html %>
  </div>
  <% if signature_created_at.present? %>
    <div class="Box-footer color-fg-muted text-left">
      You agreed to these terms <%= time_ago_in_words_js signature_created_at %>.
    </div>
  <% end %>
<% end %>
