<%# erblint:counter DeprecatedInPrimerCounter 1 %>
<div class="MarketplaceFeature col-3 flex-auto px-2 anim-fade-in">
  <%= render partial: "marketplace_listings/featured_listing_link", locals: { marketplace_listing: marketplace_listing, break_logo_cache: break_logo_cache } %>
  <p class="MarketplaceFeature-text color-text-white text-center px-3 lh-condensed js-hero-listing-description"><%= listing_short_description %></p>
</div>
