<%
  viewer_can_request_approval, viewer_can_request_unverified_approval = Promise.all([
    listing.async_can_request_approval?(current_user),
    listing.async_unverified_approval_requestable_by?(current_user),
  ]).sync
%>

<p class="pt-3">
  <% if !listing.allow_app_publish? %>
    <% if owner&.user? %>
      Applications published by a personal account on GitHub cannot offer paid plans. You can either remove paid plans to publish the app or transfer the application to an organization to get the publisher verified and offer paid plans. Refer to our <a class="Link--inTextBlock" href="<%= GitHub.developer_help_url %>/marketplace/listing-on-github-marketplace/setting-a-github-marketplace-listing-s-pricing-plan/" target="_blank" rel="noopener noreferrer">documentation</a> to know more.
    <% else %>
      Checklist items should be completed before requesting publish or you can remove paid plan from your draft to skip the checklist.
    <% end %>
  <% else %>
      After submission, your listing will be reviewed by GitHub for publishing. We'll notify you via email with updates. Any existing subscriptions will be removed.
  <% end %>
</p>

<% if listing.published_paid_plans? %>
  <%= button_to "Request publish",
  verified_listing_approval_request_path(listing.slug),
  class: "btn float-left btn-sm btn-primary mt-2 #{'disabled' unless viewer_can_request_approval}",
  disabled: !viewer_can_request_approval %>
<% else %>
  <%= button_to "Request publish",
  unverified_listing_approval_request_path(listing.slug),
  class: "btn float-left btn-sm btn-primary mt-2 #{'disabled' unless viewer_can_request_unverified_approval}",
  disabled: !viewer_can_request_unverified_approval %>
<% end %>
