<p class="alt-merge-options text-small mt-md-0 mt-2">
  <span class="js-remove-unless-platform" data-platforms="windows,mac">
    You can also
    <%= link_to "open this in GitHub Desktop", app_clone_url(nil, pull), class: "Link--inTextBlock",
      data: hydro_click_tracking_attributes("pull_request.merge_external", client_type: "DESKTOP") %>
  </span>
  or view
  <%= button_tag class: "btn-link js-details-target Link--inTextBlock", type: "button", :"aria-expanded" => "false",
      data: hydro_click_tracking_attributes("pull_request.merge_external", client_type: "GIT") do %>
    command line instructions
  <%- end -%>.
</p>
