<%= render Primer::Alpha::Dialog.new(title: "Switch default branch to another branch", classes: "overflow-visible") do |d| %>
  <% d.with_show_button(icon: "arrow-switch", "aria-label": "Switch to another branch", id: "switch-branch-button", test_selector: "switch-default-branch", ml: 1) %>
  <% d.with_header(show_divider: true) %>
  <% d.with_body(mt: 2) do %>
    <p>
      Choose another branch to use as the default branch of <%= current_repository.name_with_display_owner %>
      instead of <span class="commit-ref user-select-contain f6"><%= current_repository.default_branch_for_display %></span>:
    </p>
    <%= render "edit_repositories/admin_screen/default_branch_select" %>
  <% end %>
<% end %>
