<div class="protip">
  <p>
    <a href="<%= GitHub.dependabot_version_updates_help_url %>" target="_blank" rel="noopener noreferrer">Dependabot version updates</a>
    automatically keep your application up-to-date by periodically updating dependencies to their latest versions.
    <% if current_repository.automated_security_updates_visible_to?(current_user) %>
      <%= link_to "Dependabot security updates", repository_alerts_path(current_repository.owner, current_repository), class: "Link--inTextBlock" %>
      can also help keep dependencies updated.
    <% end %>
  </p>
</div>
