<div class="Box color-border-muted">
  <%= render Primer::Beta::Blankslate.new(spacious: true) do |c| %>
    <% c.with_visual_icon(icon: "alert") %>

    <% c.with_heading(tag: :h2) do %>
      Dependabot encountered an error
    <% end %>

    <% c.with_description do %>
      We've been notified of the problem, and are working to fix it.
    <% end %>
  <% end %>
</div>
