<%# erblint:counter DeprecatedComponentsCounter 3 %>
<div class="Box color-border-muted">
  <%= render Primer::BlankslateComponent.new(
    icon: "versions",
    title: "Dependabot version updates aren't configured yet",
    description: "Dependabot creates pull requests to keep your dependencies up-to-date.",
    spacious: true,
  ) do %>
    <p>
      <% if current_repository.dependabot_config_file_exists? %>
        <%= render Primer::ButtonComponent.new(
          tag: :a,
          href: file_edit_path(current_repository.owner, current_repository, current_repository.default_branch, current_repository.fetch_dependabot_config),
          scheme: :primary,
          size: :small,
          "aria-label": "Configure Dependabot version updates"
          ) do %>Configure<%end%>
      <% else %>
        <%= render Primer::ButtonComponent.new(
          tag: :a,
          href: new_file_path(name: current_repository.default_branch, dependabot_template: 1, filename: ".github/dependabot.yml"),
          scheme: :primary,
          size: :small,
          "aria-label": "Create config file"
          ) do %>Create config file<%end%>
      <% end %>
    </p>
    <p>
      <a href="<%= GitHub.dependabot_version_updates_help_url %>" target="_blank" rel="noopener noreferrer">Learn more</a><%# erblint:disable GitHub::Accessibility::AvoidGenericLinkText %>
    </p>
  <% end %>
</div>
