<div class="Box color-border-muted">
  <%= render Primer::Beta::Blankslate.new(spacious: true) do |c| %>
    <% c.with_visual_icon(icon: "stop") %>

    <% c.with_heading(tag: :h2) do %>
      Dependabot is currently unavailable
    <% end %>

    <% c.with_description do %>
      We've been notified of the problem, and are working to fix it. Please try again later.
    <% end %>
  <% end %>
</div>
