<div class="border-bottom pb-3 clearfix">
  <div class="float-left lh-condensed">
    <h4>Current plan</h4>
    <span class="text-small color-fg-muted d-block">
      <%= view.current_plan_description %>
    </span>
  </div>
  <% if view.show_current_plan_price? %>
    <p class="float-right mb-0 lh-condensed"><span class="f4 d-block"><%= view.current_plan_formatted_total_price %></span><span class="text-small color-fg-muted d-block text-right">/ <%= view.subscription_duration.downcase %></span></p>
  <% end %>
</div>
