<%
  if button_location != :sidebar
    button_text = "Save"
    button_aria_label = "Save as new filter"
    button_class = "btn"
    details_class = "js-custom-inbox-details js-save-search-details ml-2 d-none d-md-block"
  else
    if GitHub.flipper[:notifications_a11y_filters_migration].enabled?(current_user)
      button_text = "Add new filter"
      button_icon = "plus"
      button_aria_label = "Customize filters"
      button_class = "f5 ml-2 d-block mt-2 color-fg-muted hover-text-link"
      details_class = "js-custom-inbox-details d-none d-md-block"
    else
      button_text = ""
      button_icon = "gear"
      button_aria_label = "Customize filters"
      button_class = "btn-link f6 ml-2 d-block"
      details_class = "js-custom-inbox-details d-none d-md-block"
    end
  end
%>

<%= render(layout: "shared/details_dialog", locals: {
    title: "Filters",
    dialog_class: "Box-overlay--wide js-custom-inbox-dialog",
    deferred_loading_url: notifications_beta_custom_inboxes_dialog_path,
    button_text: button_text,
    button_icon: button_icon,
    button_aria_label: button_aria_label,
    button_class: button_class,
    details_class: details_class
}) do %>
  <div class="overflow-y-auto js-custom-inbox-dialog-spinner">
    <%= render(Primer::Beta::Spinner.new(my: 3, mx: :auto, display: :block)) %>
  </div>
  <div class="js-custom-inbox-dialog-content overflow-y-auto"></div>
<% end %>
