<%
  button_text = ""
  button_icon = "gear"
  button_aria_label = "Customize filters"
  button_class = "f6 ml-1 pt-2 d-block Button--secondary Button--medium Button"
  details_class = "js-custom-inbox-details d-md-block"
%>

<%= render(layout: "shared/details_dialog", locals: {
    title: "Filters",
    dialog_class: "Box-overlay--wide js-custom-inbox-dialog",
    deferred_loading_url: notifications_beta_custom_inboxes_dialog_path,
    button_text: button_text,
    button_icon: button_icon,
    button_aria_label: button_aria_label,
    button_class: button_class,
    details_class: details_class,
    use_h1_dialog_header: true,
}) do %>
  <div class="overflow-y-auto js-custom-inbox-dialog-spinner">
    <%= render(Primer::Beta::Spinner.new(my: 3, mx: :auto, display: :block)) %>
  </div>
  <div class="js-custom-inbox-dialog-content overflow-y-auto"></div>
<% end %>
