.watchCounter {
  display: inline-block;
  /* stylelint-disable-next-line primer/spacing */
  padding: 0 6px;
  background-color: var(--buttonCounter-default-bgColor-rest, var(--color-btn-counter-bg));
}

.watchButton {
  width: var(--base-size-32);
  height: var(--base-size-32);
  padding: 0;
}

.watchButton [data-component="leadingVisual"] {
  margin-right: 0 !important;
  color: var(--fgColor-muted, var(--color-fg-muted));
}
