<div class="d-flex flex-items-center">
  <span class="no-wrap px-2 text-bold"><%= event_text %></span>
  <div class="flex-1 text-right">
    <% if branches.blank? && event != "workflow_dispatch" %>
      <span class="commit-ref">**</span>
    <% end %>
    <% branches&.each do |branch| %>
      <span class="commit-ref"><%= branch.to_s.dup.force_encoding(Encoding::UTF_8).scrub! %></span>
    <% end %>
    <% if more_branches_text.present? %>
      <span <%= test_selector("more-branches") %>>and <%= more_branches_text %></span>
    <% end %>
  </div>
</div>
