<div data-has-more-items="<%= pinnable_items.has_more? %>">
  <% pinnable_items.each_with_index do |pinnable_item, i| %>
    <%= render Dashboard::Favorites::PinnableFavoriteComponent.new(
      pinnable_item: pinnable_item,
      is_first_item: i == 0,
      has_more_items: pinnable_items.has_more?,
      next_page: pinnable_items.next_page,
      is_pinned: pinned_items.include?(pinnable_item),
      pinned_items_remaining: pinned_items_remaining,
      pagination_url: dashboard_favorites_modal_path(page: pinnable_items.next_page),
      this_user: current_user
    ) %>
  <% end %>
</div>
