<%# erblint:counter DeprecatedComponentsCounter 3 %>
<% documentation_url = "#{GitHub.help_url}/articles/authorizing-a-personal-access-token-for-use-with-a-saml-single-sign-on-organization/" %>

<%= render Primer::BlankslateComponent.new(title: "Authorization check", classes: "js-cap-retry-checking", hidden: true) do %>
  <p>Something went wrong while checking. Please retry. <%= link_to "See the documentation", documentation_url, class: "Link--inTextBlock" %> for more information.</p>
  <%= render(Primer::ButtonComponent.new(id: "js-retry-cap-check")) { "Retry check" } %>
<% end %>

<%= render Primer::BlankslateComponent.new(title: "Authorization failed", classes: "js-cap-forbidden", hidden: true) do %>
  <p>At this time, you do not meet all requirements to access this organization.</p>
<% end %>
