<% current_grantable = current_grant || null_grant %>

<div id="js-grant-summary">
  <%= render(Primer::Beta::Subhead.new(hide_border: true)) do |component| %>
    <% component.with_heading(tag: :h4, font_size: 4, font_weight: :bold) { t("personal_access_tokens.repository_selection.heading") }%>
  <% end %>

  <%= render "personal_access_tokens/repository_selection_list", grant: current_grantable %>

  <div class="d-flex flex-row py-5">
    <div class="mr-5 flex-1">
      <%= render ProgrammaticAccess::PermissionsListComponent.new(grant: current_grantable, type: current_grantable.target.class.name) %>
    </div>
    <div class="flex-1">
      <%= render ProgrammaticAccess::PermissionsListComponent.new(grant: current_grantable, type: "Repository") %>
    </div>
  </div>
</div>
