<%# view is instance of IntegrationInstallations::SuggestionsView %>

<% display_as_list ||= false %>
<% skip_heading ||= false %>

<div class="mb-4">
  <% unless skip_heading %>
    <%= render Primer::Beta::Subhead.new(spacious: true) do |component| %>
      <% component.with_heading(tag: :h3, font_size: 3, text_weight: :emphasized) { "Repository access" } %>
    <% end %>
  <% end %>

  <% if display_as_list %>
    <%= render "personal_access_tokens/repository_selection_list", grant: current_grant_request %>
  <% else %>
    <div id="repository-selection"></div>
    <%= render "integration_installations/select_repositories", view: view %>
  <% end %>
</div>
