<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<%
  unassign_self_url = unassign_self_from_issue_path(id: issue.number)
  can_assign = with_database_error_fallback(fallback: false) do
    issue_permissions(issue, current_user, :assignable)
  end
%>

<span class="css-truncate js-issue-assignees">
  <% if issue.assignees.any? %>
    <% issue.assignees.each do |assignee| %>
      <p>
        <%= render "issues/sidebar/user",
        user: assignee,
        fill: true,
        show_unassign_link: current_user == assignee && !can_assign,
        unassign_self_url: unassign_self_url
         %>
      </p>
    <% end %>
  <% elsif can_assign && current_repository_writable? %>
    No one—<button type="submit" class="btn-link Link--muted Link--inTextBlock js-issue-assign-self" name="issue[user_assignee_ids][]" value="<%= current_user.id %>" <%= test_selector("assign-yourself-link") %>>assign yourself</button>
  <% else %>
    No one assigned
  <% end %>
</span>
