<% if milestone = issue.milestone %>
  <%= render(Primer::Beta::ProgressBar.new(mt: 1, mb: 2)) do |component| %>
    <% component.with_item(percentage: milestone.progress_percentage) %>
  <% end %>
  <a title="<%= milestone.title %>" href="<%= gh_milestone_path(milestone, current_repository) %>" class="Link--secondary mt-1 d-block text-bold css-truncate"><%# erblint:disable GitHub::Accessibility::NoTitleAttribute %>
    <strong class="css-truncate-target width-fit"><%= truncate(milestone.title, length: 40) %></strong>
  </a>
<% else %>
  No milestone
<% end %>
