<% if show_pull_request_reviews_hint?(pull_request) %>
  <p class="mt-2">
    <% if changes_requested_on_pull_request?(pull_request) %>
      Requested changes must be addressed to merge this pull request.
    <% else %>
      At least <%= pluralize(pull_request.base_branch_rule_evaluator.required_approving_review_count, "approving review") %> <%= "is".pluralize(pull_request.base_branch_rule_evaluator.required_approving_review_count) %> required to merge this pull request.
    <% end %>
  </p>
<% end %>
