<%# `view` is an instance of IntegrationInstallations::SuggestionsView %>
<%= render partial: "reminders/form/repository_suggestion", collection: view.suggestions, as: :repository %>
<div class="p-3 js-no-repository-found" hidden>No repositories found.</div>
