<% if teams.empty? %>
  <div class="select-menu-item disabled" data-empty="true">
    No teams found <% if query.present? %>matching <%= query %><% end %>
  </div>
<% else %>
  <% teams.each do |team| %>
    <%= render "reminders/form/team_selection", name: team.name, description: team.description, database_id: team.id, checked: false %>
  <% end %>
<% end %>
