<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# Will force team_ids to always be present. This allows us to deselect everything %>
<input type="hidden" name="reminder[team_ids][]">

<details class="select-menu details-reset details-overlay js-teams-details" id="orgs-teams-menu">
  <%= render Primer::ButtonComponent.new(tag: :summary) do %>
    <span class="js-team-orgs-summary-text" data-default-label="Add a team">Add a team</span>
    <span class="dropdown-caret"></span>
  <% end %>

  <details-menu class="SelectMenu SelectMenu--hasFilter js-orgs-team-menu" role="menu"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
    <div class="SelectMenu-modal">
      <remote-input src="<%= reminders_url_for(:team_autocomplete) %>" class="SelectMenu-filter js-orgs-teams-remote-input" aria-owns="repo-team-filter-results">
        <input type="text" id="search-teams" class="SelectMenu-input form-control js-remote-orgs-team-input" aria-label="Search for a team" placeholder="Search for a team" autofocus>
      </remote-input>

      <div class="SelectMenu-list js-orgs-teams-list">
        <div class="js-repo-team-selected">
          <% view.selected_teams.each do |team| %>
            <%= render "reminders/form/team_selection", name: team.name, description: team.description, database_id: team.id, checked: true %>
          <% end %>
        </div>

        <div class="js-repo-team-filter-results" id="repo-team-filter-results">
          <div class="SelectMenu-loading">
            <%= render(Primer::Beta::Spinner.new) %>
          </div>
          <footer class="SelectMenu-footer">Loading...</footer>
        </div>
      </div>
    </div>
  </details-menu>
</details>
