<div class="d-flex flex-auto flex-justify-center py-6">
  <div class="text-center py-6">
    <div class="mb-2">
      <% if loading %>
        <%= render(Primer::Beta::Spinner.new(color: :muted)) %>
      <% elsif icon %>
        <%= render(Primer::Beta::Octicon.new(icon, height: 32, color: :muted)) %>
      <% end %>
    </div>
    <h4 class="color-fg-muted text-mono f5 text-normal"><%= message %></h4>
  </div>
</div>
