<ul class="mt-n2">
  <% check_runs.each do |check_run| %>
    <li class="pt-2 d-flex flex-items-center">
      <span class="mr-2 flex-shrink-0">
        <%= render Actions::WorkflowRuns::StatusComponent.new(conclusion: check_run.conclusion, status: check_run.status, size: 16) %>
      </span>
      <%= render Actions::WorkflowRuns::WorkflowJobRunNameComponent.new(name: check_run.visible_name, can_split_name: check_run.workflow_job_run&.reusable_job?) %>
    </li>
  <% end %>
</ul>
