/* stylelint-disable primer/colors */
/* stylelint-disable primer/borders */
/* stylelint-disable primer/spacing */
.hideHorizontalOverflow {
  overflow-x: clip;
}

.sectionIntro {
  display: grid;
  grid-template-rows: auto;
  height: 100%;
  grid-auto-rows: max-content;
  justify-items: start;
}

.topOfStack {
  position: relative;
  z-index: 2;
}

.relative {
  position: relative;
  z-index: 1;
}

.gitLinesBg {
  background-position: center center;
  background-size: cover;
}

.ctaBanner {
  background-color: var(--brand-color-canvas-subtle);
  border-radius: var(--brand-borderRadius-xlarge);
}

.noBottomRadius {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.cards {
  --brand-Grid-spacing-row: var(--base-size-32);
}

.breadcrumbsOffset {
  margin-top: calc(-1 * var(--base-size-96));
}

/*
 * Hero video glow
 * Opt-in feature. Not officialy-support Primer Brand pattern.
 */

@keyframes scaleAnimation {
  0% {
    opacity: 0.1;
    transform: translateX(200px) scale(0.5);
  }

  100% {
    opacity: 1;
    transform: translateX(200px) scale(1);
  }
}

.heroVideoGlow::before,
.heroVideoGlow::after {
  --diameter: 520px;
  --radius: 720px;
  --topOffset: 600px;
  --leftOffset: 45%;

  position: absolute;
  top: var(--topOffset);
  bottom: 0;
  left: var(--leftOffset);
  display: block;
  width: var(--diameter);
  height: var(--diameter);
  content: '';
  filter: blur(200px);
  border-radius: var(--radius);
  opacity: 0;
  transform: translateX(200px) scale(0.99);
  transform-origin: center 0;
  animation: scaleAnimation 3s var(--brand-animation-easing-default) forwards;
  animation-delay: 0.5s;
}

.heroVideoGlow::before {
  top: calc(var(--topOffset) - 100px);
  left: calc(var(--leftOffset) - 200px);
}

[data-color-mode='light'] .heroVideoGlow::before {
  background: var(--base-color-scale-blue-2);
}

[data-color-mode='light'] .heroVideoGlow::after {
  background: var(--base-color-scale-purple-2);
}

[data-color-mode='dark'] .heroVideoGlow::before {
  background: var(--base-color-scale-blue-7);
}

[data-color-mode='dark'] .heroVideoGlow::after {
  background: var(--base-color-scale-purple-7);
}

.statistic {
  width: 100%;
}
