<% content_for :header do %>
  GitHub is having a problem billing your account.
<% end %>

<p>
  Please <%= link_to "update your payment method", settings_user_billing_url %>.
</p>

<% if @cancelled_subscription_item_names.present? %>
  <p>
    As a result of this billing issue the following subscriptions have been cancelled:
  </p>
  <p>
    <% @cancelled_subscription_item_names.each do |name| %>
      <%= name %><br>
    <% end %>
  </p>
<% end %>
