<% content_for :header do %>
  You have deleted your GitHub account
<% end %>

<%= render Mail::HeaderTitleComponent.new title: "Account deleted" %>

<p>
  This email is to confirm that you’ve deleted your <strong><%= @user %></strong> account from GitHub.
</p>

<p>
  Your repositories and content have been deleted from the system and your
  <strong><%= @user %></strong> username will be available for registration on a new account after 90 days.
</p>

<p>
  If you were on a paid plan, you will not be billed again.
</p>

<p>
  We’re sorry to see you go.
</p>

<% content_for :footer_text do %>
  You’re receiving this email because you deleted your account on GitHub.
<% end %>
