<% content_for :header do %>
  Your account has been flagged.
<% end %>

<p>
  Your public content is now hidden from other users.
</p>

<% if @dsa_source && !@dsa_source.empty? %>
  <%= render 'mailers/account/shared/dsa_explanation' %>
<% end %>
<%= render 'mailers/account/shared/reinstatement_and_appeal_instructions' %>
