<p>
  Your two-factor authentication recovery codes were viewed on <%= @viewed_at.strftime("%B %d, %Y at %H:%M %Z") %>.
</p>
<p>
  If this was you, no further action is required.
</p>
<p>
  If this was <b>not</b> you, your account may be compromised. Visit <%= settings_security_url %> to create a new, strong password for your GitHub account.
</p>

<div>
  <p>
    For more information on securing your account, visit the following:
    <ul>
      <li><a href="<%= GitHub.help_url %>/articles/creating-a-strong-password/">Creating a strong password</a></li>
      <li><a href="<%= GitHub.help_url %>/code-security/supply-chain-security/end-to-end-supply-chain/securing-accounts/">Best practices for securing accounts</a></li>
    </ul>
  </p>
</div>
