<% content_for :header do %>
  You have been suspended from GitHub.
<% end %>

<% if @dsa_source && !@dsa_source.empty? %>
  <%= render 'mailers/account/shared/dsa_explanation' %>
<% end %>

<%= render 'mailers/account/shared/reinstatement_and_appeal_instructions' %>

<% if @cancelled_subscription_item_names && !@cancelled_subscription_item_names.empty? %>
  <p>
    As a result of your suspension the following subscriptions have been cancelled:
  </p>
  <p>
    <% @cancelled_subscription_item_names.each do |name| %>
      <%= name %><br>
    <% end %>
  </p>
<% end %>
