<%#
  READ BEFORE EDITING: If making edits to this mailer, keep in mind that the context of this mailer is the _first_
  email notification a user will receive when enrolled in a 2FA requirement AND they do not have 2FA enabled on their account.
  If the user continues to be in a 2FA disabled state, they will receive multiple followup emails to warn them (two_factor_requirement_warning.html.erb)
  If the user continues to be in a 2FA disabled state and they reach the deadline, they will receive a final email telling them 2FA is now required (two_factor_requirement_now_enforced.html.erb)
%>

<p>
  We're reaching out to let you know that, as announced last year, we have officially begun requiring users who
  contribute code on GitHub.com to have two-factor authentication (2FA) enabled.
</p>

<p>
  Your account meets this criteria, and you will need to enroll in 2FA within 45 days, by <%= @two_factor_required_by %>. After this
  date, your access to GitHub.com will be limited until you enroll in 2FA. Enrolling is easy, and we support several
  options, starting with TOTP apps and text messages (SMS) and then adding on passkeys and the GitHub Mobile
  app.
</p>

<p>
  <a href="https://github.com/settings/two_factor_authentication/setup/intro">Click here to enroll in 2FA</a>.
</p>

<p>
  Making the software supply chain more secure is a team effort, and we can't do it without you. Your enrollment in
  2FA is an impactful step in keeping the world's software secure. If you want to learn more about this change,
  please take a look at our <a href="https://docs.github.com/authentication/securing-your-account-with-two-factor-authentication-2fa">documentation about the program</a>.
</p>
