<%#
  READ BEFORE EDITING: If making edits to this mailer, keep in mind that the context of this mailer is
  that a user has hit a scheduled cadence of receiving this mailer and still has not enabled 2FA.
  They will receive this email multiple times before hitting their deadline as long as they still have not enabled 2FA.
%>

<p>
  This is a reminder that <a href="https://github.blog/2022-05-04-software-security-starts-with-the-developer-securing-developer-accounts-with-2fa/">we announced</a>
  that we are requiring users contributing code on GitHub.com to enable two-factor authentication (2FA).
  You are receiving this notification because your account meets this criteria and will be required to enroll in 2FA by <%= @two_factor_required_by %>.
</p>

<p>
  Please see the below FAQ, or learn more about <a href="https://docs.github.com/authentication/securing-your-account-with-two-factor-authentication-2fa/about-two-factor-authentication">2FA on GitHub Help.</a>
</p>

<%= render partial: "mailers/account/shared/two_factor_requirement/faq_2fa_disabled" %>
