<%#
  READ BEFORE EDITING: If making edits to this mailer, keep in mind that the context of this mailer is different than the other Bulwark requirement mailers.
  This mailer is sent to users who have 2FA enabled, and the content is meant to inform them of the upcoming deadline.
  We want to highlight that NO ACTION IS REQUIRED, and mostly trying to let them know that they shouldn't disable 2FA in the meantime.
  This is also the _only_ mailer sent to these users (so that we don't bug them too much since they already have 2FA enabled).
%>

<p>
  We're reaching out to let you know that as announced last year,
  we will <a href="https://github.blog/2023-03-09-raising-the-bar-for-software-security-github-2fa-begins-march-13">officially begin</a> requiring two-factor authentication (2FA) for certain contributors on GitHub.com.
  You are receiving this notification because your account meets the criteria for the current enrollment group, and you have 2FA enabled already.
</p>

<p>
  <b>You don't need to do anything</b> in response to this email. After <%= @two_factor_required_by %>, you will no
  longer be able to disable 2FA. If you disable 2FA before then, your access to GitHub.com will be restricted on this
  date until you re-enable 2FA. This email, and a dismissible banner on GitHub.com, will be the only notifications
  about this change.
</p>

<p>
  For more information about this program, please take a look at <a href="https://docs.github.com/authentication/securing-your-account-with-two-factor-authentication-2fa">our documentation</a>.
</p>

<p>
  Making the software supply chain more secure is a team effort, and we couldn't do it without you. Your enrollment in 2FA is an impactful step in keeping the world's software secure.
</p>
