<%#
  READ BEFORE EDITING: If making edits to this mailer, keep in mind that the context of this mailer is
  that a user has hit their 2FA requirement deadline AND they still do not have 2FA enabled.
%>

<p>
  As of <%= @two_factor_required_by %> your account now requires two-factor authentication (2FA).
  If you have not yet enrolled, your account activities will be limited until you finish the enrollment process.
</p>

<p>
  Please see the below FAQ, or learn more about <a href="https://docs.github.com/authentication/securing-your-account-with-two-factor-authentication-2fa/about-two-factor-authentication">2FA on GitHub Help.</a>
</p>

<%= render partial: "mailers/account/shared/two_factor_requirement/faq_2fa_disabled" %>
