<%# rubocop:disable Lint/InstanceVariable %>
<% page_info :title => "Authorized GitHub-owned OAuth Applications", selected_link: :authorized_github_owned_oauth_apps %>

<div class="boxed-group">
  <h3>Authorized GitHub-owned OAuth Apps</h3>
  <div class="boxed-group-inner">
    <% if @github_owned_oauth_apps.any? %>
      <ul class="boxed-group-list standalone">
        <li>
          These OAuth apps are owned and operated by GitHub.
        </li>
        <% @github_owned_oauth_apps.each do |authorization| %>
          <li class="oauth-access">
            <% if authorization.accessed_at %>
              <span class="time">Last accessed <%= time_ago_in_words authorization.accessed_at %> ago</span>
            <% else %>
              <span class="time">Never accessed</span>
            <% end %>
            <span class="application-name css-truncate css-truncate-target">
              <%= link_to(authorization.application.name, stafftools_user_application_authorization_path(authorization.user, authorization.application)) %>
            </span>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p>This account has not authorized any GitHub-owned OAuth Apps.</p>
    <% end %>
  </div>
</div>

<div class="paginate-container">
  <%= will_paginate @github_owned_oauth_apps %>
</div>
