<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%graphql
  fragment ProjectColumn on ProjectColumn {
    databaseId
    name
    workflowResourcePath

    ...Views::ProjectWorkflows::Presets::ProjectColumn
  }

  fragment Project on Project {
    ...Views::ProjectWorkflows::Presets::Project
  }
%><%# erblint:disable NoGraphqlFragments %>
<% project_column = Views::ProjectWorkflows::Edit::ProjectColumn.new(project_column) %>
<% project = Views::ProjectWorkflows::Edit::Project.new(project) %>
<% errors ||= nil %>

<div class="d-flex flex-column flex-auto overflow-hidden js-column-form-container">
  <div class="Box-header">
    <h3 class="Box-title">Manage automation for <%= project_column.name %></h3>
  </div>
  <div class="Box-body border-0 rounded-0 m-0 py-0 overflow-auto">
    <%= form_tag project_column.workflow_resource_path.to_s,
        "data-column-id": project_column.database_id,
        method: :put,
        autocomplete: "off",
        class: "pb-3 js-update-project-column js-column-settings-form" do %>
      <input type="hidden" name="client_uid" class="js-client-uid-field">

      <%= render partial: "project_workflows/presets", locals: { project_column: project_column, project: project, errors: errors, show_heading: false } %>

      <div class="d-flex d-sm-block">
        <%= render Primer::ButtonComponent.new(scheme: :primary, flex: :auto, "data-disable-invalid": "", "data-disable-with": "Updating automation...", type: :submit) do %>
          Update automation
        <% end %>
      </div>
    <% end %>
  </div>
</div>
