<% page_info \
    title: "Success! Thank you for subscribing",
    class: "page-responsive min-width-0 f4" %>

<div class="py-6 py-sm-8 py-lg-10 py-xl-12">
  <div class="container-sm mx-auto p-responsive text-center">
    <h1 class="h1 mb-3">Thank you for subscribing</h1>
    <p class="f3 color-fg-default">
      Success! You’ll start receiving updates from GitHub soon. You can always update your preferences by signing in and changing your <a class="Link--inTextBlock" href="/settings/emails">email settings</a>.
    </p>
  </div>
</div>
