<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% page_info \
    title: "Confirm your subscription",
    class: "page-responsive min-width-0 f4" %>

<div class="py-6 py-sm-8 py-lg-10 py-xl-12">
  <div class="container-sm mx-auto p-responsive text-center">
    <h1 class="h1 mb-3">Confirm your subscription</h1>
    <p class="mb-3">Subscribe if you’d like to hear about new features, community events, and tips and tricks for developers using GitHub.</p>
    <%= form_tag email_optin_path do %>
      <%= render Primer::ButtonComponent.new(type: :submit, scheme: :primary) do %>Subscribe to updates<% end %>
    <% end %>
  </div>
</div>
