<div class="Box mt-3 py-2 px-3 d-flex flex-column">
  <div class="d-flex flex-row flex-items-center">
    <div class="flex-1">
      <div class="d-flex f5">
        <%= render Sponsors::BulkSponsorshipIconComponent.new(size: 24, mr: 2) %>
        <span class="text-bold mr-2">
          Bulk Sponsor
        </span>
        <span>
          Sponsor multiple maintainers in one easy transaction.
        </span>
      </div>
    </div>

    <%= render Primer::Beta::Button.new(
      tag: :a,
      href: bulk_sponsorships_path,
      data: hydro_click_data,
      test_selector: "bulk-sponsor-button",
    ).with_content("Get started") %>
  </div>
</div>
