<% if show_latest_news == true %>
  <div class="container-xl p-responsive py-9 py-md-12">
    <h2 class="h2-mktg mb-4 mb-md-6">Latest News</h2>

    <turbo-frame id="developer_policy_news" loading="lazy" src="/about/developer-policy/news">
      <%= render "site/about/developer_policy/news/list", news: [{}, {}, {}, {}] %>
    </turbo-frame>
  </div>
<% end %>
