<div class="py-4 pr-3 pr-md-5 d-flex flex-items-center color-bg-default color-shadow-small f5-mktg">
  <%= link_to about_developer_policy_path, class: "Link--primary text-bold no-underline flex-auto d-none d-sm-flex flex-items-center pl-3 pl-md-5" do %>
    <%= render(Primer::Beta::Octicon.new(icon: "mark-github", size: :medium)) %>&nbsp;Policy
  <% end %>

  <a class="Link--muted pl-3 pl-md-4" href="https://github.blog/category/policy/">Blog</a>
  <a class="Link--muted pl-3 pl-md-4" href="https://twitter.com/GitHubPolicy">Twitter</a>
  <a class="Link--muted pl-3 pl-md-4" href="https://github.com/github/developer-policy">Repository</a>
  <a class="Link--muted pl-3 pl-md-4" href="https://github.blog/tag/github-transparency-report/">Transparency Report</a>
</div>
