<div <%= mktg_color_theme_attributes %>>
  <div class="container-xl p-responsive py-9 py-md-12 position-relative">
    <img class="position-absolute d-none d-sm-block" style="top: 40px; left: -140px;" src="<%= image_path "modules/site/about/developer-policy/testimonial-decoration-1.png" %>" width="152" height="232" alt="" aria-hidden="true" loading="lazy">

    <div class="col-8-max mx-auto py-6 position-relative z-1">
      <figure>
        <blockquote class="f0-mktg mb-4 position-relative">
          <span class="d-block text-center text-sm-left position-relative position-md-absolute top-3 top-md-0 left-0 left-md-n4 left-lg-n5 text-bold" style="font-size: 3rem;">“</span>

          <p>GitHub is leading the way for developers’ rights worldwide. Our Policy team uses its voice to advocate for the developer community and shape policies that impact the software ecosystem as a whole.</p>
        </blockquote>

        <figcaption class="text-mono f4-mktg color-text-secondary-inverse">Mike Linksvayer<span class="d-none d-md-inline"> // </span><br class="d-block d-md-none">Head of Developer Policy</figcaption>
      </figure>
    </div>

    <img class="position-absolute d-none d-sm-block" style="top: 120px; right: -60px;" src="<%= image_path "modules/site/about/developer-policy/testimonial-decoration-2.png" %>" width="72" height="232" alt="" aria-hidden="true" loading="lazy">

    <img class="position-absolute" style="bottom: 40px; right: -140px;" src="<%= image_path "modules/site/about/developer-policy/testimonial-decoration-3.png" %>" width="152" height="232" alt="" aria-hidden="true" loading="lazy">
  </div>
</div>
