  <div class="select-menu-list" style="max-height: 200px;">
<% if @owners.empty? %>
    <div class="my-3 mx-auto" style="text-align: center;">No owners available</div>
<% else %>
  <% @owners.each do |new_owner| %>
      <%=
        render Repositories::New::OwnerMenuOptionComponent.new(
          owner_option: new_owner,
          default_selected_option: @default_owner,
        )
      %>
  <% end %>
<% end %>
</div>
