<%# erblint:counter FlashMigrationCounter 1 %>
<task-lists disabled sortable>
<%# Fixing Markdown rendering problem with table hack; see https://github.com/github/github/pull/65253 %>
<table class="d-block user-select-contain" data-paste-markdown-skip>
  <tbody class="d-block">
    <tr class="d-block">
      <td class="d-block comment-body markdown-body <% if comment.created_via_email? %>email-format<% end %> js-comment-body">
        <% if comment.body_html.present? %>
          <%= comment.body_html %>
        <% else %>
          <p class="color-fg-muted">
            <em>No description provided.</em>
          </p>
        <% end %>
      </td>
    </tr>
    <% if comment.is_a?(PlatformTypes::Issue) %>
      <tr class="d-block pl-3 pr-3 pb-3 js-comment-body-error" hidden>
        <td class="d-block">
          <div class="flash flash-warn" role="alert">
            <p class="mb-1">
              <%= render Primer::Beta::Octicon.new(icon: :info) %>
              The text was updated successfully, but these errors were encountered:
            </p>
              <ol class="mb-0 pl-4 ml-4">
              </ol>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</task-lists>
