<%= render_nothing_on_error do %>
  <%
  completions_url = repo_diff_summary_completions_path(pull_request.base_user, pull_request.base_repository)
  base = pull_request.base_sha.force_encoding("utf-8").scrub!
  head = pull_request.head_sha.force_encoding("utf-8").scrub!
  head_id = pull_request.head_repository_id
  user_feedback_opt_in = !GitHub.enterprise? && !!copilot_organization&.user_feedback_opt_in_enabled?
  %>
  <div class="js-copilot-summary-banner-container">
    <%= csrf_hidden_input_for(completions_url, method: :post) %>
    <%= render_react_partial name: "copilot-summary-banner", props: {
      url: completions_url,
      base_revision: base,
      head_revision: head,
      head_repo_id: head_id,
      user_feedback_opt_in: user_feedback_opt_in,
      classification_options: Copilot::CompletionFeedback.classification_map,
    }.transform_keys { |k| k.to_s.camelize(:lower) }, ssr: false %>
  </div>
<% end %>
