<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% reason ||= nil %>

<div class="previewable-comment-form">
  <div class="comment-form-head tabnav" aria-hidden="true">
    <div class="tabnav-tabs">
      <span class="tabnav-tab write-tab selected">Write</span>
      <span class="tabnav-tab preview-tab">Preview</span>
    </div>
  </div>
  <%= render Primer::BlankslateComponent.new(
    icon: "lock",
    test_selector: "limited-conversation-blankslate",
  ) do %>
    <p>This conversation has been locked <% if reason %>as <strong><%= reason.downcase&.gsub("_", " ") %></strong> <% end %>and limited to collaborators.</p>
  <% end %>
</div>
