<%# erblint:counter DeprecatedComponentsCounter 1 %>
<div class="previewable-comment-form">
  <div class="comment-form-head tabnav">
    <div class="tabnav-tabs">
      <span class="tabnav-tab write-tab selected">Write</span>
      <span class="tabnav-tab preview-tab ">Preview</span>
    </div>
  </div>
  <%= render Primer::BlankslateComponent.new(
    icon: "lock",
    description: "This repository has been locked while a migration is in progress.",
    test_selector: "limited-conversation-blankslate",
  ) %>
</div>
