<div class="comment js-suggested-changes-container" data-thread-side="<%= side.downcase if defined?(side) && side %>">
  <div class="comment-body markdown-body js-preview-body" <% if defined?(size_to_fit) && !size_to_fit %>data-skip-sizing style="max-height:50vh;"<% end %>>
    <p>Nothing to preview</p>
  </div>
</div>
