<p class="comment-form-error comment-show-stale">
  <%= render(Primer::Beta::Octicon.new(icon: "alert")) %> The content you are editing has changed.
  Please copy your edits and refresh the page.
</p>
