<% content_for :content do %>
  <main aria-label="GitHub Copilot">
    <%
      page_info title: "GitHub Copilot",
              responsive: false,
              selected_link: :organization_copilot_settings_seat_management
    %>
    <%= render layout: "orgs/settings/layout" do %>
      <%= yield %>
    <% end %>
  </main>
<% end %>
<%= render template: 'layouts/application' %>
