<% content_for :content do %>
  <main>
    <%= render layout: "settings/settings" do %>
      <% if local_assigns[:payload][:newsiesAvailable] %>
        <%= yield %>
      <% else %>
        <%= render "notifications/unavailable" %>
      <% end %>
    <% end %>
  </main>
<% end %>

<%= render template: 'layouts/application' %>
