<% content_for :content do %>
  <div class="<% if full_height? %>d-flex flex-auto overflow-hidden<% end %>">
    <main <% unless skip_pjax_container? %>id="js-repo-pjax-container"<% end %> <% if full_height? %>class="d-flex flex-column flex-auto overflow-hidden"<% end %>>
      <%= render layout: "edit_repositories/edit" do %>
        <%= yield %>
      <% end %>
    </main>
  </div>
<% end %>

<%= render template: 'layouts/application' %>
