<% page_info :title => "Advanced Security Committers", :selected_link => :ghas_committers %>
<%= render layout: "stafftools/stafftools" do %>
  <h1 class="sr-only">Advanced Security Committers</h1>
  <%= render Stafftools::AdvancedSecurity::BusinessCommittersFormComponent.new(
    this_business: GitHub.global_business,
    entities: request.params[:entities]
  ) %>
<% end %>
