<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter DeprecatedComponentsCounter 1 %>
<div class="Box-row" data-target="async-audit-log.resultsError">
  <%= render(Primer::Beta::Flash.new(scheme: :danger)) do %>
    <%= render(Primer::Beta::Octicon.new("alert")) %>
      There was an error retrieving your results. Please try again later.
      <%= render Primer::Beta::CloseButton.new(ml: 2, classes: "SelectMenu-closeButton btn-link", aria_label: "Dismiss this message", "data-action": "click:async-audit-log#closeResultsError", float: :right) %>
  <% end %>
</div>
