<div class="pt-4 position-relative container"><%# erblint:disable DeprecatedCustomCss %>
  <%= render Primer::Beta::Subhead.new do |component| %>
    <% component.with_heading(tag: :h2) do %>Attribution Invitations<% end %>
  <% end %>

  <p class="mt-3">
  Below are your invitations to claim contributions (like issues, pull
  requests, and comments) made in the <em><%= current_organization.display_login %></em>
  organization.
  </p>
  <p class="mb-3">
  If you have made contributions as the login listed under "Source Login" on another
  version control system, clicking "Accept" will reattribute those contributions
  to your current GitHub account. If a source login is unfamiliar to you, please
  contact the administrator listed under "Initiated By."
  </p>

  <table class="Box width-full">
    <thead>
      <tr class="Box-header">
        <th class="p-3 Box-title text-left">Source Login</th>
        <th class="p-3 Box-title text-left">Initiated By</th>
        <th class="p-3 Box-title text-left">Initiated On</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: "orgs/attribution_invitations/invitation_row",
        collection: invitations,
        as: :invitation %>
    </tbody>
  </table>
</div>
