<%= render(SecretScanning::Mailers::LayoutComponent.new(
  title: @title,
  icon: @icon,
  )) do |layout| %>
  <% layout.with_header_text do %>
    Action needed: Please change your password
  <% end %>
  <% layout.with_subheader_text do %>
    <% if @url.present? %>
      <p>We found your GitHub credentials in <a href="<%= @url %>" style="text-decoration: none;"><%= @url_text %></a>.</p>
    <% end %>
    <p>To keep your account secure and continue using GitHub, you will need to change your password. If you have already changed your password, no further action is required.</p>
    <p>Make sure your password is not accidentally defined in your .gitconfig file (e.g. in the email or name field).</p>
  <% end %>
  <% layout.with_main_section do %>
    <%= render(SecretScanning::Mailers::NextStepsComponent.new(
      review_url: settings_security_url,
      review_link_text: "your active sessions",
      cta_message: "Update your password",
      cta_button_text: "Update your password",
      cta_button_url: settings_security_url,
    )) %>
  <% end %>
  <% layout.with_footer_text do %>
    <p>You are receiving this email because GitHub scanned for exposed tokens or private key credentials in your code.</p>
  <% end %>
<% end %>
