<%
  page_info title: "Edit Discussion Category · #{ is_org_level? ? this_organization.display_login : current_repository.name_with_display_owner }",
    container_xl: true,
    selected_link: :repo_discussions
%>
<%= render layout: "discussions/conditional_discussions_layout" do %>
  <div class="container-md px-3 px-md-4 px-lg-5">
    <div class="d-flex flex-justify-between flex-items-baseline mb-3">
      <%= render(Primer::Beta::Heading.new(tag: :h1, font_size: 2)) { "Edit category" } %>
    </div>
    <%= render(Discussions::CategoryFormComponent.new(
      category: category,
      repository: current_repository,
      viewer_can_create_announcements: current_repository.can_create_discussion_announcements?(current_user),
      org_param: is_org_level? ? this_organization.display_login : nil,
      )) %>
  </div>
<% end %>
