<p class="flash flash-warn js-reminder-client-error <%= client_class %>" <% if hidden %> hidden <% end -%>>
  <%# 'More details here' link to documentation not final yet %>
  <% if this_organization.adminable_by?(current_user) %>
    Before using scheduled reminders, you must install <%= client_name %> Integration. More details here.
  <% else %>
    Before using scheduled reminders, an organization owner must install <%= client_name %> Integration. More details here.
  <% end %>
</p>
