<p class="flash flash-warn js-reminder-client-error <%= client_class %>" <% if hidden %> hidden <% end -%>>
  <% if this_organization.adminable_by?(current_user) %>
    Before using scheduled reminders, you must <%= link_to("upgrade your #{client_name} Integration", gh_permissions_update_request_settings_installation_path(client_installation), class: "Link--inTextBlock") %>.
  <% else %>
    Before using scheduled reminders, an organization owner must upgrade your <%= client_name %> Integration.
  <% end %>
</p>
