<% content_for :header do %>
  <%= "GitHub is having a problem billing #{@organization.name}." %>
<% end %>

<p>
  Please <%= link_to "update your organization payment method", settings_org_billing_url(@organization) %>.
</p>

<% if @cancelled_subscription_item_names.present? %>
  <p>
    As a result of this billing issue the following subscriptions have been cancelled:
  </p>
  <p>
    <% @cancelled_subscription_item_names.each do |name| %>
      <%= name %><br>
    <% end %>
  </p>
<% end %>

<% content_for :footer_text do %>
  You're receiving this email because an organization you're an administrator for is having payment issues.
<% end %>
