<p>Search for the team with your security personnel to add the security manager role to their permissions. If you don't yet have a team for your security personnel, follow <%= render(Primer::Beta::Link.new(href: HELP_URL, classes: "Link--inTextBlock")) { "these instructions" } %> to create a team, then navigate back to this page and add the manager role to their permissions.</p>
