<% if with_separator %>
  <hr class="mb-4">
<% end %>
<%= render(Onboarding::Organizations::TipComponent.new(
  organization: organization,
  show_tip: render?,
  task: tip_banner_attributes.task_class.new(taskable: organization, user: current_user),
  tasks_path: organization_onboarding_advanced_security_path(organization),
  check_for_task_completion: false,
  **system_arguments,
  test_selector: "ghas-onboarding-tip",
)) do %>
  <h3 class="mb-1 h4"><%= tip_banner_attributes.title %></h3>
  <div class="color-fg-muted">
    <% if tip_banner_attributes.body.instance_of?(String) %>
      <p><%= tip_banner_attributes.body %></p>
    <% else %>
      <%= render(tip_banner_attributes.body.new) %>
    <% end %>
  </div>
<% end %>
