<%
  selected_sort = sort || default
%>
<div class="details-reset details-overlay d-inline-block position-relative pr-3 pr-sm-0 px-3" id="sort-select-menu">
  <%= render Primer::Alpha::ActionMenu.new(dynamic_label: true, dynamic_label_prefix: "Sort", select_variant: :single) do |menu| %> 
    <% sort_options.each do |description, sort| %>
      <% selected = selected_sort == sort %>
      <% menu.with_show_button do |button| %>
        <% button.with_trailing_action_icon(icon: "triangle-down") %>
      <% end %>
      <% menu.with_item(
        label: description,
        value: selected_sort,
        href: "?qr=#{repo}&sort=#{sort}",
        active: selected,
      ) %>
    <% end %>
  <% end %>
</div>
