<% page_info title: "Trade Compliance Contact Microsoft Trade Help" %>
<%= render layout: "stafftools/stafftools" do %>
  <div class="Box">
    <%= render Stafftools::TradeCompliance::MicrosoftTradeHelpEmailComponent.new(staffer: current_user) %>
  </div>
<% end %>
