.orgLink {
  font-weight: normal;
  color: var(--fgColor-muted, var(--color-fg-muted));
  white-space: nowrap;
}

.orgLink:hover {
  color: var(--fgColor-muted, var(--color-fg-muted)) !important;
  text-decoration: underline !important;
}
