.reviewerRow {
  max-width: 100%;
}

.reviewAuthor {
  overflow: hidden;
  font-weight: 400;
  text-overflow: ellipsis;
}

.reviewedIcon {
  background-color: var(--bgColor-neutral-emphasis, var(--color-neutral-emphasis));
}
