<%= render(Primer::Beta::BorderBox.new(mb: 4)) do |component| %>
  <% component.with_body do %>
    <div class="listgroup-item-title">Check IP address</div>
    <div class="listgroup-item-body">
      <p>
        Enter an IP address to check whether it is permitted by enabled entries on the IP allow list.
      </p>
      <div class="form-group">
        <remote-input
          src="<%= ip_allowlist_checks_path(owner_type: owner_type, owner_id: owner_id) %>"
          aria-owns="check-ip-results"
          param="ip">
          <input type="text" class="form-control" aria-label="Check IP address">
        </remote-input>
      </div>
      <div id="check-ip-results" class="mt-3"></div>
    </div>
  <% end %>
<% end %>
