<%
  item_showcase = ProfileItemShowcase.new(user: this_user, viewer: current_user)

  page_info title: profile_page_title(login: this_user.display_login, name: this_user.profile_name)
%>

<% if previewing %>
  <%= render Profiles::User::Private::HeaderComponent.new(
    viewer: current_user,
    profile_user: this_user,
    previewing: previewing
  ) %>
<% end %>

<% if show_profile_readme? %>
  <%= render partial: "users/tabs/profile_readme" %>
<% end %>

<%= render Profiles::User::Private::GraphComponent.new(profile_user: this_user) %>

<% if logged_in? %>
  <div id="pinned-items-modal-wrapper"></div>
<% end %>
