<div data-target="sudo-credential-options.totpAppContainer" <%="hidden" unless defined?(visible) && visible %>>
  <%= form_tag sudo_action, method: sudo_method, class: form_classes do -%>
    <%= hash_to_hidden_fields redirect_params if render_redirect_params %>
    <%= render(partial: "sessions/totp/app_prompt", locals: {
      user: current_user,
      form_type: "sudo"
    }) %>
  <% end %>
</div>
