
<template class="js-sudo-prompt">
  <div class="Box-header Box-header--blue">
    <h1 class="Box-title">
      <%= primer_octicon(:lock, mr: 1) %>
      Confirm access
    </h1>
  </div>
  <div class="session-authentication px-3 pb-3 pt-3">
    <%= render "shared/flash" %>
    <%= render "/settings/user/signed_in_user_hint" %>
    <%= render "/sudo/sudo_credential_options", modal: true, active_credential_option: nil %>
  </div>
</template>
