<p class="terms" <%= test_selector("payment-method-terms") %>>
  Please review the <a class="Link--inTextBlock" href="/site/terms" tabindex="-1" target="_blank">terms of service</a>,
  and <a class="Link--inTextBlock" href="/site/privacy" target="_blank" tabindex="-1">privacy policy</a>. <strong>All sales are final</strong>.
</p>
