<div class="pt-2">
  <p class="flash flash-warn">
    Note that the payment form below may show an Invalid_Security error in development if you are using an
    admin.* domain OR are not running github.localhost on port 80 or using a private to organization port/url.
    <br>
    <br>
    See the dotcom
    <a class="Link--inTextBlock" href="https://thehub.github.com/epd/engineering/products-and-services/codespaces/dotcom-development/#getting-started">"Getting Started"</a>
    document on how to run github.localhost on port 80.
  </p>
</div>
