<% if view.dmca? %>
  <%= form_tag dmca_takedown_stafftools_user_gist_path(view.user_param, view.gist), :method => "delete" do %>
    <%= render Primer::Beta::Button.new(type: :submit, classes: "boxed-action") do %>Remove DMCA<% end %>
  <% end %>
  <h4>DMCA takedown</h4>
  <p>
    Clear the DMCA takedown from this gist.
  </p>
<% else %>
  <%= render(Primer::Experimental::Dialog.new(
    dialog_id: "dmca-takedown-dialog",
    header_variant: :large,
    width: :large,
    title: "Process DMCA takedown",
    form_url: dmca_takedown_stafftools_user_gist_path(view.user_param, view.gist),
    form_method: :post
  )) do |c| %>
    <% c.with_show_button(
      color: :danger,
      classes: "boxed-action"
    ) do |s| %>
      Take down
    <% end %>
    <% c.with_body do %>
      <p>
        This will prevent public access to this gist. All forks and their content will be blocked as well.
      </p>
      <p>
        The owners of this gist and its forks will receive an email
        explaining the DMCA takedown process and how they can file
        counter-notice to reinstate access to the gist network.
        <strong>Are you certain?</strong>
      </p>
      <dl class="form-group">
        <dt><label>Takedown URL</label></dt>
        <dd><%= text_field_tag :takedown_url, nil, :autofocus => true %></dd>
      </dl>
    <% end %>
    <% c.with_button(
      data: { "close-dialog-id": "dmca-takedown-dialog" }
    ) { "Cancel" } %>
    <% c.with_button(
      type: :submit,
      scheme: :danger,
      data: { "disable-with": "" }
    ) { "Take down gist" } %>
  <% end %>

  <h4>DMCA takedown</h4>
  <p>
    Process a DMCA takedown against this gist and its forks,
    blocking public access.
  </p>
<% end %>
