<%= render(Primer::Experimental::Dialog.new(
  dialog_id: "purge-gist-dialog",
  header_variant: :large,
  width: :large,
  title: "Purge gist",
  form_url: purge_stafftools_user_gist_path(view.user_param, view.gist),
  form_method: :delete
)) do |c| %>
  <% c.with_show_button(
    color: :danger,
    float: :right, ml: 2
  ) do |s| %>
    Purge this gist
  <% end %>
  <% c.with_body do %>
    <p>
      Are you sure that you want to purge data for this gist?
      This operation is not reversable and the gist will no longer be recoverable.
    </p>
  <% end %>
  <% c.with_button(
    data: { "close-dialog-id": "purge-gist-dialog" }
  ) { "Cancel" } %>
  <% c.with_button(
    type: :submit,
    scheme: :danger,
    data: { "disable-with": "" }
  ) { "Purge gist" } %>
<% end %>

<h4>Purge gist</h4>
<p>Purge this gist and all its related content.</p>
