<%= render Primer::Beta::Subhead.new do |component| %>
  <% component.with_heading(tag: :h2) do %>Repository default branch<% end %>
<% end %>

<p>
  Choose the default branch for your new personal repositories. You might want to change the default name due
  to different workflows, or because your integrations still require &ldquo;master&rdquo; as the default branch name. You can always change
  the default branch name on individual repositories.
  <%= link_to \
    "Learn more about default branches.",
    "#{GitHub.help_url}/repositories/configuring-branches-and-merges-in-your-repository/managing-branches-in-your-repository/changing-the-default-branch",
    class: "Link--inTextBlock" %>
</p>

<% if current_user.custom_default_new_repo_branch_name? %>
  <%= render "settings/default_branch_names/form",
        current_default: current_user_default_new_repo_branch,
        update_url: settings_user_default_branch_path,
        has_custom_default: true %>
<% else %>
  <%= render "settings/default_branch_names/form",
        update_url: settings_user_default_branch_path,
        has_custom_default: false %>
<% end %>
