<%= render(UserLists::DialogFormComponent.new(user_list: user_list, placeholder_name: placeholder_name)) do |form| %>
  <% form.with_prelude do %>
    <p class="color-fg-subtle mb-3">Create a list to organize your starred repositories.</p>
    <% if repository_id %>
      <input type="hidden" name="repository_id" value="<%= repository_id %>">
    <% end %>
  <% end %>
  <% form.with_actions_list do %>
    <%= render(Primer::Beta::Button.new(
      scheme: :primary,
      type: :submit,
      block: true,
      mt: 2,
      disabled: true,
      "data-disable-invalid": true,
      # We can't use data-disable-with here because the button is re-enabled immediately after the response is received,
      # but before we have a chance to handle it and redirect or swap out the form contents. This results in a
      # disorienting jitter.
      "data-submitting-message": "Creating...",
    ).with_content("Create")) %>
  <% end %>
<% end %>
