<template class="js-user-list-create-dialog-template" data-label="Create list">
  <%# We need to do the dialog header manually since we don't have a GitHub::DialogComponent here %>
  <div class="Box-header">
    <h2 class="Box-title">Create list</h2>
  </div>
  <%= render(UserLists::CreateDialogFormComponent.new(repository_id: "{{ repositoryId }}", placeholder_name: "{{ placeholderName }}")) %>
  <%= render(UserLists::FeedbackComponent.new(classes: "Box-footer Box-row--gray", py: 2)) %>
</template>
