<%= render delete_dialog_template_component %>

<%= render(UserLists::DialogFormComponent.new(user_list: user_list)) do |form| %>
  <% form.with_actions_list do %>
    <div class="d-flex mt-2">
      <%= render(Primer::Beta::Button.new(
        scheme: :danger,
        block: true,
        mr: 2,
        col: 6,
        "data-template-id": delete_dialog_template_component.template_dom_id,
        classes: "js-user-list-delete-confirmation-trigger",
      ).with_content("Delete list")) %>
      <%= render(Primer::Beta::Button.new(
        scheme: :primary,
        type: :submit,
        block: true,
        col: 6,
        disabled: !user_list.valid?,
        "data-disable-invalid": true,
        # We can't use data-disable-with here because the button is re-enabled immediately after the response is received,
        # but before we have a chance to handle it and redirect or swap out the form contents. This results in a
        # disorienting jitter.
        "data-submitting-message": "Saving...",
      ).with_content("Save list")) %>
    </div>
  <% end %>
<% end %>
