<%= render(Primer::Box.new(
  font_size: :small,
  color: :muted,
  display: :flex,
  align_items: :baseline,
  **system_arguments,
)) do %>
  <%= render(GitHub::BetaFlagComponent.new(px: 2, mr: 2)) %>
  <span class="mr-1">Lists are currently in beta.</span>
  <a href="<%= feedback_url %>">Share feedback and report bugs.</a>
<% end %>
