<% paginated_list_item_repositories.each do |repository| %>
  <%= render(Stars::StarredRepositoryComponent.new(
    repository: repository,
    can_sponsor: repository.sponsorable_owner?,
    is_sponsoring: repository.owner_sponsored_by_viewer?(current_user),
    context: :user_list,
  )) %>
<% end %>
<% if paginated_list_item_repositories.total_pages > 1 %>
  <div class="paginate-container">
    <%= will_paginate paginated_list_item_repositories, "data-pjax": true, params: {
      user: list.user_login, slug: list.slug, controller: "user_lists", action: "show",
    } %>
  </div>
<% end %>
