<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%=
  render(GitHub::MenuComponent.new(
    align: :right,
    src: user_list_menu_src,
    classes: "BtnGroup-parent js-user-list-menu",
    id: menu_id,
    test_selector: "user-list-menu-button",
    data: data
  )) do |menu|
%>
  <% menu.with_summary do %>
    <%= render(Primer::ButtonComponent.new(
      tag: :summary,
      variant: :small,
      group_item: true,
      px: 2,
      float: :none,
      aria: { label: "Add this repository to a list" },
    )) do %>
      <%= primer_octicon("triangle-down") %>
    <% end %>
  <% end %>
  <% menu.with_header do %>
    <h4 class="SelectMenu-title f5" id="user-lists-menu">Lists</h4>
  <% end %>
<% end %>
