<%# erblint:counter DeprecatedComponentsCounter 1 %>
<div class="Box">
  <% user_lists.first(HIDE_AFTER).each do |list| %>
    <%= render(UserLists::RowComponent.new(user_list: list, item_count: item_counts[list.id])) %>
  <% end %>

  <% if has_more_lists? %>
    <div class="Details js-details-container">
      <footer class="Details-content--shown border-top">
        <%= render Primer::ButtonComponent.new(
          block: true,
          scheme: :link,
          classes: "js-details-target", "aria-expanded": "false",
          py: 3
        ).with_content("Show all lists...") %>
      </footer>

      <div class="Details-content--hidden">
        <% user_lists.drop(HIDE_AFTER).each.with_index do |list, idx| %>
          <%= render(UserLists::RowComponent.new(
              user_list: list,
              item_count: item_counts[list.id],
              classes: idx == 0 ? "border-top rounded-top-0" : "")
            )
          %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
