<%# erblint:counter DeprecatedComponentsCounter 1 %>
<template class="js-unstar-confirmation-dialog-template">
  <div class="Box-header">
    <h2 class="Box-title">Unstar this repository?</h2>
  </div>
  <div class="Box-body">
    <p class="mb-3">
      This will remove {{ repoNameWithOwner }} from the {{ listsWithCount }} that it's been added to.
    </p>
    <div class="form-actions">
      <%= form_with url: "{{ confirmUrl }}", authenticity_token: false, class: "js-social-confirmation-form" do %>
        <input type="hidden" name="authenticity_token" value="{{ confirmCsrfToken }}">
        <input type="hidden" name="confirm" value="true">
        <%= render Primer::ButtonComponent.new(
          type: :submit,
          scheme: :danger,
          w: :full,
          "data-close-dialog": true,
        ).with_content("Unstar") %>
      <% end %>
    </div>
  </div>
</template>
