<% if show_copilot_organization_admin_prompt? %>
  <%= render(Repositories::EmptyRepo::PromptComponent.new(
    title: "Set up GitHub Copilot",
    description: "Use GitHub's AI pair programmer to autocomplete suggestions as you code.",
    icon: :copilot,
  )) do |c| %>
    <% c.with_action_button(
      scheme: :default,
      size: :small,
      test_selector: "copilot-prompt-org-admin",
      tag: :a,
      href: copilot_business_signup_organization_payment_path(org: repo_organization),
      data: analytics_click_attributes(
        category: "copilot_for_business_setup",
        action: "click_to_buy_copilot_for_business",
        label: "ref_cta:set_up_github_copilot;ref_loc:empty_repo;"
      )
    ) do %>
      Get started with GitHub Copilot
    <% end %>
  <% end %>
<% elsif show_copilot_organization_member_prompt? %>
  <%= render(Repositories::EmptyRepo::PromptComponent.new(
    title: "Take flight with GitHub Copilot",
    description: "Use GitHub's AI pair programmer to autocomplete suggestions as you code.",
    icon: :copilot,
  )) do |c| %>
    <% c.with_action_raf(
      requester: @user,
      organization: repo_organization,
      feature: MemberFeatureRequest::Feature::CopilotForBusiness,
    ) do |raf| %>
      <% raf.with_request_cta(
        test_selector: "copilot-prompt-org-member",
        scheme: :default,
        size: :small,
        data: analytics_click_attributes(
          category: "member_feature_request",
          action: "action.#{MemberFeatureRequest::Feature::CopilotForBusiness}",
          label: "ref_cta:ask_admin_for_access to GitHub Copilot;ref_loc:empty repo;"
        )
      ) do %>
        Ask admin for access
      <% end %>
      <% raf.with_remove_request_cta(scheme: :link) { "Remove request" } %>
      <% raf.with_requested_message do %>
        <div class="d-inline color-fg-muted">
          You've successfully submitted a request to your organization's admins for access to GitHub Copilot.
        </div>
      <% end %>
    <% end %>
  <% end %>
<% elsif show_copilot_individual_prompt? %>
  <%= render(Repositories::EmptyRepo::PromptComponent.new(
    title: "Set up GitHub Copilot",
    description: "Use GitHub's AI pair programmer to autocomplete suggestions as you code.",
    icon: :copilot,
  )) do |c| %>
    <% c.with_action_button(
      scheme: :default,
      size: :small,
      test_selector: "copilot-prompt-individual",
      tag: :a,
      href: user_part_of_org? ? copilot_settings_path : copilot_signup_path,
      data: analytics_click_attributes(
        category: "copilot_trial_signup",
        action: user_part_of_org? ? "click_to_view_copilot_settings" : "click_to_sign_up_for_copilot_trial",
        label: "ref_cta:set_up_github_copilot;ref_loc:empty_repo;"
      )
    ) do %>
      Get started with GitHub Copilot
    <% end %>
  <% end %>
<% elsif show_codespace_prompt? %>
  <%= render(Repositories::EmptyRepo::PromptComponent.new(
    title: "Start coding with Codespaces",
    description: "Add a README file and start coding in a secure, configurable, and dedicated development environment.",
    icon: :codespaces,
  )) do |c| %>
    <% c.with_action_button(
      scheme: :default,
      size: :small,
      test_selector: "create-codespace-prompt",
      tag: :a,
      href: codespaces_prompt_path,
      data: analytics_click_attributes(
        category: "repository_onboarding",
        action: "click_to_create_a_codespace",
        label: "ref_cta:create_a_codespace;ref_loc:empty_repo;"
      )
    ) do %>
      Create a codespace
    <% end %>
  <% end %>
<% end %>
