<%# erblint:counter GoogleAnalyticsDeprecation 1 %>
<% if related_topics.any? %>
  <div class="border-bottom color-border-muted py-3">
    <div class="topics-row-container col-9 d-inline-flex flex-wrap flex-items-center f6 my-1">
      <span class="d-inline-block f5 text-bold no-wrap mr-3">Explore topics</span>
      <% related_topics.each do |related_topic| %>
        <%= render(Topics::TagComponent.new(
          name: related_topic.name,
          href: related_topic_url(related_topic.name, query: query_param),
          data: { ga_click: "Topic, search results related topics", octo_click: "topic_click", octo_dimensions: "topic:#{related_topic.name}" },
          font_size: 6, my: 1
        )) %>
      <% end %>
    </div>
  </div>
<% end %>
