<!-- Put sort options in filter area on small screens  -->
<% if !elastic_search_down && results.total > 10 %>
  <%
    sort =  params[:s] || commit_search_sort_fields.first
    direction = params[:o] || search_sort_directions.first
    sort_label = commit_search_sort_labels[[sort, direction]]
  %>
  <div class="px-2 pt-2 d-flex d-md-none flex-items-center">
    <label for="codesearch_sort_commits" class="col-3 text-small px-2">Sort</label>
    <%= render(Primer::Alpha::Dropdown.new(mr: 2, col: 9, id: "codesearch_sort_commits")) do |c| %>
      <% c.with_button(dropdown: true, w: :full) do %>
        <%= sort_label %>
        <%= render(Primer::Beta::Octicon.new(:"triangle-down", float: :right)) %>
      <% end %>

      <% c.with_menu do |menu| %>
        <% commit_search_sort_fields.product(search_sort_directions).each do |field, dir| %>
          <% if (option_label = commit_search_sort_labels[[field, dir]]) %>
            <%= menu.with_item(href: link_to_sorted_search([field, dir])) { option_label } %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
<% end %>
