<%= render layout: "shared/details_dialog", locals: {
  button_text: node["value"].round,
  button_icon: "meter",
  button_class: "f6 color-fg-muted pl-3 btn-link v-align-top",
  title: "Elasticsearch Explain Output",
  details_class: "flex-shrink-0",
  dialog_class: "Box-overlay--wide"
} do %>
  <div class="Box-body overflow-auto no-wrap">
    <%= render partial: "codesearch/hit_explain_node", locals: { node: node } %>
  </div>
<% end %>
