<%
  repo_specific ||= false
%>

<% if results.results.length == 0 %>
  <%= render "codesearch/results_empty", message: "We couldn’t find any packages matching '#{search}'", repo_specific: repo_specific, current_repository: current_repository %>
<% else %>
  <div id="package_search_results">
    <% results.each_with_index do |hit, index| %>
      <% unless hit.package.nil? || hit.package.owner.nil? %>
        <%= render "codesearch/hit_package", hit: hit, repo_specific: repo_specific, hit_position: index + 1, page_number: results.page || 1, per_page: results.per_page %>
      <% end %>
    <% end %>
  </div>
  <%= render partial: "codesearch/results_pagination", locals: { results: results } %>
<% end %>
