<% if results.total_pages > 1 %>
  <div class="paginate-container">
    <%= will_paginate results, param_name: :p, "data-pjax": true, class: "d-flex d-md-inline-block pagination" %>
  </div>
<% end %>
