<%
  repo_specific ||= false
  unscoped_search ||= nil
%>

<% if results.total == 0 %>
  <%= render :partial => "codesearch/results_empty", :locals => { :message => "We couldn’t find any commits matching '#{search}'", :repo_specific => repo_specific, :current_repository => current_repository, :unscoped_search => unscoped_search } %>
<% else %>
  <div id="commit_search_results">
    <% results.each_with_index do |hit, index| %>
      <%-
        repo = hit["_model"]
        oid = hit["_source"]["hash"]
        commit = commits[[repo, oid]]

        highlighted_message = if hit.key?("highlight")
          Commits::CommitMessageHTML.new(
            hit["highlight"]["message"][0],
            commit.message_context,
            GitHub::Goomba::HighlightedSearchResultPipeline
          )
        end
      -%>

      <%= render "codesearch/hit_commit", {
        commit: commit,
        hit_position: index + 1,
        hit_repo: repo,
        page_number: results.page || 1,
        per_page: results.per_page,
        highlighted_message: highlighted_message
      } %>
    <% end %>
  </div>
  <%= render partial: "codesearch/results_pagination", locals: { results: results } %>
<% end %>
