<%# rubocop:disable Lint/InstanceVariable %>
<%
  repo_specific ||= false
  unscoped_search ||= nil
%>

<% if results.total == 0 %>
  <%= render :partial => "codesearch/results_empty", :locals => { :message => "We couldn’t find any issues matching '#{@search}'", :repo_specific => repo_specific, :current_repository => current_repository, :unscoped_search => unscoped_search } %>
<% else %>
  <div id="issue_search_results">
    <div>
      <% results.each_with_index do |hit, index| %>
        <%= render partial: "codesearch/hit_issue", locals: { hit: hit, repo_specific: repo_specific, hit_position: index + 1, page_number: results.page || 1, per_page: results.per_page } %>
      <% end %>
    </div>
    <%= render partial: "codesearch/results_pagination", locals: { results: results } %>
  </div>
<% end %>
