<%# rubocop:disable Lint/InstanceVariable %>

<% if GitHub.marketplace_enabled? %>
  <% if results.total == 0 %>
    <%= render partial: "codesearch/results_empty",
               locals: { message: "We couldn’t find anything in the GitHub Marketplace matching '#{@search}'",
                         current_repository: current_repository, repo_specific: false } %>

  <% else %>
    <div id="marketplace_search_results">
      <div>
        <% results.each_with_index do |hit, index| %>
          <%= render partial: "codesearch/hit_marketplace", locals: { hit: hit, hit_position: index + 1, page_number: results.page || 1, per_page: results.per_page } %>
        <% end %>
      </div>
      <% if results.total_pages > 1 %>
        <div class="paginate-container">
          <%= will_paginate results, param_name: :p, "data-pjax" => true %>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
