<%# rubocop:disable Lint/InstanceVariable %>
<% if results.results.length == 0 %>
  <%= render :partial => "codesearch/results_empty", :locals => { :message => "We couldn’t find any users matching '#{@search}'", :repo_specific => repo_specific } %>
<% else %>
  <div id="user_search_results">
    <div class="Box border-0">
      <% results.each_with_index do |hit, index| %>
        <%= render partial: "codesearch/hit_user", locals: { hit: hit, hit_position: index + 1, page_number: results.page || 1, per_page: results.per_page } %>
      <% end %>
    </div>
    <%= render partial: "codesearch/results_pagination", locals: { results: results } %>
  </div>
<% end %>
