<%# rubocop:disable Lint/InstanceVariable %>

<% if results.total == 0 || !results.includes_public_repositories? %>
  <%= render partial: "codesearch/results_empty",
             locals: { message: "We couldn't find any topics matching '#{@search}'",
                       current_repository: current_repository, repo_specific: false } %>

<% else %>
  <div id="topic_search_results">
    <div class="topic-list">
      <% any_logos = results.any?(&:has_logo?) %>
      <% results.each_with_index do |hit, index| %>
        <%= render partial: "codesearch/hit_topic", locals: { hit: hit, any_logos: any_logos, hit_position: index + 1, page_number: results.page || 1, per_page: results.per_page } %>
      <% end %>
    </div>
    <%= render partial: "codesearch/results_pagination", locals: { results: results } %>
</div>
<% end %>
