<% if GitHub.marketplace_enabled? && results.total > 0 %>
  <div class="d-flex flex-justify-between border-bottom pb-3">
    <%= render partial: "codesearch/results_total",
               locals: { results: results, what: "marketplace result" } %>
  </div>
<% end %>
