<div class="tabnav">
  <nav class="tabnav-tabs" aria-label="Search Results">
    <%= selected_link_to "Local results", search_path(q: q, type: type), class: "tabnav-tab", highlight: [:code_search] %>
    <%= selected_link_to "#{GitHub.dotcom_host_name_string} results", dotcom_search_path(q: q, type: type), class: "tabnav-tab", highlight: [:dotcom_code_search] %>
  </nav>
</div>
