<div class="SelectMenu js-slash-command-menu">
  <div class="SelectMenu-modal">
    <header class="SelectMenu-header">
      <%= render SlashCommands::HeaderComponent.new(breadcrumbs) %>
    </header>
    <div class="SelectMenu-list">
      <div class="SelectMenu-blankslate">
        <h4 class="my-2"><%= title %></h4>

        <% if description.present? %>
          <p class="mb-0 color-fg-muted" <%= test_selector("blankslate-description") %>>
            <%= description %>
          </p>
        <% end %>
      </div>
    </div>
  </div>
</div>
