<% page_info \
  title: "Customer agreements",
  description: "GitHub Customer Agreement consists of the following terms, as applicable and depending on your purchase.",
  class: "overflow-x-hidden",
  container_full: true,
  richweb: {
    title: "GitHub · Customer agreements",
    url: request.original_url,
    description: "GitHub Customer Agreement consists of the following terms, as applicable and depending on your purchase.",
    image: image_path("modules/site/social-cards/customer-terms.jpg"),
  }
%>

<div class="py-3 p-responsive border-bottom">
  <div class="col-12">
    <div class="d-flex flex-justify-between flex-md-items-center flex-column flex-md-row flex-wrap">
      <div class="position-relative" style="top: -3px">
        <div class="f6-mktg text-gray-light-mktg text-semibold">
          Customer agreements
        </div>

        <h1 class="f4-mktg text-semibold">
          <%= document.title %>
        </h1>

        <% if document.subtitle.present? %>
          <p class="text-gray-light-mktg f6-mktg mt-1 mb-0">
            <%= document.subtitle %>
          </p>
        <% end %>
      </div>

      <%= render Site::ButtonComponent.new(text: "Download", target: "_blank", url: document.file.url, size: :small, classes: "mt-2") %>
    </div>
  </div>
</div>

<%= tag.iframe(
  title: document.title,
  src: document.file.url,
  class: "width-full",
  style: "height: 86vh",
  frameborder: "0"
)%>
