<% page_info title: "Edit Seats Limit", selected_link: :business_overview %>

<%= render Primer::Beta::Subhead.new do |component| %>
	<% component.with_heading(tag: :h2) do %>Edit Seat Limits<% end %>
<% end %>
<div>
  <%= render(Businesses::SeatLimits::ManageSeatLimitsComponent.new(business: this_business)) %>
</div>
