<div>
  <% if view.show_history_section? %>
    <div class="pb-4">
      <% if view.show_history_changes_text? %>
        This advisory has been edited.
      <% end %>
      <%= link_to(
        "See History" + view.dotcom_suffix,
        view.advisory_history_url,
        data: test_selector_hash("security-advisory-history-link"),
        target: GitHub.single_or_multi_tenant_enterprise? ? "_blank" : nil,
        rel: GitHub.single_or_multi_tenant_enterprise? ? "noopener noreferrer" : nil,
        class: "Link--inTextBlock"
      ) %>.
    </div>
  <% end %>
</div>
