.container {
  display: flex;
  height: 48px;
  padding: var(--base-size-8);
  background-color: var(--bgColor-muted);
  border-bottom: var(--borderWidth-thin) solid;
  border-bottom-color: var(--borderColor-muted);
  border-top-left-radius: var(--borderRadius-medium);
  border-top-right-radius: var(--borderRadius-medium);
  justify-content: flex-start;
  align-items: center;
}
