.counterLabel {
  display: inline-block;
  min-width: 20px;
  /* stylelint-disable-next-line primer/spacing */
  padding-top: 0 6px;
  margin-left: var(--base-size-8);
  font-size: var(--text-body-size-small);
  font-weight: var(--base-text-weight-semibold);
  line-height: 18px;
  text-align: center;
  background-color: var(--bgColor-muted);

  &.isLoading {
    /* stylelint-disable-next-line primer/colors */
    color: transparent;
  }
}

.sectionFilterLink {
  display: flex;
  padding: 0 var(--base-size-8);
  font-size: var(--text-body-size-medium);
  font-weight: var(--base-text-weight-normal);
  line-height: 30px;
  color: var(--fgColor-muted);
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  border-radius: var(--borderRadius-medium);
  transition: background-color 0.12s ease-out;
  align-items: center;

  &.isSelected {
    font-weight: var(--base-text-weight-semibold);
    color: var(--fgColor-default);
  }

  &:enabled {
    &:hover {
      text-decoration: none;
      background-color: var(--control-transparent-bgColor-hover);
    }

    &:active {
      background-color: var(--control-transparent-bgColor-active);
      border-color: var(--button-default-borderColor-active);
    }
  }
}

.title {
  display: block;
}
