.container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.checkboxContainer {
  display: flex;
  width: var(--base-size-32);
  min-width: var(--base-size-32);
  height: var(--base-size-32);
  min-height: var(--base-size-32);
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.count {
  display: flex;
  min-width: min-content;
  /* stylelint-disable-next-line primer/spacing */
  margin: 0 var(--controlStack-small-gap-condensed) 0;
  overflow: hidden;
  font-weight: bold;
  text-overflow: ellipsis;
  align-items: center;
  white-space: nowrap;
  flex: 1;
}
