.css-module-style {
  color: var(--fgColor-danger, var(--color-danger-fg));

  & .p {
    color: var(--fgColor-attention, var(--color-attention-fg))
  }

  :global(.css-module-global-class-name) {
    color: var(--fgColor-done, var(--color-done-fg));
  }
}
