<fuzzy-list>
  <div class="my-2">
    <%= render(Primer::Alpha::TextField.new(
      leading_visual: { icon: :search },
      name: "saved-reply-filter-field",
      label: "Filter saved replies",
      autofocus: true,
      classes: "js-saved-reply-filter-input",
      visually_hide_label: true
    )) %>
  </div>

  <focus-group direction="vertical" mnemonics retain>
    <%= render(Primer::Alpha::ActionList.new(aria: { label: "Saved replies" }, classes: "js-saved-reply-menu")) do |component| %>
      <% replies.each_with_index do |reply, index| %>
        <%
          index += 1
          data_attr = {
            value: reply.title,
          }
          data_attr[:shortcut] = index if index < 10
        %>
        <% saved_reply_item_id = "saved-reply-item-description-#{SecureRandom.hex(4)}-#{index}" %>
        <% component.with_item(content_arguments: {
            data: data_attr,
            aria: { describedby: saved_reply_item_id },
          }, label: reply.title, role: "menuitem", truncate_label: true) do |item| %>
          <% item.with_description do %>
            <%= render Primer::Beta::Truncate.new(classes: "js-saved-reply-body", id: saved_reply_item_id, aria: { hidden: "true" }) do %>
              <%= reply.body %>
            <% end %>
          <% end %>
          <% if index < 10 %>
            <% item.with_trailing_visual_label { "ctrl #{index}" } %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </focus-group>
</fuzzy-list>
