<% page_info responsive: false, :title => 'Edit Saved Replies' %>

<%= render layout: "settings/settings" do %>
  <div class="settings-next">
    <%= render Primer::Beta::Subhead.new do |component| %>
      <% component.with_heading(tag: :h2) do %>Edit saved reply<% end %>
    <% end %>
  </div>

  <%= render :partial => 'settings/user/replies/reply_form', :locals => {:reply => reply}  %>
<% end %>
