<%# `view` is an instance of Businesses::Settings::SecurityView %>
<div>
  <% if view.okta_team_sync? %>
    <%= link_to("Enable for Okta", team_sync_okta_credentials_new_enterprise_path(this_business),
                class: "btn #{ 'disabled' unless view.enable_team_sync_settings? }") %>
  <% else %>
    <%= form_tag(team_sync_install_enterprise_path(business: view.business), method: "post") do %>
      <%= submit_tag("Enable for #{view.team_sync_provider_type_label}",
                    class: "btn #{ 'disabled' unless view.enable_team_sync_settings? }") %>
    <% end %>
  <% end %>
</div>
