<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter DeprecatedInPrimerCounter 1 %>
<%# `view` is an instance of Businesses::Settings::SecurityView %>
<%= render Primer::ButtonComponent.new(classes: "disabled tooltipped tooltipped-n", "aria-label": "You must single sign-on before enabling") do %><%# erblint:disable Primer::Accessibility::TooltippedMigration %>
  Enable for <%= view.team_sync_provider_type_label %>
<% end %>
<div class="text-small color-fg-muted d-inline ml-2">
  <%= primer_octicon(:info, color: :muted) %>
  You must
  <%= link_to "single sign-on", business_idm_sso_enterprise_path(view.business, return_to: settings_security_enterprise_url(view.business)), class: "Link--inTextBlock" %>
  before team synchronization can be enabled.
</div>
