.mergeboxLoading {
  display: flex;
  min-height: 138px;
  padding: var(--base-size-4);
  flex-direction: row;
  border: var(--borderWidth-thin) solid;
  border-color: var(--borderColor-default);
  border-radius: var(--borderRadius-medium);
  align-items: center;
  justify-content: center;
}
