<% releases.first(limit).each do |release| %>
  <li class="mb-1">
    <%= link_to release.tag_name,
                "#{marketplace_action_path(repository_action.slug)}?version=#{release.tag_name}",
                class: "css-truncate css-truncate-target Link--primary no-underline",
                style: "max-width: 100%" %>
    <% if release.tag_name == latest_tag %>
      <%= render(Primer::Beta::Label.new(scheme: :secondary, ml: 2)) do %>
        Latest
      <% end %>
    <% end %>
  </li>
<% end %>
