<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% page_info :title => "Bulk Ticketer", :selected_link => :bulk_ticketer %>

<%= render layout: "stafftools/stafftools" do %>
  <div class="boxed-group">
    <h3>Create Bulk Ticket JSON cartridge</h3>
    <div class="boxed-group-inner">
      <%= form_tag stafftools_bulk_ticketer_path do %>

        <dl class="form-group">
          <dt><label for="url-hits-textarea">URLs, one per line</label></dt>
          <dd>
            <textarea class="form-control" id="url-hits-textarea" name="url_hits"></textarea>
          </dd>
        </dl>

        <dl class="form-group">
          <dt><label for="subject-text">Subject</label></dt>
          <dd><input class="form-control" type="text" value="[GitHub] DMCA Takedown Notice - {{repo}}" id="subject-text" name="subject_text"></dd>
        </dl>

        <dl class="form-group">
          <dt><label for="tag-text">Tags</label></dt>
          <dd><input class="form-control" type="text" value="ts_dmca_request_changes" id="tag-text" name="tag_text"></dd>
        </dl>

        <dl class="form-group">
          <dt><label for="body-textarea">Body</label></dt>
          <dd>
            <textarea class="form-control" id="body-textarea" name="body_text"><%= dmca_template %></textarea>
          </dd>
        </dl>

        <%= render Primer::ButtonComponent.new(type: :submit) do %>Go<% end %>
      <% end %>
    </div>
  </div>
<% end %>
