<div class="oauth-org-item on mb-2 m-0 px-0">
  <%= avatar_for(allowed, 20, :class => "avatar") %>
  <strong class="color-fg-muted text-small"><%= allowed.display_login %></strong>

  <%= render(Primer::Beta::Link.new(href: docs_url("organizations/about-oauth-app-access-restrictions"), id: "link-to-docs-for-org-#{allowed.id}")) do |component| %>
    <% component.with_tooltip(
      type: :description,
      direction: :e,
      text: "This organization allows the application to access organization data as described in the permissions above."
    ) %>

    <%= render(Primer::Beta::Octicon.new(icon: :check, "aria-label": "Allowed")) %>
  <% end %>
</div>
