<div class="oauth-org-item mb-2 m-0 px-0">
  <%= avatar_for(denied, 20, :class => "avatar") %>
  <strong class="color-fg-muted text-small"><%= denied.display_login %></strong>

  <%= render(Primer::Beta::Link.new(href: docs_url("organizations/about-oauth-app-access-restrictions"), id: "link-to-docs-for-org-#{denied.id}")) do |component| %>
    <% component.with_tooltip(
      type: :description,
      direction: :e,
      text: "The application cannot access this organization’s private data or modify its public data."
    ) %>

    <%= render(Primer::Beta::Octicon.new(icon: :x, "aria-label": "Denied", classes: "org-access-denied")) %>
  <% end %>
</div>
