<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% page_info :title => "Danger is everywhere" %>

<div class="container-lg">
  <%= render Primer::BlankslateComponent.new(
    icon: "flame",
    title: "Dear GitHubber,",
  ) do %>
    <p>
      <a href="https://github.com/orgs/github/teams/rest-api-code-reviewers"><b>@github/rest-api-code-reviewers</b></a> here.
      We’ve temporarily removed your ability to authorize <%= request.application.name %>
      because certain scopes (<% request.scopes_disallowed_by_github.each { |scope| -%>
      <code><%= scope %></code><% } %>) are especially dangerous when granted by GitHubbers.
    </p>

    <p>
      You’ve always been our favorite, <%= current_user.display_login %>.
      We’re sorry we don’t write more often.
    </p>
  <% end %>
</div>
