<% page_info title: "Invalid Redirect URI" %>

<div class="container-md px-3 mt-3">
  <%= render Primer::Beta::Blankslate.new(narrow: true, spacious: true, border: true) do |blankslate| %>
    <% blankslate.with_visual_icon(icon: "alert-fill", size: :medium, color: :attention) %>
    <% blankslate.with_heading(tag: :h2).with_content("Be careful!") %>
    <% blankslate.with_description do %>
      <p>The <code>redirect_uri</code> is not associated with this application.</p>
      <p>The application might be misconfigured or could be trying to redirect you to a website you weren't expecting.</p>
    <% end %>
  <% end %>
</div>
