<% page_info :title => "OAuth application authorized" %>

<%= controller_javascript_bundles %>

<div class="container-md px-3">
  <%= render Primer::Beta::Blankslate.new(mt: 5) do |component| %>
    <% component.with_visual_icon(icon: :flame) %>
    <% component.with_heading(tag: :h3).with_content("You are being redirected to the authorized application.") %>
    <% component.with_description do %>
      If your browser does not redirect you back, please visit <%= link_to("this setup page", redirect_url, id: "js-manual-authorize-redirect", class: "Link--inTextBlock") %> to continue.
    <% end %>
  <% end %>
</div>
