<% page_info title: "Automatic App Install", selected_link: :triggered_applications %>

<%= render layout: "stafftools/stafftools" do %>
  <div class="Box Box--condensed">
    <div class="Box-header">
      <h5>Automatically install a GitHub App</h5>
    </div>

    <div class="Box-body p-3">
      <p><strong>Note:</strong> Triggers will begin firing when this record is created.</p>

      <%= render "stafftools/integration_installation_triggers/form" %>
    </div>
  </div>
<% end %>
