<div>
  <div class="d-flex flex-column flex-lg-row gap-3">
    <div class="flex-auto">
      <h3 class="h4 d-block">Deployment branches and tags</h3>
      <p class="color-fg-muted m-0" <%= test_selector("deployment-branches-description") %> >
        Limit which branches and tags can deploy to this environment based on rules or naming patterns.
      </p>
    </div>
    <%= render Environments::BranchPoliciesActionMenuComponent.new(environment: environment, repository: repository) %>
  </div>

  <% if environment.branch_policy_gate %>
    <% if environment.branch_policy_gate_branch_protected? %>
      <%= render Environments::ProtectedBranchesGateComponent.new(repository: repository, page: params[:page], edit_repository_branches_path: edit_repository_branches_path) %>
    <% else %>
      <%= render Environments::CustomBranchesAndTagsPoliciesComponent.new(repository: repository, environment: environment) %>
    <% end %>
  <% end %>

</div>
