<div>
  <%= render_react_partial name: "actions-secrets-variables-list", ssr: true, props: {
    items: secrets,
    scope: Secrets::Helper::ENV_SCOPE,
    crudUrls: {
      editUrls: edit_secret_urls,
      deleteUrls: delete_secret_urls,
    },
    tableActionProps: {
      url: repository_environment_add_secret_path(user_id: current_repository.owner.display_login, repository: current_repository, environment_id: environment.id),
      message: "Add environment secret",
      useDialog: true,
      publicKey: public_key[1],
      # The keyId is an integer greater than javascript's Number.MAX_SAFE_INTEGER, so we need to pass it as a string
      # so it can be used in React components
      keyId: "#{public_key[0]}"
    },
    mode: Secrets::Helper::SECRET_MODE,
    description: {
      text: "Secrets are encrypted environment variables. They are accessible only by GitHub Actions in the context of this environment by using the ",
      contextUrl: GitHub.help_url + "/actions/learn-github-actions/contexts#secrets-context",
      contextLinkText: Secrets::Helper::SECRET_MODE + " context"
    }
  }
  %>
</div>
