
<div>
  <%= render_react_partial name: "actions-secrets-variables-list", ssr: true, props: {
    items: variables,
    scope: Secrets::Helper::ENV_SCOPE,
    crudUrls: {
      editUrls: edit_variable_urls,
      deleteUrls: delete_variable_urls,
    },
    tableActionProps: {
      url: repository_environment_add_variable_path(user_id: current_repository.owner.display_login, repository: current_repository, environment_id: environment.id),
      message: "Add environment variable",
      useDialog: true
    },
    mode: Secrets::Helper::VARIABLE_MODE,
    description: {
      text: "Variables are used for non-sensitive configuration data. They are accessible only by GitHub Actions in the context of this environment by using the ",
      contextUrl: GitHub.help_url + "/actions/learn-github-actions/contexts#vars-context",
      contextLinkText: Secrets::Helper::VARIABLE_MODE + " context"
    }
  } %>
</div>
