<%
  page_info title: "Codespaces",
            selected_link: :organization_codespaces_settings_general
%>

<%= render layout: "orgs/settings/layout" do %>
  <div id="codespaces-organization-settings" data-hpc>
    <%= render partial: "settings/organization/codespaces/index_section", locals: { users: users, trusted_repositories: trusted_repositories, teams: teams } %>
  </div>
<% end %>
