<%graphql
  fragment ProjectOwner on ProjectOwner {
    project(number: $projectNumber) {
      name
      resourcePath
    }
  }
%><%# erblint:disable NoGraphqlFragments %>
<% project_owner = Views::ProjectSettings::Breadcrumbs::ProjectOwner.new(project_owner) %>
<% project = project_owner.project %>

<div>
  <a href="<%= project.resource_path %>"><%= project.name %></a>
  /
  <strong>Collaboration settings</strong>
</div>
