<%graphql
  fragment ProjectOwner on ProjectOwner {
    project(number: $projectNumber) {
      teams(first: 100) {
        edges {
          node {
            databaseId
          }
        }
      }

      addableTeamsForViewer(first: 100, query: $query) {
        edges {
          node {
            databaseId
            name
            description
          }
        }
      }
    }
  }
%><%# erblint:disable NoGraphqlFragments %>
<%
  project_owner = Views::ProjectSettings::TeamResults::ProjectOwner.new(project_owner)
  project = project_owner.project
  existing_team_ids = project.teams.edges.map { |edge| edge.node.database_id }
  addable_teams = project.addable_teams_for_viewer.edges.map(&:node)
%>

<% if addable_teams.empty? %>
  <div class="select-menu-no-results">No matching teams.</div>
<% else %>
  <% addable_teams.each do |team| %>
      <button
           type="button"
           role="menuitem"
           class="select-menu-item repo-access-add-team js-repo-access-team-select-option width-full"
           data-team-id="<%= team.database_id %>"
           <% if existing_team_ids.include?(team.database_id) %>hidden<% end %>>
      <%= primer_octicon(:plus, classes: "select-menu-item-icon") %>
      <div class="select-menu-item-text">
        <div class="team-info css-truncate css-truncate-target"><strong class="team-name"><%= team.name %></strong></div>
        <div class="team-description css-truncate css-truncate-target"><%= team.description %></div>
      </div>
    </button>
  <% end %>
<% end %>
