.container {
  border-radius: var(--borderRadius-medium);
}

.header {
  background: var(--bgColor-muted, var(--color-canvas-subtle));
  border-top-left-radius: var(--borderRadius-medium);
  border-top-right-radius: var(--borderRadius-medium);
}
