.container {
  display: flex;
  min-width: 56px;
  max-width: 200px;
  padding-right: var(--base-size-16);
  align-items: center;
  grid-area: actions;
  flex-grow: 2px;
}

.hasActions {
  max-width: unset;
}
