.container {
  display: flex;
  padding-right: var(--base-size-4);
  padding-left: var(--base-size-12);
  flex-direction: row;
  grid-area: status;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--stack-gap-condensed);

  &:where(.isSelectable) {
    padding-left: 0;
  }
}
