.container {
  display: inline-block;
  margin-right: var(--base-size-8);

  &:where(.containerLink):hover {
    text-decoration: none;
  }
}

.label {
  display: grid;
  overflow: hidden;

  .labelText {
    overflow: hidden;
    line-height: normal;
    text-overflow: ellipsis;
  }
}
