.outer {
  display: flex;
  /* stylelint-disable-next-line primer/spacing */
  margin-top: 10px;
  flex-direction: column;
  grid-area: status;

  &:where(.hasNewActivity) {
    /* stylelint-disable-next-line primer/spacing */
    margin-top: 5px;
  }

  &:where(.defaultVariant) {
    /* stylelint-disable-next-line primer/spacing */
    margin-top: 14px;
  }
}

.inner {
  display: flex;
  width: 16px;
  height: 16px;
  align-items: center;
  justify-content: center;
}
