.container {
  display: flex;
  padding-right: var(--base-size-8);
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  gap: var(--stack-gap-normal);
  flex-grow: 1;
  grid-area: main-content;
}

.inner {
  display: flex;
  min-width: 40%;
  height: 100%;
  /* stylelint-disable-next-line primer/spacing */
  padding-bottom: 10px;
  overflow: hidden;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  gap: 0;
  align-items: flex-start;

  &:where(.compact) {
    /* stylelint-disable-next-line primer/spacing */
    padding-bottom: unset;
    flex-direction: column;
    gap: 0;
    justify-content: center;
    align-items: flex-start;

    @media screen and (min-width: 544px) {
      flex-direction: row;
      gap: 0;
      justify-content: flex-start;
      align-items: center;
    }

    @media screen and (min-width: 768px) {
      gap: var(--base-size-4);
    }
  }
}
