.metadata {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  &:where(.secondary) {
    font-size: var(--text-body-size-small);
    font-weight: normal;
    color: var(--fgColor-muted);
    flex-shrink: 0;
    gap: var(--base-size-4);
  }

  &:where(.primary) {
    padding-right: var(--base-size-16);
    gap: var(--stack-gap-normal);
  }

  &:where(.alignRight) {
    justify-content: flex-start;

    @media screen and (min-width: 544px) {
      justify-content: flex-end;
    }
  }

  &:empty {
    display: none;

    @media screen and (min-width: 544px) {
      display: flex;
    }
  }
}
