<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<% page_info title: "Marketplace Agreements · Biztools" %>

<%= render layout: "biztools/biztools" do %>
  <div class="boxed-group">
    <h3>Marketplace Agreements</h3>
    <div class="Box Box--condensed">
      <%= render partial: "biztools/marketplace_agreements/agreements", locals: { agreements: agreements } %>
    </div>
  </div>
  <div class="boxed-group dangerzone">
    <h3>Add New Terms</h3>
    <div class="boxed-group-inner">
      <a href="<%= biztools_new_marketplace_agreement_path %>" class="btn btn-danger boxed-action">
        Create new agreement
      </a>
      <p>
        If you add a new Marketplace integrator agreement, integrators will see a
        prompt to sign the latest version. Similarly, adding a new end-user
        agreement will result in users signing the newest version when they
        install or purchase a listing.
      </p>
    </div>
  </div>
<% end %>
