.token {
  /* !important is required to beat Primer sx internal styles */
  padding-right: var(--base-size-12) !important;
  padding-left: var(--base-size-12) !important;
  font-weight: normal !important;
  background: var(--bgColor-default) !important;
}

.smallSummary {
  display: flex;
  align-items: center;
  gap: var(--base-size-4);
}

.visualLabel {
  display: block;
  line-height: 1;
}
