<%= params["current_name"] ? "Your repository will be renamed as" : "Your new repository will be created as" %> <strong><%= repository.name %></strong>.
<div <%= test_selector("repo-check-name-warning")%> class="color-fg-muted<% if margin %> mt-1<% end %>">
  The repository name can only contain ASCII letters, digits, and the characters <code>.</code>, <code>-</code> and <code>_</code>.
  <% if user_input_name.ends_with?(".git") %>
    The <code>.git</code> extension will be removed.
  <% end %>
</div>
