<% head = proc do %>
  <title>Go remote import path metadata</title>
  <meta name="go-import" content="<%= prefix %> git <%= reporoot %>">
<% end %>

<%= render layout: "layouts/document", locals: { head: head } do %>
  <!-- Metadata for Go remote import path -->
<% end %>
