<% page_info responsive: false, :title => "Recent Repositories", :selected_link => :explore_repos %>

<div class="pagehead">
  <div class="container"><%# erblint:disable DeprecatedCustomCss %>
    <%= render Navigation::ExploreComponent.new %>
    <h1>Recent Repositories</h1>
  </div>
</div><!-- /.pagehead -->

<div class="container"><%# erblint:disable DeprecatedCustomCss %>
  <%= cache "recent_repos", :ttl => 10.minutes do %>
    <div class="news news-full">
      <%= render :partial => 'repositories/repolist', :object => current_repositories, :locals => {:repos => current_repositories } %>
    </div>
  <% end %>
</div>
