<div class="Box">
  <div class="Box-row d-flex flex-items-center">
    <div class="mr-3">
      <%= render(GitHub::AvatarComponent.new(actor: current_user, size: 32)) %>
    </div>
    <div class="Truncate flex-column">
      <p class="m-0">
        Signed in as
        <span class="m-0 Truncate-text"><strong>@<%= current_user.display_login %></strong></span>
      </p>
    </div>
  </div>
</div>
