<pulse-authors-graph>
  <div
    data-target="pulse-authors-graph.graph"
    class="js-graph graph-canvas pulse-authors-graph"
    data-bar-class="bar"
    data-url="<%= pulse_committer_data_url(@repository.owner.display_login, @repository.name, @period) %>">
    <%= render(Primer::Beta::Spinner.new(w: :full, classes: "graph-loading")) %>
  </div>
</pulse-authors-graph>
