<%# rubocop:disable Lint/InstanceVariable %>
<div class="container"><%# erblint:disable DeprecatedCustomCss %>
  <div class="boxed-group pt-4"><%# erblint:disable DeprecatedCustomCss %>
    <% if @view.success? -%>
    <h3>Unsubscribed</h3>

    <div class="boxed-group-inner markdown-body"><%# erblint:disable DeprecatedCustomCss %>
      <p>You’ve been unsubscribed from the thread.</p>
    </div>
    <% else -%>
      <%= render "notifications/unavailable" %>
    <% end -%>
  </div>
</div>

<% content_for :scripts do %><%# erblint:disable NoContentForScripts %>
  <%= javascript_bundle "notifications" %>
<% end %>
