<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%= render layout: "stafftools/stafftools" do %>
  <div class="boxed-group">
    <h3>Assets</h3>
    <div class="boxed-group-inner clearfix">
      <p>Assets track the unique uploaded files across GitHub, used in the following features: Avatars.</p>
      <p>Note: Downloads, Releases, and Issue attachments are currently stored separately.</p>

      <%= form_tag "", :method => :get do %>
        <div class="hfields">
          <dl class="form-group">
            <dd>
              <%= text_field_tag :oid, nil, :class => "short",
                                 :placeholder => "Find by OID" %>
            </dd>
          </dl>
        </div>
        <p>
          <%= render Primer::ButtonComponent.new(type: :submit) do %>Search<% end %>
        </p>
      <% end %>
    </div>
  </div>
<% end -%>
