<div class="branch-action-item-icon completeness-indicator completeness-indicator-success">
  <%= render(Primer::Beta::Octicon.new(icon: "check")) %>
</div>
<div class="h4 status-heading" <%= test_selector("advisory-state-published") %>>This advisory has been published.</div>

<span class="status-meta"  <%= test_selector("advisory-cve-request-available") %>>You can still request a CVE for this advisory below.</span>
