<div class="branch-action-item-icon completeness-indicator completeness-indicator-success">
  <%= render(Primer::Beta::Octicon.new(icon: "check")) %>
</div>
<div class="h4 status-heading">Required advisory information has been provided</div>

<% if view.workspace_clean? %>
  <span class="status-meta" <%= test_selector("advisory-ready-to-publish") %>>You’re ready to publish!</span>
<% else %>
  <span class="status-meta" <%= test_selector("advisory-ready-to-publish-after-merge") %>>You’re ready to publish, but first you must merge outstanding pull requests.</span>
<% end %>

