<div class="branch-action-item" <%= test_selector("repository-advisory-suggested-details") %>>
  <div class="branch-action-item-icon completeness-indicator completeness-indicator-problem">
    <%= render(Primer::Beta::Octicon.new(icon: "info")) %>
  </div>
  <div class="h4 status-heading">Suggested advisory information</div>
  <span class="status-meta">Provide additional information to help your users prioritize and remediate this advisory appropriately.</span>

  <ul class="merge-status-list list-style-none border-bottom" style="max-height: none;">
    <li class="merge-status-item d-flex flex-items-baseline" <%= test_selector("advisory-missing-fixed-versions") %>>
      <div class="merge-status-icon flex-self-center"></div>
      <div class="d-flex col-10 css-truncate css-truncate-target">
        <strong>Patched version</strong>
        &nbsp; <span class="color-fg-muted">&mdash; Notify your users of safe update options.</span>
      </div>
    </li>
  </ul>
</div>
