<%
  # Please remember to update app/views/verifiable_domains/_domain_verification_steps.html.erb too if you modify this
  # partial. This will ensure content on both files remains consistent as it's duplicated.
%>

<div id="copyable-domain-verification-steps" class="d-none" <%= test_selector "copyable-domain-verification-steps" %>>
1. Create a TXT record in your DNS configuration for the following hostname: <%= domain.dns_host_name %>
2. Use this code for the value of the TXT record: <%= domain.verification_token %>. Please note that the code will expire in <%= distance_of_time_in_words_to_now(domain.async_token_expiration_time.sync) %>.
3. Wait until your DNS configuration changes. This could take up to 72 hours to propagate.
</div>
