<%
  # Please remember to update app/views/verifiable_domains/_copyable_domain_verification_steps.html.erb too if you
  # modify this partial. This will ensure content on both files remains consistent as it's duplicated.
%>
  <ol class="ml-4" <%= test_selector "domain-verification-steps" %>>
    <li class="my-2">
      <strong>Create a TXT record in your DNS configuration for the following hostname:</strong>
        <%= render partial: "verifiable_domains/copy_value_hostname", locals: { value: domain.dns_txt_key_copy_challenge, domain_string_for_challenge: domain.domain_string_for_challenge, desc: "DNS TXT key" } %>
    </li>
    <li class="my-2">
      <strong>Use this code for the value of the TXT record:</strong>
      <%= render partial: "verifiable_domains/copy_value_verification_code", locals: { value: domain.verification_token, desc: "DNS TXT value" } %>
      <span class="text-small text-normal color-fg-muted">Please note that the code will expire in <%= distance_of_time_in_words_to_now(domain.async_token_expiration_time.sync) %>.</span>
    </li>
    <li class="my-2">
      <strong>Wait until your DNS configuration changes. This could take up to 72 hours to propagate.</strong>
    </li>
  </ol>
