<%= render partial: "verifiable_domains/notification_restrictions_affected_members",
  locals: {
    owner: owner,
    members_without_eligible_email_count: members_without_eligible_email_count
  } %>

<div class="Box-footer">
  <%= render Primer::Beta::Button.new(
    scheme: :danger,
    block: true,
    mt: 2,
    type: :submit,
    data: { "disable-with": "" }) do %>
    Restrict email notifications
  <% end %>
</div>
