<div class="d-flex flex-column flex-auto width-full mb-6 mb-lg-0 pb-2 pb-lg-0 overflow-hidden px-lg-3">
  <div class="d-flex flex-items-stretch flex-auto overflow-hidden">
    <div class="file-sidebar-container d-flex flex-column flex-auto overflow-hidden">
      <%= body %>
    </div>

    <div class="flex-shrink-0 col-4 border border-left-0 rounded-right-2 mb-3 pb-3 d-lg-block overflow-hidden">
      <div class="p-4 mb-3 overflow-y-auto height-full">
        <%= render Primer::Beta::Markdown.new(font_size: 5, pb: 3) do %>
          <%= markdown_content %>
        <% end %>
      </div>
    </div>
  </div>
</div>
