<% page_info selected_link: :gpg_keys %>

<div class="site-admin-unboxed">
  <div class="site-admin-subhead ruleless">
    <h2 class="site-admin-subhead-heading">
      <%= link_to "GPG keys", stafftools_user_gpg_keys_path(this_user) %>
      /
      <%= link_to \
            this_key.hex_key_id,
            gh_stafftools_user_gpg_key_path(this_key) %>
      / Database
    </h2>
  </div>

  <%= render \
        partial: "stafftools/database",
        locals: { record: this_key, denylist: %w(key_id public_key user_id) } %>
</div>
