<%# erblint:counter DeprecatedComponentsCounter 1 %>
<li><%= form_tag blob_new_path(params[:path], tree_name), method: :post, "data-turbo": false do %>
  <%= render Primer::ButtonComponent.new(scheme: :link, classes: "dropdown-item", type: :submit) do %>
    <%= local_assigns.fetch :button_text, "Create new file" %>
  <% end %>
<% end %></li>
