<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<% tracking = hydro_click_tracking_attributes("repository_toc_menu.click", { target: "trigger", repository_id: current_repository.id, }) %>
<details
  data-target="readme-toc.trigger"
  data-menu-hydro-click="<%= tracking["hydro-click"] %>"
  data-menu-hydro-click-hmac="<%= tracking["hydro-click-hmac"] %>"
  class="dropdown details-reset details-overlay"
>
  <summary
    class="btn btn-octicon m-0 mr-2 <% if show_toc %>p-2<% end %>"
    aria-haspopup="true"
    aria-label="Table of Contents">
    <%= primer_octicon(:"list-unordered") %>
  </summary>

  <% show_toc_search = headers.count >= 8 %>

  <details-menu class="SelectMenu" role="menu"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
    <div class="SelectMenu-modal rounded-3 mt-1" style="max-height:340px;">

      <% if show_toc_search %>
        <div class="SelectMenu-filter">
          <input
            class="SelectMenu-input form-control js-filterable-field"
            id="toc-filter-field"
            type="text"
            autocomplete="off"
            spellcheck="false"
            autofocus
            placeholder="Filter headings"
            aria-label="Filter headings">
        </div>
      <% end %>

      <div class="SelectMenu-list SelectMenu-list--borderless p-2" style="overscroll-behavior: contain;"<% if show_toc_search %> data-filterable-for="toc-filter-field" data-filterable-type="substring"<% end %>>
        <% headers.each do |header| %>
          <% next if header[:text].blank? %>
          <%= link_to html_label_name(header[:text]), "##{header[:anchor]}", {
            role: "menuitem",
            class: "filter-item SelectMenu-item ws-normal wb-break-word line-clamp-2 py-1 #{header[:level] == 1 ? "text-emphasized" : ""}",
            style: "-webkit-box-orient: vertical; padding-left: #{header[:level] * 12}px;",
            data: {
              action: "click:readme-toc#blur",
              targets: "readme-toc.entries"
            }.merge(hydro_click_tracking_attributes("repository_toc_menu.click", { target: "entry", repository_id: current_repository.id, }))
          } %>
        <% end %>
      </div>
    </div>
  </details-menu>
</details>
