<li><a href="<%= repo_uploads_path(current_repository.owner, current_repository, tree_name, params[:path]) %>" class="dropdown-item" <%= repo_turbo_frame_attr(flagged: true) %>>
  Upload files
</a></li>
