<%
  small_button = local_assigns.fetch(:small_button, false)
  use_left_padding = local_assigns.fetch(:use_left_padding, true)
%>

<% if show_use_this_template_button?(current_repository) %>
  <% clone_url = clone_template_repository_url(current_user, current_repository) %>
  <% if !codespaces_menu_visibility.has_access_to_codespaces? %>
    <%= link_to "Use this template", clone_url,
      class: class_names(
        "btn",
        "btn-primary",
        use_left_padding ? "ml-2" : "ml-0",
        small_button ? "btn-sm" : nil)
    %>
  <% else %>
    <%= render Primer::Beta::Details.new(overlay: :default, reset: true, position: :relative) do |component| %>
      <% component.with_summary(button: true, ml: use_left_padding ? 2 : 0, scheme: :primary, size: small_button ? :small : :medium) do %>
        <span class="flex-items-center">
          Use this template
          <span class="dropdown-caret ml-1"></span>
        </span>
      <% end %>
      <% component.with_body do %>
        <%= render Codespaces::UseTemplateDropdownComponent.new(repository: current_repository, clone_url: clone_url) %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
