<%= render layout: "stafftools/sponsors/members/layout", locals: { sponsors_listing: sponsors_listing } do %>
  <%= render Stafftools::Sponsors::Members::ChildListings::FilterComponent.new(
    sponsorable_login: sponsors_listing.sponsorable_login,
    filter: params
  ) %>

  <div id="child-listings-results">
    <%= render "stafftools/sponsors/members/child_listings/child_listings",
      child_listings: child_listings,
      sponsors_listing: sponsors_listing
    %>
  </div>
<% end %>
