<div class="border color-bg-accent rounded-2 p-2">
  <div class="d-flex flex-items-center flex-justify-between">
      <%= primer_octicon(:info, height: 18, color: :accent, ml: 2) %>
      <span class="pr-3">Before you can list an action on the GitHub Marketplace, you must accept the GitHub Marketplace Developer Agreement.</span>
      <%= render partial: "releases/marketplace_integrator_agreement_link", locals: { agreement: integrator_agreement, action: action, org_owner: org_owner, scope: "package_settings" } %>
  </div>
</div>
