<%= form_tag org_set_role_path(current_organization), :method => :put do %>
  <div class="Box-body">
    <p>Select a new role</p>
    <div class="form-group">
      <div class="form-checkbox">
        <label>
          <input name="role" type="radio" value="admin" required>
          Owner
        </label>
        <p class="note">
          Has full administrative access to the entire organization.
        </p>
      </div>
      <div class="form-checkbox">
        <label>
          <input name="role" type="radio" value="direct_member" required>
          Member
        </label>
        <p class="note">
          Can see every member and non-secret team in the organization<% if view.organization.members_can_create_repositories? %>, and can create new repositories<% end %>.
        </p>
      </div>
    </div>
  </div>
  <div class="Box-footer">
    <input type="hidden" name="member_ids" value="<%= [member_ids].flatten.join(",") %>">
    <%= render Primer::Beta::Button.new(
      type: :submit,
      scheme: :danger,
      "data-disable-with": "",
      "data-disable-invalid": ""
    ) do %>Change role<% end %>
  </div>
<% end %>
