<%= primer_octicon(:tools, :height => 32, classes: 'org-user-notice-icon') %>
<h3 class="org-user-notice-title">Owner</h3>
<p class="org-user-notice-content">
  As an owner, <strong><%= person.display_login %></strong> has <strong>admin access
  to all repositories</strong> that belong to the <%= organization.display_login %> organization.
  Manage your owners on the <a class="Link--inTextBlock" href="<%= org_owners_path(organization) %>">People page</a>.
</p>
