<%# view is an instance of Orgs::People::PendingCollaboratorInvitationsListView %>
<% if view.invitations.present? %>
  <ul class="member-listing table-list table-list-bordered">
    <% view.invitations.each do |invitation| %>
      <%= render(Organizations::People::PendingCollaboratorInvitationComponent.new(
        pending_collaborator_invitation: invitation,
        invitee: invitation.invitee,
        organization: view.organization,
        repository: invitation.repository,
      )) %>
  <% end %>
  </ul>
<% else %>
  <%= render Primer::Beta::Blankslate.new do |c| %>
    <% c.with_heading(tag: :h2) do %>
      <%= "There aren't any pending collaborators#{view.friendly_query(params)}." %>
    <% end %>
  <% end %>
<% end %>

<div class="paginate-container" data-pjax data-html-cleaner-suppress-children>
  <%= will_paginate view.invitations %>
</div>
