<%# erblint:counter GoogleAnalyticsDeprecation 1 %>
<%# view is an instance of Orgs::People::RepositoryPermissionsView %>
<% if view.revoke_active_repo_access_button_enabled? %>
  <div class="manage-access-remove-footer">
    <%= render layout: "shared/details_dialog", locals: {
      details_class: "width-full",
      button_class: "btn btn-block btn-danger",
      button_text: "Remove #{view.repository_permissions.active_permission} access",
      ga_click: "Orgs, remove active repo access, location:active repo access column; text:Remove access",
      title: "#{view.will_retain_access? ? "Decrease" : "Remove"} #{view.person.display_login}’s access",
    } do %>
      <%= render "orgs/people/remove_repo_access_dialog", view: create_view_model(
        Orgs::People::RemoveRepoAccessDialogView,
        :organization           => view.organization,
        :person                 => view.person,
        :repository             => view.repository,
        :repository_permissions => view.repository_permissions,
        :active_only            => true,
      ) %>
    <% end %>
  </div>
<% end %>
