<%# `view` is an instance of Orgs::People::IndexPageView %>
<% page_info title: "Failed Invitations · People · #{view.organization.display_login}"%>

<%= render layout: "orgs/people/layout", locals: { view: view } do %>
  <div
    id="org-failed-invitations-table"
    class="js-check-all-container js-bulk-actions-container"
    data-bulk-actions-url="<%= org_failed_invitation_toolbar_actions_path(view.organization) %>"
    <%= test_selector("failed-invitations-table")%>
  >
    <%= render "orgs/people/failed_invitation_table", view: view %>
  </div>
<% end %>
