<p>
You have been granted access to a custom model by an administrator of the organization <%= link_to @org.safe_profile_name, org_dashboard_url_to_main_site(@org.display_login) %>.
</p>
<p>
</p>
<p>
Custom models offer you better quality of suggestions by using your organization repositories' data to inform the code suggestions.
</p>
<ul>
<li><%= link_to "Learn more about custom models", "https://docs.github.com/enterprise-cloud@latest/copilot/managing-copilot/managing-github-copilot-in-your-organization/customizing-copilot-for-your-organization/creating-a-custom-model-for-github-copilot" %></li>
</ul>
<p>
You will now receive Copilot code completion suggestions based on the custom model.
</p>
