<p>
The custom model training in <%= link_to @org.safe_profile_name, org_dashboard_url_to_main_site(@org.display_login) %> is ready to use instead of the GitHub Copilot base model.
</p>
<p>
  <%= render(
    Mail::ButtonComponent.new(
      text: "View Custom Model",
      url: settings_org_copilot_custom_model_trainings_show_url(@org.display_login, @pipeline_id),
      classes: "btn-primary btn-medium"
    )
  ) %>
</p>
<p>
</p>
<p>
All enterprise managed users who are granted access to Copilot Enterprise from your organization will now receive Copilot code completion suggestions based on the custom model.
</p>
<ul>
<li><%= link_to "Learn more about custom models", "https://docs.github.com/enterprise-cloud@latest/copilot/managing-copilot/managing-github-copilot-in-your-organization/customizing-copilot-for-your-organization/creating-a-custom-model-for-github-copilot" %></li>
</ul>
