<p>
The administrator for <%= link_to @org.safe_profile_name, org_dashboard_url_to_main_site(@org.display_login) %> has deleted the custom model.
</p>
<p>
</p>
<p>
All enterprise managed users who are granted access to Copilot Enterprise from your organization will now receive Copilot code completion suggestions based on the GitHub Copilot base model. No action is needed from you.
</p>
