<li class="Box-row d-table width-full Box-row--focus-gray js-navigation-item">

  <div class="d-table-cell">
    <span class="count-value"><%= entry.value %></span>
  </div>

  <div class="d-table-cell">
    <div><%= entry.additional_context %></div>
  </div>

  <div class="d-table-cell">
    <div>
      #<%= entry.id %> created <%= time_ago_in_words_js(entry.created_at) %>
    </div>
  </div>
</li>
