<% page_info :title => "#{view.name_with_display_owner}: Importing" %>

<div class="container-md my-5">
  <%= render Primer::Beta::Subhead.new(mt: 3, mb: 3) do |component| %>
    <% component.with_heading(tag: :h2) do %>Update commit authors<% end %>
    <% component.with_description do %>
      Change author email addresses or map to existing GitHub users.
    <% end %>
  <% end %>

  <ul class="Box">
    <% view.authors.each do |author| %>
      <%= render "repository_imports/authors/author", view: create_view_model(RepositoryImports::Authors::AuthorView, :author => author, :repository_import => view.repository_import) %>
    <% end %>
  </ul>

  <%= link_to "Back to import", repository_import_path(view.url_params), :class => "btn mt-3" %>
</div>
