<div class="border rounded-2 comment-holder js-line-comments <%= local_assigns.fetch(:thread_class, "") %>"
  <%= test_selector('review-thread') %>>
  <div>
    <div class="js-comments-holder">
      <% commit_thread.comments_for(current_user).each do |comment| %>
        <%= render Comments::InlineCommitCommentComponent.new(
              commit_comment: comment,
              repository: comment.repository,
              dom_id: "r#{comment.id}",
              new_comment: local_assigns[:new_comment]
            ) %>
      <% end %>
    </div>

    <% if logged_in? && current_repository.writable? && !commit_thread.locked_for?(current_user) %>
      <div class="review-thread-reply pt-2 px-3">
        <%= render :partial => "diff/inline_comment_form", formats: [:html], :locals => {
              :thread => commit_thread,
              :replying => true
            } %>
      </div>
    <% end %>
  </div>
</div>
