<% clipboard_path_string = nil unless defined?(clipboard_path_string) %>

<span class="Truncate">
  <%=
    link_to truncated_path_string,
      path_link_target,
      title: full_path_string,
      class: "Link--primary Truncate-text"
  %>

  <%= render Primer::Beta::ClipboardCopy.new(value: clipboard_path_string || full_path_string, "data-copy-feedback": "Copied!", "aria-label": "Copy", color: :muted, classes: "Link--onHover", test_selector: test_selector_name, ml: 2, mr: 2) %>
</span>
