<button type="button" class="btn-octicon js-details-target" aria-label="Toggle diff contents" aria-expanded="true" style="width: 22px;">
  <%= primer_octicon(:"chevron-down", classes: "Details-content--hidden") %>
  <%= primer_octicon(:"chevron-right", classes: "Details-content--shown") %>
</button>
