<%# erblint:counter DeprecatedComponentsCounter 1 %>
<div class="js-diff-progressive-container">
  <include-fragment src="<%= diffs_path_for(
    :file_list_view => file_list_view,
    :base_repository => base_repository,
    :head_repository => head_repository,
    :start_entry => local_assigns.fetch(:start_entry, nil),
    :whitespace => file_list_view.ignore_whitespace?,
    :sticky => local_assigns.fetch(:sticky, false),
    :responsive => responsive?)
    %>" class="diff-progressive-loader js-diff-progressive-loader mb-4 d-flex flex-items-center flex-justify-center"
    data-targets="diff-file-filter.progressiveLoaders"
    data-action="include-fragment-replace:diff-file-filter#refilterAfterAsyncLoad"
    >
    <%= render(Primer::Beta::Spinner.new("data-hide-on-error": true)) %>

    <div data-show-on-error hidden>
      <%= primer_octicon(:alert, color: :danger, mr: 1) %>
      Oops, something went wrong.
      <%= render Primer::ButtonComponent.new(scheme: :link, "data-retry-button": "") do %>Retry<% end %>
    </div>
  </include-fragment>
</div>
