<% colspan ||= 3 %>
<% type ||= nil %>

<tr class="inline-comments js-inline-comments-container js-skip-tagsearch">
  <td class="line-comments <%= type %> p-0 p-md-2 js-line-comments js-quote-selection-container" data-quote-markdown=".js-comment-body" colspan="<%= colspan %>">
    <%= render :partial => "diff/review_threads", :object => threads %>
  </td>
</tr>
