<tr class="js-inline-annotations">
  <td class="border-top border-bottom" colspan="3" style="max-width: 0">
    <% annotations.each do |annotation|  %>
      <% code_scanning_alert = annotations.code_scanning_alert(annotation) %>
      <% if code_scanning_alert.present? %>
        <%= render CodeScanning::AnnotationComponent.new(
            code_scanning_annotation_result: code_scanning_alert[:result],
            inline: true,
            annotation_id: annotation.id,
            fallback_warning_level: annotation.warning_level,
            fallback_tool_name: annotation.parent_name,
            fallback_alert_title: annotation.title,
            fallback_alert_message: annotation.message,
            alert_number: code_scanning_alert[:cs_annotation].alert_number,
            repository: pull_request&.repository || current_repository,
            refs: code_scanning_alert[:pull_request_refs],
            pull_request: pull_request) %>
      <% else %>
        <%= render partial: "diff/inline_annotation", locals: {
            annotation: annotation,
            pull_request: pull_request,
            end_line_text: end_line_text,
        } %>
      <% end %>
    <% end %>
  </td>
</tr>
