<% if split_diff? %>
  <template id="js-inline-comments-single-container-template">
    <tr class="inline-comments js-skip-tagsearch js-inline-comments-container">
      <td class="line-comments js-line-comments js-quote-selection-container" data-quote-markdown=".js-comment-body" colspan="4">
        <div class="js-line-comments">
          <div class="comment-holder js-comments-holder">
          </div>
          <%= render :partial => "diff/inline_comment_form", :locals => {
                :thread => thread,
              } %>
        </div>
      </td>
    </tr>
  </template>

  <template id="js-inline-comments-split-container-template">
    <tr class="inline-comments js-skip-tagsearch js-inline-comments-container">
      <td class="blob-num empty-cell js-deletion"></td>
      <td class="empty-cell js-deletion"></td>
      <td class="blob-num empty-cell js-addition"></td>
      <td class="empty-cell js-addition"></td>
    </tr>
  </template>

  <template id="js-inline-comments-split-form-container-template">
    <td class="line-comments js-line-comments js-quote-selection-container" data-quote-markdown=".js-comment-body" colspan="2">
      <div class="js-line-comments">
        <div class="comment-holder js-comments-holder">
        </div>
        <%= render :partial => "diff/inline_comment_form", :locals => {
              :thread => thread,
            } %>
      </div>
    </td>
  </template>
<% else %>
  <template id="js-inline-comments-single-container-template">
    <tr class="inline-comments js-skip-tagsearch js-inline-comments-container">
      <td class="line-comments js-line-comments js-quote-selection-container p-0 p-sm-2" data-quote-markdown=".js-comment-body" colspan="3">
        <div class="js-line-comments">
          <div class="comment-holder js-comments-holder">
          </div>
          <%= render :partial => "diff/inline_comment_form", :locals => {
                :thread => thread,
              } %>
        </div>
      </td>
    </tr>
  </template>
<% end %>
