<%# erblint:counter LabelComponentMigrationCounter 1 %>
<hr>
<h3 class="mb-2">Unchanged files with check annotations <span class="Label border color-border-success color-fg-default m-0 v-align-middle">Beta</span> </h3>
<%
  non_diff_blobs.each do |blob|
%>
  <% view = create_view_model(Diff::NonDiffEntry, {
    :blob => blob,
    :repository => repository,
    :pull_request => pull_request,
    :annotations => annotations.path(blob.path),
  })%>

  <% if view.at_least_one_annotation_within_blob? %>
    <%= render "diff/non_diff_entry", :view => view %>
  <% end %>
<% end %>
