<% review_threads.each_with_index do |review_thread, index| %>
  <% if review_thread.is_a?(DeprecatedPullRequestReviewThread) %>
    <div class="comment-holder">
      <%= render PullRequests::ReviewThreadComponent.new(
        review_thread_or_comment: review_thread.activerecord_pull_request_review_thread,
        pull_request: review_thread.pull,
        rendering_on_files_tab: local_assigns.fetch(:rendering_on_files_tab, true),
      ) %>
    </div>
  <% else %>
    <%= render partial: "diff/commit_thread", locals: {
      commit_thread: review_thread,
      thread_class: index > 0 ? "mt-3" : ""
    } %>
  <% end %>
<% end %>
