/* stylelint-disable primer/colors */
.navListHeading {
  font-size: var(--brand-text-size-100);
  color: var(--brand-color-text-muted);
  text-transform: uppercase;
  letter-spacing: 0.031rem;
}

.navList {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  flex-direction: column;
  gap: var(--base-size-4);
}

.navListItem {
  display: block;
  padding: var(--base-size-8) var(--base-size-12);
  color: var(--brand-color-text-muted);
  text-decoration: none;
  cursor: pointer;
  border-radius: var(--borderRadius-medium);
}

.navListItem * {
  color: inherit;
}

.navListItemSelected,
.navListItem:hover {
  color: var(--brand-color-text-default);
  background-color: var(--base-color-scale-gray-1);
}

[data-color-mode='dark'] .navListItemSelected,
[data-color-mode='dark'] .navListItem:hover {
  background-color: var(--base-color-scale-gray-6);
}

.cardGrid {
  --brand-Grid-spacing-row: var(--base-size-48);
}

.articleCardImage {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
}

@media screen and (max-width: 63.25rem) {
  .articleCard {
    margin: 0 auto;
  }
}
