<tr class="Box-row">
  <td class="p-3"><%= invitation.source.sanitized_source_login %></td>
  <td class="p-3"><%= invitation.target.display_login %></td>
  <td class="p-3"><%= invitation.display_state %></td>
</tr>
