<%= render Primer::Beta::Subhead.new do |component| %>
	<% component.with_heading(tag: :h2) do %>Import/Export<% end %>
<% end %>

<nav class="UnderlineNav mb-3" aria-label="Import/Export Navigation">
  <div class="UnderlineNav-body">
    <% mannequins_path = settings_org_import_export_path(current_organization) %>
    <%= selected_link_to "Mannequins", mannequins_path , {
      class: "UnderlineNav-item"
    }%>
    <% invitations_path = settings_org_import_export_invitations_path(current_organization) %>
    <%= selected_link_to "Attribution Invitations", invitations_path , {
      class: "UnderlineNav-item"
    }%>
  </div>
</nav>

<%= yield %>
