<div class="Box-row TableObject">
  <div class="TableObject-item TableObject-item--primary">
    <p class="text-bold"><%= mannequin.source_login %></p>
    <p class="text-italic"><%= mannequin.email %></p>
  </div>
  <div class="TableObject-item">
    <%= render "settings/organization/import_export/reattribution_form", mannequin: mannequin %>
  </div>
</div>
