<% if include_reusable_workflow? %>
  Any action or reusable workflow that matches the specified criteria, plus those defined in a repository within <%= higher_level_entity_text %>, can be used.
  <a class="Link--inTextBlock" href="<%= specific_actions_docs_url %>">
    Learn more about allowing specific actions and reusable workflows to run.
  </a>
<% else %>
  Only actions that match specified criteria, plus <%= local_actions_text %>, can be used.
  <a class="Link--inTextBlock" href="<%= specific_actions_docs_url %>">
    Learn more about allowing specific actions to run.
  </a>
<% end %>
