<div class="col-12 d-flex user-select-none">
  <div class="d-flex flex-items-start col-6 col-md-12 pr-1">
    <div class="d-flex flex-auto flex-justify-between flex-items-start">
      <div class="flex-auto d-inline-block text-semibold">
        <%= row[:title] %>
      </div>
    </div>
  </div>
  <div class="d-flex d-md-none flex-items-start col-6">
    <div class="pl-3 pr-3 js-compare-features-item" data-plan="enterprise">
      <% if row[:enterprise].present? && row[:enterprise] %>
        <%= GitHub::Goomba::MarkdownPipeline.to_html(row[:enterprise], cache_settings: { use_cache: true }) %>
      <% else %>
        n/a
      <% end %>
    </div>
    <div class="pl-3 pr-3 js-compare-features-item" data-plan="premium">
      <% if row[:premium].present? && row[:premium] %>
        <%= GitHub::Goomba::MarkdownPipeline.to_html(row[:premium], cache_settings: { use_cache: true }) %>
      <% else %>
        n/a
      <% end %>
    </div>
    <div class="pl-3 pr-3 js-compare-features-item" data-plan="premium-plus">
      <% if row[:premium_plus].present? && row[:premium_plus] %>
        <%= GitHub::Goomba::MarkdownPipeline.to_html(row[:premium_plus], cache_settings: { use_cache: true }) %>
      <% else %>
        n/a
      <% end %>
    </div>
  </div>
</div>
