<details class="premium-support-compare-features details-reset text-center width-full">
  <summary class="f2-mktg text-medium d-inline-block position-relative p-5" aria-haspopup="true">
    <span class="faq-mktg-marker" aria-hidden="true"></span>
    Compare all features
  </summary>

  <details id="plan-picker" class="details-reset details-overlay d-md-none position-sticky top-0 left-0 right-0 width-full z-2 color-bg-subtle">
    <summary class="f3-mktg text-normal p-3" aria-haspopup="true">
      <div class="d-flex flex-items-center flex-justify-between">
        <span>
          Features on <span class="h6-mktg color-fg-accent js-compare-features-selected" data-default-plan="premium" style="text-transform: capitalize;">Premium</span>
        </span>
        <span class="f5 color-fg-accent d-flex flex-items-center ml-2"><%= render(Primer::Beta::Octicon.new(icon: "arrow-switch", color: :accent, mr: 2)) %>Switch plans</span>
      </div>
    </summary>
    <details-menu class="SelectMenu" role="menu"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
      <div class="SelectMenu-modal">
        <header class="SelectMenu-header">
          <h3 class="SelectMenu-title">Select a plan to review its features</h3>
        </header>
        <div class="SelectMenu-list">
          <button class="SelectMenu-item js-compare-features-nav" type="button" data-toggle-for="plan-picker" data-plan="enterprise">Enterprise</button>
          <button class="SelectMenu-item js-compare-features-nav" type="button" data-toggle-for="plan-picker" data-plan="premium">Premium</button>
          <button class="SelectMenu-item js-compare-features-nav" type="button" data-toggle-for="plan-picker" data-plan="premium-plus">Premium Plus</button>
        </div>
      </div>
    </details-menu>
  </details>

  <div role="table" class="container-xl">
    <div role="rowgroup" class="p-responsive d-none d-md-block position-sticky color-bg-subtle z-2 top-0 left-0 right-0 width-full pt-5 pb-3">
      <div role="row" class="d-flex gutter text-center">
        <div role="columnheader" class="col-3 d-flex flex-column height-full">
          <span class="sr-only">Features</span>
        </div>
        <% plans.each_with_index do |plan_info, index| %>
          <div role="columnheader" class="col-3 d-flex flex-column height-full">
            <h3 class="f3-mktg pb-3 text-semibold"><%= plan_info[:title] %></h3>
          </div>
        <% end %>
      </div>
      <div role="row" class="d-flex gutter text-center">
        <div role="rowheader" class="col-3 d-flex flex-column height-full">
          <span class="sr-only">How to get started?</span>
        </div>
        <% plans.each_with_index do |plan_info, index| %>
          <% if plan_info[:title] == 'Enterprise' && !plan_info[:cta].present? %>
            <div role="cell" class="col-3 d-flex flex-column height-full">
              <span class="sr-only">Already included with your Enterprise license</span>
            </div>
          <% else %>
            <div role="cell" class="col-3 d-flex flex-column height-full">
              <div class="mt-auto border-top pt-3 text-center">
                <% if plan_info[:cta].present? %>
                  <% plan_info[:cta][:analytics] = {
                    ref_loc: "features comparison table"
                  } %>
                  <%= render Site::ButtonComponent.new(**plan_info[:cta]) %>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

    <% rows = [
      {
        title: "Plan coverage",
        enterprise: "Included with Enterprise Cloud and Enterprise Server	",
        premium: "Available for Enterprise Cloud and Enterprise Server",
        premium_plus: "Available for Enterprise Cloud and Enterprise Server"
      },
      {
        title: "Support hours",
        enterprise: "24/5",
        premium: "24/7",
        premium_plus: "24/7"
      },
      {
        title: "Initial response time",
        enterprise: "< 8 hours",
        premium: "30 minutes for Urgent (including initial troubleshooting)

  4 hours for High",
        premium_plus: "30 minutes for Urgent (including initial troubleshooting)

  4 hours for High"
      },
      {
        title: "Training",
        description: "One virtual training class is offered per year, with topics such as “GitHub for developers” and “GitHub for admins”.",
        enterprise: nil,
        premium: "Access to premium content",
        premium_plus: "Access to premium content

  1 virtual training class per year"
      },
      {
        title: "Members with support entitlements",
        description: "These members determine if incoming inquiries can be addressed via their company’s admin or only by GitHub.",
        enterprise: nil,
        premium: "20",
        premium_plus: "40"
      },
      {
        title: "Dedicated resources",
        enterprise: nil,
        premium: "Priority ticket handling",
        premium_plus: "Priority ticket handling + named Customer Reliability Engineer"
      },
      {
        title: "Escalation management",
        enterprise: nil,
        premium: "For High and Urgent priority tickets",
        premium_plus: "For High and Urgent priority tickets"
      },
      {
        title: "Incident management",
        description: "Ensures you have the technical resources needed for case resolution, and is available 24/7.",
        enterprise: nil,
        premium: nil,
        premium_plus: "For Urgent priority tickets, as needed"
      },
      {
        title: "Health Checks",
        enterprise: nil,
        premium: "Unlimited automated Health Check reports (see “Generating a Health Check for your enterprise”)",
        premium_plus: "Unlimited automated Health Check reports (see “Generating a Health Check for your enterprise”)

  Quarterly enhanced health checks with findings, interpretations, and recommendations from a CRE (by request)"
      },
      {
        title: "Crisis Prevention",
        enterprise: nil,
        premium: nil,
        premium_plus: "Up to four sessions about reliability best practices, preparing for a potential incident, and efficiently interacting with GitHub Support."
      },
      {
        title: "Technical advisory hours",
        description: "Hours can be scheduled at your discretion. You can use them for technical tasks, such as prepping for a GitHub Enterprise Server upgrade.",
        enterprise: nil,
        premium: nil,
        premium_plus: "12 hours per quarter"
      },
      {
        title: "Application upgrade assistance",
        description: "Delivered upon request via our Customer Reliability Engineers.",
        enterprise: nil,
        premium: nil,
        premium_plus: "By request"
      },
      {
        title: "Cloud planning",
        description: "Delivered upon request via our Customer Reliability Engineers.",
        enterprise: nil,
        premium: nil,
        premium_plus: "By request"
      },
    ] %>
    <div role="rowgroup" class="p-responsive f4-mktg faq-mktg text-left">
      <%= render "site/enterprise/premium_support/compare_features_rows", rows: rows %>
    </div>
  </div>
</details>
