<div class="container-xl p-responsive py-lg-8 position-relative z-1 mt-n6 mt-md-n8 mt-lg-n12 Links--underline">
  <%= render Site::FaqComponent.new(
    headline_size: :small,
    classes: "premium-support-faq",
    headline_classes: "text-semibold text-center",
    groups: [{
      title: "About GitHub Premium Support",
      items: [
        {
          question: "What is GitHub Premium Support for?",
          answer: "GitHub Premium Support helps customers implement GitHub Enterprise quickly and effectively across the organization with 24/7 support."
        },
        {
          question: "How much does GitHub Premium Support cost?",
          answer: "For pricing information, please get in touch with the [GitHub Premium Support Sales](/enterprise/contact?ref_loc=faq&scid=&utm_campaign=2023q3-site-ww-PremiumSupport&utm_content=Premium+Support&utm_medium=referral&utm_source=github) sales team."
        },
        {
          question: "What are the levels of support in GitHub Premium Support?",
          answer: "There are three levels of support:

1. The basic plan included with your GitHub Enterprise license
2. GitHub Premium Support
3. GitHub Premium Plus Support

Please refer to our [plan comparison table](#plans) for more details."
        },
        {
          question: "How do I contact GitHub Premium Support?",
          answer: "If you are an existing GitHub Premium Support customer, please sign in to our [support portal](#{GitHub.support_url}). If you don’t already have GitHub Premium Support, please [contact sales](/enterprise/contact?ref_loc=faq&scid=&utm_campaign=2023q3-site-ww-PremiumSupport&utm_content=Premium+Support&utm_medium=referral&utm_source=github)."
        }
      ]
    }, {
      title: "Choosing your plan",
      items: [
        {
          question: "What is escalation and incident management?",
          answer: "Escalation and incident management is the ability to escalate ticket progression in the GitHub support portal. After someone escalates a ticket, Support Incident Coordinators orchestrate all necessary parties to resolve the ticket. Additionally, Senior Escalation Engineers (SEEs) facilitate GitHub-internal technical communications and liaise with the rest of GitHub to improve the support team’s capability in similar future circumstances."
        },
        {
          question: "What is incident response management?",
          answer: "Incident response management helps manage the technical resources needed for case resolution. Support Incident Coordinators are available for incident response management 24/7."
        },
        {
          question: "What are my SLAs for initial response?",
          answer: "GitHub Premium Support and GitHub Premium Plus Support customers have SLAs. For urgent priority tickets, your SLA guarantees a 30-minute initial response time, which includes troubleshooting. For high priority tickets, your SLA provides a four-hour initial response time."
        },
        {
          question: "What’s included in initial troubleshooting?",
          answer: "For initial troubleshooting, the assigned Premium Support Engineer/Customer Reliability Engineer will review and acknowledge your ticket. To better understand the issue and start troubleshooting, the engineer may ask for additional information such as screenshots, error messages, log files, diagnostics files, support bundles, or the output of specific console commands. They may also collaborate with others in support, engineering, or in the regional incident commander.

  If a callback was requested, the engineer will determine if screen sharing is the most effective way to drive ticket resolution. If so, they will invite you to join a screen-sharing session."
        },
        {
          question: "How do I get health check reports?",
          answer: "GitHub Premium Support and GitHub Premium Plus Support customers are entitled to unlimited automated health check reports. Additionally, GitHub Premium Plus Support customers can request quarterly enhanced health checks with findings, interpretations, and recommendations from a Customer Reliability Engineer (CRE)."
        },
        {
          question: "What is crisis prevention?",
          answer: "Crisis prevention allows GitHub Enterprise Server customers to prepare for — and experience — an incident without risk. Your Customer Reliability Engineer (CRE) guides your team through an incident simulation in a safe and controlled environment.

Crisis Prevention consists of up to four sessions about reliability best practices, preparing for a potential incident, and efficiently interacting with GitHub Support. After the incident simulation, your CRE will run a detailed retrospective, uncovering lessons learned and improvement suggestions for the future."
        },
        {
          question: "How long does GitHub Premium Support take?",
          answer: "GitHub Premium Support and GitHub Premium Plus Support Plus customers have service-level agreements (SLAs) for initial response. For urgent priority tickets, the initial response SLA guarantees a 30-minute initial response time, which includes troubleshooting. For high-priority tickets, the initial response SLA provides a four-hour time.

We currently do not provide estimates for time to resolution, as the complexity of tickets varies. However, we review these metrics on a regular basis and reduce times whenever possible."
        },
        {
          question: "How do I resolve a problem in GitHub Enterprise?",
          answer: "You can get support via online ticket submission if you’re using the basic plan included with your GitHub Enterprise license. If you have GitHub Premium Support or GitHub Premium Plus Support, you can submit a ticket online. For urgent tickets, GitHub Premium Support and GitHub Premium Plus Support customers can request a callback and have a screen-sharing session with one of our Premium Support Engineers or Customer Reliability Engineers (CREs). Please refer to our [plan comparison table](#plans) for more details."
        },
      ]
    }, {
      title: "Rules and policies",
      items: [
        {
          question: "If I do not use all the technical advisory hours in a given quarter, can they be carried over?",
          answer: "Premium Plus customers may use up to 12 technical advisory hours per quarter. Unused technical advisory hours may not be carried over into the next quarter."
        },
        {
          question: "How can the technical advisory support hours be used? ",
          answer: "There are multiple ways you can use technical advisory hours, including but not limited to:

- Consultations regarding GitHub best practices and general recommendations
- GitHub Enterprise Server upgrade preparation and assistance
"
        },
        {
          question: "Does GitHub Premium Support provide service on weekends?",
          answer: "Yes! GitHub Premium Support and GitHub Premium Plus Support customers receive 24/7 support."
        }
      ]
    }, {
      title: "Upgrading your plan",
      items: [
        {
          question: "What virtual trainings are available with GitHub Premium Plus Support and who can participate?",
          answer: "Customers get access to one virtual training class per year. Topics include:

- “GitHub for developers” (up to 20 participants)
- “GitHub for admins” (Cloud or Server, up to 10 participants)
- “GitHub for non-developers” (up to 20 participants)"
        },
        {
          question: "What value will I get by upgrading to GitHub Premium Plus Support?",
          answer: "GitHub Premium Plus Support customers get an assigned Customer Reliability Engineer (CRE), quarterly enhanced health checks, access to crisis prevention, technical advisory hours, and many additional benefits, which you can review in our [plan comparison table](#plans)."
        },
        {
          question: "What’s the benefit of having a Customer Reliability Engineer (CRE) over a Premium Support Engineer?",
          answer: "A CRE knows your customer account in detail and can help you expedite case resolution faster than a Premium Support Engineer."
        },
        {
          question: "Since I get GitHub Enterprise Support for free, why should I upgrade to GitHub Premium Support?",
          answer: "Most customers upgrade to GitHub Premium Support because they need initial response SLAs for urgent and high priority requests, phone support, screen share support for critical issues, and health checks. To see a full list of features for GitHub Premium Support packages, please refer to our [plan comparison table](#plans)."
        }
      ]
    }]
  ) %>
</div>
