<div class="container-xl p-responsive position-relative pt-lg-8 mt-9 mt-md-12 z-1">
  <div class="d-flex flex-wrap gutter">
    <div class="col-12 col-md-6 d-flex flex-column flex-items-start">
      <p class="f4-mktg color-fg-muted">Ready to maximize your investment?</p>
      <h2 class="h4-mktg text-semibold mb-6 mb-md-7">Get in touch with a GitHub Premium Support specialist today.</h2>
      <p class="col-10 col-md-8 color-fg-muted mt-auto">Click below to fill out the form, and our management team will contact you within 48 hours.</p>
      <%= render Site::ButtonComponent.new(
        text: "Get a quote",
        url: enterprise_contact_requests_path(
          utm_source: "github",
          utm_medium: "referral",
          utm_campaign: "2023q3-site-ww-PremiumSupport",
          utm_content: "Premium Support",
          scid: ""
        ),
        analytics: {
          ref_loc: "footer"
        },
        arrow: true
      ) %>
    </div>
    <div class="col-12 col-md-6">
      <%= render Site::ImageComponent.new(
        src: image_path("modules/site/premium-support/happy-customer.jpg"),
        loading: "lazy",
        decoding: "async",
        width: 1138,
        height: 736,
        classes: "d-block height-auto ml-auto col-12 col-lg-11 mt-4 mt-md-0 rounded-2",
        alt: "A woman video calling with someone on a laptop while sitting at the table.",
        sizes: "569px"
      ) %>
    </div>
  </div>
</div>

<%= image_tag(
  image_path("modules/site/premium-support/footer-cta-glow.png"),
  loading: "lazy",
  decoding: "async",
  alt: "",
  aria: { hidden: true },
  class: "position-absolute bottom-0 right-0 height-auto events-none",
  width: 100,
  height: 49,
  style: "width: 1341px;"
) %>
