<div class="container-xl p-responsive position-relative mt-9 mt-md-12 mb-9 mb-md-12 py-lg-8">
  <h2 class="h4-mktg text-semibold mb-5 mb-md-9 text-md-center mx-md-auto col-10 col-lg-6">Meet your dedicated GitHub Premium&nbsp;Support team</h2>

  <div class="d-flex gutter flex-wrap">
    <% team = [{
      title: "Premium Support Engineers",
      description: "Premium Support Engineers, available only for GitHub Premium Support customers, are dedicated resources who manage and coordinate your entire GitHub Premium Support experience.",
      alt: "A woman from behind coding on a laptop.",
      image: "team-premium-support-engineers.jpg"
    }, {
      title: "Support Incident Coordinators",
      description: "Support Incident Coordinators are responsible for any major incident management, from initiation until resolution, and are available to you 24/7.",
      alt: "A man working on a laptop at his desk.",
      image: "team-support-incident-coordinators.jpg"
    }, {
      title: "Customer Reliability Engineers (CREs)",
      description: "Customer Reliability Engineers (CREs), available only for GitHub Premium Plus Support customers, know your customer account in detail and can provide answers faster than Premium Support Engineers.",
      alt: "Two men working on computers at neighboring desks.",
      image: "team-customer-reliability-engineers.jpg"
    }]

    team.each do |team_role| %>
      <div class="col-12 col-md-4<%= " mb-7 mb-md-0" if !team_role.equal?(team.last) %>">
        <%= render Site::ImageComponent.new(
          src: image_path("modules/site/premium-support/#{team_role[:image]}"),
          loading: "lazy",
          decoding: "async",
          width: 770,
          height: 446,
          classes: "d-block rounded-2 width-full height-auto mb-5 mb-md-7",
          alt: team_role[:alt],
          sizes: "385px"
        ) %>
        <h3 class="h6-mktg text-semibold"><%= team_role[:title] %></h3>
        <p class="color-fg-muted mb-0 mt-3 f4-mktg"><%= team_role[:description] %></p>
      </div>
    <% end %>
  </div>
</div>
