<div class="container-xl p-responsive position-relative mt-9 mt-md-12 mb-9 mb-md-12 py-lg-8">
  <h2 class="h4-mktg text-semibold mb-5 mb-md-9 text-md-center mx-md-auto col-10 col-lg-6">See what customers are saying about GitHub Premium&nbsp;Support</h2>

  <div class="color-bg-subtle border position-relative overflow-hidden rounded-3 pt-5 pb-6 pb-md-8 pt-md-7 px-5 px-lg-0">
    <%= image_tag(
      image_path("modules/site/premium-support/testimonials-glow.png"),
      loading: "lazy",
      decoding: "async",
      alt: "",
      aria: { hidden: true },
      class: "position-absolute right-0 top-0 height-auto events-none",
      width: 100,
      height: 53,
      style: "width: 899px;"
    ) %>
    <div class="d-flex flex-wrap gutter position-relative z-1">
      <% [{
        name: "Bloomberg",
        logo: "bloomberg.svg",
        width: 131,
        height: 26,
        quote: "Our support engineer was very helpful in pointing me to the exact resource I needed in minutes."
      }, {
        name: "CDK GLOBAL",
        logo: "cdk-global.svg",
        width: 164,
        height: 17,
        quote: "The support agent took care of the request with a great sense of urgency and addressed the issue well."
      }, {
        name: "Centrica",
        logo: "centrica.svg",
        width: 122,
        height: 23,
        quote: "I'd like to applaud our engineer for how he exceptionally responded to our query. This ticket was not a simple, one-answer investigation and I was very happy with how he explored multiple angles to investigate."
      }, {
        name: "vmware",
        logo: "vmware.svg",
        width: 101,
        height: 15,
        quote: "Our engineer was super helpful and spot on with figuring out the problem. The steps he suggested helped me figure out the problem quickly. Kudos!"
      }].each do |testimonial| %>
        <blockquote class="col-12 col-md-6 col-lg-4 offset-lg-1 my-4 my-md-8 d-flex flex-column">
          <span class="h3-mktg">“</span>
          <p class="f4-mktg mb-3 mb-md-4"><%= testimonial[:quote] %></p>
          <footer class="mt-auto">
            <%= image_tag(
              image_path("modules/site/premium-support/logos/#{testimonial[:logo]}"),
              loading: "lazy",
              decoding: "async",
              alt: "#{testimonial[:name]}",
              class: "d-block",
              width: testimonial[:width],
              height: testimonial[:height]
            ) %>
          </footer>
        </blockquote>
      <% end %>
    </div>
  </div>
</div>
