<pricing-calculator-section id="ghec">
  <ghec-calculator class="d-block rounded-2 box-shadow-card-border-mktg px-4 flex-auto flex-column mb-5 color-bg-default" data-targets="pricing-calculator.calculatorSections">
    <%= render partial: "site/pricing/calculator/section_header", locals: {
        name: "ghec",
        heading: "GitHub Enterprise",
        description: "Security, compliance and flexible deployment.",
        icon_name: "globe",
    } %>

    <div class="calculator-section calculator-section--hidden mt-2" data-target="pricing-calculator-section.sectionContent">
      <div data-target="pricing-calculator-section.sectionInputs" class="calculator-section">
        <div class="mx-1">
          <div class="border rounded-2 p-3 mb-2">
             <p class="f5-mktg color-fg-muted">Maximize developer agility and productivity. Developers can enjoy a fully-feature environment to build and innovate from idea to production. Work more collaboratively and efficiently anytime, anywhere, with secure open-source code repos and integrated code-to-cloud workflows.</p>
            <div class="d-flex flex-column pt-4 pb-2">
              <div class="mb-3 mb-sm-0">
                <label class="d-block f5-mktg text-bold mb-1" for="ghec-seat-count">Number of seats</label>
                <%= render partial: "site/pricing/calculator/unit_input", locals: {
                  name: "ghec-seat-count",
                  unit: "Users",
                  options: {
                    placeholder: "E.g 10",
                    data: {
                      target: "ghec-calculator.seatCountInput",
                      action: "input:ghec-calculator#calculate"
                      }
                    }
                  } %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="d-flex flex-column rounded-2 color-bg-subtle p-3 mt-1 mb-4">
        <div class="d-flex flex-items-center">
          <span class="f5-mktg text-bold pr-2 mr-auto">Cost per month</span>
          <span class="f5-mktg text-right text-bold" data-target="ghec-calculator.subtotalElement"><%= Money.new(0, "USD").format %></span>
          <span class="f5-mktg text-bold ml-1">USD</span>
        </div>
      </div>
    </div>

    <%= render partial: "site/pricing/calculator/more_info", locals: {
      link_name: "GitHub Enterprise",
      docs_href: "https://docs.github.com/enterprise-cloud@latest/get-started/onboarding/getting-started-with-github-enterprise-cloud",
    } %>
  </ghec-calculator>
</pricing-calculator-section>
