<div class="calculator-more-info" data-target="pricing-calculator-section.moreInfoLink">
  <div class="border-top height-full d-flex flex-justify-center flex-items-center py-3">
    <%= link_to(docs_href, class: "arrow-target-mktg no-underline text-gradient-purple-coral f4-mktg text-bold", target: "_blank", data: {
      **analytics_click_attributes(
        category: "Pricing Calculator",
        action: "click to More Info",
        label: "documentation_topic:#{link_name}"
      )
    }) do %>
      More about <%= link_name %>
      <span style="color:#ed4e50"><%= svg("site/icons/chevrow.svg", class: "octicon") %></span>
    <% end %>
  </div>
</div>
