<% data = {
  action: data_action,
  target: local_assigns[:data_target]
} %>

<% data = data.merge({
  **analytics_click_attributes(
    category: "Pricing Calculator",
    action: local_assigns[:data_hydro_action],
    label: local_assigns[:data_hydro_label]
   )
}) if local_assigns[:data_hydro_action].present? %>

<div class="pricing-calc-checkbox-container position-relative <%= local_assigns[:classes] %>">
  <%= check_box_tag(name, nil, false, aria: {label: name}, data: data, class: "pricing-calc-checkbox") %>
  <span class="pricing-calc-checkbox-control"></span>
</div>
