<% options = local_assigns[:options] || {} %>

<div class="border d-flex flex-row col-12 rounded-2 flex-justify-between with-unit">
  <%= number_field_tag(name, local_assigns[:value], options.merge(class: "width-full", min: "0")) %>
  <span class="flex-self-center px-2"><%= unit %></span>
</div>
