<p class="note github-oauth-note">
  Use <code>github.com</code> as a Single Sign-On using OAuth. Only users that belong to your organization
  there will be able to sign in to your Enterprise installation. This requires the installation
  to be able to use https to communicate with <code>api.github.com</code>.
</p>

<div class="github-oauth-note">
  <label class="label-heading">
    OAuth client ID <span class="muted">(required: the application's OAuth client id)</span>
  </label>
  <input id="oauth-client-id"
         type="text"
         name="github_oauth[client_id]"
         class="js-required"
         value="<%= view.gh_oauth_client_id %>"
         data-validation-message="valid client ID required">
</div>

<div class="github-oauth-note">
  <label class="label-heading">
    OAuth client secret <span class="muted">(required: the application's OAuth secret key)</span>
  </label>
  <input id="oauth-client-secret"
         type="text"
         name="github_oauth[client_secret]"
         class="js-required"
         value="<%= view.gh_oauth_client_secret %>"
         data-validation-message="valid client secret required">
</div>

<div class="github-oauth-note">
  <label class="label-heading">
    Organization name <span class="muted">(required: name of your organization in github.com, organization/team_id is also supported)</span>
  </label>
  <input id="oauth-org-name"
         type="text"
         name="github_oauth[organization_name]"
         class="js-required"
         value="<%= view.gh_oauth_organization_name %>"
         data-validation-message="valid organization name required">
</div>
