<div class="form cas-note">
  <label class="label-heading">
    Server URL <span class="muted">(the full URL to the main page of your CAS installation)</span>
  </label>

  <input id="cas-url"
         type="text"
         name="cas[url]"
         class="js-required"
         value="<%= view.cas_url %>"
         data-validation-message="valid server URL required">
</div>
