<div class="popover popover-wide js-popover" id="acme-issue-popover" style="display: none;">
  <h3 class="popover-title">Requesting TLS Certificate</h3>
  <a class="popover-close js-popover-close" href="#"><span class="octicon octicon-x"></span></a>
  <div class="js-acme-issue-loading popover-loader">
    <span class="spinner-small"></span>
    Requesting TLS certificate from Let's Encrypt&hellip;
  </div>
  <div class="popover-content hidden" id="acme-issue-status">
    <div id="acme-issue-status-status-row">
      <b>Status:</b> <span id="acme-issue-status-status" class="acme-issue-status-field"></span>
    </div>
    <div id="acme-issue-status-error-row" style="display: none;">
      <b>Error:</b> <span id="acme-issue-status-error" class="acme-issue-status-field"></span>
    </div>
    <div id="acme-issue-done-instructions" style="display: none;">
      To install the certificate, close this box and click "Save settings"
    </div>
    <hr>
    <div class="js-note-trigger-group">
      <div>
        <label>
          <input type="checkbox" class="js-note-trigger" data-triggers-note="#acme-issue-status-log" style="display: none">
          Show log
          <span class="octicon octicon-unfold"></span>
        </label>
      </div>
      <div class="popover-logfile acme-issue-status-field" id="acme-issue-status-log"></div>
    </div>
  </div>
  <div class="popover-footer">
    <button class="btn close js-popover-close" type="button">Close</button>
  </div>
</div>
