<% view = Manage::ViewModels::Applications.new(@settings) %>
<div class="page-section" id="applications">
  <h2>Applications</h2>
  <div class="subsection">
    <div class="columns">
      <div class="column one-half">
        <label class="label-heading">Avatar image cache time (seconds)</label>
        <input type="number"
          id="applications-avatars-max-age"
          name="applications[avatars_max_age]"
          class="js-integer js-required"
          value="<%== view.avatars_max_age %>"
          data-default="<%== view.settings.defaults["avatars_max_age"] %>"
          placeholder="<%== view.settings.defaults["avatars_max_age"] %>"
          min="1">
      </div>
    </div>
    <p>
      This setting adjusts the time that your GitHub Enterprise appliance will
      cache avatars. Avatar changes will take longer to appear with a higher
      value. Setting this too low can cause excessive use of worker processes to
      load uncached avatars.
    </p>
  </div>
</div>
