<% view = Manage::ViewModels::Deployments.new(@settings) %>

<div class="page-section" id="deployments">
  <h2>Deployments</h2>

  <div class="subsection">
    <div class="js-note-trigger-group">
      <label class="checkbox-item js-deployments-dashboard-toggle">
        <input name="deployments_dashboard_enabled" type="hidden" value="false" />
        <input type="checkbox" name="deployments_dashboard_enabled" <%== view.deployments_dashboard_checkbox %>>
        Deployments Dashboard<span class="beta-tag">Beta</span>
      </label>
    </div>
    <div class="inline-doc">
      <a target="ghe-docs" title="Learn more in our guides" href="<%= help_url %>/actions/deployment/managing-your-deployments/viewing-deployment-history">
        <span class="octicon octicon-question"></span>
      </a>
    </div>
    <p>
      A new dashboard to view and track your deployments across all your environments, see the full history of your deployments, and filter by environment.
    </p>
  </div>
</div>
