<table>
  <thead>
    <tr>
      <th>Domain</th>
      <th>Type</th>
      <th class="centered-cell">DNS</th>
      <th class="centered-cell">SSL</th>
    </tr>
  </thead>
  <tbody>
    <% result.each_pair do |sub, attrs| %>
      <tr>
        <td><%= attrs[:display] %></td>
        <td><%= attrs[:type].to_s.upcase %></td>
        <% [attrs[:has_record], attrs[:has_cert_entry]].each do |resource| %>
          <td class="centered-cell">
            <% if resource %>
              <span class="octicon octicon-check success-state"></span>
            <% else %>
              <span class="octicon octicon-x error-state"></span>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
