<p class="email-hostname-warning js-email-hostname-warning <%= show_email_warning ? 'visible' : '' %>">
  <small>
    <span class='octicon octicon-alert'></span>
    Email sending will likely fail unless you properly configure a valid <a href="#hostname">hostname</a>.
  </small>
</p>
