<div class="popover js-popover ldap-test-popover" id="test-ldap-settings" style="display: none;">

  <h3 class="popover-title">Test LDAP settings</h3>
  <a class="popover-close js-popover-close" href="#">
    <span class="octicon octicon-x"></span>
  </a>

  <div class="js-testing-ldap popover-loader" style="display:none;">
    <span class="spinner-small"></span>
    Checking configuration&hellip;
  </div>

  <form id="ldap-test-form" href="/setup/settings/test/ldap" class="form">

    <div class="popover-content">
      <div class="message" id="ldap_test_result"></div>
      <label>Search user</label>
      <input  class="js-ldap-search-test-input" id="ldap-search-test-input" type="text" name="ldap_search_test_input" placeholder="login">
      <p><small>Don't forget to save any changes after the test.</small></p>
    </div>

    <div class="popover-footer">
      <input class="btn btn-primary js-ldap-test" type="submit" value="Test connection">
      <a class="btn js-popover-close js-ldap-test-cancel" type="button">Cancel</a>
    </div>

  </form>

</div>
