<% view = Manage::ViewModels::ManageAuth.new(@settings) %>

<div class="page-section section-password" id="password">
  <h2>Password and authentication policies</h2>

  <% if is_admin? %>
  <h3>Change password</h3>

  <p>
    This password is how you login to the Enterprise Management Console
    as the root site admin and also serves as your API key.
    You can change it by going to the <a href="password">password</a> settings page.
    SSH administrative access uses authorized SSH keys you've added instead of this
    password.
  </p>
  <% end %>

  <h3>Login attempt rate limiting</h3>

  <label class="label-heading"for="login-attempt-limit">
    Login attempt limit for all users
  </label>
  <input
    id="login-attempt-limit"
    type="number"
    class="js-required js-integer"
    name="manage_auth[login_attempt_limit]"
    value="<%= view.manage_auth_login_attempt_limit %>"
    data-validation-message="valid amount of attempts required"
  />

  <label class="label-heading"for="password-login-attempt-lockout-mins">
    Lockout time for Management Console users <span class="muted">(minutes)</span>
  </label>
  <input
    id="password-login-attempt-lockout-mins"
    type="number"
    class="js-required js-integer"
    name="manage_auth[login_attempt_lockout_minutes]"
    value="<%= view.manage_auth_login_attempt_lockout_minutes %>"
    data-validation-message="valid amount of minutes required"
  />
  

  <p>After the maximum amount of failed login attempts has been reached, the corresponding user account's login to the Management Console will be locked.
  For Management Console users (all but the root site administrator), the login is unlocked after the configured amount of lockout time or can be unlocked manually in the User Management page.
  For the root site administrator, the login must be unlocked via the command line interface.
  <a target="ghe-docs" title="Learn more in our guides" href="<%= help_url %>/admin/configuration/configuring-your-enterprise/command-line-utilities#ghe-reactivate-admin-login"><span class="octicon octicon-question"></span></a>
  </p>
</div>
