<% view = Manage::ViewModels::Mobile.new(@settings) %>

<div class="page-section" id="mobile">
  <h2>GitHub Mobile</h2>

  <div class="subsection">
      <label class="checkbox-item">
        <input name="feature_toggles[mobile][enabled]" type="hidden" value="false" />
        <input type="checkbox" name="feature_toggles[mobile][enabled]" <%== view.mobile_checkbox %>>
        Enable GitHub Mobile Apps
      </label>
      <p>
        The GitHub Mobile apps for iOS and Android allow you to triage notifications and manage issues and pull requests on the go. Information collected includes an app-specific GUID associated with OS name, app version, and GHES version. This GUID is unique to GitHub Mobile, and is not associated with user identity.
      </p>
  </div>
</div>
