<% view = Manage::ViewModels::Time.new(@settings) %>

<div class="page-section" id="time">
  <h2>Time</h2>

  <label class="label-heading">
    Primary NTP server
  </label>

  <input id="dns-primary"
         type="text"
         name="ntp[primary_server]"
         class="js-required"
         value="<%= view.ntp_primary_server %>"
         data-validation-message="valid NTP server required">

  <label class="label-heading">
    Secondary NTP server <span class="muted">(optional)</span>
  </label>

  <input type="text" name="ntp[secondary_server]" value="<%= view.ntp_secondary_server %>">

  <p>
    The NTP servers configured here will determine which servers are used to
    synchronize time with. If the time servers use internal hostnames,
    you must specify custom DNS nameservers that can resolve them.
    <a target="ghe-docs" title="Learn more in our guides" href="<%= help_url %>/admin/guides/installation/configuring-dns-nameservers/"><span class="octicon octicon-question"></span></a>
  </p>
</div>
