<% page_info title: "Member Org Sponsorships" %>

<div class="mb-2">
  <h3>
    Member Org Sponsorships
  </h3>
</div>

<% unless organizations_sponsorships.any? %>
  <p class="py-4 color-fg-muted" <%= test_selector "billing-no-sponsorships" %>>No sponsorships created by any organization yet</p>
<% end %>

<% organizations_sponsorships.each do |org, items| %>
  <%= render(Primer::Beta::BorderBox.new(mt: 4, test_selector: "billing-sponsorships-#{org.id}")) do |box| %>
    <% box.with_header(font_weight: :bold) do |header| %>
      <%= org.safe_profile_name %>
    <% end %>
    <% box.with_body do %>
      <table class="stafftools-table">
        <thead>
          <tr>
            <th>Sponsorable</th>
            <th>Amount</th>
            <th>Frequency</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% items.each do |item| %>
            <%= render Stafftools::Billing::SponsorshipItemComponent.new(
              sponsor: org,
              sponsorship_item: item,
            ) %>
          <% end %>
        </tbody>
      </table>
    <% end %>
  <% end %>
<% end %>
