.description {
  margin-top: var(--base-size-2);
  font-weight: 200;
  color: var(--fgColor-muted)
}

.orgConflictRow {
  display: flex;
  margin-bottom: var(--base-size-6);
}

.orgConflictRow:last-child {
  margin-bottom: 0;
}

.avatarLabelGroup {
  flex-grow: 1;
}

.avatarIcon {
  margin-right: var(--base-size-6);
}

.avatarLabel {
  font-weight: bold;
}

.orgConflictPropertyTypeLabel {
  font-weight: 200;
  color: var(--fgColor-muted)
}
