<div class="timeline-comment-wrapper composer composer-responsive mt-3">
  <div class="timeline-comment-group">
    <div class="Box p-4 d-flex flex-wrap flex-sm-nowrap flex-items-start">
      <%= primer_octicon(:"inbox", height: 28, mr: 3, mt: 1) %>
      <div class="flex-1">
        <h4>
          Accept vulnerability report
        </h4>
        <p class="mb-0">
          This potential security vulnerability was reported by someone external to your organization. Review carefully and accept to continue collaborating privately as a draft security advisory.
        </p>
      </div>

      <%= form_for view.advisory, url: accept_repository_advisory_pvd_path(current_repository.owner, current_repository, view.advisory), method: :put do |f| %>
        <%= render Primer::Beta::Button.new(scheme: :primary, type: :submit, my: 2, ml: 2) do %>
          Accept and open as draft
        <% end %>
      <% end %>
    </div>
  </div>
</div>
