<div class="Box Box--responsive">
  <div class="Box-body">
    <% if affected_products.blank? %>
      <%= render Advisories::AffectedProductDetailsComponent.new(
        affected_product: {
          package: nil,
          affected_versions: [],
          patched_versions: [],
          affected_functions: [],
        },
        show_suggest_link: local_assigns[:show_suggest_link],
      ) %>
    <% else %>
      <% affected_products.each_with_index do |affected_product, index| %>
        <%= render Advisories::AffectedProductDetailsComponent.new(
          affected_product: affected_product,
          classes: index == 0 ? "" : "pt-2",
          hide_headers: index != 0,
          # the affected functions section is hidden when all affected products have no affected functions
          hide_affected_functions_column: !GitHub.flipper[:expose_affected_functions].enabled?(current_user) || affected_products.reduce(0) { |affected_functions_count, affected_product| affected_functions_count + affected_product[:affected_functions].length } == 0,
          show_suggest_link: local_assigns[:show_suggest_link],
        ) %>
      <% end %>
    <% end %>
  </div>
</div>
