<% cwes.each do |cwe| %>
  <li role="option"
      data-autocomplete-value="<%= cwe.cwe_id %>"
      class="autocomplete-item py-2">
    <span class="ws-normal"><%= cwe.name %></span>
    <span class="text-normal ws-normal">(<%= cwe.cwe_id %>)</span>
  </li>

  <%= render partial: "advisories/linked_cwe", locals: { cwe: cwe, field_name_prefix: field_name_prefix, hidden: true } %>
<% end %>
