<div class="Details js-details-container width-full">
  <div class="Details-content--shown">
    <% unless view.unpublished_and_viewer_read_only? %>
      <%= render partial: "repos/advisories/advisory_affected_products", locals: { view: view } %>
    <% end %>
    <%= render partial: "repos/advisories/published_description", locals: { description: view.description } %>
  </div>
</div>
