<div class="Box p-3 mt-3 d-flex flex-wrap flex-sm-nowrap">
  <%= primer_octicon(:"inbox", height: 28, mr: 3) %>
  <div>
    <h4>
      Thank you for reporting a vulnerability.
    </h4>
    <p class="mb-0">
      Your report is being reviewed by <strong><%= view.repository.name_with_display_owner %></strong> owners.
      You will be notified if the report is published as an advisory.
    </p>
  </div>
</div>
