<%
  page_title repository_advisory_page_title(view.advisory)
  page_info \
    selected_link: :security,
    container_xl: true,
    richweb: {
      image: repository_open_graph_image_url(current_repository, resource: view.advisory),
      title: view.advisory.get_title(current_user),
      description: view.advisory.get_description(current_user),
    },
    dashboard_pinnable_item_id: current_repository.global_relay_id
%>

<%= render layout: "layouts/repository_container", locals: { repository: current_repository } do %>
  <div class="clearfix new-discussion-timeline container-xl px-3 px-md-4 px-lg-5 mt-4">
    <%= render partial: "repos/advisories/title", locals: { view: view } %>

    <%= render partial: "repos/advisories/pending_credit_banner", locals: { view: view } %>

    <div class="d-flex <% if responsive? %>flex-column flex-md-row<% else %>flex-row<% end %>">
      <%= render partial: "repos/advisories/show", locals: { view: view } %>
    </div>
  </div>
<% end %>
