<span class="<%= Primer::Classify.call(**@args)[:class] %>">
  <span class="repo-language-color" style="background-color: <%= @color %>"></span>
  <span itemprop="programmingLanguage"><%= @name %></span>
</span>
