<%
  page_info(
    title: "Please verify your email address",
    class: "header-overlay",
    hide_flash: true,
    full_height: true,
  )
%>

<%# hide the global notices UI %>
<% content_for :global_notices do %>
  <span hidden></span>
<% end %>

<%= render AccountVerifications::IndexComponent.new(
  email: user_email,
  resent: params[:resent]&.to_i == 1,
  error: flash[:error],
  recommend_plan: ActiveModel::Type::Boolean.new.cast(params[:recommend_plan]),
  invitation_token: params[:invitation_token],
  repo_invitation_token: params[:repo_invitation_token]
) %>
