<%# rubocop:disable Lint/InstanceVariable %>
<% @page_class = "js-print-popup" %>

<div class="container-sm mx-auto mt-6">
  <div class="Box mb-3">
    <h3 class="Box-row">
      Recovery codes
      <%= primer_octicon(:"mark-github", float: :right, classes: "two-factor-recovery-code-mark") %>
    </h3>
    <div class="Box-row">
      <ul class="two-factor-recovery-codes">
        <% codes.each do |code| %>
          <li class="two-factor-recovery-code"><%= code %></li>
        <% end %>
      </ul>
    </div>
    <div class="Box-footer Box-row--gray">
      <%= GitHub.flavor %> two-factor authentication account recovery codes.
    </div>
  </div>
</div>
