<div class="d-flex flex-column flex-lg-row flex-justify-between mb-3">
  <div class="col-12 col-lg-6 flex-shrink-0">
    <div class="Box color-shadow-small mr-lg-2 p-4 height-full d-flex flex-column">
      <div class="text-bold">Open Security Advisories</div>
      <package-dependencies-security-graph>
        <div class="d-flex flex-auto flex-items-center graph-canvas js-graph mt-4"
             data-target="package-dependencies-security-graph.graph"
             data-graph-name="package-dependencies-security-insights"
             data-url="<%= view.security_graph_path %>"
             data-responsive-graph="true"
             style="height: 125px">
          <img class="mx-auto graph-loading" src="<%= image_path "spinners/octocat-spinner-128.gif" %>" width="64" alt="">
          <div class="graph-error mx-auto mt-n4">
            An error occurred while loading the graph.
          </div>
        </div>
      </package-dependencies-security-graph>
    </div>
  </div>

  <div class="col-12 col-lg-6 flex-shrink-0 pt-3 pt-lg-0">
    <div class="Box color-shadow-small ml-lg-2 p-4 height-full d-flex flex-column">
      <span class="text-bold">Licenses</span>
      <div class="d-flex flex-auto flex-items-center">
        <include-fragment class="mx-auto" src="<%= view.licenses_graph_path %>">
          <img src="<%= image_path "spinners/octocat-spinner-128.gif" %>" width="64" alt="" class="pt-4" data-hide-on-error>
          <div class="graph-error mx-auto" data-show-on-error hidden>
            An error occurred while loading the graph.
          </div>
        </include-fragment>
      </div>
    </div>
  </div>
</div>
