<%
  if view.repository.present?
    readme = manifest_readme(view.repository, manifest_filename)
  end
%>
<div class="px-3 px-lg-0">
  <% if readme %>
    <%= format_readme(readme, entity: view.repository, committish: view.repository.default_branch) %>
  <% else %>
    <%= render Primer::Beta::Blankslate.new(spacious: true) do |c| %>
      <% c.with_visual_icon(icon: "info") %>

      <% c.with_heading(tag: :h2) do %>
        No description found
      <% end %>

      <% c.with_description do %>
        This package does not provide a description.
      <% end %>
    <% end %>
  <% end %>
</div>
