<div class="WorkflowStage d-inline-flex flex-column flex-items-center mr-6 my-4">
  <%= render Actions::Graph::GroupComponent.with_collection(stage.groups, workflow_run: workflow_run, execution: @execution, retry_blankstate: @retry_blankstate, pull_request_number: @pull_request_number) %>
</div>
