<%
  cell_size = 16
  rect_size = 11
  weeks_shown = 53
%>

<div class="Box mt-4">
  <div class="Box-body p-4 position-relative">
    <div class="position-absolute top-0 left-0 right-0 bottom-0 d-flex" style="z-index: 2;">
      <div class="text-center m-auto">
        <%= render(Primer::Beta::Octicon.new(icon: "lock", height: 24)) %>
        <h2 class="h4">@<%= profile_user.display_login %>'s activity is private</h2>
      </div>
    </div>

    <%= render Primer::Box.new(classes: 'lh-condensed overflow-hidden', style: "height: 102px") do %>
      <% (0...weeks_shown).each do |ix| -%>
        <% (0..6).each do |weekday| -%>
          <%= render(Users::Contributions::DayComponent.new(
            level: 0,
            classes: "ContributionCalendar-day-private-profile",
            style: "height: #{rect_size}px; width: #{rect_size}px",
            display: :inline_block,
          )) %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
