<div class="d-flex flex-justify-center mb-4">
  <%= render Primer::Beta::Octicon.new(icon: octicon_name, height: 64, color: icon_color) %>
</div>

<h2 class="text-center mb-2"><%= title %></h2>
<p class="text-center"><%= description %></p>
