.progressIcon {
  vertical-align: text-bottom;
}

.hoverExpandIcon {
  position: absolute;
  top: 50%;
  right: 0;
  padding-right: 0;
  opacity: 0;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
  transition-property: transform, opacity;
  transform: translateX(-12px) translateY(-50%);
}

.completionPill {
  /* !important is required to beat Primer sx internal styles */
  /* stylelint-disable-next-line primer/spacing */
  padding-left: var(--control-xsmall-paddingInline-condensed) !important;
  background: var(--bgColor-default) !important;
}

.expandOnHover {
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
  transition-property: background-color, padding-right;

  &:hover,
  &:focus {
    padding-right: var(--base-size-16) !important;

    .hoverExpandIcon {
      opacity: 1;
      transform: translateX(0) translateY(-50%);
    }
  }
}
