.responsiveContainer {
  container-type: inline-size;
  container-name: NestedListView;
}

.container {
  --leading-icon-offset: 2px;
  /* stylelint-disable-next-line selector-max-compound-selectors, selector-max-type, selector-max-specificity */
  & ul > div:not(:last-child) li:not(:global(.focus-visible)) :global(.PRIVATE_TreeView-item-content) {
    border-bottom: var(--borderWidth-thin) solid var(--borderColor-muted);
  }

  :global(.PRIVATE_TreeView-item-content) {
    align-items: center;
  }

  /* hack: hide the nesting indicator vertical lines */
  :global(.PRIVATE_TreeView-item-level-line) {
    display: none !important;
  }

  :global(.PRIVATE_TreeView-item-container) {
    cursor: auto !important; /* hack: remove pointer on entire list item */
    border-radius: 0 !important; /* hack: unround the listitem border on hover */

    --leading-action-width: calc(var(--has-leading-action,0) * .85rem) !important;

    @container NestedListView (width > 48rem) {
      /* double the spacer width when the viewport is wide */
      --spacer-width: calc(2 * calc(var(--level) - 1) * (var(--toggle-width) / 2)) !important;
    }
  }

  :global(.PRIVATE_TreeView-item-toggle) {
    align-items: flex-start !important;
    padding-top: 0 !important;
    cursor: pointer;
    border-radius: 0 !important; /* hack: unround border to match list item */
    container-type: size;
    container-name: TreeViewToggle;

    :global(.octicon-chevron-down),
    :global(.octicon-chevron-right) {
      position: absolute;

      /* offset for icon height, text line height */
      /* stylelint-disable-next-line primer/spacing */
      top: calc(var(--base-size-8) + var(--leading-icon-offset));

      /* if item height is > 33px but not multiline add 1 px  to make up for height diff */
      @container TreeViewToggle (height > 33px) and (height <= 40px) {
        /* stylelint-disable-next-line primer/spacing */
        top: calc(var(--base-size-8) + var(--leading-icon-offset) + 1px);
      }
    }
  }

  :global(.PRIVATE_TreeView-item) {
    :global(.PRIVATE_TreeView-item-leading-action) {
      max-width: .85rem;
      visibility: hidden;
    }

    &:hover, &:global(.focus-visible) {
      :global(.PRIVATE_TreeView-item-leading-action) {
        max-width: .85rem;
        visibility: visible;
      }
    }

    :global(.octicon-grabber) {
      /* stylelint-disable-next-line primer/spacing */
      margin-top: calc(var(--base-size-8) - 1px);
    }
  }
}

.collapsible {
  /* hack: align with collapsible icon. 1px from invisible border on IconButton */
  :global(.PRIVATE_TreeView-item-container) {
    /* stylelint-disable-next-line primer/spacing */
    padding-left: calc(var(--base-size-12) + 1px);
  }
}
