<span class="Progress col-1" <%= test_selector("progress-bar") %>>
  <span class="Progress-item color-bg-sponsors-emphasis" style="width: <%= goal_progress %>%"></span>
</span>

<span class="ml-2 text-small" <%= test_selector("progress-bar-text") %>><%= goal_progress %>% towards goal</span>
