<%= form_for(
  sponsors_patreon_user,
  url: sponsors_patreon_user_path(sponsors_patreon_user),
  method: :put,
  html: { class: "mt-4 mb-3" },
) do |f| %>
  <div class="mr-2">
    <%= f.check_box :enabled_as_sponsorable, checked: sponsors_patreon_user.enabled_as_sponsorable? %>
    <%= f.label :enabled_as_sponsorable, "Allow people to pay you through Patreon" %>
  </div>

  <p class="note mb-2">
    This will show your Patreon tiers directly on your GitHub Sponsors profile. Recommended for people who have sponsors that prefer to use Paypal.
  </p>

  <%= render(Primer::Beta::Button.new(type: :submit).with_content("Update Patreon preferences")) %>
<% end %>
