<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%= render Primer::Beta::Flash.new(
  icon: in_sponsorship_context? ? :stop : :info,
  scheme: in_sponsorship_context? ? :danger : :default,
  test_selector: "sponsors-paypal-deprecation-notice",
  **system_arguments,
) do %>
  GitHub Sponsors no longer accepts PayPal. <%= payment_method_link_or_text if show_call_to_action? %>
  <%= description if show_call_to_action? %>
  <a href="<%= GitHub.blog_url %>/changelog/2023-01-23-github-sponsors-will-stop-supporting-paypal/" target="_blank" rel="noopener noreferrer">Read our changelog &rarr;</a>
<% end %>
