<p>
  Hi there,
</p>

<p>
  We hope you’re enjoying your free access to GitHub Copilot – and getting an
  idea of just how impactful AI can be for education, discovery, and
  productivity.
</p>

<p>
  Your access to GitHub Copilot will expire in
  <%= time_ago_in_words @expiration %> on <%= @expiration.to_date %>.
</p>
