<p>
  Dear GitHub customer,
</p>

<p>
  As you qualify for free access to GitHub Copilot, we recently sent you a refund receipt for your subscription.
  No other steps are needed to receive your free access to GitHub Copilot!
</p>

<p>
  <b>
    Note: It may take up to 14 days for the refund to be processed by your payment provider.
  </b>
</p>

<p>
  If you have any questions about your account, please contact support at:
  <%= link_to "https://support.github.com/contact", "https://support.github.com/contact" %>.
</p>
