<p>
  Hi there,
</p>

<% if @coupon_expires_at %>
  <p>
    Thank you for using your free subscription to GitHub Copilot. Your coupon is set to expire on <%= @coupon_expires_at %>.
    No further steps are needed on your end.
  </p>
<% else%>
  <p>
    Thank you for renewing your free access to GitHub Copilot. Your access to
    GitHub Copilot will be reviewed on <%= @next_check_at %>. GitHub Copilot
    checks eligibility monthly per our policy. No steps are needed on your end.
  </p>
<% end %>

<p>
  We hope you enjoy using GitHub Copilot and participating in the developer
  community.
</p>
