<div class="d-flex flex-column flex-sm-row flex-md-column flex-items-center" <%= test_selector "contentful-diversity-report-bar-graph-component" %>>
  <div class="col-12 col-md-10 text-center">
    <% if @label.present? %>
      <p><%= @label %></p>
    <% end %>

    <%= image_tag(@image.url, alt: @image.description, height: 235, width: 360, decoding: "async", class: "col-3 col-lg-6 mx-auto height-auto") %>
  </div>
</div>
