<div class="d-flex flex-column flex-sm-row flex-lg-column flex-items-center" <%= test_selector "contentful-diversity-report-pie-graph-component" %>>
  <div class="col-10 col-sm-6 col-lg-10 flex-self-start mb-3">
    <%= image_tag(@image.url, alt: @image.description, height: 360, width: 360, decoding: 'async', class: "col-10 mx-auto height-auto") %>
  </div>
  <div class="col-12 col-sm-6 col-lg-12 f5-mktg">
    <% @legend.map do |label| %>
      <%= render Site::Contentful::Report::PieGraphLabelComponent.new(**label.fields.slice(:percentage, :label, :fill)) %>
    <% end %>
  </div>
</div>
