<div class="mb-1 mb-md-0 mr-3 d-flex flex-items-center" <%= test_selector "contentful-diversity-report-pie-graph-label-component" %>>
  <svg class="mr-1" aria-hidden="true" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill="<%= @fill %>" d="M0 0h14v14H0z"></svg>
  <p class="mb-1 flex-1">
    <span class="text-gray-mktg"><%= @label %></span>
    <span class="text-medium"><%= number_to_percentage(@percentage, precision: 1) %></span>
  </p>
</div>
