<%# erblint:counter GoogleAnalyticsDeprecation 1 %>
<% if topics.any? %>
  <div class="f6">
    <% topics.each do |topic| %>
      <%= render(Topics::TagComponent.new(
        name: topic.name,
        href: topic.resource_path,
        data: {
          ga_click: "Topic, repository page",
          octo_click: "topic_click",
          octo_dimensions: "topic:#{topic.name}"
        }
      )) %>
    <% end %>
  </div>
<% end %>
