<div class="pb-4 pt-4">
  <div>
    <% suggested_features.each do |feature| %>
      <%= render partial: "editor/dev_containers/feature", locals: {
          id: feature['id'],
          name: feature['name'],
          owner_login: feature['owner'],
          icon: feature['icon'],
          description: feature['description']
        }%>
    <% end %>
  </div>
