<%# erblint:counter DeprecatedComponentsCounter 1 %>
<div class="js-action">
  <div class="mb-3 f6">
    <%= render Primer::ButtonComponent.new(scheme: :link, "devcontainer-editor-sidebar-search-query": "", "devcontainer-editor-sidebar-search-placeholder": search_placeholder, "devcontainer-editor-sidebar-search-url": editor_dev_containers_search_url) do %>
      Go Back
    <% end %>
  </div>
</div>

<%= render(Codespaces::DevContainer::AddDevContainerFeatureComponent.new(feature: feature)) %>
