error-pages
  GET /
    <span class="text-bold color-fg-success">✓</span> should respond with page list
  Accept: text/html
    GET /403
      <span class="text-bold color-fg-success">✓</span> should respond with 403
    GET /404
      <span class="text-bold color-fg-success">✓</span> should respond with 404
    GET /500
      <span class="text-bold color-fg-success">✓</span> should respond with 500
  Accept: application/json
    GET /403
      <span class="text-bold color-fg-success">✓</span> should respond with 403
    GET /404
      <span class="text-bold color-fg-success">✓</span> should respond with 404
    GET /500
      <span class="text-bold color-fg-success">✓</span> should respond with 500
  Accept: text/plain
    GET /403
      <span class="text-bold color-fg-success">✓</span> should respond with 403
    GET /404
      <span class="text-bold color-fg-success">✓</span> should respond with 404
    GET /500
      <span class="text-bold color-fg-success">✓</span> should respond with 500
error
  GET /
    <span class="text-bold color-fg-success">✓</span> should respond with 500
  GET /next
    <span class="text-bold color-fg-success">✓</span> should respond with 500
  GET /missing
    <span class="text-bold color-fg-success">✓</span> should respond with 404

markdown
  GET /
    <span class="text-bold color-fg-success">✓</span> should respond with html
  GET /fail
    <span class="text-bold color-fg-success">✓</span> should respond with an error

multi-router
  GET /
    <span class="text-bold color-fg-success">✓</span> should respond with root handler
  GET /api/v1/
    <span class="text-bold color-fg-success">✓</span> should respond with APIv1 root handler
  GET /api/v1/users
    <span class="text-bold color-fg-success">✓</span> should respond with users from APIv1
  GET /api/v2/
    <span class="text-bold color-fg-success">✓</span> should respond with APIv2 root handler
  GET /api/v2/users
    <span class="text-bold color-fg-success">✓</span> should respond with users from APIv2

mvc
  GET /
    <span class="text-bold color-fg-success">✓</span> should redirect to /users
  GET /pet/0
    <span class="text-bold color-fg-success">✓</span> should get pet
  GET /pet/0/edit
    <span class="text-bold color-fg-success">✓</span> should get pet edit page
  PUT /pet/2
    <span class="text-bold color-fg-success">✓</span> should update the pet
  GET /users
    <span class="text-bold color-fg-success">✓</span> should display a list of users (70ms)
  GET /user/:id
    when present
      <span class="text-bold color-fg-success">✓</span> should display the user
      <span class="text-bold color-fg-success">✓</span> should display the users pets
    when not present
      <span class="text-bold color-fg-success">✓</span> should 404
  GET /user/:id/edit
    <span class="text-bold color-fg-success">✓</span> should display the edit form
  PUT /user/:id
    <span class="text-bold color-fg-success">✓</span> should 500 on error
    <span class="text-bold color-fg-success">✓</span> should update the user
  POST /user/:id/pet
    <span class="text-bold color-fg-success">✓</span> should create a pet for user (19ms)

params
  GET /
    <span class="text-bold color-fg-success">✓</span> should respond with instructions
  GET /user/0
    <span class="text-bold color-fg-success">✓</span> should respond with a user
  GET /user/9
    <span class="text-bold color-fg-success">✓</span> should fail to find user
  GET /users/0-2
    <span class="text-bold color-fg-success">✓</span> should respond with three users
  GET /users/foo-bar
    <span class="text-bold color-fg-success">✓</span> should fail integer parsing

resource
  GET /
    <span class="text-bold color-fg-success">✓</span> should respond with instructions
  GET /users
    <span class="text-bold color-fg-success">✓</span> should respond with all users
  GET /users/1
    <span class="text-bold color-fg-success">✓</span> should respond with user 1
  GET /users/9
    <span class="text-bold color-fg-success">✓</span> should respond with error
  GET /users/1..3
    <span class="text-bold color-fg-success">✓</span> should respond with users 1 through 3
  DELETE /users/1
    <span class="text-bold color-fg-success">✓</span> should delete user 1
  DELETE /users/9
    <span class="text-bold color-fg-success">✓</span> should fail
  GET /users/1..3.json
    <span class="text-bold color-fg-success">✓</span> should respond with users 2 and 3 as json

route-map
  GET /users
    <span class="text-bold color-fg-success">✓</span> should respond with users
  DELETE /users
    <span class="text-bold color-fg-success">✓</span> should delete users
  GET /users/:id
    <span class="text-bold color-fg-success">✓</span> should get a user
  GET /users/:id/pets
    <span class="text-bold color-fg-success">✓</span> should get a users pets
  GET /users/:id/pets/:pid
    <span class="text-bold color-fg-success">✓</span> should get a users pet

route-separation
  GET /
    <span class="text-bold color-fg-success">✓</span> should respond with index
  GET /users
    <span class="text-bold color-fg-success">✓</span> should list users
  GET /user/:id
    <span class="text-bold color-fg-success">✓</span> should get a user
    <span class="text-bold color-fg-success">✓</span> should 404 on missing user
  GET /user/:id/view
    <span class="text-bold color-fg-success">✓</span> should get a user
    <span class="text-bold color-fg-success">✓</span> should 404 on missing user (13ms)
  GET /user/:id/edit
    <span class="text-bold color-fg-success">✓</span> should get a user to edit
  PUT /user/:id/edit
    <span class="text-bold color-fg-success">✓</span> should edit a user
  POST /user/:id/edit?_method=PUT
    <span class="text-bold color-fg-success">✓</span> should edit a user
  GET /posts
    <span class="text-bold color-fg-success">✓</span> should get a list of posts

vhost
  example.com
    GET /
      <span class="text-bold color-fg-success">✓</span> should say hello
    GET /foo
      <span class="text-bold color-fg-success">✓</span> should say foo
  foo.example.com
    GET /
      <span class="text-bold color-fg-success">✓</span> should redirect to /foo
  bar.example.com
    GET /
      <span class="text-bold color-fg-success">✓</span> should redirect to /bar

web-service
  GET /api/users
    without an api key
      <span class="text-bold color-fg-success">✓</span> should respond with 400 bad request
    with an invalid api key
      <span class="text-bold color-fg-success">✓</span> should respond with 401 unauthorized
    with a valid api key
      <span class="text-bold color-fg-success">✓</span> should respond users json
  GET /api/repos
    without an api key
      <span class="text-bold color-fg-success">✓</span> should respond with 400 bad request
    with an invalid api key
      <span class="text-bold color-fg-success">✓</span> should respond with 401 unauthorized
    with a valid api key
      <span class="text-bold color-fg-success">✓</span> should respond repos json

GET /api/user/:name/repos
  without an api key
    <span class="text-bold color-fg-success">✓</span> should respond with 400 bad request
  with an invalid api key
    <span class="text-bold color-fg-success">✓</span> should respond with 401 unauthorized
  with a valid api key
    <span class="text-bold color-fg-success">✓</span> should respond user repos json
    <span class="text-bold color-fg-success">✓</span> should 404 with unknown user

when requesting an invalid route
  <span class="text-bold color-fg-success">✓</span> should respond with 404 json

<span class="text-bold color-fg-success">1123 passing (4s)</span>

=============================================================================
Writing coverage object [/home/runner/build/expressjs/express/coverage/coverage.json]
Writing coverage reports at [/home/runner/build/expressjs/express/coverage]
=============================================================================

=============================== Coverage summary ===============================
<span class="text-bold color-fg-success">Statements   : 98.81% ( 1916/1939 ), 38 ignored
Branches     : 94.58% ( 751/794 ), 22 ignored
Functions    : 100% ( 267/267 )
Lines        : 100% ( 1872/1872 )</span>
================================================================================
<span class="text-bold color-fg-success">The command "npm run test-ci" exited with 0.</span>

$ npm run lint

> express@4.17.1 lint /home/runner/build/expressjs/express
> eslint .

<span class="text-bold color-fg-success">The command "npm run lint" exited with 0.</span>

store build cache

$ # Upload coverage to coveralls

Done. Your build exited with 0.
