<%= render(Primer::Alpha::OcticonSymbols.new(icons: [{ symbol: :repo }])) %>

<%
  starter_workflows_first_line = [
    {
      title: "Find a LaunchDarkly feature flag",
      description: "Search your code for references to LaunchDarkly feature flags",
      avatar_path: "modules/site/features/actions-launchdarkly-mark",
      avatar_ext: "svg",
      avatar_color: "color-bg-emphasis",
      avatar_alt: "LaunchDarkly logo",
      avatar_width: 39,
      avatar_height: 32,
      repo: "launchdarkly/find-code-references"
    },
    {
      title: "Deploy to Azure",
      description: "Automate your workflows using GitHub Actions for Azure",
      avatar_path: "modules/site/features/actions-azure",
      avatar_ext: "svg",
      avatar_color: "color-bg-accent-emphasis",
      avatar_alt: "Azure logo",
      avatar_width: 33,
      avatar_height: 26,
      avatar_style: "top: -2px; positon: relative;",
      repo: "Azure/actions"
    },
    {
      title: "Amazon ECR Login",
      description: "Logs in the local Docker client to Amazon ECR",
      avatar_path: "modules/site/features/actions-aws",
      avatar_ext: "svg",
      avatar_color: "color-bg-emphasis",
      avatar_alt: "AWS logo",
      avatar_width: 36,
      avatar_height: 21,
      repo: "aws-actions/amazon-ecr-login"
    },
    {
      title: "Deploy to Kubernetes",
      description: "Deploy your app on any Kubernetes cluster",
      avatar_path: "modules/site/features/actions-kubernetes",
      avatar_ext: "svg",
      avatar_color: "color-bg-accent-emphasis",
      avatar_alt: "Kubernetes logo",
      avatar_width: 34,
      avatar_height: 32,
      repo: "Azure/k8s-actions"
    },
    {
      title: "Code Climate Velocity",
      description: "In-depth code metrics to streamline your engineering processes",
      avatar_path: "modules/site/features/actions-code-climate",
      avatar_ext: "svg",
      avatar_color: "color-bg-emphasis",
      avatar_alt: "Code Climate logo",
      avatar_width: 34,
      avatar_height: 19,
      repo: "codeclimate/velocity-deploy-action"
    },
    {
      title: "Coveralls",
      description: "Track your test coverage metrics",
      avatar_path: "modules/site/actions/coveralls",
      avatar_ext: "png",
      avatar_color: "color-bg-subtle",
      avatar_alt: "Coveralls logo",
      avatar_width: 44,
      avatar_height: 44,
      repo: "coverallsapp/github-action"
    },
    {
      title: "Glo Boards",
      description: "Integrate your Glo boards into your code workflow",
      avatar_path: "modules/site/actions/axosoft",
      avatar_ext: "png",
      avatar_color_style: "background-color: #2B3E51;",
      avatar_alt: "Glo Boards logo",
      avatar_width: 40,
      avatar_height: 40,
      repo: "Axosoft/glo-actions"
    },
    {
      title: "Mabl",
      description: "Integrate cross-browser testing into your GitHub Actions workflow",
      avatar_path: "modules/site/actions/mabl",
      avatar_ext: "png",
      avatar_color: "color-bg-emphasis",
      avatar_alt: "Mabl logo",
      avatar_width: 37,
      avatar_height: 37,
      repo: "mablhq/github-mabl-actions"
    },
  ];

  starter_workflows_second_line = [
    {
      title: "Mark stale issues and pull requests",
      description: "Automatically label and close stale issues and pull requests",
      avatar_path: "modules/site/features/actions-stale-branches",
      avatar_ext: "svg",
      avatar_color: "bg-icon-orange",
      avatar_alt: "Stale branches icon",
      avatar_width: 34,
      avatar_height: 34,
      repo: "actions/stale"
    },
    {
      title: "Mabl",
      description: "Integrate cross-browser testing into your GitHub Actions workflow",
      avatar_path: "modules/site/actions/mabl",
      avatar_ext: "png",
      avatar_color: "color-bg-emphasis",
      avatar_alt: "Mabl logo",
      avatar_width: 37,
      avatar_height: 37,
      repo: "mablhq/github-mabl-actions"
    },
    {
      title: "Label a pull request",
      description: "Label pull requests based on changed files",
      avatar_path: "modules/site/features/actions-label",
      avatar_ext: "svg",
      avatar_color: "color-bg-attention-emphasis",
      avatar_alt: "Label icon",
      avatar_width: 27,
      avatar_height: 26,
      repo: "actions/labeler"
    },
    {
      title: "Google Cloud Platform",
      description: "A collection of GitHub Actions for Google Cloud Platform",
      avatar_path: "modules/site/features/actions-gcp",
      avatar_ext: "svg",
      avatar_color: "color-bg-subtle",
      avatar_alt: "Google Cloud Platform logo",
      avatar_width: 40,
      avatar_height: 32,
      repo: "GoogleCloudPlatform/github-actions"
    },
    {
      title: "Glo Boards",
      description: "Integrate your Glo boards into your code workflow",
      avatar_path: "modules/site/actions/axosoft",
      avatar_ext: "png",
      avatar_color_style: "background-color: #2B3E51;",
      avatar_alt: "Glo Boards logo",
      avatar_width: 40,
      avatar_height: 40,
      repo: "Axosoft/glo-actions"
    },
    {
      title: "Code Cov",
      description: "Improve your code review workflow and quality",
      avatar_path: "modules/site/features/actions-code-cov",
      avatar_ext: "svg",
      avatar_color: "color-bg-subtle",
      avatar_alt: "Code Cov logo",
      avatar_width: 31,
      avatar_height: 34,
      repo: "codecov/codecov-action"
    },
    {
      title: "Coveralls",
      description: "Track your test coverage metrics",
      avatar_path: "modules/site/actions/coveralls",
      avatar_ext: "png",
      avatar_color: "color-bg-subtle",
      avatar_alt: "Coveralls logo",
      avatar_width: 44,
      avatar_height: 44,
      repo: "coverallsapp/github-action"
    },
  ]
%>

<div class="actions-template-cards position-absolute z-1 col-11 pr-5">
  <ul class="actions-template-cards-top d-flex gutter-condensed list-style-none mb-3">
    <% 2.times do %>
      <% starter_workflows_first_line.each do |action| %>
        <%= render partial: "site/features/actions/actions_workflow_card", locals: { action: action }  %>
      <% end %>
    <% end %>
  </ul>

  <ul class="actions-template-cards-bottom d-flex gutter-condensed list-style-none">
    <% 2.times do %>
      <% starter_workflows_second_line.each do |action| %>
        <%= render partial: "site/features/actions/actions_workflow_card", locals: { action: action }  %>
      <% end %>
    <% end %>
  </ul>
</div>
