<% content_for :content do %>
  <main <%= test_selector("secret-scanning-sidebar-other-confidence") %>>
    <%= render layout: "layouts/repository/security", locals: { selected_tab: :other_confidence } do %>
      <%= yield %>
    <% end %>
  </main>
<% end %>

<%= render template: "layouts/application" %>
