<% content_for :content do %>
  <main <%= test_selector("secret-scanning-sidebar") %> >
    <%= render layout: "layouts/repository/security", locals: { selected_tab: :secret_scanning } do %>
      <%= yield %>
    <% end %>
  </main>
<% end %>

<%= render template: "layouts/application" %>
