.body {
  padding: 0 var(--base-size-16) var(--base-size-16) var(--base-size-16);
  font-size: var(--text-body-size-medium);
  color: var(--fgColor-muted);
  flex-grow: 1;
}

.footer {
  display: 'flex';
  margin: 0 var(--base-size-16) var(--base-size-16) var(--base-size-16);
}

/* stylelint-disable-next-line selector-max-type */
.footer button {
  padding: var(--base-size-4) var(--base-size-16);
  margin-left: auto;
  font-size: var(--base-size-14);
}

.header {
  display: flex !important;
  padding: 0 var(--base-size-16) var(--base-size-16) var(--base-size-16) !important;
  margin-top: var(--base-size-16) !important;
  color: var(--fgColor-default) !important;
  flex-direction: row !important;
  background-color: var(--overlay-bgColor) !important;
}

.headerItem {
  padding: 0 !important;
  font-size: var(--base-size-20) !important;
  font-weight: bold !important;
  flex-grow: 1 !important;
}
