.container {
  /* stylelint-disable-next-line selector-max-type */
  & > span {
    /* stylelint-disable-next-line primer/spacing */
    padding-bottom: 1px;
    vertical-align: 1px;
    background-color: var(--bgColor-inset);
    border-color: var(--borderColor-muted);
  }
}
