<%# erblint:counter DeprecatedComponentsCounter 1 %>
<div class="inline-form">
  <%= render(Primer::Alpha::Dialog.new(
    title: "#{title}",
    id: "#{dialog_id}",
    size: :medium,
  )) do |d| %>
    <% d.with_show_button(scheme: button_scheme, size: button_size) { "#{button_text}" } %>
    <% d.with_header(pb: [3]) do %>
    <% end %>
    <% d.with_body do %>
      <p><%= "#{dialog_message}" %></p>
    <% end %>
    <% d.with_footer(show_divider: true) do %>
      <%= render(Primer::ButtonComponent.new(scheme: :default, data: { "close-dialog-id": "#{dialog_id}" })) { "Ok" } %>
    <% end %>
  <% end %>
</div>
