<hr>
<h3 class="h4 mb-2">Feature Flag Owner</h3>
<% if GitHub::ServiceCatalog.enabled? %>
  <p>To help keep track of who is responsible for this flag please select a Service and, optionally, a Team.</p>
<% else %>
  <p>To help keep track of who is responsible for this flag please select a Team.</p>
<% end %>

<% if GitHub::ServiceCatalog.enabled? %>
  <%= render partial: "devtools/feature_flags/service_autocomplete_field", locals: { feature: feature } %>
<% end %>


<%= render partial: "devtools/feature_flags/team_autocomplete_field", locals: { feature: feature } %>
<hr>
