<% page_info title: "Edit feature - #{feature.name}" %>

<% content_for :pagehead_path do %>
  / <a href="<%= devtools_feature_flags_path %>">Feature Flags</a>
  / <strong><%= feature.name %></strong>
<% end %>

<%= render "devtools/feature_flags/form",
  feature: feature,
  header_text: "Edit feature",
  cancel_path: devtools_feature_flag_path(feature),
  form_options: {
    url: devtools_feature_flag_path(feature),
    method: :patch
  }
%>
