<% page_info title: "New feature" %>

<% content_for :pagehead_path do %>
  / <a href="<%= devtools_feature_flags_path %>">Feature Flags</a>
  / <strong>New feature</strong>
<% end %>

<%= render "devtools/feature_flags/form",
  feature: feature,
  header_text: "New feature",
  cancel_path: devtools_feature_flags_path,
  form_options: {
    url: devtools_feature_flags_path,
    method: :post
  }
%>
