<label class="select-menu-item width-full" tabindex="0" role="menuitemradio">
  <div class="select-menu-item-text">
    <div class="select-menu-item-heading d-inline">None</div>
    <div class="d-none" data-menu-button-contents>
      <input type="radio" class="d-none" name="flipper_feature[service_name]" value="">
      Choose a service
    </div>
  </div>
</label>

<% if services.empty? %>
  <div class="select-menu-item disabled">
    No services found matching <%= query %>
  </div>
<% else %>
  <% services.each do |service| %>
    <label class="select-menu-item width-full" tabindex="0" role="menuitemradio">
      <div class="select-menu-item-text">
        <div data-menu-button-contents>
          <input type="radio" class="d-none" name="flipper_feature[service_name]" value="<%= service.name %>">
          <div class="select-menu-item-heading d-inline"><%= service.name %></div>
        </div>
      </div>
    </label>
  <% end %>
<% end %>
