<label class="select-menu-item width-full" tabindex="0" role="menuitemradio">
  <div class="select-menu-item-text">
    <div class="select-menu-item-heading d-inline">None</div>
    <div class="d-none" data-menu-button-contents>
      <input type="radio" class="d-none" name="flipper_feature[github_org_team_id]" value="">
      Choose a team
    </div>
  </div>
</label>
<% if teams.empty? %>
  <div class="select-menu-item disabled">
    No teams found matching <%= query %>
  </div>
<% else %>
  <% teams.each do |team| %>
    <label class="select-menu-item width-full" tabindex="0" role="menuitemradio">
      <div class="select-menu-item-text">
        <div data-menu-button-contents>
          <input type="radio" class="d-none" name="flipper_feature[github_org_team_id]" value="<%= team.id %>">
          <div class="select-menu-item-heading d-inline"><%= team.name %></div>
        </div>
        <div class="description"><%= team.description %></div>
      </div>
    </label>
  <% end %>
<% end %>
