<% users.each do |user| %>
  <li role="option" class="autocomplete-item" data-autocomplete-value="<%= user.display_login %>" role="option">
    <%= avatar_for(user, 20, :class => "avatar") %> <%= user.display_login %>
    <small class="text-normal">@<%= user.safe_profile_name %></small>
  </li>
<% end %>
