<%
  error ||= false
  form_submit_path ||= copilot_save_settings_path
%>
<div <%= test_selector "copilot-during-free-trial" %>>
  <% if copilot_user.can_modify_copilot_settings? %>
    <%= render partial: "/copilot/settings", locals: { view: :settings, error: error, form_submit_path: form_submit_path, copilot_user: copilot_user } %>
  <% else %>
    <%= render(Copilot::Policies::UserSettingsComponent.new(copilot_user: copilot_user, disabled: true)) %>
  <% end %>
</div>
