<%# There needs to be content in these blocks for it to yield %>
<% page_info title: "Device Activation", class: "color-bg-subtle", html_class: "color-bg-subtle" %>

<% content_for :site_header do %>
  <span class="d-none">This is a filler to hide the site header</span>
<% end %>

<% content_for :content do %>
  <div class="px-3 mx-auto pt-4 container-md">
    <div class="mb-3 mx-auto d-none d-md-block" style="width: 300px;">
      <div class="d-flex flex-justify-center py-4">
        <div class="CircleBadge CircleBadge--medium box-shadow-none color-bg-default overflow-hidden">
          <%= primer_octicon(:"mark-github", w: :full, h: :full) %>
        </div>
      </div>
    </div>
  </div>

  <div class="mb-0 mx-auto d-block d-md-none" style="width: 200px;">
    <div class="d-flex flex-justify-center py-4">
      <div class="CircleBadge CircleBadge--small box-shadow-none color-bg-default overflow-hidden">
        <%= primer_octicon(:"mark-github", w: :full, h: :full) %>
      </div>
    </div>
  </div>

  <div class="px-3 mt-5 mx-auto" style="max-width: 530px;">
    <div class="Box color-shadow-small">
      <div class="Box-body p-3 p-md-4">
        <%= yield %>
      </div>
    </div>
  </div>
<% end %>

<%= render template: "layouts/application" %>
