<% content_for :head do %>
  <%= stylesheet_bundle "gist" %>
<% end %>

<% content_for :site_header do %>
  <%= render "site/header/gists/header" %>
<% end %>

<% content_for :content do %>
  <div class="container-lg px-3">
    <%= yield %>
  </div>
<% end %>

<%= render template: 'layouts/application' %>
