<% content_for :content do %>
  <main class="d-flex flex-column flex-auto height-full" id="js-repo-pjax-container">
    <%= yield %>
  </main>
<% end %>

<%= render template: "layouts/application" %>
