<%# There needs to be content in these blocks for it to yield %>
<% page_info class: "color-bg-subtle", html_class: "color-bg-subtle" %>

<% content_for :site_header do %>
  <span class="d-none">This is a filler to hide the site header</span>
<% end %>

<%= render template: "layouts/application" %>
