<% content_for :content do %>
  <main>
    <%= render layout: "businesses/layout",
      locals: {
        business: this_business,
        container_attributes: "itemscope itemtype='http://schema.org/Business'"
      } do %>
      <% if defined?(@organizations) %>
        <%= render ConditionalAccess::UnauthorizedAccountsComponent.new(
          classes: "Box mb-1",
          container_classes: "mb-2",
          resource_label: "repositories",
          cap_filter: cap_filter,
          accounts: @organizations,
        ) %>
    <% end %>
      <%= yield %>
    <% end %>
  </main>
<% end %>

<%= render template: "layouts/application" %>
