<% content_for :content do %>
  <main id="js-repo-pjax-container">
    <%= render layout: "edit_repositories/edit" do %>
      <%= yield %>
    <% end %>
  </main>
<% end %>

<%= render template: 'layouts/application' %>
