<%
  page_info \
    description: h(repo_meta_description),
    richweb: {
      title: current_repository.name_with_display_owner,
      url: repository_url(current_repository),
      description: h(repo_meta_description),
      image: avatar_url_for(current_repository.owner, 400),
    }
%>

<% content_for :content do %>
  <div class="position-relative color-bg-subtle pt-3">
    <div class="px-3 mb-4">
      <%= render :partial => "repositories/title", :locals => { :repository => current_repository } %>
    </div>
  </div>

  <main class="container-xl px-3">
    <%= yield %>
  </main>
<% end %>

<%= render template: 'layouts/application' %>
