<div class="pt-3 px-3 pb-0 overflow-y-auto" style="max-height: 228px" <%= test_selector("repo-user-list-sso") %>>
  <div class="d-flex width-full text-small color-fg-muted mb-3">
    <%= primer_octicon(:"shield-lock", height: 36, color: :muted) %>
    <div class="ml-3 text-normal">
      <a class="Link--inTextBlock" href="<%= org_sso_path(path: "/orgs/#{target.display_login}/sso", return_to: return_to_path) %>">Single sign-on</a>
      to modify lists for this repository within the <strong><%= target.safe_profile_name %></strong> organization.
    </div>
  </div>
</div>
