<div class="subnav float-md-right">
  <% DATE_OPTIONS.each do |interval, (title, time)| %>
    <%= render(
      Primer::Beta::Link.new(
        href: explore_path(since: interval),
        classes: class_names("subnav-item", selected: @since == interval),
        data: { pjax: "" },
      )
    ) do %>
      <%= title.capitalize %>
    <% end %>
  <% end %>
</div>
