<div class="pagehead">
  <div class="container-lg p-responsive text-center clearfix">
    <h1 class="float-sm-left mb-3 mb-sm-0">
      <a class="pagehead-heading" href="<%= explore_path %>">
        Explore <%= GitHub.flavor %>
      </a>
    </h1>
    <%= render Navigation::ExploreComponent.new %>
  </div>
</div>
