<%# erblint:counter GoogleAnalyticsDeprecation 1 %>
<article class="my-3">
  <a href="<%= topic_show_path(@topic) %>" class="d-flex flex-items-center" data-ga-click="Explore, go to topic">
    <% if @topic.logo_url %>
      <img src="<%= @topic.logo_url %>" alt="<%= @topic.name %> logo" class="mr-3" width="24">
    <% else %>
      <div
        class="color-bg-accent f5 color-fg-muted text-bold rounded flex-shrink-0 text-center no-underline mr-3"
        style="width:32px; height:32px; line-height:32px;"
      >
        #
      </div>
    <% end %>
    <h1 class="f4 text-normal no-underline lh-condensed mb-0"><%= @topic.safe_display_name %></h1>
  </a>
</article>
