<div class="discussion-sidebar-item" data-issue-and-pr-hovercards-enabled>
  <% if issue.pull_request? %>
      <div class="discussion-sidebar-heading text-bold">Development</div>
      <p>
        Use <a class="Link--inTextBlock" href="<%= GitHub.help_url %>/articles/closing-issues-using-keywords" target="_blank" rel="noopener noreferrer">Closing keywords</a> in the description to automatically close issues
      </p>
  <% else %>
    <div class="discussion-sidebar-heading text-bold">Development</div>
    <p>Shows branches and pull requests linked to this issue.</p>
  <% end %>
</div>
