<%= render_nothing_on_error do %>
  <section aria-label="Sales Tax Information Banner">
    <%= render Primer::Alpha::Banner.new(
      scheme: :warning,
      icon: :alert,
      border_radius: 0,
      name: "sales_tax_banner",
      test_selector: "sales-tax-banner"
    ) do |flash| %>
      <% if needs_to_validate_address? %>
        <strong>US Sales Tax and exemptions.</strong> Update your <%= information_to_update %> information to be verified, and sales tax exemption certificate if applicable.
        <a class="Link--inTextBlock" target="_blank" rel="noopener noreferrer" href="https://github.blog/changelog/2024-05-28-United-States-Sales-Tax-and-Exemptions-on-your-GitHub-Account/">Learn more about this change.</a>
        <% flash.with_action_content do %>
          <%= render Primer::Beta::Button.new(tag: :a, href: path_to_payment_page) do |button| %>
            Update billing
          <% end %>
        <% end %>
      <% elsif needs_sales_tax_change_notification? %>
        Starting August 19th, 2024, we will begin collecting state-mandated sales tax, where and when applicable, from paying customers in the United States.
        <a class="Link--inTextBlock" target="_blank" rel="noopener noreferrer" href="https://github.blog/changelog/2024-05-28-United-States-Sales-Tax-and-Exemptions-on-your-GitHub-Account/">Learn more about this change.</a>
      <% end %>
    <% end %>
  </section>
<% end %>
