<div class="p-3" <%= test_selector("discussion-sso-hovercard") %>>
  <div class="d-flex width-full text-small">
    <%= primer_octicon(:"shield-lock", height: 36, color: :muted) %>
    <div class="ml-3">
      <a class="d-inline-block text-underline" href="<%= org_sso_path(path: "/orgs/#{current_repository.owner.display_login}/sso", return_to: return_to_path) %>">Single sign-on</a>
      to view this discussion within the <strong><%= current_repository.owner %></strong> organization.
    </div>
  </div>
</div>
