<div class="py-2 mt-1">
  <h3 class="py-2 h5">Labels</h3>
</div>

<div class="text-small color-fg-muted pt-1">
  <div class="d-flex flex-wrap">
    <% @labels.each do |label| %>
      <%= render Primer::Beta::Label.new(mb: 1, mr: 2, pl: 2, pr: 2, scheme: :secondary, title: "Auto-assigned label (read-only): #{ label }") do %>
        <%= label %>
      <% end %>
    <% end %>
  </div>
</div>
