<h3 class="my-3 text-bold h5">Active jobs</h3>

<% if @jobs.empty? %>
  <div class="Box mt-2 text-center py-4">
    <h4 class="h2">There are currently no running jobs</h4>
    Add `<code>runs-on: ubuntu-latest</code>` to your workflow's YAML to send jobs to GitHub-hosted runners.
  </div>
<% else %>
  <%= render(Primer::Beta::BorderBox.new(mt: 3)) do |component| %>
    <% @jobs.each do |job| %>
      <% component.with_row(p: 2) do %>
        <%= render Actions::Runners::CheckRunItemComponent.new(
          check_run: job[:check_run],
          os_icon: get_os_icon_symbol(job)
        ) %>
      <% end %>
    <% end %>
  <% end %>

  <div class="paginate-container">
    <div class="pagination">
      <%= will_paginate(@jobs) %>
    </div>
  </div>
<%end%>
