<div class="ml-5">
  <%= render(Primer::Beta::TimelineItem.new(pb: @last_event ? 0 : 3, test_selector: "alert-timeline-event-reopened")) do |component| %>
    <% component.with_badge(bg: :success_emphasis, color: :on_emphasis, icon: :sync) %>
    <% component.with_body do %>
      <%= render DependabotAlerts::TimelineItems::ActorComponent.new(actor: actor) %>
      reopened this <%= render Primer::Beta::RelativeTime.new(datetime: reopened_at, tense: :past) %>
    <% end %>
  <% end %>
</div>
