<div id="privileged-access" class="boxed-group dangerzone">
  <h3>Privileged access</h3>
  <div class="boxed-group-inner">
    <%= button_to "Cancel Unlock", gh_cancel_unlock_stafftools_repository_path(view.repository), method: :delete, class: "btn boxed-action", id: "cancel-unlock" %>

    <p id="cancel-unlock-message">
      Repository unlocked for you until <%= view.time_of_unlock_expire.strftime("%m/%d/%Y at %H:%M %Z") %>.
    </p>
  </div>
</div>
