<%# erblint:counter DeprecatedComponentsCounter 2 %>
<div class="Box-body">
  <%= render(Primer::Beta::Flash.new(scheme: :warning)) do %>
    Are you sure you want to do this?
  <% end %>

  <p>
    Unlocking this repository will temporarily grant you access to it.
    This repository will re-lock automatically after two hours.
    <% unless GitHub.enterprise? %>
    This action should only be used for support requests.
    <% end %>
  </p>

  <%= form_tag gh_staff_unlock_stafftools_repository_path(current_repository), method: :put, class: "stafftools-form" do %>
    <% if GitHub.enterprise? %>
    <dl class="form-group">
      <dt><label for="reason">Reason</label></dt>
      <dd>

        <input class="form-control" type="text" name="reason" id="reason"
               placeholder="<%= placeholder_text %>"
               autofocus>
      </dd>
    </dl>
    <% end %>
    <div class="Box-footer">
      <%= render Primer::ButtonComponent.new(type: :submit, scheme: :danger, block: true) do %>Unlock<% end %>
    </div>
  <% end %>
</div>
