<%# erblint:counter DeprecatedComponentsCounter 2 %>
<template class="js-new-comment-template" <%= test_selector("new-comment-form-template") %>>
  <div class="comment-form-error js-comment-form-error" role="alert" hidden></div>
  <%= render(FeedPosts::CommentFormComponent.new(textarea_id: "feed-post-{{ postId }}-comment")) %>
  <div class="float-none m-0 mx-md-2 my-md-2 p-0">
    <div class="d-flex flex-justify-end">
      <div class="ml-1 d-flex flex-items-center">
        <%= render Primer::ButtonComponent.new(type: :reset, mr: 1, classes: "js-hide-inline-comment-form", "data-confirm-cancel-text": "Are you sure you want to discard your unsaved changes?") do %>
          Cancel
        <% end %>
        <%= render Primer::ButtonComponent.new(type: :submit, scheme: :primary, "data-disable-with": "", "data-disable-invalid": "") do %>
          Reply
        <% end %>
      </div>
    </div>
  </div>
</template>

