<span class="d-inline d-md-block lh-condensed color-fg-muted my-1 pr-2 pr-md-0" <%= test_selector("date-component") %>>
  <%= render Primer::Beta::Octicon.new(icon: "calendar") %>
  <%= render Primer::Beta::RelativeTime.new(datetime: workflow_run.created_at, tense: :past) %>
</span>
