<li class="mt-2" <%= test_selector("bounty-hunter-highlight") %>>
  <a class="Link--primary" href="https://bounty.github.com/">
    <%= render Primer::Beta::Octicon.new(
      icon: "lock",
      color: :muted,
      mr: 1,
    ) %>Security Bug Bounty Hunter
  </a>
</li>
