<li class="mt-2">
  <a class="Link--primary" href="https://education.github.com/experts">
    <%= render Primer::Beta::Octicon.new(
      icon: "mortar-board",
      color: :muted,
      mr: 1,
    ) %>GitHub Campus Expert
  </a>
</li>
