<li class="mt-2">
  <a
    class="Link--primary"
    href="<%= developer_program_badge_link_href %>"
    <%= test_selector("developer-program-badge-link") %>
  >
    <%= render Primer::Beta::Octicon.new(
      icon: "cpu",
      color: :muted,
      mr: 1,
    ) %>Developer Program Member
  </a>
</li>
