<li class="mt-2">
  <%= render Primer::Beta::Octicon.new(
    icon: "check",
    color: :muted,
    mr: 1,
  ) %><%= social_count(discussion_answered_count) %>
  <%= "discussion".pluralize(discussion_answered_count) %> answered
</li>
