<li class="mt-2">
  <a class="Link--primary" href="<%= stars_program_href %>">
    <%= render Primer::Beta::Octicon.new(
      icon: "star-fill",
      color: :muted,
      mr: 1,
    ) %>GitHub Star
  </a>
</li>
