<%# erblint:counter GoogleAnalyticsDeprecation 2 %>
<div class="d-flex flex-column flex-lg-row<% if !local_assigns[:centered].nil? %> flex-lg-justify-center<% end %>">
  <div>
    <%= render Site::ButtonComponent.new(
      text: "See your top dependencies",
      url: sponsors_explore_index_url(host: GitHub.urls.host_name),
      data_ga_click: "Sponsors Hero section, click, ref_page:#{request.fullpath};ref_cta:Sponsor a project;ref_loc:sponsors hero section",
      arrow: true,
      classes: "mb-2"
    ) %>
  </div>
  <div>
    <%= render Site::ButtonComponent.new(
      text: "Get sponsored",
      url: sponsors_accounts_path,
      data_ga_click: "Sponsors Hero section, click, ref_page:#{request.fullpath};ref_cta:Get sponsored;ref_loc:sponsors hero section",
      classes: "mb-2 ml-lg-3",
      scheme: :muted
    ) %>
  </div>
</div>
