<%# erblint:counter DeprecatedComponentsCounter 2 %>
<two-factor-setup-switch-selection id="two-factor-switch-selection">
  <div data-target="two-factor-setup-switch-selection.box" hidden>
    <div class="color-fg-muted mb-3 mt-3 text-bold">
      Alternative 2FA option:
    </div>
    <div data-target="two-factor-setup-switch-selection.appElem" class="Box Box-row--gray color-bg-default position-relative p-4 d-flex flex-justify-between" hidden>
      <div class="d-flex">
        <%= render(Primer::Beta::Octicon.new(icon: "device-mobile", mt: 1, mr: 2)) %>
        <div class="color-fg-default text-bold">
          Authenticator app
          <div class="color-fg-muted text-normal mt-1">
            Use an authentication app or browser extension to generate one-time codes.
          </div>
        </div>
      </div>
      <div>
        <%= render Primer::ButtonComponent.new(display: :flex,
        data: { action: 'click:two-factor-setup-switch-selection#switchMethodApp'}) do %>
          Select
        <% end %>
      </div>
    </div>

    <div data-target="two-factor-setup-switch-selection.smsElem" class="Box Box-row--gray color-bg-default position-relative p-4 d-flex flex-justify-between">
      <div class="d-flex">
        <%= render(Primer::Beta::Octicon.new(icon: :comment, mt: 1, mr: 2)) %>
        <div class="color-fg-default text-bold">
          SMS authentication
          <div class="color-fg-muted text-normal mt-1">
            Get one-time codes sent to your phone via SMS to complete authentication requests.
          </div>
        </div>
      </div>
      <div>
        <%= render Primer::ButtonComponent.new(display: :flex,
        data: { action: 'click:two-factor-setup-switch-selection#switchMethodSms'}) do %>
          Select
        <% end %>
      </div>
    </div>
  </div>
</two-factor-setup-switch-selection>
