<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<div class="Box">
  <ul>
    <li class="Box-row">
      <%= form_tag stafftools_delete_comment_path(id: comment.global_relay_id), method: :delete do %>
        <div class="d-flex flex-justify-between flex-items-center">
          <div class="pr-2">
            <label for="delete-comment">Delete comment</label>
            <p class="note">Remove this comment from the timeline discussion.</p>
          </div>
          <button type="submit" class="btn" id="delete-comment" data-confirm="Are you sure you want to delete this comment?">Delete</button>
        </div>
      <% end %>
    </li>
    <% if comment.respond_to?(:set_minimized) %>
      <li class="Box-row">
        <div class="d-flex flex-justify-between flex-items-center">
          <div class="pr-2">
            <label for="minimize-comment">Minimize</label>
            <p class="note">Hide this comment so users must click to view content.</p>
          </div>
          <%= render partial: "stafftools/issue_comments/minimize_form", locals: { comment: comment } %>
        </div>
      </li>
    <% end %>
  </ul>
</div>
