.cardLabel {
  max-width: 100%;
  padding: 0;
  margin: 0;
}

.tooltip {
  /* Translate the tooltip slightly up so that when moving the cursor off, the tooltip is more easily dismissed */
  transform: translateY(-2px);
}
