<% page_title = "The Merge Queue waitlist is closed" %>
<% page_info title: page_title %>
<div class="container-md p-responsive">
  <div class="mt-6 pt-3 text-center">
    <h1 class="f00-light mb-3"><%= page_title %></h1>
    <p class="lead color-fg-muted f4">
      Thank you for your interest. We are not accepting new sign-ups at this time, but are working towards Public Beta later this year.
      Learn more about <%= safe_link_to("merge queue", "#{GitHub.help_url}/github/collaborating-with-pull-requests/incorporating-changes-from-a-pull-request/adding-a-pull-request-to-the-merge-queue", target: "_blank") %>.
    </p>
  </div>
</div>
