<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%= render(GitHub::DialogComponent.new(title: "Sales Operations Issue Details", variant: :wide)) do |dialog| %><%# erblint:disable A11yDetailsDialogMigration %>
  <% dialog.with_summary do %>
    <%= render Primer::ButtonComponent.new(tag: :summary, scheme: :link, mt: 1, test_selector: "sales-operations-issue-details-button") do %>
      Sales Operations Issue Details
    <% end %>
  <% end %>
  <% dialog.with_body do %>
    <div class="text-left overflow-auto">
      <include-fragment src="<%= stafftools_zuora_webhook_sales_operations_issue_details_path(webhook) %>" class="d-flex flex-items-center">
        <%= image_tag "spinners/octocat-spinner-32.gif", size: "16x16", alt: "", class: "mr-1" %>
        <span class="color-fg-muted">Loading issue details...</span>
      </include-fragment>
    </div>
  <% end %>
<% end %>
