<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# rubocop:disable Lint/InstanceVariable %>

<details class="select-menu select-menu-inline details-reset details-overlay">
  <%= render Primer::ButtonComponent.new(tag: :summary, classes: "select-menu-button") do %>
    <%= primer_octicon(:repo) %>
    <% repo_exists = @target.hook.repository.present? %>
    <% repo_button_text = repo_exists ? view.repository_display(@target.hook.repository) : "Select hook repository" %>
    <span data-menu-button><%= repo_button_text %></span>
  <% end %>

  <details-menu class="js-select-repository position-absolute" style="z-index:99"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
    <div class="select-menu-modal">
      <div class="select-menu-header">
        <span class="select-menu-title">Select repository</span>
      </div>

      <% url = repository_search_enterprise_pre_receive_hook_targets_path(GitHub.global_business, :query => @query) %>
      <div class="select-menu-filters">
        <div class="select-menu-text-filter">
          <remote-input src="<%= url %>" aria-owns="repo-menu" param="query">
            <input type="search" placeholder="Search repositories" aria-label="Search repositories" autocomplete="off" autofocus>
          </remote-input>
        </div>
      </div>

      <div id="repo-menu">
        <button
          disabled
          type="button"
          role="menuitemradio"
          class="select-menu-item select-menu-no-results">
          Search for repositories containing hook scripts.
        </button>
      </div>
    </div>
  </details-menu>
</details>
