<% repos = view.repositories %>

<% if repos.any? %>
  <div class="select-menu-list">
    <% repos.each_with_index do |repo, index| %>
      <% repo_hash = repo["_source"] %>
      <button
        type="button"
        class="select-menu-item width-full"
        role="menuitemradio"
        value="<%= repo["_id"] %>"
        aria-checked="<%= index == 0 ? "true" : "false" %>">
        <%= primer_octicon(:check, classes: 'select-menu-item-icon') %>
        <div class="select-menu-item-text" data-menu-button-text>
          <span class="css-truncate-target"><%= repo_hash["name_with_owner"] %></span>
        </div>
      </button>
    <% end %>
  </div>
<% elsif !view.query.blank? %>
  <button
    disabled
    type="button"
    role="menuitemradio"
    class="select-menu-item select-menu-no-results">
    No repositories found. Sorry about that.
  </button>
<% else %>
  <button
    disabled
    type="button"
    role="menuitemradio"
    class="select-menu-item select-menu-no-results">
    Search for repositories containing hook scripts.
  </button>
<% end %>
