<% page_info title: "Hooks & Services", selected_link: :hooks %>

<%= render layout: "businesses/layout",
  locals: {
    business: this_business,
    title: "Add pre-receive hook",
    back_to_link_path: installations_path(GitHub.global_business),
    back_to_link_text: "pre-receive hooks",
    container_attributes: "itemscope itemtype='http://schema.org/Business'"
  } do %>
  <div class="settings-next color-fg-default pre-receive-bucket">
    <%= render partial: "businesses/pre_receive_hook_targets/form", locals: {
      view: view,
      form_url: enterprise_pre_receive_hook_targets_path(GitHub.global_business),
      button_text: "Add pre-receive hook" } %>
  </div>
<% end %>
