<%= render Site::SectionComponent.new(theme: :dark, container: false, classes: "pt-8 px-3 mb-5 d-flex flex-items-center flex-column flex-justify-center position-relative z-1", style: "min-height: 100vh; background: linear-gradient(0deg, rgb(24 29 36) 0%, rgb(10 13 18) 100%);") do %>
  <canvas class="js-startups-hero-fg position-absolute width-full height-full z-n1"></canvas>
  <canvas class="js-startups-hero-bg position-absolute width-full height-full z-n2"></canvas>
  <%= render Site::HeroComponent.new(
    classes: "mt-auto js-startups-hero-fg-detect",
    header: "Build your startup<br>on GitHub",
    text: "GitHub for Startups helps your startup go from idea to IPO on the world’s largest and most advanced developer platform. Eligible startups receive 20 seats of GitHub Enterprise free for 12 months.",
    ctas: [
      {
        text: "Apply now",
        url: "#get-started"
      }
    ]
  ) do |c| %>
    <%= c.with_before do %>
      <%= render Site::EyebrowBannerComponent.new(
        title: "GitHub Universe: Dive in to AI, security, and DevEx",
        subtitle: "Get your tickets now to join us on Nov. 8-9.",
        url: "https://githubuniverse.com/?utm_source=github&utm_medium=banner&utm_campaign=bannerlo-startups",
        icon: image_path("modules/site/universe/eyebrow-23@2x.png"),
        render: feature_enabled_globally_or_for_current_user?(:universe_eyebrow_banner23)
      ) %>
      <div class="color-fg-muted f3-mktg text-medium pb-1 mb-2">GitHub for Startups</div>
    <% end %>
  <% end %>

  <div class="container-xl mt-auto">
    <div class="d-flex flex-wrap gutter gutter-lg-spacious">
      <div class="col-8 col-md-4 mx-auto flex-auto mb-4">
        <div class="d-flex flex-items-baseline flex-justify-center height-full text-center py-7 py-md-8 px-4 rounded-2 box-shadow-card-border-mktg" style="background-color: rgba(44, 49, 62, 0.5); -webkit-backdrop-filter: blur(8px); backdrop-filter: blur(8px); border: 1px solid rgba(255,255,255,0.05);">
          <div>
            <h2 class="h4-mktg color-fg-default mb-2">Full access to GitHub&nbsp;Enterprise</h2>
            <p class="f4-mktg color-fg-muted mt-3">Get up to 20 seats of GitHub Enterprise free for 12 months.</p>
          </div>
        </div>
      </div>
      <div class="col-8 col-md-4 mx-auto flex-auto mb-4">
        <div class="d-flex flex-items-baseline flex-justify-center height-full text-center py-7 py-md-8 px-4 rounded-2 box-shadow-card-border-mktg" style="background-color: rgba(44, 49, 62, 0.5); -webkit-backdrop-filter: blur(8px); backdrop-filter: blur(8px); border: 1px solid rgba(255,255,255,0.05);">
          <div>
            <h2 class="h4-mktg color-fg-default mb-2">The industry's best DevOps platform</h2>
            <p class="f4-mktg color-fg-muted mt-3">Build your business in one place on GitHub's complete platform.</p>
          </div>
        </div>
      </div>
      <div class="col-8 col-md-4 mx-auto flex-auto mb-4">
        <div class="d-flex flex-items-baseline flex-justify-center height-full text-center py-7 py-md-8 px-4 rounded-2 box-shadow-card-border-mktg" style="background-color: rgba(44, 49, 62, 0.5); -webkit-backdrop-filter: blur(8px); backdrop-filter: blur(8px); border: 1px solid rgba(255,255,255,0.05);">
          <div>
            <h2 class="h4-mktg color-fg-default mb-2">Tailored product guidance</h2>
            <p class="f4-mktg color-fg-muted mt-3">Get a personalized onboarding experience, office hours, and technical best practices.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
