<% page_info \
  title: "GitHub for Startups: Build your startup on GitHub",
  description: "Go from idea to IPO on the world’s best software development platform with free&nbsp;access to GitHub Enterprise",
  richweb: {
    title: "GitHub for Startups: Build your startup on GitHub",
    url: request.original_url,
    description: "Go from idea to IPO on the world’s best software development platform with free&nbsp;access to GitHub Enterprise.",
    image: image_path("modules/site/social-cards/enterprise-startups.jpg"),
  },
  noindex_and_nofollow: true
%>

<div class="container-xl p-responsive mb-8 mb-sm-12 overflow-hidden">

  <div class="width-full mx-auto mb-8 mb-md-12 px-5 px-md-8 pb-7 pt-8 pt-lg-10 text-center position-relative">
    <h1 class="h2-mktg mb-4 mx-auto col-7-max text-center">Help us learn more about your startup</h1>
    <p class="f3-mktg color-fg-subtle col-7-max mx-auto">
      Take a short survey to help us understand your business objectives, technology needs, and goals so we can give you everything you need to take your business from idea to IPO.
    </p>

    <%= render "site/enterprise/startups/forms/acceptance_intake" %>
  </div>
</div>
