<% page_info \
  title: "GitHub for Startups: Build your startup on GitHub",
  description: "Go from idea to IPO on the world’s best software development platform with free&nbsp;access to GitHub Enterprise",
  richweb: {
    title: "GitHub for Startups: Build your startup on GitHub",
    url: request.original_url,
    description: "Go from idea to IPO on the world’s best software development platform with free&nbsp;access to GitHub Enterprise.",
    image: image_path("modules/site/social-cards/enterprise-startups.jpg"),
  },
  class: "header-overlay",
  noindex_and_nofollow: true
%>

<%= render Site::SectionComponent.new(theme: :dark, container: false, classes: "pt-8 px-3 mb-5 d-flex flex-items-center flex-column flex-justify-center position-relative z-1", style: "min-height: 100vh; background: linear-gradient(0deg, rgb(24 29 36) 0%, rgb(10 13 18) 100%);") do %>
  <canvas class="js-startups-hero-fg position-absolute width-full height-full z-n1"></canvas>
  <canvas class="js-startups-hero-bg position-absolute width-full height-full z-n2"></canvas>
  <%= render Site::HeroComponent.new(
    classes: "js-startups-hero-fg-detect",
    header: params.key?(:acceptance) ? "Welcome to GitHub&nbsp;for&nbsp;Startups!" : "Thank you!",
    text:  params.key?(:acceptance) ? "Thank you for completing the survey." : "Thanks for applying! If you’re accepted, you’ll receive an email invitation to accept ownership of your new Enterprise Account within 3-5 business days. <br><br>In the meantime, read through our FAQs and <a class=\"Link--inTextBlock\" href=\"https://github.com/about\">learn more</a> about GitHub. If you have any questions, please reach out to our team directly at <a class=\"Link--inTextBlock\" href=\"mailto:startups@github.com\">startups@github.com</a>.",
    ctas: [
      {
        text: "Return to GitHub for Startups",
        url: "/enterprise/startups/"
      }
    ]
  ) do |c| %>
    <%= c.with_before do %>
      <%= render(Primer::Beta::Octicon.new(:"mark-github", height: 76, mb: 4)) %>
    <% end %>
  <% end %>
<% end %>
