.breadcrumbLinkButton {
  /* stylelint-disable-next-line primer/spacing */
  padding: 0 var(--stack-padding-condensed) !important;
  font-weight: normal !important;
}

.breadcrumbLocationButton {
  min-width: 0 !important;
  /* stylelint-disable-next-line primer/spacing */
  padding: 0 var(--stack-padding-condensed) !important;
}

.titleWrapper {
  max-width: 400px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.title {
  min-width: 0;
}

.endContent {
  flex-grow: 1
}

@media screen and (max-width: 1012px) { /* --breakpoint-large */
  .titleWrapper {
    max-width: 200px;
  }
}
