<%# erblint:counter DeprecatedComponentsCounter 1 %>
<div class="Box-body">
  <ul>
    <%= render partial: "biztools/repository_actions/action", collection: actions, locals: { filters: filters } %>
  </ul>
</div>
<% if actions.next_page %>
  <div class="text-center d-block p-1 ajax-pagination-form js-ajax-pagination">
    <%= form_tag biztools_repository_actions_path, :method => :get do %>
      <input name="page" type="hidden" value="<%= actions.next_page %>">
      <%= render Primer::ButtonComponent.new(type: :submit, scheme: :link, "data-disable-with": "Loading more...") do %>Load more...<% end %>
    <% end %>
  </div>
<% end %>
