<%# erblint:counter DeprecatedComponentsCounter 1 %>
<div class="Box mb-4">
  <div class="Box-header">
    <h3 class="Box-title">
      Search for Creators
    </h3>
    <% if !current_page?(creators_biztools_repository_actions_path) || params[:query].present? %>
      <a href="<%= creators_biztools_repository_actions_path %>" class="text-small">View all verified creators</a>
    <% end %>
  </div>
  <div class="Box-body">
    <%= form_tag creators_biztools_repository_actions_path, method: "get" do %>
      <div class="input-group">
        <input class="form-control" type="text" name="query" <% if params[:query] %>value="<%= params[:query] %>"<% end %> placeholder="Creator login" aria-label="Creator login">
        <span class="input-group-button">
          <%= render Primer::ButtonComponent.new(type: :submit, "aria-label": "Search") do %>
            Search
          <% end %>
        </span>
      </div>
    <% end %>
  </div>
</div>
