<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<%= render layout: "shared/details_dialog", locals: {
  button_text: "Delete this action",
  button_class: "btn btn-danger",
  title: "Delete repository action",
} do %>
  <div class="Box-body overflow-auto">
    <%= form_tag biztools_repository_action_path(action_id), :method => :delete do %>
      <p>Are you sure you want to remove <strong><%= action_path %></strong> from the database?</p>
      <p>This will also remove <strong><%= releases_count %></strong> releases that are linked to this action.</p>
      <button type="submit" class="btn btn-block btn-danger mt-2" data-disable-with="Deleting..." autofocus>
        Delete this action
      </button>
    <% end %>
  </div>
<% end %>
