<%= render GitHub::DelayedLoadingComponent.new do %>
  <div class="centered-loading">
    <%= render Primer::Beta::Octicon.new(
      icon: "mark-github",
      height: 90,
      mx: :auto,
      my: 4,
      display: :block,
      color: :muted,
      animation: :pulse) %>
  <h2>Setting up your web editor</h2>
  </div>
<% end %>
