app/api/**
app/assets/modules/unsupported-bootstrap.js
app/assets/types/platform.d.ts
app/handlers/**
app/helpers/**
app/jobs/**
app/mailers/**
app/models/**
app/sanitizers/**
app/validators/**
app/view_models/**
app/views/**
bin/**
config/**
data/**
db/**
docker/**
docs/**
enterprise/**
git/**
bin/**
git/**
hooks/**
jobs/**
lib/**
log/**
packages/*/app/models/**
packages/planning/config/**
public/**
repositories/**
script/**
test/e2e/**
test/fixtures/**
tmp/**
vendor/**
.*
*__generated__*
