<div id="gollum-editor-help" class="border rounded-2 overflow-hidden jaws"
    <% if autodisplay_wiki_help? %>data-autodisplay<% end %>>
  <nav id="gollum-editor-help-parent"
      class="menu mb-0 f6 rounded-0 float-left border-top-0 border-bottom-0 border-left-0 overflow-auto"
      style="width: 160px; height: 220px;"><%# erblint:disable GitHub::Accessibility::NavigationHasLabel %>
  </nav>
  <nav id="gollum-editor-help-list"
      class="menu mb-0 f6 rounded-0 float-left border-top-0 border-bottom-0 border-left-0 overflow-auto"
      style="width: 160px; height: 220px;"><%# erblint:disable GitHub::Accessibility::NavigationHasLabel %>
  </nav>
  <div id="gollum-editor-help-wrapper" class="p-2 overflow-auto" style="height: 170px">
    <div id="gollum-editor-help-content" class="ml-1 mr-2 f6"></div>
  </div>
</div>
