<div class="TimelineItem TimelineItem--condensed" <%= test_selector("scanning-commit-timeline-item") %>>
  <div class="TimelineItem-badge"><%= primer_octicon(:"git-commit") %></div>
  <div class="TimelineItem-body">
    <%= render partial: "commit/condensed_details", locals: { commit: commit } %>
  </div>
</div>
