<% description = local_assigns[:description] || "Sorry, we couldn't find this file in the repository." %>

<div class="d-flex flex-column flex-items-center text-center pt-4 pb-2 px-2" <%= test_selector("scanning-missing-blob") %>>
  <h3 class="f4">Preview unavailable</h3>
  <p class="color-fg-muted"><%= description %></p>
</div>

<% if local_assigns[:helper].present? && local_assigns[:helper].message_text.present? %>
  <div class="border-top">
    <%= render partial: "repos/scanning/location_message", locals: {
          helper: local_assigns[:helper],
          alert_title: local_assigns[:alert_title],
          tool_display_name: local_assigns[:tool_display_name],
          code_paths_url: local_assigns[:code_paths_url],
        }
    %>
  </div>
<% end %>
