<%
  components = parent_issues.map do |parent|
    Issues::IssueHrefComponent.new(
      owner: parent.repository.owner.display_login,
      repository: parent.repository.name,
      issue_number: parent.number,
      issue_url: parent.url,
      issue_state: parent.state,
      render_context: {
        current_owner: current_repository.owner.display_login,
        current_repository: current_repository.name,
        hovercard_attributes: safe_data_attributes(hovercard_data_attributes_for_issue_or_pr(parent))
      }
    )
  end

  components = components.flatten(1).compact
  head = components[0..1]
  tail = components[2..]
%>
  <div class="mt-2 mr-1 State color-bg-default border text-normal color-fg-muted no-underline">
    <%
      hovercard_attributes = if parent_issues.size > 1
        hovercard_data_attributes_for_alert_tracked_in(current_repository.owner.display_login, current_repository.name, alert_number)
      else
        hovercard_data_attributes_for_issue_or_pr(parent_issues.first)
      end
    %>
    <span class="mr-1" <%= safe_data_attributes(hovercard_attributes) %>>Tracked by</span>
    <%= render Issues::IssueHrefGroupComponent.new(issue_href_components: head) %>
    <% if tail && tail.size > 0 %>
      <div class="tracked-in-parent-pill-truncated flex-self-center border ml-n4 pl-0" style="border-radius: 2em; padding: 4px 12px; height: 32px">
        ,
        <%= render Issues::IssueHrefGroupComponent.new(issue_href_components: tail) %>
      </div>
      <span>...</span>
    <% end %>
  </div>
