<a href="<%= GitHub.help_url %>/articles/authorizing-oauth-apps" <% if show_contact_microsoft_link?(view.application) && GitHub.flipper[:open_footer_links_in_new_tab].enabled?  %> target="_blank" rel="noopener noreferrer"<% end %> ><%= primer_octicon(:question, mr: 1) %> Learn more</a>
