<div class="px-0 border-bottom-0 oauth-permissions-details oauth-public-data-only js-details-container Details">
  <%= primer_octicon(:globe, :height => 32) %>
  <div class="permission-summary">
    <strong class="permission-title">Public data only</strong>
    <small class="access-details">
      Limited access to your public data
      <span class="hidden-text-expander d-inline ml-1">
        <button type="button" class="ellipsis-expander js-details-target" aria-expanded="false" title="More information about this request">&hellip;</button><%# erblint:disable GitHub::Accessibility::NoTitleAttribute %>
      </span>
    </small>
  </div>
  <div class="content">
    <div class="permission-help">
      <p>
        This application will be able to identify you and read public information.
      </p>

      <a href="<%= GitHub.help_url %>/articles/authorizing-oauth-apps#user-data"><%= primer_octicon(:question, mr: 1) %> Learn more</a>
    </div>
  </div>
</div>
