<span
  style="
    background-color: #<%= label.color %>;
    width: 0.5em;
    height: 0.5em;
    border-radius: 50%;
    display: inline-block;
    margin-right: -0.0625em;
  "
>
</span>
<%= link_to label.name_html, href %>
