<%= render layout: "sponsors/dashboards/layout",
      locals: { sponsors_listing: sponsors_listing, selected_tab: :webhooks } do %>
  <%= render Primer::Beta::Subhead.new(display: :flex, align_items: :center) do |component| %>
    <% component.with_heading do %>Edit webhook<% end %>
  <% end %>

  <%= render Sponsors::Webhooks::FormComponent.new(sponsors_listing: sponsors_listing, hook: hook) %>

  <% unless hook.new_record? %>
    <div class="mt-5">
      <%=
        render partial: "hooks/deliveries", locals: {
          hook: hook,
          disabled: false,
          target: hook.installation_target.class.name.humanize,
          hook_deliveries_query: nil,
          can_filter_hook_deliveries: false,
          hide_header: false,
        }
      %>
    </div>
  <% end %>
<% end %>
