<%= render Primer::Beta::Text.new(font_size: 4, font_weight: :bold, display: :inline, mr: 3) do "Tagging suggestions" end %>

<p>
  It’s common practice to prefix your version names with the letter <code>v</code>. Some good tag names might be <code>v1.0.0</code> or <code>v2.3.4</code>.
</p>
<p>
  If the tag isn’t meant for production use, add a pre-release version after the version name. Some good pre-release versions might be <code>v0.2.0-alpha</code> or <code>v5.9-beta.3</code>.
</p>

<%= render Primer::Beta::Text.new(font_size: 4, font_weight: :bold, display: :inline, mr: 3) do "Semantic versioning" end %>
<p>
  If you’re new to releasing software, we highly recommend to <a class="Link--inTextBlock" href="http://semver.org/" target="_blank" rel="noopener noreferrer">learn more about semantic versioning.</a>
</p>
<p>
  A newly published release will automatically be labeled as the latest release for this repository.
</p>
<p> If 'Set as the latest release' is unchecked, the latest release will be determined by higher semantic version and creation date. <a class="Link--inTextBlock" href="https://docs.github.com/repositories/releasing-projects-on-github/managing-releases-in-a-repository" target="_blank" rel="noopener noreferrer">Learn more about release settings.</a>
</p>
