<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%= render Primer::BlankslateComponent.new(
  icon: "alert",
  title: "Login required.",
  narrow: true,
) do %>
  <p>
    Please sign in to download releases for this repository.
  </p>
<% end %>
