<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# rubocop:disable Lint/InstanceVariable %>
<% page_info(
    title: %{Releases · #{current_repository.name_with_display_owner}},
    container_xl: true,
    selected_link: local_assigns[:tags] ? :repo_tags : :repo_releases,
    noindex: true
  )
%>

<% @disable_branch_selector = true %>

<%= render layout: "layouts/repository_container", locals: { repository: current_repository } do %>
<div class="clearfix container-xl px-3 px-md-4 px-lg-5 mt-4">
  <div class="d-flex flex-justify-center">
    <div class="d-flex flex-column flex-sm-row flex-wrap mb-3 pb-3 col-11 flex-justify-between border-bottom">
      <%= render Releases::SubnavComponent.new(current_repository, classes: "mb-2", selected: local_assigns[:tags] ? :repo_tags : :repo_releases) %>
    </div>
  </div>
  <%= render Primer::BlankslateComponent.new(
    icon: "tag",
    title: "There aren’t any releases here",
    button_text: ("Create a new release" if current_repository_writable? && current_user_can_push?),
    button_url: (new_release_path_helper if current_repository_writable? && current_user_can_push?),
    mx: :auto,
    style: "max-width: 544px",
  ) do %>
    <p>You can create a release to package software, along with release notes and links to binary files, for other people to use. Learn more about releases in <a class="Link--inTextBlock" href="<%= GitHub.help_url %>/repositories/releasing-projects-on-github/about-releases">our docs</a>.</p>

  <% end %>
</div>
<% end %>
