<%
  page_info(
    title: "Release #{release.display_name} · #{current_repository.name_with_display_owner}",
    container_xl: true,
    selected_link: release.viewable? ? :repo_releases : :repo_tags,
    richweb: {
      title: "Release #{release.display_name} · #{current_repository.name_with_display_owner}",
      description: release.body_text,
      twitter_creator: release.author&.profile_twitter_username,
      url: release_path(release),
      image: repository_open_graph_image_url(current_repository, resource: release),
      card: repository_twitter_image_card(current_repository)
    }
  )
-%>

<%= render layout: "layouts/repository_container", locals: { repository: current_repository } do %>
<div class="clearfix container-xl px-3 px-md-4 px-lg-5 mt-4">
  <%= render Releases::LandingPageComponent.new(release, current_repository, current_user) %>
</div>
<% end %>
