<%# rubocop:disable Lint/InstanceVariable %>
<% page_info(
    title: %{Tags · #{current_repository.name_with_display_owner}},
    container_xl: true,
    selected_link: :repo_tags,
    noindex: current_repository.tags.empty?
  )
%>

<%= render layout: "layouts/repository_container", locals: { repository: current_repository } do %>
<h1 class='sr-only'>Tags: <%= current_repository.name_with_display_owner %></h1>
<div class="clearfix container-xl px-3 px-md-4 px-lg-5 mt-4">
  <%= render Releases::TagHistoryComponent.new(
    @releases,
    current_repository,
    writable: current_repository_writable? && current_user_can_push?,
    deletable_tags: @deletable_tags,
  ) %>
</div>
<% end %>
