<div class="mt-4">
  <%= render GitHub::FlashActionDismissibleComponent.new(
    level: :default,
    display_icon: false,
    text_align: :center,
    dismissible_path: dismissal_path,
    dismissible_method: :post,
    test_selector: "disabled-achievements-cta-notice",
    mb: 4
  ) do |c| %>
    <% c.with_text { notice_message } %>
  <% end %>
</div>
