<aside class="branch-action-item d-flex flex-items-center flex-justify-between p-3 js-notice js-notice-dismiss" aria-label="Automatically run tests before integrating changes">
  <div class="suggest-icon position-relative d-flex flex-items-center border rounded-2 color-shadow-medium" style="background: radial-gradient(circle, rgba(141, 123, 255, 1) 0%, rgba(123, 133, 255, 1) 48%, rgba(141, 123, 255, 1) 85%, rgba(141, 123, 255, 1) 98%) !important;">
    <%= helpers.svg("modules/dashboard/suggestions/actions.svg", class: "d-block width-full") %>
    <span class="suggest-icon-bubble"></span>
    <span class="suggest-icon-bubble"></span>
    <span class="suggest-icon-bubble"></span>
  </div>

  <div class="flex-auto flex-column mx-3">
    <div class="d-flex flex-items-center">
      <div class="col-9">
        <h3 class="h4 lh-condensed mb-1">Automatically run tests before integrating changes</h3>
        <p class="f6 color-fg-muted mb-0">Add a continuous integration test workflow that will run every time a pull request is created.</p>
      </div>
      <div class="col-3 text-right">
        <%= render(Primer::Beta::Link.new(
          href: task.task_link,
          classes: "btn",
          data: helpers.analytics_click_attributes(
            category: "Flamingo PR Actions Prompt",
            action: "click.setup_workflow",
            label: "ref_cta:Set up workflow;ref_loc:pr_actions_prompt;ref_repo_id:#{repo.id}"
          )
        )) { "Set up workflow" } %>
      </div>
    </div>
  </div>

  <div>
    <%= form_tag dismiss_notice_path(notice_key), class: "js-notice-dismiss" do %>
      <%= render(Primer::Beta::CloseButton.new(
        type: :submit,
        data: helpers.analytics_click_attributes(
          category: "Flamingo PR Actions Prompt",
          action: "click.dismiss_prompt",
          label: "ref_cta:x;ref_loc:pr_actions_prompt;ref_repo_id:#{repo.id}"
        )
      )) %>
    <% end %>
  </div>
</aside>
