<span
  <% if truncate_branch_only %> class="Truncate" <% end %>
>
  <% if prepend_login && repo_owner %><span class="css-truncate-target #{link ? 'user' : ''}"><%= repo_owner %></span>:<% end %><span class="<%= "Truncate-text" if truncate_branch_only %> css-truncate-target"><%= branch %></span><%= suffix %>
</span>
