<a href="<%= gh_show_pull_request_path(pull_request) %>/checks" class="tabnav-tab flex-shrink-0 <% if current_tab? %>selected<% end %>">
  <%= primer_octicon(:checklist, display: [:none, nil, :inline_block]) %>
  Checks

  <%= render Primer::Beta::Counter.new(id: "checks_tab_counter", count: pull_request.corrupt? ? nil : pull_request.latest_check_runs_count) %>
</a>
