<%# erblint:counter DeprecatedComponentsCounter 1 %>
<div class="TimelineItem">
  <span class="TimelineItem-badge color-bg-accent-emphasis color-fg-on-emphasis">
    <%= render Primer::Beta::Octicon.new(icon: "plus") %>
  </span>
  <div class="TimelineItem-body d-flex flex-items-center">
    <strong class="flex-auto">New changes since you last viewed</strong>
    <%= render Primer::ButtonComponent.new(
      tag: :a,
      href: compare_path,
      variant: :small,
      test_selector: "view_changes_button",
      "data-ga-click": "Pull Requests, view changes button, location:revision marker"
    ) do %>
      View changes
    <% end %>
  </div>
</div>
