<% page_info[:first_group]&.each do |thread_or_comment| %>
  <%= render PullRequests::ReviewThreadComponent.new(review_thread_or_comment: thread_or_comment, pull_request: pull_request) %>
<% end %>

<% if page_info[:hidden_items_count]&.positive? %>
  <%= form_tag(
    pagination_path,
    method: :get,
    class: "js-review-hidden-comment-ids ajax-pagination-form js-ajax-pagination pagination-loader-container mt-4 mb-4 text-center",
    data: { "hidden-comment-ids": hidden_comment_ids }
  ) do %>
    <div class="Box d-inline-flex flex-column">
      <button type="submit" class="color-fg-muted pt-2 pb-0 px-4 color-bg-default border-0">
        <%= pluralize(page_info[:hidden_items_count], "hidden conversation") %>
      </button>
      <button type="submit" class="ajax-pagination-btn no-underline pb-1 pt-0 px-4 mt-0 mb-1 color-bg-default border-0" data-disable-with="Loading…">
        Load more…
      </button>
    </div>
  <% end %>
<% end %>

<% page_info[:last_group]&.each do |thread_or_comment| %>
  <%= render PullRequests::ReviewThreadComponent.new(review_thread_or_comment: thread_or_comment, pull_request: pull_request) %>
<% end %>
