<% first_comment, *remaining_comments = page_info[:first_group] || [] %>
<% if first_comment != nil %>
  <%= render comment_variant(first_comment).new(pull_request_review_comment: first_comment, pull_request: pull_request, comment_context: comment_context) %>
<% end %>
<% remaining_comments.each do |pull_request_review_comment| %>
  <%= render PullRequests::ReviewCommentComponent.new(pull_request_review_comment: pull_request_review_comment, pull_request: pull_request, comment_context: comment_context) %>
<% end %>

<% if page_info[:hidden_items_count]&.positive? %>
  <%= form_tag(
    pagination_path,
    method: :get,
    class: "ajax-pagination-form js-ajax-pagination review-comment-loader js-thread-hidden-comment-ids",
    data: { "hidden-comment-ids": hidden_comment_ids }
  ) do %>
    <button type="submit" class="ajax-pagination-btn mt-0 border-right-0 border-left-0 rounded-0 color-bg-subtle" data-disable-with>
      Load more…
    </button>
  <% end %>
<% end %>

<% page_info[:last_group]&.each do |pull_request_review_comment| %>
  <%= render PullRequests::ReviewCommentComponent.new(pull_request_review_comment: pull_request_review_comment, pull_request: pull_request, comment_context: comment_context) %>
<% end %>
