<%= render Primer::Beta::Popover.new(
  position: :absolute,
  pt: 5,
  right: 1,
  left: 1,
  hide: :whenNarrow,
  classes: "js-notice try-file-level-commenting-popover"
) do |component| %>
  <% component.with_heading do %>
    Add comments to files
  <% end %>
  <% component.with_body(position: :relative, caret: :top_right, mt: 0, style: "width: 315px; left: -19px;") do %>
    <p class="color-fg-muted my-3">
      You can now give your feedback on whole files, not just lines!
    </p>
      <table>
        <tr>
          <td>
            <%= render Primer::Beta::Button.new(
              type: :button,
              tag: :a,
              scheme: :default,
              href: "https://gh.io/pr-file-comment-learn-more",
              style: "margin-right: 20px;",
              "target": "_blank",
              "aria-label": "Learn more about making file-level comments on pull requests"
            ) do %>
              Learn more
            <% end %>
          </td>
          <td>
            <%= form_tag(
              dismiss_notice_path("try_file_level_commenting"),
              class: "js-notice-dismiss",
              ) do %>
              <%= render Primer::Beta::Button.new(type: :submit, scheme: :invisible, right: 0) do %>
                OK, dismiss
              <% end %>
            <% end %>
          </td>
        </tr>
      </table>
  <% end %>
<% end %>
