<% if contribution = collector.joined_github_contribution %>
  <%= render(Primer::Beta::TimelineItem.new(test_selector: "joined-github")) do |component| %>
    <% component.with_badge(icon: :rocket) %>
    <% component.with_body do %>
      <div class="d-flex flex-justify-between flex-items-baseline mb-3">
        <h4 class="text-normal color-fg-default lh-condensed pr-3 my-0">
          Joined GitHub
        </h4>
      </div>
      <div class="Box p-3">
        <div class="text-center px-6">
          <%= light_or_dark_picture_tag("modules/profile/profile-joined-github.svg", "modules/profile/profile-joined-github-dark.svg",
            class: "text-center width-fit",
            alt: "Joined GitHub!"
          ) %>
          <div class="mt-n3">
            <h4 class="color-fg-success">Joined GitHub</h4>
            <% link_data = profile_click_tracking_attrs(:TIMELINE_DATE_LINK) %>
            <%= link_to contribution.url, class: "f6 color-fg-muted Link--muted no-wrap", data: link_data do %>
              <time class="d-inline-block mb-2">on <%= contribution_long_date(contribution.occurred_at) %></time>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
