<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter DeprecatedComponentsCounter 1 %>
<div class="flash-messages <% if full_height? %>mt-3 mb-0<% end %>" <%= test_selector("web-commit-fork-octotip") %>>
  <%= render Primer::Beta::Flash.new(mx: 3) do %>
    You’re making changes in a project you don’t have write access to.
    <% if newfork %>
      We’ve <strong>created a fork of this project</strong>
      for you to commit your proposed changes to.
    <% end %>
    Submitting a change will write it to a new branch in your
    <% if newfork %>
      fork,
    <% else %>
      fork <%= fork_name_with_owner %>,
    <% end %>
    so you can send a pull request.
  <% end %>
</div>
