<div class="js-enterprise-planet enterprise-planet left-0 z-n2 events-none">
  <img class="z-n2 position-absolute width-full top-0 left-0 events-none" width="140" height="70" style="height: 100vh" src="<%= image_path "modules/site/enterprise/hero-bg.png" %>" alt="">
</div>
