<div <%= test_selector("enterprise-onboarding-component") %> >
  <include-fragment src="<%= org_onboarding_tasks_path(org: organization) %>">
    <%= render(Primer::Beta::Spinner.new) %>
    <p class="color-fg-muted my-2 mb-0">Loading tasks...</p>
  </include-fragment>
</div>
