<div class="text-small color-fg-muted mt-md-n3 mb-5">
  <% if organization.show_onboarding_tasks? || show_for_trial? %>
    You can <%= button_to(
      organization_onboarding_show_tasks_path(organization, show_onboarding_tasks: false),
      method: :patch,
      class: "d-inline btn-link",
      form: { class: "d-inline" },
      data: analytics_click_attributes(
        category: "Organization onboarding",
        action: "click to hide organization onboarding",
        label: "location:onboarding_organizations_tasks"
      )
      ) do %>
        hide the tasks we've suggested
      <% end %> on this page and bring them back later.
  <% else %>
    <%= button_to("Get started with tasks",
      organization_onboarding_show_tasks_path(organization, show_onboarding_tasks: true),
        method: :patch,
        class: "d-inline btn-link",
        form: { class: "d-inline" },
        data: analytics_click_attributes(
          category: "Organization onboarding",
          action: "click to show organization onboarding",
          label: "location:onboarding_organizations_tasks"
        )
    ) %> that most successful organizations complete.
  <% end %>
</div>
