<div class="d-flex flex-column flex-lg-row">

  <div class="col-12 col-lg-6">
    <div class="copilot-waitlist-header-section copilot-waitlist-header-jetbrains">
      <div class="copilot-waitlist-section-inner">
        <div class="copilot-waitlist-beta-bubble">
          Technical Preview
        </div>
        <p class="lh-condensed copilot-waitlist-header">Join the Copilot Next Edit Suggestions (NES) Waitlist</p>

        <p class="text-light mt-4 mb-4">
          Join the technical preview for early access to Copilot NES, which gives Copilot the power to suggest edits anywhere in your document.
        </p>
      </div>
    </div>
  </div>

  <div class="copilot-waitlist-form-section col-12 col-lg-6 pr-8 pb-8 pl-8 pt-10">
    <% if has_cfi_access %>
      <div class="copilot-waitlist-section-inner">
        <%= render(Copilot::BetaSignupFormComponent.new(
          signup_url_path: copilot_next_edit_suggestions_waitlist_signup_create_path,
          signup_cta_text: "Join Copilot NES waitlist",
          preview_terms: preview_terms,
        )) %>
      </div>
    <% elsif has_cfb_access %>
      <p class="mb-2 h3">Oops!</p>

      <p class="mb-6">
        Admission to the private beta for Copilot Next Edit Suggestions (NES) is limited to users with an active <%= link_to "GitHub Copilot Individual subscription", Copilot::COPILOT_FOR_INDIVIDUALS_DOCUMENTATION, class: "Link--inTextBlock" %>.
      </p>
    <% else %>
      <p class="mb-2 h3">Oops!</p>

      <p class="mb-4">
        Admission to the private beta for Copilot Next Edit Suggestions (NES) is limited to users with an active <%= link_to "GitHub Copilot Individual subscription", Copilot::COPILOT_FOR_INDIVIDUALS_DOCUMENTATION, class: "Link--inTextBlock" %>.
      </p>

      <p class="mb-4">
        Copilot users with an Individual plan may request access by joining this waitlist. Purchasing a subscription does not guarantee access.
      </p>

      <%= render(Site::ButtonComponent.new(
        role: :button,
        scheme: :muted,
        url: "https://github.com/features/copilot#pricing",
        text: "Compare Copilot plans",
        arrow: false,
        classes: "width-full copilot-waitlist-buy-button"
      )) %>
    <% end %>
  </div>
</div>
