<div class="d-flex flex-column flex-lg-row">

  <div class="col-12 col-lg-6">
    <div class="copilot-waitlist-header-section copilot-waitlist-header-jetbrains">
      <div class="copilot-waitlist-section-inner">
        <div class="copilot-waitlist-beta-bubble">
          Technical Preview
        </div>
        <p class="lh-condensed copilot-waitlist-header">Join the Copilot Next Edit Suggestions (NES) Waitlist</p>

        <p class="text-light mt-4 mb-4">
          Join the technical preview for early access to Copilot NES, which gives Copilot the power to suggest edits anywhere in your document.
        </p>
      </div>
    </div>
  </div>

  <div class="copilot-waitlist-form-section col-12 col-lg-6 pr-8 pb-8 pl-8 pt-10">
    <p class="mb-2 h3">Thank you! <%= display_login %> is now on the waitlist for Copilot Next Edit Suggestions (NES)</p>

    <p class="mb-4">
      Admission to the private beta for Copilot NES will be limited. You will receive an email if you are
      granted access.
    </p>
  </div>
</div>
