---
http_interactions:
- request:
    method: get
    uri: http://pond.dev/repositories/1/referrers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token eyJleHBpcmVzX2F0IjoxNDAzNjMwNzQ5fQ==--c4a94d27a469585365f26cd4b228cba165a7c88a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"latencyMillis":16,"data":[{"referrer":"github.com","searchEngine":false,"count":81,"uniques":49},{"referrer":"Google","searchEngine":true,"count":79,"uniques":43},{"referrer":"Yahoo","searchEngine":true,"count":58,"uniques":1},{"referrer":"programmers.stackexchange.com","searchEngine":false,"count":15,"uniques":3},{"referrer":"ruby-toolbox.com","searchEngine":false,"count":7,"uniques":4},{"referrer":"stackoverflow.com","searchEngine":false,"count":6,"uniques":4},{"referrer":"tom.preston-werner.com","searchEngine":false,"count":5,"uniques":5},{"referrer":"t.co","searchEngine":false,"coun[...]
