<% page_info \
  title: "Enterprise · A smarter way to work together",
  description: "Whether you’re working solo or leading an enterprise, GitHub has everything you need to build and scale your team’s workflow. Choose the plan that’s right for your hosting environment and security policies, and we’ll get you set up in no time.",
  richweb: {
    title: "GitHub Enterprise: a smarter way to work together",
    url: request.original_url,
    description: "Whether you’re working solo or leading an enterprise, GitHub has everything you need to build and scale your team’s workflow. Choose the plan that’s right for your hosting environment and security policies, and we’ll get you set up in no time.",
    image: image_path("modules/site/social-cards/enterprise.png"),
  },
  html_class: "color-bg-dark-mktg",
  class: "header-dark"
%>

<div class="pt-4 position-relative container-md p-responsive">
  <div class="Box mt-5 px-6 py-10 height-full">
   <div class="d-flex flex-column flex-justify-center flex-items-center my-8">
      <p class="f1 text-bold">Your request has been submitted.</p>
      <p class="f4 text-center">Our team will reach out via email in the next few hours to schedule a walkthrough of GitHub Advanced Security so you can explore the offering and decide if it’s a good fit.</p>
      <p class="f4 mt-4">In the meantime, read through <%= render(Primer::Beta::Link.new(href: "https://resources.github.com/security/tools/ghas-trial/", classes: "Link--inTextBlock")) { "How to use GitHub Advanced Security with your team" } %>.</p>
   </div>
  </div>
</div>
