<%# erblint:counter FlashMigrationCounter 1 %>
  <div class="flash flash-warn flash-full border-top-0 text-center text-bold py-2" <%= test_selector "org-archived-notice" %>>
    <%= message %>
  </div>
