<%# `view` is an instance of Orgs::OverviewView %>
<%
  page_info stafftools: stafftools_user_path(organization)
%>

<header class="pagehead orghead border-bottom-0 pt-0">
  <div class="container-xl p-responsive d-none d-xl-block clearfix">
    <%= render "orgs/header_org_name", view: create_view_model(Orgs::HeaderView, organization: organization) %>
  </div>

  <%= render Organizations::HeaderNavComponent.new(
    organization: organization,
    selected_nav_item: selected_nav_item,
  ) %>
</header>
