<%= render Primer::Alpha::Banner.new(scheme: :warning, icon: :alert, my: 3) do |component| %>
  <span class="text-bold">Payment information missing.</span>
  Add payment information before next billing date.
  <% component.with_action_content do %>
    <%= render Primer::Beta::Button.new(
      size: :small,
      tag: :a,
      href: settings_org_billing_tab_url(organization_id: organization.display_login, tab: "payment_information")
    ) do %>
      Add payment information
    <% end %>
  <% end %>
<% end %>
