<section aria-label="New Terms of Service Banner">
  <%= render Primer::Alpha::Banner.new(
    scheme: :warning,
    icon: :alert,
    border_radius: 0,
    name: "ctos_sign_banner",
    test_selector: "ctos-sign-banner"
  ) do |flash| %>
    <strong>Terms of Service review required.</strong> Organizations on the enterprise plan must now accept the GitHub Customer Agreement. Not doing so may put your organization at risk of being downgraded.
    <% flash.with_action_content do %>
      <%= render Primer::Beta::Button.new(tag: :a, href: settings_org_profile_url(organization, anchor: "tos"), pr: 2) do |button| %>
        Review terms
      <% end %>
    <% end %>
  <% end %>
</section>
