<div class="mt-3">
  <%= render(GitHub::FlashActionDismissibleComponent.new(
    level: :default,
    dismissible_path: dismissal_path,
    dismissible_method: :delete,
    test_selector: "org-transferred-notice",
    mb: 4)) do |c| %>
    <% c.with_text do %>
      Your organization now belongs to
      <%= render(Primer::Beta::Link.new(
        href: enterprise_path(organization.business), classes: "Link--inTextBlock")) { %><strong><%= organization.business.name %></strong><% } %>.
      For more information about the transfer, please contact your
      <%= render(Primer::Beta::Link.new(
        href: org_enterprise_owners_path(organization), classes: "Link--inTextBlock")) { "enterprise owners" } %>.
    <% end %>
  <% end %>
</div>
