<div class="js-payment-methods-wrapper <%= 'border-top' if show_top_border? %>" <%= test_selector("payment-method") %>>
  <%= render Sponsors::Sponsorables::PaymentMethodFormComponent.new(target: sponsor) %>
  <div class="form-group m-0">
    <input type="reset" value="Cancel" class="btn js-sponsors-cancel-edit-payment-method-btn" hidden>
  </div>
<div>
