<% if this_user == current_user %>
  <div
    class="mb-2 user-status-container d-md-none js-user-status-context"
    data-url="<%= user_status_path(truncate: 1, link_mentions: 1, compact: 1, circle: 0) %>"
  >
    <%= render "user_statuses/edit", compact: true %>
  </div>
<% elsif (status = this_user.status_visible_to(current_user)) %>
    <div class="mt-2 user-status-container d-md-none">
      <%= render(
        "user_statuses/user_status",
        status: status,
        compact: true,
        force_one_line: true,
      ) %>
  </div>
<% end %>
