<%
  collection_year = collector.started_at.in_time_zone(Time.zone).year
  float_right = !current_user&.feature_enabled?(:mobile_year_picker) && !activity_overview_enabled?
%>

<div class="d-none d-lg-block">
  <div style="top: 74px;" class="js-profile-timeline-year-list color-bg-default js-sticky <% if float_right %>float-right col-2 pl-5<% end %>" <%= test_selector("profile-timeline-year-list") %>>
    <ul class="filter-list small">
      <% collector.contribution_years.each do |year| %>
        <li>
          <%= link_to year, contribution_year_url(year: year, user: collector.user.display_login, org: org&.display_login),
                id: "year-link-#{year}",
                class: class_names(
                  "js-year-link filter-item px-3 mb-2 py-2",
                  "selected" => collection_year == year,
                ),
                "aria-label": "Contribution activity in #{year}",
                data: profile_click_tracking_attrs(:CONTRIBUTION_YEAR_LINK),
                "data-turbo": false
          %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<% if current_user&.feature_enabled?(:mobile_year_picker) %>
  <div class="d-lg-none float-right js-profile-timeline-year-list">
    <%= render Primer::Alpha::ActionMenu.new(
      anchor_align: :end,
      select_variant: :single,
      dynamic_label: true,
      dynamic_label_prefix: "Year",
    ) do |menu| %>
      <% menu.with_show_button(size: :medium) do |button| %>
        <% button.with_trailing_action_icon(icon: "triangle-down") %>
      <% end %>
      <% collector.contribution_years.each do |year| %>
        <% menu.with_item(
          content_arguments: {
            classes: class_names("js-year-link", "selected" => collection_year == year),
            "data-turbo": false,
            data: profile_click_tracking_attrs(:CONTRIBUTION_YEAR_LINK),
          },
          label: year,
          href: contribution_year_url(
            year: year, user: collector.user.display_login, org: org&.display_login
          ),
          active: collection_year == year,
        ) %>
      <% end %>
    <% end %>
  </div>
<% end %>
