<%# rubocop:disable Lint/InstanceVariable %>
<% page_info :title => "Account flagged" %>

<% content_for :head do %>
  <%= octolytics_user_tags(@user) %>
<% end %>

<div class="container-md py-5 px-3">
  <%= render Primer::Beta::Blankslate.new do |c| %>
    <% c.with_visual_icon(icon: "stop") %>

    <% c.with_heading(tag: :h2) do %>
      Account flagged
    <% end %>

    <% c.with_description do %>
      Your account has been flagged. If you believe this is a mistake, contact support
    <% end %>

    <% c.with_primary_action(href: contact_path) do %>
      Contact support
    <% end %>
  <% end %>
</div>
