<div class="mr-2 flex-shrink-0 hovercard-icon text-center">
  <%= primer_octicon(context.octicon, display: :inline_block, vertical_align: :top) %>
</div>

<span class="lh-condensed">
  <%= context.message %>
</span>
