<div class="mr-2 flex-shrink-0 hovercard-icon text-center">
  <%= octicon(context.octicon, class: "d-inline-block v-align-top #{review_status_octicon_class(context.review_decision) || "hx_dot-fill-pending-icon"}") %>
</div>

<span class="lh-condensed">
  <%= context.message %>
</span>
