.blankslate {
  border-right: var(--borderWidth-thin) solid var(--borderColor-default);
  border-left: var(--borderWidth-thin) solid var(--borderColor-default);
}

.listViewWrapper .listViewItems {
  max-height: calc(37px * 10);
  overflow-y: auto;
}
