.Container {
  display: flex;
  max-width: 800px;
  min-height: calc(100dvh - 64px);
  padding: var(--base-size-16);
  margin: 0 auto;
  flex-direction: column;
}

.Top {
  flex: 1 1 0%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Bottom {
  display: flex;
  justify-self: center;
  flex-direction: column;
}

.Info {
  padding: var(--base-size-16) 0;
  margin: 0;
  font-size: var(--text-caption-size);
  color: var(--fgColor-muted);
  text-align: center;
}
