<html>
<head>
<title>flamegraph</title>
<style>
  body {
    margin: 0;
    padding: 0;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 10pt;
    display: flex;
  }
  .spinner-container {
    width: 100%;
    text-align: center;
  }
  .spinner {
    margin-top: 17%;
    width: 64px;
    height: 64px;
  }
  .overview-container {
    position: relative;
  }
  .overview {
    cursor: col-resize;
  }
  .overview-viewport-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 1;
    height: 1;
    background-color: rgba(0, 0, 0, 0.25);
    transform-origin: top left;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    cursor: grab;
  }
  .moving {
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
    cursor: grabbing;
  }
  .info {
    display: block;
    height: 40px;
    margin: 3px 6px;
    margin-right: 206px;
    padding: 3px 6px;
    line-height: 18px;
  }
  .legend {
    display: block;
    float: right;
    width: 195px;
    max-height: 100vh;
    overflow-y: scroll;
    flex-shrink: 0;
  }
  .legend > div {
    padding: 6px;
    clear: right;
  }
  .legend > div span {
    opacity: 0.75;
    display: block;
    text-align: right;
  }
  .legend > div .name {
    max-width: 70%;
    word-wrap: break-word;
  }
</style>
</head>
<body>
  <div class="spinner-container">
    <%= render(Primer::Beta::Spinner.new(classes: "spinner")) %>
  </div>
  <div>
    <div class="overview-container">
      <canvas class="overview"></canvas>
      <div class="overview-viewport-overlay"></div>
    </div>
    <div class="info">
      <div style="float: right; text-align: right">
        <div class="samples"></div>
        <div class="exclusive"></div>
      </div>
      <div class="frame"></div>
      <div class="file"></div>
    </div>
    <canvas class="flamegraph" data-url="<%= "#{params[:url]}&flamegraph&flamegraph_mode=#{params[:flamegraph_mode]}&flamegraph_interval=#{params[:flamegraph_interval]}".sub(/[?&]/, '?') %>"></canvas>
  </div>

  <div class="legend"></div>
  <%= controller_javascript_bundles %>
  <%= javascript_bundle 'flamegraph' %>
</body>
</html>
