<div class="d-flex flex-column border-bottom border-dashed border-top-0 border-left-0 border-right-0 pb-4">
  <p class="f5-mktg color-fg-muted mb-3">
    Customers pay for unique committers (contributors) that work on repositories for which GitHub Advanced Security is enabled. Every committer who has contributed to a repository in the last 90 days counts towards the total committer count. Please specify how many committers you expect to be working on your repositories:
  </p>
  <label for="ghas-committer-count" class="f5-mktg mb-1">
    <span class="text-bold">Number of committers</span>
    <span class="color-fg-muted"><%= Money.new(Site::PricingCalculator.unit_prices[:ghas_committer_seat][:value], "USD").format %> USD/committer</span>
  </label>
  <%= number_field_tag("ghas-committer-count", nil, class: "d-block", min: 0, data: {
    target: "ghas-calculator.committerCountInput",
    action: "input:ghas-calculator#updateCommitterSeatCost",
  }) %>
</div>
