<div class="position-relative <% if build_in? %>readme-img-build-in js-build-in<% end %>" <% if set_build_in_margin? %>data-build-margin-bottom="<%= @build_in_margin %>"<% end %>>
  <div class="position-relative readme-link">
    <figure class="readme-link__figure <% if circled? %>circle<% end %> <% if rotate? %>js-readme-rotate<% end %>" <% if shaped? %>style="height:0; padding-bottom:100%; -webkit-mask-image: -webkit-radial-gradient(#fff,#000);"<% end %>>
    <%= render Site::ContentfulImageComponent.new(src: image_url, width: @dimensions[:width], height: @dimensions[:height], classes: img_classes, alt: "", sizes: sizes, lazy: lazyload?, photo: is_photo?) %>
    </figure>
  </div>

  <% if show_topic_tag? %>
    <%= link_to topic[:name], readme_topic_path(topic[:slug]), class: "readme-link--focus-boost position-absolute top-0 left-0 px-2 px-lg-3 py-2 readme-bg-blue f5-mktg readme-heading--condensed text-uppercase text-semibold color-text-white", style: "letter-spacing:0.025em;", data: { test_selector: "topic-tag" } %>
  <% end %>

  <% if show_podcast_badge? %>
    <%= render "site/readme/podcasts/tease_badge" %>
  <% end %>
</div>
