<nav class="UnderlineNav mb-4" aria-label="GitHub Apps">
  <div class="UnderlineNav-body" role="tablist">
    <% if current_context.feature_enabled?(:enterprise_owned_app_management) %>
      <%= selected_link_to "My Apps",
          settings_apps_enterprise_path(current_context.slug),
          class: "UnderlineNav-item",
          data: test_selector_hash("underline-nav-item"),
          role: "tab" %>
    <% end %>

    <% if current_context.feature_enabled?(:enterprise_app_installation_management) %>
      <%= selected_link_to "Installed Apps",
          settings_business_installations_enterprise_path(current_context.slug),
          class: "UnderlineNav-item",
          data: test_selector_hash("underline-nav-item"),
          role: "tab" %>
    <% end %>
  </div>
</nav>
