<div class="container-lg p-responsive border-bottom pb-3 mb-5 mt-4">
  <%= render partial: "settings/header", locals: {
    current_context: target,
    hide_profile_link: true,
    hide_context_switcher: true,
  } %>
</div>
<div class="container-lg p-responsive mb-5 mt-4">
  <%= render Primer::Beta::Blankslate.new(
    large: true,
    spacious: true,
  ) do |c| %>
      <% c.with_heading(tag: :h2).with_content(heading) %>
      <% c.with_description { description } %>
      <% c.with_secondary_action(href: button_url, classes: "btn-secondary btn").with_content(button_text) %>
  <% end %>
</div>
