<poll-include-fragment class="" src="<%= upgrading_path(
  id: target.display_login,
  job_status_id: job_status_id,
  new_plan_name: new_plan&.name,
  new_seats: new_seats,
  old_plan_name: old_plan&.name,
  old_seats: old_seats,
  seat_delta: seat_delta,
  price: price&.to_s,
  target: target.class.name.downcase,
) %>" >
  <div class="container-lg p-responsive border-bottom pb-3 mb-5 mt-4">
    <%= render partial: "settings/header", locals: {
      current_context: target,
      hide_profile_link: true,
      hide_context_switcher: true,
    } %>
  </div>
  <%= render Primer::Beta::Blankslate.new(
    large: true,
    spacious: true,
  ) do |c| %>
    <% target_account = target.organization? ? "organization" : "account" %>
    <% c.with_visual_spinner(size: :medium) %>
    <% if seat_delta %>
      <% c.with_heading(tag: :h2).with_content("Adding #{seat_delta} #{"seat".pluralize(seat_delta)} to your #{target_account}") %>
    <% else %>
      <% c.with_heading(tag: :h2).with_content("Upgrading your #{target_account} to GitHub #{new_plan.display_name.capitalize}") %>
    <% end %>
    <% c.with_description { "This may take a while." } %>
  <% end %>
</poll-include-fragment>
