<div id="chatops-teams-config" <%=("style='display: none;'" if view.slack_enabled? || view.slacksocket_enabled?)%>>
  <div id="chatops-msteams-config-section" <%=("style='display: none;'" if view.msteams_enabled?)%>>
    <h4>Create your bot in Azure</h4>
    <p><a href="https://github.com/integrations/microsoft-teams/#ghes-product" target="_blank" rel="noopener noreferrer">View documentation</a> for additional guidance
    <ol>
      <li><b>Register application from <a href="https://ms.portal.azure.com/#view/Microsoft_AAD_IAM/ActiveDirectoryMenuBlade/~/RegisteredApps" target="_blank" rel="noopener noreferrer">here</a> in Azure.</b>
      <br>
      <p>Make a note of your <b>client ID</b> &amp; <b>client secret</b></p>
      </li>
      <li><b>Deploy your bot</b>
        <br>
        <p>Use the 'Deploy to Azure button' to deploy your bot to Azure.</p>
        <a href="https://portal.azure.com/#create/Microsoft.Template/uri/https%3A%2F%2Fraw.githubusercontent.com%2Fintegrations%2FMicrosoft-teams%2Fmaster%2Fghes%2Fmanifest%2Ftemplate.json/createUIDefinitionUri/https%3A%2F%2Fraw.githubusercontent.com%2Fintegrations%2FMicrosoft-teams%2Fmaster%2Fghes%2Fmanifest%2FcreateUiDefinition.json" target="_blank" rel="noopener noreferrer">
          <img src="/setup/images/chatops/deploy_to_azure.svg" alt="Deploy to Azure">
        </a>
      </li>
      <br>
      <div id="chatops-teams-appid">
        <label class="label-heading">
          Microsoft client ID
        </label>
        <input id="chatops-teams-app-id-input"
              autocomplete="off"
              type="text"
              name="chatops[msteams_app_id]">
        <sub class="chatops-sub-note">Required ID generated in resource creation step</sub> 
      </div>
      <br><br>
      <div id="chatops-teams-app-password">
        <label class="label-heading">
          Microsoft client secret
        </label>
        <input type="password"
          autocomplete="off"
          id="chatops-teams-app-password-input"
          name="chatops[msteams_app_password]">
        <sub class="chatops-sub-note">Required password generated in resource creation step</sub>  
      </div>
      <br><br>
      <label class="label-heading">
        Public Endpoint URL
      </label>
      <input id="chatops-msteams-public-endpoint-input"
          autocomplete="off"
          type="text"
          name="chatops[msteams_public_endpoint]">
      <sub class="chatops-sub-note">Optional. Public endpoint URL to be configured with Microsoft Teams.</sub>
    </ol>
    </p>
    <br>
    <br>
    <button class="btn js-save-teams-settings" value="/setup/settings/chatops/msteams/update" popover="#save-client-settings">
      Save client settings
    </button>
  </div>
  <div id="chatops-msteams-app-section" class="chatops-box-section" <%=("style='display: none;'" unless view.msteams_enabled?)%>>
    <label class="label-heading">
        Microsoft Client ID
      <br><label id="chatops_msteams_app_id"><%=(view.msteams_app_id)%></label>
    </label>    
    <hr>
    <div class="chatops-msteams-control-section">
      <div>
        <% unless view.msteams_enabled? %>
          <button class="btn js-chatops-msteams-cancel" value="">
            Back
          </button>
        <% end %>
        <button class="btn js-chatops-gen-manifest" value="/setup/settings/chatops/msteams/manifest">
          <span class="octicon octicon-file-zip"></span> Generate Manifest
        </button>
      </div>
      <a style="align-self: center;" href="#" target="_blank" rel="noopener noreferrer"><u>Where do I upload this file?</u></a>
    </div>
    <% if view.msteams_enabled? %>
      <br>
      <div class="chatops-config-confirm-section">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path fill-rule="evenodd" d="M8 16A8 8 0 108 0a8 8 0 000 16zm3.78-9.72a.75.75 0 00-1.06-1.06L6.75 9.19 5.28 7.72a.75.75 0 00-1.06 1.06l2 2a.75.75 0 001.06 0l4.5-4.5z" style="fill: rgb(29,155,29); vertical-align: bottom;"></path></svg>
          <label>Chat integration is now available to be installed.</label>
      </div>
    <% end%>
  </div>
</div>