<div class="d-flex p-3">
  <div class="mr-3">
    <%= render Sponsors::Sponsorables::LinkedAvatarComponent.new(
      sponsors_listing: sponsors_listing,
      target: "_top",
      avatar_size: 48,
    ) %>
  </div>

  <div class="d-sm-flex flex-auto">
    <div class="flex-sm-auto mr-sm-3">
      <div class="h3 mb-2">
        Sponsor <%= sponsorable.safe_profile_name %> on GitHub Sponsors
      </div>

      <div class="mb-2">
        <%= sponsors_listing.featured_description %>
      </div>
    </div>

    <div>
      <%= render(Primer::Beta::Button.new(
        tag: :a,
        block: true,
        href: sponsorable_path(
          sponsorable,
          **Sponsors::TrackingParameters.new(
            origin: Sponsors::TrackingParameters::EMBEDDED_SPONSOR_CARD_ORIGIN,
          ).to_h
        ),
        "aria-label": "Sponsor @#{sponsorable}",
        target: "_top",
      )) do |button| %>
        <% button.with_leading_visual_icon(icon: :heart, color: :sponsors) %>
        Sponsor
      <% end %>
    </div>
  </div>
</div>
