<%= render(Primer::Beta::NavList.new) do |list| %>
  <% list.with_heading(title: "Filter", classes: "sr-only") %>
  <% list.with_group do |group| %>
    <% group.with_heading(title: "Types", font_family: :mono) %>
    <% view.tool_type_options.each do |type| %>
      <% copilot_app = type == "copilot_apps" %>
      <% next if copilot_app && !user_feature_enabled?(:marketplace_copilot_apps_filter) %>
      <% selected_tool_copilot_app = (type == view.selected_tool_type || (view.selected_copilot_app? && type == "copilot_apps")) %>
      <% group.with_item(
        label: type.titlecase,
        href: selected_tool_copilot_app ? view.prefilled_search_path(type: nil, copilot_app: nil) : view.prefilled_search_path(copilot_app: copilot_app, type: type),
        aria: { current: selected_tool_copilot_app },
        classes: selected_tool_copilot_app ? "ActionListItem--navActive" : ""
      ) do |item| %>
        <% if selected_tool_copilot_app %>
          <% item.with_trailing_visual_icon(icon: :x, aria: { label: "Remove type filter" })%>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <% list.with_group do |group| %>
    <% group.with_heading(title: "Categories", font_family: :mono) %>
    <% view.navigation_categories.each do |category| %>
      <% group.with_item(
        label: category.name,
        href: category.slug == view.selected_category_slug ? view.prefilled_search_path(category: nil) : view.category_or_prefilled_search_path(slug: category.slug),
        aria: { current: category.slug == view.selected_category_slug },
        classes: category.slug == view.selected_category_slug ? "ActionListItem--navActive" : ""
      ) do |item| %>
        <% if category.slug == view.selected_category_slug %>
          <% item.with_trailing_visual_icon(icon: :x, aria: { label: "Remove category filter" })%>
        <% end %>
      <% end %>
      <% if category.has_slug_or_children_has_slug?(view.selected_category_slug) %>
        <ul>
          <% category.sub_categories.each do |subcategory| %>
            <% list.with_item(
              href: subcategory.has_slug?(view.selected_category_slug) ? view.category_or_prefilled_search_path(slug: category.slug) : view.category_or_prefilled_search_path(slug: subcategory.slug),
              aria: { current: subcategory.has_slug?(view.selected_category_slug) },
              classes: subcategory.has_slug?(view.selected_category_slug) ? "ActionListItem--navActive" : "",
              sub_item: true
            ) do |item| %>
              <span class="ml-3"><%= subcategory.name %></span>
              <% if subcategory.has_slug?(view.selected_category_slug) %>
                <% item.with_trailing_visual_icon(icon: :x, aria: { label: "Remove category filter" })%>
              <% end %>
            <% end %>
          <% end %>
        </ul>
      <% end %>
    <% end %>
  <% end %>

  <% list.with_group do |group| %>
    <% group.with_heading(title: "Filter", font_family: :mono) %>
    <% view.filter_categories.each do |category| %>
      <% group.with_item(
        label: category.name,
        href: marketplace_category_path(category.slug),
        aria: { current: category.slug == view.selected_category_slug ? "page" : false },
        classes: category.slug == view.selected_category_slug ? "ActionListItem--navActive" : ""
      ) %>
    <% end %>
  <% end %>

  <% list.with_group do |group| %>
    <% group.with_heading(title: "Verification", font_family: :mono) %>
    <% view.verification_state_options.each do |state| %>
      <% group.with_item(
        label: state.titlecase,
        href: state == view.selected_verification_state ? view.prefilled_search_path(verification: nil) : view.prefilled_search_path(verification: state),
        aria: { current: state == view.selected_verification_state },
        classes: state == view.selected_verification_state ? "ActionListItem--navActive" : ""
      ) do |item| %>
        <% if state == view.selected_verification_state  %>
          <% item.with_trailing_visual_icon(icon: :x, aria: { label: "Remove verification filter" })%>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <% if view.show_user_items? %>
    <% list.with_group do |group| %>
      <% group.with_heading(title: "Your items", font_family: :mono) %>
      <% if view.viewer_has_pending_orders? %>
        <% group.with_item(
          label: "Pending orders",
          href: marketplace_pending_orders_path,
          aria: { current: view.viewing_pending_orders? ? "page" : false  },
          classes: view.viewing_pending_orders? ? "ActionListItem--navActive" : ""
        ) %>
      <% end %>
      <% if view.viewer_has_pending_installations? %>
        <% group.with_item(
          label: "Pending installations",
          href: marketplace_pending_installations_path,
          aria: { current: view.viewing_pending_installations? ? "page" : false },
          classes: view.viewing_pending_installations? ? "ActionListItem--navActive" : ""
        ) %>
      <% end %>
      <% if view.viewer_has_purchases? %>
        <% group.with_item(
          label: "Purchases",
          href: settings_user_billing_path
        ) %>
      <% end %>
      <% if view.viewer_has_listings? %>
        <% group.with_item(
          label: "Listings",
          href: manage_marketplace_listings_path
        ) %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
