<% if search_results.any? %>
    <div class="d-md-flex flex-wrap mb-4">
        <% search_results.results.each_with_index do |result, result_index| %>
            <%= render partial: "marketplace/searches/show_results_updated", locals: { result: result, result_index: result_index, search_query: search_query, results_per_page: results_per_section_page, database_id: result.id.to_i, resource_path: result.resource_path } %>
        <% end %>
    </div>
    <% if search_results.total > results_per_section_page %>
        <%= link_to marketplace_search_path(params), class: "f4 d-block mb-6", 'aria-label': "View all #{params[:type]} listings" do %>
            View all<%= primer_octicon(:"chevron-right", ml: 2) %>
        <% end %>
    <% end %>
<% else %>
    <%= render Primer::Beta::Blankslate.new(mb: 5) do |c| %>
      <% c.with_visual_icon(icon: "circle-slash") %>

      <% c.with_heading(tag: :h2) do %>
        No data found
      <% end %>
    <% end %>
<% end %>
