<div class="d-md-none">
  <%= render(Primer::Alpha::Dialog.new(id: "marketplace-menu", title: "Filters", style: "width:100%", classes: "Overlay--size-auto")) do |d| %>
    <% d.with_show_button(w: :full ) { "Menu" } %>
    <% d.with_body do %>
      <%= render partial: "marketplace/filter_nav", locals: { view: view } %>
    <% end %>
  <% end %>
</div>

<div class="d-none d-md-block">
  <%= render partial: "marketplace/filter_nav", locals: { view: view} %>
</div>
