<div class="container-lg p-responsive mt-4">
  <div class="color-shadow-extra-large rounded-2 color-bg-default d-md-flex flex-items-center p-6 mb-6 position-relative border">
    <div class="d-md-flex text-center text-md-left pr-md-6 col-md-6">
      <div class="mb-3 mb-md-0"><img src="<%= image_path "modules/marketplace/icon-marketplace.svg" %>" alt=""></div>
      <h2 class="h2 mb-3 mb-md-0 ml-md-4 text-normal lh-condensed">List your tool on GitHub&nbsp;Marketplace</h2>
    </div>
    <div class="d-md-flex clearfix text-center text-md-left pl-md-6">
      <div class="col-sm-6 pr-sm-3 mb-3 mb-sm-0 float-sm-left">
        <h3 class="h4 lh-condensed d-block mb-1">
          <a href="<%= GitHub.developer_help_url %>/marketplace" aria-describedby="documentation-link-description">
            Read the documentation
          </a>
        </h3>
        <p id="documentation-link-description" class="color-fg-muted text-small">Learn how you can build tools to extend and improve developers' workflows.</p>
      </div>
      <div class="col-sm-6 pl-sm-3 float-sm-left">
        <h3 class="h4 lh-condensed d-block mb-1">
          <a href="<%= new_marketplace_listing_path %>" aria-describedby="tool-submission-link-description">
            Submit your tool for review
          </a>
        </h3>
        <p id="tool-submission-link-description" class="color-fg-muted text-small">Share your app or GitHub Action with millions of developers.</p>
      </div>
    </div>
  </div>
</div>
