<% page_info(
    title: "Dependencies · #{this_organization.safe_profile_name}",
    breadcrumb: "Dependencies",
    breadcrumb_owner: this_organization,
    selected_link: :org_sponsoring_dependencies,
    stafftools: billing_stafftools_user_path(this_organization)
  )
%>

<div class="p-md-3 width-full">
  <%= render_react_partial(
    name: "sponsor-org-dependencies",
    props: react_partial_props,
    ssr: true,
  ) %>
</div>


