<div class="site-admin-unboxed">
  <div class="site-admin-subhead">
    <h2 class="site-admin-subhead-heading">
      Notifications
    </h2>
  </div>

  <p>
    <strong>Splunk query:</strong>
  </p>

  <p><code><%= view.notification_delivery_splunk_query %></code></p>

  <table class="site-admin-table">
    <thead>
      <th>
        Handler
      </th>
      <th></th>
    </thead>
    <% [nil, :email, :web, :mobile_push].each do |handler| %>
      <tr>
        <% text = handler ? handler.to_s.humanize : "all" %>
        <td><%= text.capitalize %></td>
        <td>
          <a href="<%= splunk_search_url(view.notification_delivery_splunk_query(handler)) %>">
            <span>Splunk </span>
            <span>&quot;<%= text %>&quot;</span>
            <span> query</span>
          </a>
        </td>
      </tr>
    <% end %>
  </table>
</div>
