<% view = Stafftools::RepositoryViews::DeployKeyView.new(repository: current_repository) %>

<% page_info :title => view.page_title %>

<%= render Primer::Beta::Subhead.new(hide_border: true) do |subhead| %>
  <% subhead.with_heading(tag: :h3) { "Deploy keys" } %>
<% end %>

<%= render(Primer::Beta::BorderBox.new(mb: 6)) do |box| %>
  <% if view.deploy_keys? %>
    <% view.deploy_keys.each do |key| %>
      <% box.with_row do %>
        <%= render partial: "stafftools/key", locals: { key: key } %>
      <% end %>
    <% end %>
  <% else %>
    <% box.with_body do %>
      <p>This repository has no deploy keys.</p>
    <% end %>
  <% end %>
<% end %>
