.table {
  display: grid; /* Override HTML table semantics for smaller viewports */
  margin: var(--base-size-4);
  /* stylelint-disable-next-line primer/borders */
  border-collapse: separate;
  border: var(--borderWidth-thin) solid var(--borderColor-default, var(--color-border-default));
  border-radius: var(--borderRadius-medium);

  @media screen and (min-width: 768px) {
    display: table;
  }
}

.thead {
  display: none; /* Remove column announcements on smaller viewports since it won't act like a table */

  @media screen and (min-width: 768px) {
    display: table-header-group; /* `thead` row is still visually hidden via the `.sr-only` class */
  }
}

.tbody {
  display: block;

  @media screen and (min-width: 768px) {
    display: table-row-group;
  }
}

/* stylelint-disable-next-line selector-max-type */
.tbody tr {
  display: grid;

  /* stylelint-disable-next-line selector-max-type */
  th, td {
    display: block;
    padding: var(--base-size-12);

    @media screen and (min-width: 768px) {
      display: table-cell;
    }
  }

  /* stylelint-disable-next-line selector-max-type */
  td {
    border-bottom: var(--borderWidth-thin) solid var(--borderColor-default, var(--color-border-default));
  }

  /* stylelint-disable-next-line selector-max-type */
  &:last-of-type td {
    border-bottom: 0;
  }

  @media screen and (min-width: 768px) {
    display: table-row;
  }
}
