<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<div class="d-flex flex-shrink-0 js-notification-subscription-actions" hidden>
  <span class="ml-3 d-md-inline-block d-none">
    <span data-check-all-count>0</span> selected
  </span>

  <button type="submit" class="ml-3 mt-n1 mb-n1 btn btn-sm" form="threads-unsubscribe-form">
    Unsubscribe
  </button>
</div>
