<%
  subscription_params = params.slice(:sort, :reason, :repository, :experimental).permit(:sort, :reason, :repository, :experimental).to_h
%>

<div class="d-flex flex-wrap flex-items-center flex-shrink-0 gap-1 js-notification-subscription-filters">
  <%= render(Primer::Alpha::ActionMenu.new(select_variant: :single, anchor_align: :end)) do |menu_component| %>
    <% menu_component.with_show_button(scheme: :invisible) do |button| %>
       <% button.with_trailing_action_icon(icon: :"triangle-down")   %>
      Reason
    <% end %>
    <% menu_component.with_item(
      label: "Any reason",
      active: reason.blank?,
      href: notification_subscriptions_path(subscription_params.merge(reason: nil)),
    )  do |item| %>
      <% item.with_description.with_content("Show all subscriptions") %>
    <% end %>
    <% reasons.each do |reason| %>
        <% menu_component.with_item(
          label: reason.value.titleize,
          active: reason == reason.graphql_name,
          href: notification_subscriptions_path(subscription_params.merge(reason: reason.graphql_name.downcase)),
        )  do |item| %>
          <% item.with_description.with_content(reason.description) %>
        <% end %>
    <% end %>
  <% end %>
  <%= render(Primer::Experimental::SelectPanel.new(
    id: "notification-subscriptions-repository-filter",
    title: "Select repository",
    no_results_label: "No matching repositories.",
    preload: true,
    fetch_strategy: :eventually_local,
    src: notification_subscriptions_repository_filter_path(subscription_params: subscription_params),
  )) do |menu| %>
    <% menu.with_show_button(scheme: :invisible) do |button| %>
      <% button.with_trailing_action_icon(icon: :"triangle-down") %>
      Repository
    <% end %>>
  <% end %>
  <%= render(Primer::Alpha::ActionMenu.new(select_variant: :single, anchor_align: :end)) do |menu_component| %>
    <% menu_component.with_show_button(scheme: :invisible) do |button| %>
       <% button.with_trailing_action_icon(icon: :"triangle-down")   %>
      Sort
    <% end %>
    <% labels_by_sort_direction.each do |sort, description| %>
     <% menu_component.with_item(
          label: description,
          active: sort_direction == sort,
          href: notification_subscriptions_path(subscription_params.merge(sort: sort)),
        ) %>
    <% end %>
  <% end %>
</div>
