<%# primer_experimental_selectpanel %>
<% if experimental == "1" %>
  <%= form_with(url: settings_user_codespaces_update_dotfiles_repository_path, method: :put, class: "js-codespaces-update-dotfiles-repo-form") do |f| %>
    <%= render(Primer::Alpha::SelectPanel::ItemList.new(
      menu_id: "settings_user_codespaces_update_dotfiles_repo",
      form_arguments: {
        builder: f,
        name: "repo"
      },
      aria: {
        label: "repositories"
      },
      select_variant: :single
    )) do |list| %>
      <% view.repositories_for_owner.each do |repository| %>
        <% list.with_item(label: repository.name_with_display_owner, content_arguments: { data: { value: repository.id } }, active: view.codespace_dotfiles_repository_selected?(repository)) %>
      <% end %>
    <% end %>
  <% end %>
<% else %>
  <% view.repositories_for_owner.each do |repository| %>
    <%= render Codespaces::RepositoryListItemComponent.new(repository: repository, selected: view.selected?(repository)) %>
  <% end %>
  <% if view.repositories_for_owner.empty? %>
    <div class="p-3 text-center">
      No matching repositories.
    </div>
  <% end %>
<% end %>
