<% view.repositories_for_owner.each do |repository| %>
  <% disabled = view.disabled?(repository) %>
  <% selected = view.selected?(repository) %>
  <%= render Codespaces::RepositoryListItemComponent.new(repository: repository, selected: selected, disabled: disabled) %>
<% end %>
<% if view.repositories_for_owner.empty? %>
  <div class="p-3 text-center">
    No matching repositories.
  </div>
<% end %>
