<editor-forwarder data-codespace-url="<%= codespace_url %>">
   <h4 class="lh-condensed mb-3">Launching Visual Studio Code</h4>
   <p class="color-fg-muted">You should have received a prompt to open Visual Studio Code. If not, ensure it is <a class="Link--inTextBlock" href="https://code.visualstudio.com/download">installed</a>.</p>
</editor-forwarder>
