<% page_info title: "Codespaces Allow Settings Sync", stafftools: stafftools_user_codespaces_path(current_user) %>
<div id="settings-sync-completed" class="pt-4 position-relative container-sm" style="text-align: center">
  <div>
  <h1>VS Code Settings Sync enabled.</h1>
  <h1>You can now close this window.</h1>
  </div>
</div>
