<div class="text-left">
  <div class="text-center my-7">
    <h2 class="h2-mktg col-lg-7 mx-auto">Additional add-ons</h2>
  </div>

  <%= render Site::HstackComponent.new do %>
    <% [ # Additionally pass render: [feature flag] to hide/show cards
      {
        header: "GitHub Copilot",
        text: "Starting at $10/month after a #{Copilot.free_trial_length} day trial.",
        octicon: :copilot,
        url: "/features/copilot#pricing",
        cta: "Compare plans"
      },
      {
        header: "Codespaces",
        text: "Starting at $0.18 per hour of compute and $0.07 per GB of storage.",
        octicon: :codespaces,
        url: "/features/codespaces",
        color: :done,
      },
      {
        header: "Large File Storage",
        text: "$5 per month for 50 GB bandwidth and 50 GB for storage.",
        octicon: :archive,
        color: :attention,
        url: "https://docs.github.com/repositories/working-with-files/managing-large-files/about-git-large-file-storage",
      },
      {
        header: "GitHub Advanced Security",
        text: "$49 per month per active committer.",
        octicon: "shield-lock",
        color: :success,
        badge: "Enterprise Only",
        url: feature_enabled_globally_or_for_current_user?(:site_security_react) ? "/enterprise/advanced-security" : "https://resources.github.com/contact/security",
      }
    ].each do |card| %>
      <%= render Site::CardComponent.new(
        header: card[:header],
        text: card[:text],
        octicon: card[:octicon],
        color: card[:color],
        badge: card[:badge],
        url: card[:url],
        cta: card[:cta],
        analytics: { category: "Pricing add-ons" },
        classes: "col-12 col-md-3 mb-3 mb-md-0"
      ) %>
    <% end %>
  <% end %>
</div>
