<div class="px-lg-3 my-8">
  <div class="pricing-dark-container z-1" <%= mktg_color_theme_attributes %>>
    <div class="position-relative overflow-hidden">
      <div class="position-relative z-1 container-xl p-responsive py-5 py-md-9">
        <%= render Site::FaqComponent.new(
          headline_size: :large,
          headline_classes: "text-gradient-mint-blue pb-1",
          groups: [
            {
            title: "Subscriptions & Payments",
            items: [
              {
                question: "What are the differences between GitHub Free, GitHub Pro, GitHub Team, and GitHub Enterprise plans?",
                answer: "[GitHub Free](https://docs.github.com/get-started/learning-about-github/githubs-products) is our basic plan created for individuals and small teams to collaborate on private and public repositories.
[GitHub Pro](https://docs.github.com/get-started/learning-about-github/githubs-products#github-pro) offers additional usage limits and functionality for advanced collaboration in individual user accounts.
[GitHub Team](https://docs.github.com/get-started/learning-about-github/githubs-products#github-team) offers additional functionality for advanced collaboration across repositories for growing teams.
[GitHub Enterprise](https://docs.github.com/get-started/learning-about-github/githubs-products#github-enterprise) adds additional security for accessing your organization and the option to purchase [GitHub Advanced Security](https://docs.github.com/get-started/learning-about-github/about-github-advanced-security). To learn more about types of GitHub accounts, please click [here](https://docs.github.com/get-started/learning-about-github/types-of-github-accounts)."
              },
              {
                question: "How do I view and manage my subscription?",
                answer: "You can view your account's subscription, your other paid features and products, and your next billing date in your account's billing settings. Click [here](https://docs.github.com/billing/managing-your-github-billing-settings/viewing-your-subscriptions-and-billing-date) to learn more."
              },
              {
                question: "How can I change my GitHub subscription?",
                answer: "You can [upgrade](https://docs.github.com/billing/managing-billing-for-your-github-account/upgrading-your-github-subscription) or [downgrade](https://docs.github.com/billing/managing-billing-for-your-github-account/downgrading-your-github-subscription#downgrading-your-github-subscription) your subscription, [add](https://docs.github.com/billing/managing-billing-for-your-github-account/upgrading-your-github-subscription#adding-seats-to-your-organization) and [remove](https://docs.github.com/billing/managing-billing-for-your-github-account/downgrading-your-github-subscription#removing-paid-seats-from-your-organization) seats, or change the [billing cadence](https://docs.github.com/billing/managing-your-github-billing-settings/changing-the-duration-of-your-billing-cycle) on https://github.com/settings/billing."
              },
              {
                question: "What payment methods are accepted?",
                answer: feature_enabled_globally_or_for_current_user?(:site_metered_billing_update) ? "You can pay for GitHub Pro, Team, and Enterprise with a credit card, debit card, or with a PayPal account. We also support invoice payments and payment via an Azure Subscription ID for the Enterprise plan." : "You can pay for GitHub Pro, Team, and Enterprise with a credit card, debit card, or with a PayPal account. We also support invoice payments for the Enterprise plan."
              },
              {
              question: "What happens if payment fails?",
                answer: "After an initial failed payment, we apply a 14 day grace period on your account and attempt to process a payment each week. After three failed payments, paid features are [locked](https://docs.github.com/billing/managing-your-github-billing-settings/unlocking-a-locked-account)."
               },
              {
                question: "How can I unlock my account after several failed transactions?",
                answer: "You can unlock the paid features on your account and trigger a new payment attempt by updating the payment method on your account. To learn more about how to manage your payments go [here](https://docs.github.com/billing/managing-your-github-billing-settings/adding-or-editing-a-payment-method)."
              },
              {
                question: "How can I get subscription payment receipts?",
                answer: "You can access your payment history in the billing settings. Click [here](https://docs.github.com/billing/managing-your-github-billing-settings/viewing-your-payment-history-and-receipts) to learn more."
              },
              {
                question: "How do I add extra information to my payment receipts like business name, address and/or VAT ID?",
                answer: "If your company, country, or accountant requires your receipts to provide more detail, you can add extra information by following [these](https://docs.github.com/billing/managing-your-github-billing-settings/adding-information-to-your-receipts) steps."
              },
            ]
            },
            {
              title: "Actions & Packages",
              items: [
                {
                  question: "Which plans include access to GitHub Actions and Packages?",
                  answer: "GitHub Actions and Packages are free for public repositories and packages on all our current per-user plans, while private repositories and packages receive a set amount of free minutes, storage, and data transfer depending on the [per-user](https://docs.github.com/billing/managing-billing-for-your-github-account/about-per-user-pricing) plan. Legacy per-repository plans (Bronze, Silver, Gold etc) do not come with access to GitHub Actions and Packages but they can be [upgraded](https://docs.github.com/billing/managing-billing-for-your-github-account/upgrading-your-github-subscription#switching-your-organization-from-per-repository-to-per-user-pricing) to a current per-user plan.
Learn more about billing for Actions [here](https://docs.github.com/billing/managing-billing-for-github-actions/about-billing-for-github-actions). Learn more about billing for Packages [here](https://docs.github.com/billing/managing-billing-for-github-packages/about-billing-for-github-packages)."
                },
                {
                  question: "How do I manage my spending for Actions and Packages?",
                  answer: "You can manage your spending for Actions and Packages in your billing settings page under the payment information tab. To learn more, click [here](https://docs.github.com/billing/managing-billing-for-github-actions/managing-your-spending-limit-for-github-actions)."
                },
                {
                  question: "How do I estimate my spending limits?",
                  answer: "To make estimations for your project, please visit our pricing calculator [page](https://github.com/pricing/calculator)."
                },
                {
                  question: "How do I view how much GitHub Actions & Packages I’ve used?",
                  answer: "You can download a usage report by following [this](https://docs.github.com/billing/managing-billing-for-github-actions/viewing-your-github-actions-usage) guide."
                },
                {
                  question: "How do I clear GitHub Actions & Packages shared storage?",
                  answer: "You can use [this](https://docs.github.com/rest/actions#list-artifacts-for-a-repository) API to list the artifacts in the repository. You can then simply delete artifacts by referencing [this](https://docs.github.com/rest/actions#delete-an-artifact) guide. You can also set a custom retention period to something other than the default 90 days, by referencing [this](https://docs.github.com/actions/using-workflows/storing-workflow-data-as-artifacts#configuring-a-custom-artifact-retention-period) guide."
                },
                {
                  question: "How long do I have to wait for changes to my shared storage to be reflected?",
                  answer: "Storage usage data synchronizes every hour. To learn more go [here](https://docs.github.com/billing/managing-billing-for-github-actions/viewing-your-github-actions-usage)."
                },
                {
                  question: "How do I add Git LFS data packs?",
                  answer: "To add [Git Large File Storage](https://docs.github.com/repositories/working-with-files/managing-large-files/about-large-files-on-github) data packs please follow [this](https://docs.github.com/billing/managing-billing-for-git-large-file-storage/upgrading-git-large-file-storage) guide."
                },
                {
                  question: "Is the Packages Storage amount how much usage I have for repository storage?",
                  answer: "The Packages Storage amount indicated on each plan is specifically for [GitHub Packages](https://docs.github.com/packages) usage. As for regular repository storage, we recommend repositories be kept under 1GB each. Although repositories have a hard size limit of 100GB. See [this](https://docs.github.com/repositories/working-with-files/managing-large-files/about-large-files-on-github#repository-size-limits) article to learn more.
Repository storage limit is the same regardless of which GitHub plan you choose. However, using Git LFS, the maximum file size you can store varies depending on the plan you choose. To learn more go [here](https://docs.github.com/repositories/working-with-files/managing-large-files/about-git-large-file-storage)"
                },
              ]
            },
            {
              title: "Codespaces",
              items: [
                {
                  question: "How do I enable Codespaces on my account?",
                  answer: "Codespaces can only be enabled for organizations using GitHub Team or GitHub Enterprise Cloud. To learn more please go [here](https://docs.github.com/codespaces/managing-codespaces-for-your-organization/enabling-github-codespaces-for-your-organization)."
                },
                {
                  question: "How do I view how much GitHub Codespaces I have used?",
                  answer: "You can view your Codespaces usage in the billing settings. Click [here](https://docs.github.com/billing/managing-billing-for-github-codespaces/viewing-your-github-codespaces-usage) to learn more."
                },
                {
                  question: "How do I manage my spending for Codespaces?",
                  answer: "Organization owners and billing managers can manage the spending limit for Codespaces in the billing settings. You can learn more about managing the spending limit [here](https://docs.github.com/billing/managing-billing-for-github-codespaces/managing-the-spending-limit-for-github-codespaces)."
                },
                {
                  question: "How do I estimate the cost for the project?",
                  answer: "To make estimations for your project please visit the pricing calculator [page](https://github.com/pricing/calculator)."
                },
              ]
            },
            {
              title: "Copilot",
              items: [
                {
                  question: "What is the pricing for GitHub Copilot?",
                  answer: "GitHub Copilot for Individuals cost $10 USD/month or $100 USD/year per seat. GitHub Copilot Business cost $19 per seat, per month. [See pricing details](/features/copilot#pricing)",
                },
                {
                  question: "I work on open source projects, can I get access to GitHub Copilot for free?",
                  answer: "People who maintain popular open source projects receive a credit to have 12 months of GitHub Copilot access for free. A maintainer of a popular open source project is defined as someone who has write or admin access to one or more of the most popular open source projects on GitHub. Simply visit the GitHub Copilot subscription page to see if you are one of the open source maintainers that meet our criteria for a complimentary subscription. If you do, you should see that you can add GitHub Copilot for no charge. If you see a charge on the purchase page then this means that you do not qualify at this time. Once awarded, if you are still a maintainer of a popular open source project when your initial 12 months subscription expires then you will be able to renew your subscription for free."
                },
                {
                  question: "I am a student, can I get access to GitHub Copilot for free?",
                  answer: "Yes, if you are a student within our GitHub Global Campus Program, you get access to GitHub Copilot for free through the Student Developer Pack. If you are a GitHub Global Campus Student then you will see that GitHub Copilot is offered to you for no charge when you visit the GitHub Copilot subscription page. If you see a charge then you do not meet the criteria as a verified student at this time. Learn more about how to [apply for the GitHub Student Developer Pack](https://docs.github.com/education/explore-the-benefits-of-teaching-and-learning-with-github-education/github-global-campus-for-students/apply-to-github-global-campus-as-a-student)"
                },
                {
                  question: "I am a teacher, can I get access to GitHub Copilot for free?",
                  answer: "Yes, if you are a teacher within our GitHub Global Campus Program, you get access to GitHub Copilot. It is offered to you for no charge when you visit the GitHub Copilot subscription page. If you see a charge then you do not meet the criteria as a verified teacher at this time. Learn more about how to [apply for GitHub Global Campus teacher benefits](https://docs.github.com/education/explore-the-benefits-of-teaching-and-learning-with-github-education/github-global-campus-for-teachers/apply-to-github-global-campus-as-a-teacher)"
                },
                {
                  question: "I am a verified student or teacher, what happens if I already subscribed to Copilot?",
                  answer: "If you already subscribed to Copilot or signed up for the free trial, but you are interested in accessing your free Teacher subscription and you have already been verified within our GitHub Global Campus Program, you will need to cancel that subscription/trial before you can subscribe to Copilot for free. [Click through for instructions on how you can cancel your current Copilot subscription](https://docs.github.com/billing/managing-billing-for-github-copilot/managing-your-github-copilot-for-individuals-subscription#canceling-your-github-copilot-subscription). Once you have successfully cancelled your current subscription you can [contact Support](#{GitHub.support_url}/request) to request further instructions."
                },
                {
                  question: "What GitHub account types does GitHub Copilot work with?",
                  answer: "GitHub Copilot for Individuals is available for individual user accounts. GitHub Copilot Business is also available for Free, Team, and Enterprise Cloud accounts.",
                },
                {
                  question: "What IDEs and editors does GitHub Copilot currently support?",
                  answer: "GitHub Copilot is currently available as an extension for Neovim, JetBrains IDEs, Visual Studio, and Visual Studio Code. You can use the GitHub Copilot extension on your desktop or in the cloud on GitHub Codespaces. GitHub Copilot is licensed to individual users. Your employer or organizations you work with may have policies regarding your use of GitHub Copilot."
                },
                {
                  question: "How do I buy Copilot Business?",
                  answer: "New and existing GitHub customers can [purchase Copilot Business directly](https://github.com/github-copilot/business_signup) with a credit card. If you would like to inquire about invoicing, you can [contact sales here.](https://github.com/enterprise/contact?scid=&utm_campaign=2023q2-site-ww-CopilotForBusiness&utm_medium=referral&utm_source=github)",
                },
                {
                  question: "What happens if I have an individual subscription for GitHub Copilot and my company assigns me Copilot Business?",
                  answer: "Your individual license will be migrated to Copilot Business. You will be refunded the unused portion of your individual subscription.",
                },
              ]
            },
            {
              title: "GitHub Advanced Security",
              items: [
                {
                  question: "How can I learn more about GitHub Advanced Security?",
                  answer: "GitHub Advanced Security is only available on the GitHub Enterprise plan (Cloud and Server) as a separately paid add-on. You can learn more about GitHub Advanced Security on [our web page](https://github.com/features/security). To request a product demo please submit this [form](https://github.com/enterprise/contact)."
                },
                {
                  question: "How long is the trial period?",
                  answer: "[GitHub Advanced Security](https://docs.github.com/get-started/learning-about-github/about-github-advanced-security#about-advanced-security-features) trial is 30-days. During the trial duration you can use all GitHub Advanced Security features across all organizations attached to your Enterprise Account."
                },
                {
                  question: "How much does GitHub Advanced Security cost?",
                  answer: "GitHub Advanced Security is $49 [per committer](https://docs.github.com/enterprise-server/billing/managing-billing-for-github-advanced-security/viewing-committer-information-for-github-advanced-security) per month, to learn more visit the GitHub [Pricing Page](https://github.com/pricing).  If you have technical or support related questions regarding GitHub Advanced Security, please visit our community [discussion](https://github.com/orgs/community/discussions/57808) page.  For questions related to contracts, please contact GitHub [sales](https://resources.github.com/contact/security/#form) team."
                },
                {
                  question: "Which subscription plans are eligible for a GitHub Advanced Security trial?",
                  answer: "The [GitHub Advanced Security trial](https://docs.github.com/enterprise-cloud@latest/billing/managing-billing-for-github-advanced-security/setting-up-a-trial-of-github-advanced-security) is only available for GitHub Enterprise Cloud customers with an Enterprise Account. If you are on GitHub Enterprise Account you can activate the trial under the license tab in your Enterprise Settings.
If you don’t have an Enterprise Account please following these steps:
- Navigate to [Pricing Page](https://github.com/pricing) and/or direct to trial sign-up.
- Complete the trial sign-up page.
- Immediately convert the trial with necessary seats required to support the organization.
- Invite the organization into the enterprise account.
To learn more about how to create GitHub Enterprise Cloud Enterprise Account go [here](https://docs.github.com/enterprise-cloud@latest/admin/overview/creating-an-enterprise-account). "
                },
                {
                  question: "What’s included in the GitHub Advanced Security trial?",
                  answer: "A GitHub Advanced Security trial provides the following features:
 - [Code scanning](https://docs.github.com/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/about-code-scanning) to help find and remediate security issues in your code.
 - [Secret scanning](https://docs.github.com/code-security/secret-scanning/about-secret-scanning) to prevent and detect secret exposures across your organization.
 - [Dependency review](https://docs.github.com/code-security/supply-chain-security/understanding-your-software-supply-chain/about-dependency-review) to catch vulnerable dependencies before you introduce them to your environment.
Explore our [documentation](https://docs.github.com/enterprise-cloud@latest/get-started/learning-about-github/about-github-advanced-security) to learn more about GitHub Advanced Security features and how to deploy them in your organization.
                  "
                },
                {
                  question: "Which programming languages are supported?",
                  answer: "Learn more about GitHub code scanning supported languages [here](https://docs.github.com/get-started/learning-about-github/github-language-support#about-supported-languages)."
                },
                {
                  question: "What is a GitHub Advanced Security active committer?",
                  answer: "Active committers is the number of committers who contributed to at least one private repository in an organization and who use a license in your enterprise. Learn more about GitHub Advanced Security active committers [here](https://docs.github.com/enterprise-cloud@latest/billing/managing-billing-for-github-advanced-security/about-billing-for-github-advanced-security#about-committer-numbers-for-github-advanced-security)"
                }
              ]
            },
            {
              title: "GitHub Enterprise Cloud Trial",
              items: [
                {
                  question: "What's included in the trial?",
                  answer: "You can try GitHub Enterprise for free for 30 days. If you are a new GitHub customer, your trial includes 50 seats. If you need more seats to evaluate GitHub Enterprise Cloud, contact [GitHub's Sales team](https://github.com/enterprise/contact). Learn more and [set up your trial experience](https://docs.github.com/get-started/signing-up-for-github/setting-up-a-trial-of-github-enterprise-cloud)."
                },
                {
                  question: "Can I skip the trial and start with the paid version of GitHub Enterprise?",
                  answer: "Yes, you can sign up directly for a paid GitHub Enterprise plan by going to the billing settings in your account. Read more about [how we bill for enterprise](https://docs.github.com/enterprise-cloud@latest/billing/managing-billing-for-your-github-account/about-billing-for-your-enterprise)."
                },
                {
                  question: "How do I add members to the trial organization?",
                  answer: "If you are a new GitHub customer, your trial includes 50 seats. If you are an existing GitHub Team customer, your trial is valid for your existing number of seats. If you need more seats to evaluate GitHub Enterprise Cloud, contact [Sales](https://github.com/enterprise/contact)."
                },
                {
                  question: "How do I add collaborators to the repositories in the organization with the trial?",
                  answer: "Anyone with admin access can add outside collaborators to the repository via settings. Step-by-step instructions on adding collaborators to repositories can be found [here](https://docs.github.com/repositories/managing-your-repositorys-settings-and-features/managing-repository-settings/managing-teams-and-people-with-access-to-your-repository#inviting-a-team-or-person)."
                },
                {
                  question: "What happens when the trial ends?",
                  answer: "If you are a new user your account will be downgraded to a free plan. If you use an existing organization, your plan will be downgraded to the plan you were using before the trial. To purchase GitHub Enterprise or downgrade from within your account, [follow along here](https://docs.github.com/get-started/signing-up-for-github/setting-up-a-trial-of-github-enterprise-cloud#ending-your-trial)."
                },
                {
                  question: "How do I pay for GitHub Enterprise?",
                  answer: feature_enabled_globally_or_for_current_user?(:site_metered_billing_update) ? "You can pay for GitHub Enterprise with a credit card, PayPal, Azure Subscription ID or request an invoice through the [GitHub Sales team](https://github.com/enterprise/contact). Learn more about [enterprise billing](https://docs.github.com/enterprise-server@latest/billing/managing-billing-for-your-github-account/about-billing-for-your-enterprise)." : "You can pay for GitHub Enterprise with a credit card, PayPal, or request an invoice through the [GitHub Sales team](https://github.com/enterprise/contact). Learn more about [enterprise billing](https://docs.github.com/enterprise-server@latest/billing/managing-billing-for-your-github-account/about-billing-for-your-enterprise)."
                }
              ]
            },
            {
              title: "General",
              items: [
                {
                  question: "How does GitHub compare to its main competitors?",
                  answer: "There are dozens of alternative DevOps tools from best-in-breed point solutions to full platforms. So how does GitHub compare? There are plenty of analyst reports that answer that question—but here's an overview to help you get started. Learn more about how [GitHub compares](https://resources.github.com/devops/tools/compare/)."
                }
              ]
            }
          ]
        ) %>
      </div>
    </div>
  </div>
</div>
