<div class="mt-4 color-bg-subtle fade-img-to-white-bg" style="background-image: url('<%= image_path "modules/site/patterns/contribution-graph.png" %>');">
  <h2 class="h3-mktg text-center mb-4">Get started</h2>

  <div class="container-xl py-4 px-2">
    <%= render partial: "site/pricing/cards", locals: { context: "pricing", show_features: false, monthly_only: true } %>
  </div>
</div>
