<div class="select-menu-list" data-filterable-for="owner-filter-field" data-filterable-type="substring">

  <% unless owner.id %>
    <%=
      render Repositories::New::OwnerMenuOptionComponent.new(
        owner_option: owner,
        default_selected_option: owner
      )
    %>
  <% end %>

  <%=
    render Repositories::New::OwnerMenuOptionComponent.new(
      owner_option: current_user,
      default_selected_option: owner,
      custom_disabled_message: custom_disabled_message,
      marketplace_listings: installable_marketplace_apps[current_user]
    )
  %>

  <% cap_filter.authorized(organizations_info.keys).resources.each do |organization| %>
    <% unless organization.has_sdn_new_org_with_free_plan_restriction? %>
      <% info = organizations_info[organization] %>
      <%=
        render Repositories::New::OwnerMenuOptionComponent.new(
          owner_option: organization,
          default_selected_option: owner,
          access: info[:access],
          allow_internal_repos: info[:allow_internal_repos],
          allow_private_repos: info[:allow_private_repos],
          allow_public_repos: info[:allow_public_repos],
          custom_disabled_message: info[:custom_disabled_message],
          marketplace_listings: installable_marketplace_apps[organization],
          org_adminable_by_current_user: current_user_owned_organization_ids&.include?(organization.id)
        )
      %>
    <% end %>
  <% end %>
</div>
