<dl class="form-group float-left required mt-1">
  <dt class="form-group-header">
    <label id="repository-owner-label" for="repository-owner">Owner</label>
  </dt>
  <dd class="form-group-body">
    <%= render :partial => 'repositories/new/owner', locals: {
      owner: initially_selected_owner,
      view: view,
    } %>
  </dd>
  <dd class="note error" id="repository-owner-validation">Please select an owner.</dd>
</dl>
