<% component.with_body do %>
  <div class="p-4 text-center">
    <% if params.dig(:filters, :versions) == "deleted" %>
      <strong>No recoverable package versions were found for <%= package.name %>.</strong>
    <% else %>
      <strong>No <%= version_type_filter %> versions were found for this package.</strong>
    <% end %>
  </div>
<% end %>
