<div class="container-xl mx-auto my-8 my-lg-10 p-responsive">
  <h2 class="h3-mktg mx-auto col-10-max text-center">Issues, where you need them</h2>
  <p class="f3-mktg text-center mt-2 col-6-max mx-auto color-fg-muted">Issues can be viewed, created, and managed in your browser, your favorite terminal, or on your phone or&nbsp;tablet.</p>

  <div class="d-lg-flex mt-6 mt-md-9">
    <div class="d-flex flex-column col-lg-6 mb-6 mb-md-9 mb-lg-0 mr-lg-4">
      <span class="sr-only">Use the command line interface to check the issues assigned to you, mentioning you, and opened by you in your current repo.</span>

      <%= render Site::TerminalComponent.new(
        classes: "f6-mktg box-shadow-default-border-mktg",
        window_controls: true,
        directory: "Projects/my-project",
        rows: [
          '<var># Viewing issues relevant to you</var>',
          '$ gh issue status',
          '&nbsp;',
          '<strong>Issues assigned to you</strong>',
          '&nbsp;&nbsp;<strong><em>#42</em></strong> Updates to game background <var>(epic:fork, meta)</var>',
          '&nbsp;',
          '<strong>Issues mentioning you</strong>',
          '&nbsp;&nbsp;<strong><em>#94</em></strong> Game logic (alien, cannon, score)',
          '&nbsp;&nbsp;<strong><em>#11</em></strong> Tweak difficulty level based on Alpha feedback',
          '&nbsp;',
          '<strong>Issues opened by you</strong>',
          '&nbsp;&nbsp;<strong><em>#89</em></strong> Integrate with game engine',
          '&nbsp;&nbsp;<strong><em>#56</em></strong> Documentation and support <var>(enhancement)</var>',
          '&nbsp;',
          '$ ',
        ]
      ) %>

      <h3 class="h6-mktg mt-4">GitHub CLI</h3>
      <p class="f3-mktg mt-2 color-fg-muted">View, update, and create issues without ever leaving your&nbsp;terminal.</p>
    </div>
    <div class="d-flex flex-column col-lg-6 ml-lg-4">
      <div class="position-relative overflow-hidden border-bottom flex-1 js-build-in-trigger" data-build-in-stagger="100" style="max-height: 380px;" aria-label="Review code diffs and issue conversations with the GitHub Mobile app." role="img">
        <img
          src="<%= image_path "modules/site/issues/illo/issues-mobile-android.png" %>"
          alt=""
          class="d-block col-8 col-md-7 col-lg-8 col-xl-7 height-auto position-relative position-lg-absolute top-0 left-0 px-4 px-md-6 px-lg-5 mb-n12 mb-lg-0 filter-shadow js-build-in-item build-in-slideY"
          loading="lazy" decoding="async">
        <img
          src="<%= image_path "modules/site/issues/illo/issues-mobile-ios.png" %>"
          alt=""
          class="d-block col-8 col-md-7 col-lg-8 col-xl-7 height-auto position-absolute top-0 right-0 mt-6 px-4 px-md-6 px-lg-5 filter-shadow js-build-in-item build-in-slideY"
          loading="lazy" decoding="async">
      </div>
      <h3 class="h6-mktg mt-4">GitHub Mobile</h3>
      <p class="f3-mktg mt-2 color-fg-muted">Create and manage issues on the go with our native iOS and Android mobile&nbsp;apps.</p>
    </div>
  </div>
</div>
