<div class="position-relative">
  <div class="container-xl p-responsive mb-8 mb-sm-12" id="issues-cta">
    <img src="<%= image_path "modules/site/issues/board-glow.png" %>" alt="" class="position-absolute planning-tracking-cta-glow m-auto top-0 left-0 right-0 bottom-0 events-none" loading="lazy" decoding="async">
    <div class="width-full mx-auto mb-8 px-5 px-md-8 py-6 py-lg-12 text-center color-bg-default rounded-2 position-relative z-1 box-shadow-default-border-mktg">
      <h2 class="h2-mktg mx-auto col-7-max text-center">Flexible project planning for&nbsp;developers</h2>
      <div class="d-sm-flex flex-justify-center mt-6 position-relative">
        <%= render partial: "site/features/issues/cta_buttons" %>
      </div>
    </div>
  </div>
</div>
