<div class="container-xl mx-auto mt-5 p-responsive">
  <div class="text-center d-flex flex-column flex-items-center">
    <h2 class="h3-mktg mx-auto col-10-max">Bored of boards?<br>Switch to tables and roadmaps.</h2>
    <p class="f3-mktg mt-2 col-6-max mx-auto color-fg-muted">Built like a spreadsheet, project tables give you a live workspace to filter, sort, and group issues and pull requests. Tailor them to your needs with custom fields and saved views, then visualize your project with roadmaps.</p>
  </div>
</div>

<div class="position-relative z-2">
  <div class="container-xl mx-auto mb-4 mb-md-7 p-responsive">
    <%= render "site/features/issues/tabbed_views_main" %>
  </div>
</div>
