<%= render Site::RiverComponent.new(
  header: "Create views <br>for how you work",
  text: "Save views for sprints, backlogs, teams, or releases. Rank, group, sort, slice and filter to suit the occasion. Create swimlanes, share templates and set work in progress limits.",
  text_placement: :center,
  cache_version: 2,
) do |c| %>
  <%= render "site/features/issues/tabbed_views" %>

  <div class="mt-n9 mt-md-n12 width-full js-build-in-trigger" data-build-in-stagger="100">
    <div class="col-10 col-md-8 col-lg-7 col-xl-6 mx-auto position-relative mb-4 js-build-in-item build-in-scale-up build-in-animate">
      <%= render Site::ImageComponent.new(
        src: image_path("modules/site/issues/command-palette.png"),
        lazy: false,
        width: 1040,
        height: 528,
        classes: "position-relative width-fit height-auto rounded-2 box-shadow-default-mktg border",
        alt: "",
        sizes: "(max-width: 560px) 90vw, 522px",
        style: "width: 522px; height: 268px;",
      ) %>
    </div>
    <div class="col-12 col-md-8 mx-auto mt-7 d-flex flex-column flex-items-center js-build-in-item build-in-scale-up build-in-animate">
      <h3 class="h4-mktg color-fg-default d-flex flex-row flex-nowrap flex-items-center flex-justify-center">Work at keyboard speed</h3>
      <p class="f3-mktg mt-2 px-md-4 col-6-max mx-auto color-fg-muted">No mouse? No problem. Every action you can take with the mouse has a keyboard shortcut or command. Filter, sort, group, and assign issues. Your hands never leave the keyboard.</p>
    </div>
  </div>
<% end %>
