<%# erblint:counter ButtonComponentMigrationCounter 3 %>

<slide-show data-slide-show-autoplay="2500" class="planning-tracking-slide-show">
  <nav role="tablist" aria-orientation="horizontal" aria-label="Select view" class="mx-auto text-center">
    <button type="button" id="memex-tab-1" aria-selected="true" role="tab" class="js-slide-show-bullet slide-show-bullet btn-link mx-1" aria-controls="memex-slide-1">
      <span class="sr-only">Standup</span>
    </button>
    <button type="button" id="memex-tab-2" role="tab" class="js-slide-show-bullet slide-show-bullet btn-link mx-1" aria-controls="memex-slide-2">
      <span class="sr-only">By area</span>
    </button>
    <button type="button" id="memex-tab-3" role="tab" class="js-slide-show-bullet slide-show-bullet btn-link mx-1" aria-controls="memex-slide-3">
      <span class="sr-only">Roadmap</span>
    </button>
  </nav>

    <div class="js-build-in-item position-relative top-n4 top-lg-n10">
      <img src="<%= image_path "modules/site/issues/board-glow.png" %>" alt="" class="height-auto position-absolute top-n2 top-md-n8 top-lg-n12 mx-auto events-none issues-layout-glow">
    </div>

  <div class="font-base width-full text-left mt-4 position-relative rounded-sm-2" style="background-color: #fff">


    <div class="js-slide-show-swipe-area position-relative">
      <div id="memex-slide-1" role="tabpanel" class="js-slide-show-slide slide-show-slide position-absolute top-0 left-0 width-full" aria-labelledby="memex-tab-1">
        <%= render Site::ImageComponent.new(
          src: image_path("modules/site/issues/illo/memex-view-board.png"),
          lazy: false,
          width: 2280,
          height: 1370,
          classes: "width-full height-auto box-shadow-default-border-mktg rounded-2",
          alt: "Illustration of project board view with swim lanes.",
          sizes: "(max-width: 1024px) 90vw, 1140px",
        ) %>
      </div>

      <div id="memex-slide-2" role="tabpanel" class="js-slide-show-slide slide-show-slide position-absolute top-0 left-0 width-full" aria-labelledby="memex-tab-2" aria-hidden="true">
        <%= render Site::ImageComponent.new(
          src: image_path("modules/site/issues/illo/memex-view-table.png"),
          lazy: false,
          width: 2280,
          height: 1370,
          classes: "width-full height-auto box-shadow-default-border-mktg rounded-2",
          alt: "Illustration of project table view with cards grouped sorted by devleopment 'Area' custom field.",
          sizes: "(max-width: 1024px) 90vw, 1140px",
        ) %>
      </div>

      <div id="memex-slide-3" role="tabpanel" class="js-slide-show-slide slide-show-slide position-absolute top-0 left-0 width-full" aria-labelledby="memex-tab-3" aria-hidden="true">
        <%= render Site::ImageComponent.new(
          src: image_path("modules/site/issues/illo/memex-view-roadmap.png"),
          lazy: false,
          width: 2280,
          height: 1370,
          classes: "width-full height-auto box-shadow-default-border-mktg rounded-2",
          alt: "Illustration of a classic kanban board project. Cards are sorted in 4 columns based on their status, in a view called 'Current sprint.'",
          sizes: "(max-width: 1024px) 90vw, 1140px",
        ) %>
      </div>

    </div>
  </div>
</slide-show>
