<% cache_key = "github:web:personal-access-token-#{local_assigns[:access].id}" # TODO: Chat about this cache key %>

<p class="m-0 color-fg-muted text-light text-small">
  <%= include_cached_fragment(cache_key: cache_key, src: local_assigns[:src]) do %>
    <%= render(Primer::Beta::Text.new(color: :muted, data: { "hide-on-error" => true })) { "Loading expiration..." } %>
    <%= render(Primer::Beta::Text.new(color: :danger, m: 0, hidden: true, data: { "show-on-error" => true })) { "Sorry, something went wrong." } %>
  <% end %>
</p>
