<%= form_tag url, method: :get, "data-autosearch-results-container" => container_id do %>
  <div class="auto-search-group">
    <%= search_field_tag "q", params[:q],
      class: "subnav-search-input input-contrast auto-search-input width-full",
      placeholder: placeholder,
      "aria-label": placeholder,
      "data-throttled-autosubmit": true
    %>

    <%= primer_octicon(:search) %>
    <%= render(Primer::Beta::Spinner.new(size: :small, classes: "spinner")) %>
  </div>
<% end %>
