<% page_info responsive: false, title: "Fine-grained Personal Access Tokens", selected_link: :active_personal_access_tokens %>

<%= render layout: "orgs/settings/layout" do %>
  <%= render Primer::Beta::Subhead.new do |component| %>
    <% component.with_heading do %>Fine-grained personal access tokens<% end %>
  <% end %>

  <%= render partial: "orgs/settings/third_party_access/personal_access_tokens/subnav_search", locals: {
    url: settings_org_active_personal_access_tokens_path(current_organization),
    container_id: "active-tokens-container", placeholder: "Filter active fine-grained tokens"
  } %>

  <div id="active-tokens-container">
    <%= render partial: "orgs/settings/third_party_access/personal_access_tokens/active_container", locals: { grants: grants } %>
  </div>
<% end %>
