<% if integration.suspended? %>
  <div class="flash-messages">
    <%= render(Primer::Alpha::Banner.new(scheme: :danger)) do %>
      <p>This GitHub App was suspended by GitHub staff on <%= integration.suspended_at.to_formatted_s(:deprecation_mailer) %>.</p>
      <p>Please <%= link_to "contact GitHub", contact_url(host: GitHub.urls.host_name), class: "Link--inTextBlock" %> for more details.</p>
    <% end %>
  </div>
<% end %>
