<% page_info \
  container_xl: true,
  title: "Configure email notifications",
  hide_flash: true, # Form validations messages are rendered in-line.
                    # Global flash messages are not needed here,
                    # because they cause incorrect tabbing behaviour
  selected_link: :notifications %>

<%= render layout: "edit_repositories/edit" do %>
  <%= render Primer::Beta::Subhead.new do |component| %>
    <% component.with_heading(tag: :h2) do %>Email notifications<% end %>
    <% component.with_description do %>Setup email addresses to receive notifications when push events are triggered.<% end %>
  <% end %>

  <div class="col-md-9 col-12">
    <p class="color-fg-subtle">Asterisk (*) denotes a required field</p>
    <%= primer_form_with model: hook, url: update_repository_notification_settings_path(current_repository.owner, current_repository), method: :put, html: { novalidate: true } do |f| %>
      <%= render(EditRepositories::EmailNotificationsForm.new(f, hook: hook)) %>
    <% end %>
  </div>
<% end %>
