<% page_info \
  container_xl: true,
  title: "Custom Tabs",
  selected_link: :repo_settings %>

<%= render layout: "edit_repositories/edit" do %>
  <% if GitHub.custom_tabs_enabled? %>
    <div id="tabs_bucket">
      <%= render :partial => 'edit_repositories/admin_screen/tabs' %>
    </div><!-- /#tabs_bucket -->
  <% end %>
<% end %>
