<div class="color-fg-muted text-small text-uppercase">Matching Fund Status</div>
<p class="f2 mb-0" <%= test_selector("matched") %>><%= matched %></p>
<p class="text-small color-fg-muted">&nbsp;/ <%= match_limit %> matched</p>
<p class="text-small color-fg-muted">
  <a class="no-underline" href="<%= help_link %>">Learn more &rarr;</a>
</p>
