<p class="text-small color-fg-muted mb-0">
  You won't receive a payout until your balance is at least <%= formatted_threshold_amount %>.
  <br>
  <a class="no-underline" href="<%= PAYOUT_THRESHOLD_HELP_LINK %>" target="_blank" rel="noopener noreferrer">
    Learn more &rarr;
  </a>
</p>
