<% sort_options = %w(latest oldest) %>
<div class="clearfix">
  <%= form_tag marketplace_listing_insights_transactions_path, method: :get do %>
      <%= render(
        Primer::Alpha::TextField.new(
          name: :q,
          placeholder: "Search user",
          label: "Search user",
          visually_hide_label: true,
          leading_visual: {
            icon: :search
          },
          full_width: :false,
          py: 2,
          mb: 2,
          value: user_name
        )
      ) %>
    <%= render(Primer::Alpha::ActionMenu.new(
      size: :small,
      test_selector: "transaction_plan_filter_dropdown",
      select_variant: :single,
      dynamic_label: true,
      dynamic_label_prefix: "Plan Type",
      classes: "float-right"
    )) do |menu| %>
      <% menu.with_show_button do |button|
        button.with_trailing_action_icon(icon: "triangle-down")
          "Plan Type"
      end %>
      <% menu.with_item(
        tag: :a,
        href: data_url_helper.call(plan: "All plans"),
        active: selected_plan == "All plans",
        label: "All Plans",
        test_selector: "transaction_plan_filter_dropdown-option:All plans"
      ) %>
      <% listing_plan_types.each do |plan| %>
        <% menu.with_item(
          tag: :a,
          href: data_url_helper.call(plan: plan),
          active: selected_plan.to_i == plan.id,
          label: plan.name,
          test_selector: "transaction_plan_filter_dropdown-option:#{plan}"
        ) %>
      <% end %>
    <% end %>


    <%= render(Primer::Alpha::ActionMenu.new(test_selector: "transaction_sort_filter_dropdown", size: :small, mr: 1, classes: "float-right")) do |menu| %>
      <% menu.with_show_button { |button|
        button.with_trailing_action_icon(aria: { label: "Sort by: latest" }, icon: "triangle-down")
          "Sort by: Latest"
      } %>

      <% sort_options.each do |option| %>
        <% menu.with_item(tag: :a, href: data_url_helper.call(sort: option), option: "menuitem", test_selector: "transaction_sort_filter_dropdown-option:#{option}" ) { option.capitalize } %>
      <% end %>
    <% end %>
  <% end %>
</div>
