<% page_info title: "#{this_business.slug} - Marketplace usage" %>

<%= render Primer::Beta::Subhead.new do |component| %>
  <% component.with_heading(tag: :h2) do %>Marketplace Usage<% end %>
<% end %>

<%= render(Stafftools::Businesses::Marketplace::UsageComponent.new(
      business: this_business,
      marketplace_items: marketplace_items
      ), layout: false) %>

<div class="paginate-container" <%= test_selector("marketplace-items-pagination") %>>
  <%= will_paginate marketplace_items %>
</div>
