<div data-pagination-src="<%= next_page_url %>"></div>
<% variables.each do |variable| %>
  <%= render partial: "settings/organization/variables/org_variables_row", locals: { variable: variable} %>
<% end %>
