<%
  page_info title: "Actions variables · #{current_organization.name}",
            responsive: false,
            selected_link: page_info[:selected_link]
%>

<%= render layout: "orgs/settings/layout" do %>
  <%= render partial: "settings/organization/secrets_and_variables_tabs",
        locals: {
          selected_tab: :variables,
          current_organization: current_organization,
          can_use_org_secrets_or_variables: can_use_org_variables,
          can_use_for_private_repos: can_use_variables_for_private_repos,
          can_write_organization_actions_secrets: can_write_organization_actions_secrets,
          can_write_organization_actions_variables: can_write_organization_actions_variables,
        } %>

  <h3 class="sr-only">Variables</h3>

  <% if can_use_org_variables && can_write_organization_actions_variables %>
    <%= render_react_partial name: "actions-secrets-variables-list", ssr: true, props: {
      items: variables,
      scope: Secrets::Helper::ORG_SCOPE,
      tableActionProps: {
        url: organization_new_variable_path(current_organization),
        message: "Create new organization variable"
      },
      crudUrls: {
        editUrls: edit_org_var_urls,
        deleteUrls: delete_org_var_urls,
      },
      mode: Secrets::Helper::VARIABLE_MODE
    } %>
  <% elsif !can_use_org_variables %>
    <p <%= test_selector("legacy-plan-warning") %>>
      Organization secrets and variables are not available for organizations on legacy per-repository billing plans.
      Please visit your billing settings to upgrade your account.
    </p>
  <% else %>
    You need to be an organization admin or have the correct fine-grained permission to view variables.
  <% end %>
<% end %>
