<%= render layout: "move_work/layout", locals: { progressbar_value: progressbar_value } do %>
  <h2 class="f2 text-normal mb-md-8">Choose the right plan for your new organization</h2>

  <div class="d-flex flex-column mt-3">
    <%= render "organizations/signup/plans", locals: { move_work: true } %>
  </div>

  <%= render partial: "site/pricing/compare_features", locals: { context: "organization_plan", move_work: true } %>
<% end %>
