<div class="mt-2 d-flex flex-items-center">
  <%= avatar_for(mutual_follower_example, 16, class: "CircleBadge-icon avatar") %>
  <%= link_to url_to_followers, class: "Link--secondary no-underline no-wrap pl-1", data: analytics_click_attributes(category: "Mutual Followers", action: "View follows", label: hydro_tracking_label) do %>
    Followed by <span class="Truncate-text text-bold"><%= mutual_follower_example.display_login %></span>
    <% if mutual_followers_count > 1 %>
      <%= mutual_followers_display_count_label %>
    <% end %>
  <% end %>
</div>
