<div class="border-top color-border-muted pt-3 mt-3 clearfix hide-sm hide-md">
  <h2 class="mb-2 h4" <%= test_selector("organizations") %>>Organizations</h2>

  <% organizations.each do |org| %>
    <% display_login = org.display_login %>
    <%= link_to(
      user_path(org),
      "aria-label": display_login,
      itemprop: "follows",
      class: "avatar-group-item",
      data: org_link_data(display_login),
    ) do %>
      <%= render(GitHub::AvatarComponent.new(actor: org, size: 32)) %>
    <% end %>
  <% end %>
</div>
