<%# `view` is an instance of AuditLog::IndexPageView %>
<div data-pjax>
  <div class="paginate-container">
    <% if view.driftwood_results? %>
      <% view.results %>
      <div class="pagination">
        <% if view.prev_page? %>
          <%= link_to "Newer", view.prev_page_params %>
        <% else %>
          <span class="disabled">Newer</span>
        <% end %>

        <% if view.next_page? %>
          <%= link_to "Older", view.next_page_params %>
        <% else %>
          <span class="disabled">Older</span>
        <% end %>
      </div>
    <% else %>
      <%= simple_paginate(
        view.results,
        next_url: view.next_page_link,
        prev_url: view.prev_page_link,
      ) %>
    <% end %>
  </div>
</div>
