<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# this partial is being used for https://github.com/github/security/issues/5219
    but could be leveraged for something similar in the future %>
<% if entry.action == "two_factor_authentication.recovery_codes_regenerated" &&
      entry.created_at < DateTime.new(2022, 8, 13) &&
      entry.created_at > DateTime.new(2022, 7, 14) &&
      entry.from != "settings/auth_recovery_codes#update" %>
  <%= render Primer::Beta::Flash.new(scheme: :warning, p: 1, mb: 2 ) do %>
    <%= primer_octicon(:alert, ml: 3) %>
    <b> The following log is a false-alert caused by a <a class="Link--inTextBlock" href="<%= "https://github.blog/changelog/2022-08-18-false-alert-flags-will-appear-in-users-security-log-due-to-a-bug-in-2fa-recovery-events" %>">bug</a>
    and does not represent an actual event </b>
  <% end %>
<% end %>
