<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# this partial is being used for https://github.com/github/repos/issues/4443 %>
<% if (entry.action == "protected_branch.policy_override" || entry.action == "protected_branch.rejected_ref_update") &&
      entry.created_at < DateTime.new(2023, 1, 16) &&
      entry.created_at > DateTime.new(2022, 1, 4) &&
      entry.from == "pull_request_partials#merging" %>
  <%= render Primer::Beta::Flash.new(scheme: :warning, p: 1, mb: 2 ) do %>
    <%= primer_octicon(:alert, ml: 3) %>
    <b>The following log is a false-alert <a class="Link--inTextBlock" href="<%= "https://github.blog/changelog/2023-01-19-false-alert-flags-will-appear-in-audit-logs-due-to-a-bug-in-branch-protections" %>">caused by a bug</a>
    and does not represent an actual event</b>
  <% end %>
<% end %>
