<div className="d-flex flex-justify-end position-relative">
  <details className="details-reset details-overlay">
    <summary className="btn" aria-haspopup="true">
      Download
    </summary>
    <div className="SelectMenu">
      <div className="SelectMenu-modal">
        <div className="SelectMenu-list" class="pl-3 d-flex flex-wrap gap-4" role="menu">
          <% is_web_export = export.is_a?(AuditLogWebExport) %>
          <% is_git_export = export.is_a?(AuditLogGitEventExport) %>
          <% is_org = export.subject.organization? %>
          <% is_biz = export.subject.business? %>
          <% count = 0 %>
          <% end_index = export.total_chunks - 1 %>
        <% (0..end_index).step(chunks_per_download) do |index| %>
            <% count += 1 %>
            <% if is_web_export %>
              <% if  is_org %>
                <% href = org_audit_log_export_url(export_id: export.export_id, start: index, length: chunks_per_download) %>
              <% elsif is_biz %>
                <% href = settings_audit_log_export_enterprise_url(export_id: export.export_id, start: index, length: chunks_per_download) %>
              <% else %>
                <% href = settings_user_audit_log_export_url(export_id: export.export_id, start: index, length: chunks_per_download) %>
              <% end %>
            <% elsif is_git_export %>
              <% if is_org %>
                <% href = org_audit_log_git_event_export_url(token: export.token, start: index, length: chunks_per_download) %>
              <% elsif is_biz %>
                <% href = settings_audit_log_git_event_export_enterprise_url(token: export.token, start: index, length: chunks_per_download) %>
              <% else %>
                <% href = "" %>
              <% end %>
            <% end %>
            <a className="SelectMenu-item" role="menuitem" data-turbo="false" href="<%= href %>"><%= "Part #{count}" %></a>
          <% end %>
        </div>
      </div>
    </div>
  </details>
</div>

