<%# erblint:counter DeprecatedComponentsCounter 1 %>
<include-fragment class="m-4 p-4 d-flex flex-column flex-items-center" src="<%= view.results_path %>">
  <div data-hide-on-error class="m-4 p-4 d-flex flex-column flex-items-center">
    <%= render(Primer::Beta::Spinner.new) %>
    <div class="color-fg-muted no-wrap">Loading audit log entries&hellip;</div>
  </div>
  <div data-show-on-error hidden>
    Something went wrong.
    <%= render(Primer::ButtonComponent.new("data-retry-button": "", variant: :small)) { "Retry" } %>
  </div>
</include-fragment>
