<div class="d-flex flex-column flex-lg-row">

  <div class="col-12 col-lg-6">
    <div class="copilot-waitlist-header-section copilot-waitlist-header-jetbrains">
      <div class="copilot-waitlist-section-inner">
        <div class="copilot-waitlist-beta-bubble">
          Technical Preview
        </div>
        <p class="lh-condensed copilot-waitlist-header">Join the Copilot Workspace Waitlist</p>

        <p class="text-light mt-4 mb-4">
          Join the technical preview for early access to Copilot Workspace, our first AI-native developer tool for completing everyday tasks in GitHub.
        </p>
      </div>
    </div>
  </div>

  <div class="copilot-waitlist-form-section col-12 col-lg-6 pr-8 pb-8 pl-8 pt-10">
    <div class="copilot-waitlist-section-inner">
      <%= render(Copilot::BetaSignupFormComponent.new(
        signup_url_path: copilot_workspace_waitlist_signup_create_path,
        signup_cta_text: "Join Copilot Workspace waitlist",
        preview_terms: preview_terms,
      )) %>
    </div>
  </div>
</div>
