<div class="d-flex flex-column flex-lg-row">

  <div class="col-12 col-lg-6">
    <div class="copilot-waitlist-header-section copilot-waitlist-header-jetbrains">
      <div class="copilot-waitlist-section-inner">
        <div class="copilot-waitlist-beta-bubble">
          Technical Preview
        </div>
        <p class="lh-condensed copilot-waitlist-header">Join the Copilot Workspace Waitlist</p>

        <p class="text-light mt-4 mb-4">
          Join the technical preview for early access to Copilot Workspace, our first AI-native developer tool for completing everyday tasks in GitHub.
        </p>
      </div>
    </div>
</div>

  <div class="copilot-waitlist-form-section col-12 col-lg-6 pr-8 pb-8 pl-8 pt-10">
    <p class="mb-2 h3 lh-condensed">Thank you for your interest!</p>


    <%= render(Site::ButtonComponent.new(
      role: :button,
      url: copilot_workspace_waitlist_signup_join_path,
      text: "Sign in to join the waitlist",
      arrow: false,
      classes: "width-full copilot-waitlist-submit-button mt-2"
    )) %>

    <p class="mt-2">
      You must sign in to your account to join the preview waitlist.
    </p>
  </div>
</div>
