<% page_info responsive: false, title: "Organization Settings", selected_link: :organization_profile %>

<%= render layout: "orgs/settings/layout" do %>
  <%= render Primer::Beta::Subhead.new(mb: 0) do |component| %>
    <% component.with_heading(tag: :h2, id: "organization_fgp_settings") do %>Settings Overview<% end %>
  <% end %>
  <p class="note">
    Check the sidebar for available organization settings.
  </p>
<% end %>
