<table align="center" class="<%= "border-bottom " unless last %>width-full text-center">
  <tr>
    <%
      td_classes = "d-block"
      td_classes = safe_join([td_classes, "px-3 pt-3 p-sm-4"], " ") unless skip_padding
      td_classes = safe_join([td_classes, classes], " ") if classes.present?
    %>
    <td class="<%= td_classes %>">
      <%= render(Mail::ContainerComponent.new) do %>
        <%= content %>
      <% end %>
    </td>
  </tr>
</table>
