<% component_test_selector = @sponsoring ? "share-sponsorship-social-sharing" : "thank-sponsors-social-sharing" %>
<% header = @sponsoring ? "Help your sponsorship go farther by posting about it on social media!" : "Say thank you on social media!" %>
<% default_text = @sponsoring ? default_text_sponsoring : default_text_sponsor %>

<div class="Box mt-4" <%= test_selector(component_test_selector) %>>
  <div class="p-2 flex-1 wb-break-word">
    <%= header %>
  </div>
  <div class="Box-row">
    <div class="clearfix">
      <%= render Mail::TwitterButtonComponent.new(
        text: default_text,
      ) %>
    </div>
  </div>
</div>
