<h1 class="d-flex text-bold f5">
  <a class="js-issue-title css-truncate css-truncate-target Link--primary width-fit markdown-title js-smoothscroll-anchor" href="#top">
    <%= title_markdown(title) %>
  </a>
  <span class="gh-header-number color-fg-muted pl-1">#<%= number %></span>
</h1>
