<%# erblint:counter DeprecatedComponentsCounter 2 %>
<div class="boxed-group">
  <h3>Dependency graph</h3>
  <div class="boxed-group-inner clearfix">
    <%= form_tag clear_org_dependencies_stafftools_dependency_graph_path(this_user)  do %>
      <%= render Primer::ButtonComponent.new(type: :submit, classes: "boxed-action") do %>Clear<% end %>
    <% end %>
    <h4>Clear dependencies</h4>
    <p>
      Clears this orgs's manifests and dependencies from the dependency graph.
    </p>

    <hr>
    <%= form_tag redetect_org_dependencies_stafftools_dependency_graph_path(this_user) do %>
      <%= render Primer::ButtonComponent.new(type: :submit, classes: "boxed-action") do %>Redetect<% end %>
    <% end %>
    <h4>Redetect dependencies</h4>
    <p>
      Queue background jobs to detect this orgs’s manifest files.
    </p>
  </div>
</div>
