<div class="Box Box--condensed">
  <div class="Box-header">
    <h3 class="Box-title">
      Stripe payouts
    </h3>
  </div>
  <% if failed? %>
    <div class="Box-row color-fg-danger" <%= test_selector("payouts-list-api-error") %>>
      Failed to fetch payouts from Stripe
    </div>
  <% elsif empty_results? %>
    <div class="Box-row" <%= test_selector("payouts-list-empty") %>>
      No payouts to this GitHub Sponsors member
    </div>
  <% else %>
    <table class="stafftools-table" <%= test_selector("payouts-list-table") %>>
      <thead>
        <tr>
          <th class="text-bold billing-table-cell">Initiated at</th>
          <th class="text-bold billing-table-cell">Amount</th>
          <th class="text-bold billing-table-cell">Status</th>
          <th class="text-bold billing-table-cell">Payout ID</th>
          <th class="text-bold billing-table-cell">Est. arrival</th>
        </tr>
      </thead>
      <tbody>
        <% payouts.each do |payout| %>
          <%= render Stafftools::Sponsors::Members::Payouts::PayoutComponent.new(
            payout: payout,
            stripe_account: stripe_account,
          ) %>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
