<div class="d-flex flex-column flex-lg-row">

  <div class="col-12 col-lg-6">
    <div class="copilot-waitlist-header-section copilot-waitlist-header-customization">
      <div class="copilot-waitlist-section-inner">
        <div class="copilot-waitlist-beta-bubble">
          Beta
        </div>
        <p class="lh-condensed copilot-waitlist-header">Join the Copilot fine-tuning waitlist</p>

        <p class="text-light mt-4 mb-4">
          Sign up for the opportunity to fine-tune a private, custom copilot using your own repositories.
        </p>
      </div>
    </div>
  </div>
  <div class="copilot-waitlist-form-section col-12 col-lg-6 pr-8 pb-8 pl-8 pt-10">
    <div class="copilot-waitlist-section-inner">
      <% if organizations.any? %>
        <p class="mb-2 h3">Tell us about your organization</p>

        <%= render(Copilot::BetaSignupFormComponent.new(
          signup_url_path: copilot_fine_tuning_waitlist_signup_create_path,
          signup_cta_text: "Join Copilot fine-tuning waitlist",
          preview_terms: preview_terms,
          preview_terms_text: "You will receive an email once you join and will be able to manage and fine-tune custom models for your organization.",
          organizations: organizations,
        )) %>
      <% else %>
        <p class="mb-2 h3">Oops!</p>

        <p class="mb-4">
          Looks like you are neither an owner of nor part of an organization with an active GitHub Copilot subscription.
          Please create an organization and subscribe to GitHub Copilot (Business plan or higher),
          and then return to this page to join the waitlist.
        </p>

        <%= render(Site::ButtonComponent.new(
          role: :button,
          scheme: :muted,
          url: copilot_business_signup_path,
          text: "Get Started with GitHub Copilot",
          arrow: true,
          classes: "width-full copilot-waitlist-buy-button"
        )) %>
      <% end %>
    </div>
  </div>
</div>
