<div class="d-flex flex-column flex-lg-row">

  <div class="col-12 col-lg-6">
    <div class="copilot-waitlist-header-section copilot-waitlist-header-customization">
      <div class="copilot-waitlist-section-inner">
        <div class="copilot-waitlist-beta-bubble">
          Beta
        </div>
        <p class="lh-condensed copilot-waitlist-header">Join the Copilot fine-tuning waitlist</p>

        <p class="text-light mt-4 mb-4">
          Sign up for the opportunity to fine-tune a private, custom copilot using your own repositories.
        </p>
      </div>
    </div>
  </div>

  <div class="copilot-waitlist-form-section col-12 col-lg-6 pr-8 pb-8 pl-8 pt-10">
    <p class="mb-2 h3">Thank you! <%= org_login %> is now on the waitlist for Copilot fine-tuning</p>

    <p class="mb-4">
      Admission to the private beta for Copilot fine-tuning will be limited. You will receive an email if you are
      granted access and will be able to manage and fine-tune custom models for your organization.
    </p>
  </div>
</div>
