<% if included_usage_percentage <= 75 %>
  <div class="billing-box-progress" <%= test_selector "under-seventy-five" %>>
    <%= render(Primer::Beta::ProgressBar.new(size: :small)) do |component| %>
      <% component.with_item(bg: :accent_emphasis, percentage: included_usage_percentage) %>
    <% end %>
  </div>
<% else included_usage_percentage <= 100 %>
  <div class="billing-box-progress" <%= test_selector "under-one-hundred" %>>
    <%= render(Primer::Beta::ProgressBar.new(size: :small)) do |component| %>
      <% component.with_item(bg: usage_exhausted_color, percentage: included_usage_percentage) %>
    <% end %>
  </div>
<% end %>
