<div class="Box rounded-top-0" <%= test_selector "codespaces_projected_usage_component" %>>
  <div class="Box-row py-2">
    <div class="my-1 d-flex flex-items-center flex-justify-between flex-items-baseline">
      <div class="ml-md-6 ml-0 pl-md-1 pl-0">
        <h3 class="h4 color-fg-subtle text-small">Projected usage</h3>
        <span class="color-fg-subtle text-small"><%= link_to "Learn more about projected usage", docs_url %></span>
      </div>
      <div>
        <span class="color-fg-subtle v-align-middle"><%= Billing::Money.new(projected_usage).format(no_cents_if_whole: false) %></span>
      </div>
    </div>
  </div>
</div>
