<div class="d-flex flex-column-reverse mb-3">
  <nav aria-label="Nav menu" class="d-flex flex-nowrap">
    <%= selected_link_to this_business.can_invite_unaffiliated_user_accounts? ? "Organization members" : "Members",
          enterprise_pending_members_path(this_business),
          class: "subnav-item" %>
    <%= selected_link_to "Administrators",
          enterprise_pending_admins_path(this_business),
          class: "subnav-item" %>
    <% if this_business.can_invite_unaffiliated_user_accounts? %>
      <%= selected_link_to "Unaffiliated members",
            enterprise_pending_unaffiliated_members_path(this_business),
            class: "subnav-item" %>
    <% end %>
    <%= selected_link_to outside_collaborators_verbiage(this_business).capitalize,
          enterprise_pending_collaborators_path(this_business),
          class: "subnav-item" unless this_business.downgraded_to_free_plan? %>
  </nav>
</div>
