<% page_info :title => "Invitation to join #{this_business.name}", :class => "min-width-0" %>

<div class="container-md">
  <div class="Box mx-auto my-6 p-4 col-11">
    <div class="text-center position-relative">
      <%= avatar_for this_business, 75, :class => "avatar mb-4" %>

      <p class="f3">
        You’ve been invited to the
        <strong><%= this_business.name %></strong>
        enterprise!
      </p>

      <p class="color-fg-muted text-small mb-4">
        Invited by <%= link_to invitation.inviter.safe_profile_name, user_path(invitation.inviter), class: "Link--inTextBlock" %>
      </p>

      <p>
        To approve or decline the invitation, please visit the
        <%= link_to "Billing & Plans", settings_org_billing_path(invitation.invitee), class: "Link--inTextBlock" %>
        settings for your organization.
      </p>
    </div>
  </div>
</div>
