<% if dotcom_connection_required? %>
  Requires GitHub Connect to be enabled and configured with Actions.

  <% if business_adminable_by_current_user? %>
    <a href="<%= github_marketplace_docs_url %>">Learn more about enabling access to GitHub Marketplace.</a>
  <% else %>
    Contact your enterprise administrator to set this up.
  <% end %>
<% end %>
