<h1 class="primary-heading">
  <strong><%= @invitee.display_login %></strong> has been removed as your account successor.
</h1>

<p>Visit your settings to <%= link_to "appoint a different account successor", settings_account_preferences_url %>.</p>

<p class="email-text-small email-text-gray">
  <a href="<%= help_link %>">Learn more about account successors</a>.
</p>
