<h1 class="primary-heading">
  <strong><%= @invitee.display_login %></strong> has been invited as your account successor.
  We'll update you when they respond.
</h1>

<p>
  As an account successor, they would be able to manage your repositories if you are not able to.
</p>

<p>Didn't mean to do this? <%= link_to "Manage your account settings", settings_account_preferences_url %>.</p>

<p class="email-text-small email-text-gray">
  <a href="<%= help_link %>">Learn more about account successors</a>.
</p>
