.fadeInOut {
  z-index: 1;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.24s ease-in-out;
}

.fadeInOutShow {
  z-index: 2;
  pointer-events: auto;
  opacity: 1;
}

.animateHeight {
  transition: height 0.24s ease-in-out;
}
