.outline {
  border: var(--borderWidth-thin) solid;
  border-color: var(--borderColor-muted);
  border-radius: var(--borderRadius-small);
}

.labelContainer {
  position: relative;
  display: flex;
  height: 100%;
  align-items: flex-start;
  flex-shrink: 1;
  gap: var(--base-size-4);
}

.label {
  display: flex;
  height: 100%;
  overflow: hidden;
  flex-shrink: 1;
  align-items: center;
  gap: var(--base-size-4);
  flex-wrap: wrap;
  justify-content: flex-end;
}

.avatar {
  margin-right: var(--base-size-4);
  align-self: center;
}

.reviewContainer {
  display: inline-flex;
  margin-left: 1;
  white-space: nowrap;
  align-items: center;
  gap: 1px;
}

.reviewDescription {
  font-size: var(--text-body-size-small);
  font-weight: var(--fontStack-system);
  color: var(--fgColor-muted);
}

.completionPill {
  margin-top: var(--base-size-32);
}

.circle {
  width: 14px;
  height: 14px;
  border-style: solid;
  border-width: var(--borderWidth-thin);
  border-radius: var(--borderRadius-full);
}

.headerBorder {
  padding: var(--base-size-4);
  /* stylelint-disable-next-line primer/borders */
  border: 3px dashed;
  border-color: var(--borderColor-subtle);
  border-radius: var(--borderRadius-small);
}
