<details class="Details-element details-reset">
  <summary class="pagination-loader-container text-center user-select-none mb-3">
    <div class="Details-content--closed Box mt-2 d-inline-flex flex-column">
      <span class="color-fg-muted py-2 px-4 color-bg-default rounded-2">
        <%= pluralize(comment_nodes.size, "similar comment") %>
      </span>
    </div>
  </summary>
  <% comment_nodes.each do |comment_node| %>
    <%= render layout: "timeline/item", locals: { item: comment_node } do %>
      <%= render "timeline/issue_comment", issue_comment: comment_node, deferred_comment_actions: deferred_comment_actions, deferred_edit_form: deferred_edit_form %>
    <% end %>
  <% end %>
</details>
