<% if notification_deliveries.any? %>
  <table class="site-admin-table">
    <thead>
      <th>
        Receipient
      </th>
      <th>
        Delivery method
      </th>
      <th>
        Reason
      </th>
      <th class="right-align">
        Timestamp
      </th>
    </thead>
    <% notification_deliveries.each do |delivery| %>
      <tr>
        <td>
          <%= link_to delivery.user.login, stafftools_user_path(delivery.user) %>
        </td>
        <td>
          <%= delivery.handlers %>
        </td>
        <td>
          <%= delivery.human_reason %>
        </td>
        <td class="right-align">
          <%= delivery.first_delivered_at.to_s %>
        </td>
      </tr>
    <% end %>
  </table>
<% else %>
  <p class="site-admin-blankstate">
    No notifications.
  </p>
<% end %>
