<div class="<% if split_diff? %>position-relative px-4<% else %>container-xl px-3 px-md-4 px-lg-5<% end %>"
    <% if split_diff? %>style="width: 100vw; left: 50%; right: 50%; margin-left: -50vw; margin-right: -50vw;"<% end %>
>
  <div id='diff' class="uncommentable">
    <% file_list_view = Diff::FileListView.new(diffs: diffs, params: params, current_user: current_user, commentable: false, progressive: true) %>
    <%= render partial: 'diff/toc', locals: { file_list_view: file_list_view } %>
    <%= render partial: 'diff/diff', locals: { file_list_view: file_list_view } %>
  </div>
</div>
