<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# rubocop:disable Lint/InstanceVariable %>
<% page_info :title => "Timeout · #{current_repository.name_with_display_owner}" %>

<div class="container-xl px-3 px-md-4 px-lg-5">
  <%= render :partial => "compare/range_editor", :locals => { :comparison => @comparison, :check_mergeability => false } %>

  <%= render Primer::BlankslateComponent.new(
    icon: "alert",
    title: "This comparison is taking too long to generate.",
    description: "Unfortunately it looks like we can’t render this comparison for you right now. It might be too big, or there might be something weird with your repository.",
    large: true,
  ) do %>
    <p>
      You can try running this command locally to see the comparison on your machine: <br>
      <code>git diff <%= @comparison.display_base_ref %>...<%= @comparison.display_head_ref %></code>
    </p>
  <% end %>
</div>
