<% view.internal_repositories_for_business.each do |repository| %>
  <%= render Codespaces::RepositoryListItemComponent.new(repository: repository, selected: view.selected?(repository)) %>
<% end %>
<% if view.internal_repositories_for_business.empty? %>
  <div class="p-3 text-center">
    No matching repositories.
  </div>
<% end %>
