<% page_info title: "Edit Codespaces Policy",
             selected_link: :business_codespaces_settings %>

<%= render layout: "businesses/layout",
  locals: {
    business: this_business,
    title: "Edit policy",
    container_attributes: "itemscope itemtype='http://schema.org/Business'",
    back_to_link_path:  settings_codespaces_policies_enterprise_path(this_business.slug),
    back_to_link_text: "policies"
  } do %>

  <div data-hpc>
    <%= render Organizations::Settings::CodespacesPolicyFormComponent.new(owner: this_business, existing_policy: existing_policy) %>
  </div>
<% end %>
