<%# erblint:counter DeprecatedInPrimerCounter 1 %>
<span class="float-right color-fg-danger tooltipped tooltipped-w" aria-label="Cancel request to <%= target.safe_profile_name %> to install <%= view.integration_name %>">Cancel Request<%= primer_octicon(:x, ml: 1) %></span><%# erblint:disable GitHub::Accessibility::NoAriaLabelMisuse, Primer::Accessibility::TooltippedMigration %>
