<div class="p-3" <%= test_selector("hovercard-external-conditional-access-enforcement") %>>
  <div class="d-flex width-full text-small">
    <%= render Primer::Beta::Octicon.new(icon: "shield-lock", height: 32, color: :muted) %>
    <div class="ml-3">
      The <strong><%= target.safe_profile_name %></strong> enterprise
      has enabled Identity Provider Conditional Access Policy enforcement
      on the account which does not permit access to this resource.
      Please contact an owner of the <strong><%= target.safe_profile_name %></strong> enterprise for more details.
    </div>
  </div>
</div>
