<li class="Box-row">
  <% if authorized_staffer? %>
    <div <%= test_selector "contact-microsoft-trade-help" %> class="d-flex flex-justify-between flex-items-center">
      <div class="pr-2">
          <h4>Contact Microsoft Trade Help</h4>
        <p>
          If you have a specific query on the trade screening status of this account, you can reach out to microsoft trade support.
        </p>
      </div>
      <%= render(Primer::Alpha::Dialog.new(
        size: :medium_portrait,
        id: "contact-trade-help-dialog",
        title: "Contact Microsoft Trade Support",
      )) do |dialog| %>
        <% disabled = !target.is_trade_screened? || target.trade_screening_record.pseudo? %>
        <% dialog.with_show_button(scheme: :danger, disabled: disabled, test_selector: "contact-trade-help-dialog-button") do %>Contact Microsoft Trade Support<% end %>
        <% dialog.with_header(show_divider: true) { "Contact Microsoft Trade Support" } %>
        <%= render Stafftools::TradeCompliance::MicrosoftTradeHelpEmailComponent.new(staffer: staffer, target: target) %>
      <% end %>
    </div>
  <% else %>
    <div class="d-flex flex-justify-between flex-items-center">
      <div class="pr-2">
          <h4>Contact Microsoft Trade Support</h4>
        <p><%= stafftools_not_authorized_html %></p>
      </div>
    </div>
  <% end %>
</li>
