<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% if latest_payout_failed %>
  <%= render Primer::Beta::Flash.new(scheme: :warning, mb: 3) do %>
    <%= primer_octicon(:alert, mr: 1) %>
    The latest Stripe Connect payout failed. Please
    <a class="Link--inTextBlock" href="<%= sponsorable_dashboard_settings_path(sponsorable_login) %>">check your settings</a>.
  <% end %>
<% end %>
