  <summary
    role="button"
    class="<%= @classes || "btn btn-sm select-menu-button" %>">
    <% if body || @text %>
      <span class="<% if @replaceable %>text-normal<% end %>">
        <%= body || @text %>
      </span>
    <% end %>
    <% if @default_selection_text.present? || @replaceable %>
      <span
        <% if @replaceable %>data-menu-button<% end %>
        class="css-truncate css-truncate-target"
      ><%= @default_selection_text %></span>
    <% end %>
  </summary>
