<%# erblint:counter DeprecatedComponentsCounter 2 %>
<% if @toggleable %>
  <div class="BtnGroup">
    <%= render Primer::ButtonComponent.new(tag: :a, href: @source_url, data: { "permalink-href": @canonical_source_url }, variant: :small, group_item: true, classes: source_classes, "aria-label": "Display the source blob") do |c| %>
      <% primer_octicon(:code) %>
    <% end %>
    <%= render Primer::ButtonComponent.new(tag: :a, href: @rendered_url, data: { "permalink-href": @canonical_rendered_url }, variant: :small, group_item: true, classes: rendered_classes, "aria-label": "Display the rendered blob") do |c| %>
      <% primer_octicon(:file) %>
    <% end %>
  </div>
<% end %>
