<% if child_teams.present? %>
  <% child_teams.each do |child_team| %>
    <%=
      render "orgs/teams/team", view: create_view_model(
        Orgs::Teams::TeamView,
        indent_level: child_indent,
        parent_team_slug: parent_team_slug,
        team: child_team,
        member_ids: member_ids_for_teams[child_team.id],
        show_bulk_actions: show_bulk_actions,
        organization: organization
      )
    %>
  <% end %>

  <% if child_teams.has_more? %>
    <li class="table-list-item js-team-row js-child-team" data-parent-team-slug="<%= parent_team_slug %>">
      <div class="team-show-more-cell table-list-cell d-block text-center color-bg-subtle">
        <span data-child-team-url="<%= "#{child_teams_path(organization)}?parent_team_slug=#{parent_team_slug}&parent_indent=#{parent_indent}&page=#{child_teams.next_page}" %>" class="d-inline-block p-1 btn-link no-underline js-show-more-child-teams" <%= test_selector("team-show-more") %>>
          Show more teams
        </span>
      </div>
    </li>
  <% end %>
<% end %>
