<%# `view` is an instance of Orgs::Teams::FormView %>

<% if view.show_specific_destruction_warnings %>
  <div class="flash flash-warn flash-full"><%= view.destruction_warnings %></div>

  <% if this_team.has_child_teams? %>
    <ul class="list-style-none overflow-auto Box m-3">
    <% this_team.descendants(immediate_only: true).each do |child| %>
      <li class="Box-row">
        <%= child.name %>
        <% if child.has_child_teams? %>
          and <%= link_to "#{pluralize child.descendants(immediate_only: true).size, "child team"}", team_teams_path(child), class: "Link--inTextBlock" %>
        <% end %>
      </li>
    <% end %>
    </ul>
  <% end %>
<% else %>
  <div class="flash flash-full flash-warn">
    Once deleted, it will be gone forever.
  </div>
<% end %>

<div class="Box-footer">
  <%= form_tag team_path(this_team), :method => :delete do %>
    <button type="submit" class="btn btn-block btn-danger">
      I understand, delete this team
    </button>
  <% end %>
</div>
