<% groups.each do |group| %>
  <%
    cn = group[:cn].first
    val = params.key?(:dn) ? group.dn : JSON.generate({dn: group.dn, cn: cn})
  %>
  <li role="option" class="autocomplete-item" data-autocomplete-value="<%= val %>">
    <div><%= cn %></div>
    <div class="text-normal text-small"><%= group.dn %></div>
  </li>
<% end %>
