<dl class="form-group">
  <dt>
    <label for="ldap_group">
      LDAP group
    </label>
  </dt>
  <dd>
    <% if team && team.legacy_owners? %>
      <input type="text" class="form-control disabled" id="ldap_group" placeholder="You can’t map the Owners team to an LDAP Group." disabled>
    <% else %>
      <auto-complete class="auto-search-group d-block" src="<%= group_suggestions_path(dn: true) %>" for="ldap-group-complete-results">
        <input
          type="text"
          name="team[ldap_dn]"
          id="ldap_group"
          <% if team&.ldap_mapped? %>value="<%= team.ldap_dn %>"<% end %>
          class="form-control auto-search-input input-contrast js-team-ldap-group-field">
        <%= primer_octicon(:search) %>
        <ul id="ldap-group-complete-results" class="autocomplete-results"></ul>
      </auto-complete>
    <% end %>

    <% if team && !team.legacy_owners? %>
      <p class="note">
        <% if team.ldap_mapped? %>
          Changing the LDAP Group mapping will cause memberships to change to reflect LDAP.
        <% else %>
          You can manage this team’s members in LDAP.
        <% end %>
      </p>
    <% end %>
  </dd>
</dl>
