<% if exists %>
  <span>
    Sorry. That name is already taken.
  </span>
<% elsif is_invalid %>
  <span>
    Sorry. That name contains unsupported characters.
  </span>
<% else %>
  Mention this team in conversations as <strong>@<%= org.display_login %>/<%= slug.presence %></strong>.
<% end %>
