<%# rubocop:disable Lint/InstanceVariable %>

<% unless header_redesign_enabled? %>
  <div class="pagehead orghead border-bottom-0">
    <div class="container-lg clearfix <% if responsive? %>p-responsive d-none d-lg-block<% else %>px-3<% end %>">
      <%= render "orgs/header_org_name", view: create_view_model(Orgs::HeaderView, organization: @organization) %>
    </div>
    <%= render Organizations::HeaderNavComponent.new(
      organization: @organization,
      selected_nav_item: :teams,
    ) %>
  </div>
<% end %>

<div class="container-lg clearfix px-3">
  <%=
    render "orgs/teams/form", view: create_view_model(
      Orgs::Teams::FormView,
      organization: @organization,
      team: local_assigns[:team],
      team_params: local_assigns[:team_params],
      making_new_team: true,
    ) %>
</div>
