<%# `view` is an instance of Orgs::Teams::TeamsPageView %>
<%
  page_info \
    title: view.page_title,
    dashboard_pinnable_item_id: view.team.id,
    responsive: false
%>

<div class="js-check-all-container js-bulk-actions-container" data-bulk-actions-url="<%= view.teams_toolbar_actions_path %>" data-bulk-actions-parameter="team_slugs">
  <%= render partial: "orgs/teams/team_banner", locals: { view: view }  %>
  <%= render partial: "orgs/teams/list_container", locals: { view: view } %>
</div>
