<div class="Box codespaces-list-box">
  <div class="Box-header">
    <h5 class="color-fg-muted"><%= codespaces_data.count %> <%= "codespace".pluralize(codespaces_data.count) %></h5>
  </div>

  <% codespaces_data.each do |codespace_data| %>
    <div class="Box-row">
      <%
        codespace = codespace_data[:codespace]
        repository_policy = codespace_data[:repository_policy]
      %>
      <%= render Codespaces::IndexListItemComponent.new(
        codespace: codespace,
        usage_allowed: codespace_data[:usage_allowed],
        show_editor_links: codespace_data[:show_editor_links],
        needs_machine_type_change: codespace_data[:needs_machine_type_change],
        needs_base_image_change: codespace_data[:needs_base_image_change],
        delete_confirmation_message: codespace_data[:delete_confirmation_message],
        repo_scoped: true,
        is_read_only: repository_policy.read_only_codespace_required?,
        needs_fork_to_push: repository_policy.read_only_and_forkable?,
        hydro_open_target: "REPO_PAGE",
      ) %>
    </div>
  <% end %>
</div>
