<div id="multi-user-auth-fields" class="unlock-auth-fields">
    <div>
        Username:
        <input type="text" name="username" id="multi-user-username" class="js-text" autofocus />
    </div>
    <div>
        Password:
        <input type="password" name="password" id="multi-user-password" class="js-text"/>
    </div>
</div>
