<label class="label-heading" for="password">
  New password
</label>
<input required type="password" name="password" id="password"
       class="js-password-field js-password-validate"
       title="<%== erb :"_password_rules_text" %>"
       data-placement="bottom">

<label class="label-heading" for="password_confirmation">
  Confirm password
</label>
<input required type="password" name="password_confirmation"
       id="password_confirmation"
       class="js-password-confirmation-field js-password-validate"
       title="Passwords do not match"
       data-placement="bottom">

<span class="muted field-help-text">
  <%== erb :"_password_rules_text" %>
</span>
