<div id="root-user-auth-fields" class="unlock-auth-fields">
    <input type="text" name="legacy_username" value="ghe_root_site_admin" id="root-user-username" hidden <%= multi_user_support ? 'disabled' : '' %> />
    <div>
        Root site admin password:
        <input type="password" name="password" id="root-user-password" class="js-text" autofocus <%= multi_user_support ? 'disabled' : '' %> />
    </div>
</div>
