<div class="list-group upload-steps">

  <div class="list-group-item upload-button license-upload invalid js-upload-button">

    <span class="list-group-icon pending">
      <span class="octicon octicon-cloud-upload"></span>
    </span>

    <span class="list-group-icon success">
      <span class="octicon octicon-check"></span>
    </span>

    <input class="upload-choose-file js-upload-file-input" type="file" name="license" accept=".ghl">

    <h3 class="upload-step-title">
      <span class="for-invalid">License file</span>
      <span class="for-selected">License ready to upload</span>
      <span class="for-valid">Uploaded</span>
    </h3>

    <p>
      <span class="for-invalid">Your license file ends in <code>.ghl</code></span>
      <span class="for-selected"><span class="filename"></span> selected</span>
      <span class="for-valid">Valid license in place.</span>
    </p>

  </div>

</div>
