<% content_for :page_head do %>
  <h1>Authorize backup host access</h1>
  <p class="lead">
    In order to begin the restore operation, the backup host's SSH key must be authorized for access. Add the key below to continue.
  </p>
<% end %>

<form id="settings-form" action="/setup/upload/settings" enctype="multipart/form-data" method="POST">
  <%== csrf_tag %>
  <%== erb :"settings/authorized_keys", :locals => { :show_backup_copy => true } %>
</form>

<div class="page-actions">
  <a class="btn btn-primary js-submit" href="/setup/restore-start">Continue</a>
</div>
