<% content_for :page_head do %>
  <h1>Authentication Required</h1>
<% end %>

<div class="upload-wrapper">
  <p>Access to the Management Console for the root site administrator is locked.</p>

  <p>
    Please unlock it via the
    command line interface.
    <a target="ghe-docs" title="Learn more in our guides" href="<%= help_url %>/admin/configuration/configuring-your-enterprise/command-line-utilities#ghe-reactivate-admin-login"><span class="octicon octicon-question"></span></a>
  </p>
</div>
