<% content_for :page_head do %>
  <h1>Choose installation type</h1>
<% end %>

<div class="split-options-container">
  <div class="split-option">
    <form action="/setup/choose-install-type" method="post" class="upload-form">
      <button class="btn unstyled full-cover" type="submit"></button>
      <%== csrf_tag %>
      <h3>Set up a new instance</h3>
    </form>
    <p>Create a brand-new instance to use as a standalone instance, a primary node in a high availability configuration, or a new node in an existing cluster.</p>
  </div>

  <div class="split-option">
    <a href="/setup/backup-host-auth" class="full-cover"></a>
    <h3>Restore from a backup</h3>
    <p>Create a new instance using settings and data from GitHub Enterprise Server Backup Utilities.
</p>
  </div>

  <div class="split-option">
    <a href="/setup/repl-setup-ssh-access" class="full-cover"></a>
    <h3>Create a replica node</h3>
    <p>Create an instance to use as an additional node in an existing high availability or repository cache configuration.</p>
  </div>
</div>

<div class="split-options-metadata-container">
  <div class="split-option-metadata">
    <p>See <a href="<%= help_url %>/admin/installation/setting-up-a-github-enterprise-server-instance">"Setting up a GitHub Enterprise Server instance"</a> for more details.</p>
  </div>

  <div class="split-option-metadata">
    <p>See <a href="<%= help_url %>/admin/backing-up-and-restoring-your-instance/configuring-backups-on-your-instance#restoring-a-backup">"Restoring a backup"</a> for more details.</p>
  </div>

  <div class="split-option-metadata">
    <p>See <a href="<%= help_url %>/admin/monitoring-managing-and-updating-your-instance/configuring-high-availability/creating-a-high-availability-replica">"Creating a high availability replica"</a>
    for more details.</p>
  </div>
</div>
