<div class="monitor">

  <% unless @graph_host.nil? %>
    <iframe src="/setup/grafana/d/KMQgtFqnk/github-enterprise?orgId=1&var-root_dev=<%= @root_dev %>&var-block_dev=<%= @block_dev %>&var-graph_host=<%= @graph_host %>" class="grafana-embedded"></iframe>
  <% end %>

</div>
