<% content_for :javascript do %>
  <script src="<%= page_javascript("password") %>" type="text/javascript"></script>
<% end %>

<% errors ||= nil %>

<% content_for :page_head do %>
  <% if ::Manage::Authorization.init(get_user[:username]).password_set? %>
    <h1>Change password</h1>
  <% else %>
    <h1>Set password</h1>
  <% end %>

  <p class="lead">
    This password will be used to access the management console as well as the API.<br>
    SSH administrative access uses authorized SSH keys you've added instead of this password.
  </p>
<% end %>

<div class="js-error-messages">
  <p class="flash flash-error" id="authentication-failure">
    Current password is incorrect.
  </p>
</div>

<div class="upload-wrapper">
  <%== erb :auth_errors, :locals => {:errors => errors} %>

  <form action="password" method="post" class="password">
    <%== csrf_tag %>

    <% if ::Manage::Authorization.init(get_user[:username]).password_set? %>
      <div>
        <label class="label-heading" for="current_password">Current password</label>
        <input type="password" name="current_password" id="current_password" class="js-current-password">
      </div>
    <% end %>

    <%== erb :_password_form %>

    <div class="page-actions">
      <button type="submit" class="btn btn-primary js-save-password-button" disabled="disabled">Save password</button>
    </div>

  </form>

</div>
