<% content_for :page_head do %>
  <h1>Add your SSH key</h1>
  <p class="lead">
    In order to configure this server as a replica of another for High Availability, you must first add an SSH key so you can gain admin access over SSH. Add the key below to continue.
  </p>
<% end %>

<form id="settings-form" action="/setup/upload/settings" enctype="multipart/form-data" method="POST">
  <%== csrf_tag %>
  <%== erb :"settings/authorized_keys", :locals => { :show_backup_copy => true } %>
</form>

<div class="page-actions">
  <a class="btn btn-primary js-submit" href="/setup/repl-instructions">Continue</a>
</div>
