<% content_for :page_head do %>
  <h1>Set up replication</h1>
  <p class="lead">
    Follow the instructions below to configure High Availability, with this instance as the replica.
  </p>
<% end %>

<div class="restore-status-wrapper">

  <div class="restore-status-body">
    <p>
      Access this instance via SSH:
    </p>
    <code class="restore-command-instructions">ssh -p 122 admin@<%= request.host %></code>
  </div>

  <div class="restore-status-body">
    <p>
      Once connected, run the following command and follow the on-screen instructions:
    </p>
    <code class="restore-command-instructions">ghe-repl-setup [address-of-primary-instance]</code>
  </div>

  <div class="restore-status-body">
    <p>For more detailed instructions on configuring High Availability replication, please refer to <a href="<%= help_url %>/admin/guides/installation/configuring-github-enterprise-server-for-high-availability/">the documentation</a>.

</div>

<div class="js-complete-actions restore-complete-actions hidden">
  <a href="/setup/settings" class="btn btn-primary continue-install js-upload-license">Continue to settings</a>
</div>
