<% content_for :javascript do %>
  <script src="<%= page_javascript("restore_start") %>" type="text/javascript"></script>
<% end %>

<% content_for :page_head do %>
  <h1>Migrate your settings and data</h1>
  <p class="lead">
    Once you begin the restore process, following the instructions below, you can monitor the progress on this page.
  </p>
<% end %>

<div class="restore-status-wrapper">

  <div class="restore-status-header js-restore-header">

    <div class="restore-status-title">restore status</div>

    <h2 class="js-status js-status-default">Waiting for restore to begin</h2>

    <h2 class="js-status js-status-restoring hidden">
      Restoring... <span class="spinner-large restore-status-indicator"></span>
    </h2>

    <h2 class="js-status js-status-failed hidden">Failed
      <span class="list-group-icon failed restore-status-indicator">
        <span class="octicon octicon-x"></span>
      </span>
    </h2>

    <h2 class="js-status js-status-complete hidden">Complete
      <span class="list-group-icon success restore-status-indicator">
        <span class="octicon octicon-check"></span>
      </span>
    </h2>

  </div>

  <div class="restore-status-body js-restore-info">
    <p>To restore a backup from an instance where GitHub Actions was enabled, 
       you must first configure and enable Actions on this appliance. 
       See the guide on <a href="<%= help_url %>/admin/github-actions/advanced-configuration-and-troubleshooting/backing-up-and-restoring-github-enterprise-server-with-github-actions-enabled">backing up and restoring GitHub Enterprise Server with GitHub Actions enabled</a>.</p>
    <p>Begin the restore process by running the following command from the <strong>backup host</strong>:</p>
    <code class="restore-command-instructions">ghe-restore <%= request.host %></code>
  </div>

</div>

<div class="js-complete-actions restore-complete-actions hidden">
  <a href="/setup/settings" class="btn btn-primary continue-install js-upload-license">Continue to settings</a>
</div>
