<% content_for :javascript do %>
  <script src="<%= page_javascript("support") %>" type="text/javascript"></script>
<% end %>

<% content_for :body_class do %>page-support<% end %>

<% content_for :page_head do %>
  <h1>Support</h1>
  <p class="lead">
    If you're having problems and need help, <a href="https://support.github.com">contact GitHub support</a>.
  </p>
<% end %>

<h2>Documentation</h2>

<p>Review documentation for this release of GitHub Enterprise Server at <a target="docs" href="<%= help_url %>"/>https://docs.github.com/</a>.
</p>

<h2>Open Support Request</h2>

<p>
Open a ticket with the GitHub Enterprise support team. Basic system information such as license, hostname and local IP address will be collected and transmitted to our ticketing system. You will be redirected to the ticketing interface.
</p>

<button class="btn js-new-support-ticket custom-disabled" type="button">New support request</button>

<h2>Support Bundle</h2>

<p>
  If you're experiencing issues, providing us with a copy of your support bundle will greatly help us troubleshoot your issue.
</p>

<% if Manage.configuration_allowed? %>
  <button class="btn js-download-support-bundle custom-disabled" type="submit">Download support bundle</button>

  <span class="download-support-bundle-progress js-download-support-bundle-progress">
    <span class="spinner-large"></span>
    <span>Preparing the support bundle</span>
  </span>
<% else %>
  <p>
    While running in Clustering, support bundles are available by running the <code>ghe-cluster-support-bundle -u</code> command
    while logged into the server via SSH.
  </p>
<% end %>

<h2>Diagnostics</h2>

<p>
  Download information and run some tests to check network connectivity for your installation. Including this information with support requests helps with the troubleshooting process.
</p>

<% if Manage.configuration_allowed? %>
  <button class="btn js-diagnostics-info custom-disabled" type="submit">Download diagnostics info</button>
  <span class="download-diagnostics-progress js-download-diagnostics-progress">
    <span class="spinner-large"></span>
    <span>Preparing the diagnostics file</span>
  </span>
<% else %>
  <p>
    While running in Clustering diagnostics information is available by running the <code>ghe-cluster-diagnostics</code> command
    while logged into the server via SSH.
  </p>
<% end %>
