<div class="js-error-messages" <% if license_error %> data-error="<%= license_error.to_json %>"<% end %>>

  <p class="flash flash-error" id="license-error">
    Sorry, but your license file appears to be invalid.
  </p>

  <p class="flash flash-error" id="license-expired">
    Sorry, but the provided license has already expired.
  </p>

  <p class="flash flash-error" id="license-mismatch">
    Sorry, but the provided license doesn't match the installed license.
  </p>

  <p class="flash flash-error" id="package-error">
    Sorry, but the provided software package appears to be invalid.
  </p>

  <p class="flash flash-error" id="architecture-mismatch">
    Sorry, but the provided software package appears to be for the wrong architecture.
  </p>

  <p class="flash flash-error" id="no-disk-space">
    Sorry, but the installation ran out of disk space while uploading the package.
  </p>

  <p class="flash flash-error" id="config-in-progress">
    Oops! A configuration run is already in-progress. You can view it's status
    <a href="/setup/complete">here</a>.
  </p>

  <p class="flash flash-error" id="unexpected-error">
    Sorry, but there was a problem uploading your packages.
  </p>

  <%== erb :auth_errors, :locals => { :errors => auth_errors } %>
</div>
