<%= render(Primer::Alpha::Banner.new(full: true, scheme: :warning, icon: :alert)) do |component| %>
  <span class="text-bold">
    Your coupon has expired and we don't have a valid payment on file for the <%= business.name %> enterprise. Please
    <%= link_to("update your payment method", settings_billing_tab_enterprise_path(business, tab: :payment_information), class: "Link--inTextBlock") %>.
  </span>
  <a class="Link--inTextBlock" href="<%= contact_path %>">Contact support</a> with any questions.
<% end %>
