<div class="mb-3" <%= test_selector("emu-first-admin-members-blankslate") %>>
  <%= render Primer::Beta::Blankslate.new(border: true) do |c| %>
    <% c.with_visual_icon(icon: "people") %>
    <% c.with_heading(tag: :h2) { heading } %>
    <% c.with_description do %>
      <p>
        To create, manage, and deactive user accounts for your enterprise members, your IdP must implements SCIM for communication with GitHub.
      </p>
      <p>
        <%= render(Primer::Beta::Link.new(href: "#{GitHub.help_url}/admin/managing-iam/provisioning-user-accounts-with-scim/configuring-scim-provisioning-for-users#configuring-provisioning-for-enterprise-managed-users", text_size: :small)) { "Read our guide to configure SCIM provisioning" } %>
      </p>
    <% end %>
  <% end %>
</div>
