<%= render(Primer::Alpha::Banner.new(full: true, scheme: :warning, icon: :alert)) do |component| %>
  <span class="text-bold">
    We couldn't process your payment for the <%= business.name %> enterprise. Your account has been approved
    for manual payments. You can convert your trial through the
    <%= link_to("new payment page", billing_settings_one_time_payment_enterprise_path(business), class: "Link--inTextBlock") %>.
  </span>
<% end %>
