<li class="d-flex flex-items-center flex-justify-end member-list-item js-bulk-actions-item border border-top-0" data-bulk-actions-id="1">
  <%= render(Organizations::Settings::MemberAvatarAndProfileLinkComponent.new(user: assigned_user, org: organization, show_admin_stuff: true)) %>
  <div <%= test_selector("copilot-recent-activity") %> class="text-center color-fg-muted  py-3 f5 flex-shrink-0 pr-3">
    <% if last_activity_at.to_i.zero? %>
      No activity
    <% else %>
      Last usage <relative-time datetime="<%= last_activity_at.utc.iso8601 %>"></relative-time>
    <% end %>
  </div>
  <div class="text-left color-fg-muted  py-3 pr-3 f5 flex-shrink-0 pr-3">
    <% if pending_cancellation_date.present? %>
      Removing on <%= pending_cancellation_date %>
    <% end %>
  </div>
</li>
