<div id="seat-management-table">
  <ul class="table-list-bordered adminable">
    <% display_seats.each do |seat| %>
      <%= render Copilot::SeatManagement::AllUserListItemComponent.new(organization, seat) %>
    <% end %>
  </ul>
  <div class="paginate-container">
    <%= will_paginate seats.paginate(page: page, per_page: per_page), params: { controller: "seat_management" } %>
  </div>
</div>
