<div class="ml-4 mb-3">
  <div>
    <strong>Project website:</strong>
    <% if sponsorable.sponsors_fiscally_hosted_project_profile_url.present? %>
      <a href="<%= sponsorable.sponsors_fiscally_hosted_project_profile_url %>" rel="noopener noreferrer" target="_blank">
        <%= sponsorable.sponsors_fiscally_hosted_project_profile_url %>
      </a>
    <% else %>
      <span class="color-fg-muted text-italic">No information known about project.</span>
    <% end %>
    <p class="note mt-1">
      For Open Source Collective projects, make sure their Open Collective profile shows Open Source Collective
      as their fiscal host (Open Collective projects can have one of several fiscal hosts).
    </p>
  </div>
</div>
