<div class="ml-4 mb-3">
  <div>
    <strong>Profile site:</strong>
    <% if sponsorable.profile_blog.present? %>
      <a href="<%= sponsorable.profile_blog %>" rel="noopener noreferrer" target="_blank">
        <%= sponsorable.profile_blog %>
      </a>
    <% else %>
      <span class="color-fg-muted text-italic">Not set</span>
    <% end %>
  </div>
  <div>
    <strong>Twitter:</strong>
    <% if sponsorable.profile_twitter_username.present? %>
      <%= link_to "@#{sponsorable.profile_twitter_username}", sponsorable.profile&.twitter_url, rel: "noopener noreferrer", target: "_blank" %>
    <% else %>
      <span class="color-fg-muted text-italic">Not set</span>
    <% end %>
  </div>
</div>
