<% if view.innersource_advisories_enabled? %>
  <div class="discussion-sidebar-item">
    <%= render Primer::Beta::Heading.new(tag: :h3, mb: 2, font_size: 6).with_content("Advisory Type") %>
    <div class="color-fg-muted" <%= test_selector("advisory-type-metadata") %>>
      <%= render Primer::Beta::Label.new(scheme: :secondary, mr: 1, font_weight: :normal) do %>
        Innersource
      <% end %>
    </div>
  </div>
<% end %>
