<% if credits.present? %>
  <div class="js-repository-advisory-details discussion-sidebar-item" <%= "hidden" if local_assigns[:hidden] %> <%= test_selector("advisory-credits") %>>
    <%= render Primer::Beta::Heading.new(tag: :h3, mb: 2, font_size: 6, aria: {label: "Advisory Credits"}).with_content("Credits") %>

    <ul class="list-style-none">
      <% credits.each do |credit| %>
        <%= render partial: "repos/advisories/credits/row", locals: { view: credit } %>
      <% end %>
    </ul>
  </div>
<% end %>

