<div class="discussion-sidebar-item">
  <%= render Primer::Beta::Heading.new(tag: :h3, mb: 2, font_size: 6).with_content("CVE ID") %>
  <div class="color-fg-muted" <%= test_selector("advisory-metadata-cve-identifier") %>>
    <%= advisory.cve_id.present? ? advisory.cve_id : "No known CVE" %>
  </div>
</div>
