<div class="discussion-sidebar-item">
  <%= render Primer::Beta::Heading.new(tag: :h3, mb: 2, font_size: 6).with_content("GHSA ID") %>
  <div class="color-fg-muted"><%= advisory.ghsa_id %></div>
</div>
