<% unless view.show_dependabot_alerts_tab? %>
  <div class="discussion-sidebar-item">
    <div class="mb-5">
      <div class="color-fg-muted" <%= test_selector("advisory-not-alertable") %>>
          <p><%= view.dependabot_alerts_not_supported_message %></p>
        <p>
          <a href="https://docs.github.com/get-started/learning-about-github/github-language-support#about-supported-languages">
            Learn more about GitHub language support
          </a>
        </p>
      </div>
    </div>
  </div>
<% end %>
