<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% if integration_feature.errors.present? %>
  <%= render(Primer::Beta::Flash.new(scheme: :danger, full: true)) do %>
    <ul>
      <% integration_feature.errors.full_messages.each do |error_message| %>
        <li><%= error_message %></li>
      <% end %>
    </ul>
  <% end %>
<% end %>
