<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<div>
  <button type="button" class="ml-3 d-none d-md-block btn-link color-fg-muted no-underline select-menu-button" aria-haspopup="menu" data-toggle-for="dependency-insights-license-filter">
    License
  </button>

  <details class="details-reset details-overlay select-menu hx_rsm flex-shrink-0 position-relative"
           id="dependency-insights-license-filter"
           data-deferred-details-content-url="<%= view.license_menu_content_path %>">
    <summary tabindex="-1" aria-label="License"></summary>
    <details-menu class="select-menu-modal position-absolute right-0" style="z-index: 1000;" role="dialog" aria-label="Filter license menu"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
      <div class="select-menu-header">
        <span class="select-menu-title">Filter by license</span>
        <%= render Primer::Beta::CloseButton.new(classes: "hx_rsm-close-button btn-link", "data-toggle-for": "dependency-insights-license-filter", "aria-label": "Close menu") %>
      </div>
      <div class="select-menu-filters">
        <div class="select-menu-text-filter">
          <input type="text" id="license-filter-field" class="form-control js-filterable-field" placeholder="Filter license" aria-label="Filter license" autocomplete="off" autofocus>
        </div>
      </div>
      <include-fragment class="m-4 d-flex flex-column flex-items-center" role="progressbar">
        <%= render(Primer::Beta::Spinner.new) %>
        <div class="color-fg-muted no-wrap">Loading licenses&hellip;</div>
      </include-fragment>
    </details-menu>
  </details>
</div>
