<%# erblint:counter ButtonComponentMigrationCounter 5 %>
<details class="d-md-none details-reset details-overlay select-menu flex-shrink-0 position-relative">
  <summary class="btn-link color-fg-muted no-underline pr-2">
    <%= primer_octicon(:"kebab-horizontal") %>
  </summary>
  <details-menu class="dropdown-menu dropdown-menu-sw top-0 mt-4" style="width: auto"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
    <button type="button" class="dropdown-item text-left btn-link" role="menuitem" data-toggle-for="dependency-insights-license-filter">Filter by license</button>
    <button type="button" class="dropdown-item text-left btn-link" role="menuitem" data-toggle-for="dependency-insights-ecosystem-filter">Filter by ecosystem</button>
    <% if view.multi_organization_scope? %>
      <button type="button" class="dropdown-item text-left btn-link" role="menuitem" data-toggle-for="dependency-insights-organization-filter">Filter by organization</button>
    <% end %>
    <button type="button" class="dropdown-item text-left btn-link" role="menuitem" data-toggle-for="dependency-insights-sort-filter">Sort by</button>
  </details-menu>
</details>
