.noAssigneeContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: calc(var(--base-size-2) * -1);
  border-radius: 100%;
}

.assigneeIconLink {
    overflow: visible !important;
    text-decoration: none;
    box-shadow: none !important;
}
