.authorDescriptionWrapper {
  display: flex;
  white-space: nowrap;
  flex-direction: row;
  column-gap: var(--base-size-8);
  flex-wrap: wrap;
}

.additionsDeletionsWrapper {
  display: flex;
  flex-direction: row;
  gap: var(--base-size-8);
}
