.articlePageBody{
  &[data-color-mode='light'] {
  --brand-color-accent-primary: var(--base-color-scale-purple-5);
}

 &[data-color-mode='dark']  {
  --brand-color-accent-primary: var(--base-color-scale-purple-1);
}
}


.articleCol {
  order: 1;
}

.asideCol {
  order: 2;
}

.heroImageArea {
  overflow: hidden;
}

.heroImage {
  display: block;
  width: 100%;
}
