<%
  has_next_page = pinnable_items.next_page.present?
  next_page_url = has_next_page ? sponsorable_dashboard_profile_pinnable_repos_path(
    sponsorable_login, page: pinnable_items.next_page
  ) : ""
%>
<div data-pagination-src="<%= next_page_url %>"></div>
<% pinnable_items.each_with_index do |pinnable_item, i| %>
  <%= render Sponsors::Profile::PinnableRepoComponent.new(
    pinnable_item: pinnable_item,
    is_first_item: i == 0,
    is_pinned: pinned_items.include?(pinnable_item),
    pinned_items_remaining: pinned_items_remaining,
    this_user: current_user
  ) %>
<% end %>
