<% content ||= wiki_data(page, "page") %>
<% if content.toc && content.toc.count > 0 %>
  <ul class="list-style-none mx-4 px-1">
    <% content.toc.each do |entry| %>
      <% segment = entry[:anchor] ? "##{entry[:anchor]}" : nil %>
      <li class="my-2" style="padding-left: <%= entry[:level] * 12 %>px;">
        <%= link_to entry[:text],
                    "#{wiki_page_path(page)}#{segment}",
                    class: "Link--primary",
                    data: {
                      **analytics_click_attributes(
                        category: "Wiki",
                        action: "toc_click"
                      )
                    }
        %>
      </li>
    <% end %>
  </ul>
<% end %>
