<%# rubocop:disable Lint/InstanceVariable %>
<% page_info(
    selected_link: :repo_wiki,
    container_xl: true,
    title: "Create new page · #{current_repository.name_with_display_owner} Wiki",
    dashboard_pinnable_item_id: current_repository.global_relay_id
  )
%>

<%= render layout: "layouts/repository_container", locals: { repository: current_repository } do %>
  <div class="clearfix container-xl px-3 px-md-4 px-lg-5 mt-4 outer" id="wiki-wrapper">
    <div class="gh-header">
      <h1 class="gh-header-title mr-0">Create new page</h1>
    </div>

    <div id="wiki-content" class="create">
      <div id="gollum-editor" class="pt-2 mt-2 mb-6 create gollum-editor">
        <%= form_tag wikis_path, :name => 'gollum-editor', "data-warn-unsaved-changes": "Your changes will be lost." do -%>
          <%= render :partial => 'editors/gollum',
              :locals => { :editor => @editor } %>
        <% end -%>
      </div>
    </div>
  </div>
<% end %>

<% content_for :scripts do %><%# erblint:disable NoContentForScripts %>
  <%= javascript_bundle 'wiki' %>
<% end -%>
