<article class="border rounded color-shadow-small color-bg-default my-4">
  <div class="video-responsive">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PL0lo9MOBetEE0goMLEl97vO7slruNVj43" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </div>
  <div class="border-top color-bg-default p-3 rounded-bottom-2">
    <h2 class="f6 color-fg-muted mb-3">
      <%= render(Primer::Beta::Octicon.new(:"video")) %>
      The Download
    </h2>
    <div class="d-flex">
      <h3 class="h3 color-fg-default wb-break-word mb-2">
      <a
        href="https://www.youtube.com/playlist?list=PL0lo9MOBetEE0goMLEl97vO7slruNVj43"
        <%= safe_analytics_click_attributes(
          category: "Explore",
          action: "Go to the Download",
          label: "logged_in:#{current_user.present?}"
        ) %>>
      Get the latest developer and open source news</a>
      </h3>
    </div>
    <div class="markdown-body f5 mb-2 color-fg-muted">
      <p>Join Senior Developer Advocate Christina Warren for all the latest developer, open source, and GitHub news.</p>
    </div>
  </div>
</article>
