<div class="mb-4" <%= test_selector("user-secrets-panel") %>>
  <%= render Primer::Beta::Subhead.new do |component| %>
    <% component.with_heading(tag: :h2) do %>Secrets<% end %>
  <% end %>
  <%= render_react_partial name: "actions-secrets-variables-list", props: {
    items: secrets,
    scope: Secrets::Helper::CODESPACE_USER_SCOPE,
    crudUrls: {
      editUrls: edit_secret_urls,
      deleteUrls: delete_secret_urls,
    },
    tableActionProps: {
      url: new_codespaces_user_secret_path,
      message: "New secret",
      # The keyId is an integer greater than javascript's Number.MAX_SAFE_INTEGER, so we need to pass it as a string
      # so it can be used in React components
      keyId: "#{public_key[0]}"
    },
    mode: Secrets::Helper::SECRET_MODE,
    description: {
      text: clarify_dev_env ?
        "Development environment secrets are environment variables that are encrypted. They are available to any codespace you create using repositories with access to that secret. " :
        "Secrets are environment variables that are encrypted and only exposed to Codespaces you create. ",
      contextUrl: GitHub.help_url + "/codespaces/managing-your-codespaces/managing-your-account-specific-secrets-for-github-codespaces",
      contextLinkText: "Learn more"
    }
  } %>
</div>
