<div class="m-1">
  <div class="mb-1">
    <%= error_message %>
  </div>
  <% if suggested_usernames.present? %>
    <%= render "account/suggested_usernames", suggested_usernames: suggested_usernames, source: source %>
  <% end %>
</div>
