<div class="d-md-flex flex-items-stretch gutter-md-spacious text-center mb-8">
  <div class="col-md-6 mb-3 mb-md-0">
    <%= render partial: "signup/free_plan" %>
  </div>
  <div class="col-md-6 mb-3 mb-md-0">
    <%= render partial: "signup/pro_plan" %>
  </div>
</div>

