<%# erblint:counter GoogleAnalyticsDeprecation 2 %>
<div role="tablist" class="d-flex flex-items-stretch subnav">
  <button
    type="button"
    class="subnav-item col-6 py-3 px-3 px-md-4"
    data-ga-click="Signup funnel plan selection, click, text: Individuals; meta: user_id: <%= current_user&.analytics_tracking_id %>;"
    role="tab"
    aria-selected="true">
    <div class="d-flex flex-column flex-items-center">
      <div class="h4 mb-1">Plans for your personal account</div>
      <div class="d-none d-md-block f6 px-0 text-normal">
        Pick the plan that's right for your personal projects.
      </div>
    </div>
  </button>
  <button
    type="button"
    class="subnav-item col-6 py-3 px-3 px-md-4"
    data-ga-click="Signup funnel plan selection, click, text: Teams; meta: user_id: <%= current_user&.analytics_tracking_id %>;"
    role="tab"
    aria-selected="false">
    <div class="d-flex flex-column flex-items-center">
      <div class="h4 mb-1">Plans for organizations</div>
      <div class="d-none d-md-block f6 px-0 text-normal">
        Choose a plan that'll help your organization grow.
      </div>
    </div>
  </button>
</div>
