<% page_info title: "Get started with GitHub" %>

<div class="container-lg my-5 my-md-8">
  <h1 class="text-center">What do you want to do first?</h1>
  <p class="text-center mb-4">Every developer needs to configure their environment, so let's get your GitHub experience optimized for you.</p>

  <div class="d-flex flex-md-row flex-column text-center flex-justify-center flex-items-center">
    <% get_started_cta_details.each do |cta| %>
      <%= render partial: "signup/cta_card", locals: {
        title: cta[:title],
        description: cta[:description],
        button_text: cta[:button_text],
        button_link: cta[:button_link],
        svg_path: cta[:svg_path],
        svg_dark_path: cta[:svg_dark_path],
        max_width: 280,
        event_type: cta[:event_type]
      } %>
    <% end %>
  </div>
  <div class="text-center my-4">
    <a href="/" <%= safe_data_attributes(signup_cta_button_attributes(:skip)) %>>Skip this for now &gt;</a>
  </div>
</div>
