<div class="p-2" data-hpc>
  <p>This is Rails</p>
  <%= render_react_partial name: "react-partial-example", ssr: false, props: { message: "This is React!" } %>
  <p>This is also Rails</p>

  <br><br>

  <p>This is a Rails rendered anchor:</p>
  <div>
    <react-partial-anchor>
      <%= render Primer::Beta::Button.new(
        classes: "cursor-wait",
        disabled: true,
        data: {
          target: "react-partial-anchor.anchor"
        }
      ) do %>
        Rails Button - Open React Menu
      <% end %>
      <template data-target="react-partial-anchor.template">
        <%= render_react_partial name: "react-partial-anchor-example", props: { message: "click me!" }, ssr: false %>
      </template>
    </react-partial-anchor>
  </div>
</div>
