<div class="px-4 py-6 prose text-lookbook-prose-text bg-lookbook-prose-bg prose-a:text-lookbook-prose-link" style="max-width: 100%" data-accessibility-panel>
  <div data-results="violations"></div>
  <div data-results="incompletes"></div>
  <div data-results="passes"></div>
</div>
