<%# erblint:counter DeprecatedComponentsCounter 1 %>

<div class="mb-6">
  <% if this_business.action_invocation_blocked? %>
    <%= form_tag action_invocation_stafftools_enterprise_path(this_business) do %>
      <%= render Primer::ButtonComponent.new(type: :submit, float: :right) do %>Unblock<% end %>
    <% end %>
    <p>Action invocation for <%= this_business.name %> is <strong>blocked</strong>.</p>
  <% else %>
    <p>Action invocation for <%= this_business.name %> is <strong>not blocked</strong>.</p>
  <% end %>
</div>
