<% if repo.dco_signoff_enabled? %>
  <p class="mb-2 f6 color-fg-muted">
    <label for="<%= label_for %>" class="text-normal">
    <% if choose_email %>
      Choose an email address for <a class="Link--inTextBlock" href="<%= DcoSignoffHelper::dco_signoff_help_url %>" target="_blank" rel="noopener noreferrer">signing off</a> on this commit
    <% else %>
      You are <a class="Link--inTextBlock" href="<%= DcoSignoffHelper::dco_signoff_help_url %>" target="_blank" rel="noopener noreferrer">signing off</a> on this commit as <%= current_user.git_author_email %>
    <% end %>
    </label>
  </p>
<% end %>
