<%# erblint:counter DeprecatedComponentsCounter 1 %>
<li>
  <div class="float-left" <%= test_selector "pin-repo-button" %>>
    <%= form_tag repository_profile_pin_path(owner, repository), method: form_method  do %>
      <%= render Primer::ButtonComponent.new(type: :submit, variant: :small, title: title, disabled: button_disabled?) do |c| %>
        <% c.with_leading_visual_icon(icon: :pin) %>
        <%= form_label %>
      <% end %>
    <% end %>
  </div>
</li>
