<% content_for :content do %>
  <main>
    <%= render layout: "layouts/repository/security", locals: { selected_tab: :bypass_requests } do %>
      <%= yield %>
    <% end %>
  </main>
<% end %>
<%= render template: "layouts/application" %>
