<%= render(Primer::Beta::BorderBox.new(border_color: :danger, mt: 3)) do |component| %>
  <% component.with_header(border_color: :danger, color: :danger) do |header| %>
    <% header.with_title(tag: :h4) do %>
      Reject verification request
    <% end %>
  <% end %>

  <% component.with_body do %>
    <div class="clearfix">
      <%= render Primer::Beta::Button.new("data-removing": "false", scheme: :danger, classes: "js-remove-reject-verification btn line-item-value") do %>Reject
      <% end %>
      <p>This publisher does not meet all requirements</p>
    </div>
  <% end %>
<% end %>
