<%= render(Primer::Beta::BorderBox.new(border_color: :danger, mt: 3)) do |component| %>
    <% component.with_header(border_color: :danger, color: :danger) do |header| %>
      <% header.with_title(tag: :h4) do %>
        Remove creator
      <% end %>
    <% end %>

    <% component.with_row do %>
      <p>Remove verification for creator: <b><%= "#{creator.login}" %></b>?</p>
    <% end %>

    <% component.with_row do %>
      <%= render Primer::Beta::Button.new("data-removing": "true", scheme: :danger, classes: "js-remove-reject-verification btn") do %>
      Remove
      <% end %>
    <% end %>
  <% end %>
