<%= render(Primer::Beta::BorderBox.new(mt: 3)) do |component| %>
  <% component.with_header do |h| %>
    <% h.with_title(tag: :h4) do %>
        Verify publisher
    <% end %>
  <% end %>

  <% component.with_body do %>
    <div class="clearfix">
      <%= button_to biztools_marketplace_creator_verification_verify_path(creator_id: creator.id, query: params[:query], state: params[:state], verify: true),
          form_class: "d-inline", class: "btn btn-sm btn line-item-value",
          data: {confirm: "Are you sure you want to verify #{creator.login}?"},
          "aria-label": "Verify #{creator.login}" do %>
          Verify
      <% end %>
      <p>This publisher meets all requirements</p>
    </div>
  <% end %>
<% end %>
