<% content_for :header do %>
  We're making changes to GitHub Enterprise Importer's IP addresses
<% end %>

<p>
  We're making changes to the IP addresses used by GitHub Enterprise Importer for outbound network connections.
</p>

<p>
  You will need to add our new IP range, <span style="font-family: monospace !important;">20.125.12.8/29</span>, to the following IP allow lists, if enabled:
<p>

<ul style="list-style-position: inside">
  <li>The IP allow list on your destination GitHub.com organization or enterprise</li>
  <li>If you're running migrations from GitHub.com, the IP allow list on your source GitHub.com organization or enterprise</li>
  <li>If you're running migrations from GitHub Enterprise Server, Bitbucket Server or Bitbucket Data Center, the IP allow list on your configured Azure Blob Storage or Amazon S3 storage account</li>
  <li>If you're running migrations from Azure DevOps, the IP allow list on your Azure DevOps organization</li>
</ul>

<p style="margin-top: 10px">
  For a full list of our IP ranges and more information, see <a href="https://docs.github.com/migrations/using-github-enterprise-importer/preparing-to-migrate-with-github-enterprise-importer/managing-access-for-github-enterprise-importer#configuring-ip-allow-lists-for-migrations">"Configuring IP allow lists for migrations"</a> in the GitHub Docs.
</p>

<p>
  This change will take affect at 00:00 UTC on November 8, 2023. If you don't update your IP allow lists by this date, migrations may stop working.
</p>

<p>
  If you don't use IP allow lists or if you're not planning to run more migrations with GitHub Enterprise Importer, you can ignore this message.
</p>

<% content_for :footer_text do %>
  You're receiving this email because you have run at least one migration using GitHub Enterprise Importer in the last 90 days.
<% end %>
