<% content_for :header do %>
  Correction: Update your IP allow lists for GitHub Enterprise Importer
<% end %>

<p>
  Within the last 24 hours, we sent you an email alert about changes to the IP addresses used by GitHub Enterprise Importer for outbound network connections.
</p>

<p>
  That message <b>contained an incorrect date and time when the changes will take effect</b>. The email said "00:00 UTC on September 18, 2023", but <strong>the correct deadline is 00:00 UTC on November 8, 2023</strong>.
</p>

<p>
  This change to our IP addresses, which takes effect on November 8, is separate from a previous set of changes announced in August which took effect on September 18.
</p>

<p>Apologies for any confusion or inconvenience that the original incorrect message may have caused.</p>

<% content_for :footer_text do %>
  You're receiving this email because you were sent an earlier incorrect email about changes to the IP addressed used by GitHub Enterprise Importer.
<% end %>
