<% content_for :header do %>
  Ending support for the Source Imports REST API
<% end %>

<p>
  You're receiving this email because one of your personal access tokens or apps has used the <a href="https://docs.github.com/rest/migrations/source-imports">Source Imports REST API</a> in the last 90 days.
</p>

<p>
  We're ending support for this API on April 12, 2024 due to very low levels of usage and the alternatives available.
</p>

<p>
  It will no longer be available from 00:00 UTC on April 12, 2024. From this date onwards, any requests to this API will receive an error response.
</p>

<p>
  We know that changes like this have a big impact, and we're sorry for any inconvenience caused.
</p>

<p>
  To give you time to adapt, we're giving 6 months' notice about this change. We've also published a new article on the GitHub Docs, <a href="https://docs.github.com/migrations/overview/programmatically-importing-repositories">"Programatically importing repositories"</a>, explaining how you can replace this API in your application.
</p>

<p>
  If you have any questions about this change, please reach out to <a href="https://support.github.com">GitHub Support</a>, and we'll be happy to help.
</p>

<% content_for :footer_text do %>
  You're receiving this email because one of your personal access tokens or apps has used the <a href="https://docs.github.com/rest/migrations/source-imports">Source Imports REST API</a> in the last 90 days.
<% end %>
