<%
  items = nil if local_assigns[:items].nil?
  ref_loc = "" if local_assigns[:ref_loc].nil?
%>

<% if items %>
  <unveil-container data-load-on="visible" class="d-flex flex-row flex-justify-start flex-wrap">
    <%
      items_digest = Digest::SHA256.hexdigest(items.to_json)
      cache_key = "site_features_category_items_1.0.1_#{items_digest}"
    %>

    <% cache cache_key do %>
      <% items.each_with_index do |item, i| %>
        <%= render "site/features/category_item",
          title: item.title,
          description: item.description,
          badge: item.badge,
          button_link: item.button_link,
          ref_loc: ref_loc,
          index: i,
          feature_flag: item.feature_flag,
          not_feature_flag: item.not_feature_flag %>
      <% end %>
    <% end %>

    <% if items.length > 3 %>
      <button
        type="button"
        aria-expanded="false"
        class="d-block d-md-none mb-4 btn-mktg btn-muted-mktg"
        data-target="unveil-container.unveilElement"
        data-action="click:unveil-container#unveil"
        <%= safe_analytics_click_attributes(
          category: "Features",
          action: "click to view more features",
          label: "ref_page:#{request.path};ref_cta:Show more features;ref_loc:#{ref_loc}"
        ) %>
      >
        Show more features
      </button>
    <% end %>
  </unveil-container>
<% end%>
