<div class="py-8 px-2 container-xl">
  <div class="col-8-max mx-auto pb-4 p-responsive text-center">
    <h2 class="h2-mktg mb-3">Ready to get started?</h2>
    <div class="my-3">
      <%= render Site::LinkComponent.new(
        text: "View pricing and plans",
        url: "/pricing",
        size: :medium,
        analytics: {
          category: "Features",
          action: "click to learn more about Pricing",
          label: "ref_page:#{request.path};ref_cta:View pricing and plans;ref_loc:features pricing footer section"
        }
      ) %>
    </div>
  </div>
  <%= render partial: "site/pricing/cards", locals: { context: "pricing", show_features: false, bottom_up_menu: true, monthly_only: true } %>
</div>
