<ul>
  <% external_members.each do |member| %>
    <li class="Box-row d-flex flex-items-center">
      <span class="flex-auto">
        <%= avatar_for member, 20, class: :avatar %>
        <%= link_to member.login, stafftools_enterprise_external_identity_path(business.slug, member.login) %>
      </span>
    </li>
  <% end %>
</ul>
