<table class="site-admin-table">
  <thead>
    <th>ID</th>
    <th>Guid (SCIM User ID)</th>
    <th>Name ID</th>
    <th>User Name</th>
  </thead>
  <tbody>
    <% unlinked_identities.each do |identity| %>
      <tr>
        <td>
          <%= link_to identity.id, unlinked_external_identity_stafftools_enterprise_external_identities_path(business.slug, identity.id) %>
        </td>
        <td>
          <%= identity.guid %>
        </td>
        <td>
          <%= identity.name_id %>
        </td>
        <td>
          <%= identity.user_name %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
