.headingContainer {
  overflow: hidden;
  border: var(--borderWidth-thin) solid var(--borderColor-muted, var(--color-border-muted));
  border-radius: var(--borderRadius-medium);
}

.header {
  /* stylelint-disable-next-line primer/spacing */
  padding: var(--stack-padding-condensed) var(--stack-padding-normal);
  font-size: var(--text-body-size-medium);
  background-color: var(--bgColor-muted, var(--color-canvas-subtle));
  border-bottom: var(--borderWidth-thin) solid var(--borderColor-muted, var(--color-border-muted));
}

.headerText {
  display: flex;
  min-height: var(--base-size-32);
  align-items: center;
}

.headerLimitText {
  padding-left: var(--base-size-4);
  color: var(--fgColor-muted);
}
