.muted {
  color: var(--fgColor-muted);
}

.topBox {
  display: flex;
  width: 100%;
  flex-direction: row;
  gap: var(--stack-gap-normal);
  justify-content: space-between;
}

.shieldWidth {
  min-width: 80px;
  text-align: right;
}
