<h3 class="text-normal pb-2 border-bottom mb-3 mt-4">Inactive customers</h3>
<p class="f4">See the users who have purchased your app but have not installed it.<p>
<div class="d-flex flex-column flex-sm-row gutter-sm flex-sm-items-center">
  <div class="col-sm-4">
    <p class="h1"><%= number_with_delimiter(view.total_subscribed_customers) %></p>
    <p class="text-small mb-0">Subscribed customers</p>
  </div>
  <div class="col-sm-5">
    <div>
      <p class="h1"><%= number_with_delimiter(view.total_pending_installations) %></p>
      <p class="text-normal color-fg-muted f5">
        <%= view.pending_installations_tooltip %>
      </p>
    </div>
    <p class="text-small mb-0">Customers who have not installed the app</p>
  </div>
  <div class="col-sm-3 d-flex flex-sm-justify-end">
    <%=
      link_to(
        "Export CSV",
        marketplace_listing_insights_inactive_customers_path(format: :csv),
        class: "btn btn-primary mt-3 mt-sm-0 mr-sm-3 btn-block"
      )
    %>
  </div>
</div>
