<% page_info title: "Vulnerabilities", selected_link: :vulnerabilities %>

<%= render layout: "stafftools/stafftools" do %>
  <div class="clearfix mb-3">
    <div class="Box Box--condensed mb-2">
      <div class="Box-header">
        <h5>Sync Vulnerability Data</h5>
      </div>
      <div class="Box-body container-lg">
        <p>
          New & updated vulnerability data will automatically be fetched from github.com every hour.<% if sync_data[:show] %> The last sync ran <%= time_ago_in_words_js Time.at(sync_data[:last_synced_at]) %>.<% end %>
        </p>
        <p>
          Synced vulnerabilities can be accessed at <%= link_to(global_advisories_path, global_advisories_url, class: "Link--inTextBlock") %>. If something looks wrong or historical data seems to be missing, use the button below to manually re-sync the full data set.
        </p>
      </div>
      <div class="Box-footer">
        <%= button_to "Sync Vulnerabilities Now", enqueue_dotcom_sync_stafftools_vulnerabilities_path, {
            method: :post, class: "btn", form_class: "d-inline mr-1"
        } %>
        <span class="text-small color-fg-muted">Warning: this is a long-running job that may take a few hours to complete.</span>
      </div>
    </div>
  </div>
<% end %>
