<% if Rails.env.development? && !GitHub.passkeys_enabled? %>
  <p class="mb-0"> Enable SSL for passkey login </p>
  <% if GitHub.enterprise? %>
    <p class="mb-0"> If running in enterprise mode, try launching the server with ENTERPRISE_PASSKEYS_ENABLED=1 and GH_SSL=1</p>
  <% end %>
<% end %>
<% if show_passkey_login? %>
  <webauthn-subtle class="js-webauthn-subtle" hidden>
    <p class="mb-0 mt-0 js-webauthn-subtle-emu-control">
      <%= render(Primer::Beta::Button.new(
        type: :button,
        scheme: :link,
        "data-action": "click:webauthn-subtle#prompt"
      )) do |b| %>
        Sign in with a passkey
      <% end %>
    </p>
  </webauthn-subtle>
<% end %>
