<% if show_reset_button %>
  <%= render Primer::Beta::Button.new(
    tag: :a,
    block: true,
    href: trusted_device_registration_prompt_path(return_to: params[:return_to], reset: true),
    "aria-label": "Register a different passkey",
    mt: 2,
  ) do %>
    Register a different passkey
  <% end %>
<% end %>

<div class="text-center mt-3">
  <%= button_to cancel_button_text, trusted_device_decline_path, class: "btn-link" %>
</div>
