<ul>
  <% members.each do |member| %>
    <li class="Box-row d-flex flex-items-center">
      <span class="flex-auto">
        <%= avatar_for member, 20, class: :avatar %>
        <strong><%= link_to member.login, stafftools_user_path(member), :class => "member-username" %></strong>
        <% unless member.profile_name.blank? %>
        <span class="member-fullname"><%= member.profile_name %></span><br>
      <% end %>
      </span>
    </li>
  <% end %>
</ul>
