<li class="mr-3" <%= test_selector "footer_manage_cookies_link" %>>
  <cookie-consent-link>
    <button
      type="button"
      class="Link--secondary underline-on-hover border-0 p-0 color-bg-transparent"
      data-action="click:cookie-consent-link#showConsentManagement"
      <%= safe_analytics_click_attrs_marketing(action: "cookies", tag: "link", context: "subfooter", location: "footer") %>
    >
      Manage cookies
    </button>
  </cookie-consent-link>
</li>

<li class="mr-3">
  <cookie-consent-link>
    <button
      type="button"
      class="Link--secondary underline-on-hover border-0 p-0 color-bg-transparent"
      data-action="click:cookie-consent-link#showConsentManagement"
      <%= safe_analytics_click_attrs_marketing(action: "dont_share_info", tag: "link", context: "subfooter", location: "footer") %>
    >
      Do not share my personal information
    </button>
  </cookie-consent-link>
</li>
