<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%= form_tag site_admin_and_employee_status_path, method: :patch, class: "js-stats-toggle" do %>
  <%= render Primer::ButtonComponent.new(type: :submit, scheme: :link, "data-hotkey": "`,Shift+S") do %>
    Site admin mode
    <span class="js-site-admin-mode-state">
      <%= site_admin? || employee? ? "on" : "off" %>
    </span>
  <% end %>
<% end %>
