<%# erblint:counter ClipboardCopyComponentMigrationCounter 2 %>
<%# erblint:counter ButtonComponentMigrationCounter 2 %>
<template id="snippet-clipboard-copy-button">
  <div class="zeroclipboard-container position-absolute right-0 top-0">
    <clipboard-copy aria-label="Copy" class="ClipboardButton btn js-clipboard-copy m-2 p-0" data-copy-feedback="Copied!" data-tooltip-direction="w">
      <%= render(Primer::Beta::Octicon.new(icon: "copy", classes: "js-clipboard-copy-icon", m: 2)) %>
      <%= render(Primer::Beta::Octicon.new(icon: "check", classes: "js-clipboard-check-icon", color: :success, display: :none, m: 2)) %>
    </clipboard-copy>
  </div>
</template>
<template id="snippet-clipboard-copy-button-unpositioned">
  <div class="zeroclipboard-container">
    <clipboard-copy aria-label="Copy" class="ClipboardButton btn btn-invisible js-clipboard-copy m-2 p-0 d-flex flex-justify-center flex-items-center" data-copy-feedback="Copied!" data-tooltip-direction="w">
      <%= render(Primer::Beta::Octicon.new(icon: "copy", classes: "js-clipboard-copy-icon")) %>
      <%= render(Primer::Beta::Octicon.new(icon: "check", classes: "js-clipboard-check-icon", color: :success, display: :none)) %>
    </clipboard-copy>
  </div>
</template>
