<div class="container-lg px-3">
  <div class="ghe-license-status">
    <img src="<%= image_path "modules/home_fi/octocat-support-big.png" %>" class="octocat" alt="">
    <h1>License Expired</h1>
    <p>
      Sorry, your GitHub Enterprise license expired
      <strong><%= time_ago_in_words enterprise_license.expire_at %> ago</strong>.
      Please
      <a class="Link--inTextBlock" href="<%= renew_license_url %>">renew your license</a>
      before continuing.
    </p>
    <p>
      Once you have an updated license, you can upload it using the
      <%= link_to "upgrade page", "/setup/upgrade", class: "Link--inTextBlock" %>.
    </p>
  </div>
</div>
