<div class="readability-extra d-flex flex-auto flex-column">
  <div class="Box-header">
    <h2 class="Box-title">
      Keyboard shortcuts
    </h2>
  </div>
  <div class="Box-body overflow-auto">
    <div class="col-4">
      <table class="keyboard-mappings">

        <tbody>
          <tr>
            <th></th>
            <th>Site wide shortcuts</th>
          </tr>
          <tr>
            <td class="keys">
              <kbd>s</kbd> or <kbd>/</kbd>
            </td>
            <td>Focus search bar</td>
          </tr>
          <tr>
            <td class="keys">
              <kbd>?</kbd>
            </td>
            <td>Bring up this help dialog</td>
          </tr>
        </tbody>
        <tbody>
          <tr>
            <th></th>
            <th>Gists</th>
          </tr>
          <tr>
            <td class="keys">
              <kbd>g</kbd> <kbd>c</kbd>
            </td>
            <td>Go to Code</td>
          </tr>
          <tr>
            <td class="keys">
              <kbd>g</kbd> <kbd>r</kbd>
            </td>
            <td>Go to Revisions</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
