<div class="container-lg px-3">
  <div class="ghe-license-status">
    <img src="<%= image_path "modules/home_fi/octocat-support-big.png" %>" class="octocat" alt="">
    <h1>Invalid License</h1>
    <p>Sorry, your GitHub Enterprise license appears to be invalid.</p>
    <p>
      Please
      <a class="Link--inTextBlock" href="<%= renew_license_url %>">download your license</a>
      and upload it using the <%= link_to "upgrade page", "/setup/upgrade", class: "Link--inTextBlock" %>.
    </p>
  </div>
</div>
