    <div>
      <div class="d-flex flex-justify-center flex-items-center ml-auto">
        <%= render(Primer::Beta::IconButton.new(
          scheme: :invisible,
          size: :small,
          icon: "shield-lock",
          "aria-label": "This setting is managed by #{@rules_provider} rules and can't be changed",
          show_tooltip: true,
          tooltip_direction: :w,
          test_selector: @test_selector,
        )) %>
        Restricted
      </div>
    </div>
