<%# erblint:counter DeprecatedComponentsCounter 1 %>
<details-dialog aria-label="Edit extra billing info" class="Box Box--overlay" aria-modal="true" role="dialog" tab-index="-1"><%# erblint:disable A11yDetailsDialogMigration %>
  <div class="Box-header d-flex">
    <h3 class="Box-title flex-1">
      Edit extra billing info
    </h3>
    <button class="Box-btn-octicon btn-octicon float-right" type="button" aria-label="Close dialog" data-close-dialog>
      <%= render(Primer::Beta::Octicon.new(icon: :x)) %>
    </button>
  </div>
  <div class="Box-body">
    <%= form_tag edit_extra_billing_info_stafftools_user_path(user), method: :put do %>
      <div class="form-group">
        <label for="extra_billing_info">
          <div class="form-group-body">
            <%= text_area_tag "extra_billing_info",
              user.billing_extra,
              class: "form-control js-size-to-fit text-normal",
              id: "#{user.type.downcase}_billing_extra_info",
              "aria-label" => "extra_billing_info",
              "data-test-selector"=>"extra-billing-info" %>
          </div>
        </label>
      </div>
      <div class="form-actions">
        <%= render Primer::ButtonComponent.new(
          type: :submit,
          block: true,
          ).with_content("Update") %>
      </div>
    <% end %>
  </div>
</details-dialog>
