<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%= render(Primer::Experimental::Dialog.new(
  dialog_id: "remove-payment-method-modal",
  header_variant: :large,
  width: :xlarge,
  title: "Confirm remove all payment methods",
  form_url: remove_credit_card_stafftools_user_path(user),
  form_method: :post,
  test_selector: "remove-payment-method-modal"
)) do |c| %>
  <% c.with_show_button(
    scheme: :link,
    color: :danger,
    test_selector: "remove-payment-method-link"
  ) do |s| %>
    Remove
  <% end %>
  <% c.with_body do %>
    <%= render(Primer::Beta::Flash.new(scheme: :warning)) { "Woah there!" } %>
    <p>
      This will <strong>remove all credit cards and PayPal accounts</strong>
      from this customer’s account. Are you sure you want to do this?
    </p>
  <% end %>
  <% c.with_button(
    data: { "close-dialog-id": "remove-payment-method-modal" }
  ) { "Cancel" } %>
  <% c.with_button(
    type: :submit,
    scheme: :danger,
    data: { "disable-with": "" }
  ) { "Remove all payment methods" } %>
<% end %>
