<div class="Box Box--condensed mb-4">
  <div class="Box-header">
    <h3 class="Box-title">
      Sponsors Trust Levels
    </h3>
  </div>
  <div>
    <ul>
      <li class="Box-row">
        <div class="d-flex flex-justify-between flex-items-center">
          <div class="pr-2">
            <div class="d-flex flex-items-start flex-items-center">
              <h4 class="color-fg-muted">As sponsor</h4>
            </div>
          </div>
          <div class="d-flex flex-justify-end position-relative">
            <%= render Primer::Alpha::Dropdown.new(with_caret: true) do |c| %>
              <% c.with_button do %>
                <%= render Stafftools::Billing::SponsorsTrustLevelLabelComponent.new(trust_level_as_sponsor) %>
              <% end %>
              <% c.with_menu(classes: "dropdown-menu-no-overflow") do |menu| %>
                <% trust_levels.each do |trust_level| %>
                  <% menu.with_item do %>
                    <% render Stafftools::Billing::SponsorsTrustLevelFormComponent.new(
                      target: trust_level_as_sponsor.target,
                      target_type: :sponsor,
                      trust_level: trust_level
                    ) %>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
      </li>
      <% if @user.sponsorable? %>
        <li class="Box-row">
          <div class="d-flex flex-justify-between flex-items-center">
            <div class="pr-2">
              <div class="d-flex flex-items-start flex-items-center">
                <h4 class="color-fg-muted">As maintainer</h4>
              </div>
            </div>
            <div class="d-flex flex-justify-end position-relative">
              <%= render Primer::Alpha::Dropdown.new(with_caret: true) do |c| %>
                <% c.with_button do %>
                  <%= render Stafftools::Billing::SponsorsTrustLevelLabelComponent.new(trust_level_as_sponsorable) %>
                <% end %>
                <% c.with_menu(classes: "dropdown-menu-no-overflow") do |menu| %>
                  <% trust_levels.each do |trust_level| %>
                    <% menu.with_item do %>
                      <% render Stafftools::Billing::SponsorsTrustLevelFormComponent.new(
                        target: trust_level_as_sponsorable.target,
                        target_type: :sponsorable,
                        trust_level: trust_level
                      ) %>
                    <% end %>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
