<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<%# erblint:counter GoogleAnalyticsDeprecation 1 %>
<%# locals: featured_collections, collections %>
<%
  page_info \
    title: "Collections",
    canonical_url: request.original_url
%>

<%= render(Explore::NavComponent.new) %>

<div class="color-bg-subtle border-bottom">
  <div class="container-lg p-responsive text-center py-6">
    <h1 class="h1">Collections</h1>
    <p class="f4 color-fg-muted col-md-8 mx-auto">Curated lists and insight into burgeoning industries, topics, and communities.</p>
    <% if logged_in? %>
      <a href="/github/explore/blob/master/CONTRIBUTING.md#curating-a-new-topic-or-collection" class="btn" data-ga-click="Explore, create collection, text:Create a collection">Create a collection</a>
    <% end %>
  </div>
</div>
<% if featured_collections.any? %>
  <div class="container-lg p-responsive mt-6">
    <div class="exploregrid d-flex flex-wrap flex-justify-start gutter my-4">
      <% featured_collections.each do |collection| %>
        <%= render "collections/collection_box", collection: collection %>
      <% end %>
    </div>
  </div>
<% end %>
<div class="container-md p-responsive py-6">
  <%= render "collections/featured_collections", collections: collections %>
</div>

<% if fullstory_enabled? %>
  <%= render Site::Fullstory::CaptureComponent.new %>
<% end %>
