<div class="js-repository-selection-component d-flex flex-column overflow-hidden" <% if @discard_changes_on_close %>data-discard-changes-on-close <% end %>data-action="repository-items-loaded:selected-item-list#updateCount" <%= test_selector("repository-selection-component") %>>
  <filter-input class="flex-1 mb-2" aria-owns="<%= @aria_id_prefix %>-list">
    <input type="search" aria-label="Filter repositories" class="form-control width-full js-repository-items-filter-input" placeholder="Filter repositories">
  </filter-input>
  <div id="<%= @aria_id_prefix %>-list" class="d-flex flex-column overflow-auto">
    <ul data-filter-list class="list-style-none position-relative">
        <%= render Organizations::Settings::RepositoryItemsComponent.new(
          organization: @organization,
          repositories: @repositories,
          selected_repositories: @selected_repositories || [],
          current_page: 0,
          total_count: @total_count,
          data_url: @data_url,
          aria_id_prefix: @aria_id_prefix,
          repository_identifier_key: @repository_identifier_key
        ) %>
    </ul>
    <div class="color-fg-muted m-1" data-filter-empty-state hidden>
      No repositories found.
    </div>
  </div>
</div>
