<% @suggestions.each do |suggestion| %>
  <% if suggestion.is_a?(Team) %>
    <li class="autocomplete-item" role="option"
      <%= test_selector("security-manager-team-suggestion") %>
      data-autocomplete-value="<%= suggestion.id %>">
      <%= primer_octicon(:people) %> <%= suggestion.slug %>
    </li>
  <% end %>
<% end %>
