<% if render_banner? %>
    <div class="mb-5">
      <p class="f4 text-bold"><%= feature_name %></p>
      <p class="f5">
        <%= description_text %>
        <%= render(Primer::Beta::Link.new(
          target: "_blank",
          data: {
            **analytics_click_attributes(
              category: "Suggestion",
              action: "click to read docs",
              label: "Learn more about #{feature_name}",
            )
          },
          href: "#{GitHub.help_url}#{learn_more_path}",
        )) { "Learn more" } %>
      </p>
    </div>
<% else %>
  <%= content %>
<% end %>
