<%# erblint:counter DeprecatedInPrimerCounter 1 %>
<div class="my-8 my-md-9 py-9 py-md-10 readme-bg-blue">
  <div class="container-readme p-responsive-readme">
    <div class="d-lg-flex color-text-white">
      <h2 class="col-md-10 col-lg-5 readme-heading-2 mb-6 mb-lg-0 pr-md-6">
        <%= category.about_heading %>
      </h2>

      <p class="f2-mktg text-normal col-md-10 col-lg-7 mt-lg-2">
        <%= category.about_text %>
      </p>
    </div>
  </div>
</div>
