<% view = Businesses::PeopleView.new(business: business) %>

<%= render Businesses::UserListCardComponent.new(
  user: admin,
  user_link: user_link,
  user_link_data_options: hovercard_data_attributes_for_user(admin),
  primary_name: admin.safe_profile_name,
  subtitle: admin.profile_name.present? ? admin.display_login : nil,
  display_login: admin.display_login,
  spammy: admin.spammy?
) do %>
  <%= render GitHub::BatchDeferredContentComponent.new(
    url: enterprise_admin_details_path(business),
    inputs: { admin_id: admin&.id }
  ) do %>
    <span class="Skeleton d-inline-block ml-1 Skeleton--text">Loading…</span>
  <% end %>
<% end %>
