<%= render Primer::Beta::Subhead.new(mb: 3, mt: 6, classes: "flex-items-center", hide_border: true) do |component| %>
  <% component.with_heading(tag: :h2, classes: "h2") do %>Copilot monthly usage<% end %>
<% end %>

<% if this_business&.customer&.billing_platform_enabled_product&.copilot? %>
  <p>
  You can view Copilot usage on the new billing platform. Refer to
  <%= link_to(
    'these docs',
    'https://docs.github.com/en/enterprise-cloud@latest/early-access/billing/billing-private-beta#accessing-the-billing-private-beta',
    class: 'Link--inTextBlock'
  ) %>
for a step by step guide for accessing the new billing pages</p>
<% else %>
  <%= render(Billing::Settings::UsageHeaderComponent.new(headers: view.copilot_headers)) %>

  <%= render(Billing::Settings::UsageLoaderComponent.new(
    loading_text: "Loading Copilot data...",
    source: settings_billing_copilot_usage_enterprise_path(this_business),
    classes: "mt-3")) %>
<% end %>
