    <div class="col-6">
      <div class="p-3 color-shadow-small border color-border-default rounded-2" style="height: 100%">
        <label class="f5 text-normal text-small color-fg-muted text-uppercase d-block mb-2">Included Storage</label>
        <% if view.shared_storage_usage_has_error? %>
          <div class="f4 mb-2">
            <%= render(Primer::Beta::Octicon.new(icon: "stop", classes: "lfs-data-icon dark")) %>
            Unable to show storage usage.
          </div>
        <% else %>
          <div class="f4 mb-2">
            <span class="text-bold">
              <%= number_with_delimiter(view.shared_storage_estimated_monthly_private_gigabytes) %>GB
            </span>
            <span class="f5">
              of <%= number_with_delimiter(view.shared_storage_included_gigabytes) %>GB
            </span>
          </div>
          <%= render(Primer::Beta::Text.new(tag: :p, font_size: :small, color: :muted)) do %>
            Shared storage consists of Actions artifacts and Packages usage. This graph shows the account's storage usage in GB-months. Removing stored artifacts will not reduce this number, but it will lower its rate of growth. To see your account's current storage, download a usage report.
          <% end %>
        <% end %>
      </div>
    </div>


