<div class="color-bg-subtle color-shadow-small p-3 rounded" style="height: 100%">
  <label class="text-normal color-fg-muted">Spending on metered services</label>
  <%= render(Billing::Settings::UsageLoaderComponent.new(
      loading_text: "Loading spending data...",
      source: settings_billing_metered_usage_enterprise_path(this_business),
      classes: "mt-2")) %>
</div>
