<%# `view` is Businesses::BillingSettings::ShowView %>

<h2 class="f3 mb-1 mt-4 text-normal">
  Monthly spending limits
</h2>
<p class="mb-4">
  Set up a monthly spending limit. You can adjust it at any time. Read more information about
  <a class="Link--inTextBlock" href="<%= GitHub.help_url %>/github/setting-up-and-managing-billing-and-payments-on-github/managing-your-github-billing-settings">spending limits</a>.
</p>

<%=
  render(Billing::MeteredBilling::CostManagementComponent.new(
    product_name: "Actions & Packages",
    title: "Actions & Packages",
    budget_group: "shared",
    billing_target: this_business,
    form_action: metered_billing_costs_enterprise_path(this_business),
    enforce_spending_limit: view.actions_and_packages_budget.enforce_spending_limit,
    spending_limit_in_subunits: view.actions_and_packages_budget.spending_limit_in_subunits,
    disabled: view.show_alert_for_missing_azure_id?,
    notification_form_action: metered_billing_costs_usage_notification_settings_enterprise_path(this_business),
    included_usage_notification: view.actions_and_packages_budget.included_usage_notification,
    paid_usage_notification: view.actions_and_packages_budget.paid_usage_notification,
    has_products_with_included_usage: view.actions_and_packages_budget.has_products_with_included_usage?
  ))
%>

<%=
  render(Billing::MeteredBilling::CostManagementComponent.new(
    title: "Codespaces",
    product_name: "Codespaces",
    budget_group: "codespaces",
    billing_target: this_business,
    form_action: metered_billing_costs_enterprise_path(this_business),
    enforce_spending_limit: view.codespaces_budget.enforce_spending_limit,
    spending_limit_in_subunits: view.codespaces_budget.spending_limit_in_subunits,
    disabled: view.show_alert_for_missing_azure_id?,
    notification_form_action: metered_billing_costs_usage_notification_settings_enterprise_path(this_business),
    included_usage_notification: view.codespaces_budget.included_usage_notification,
    paid_usage_notification: view.codespaces_budget.paid_usage_notification,
    has_products_with_included_usage: view.codespaces_budget.has_products_with_included_usage?
  ))
%>
