<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%= form_with url: stafftools_enterprise_billing_bill_cycle_day_path(business), method: :put do |f| %>
  <dl class="form-group">
    <dd>
      <div class="position-relative v-align-top">
        <p>
          Bill Cycle Day is currently the <%= business.customer.bill_cycle_day.ordinalize %> of the month.
        </p>
        <p>
          Are you sure you want to change the bill cycle day?
        </p>
        <p>
          Changing the bill cycle day in the middle of a billing period <strong>may result in extra
          charges</strong> with pro-rated amounts on the customer's next bill.
        </p>
        <p>
          These extra charges aim to have the user "catch up" to their new bill cycle day, so that they are not billed twice in one month.
        </p>
        <p>
          More information can be found
          <a class="Link--inTextBlock" href="https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/How_Do_I_._._./
          How_does_changing_the_bill_cycle_day_on_a_customer_account_impact_billing_for_that_account%3F">in Zuora.</a>
        </p>
      </div>
      <div class="position-relative text-bold">
        Note: This must be an integer between 1 and 31.
      </div>
      <br>
      <span class="position-relative">
        <%= f.select(
          :bill_cycle_day,
          1.upto(31),
          selected: business.customer.bill_cycle_day,
          class: "form-select pl-4",
          style: "width: 96px;",
          required: true,
          ) %>
      </span>
      <br><br>
      <span>
        <%= render Primer::ButtonComponent.new(
          type: :submit,
          block: true,
          scheme: :danger,
        ).with_content("Update bill cycle day") %>
      </span>
    </dd>
  </dl>
<% end %>
