<div class="Box mb-4">
  <div class="Box-header">
    Bill Cycle: Self Serve

    <% if business.bill_cycle_day_editable_in_stafftools? %>
      <%= render(Primer::Experimental::Dialog.new(
        title: "Edit Bill Cycle Day",
        src: edit_stafftools_enterprise_billing_bill_cycle_day_path(business),
        preload: true,
      )) do |c| %>
        <% c.with_show_button(float: :right) do |s| %>
          Edit
        <% end %>
        <% c.with_include_fragment do |s| %>
          <div data-hide-on-error>
            <h5>Loading...</h5>
            <%= render(Primer::Beta::Spinner.new(size: :small, mt: 1)) %>
          </div>
          <div data-show-on-error hidden>
            <h5>Sorry, something went wrong.</h5>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <div class="Box-row clearfix">
    <div class="mb-2">
      <div class="d-flex flex-justify-start mb-2">
        <span class="d-block col-4 text-bold">Bill Cycle Day</span>
        <span class="d-block col-8"><%= business.customer.bill_cycle_day.ordinalize %> of the month</span>
      </div>

      <% unless business.bill_cycle_day_editable_in_stafftools? %>
        <p class="color-fg-muted f6">The bill cycle day is not editable for billing platform enabled or non self-serve businesses.</p>
      <% end %>
  </div>
</div>
