<% page_info title: "Edit Codespaces Policy", responsive: false, selected_link: :settings_org_codespaces_policies_edit %>
<%= render layout: "orgs/settings/layout" do %>
  <%= render Primer::Beta::Subhead.new do |component| %>
    <% component.with_heading(tag: :h2) do %>
      <a href="<%= settings_org_codespaces_policies_path(current_organization) %>">Codespaces policies</a> / Edit policy
    <% end %>
  <% end %>
  <div data-hpc>
    <%= render Organizations::Settings::CodespacesPolicyFormComponent.new(owner: current_organization, existing_policy: existing_policy) %>
  </div>
<% end %>
