<% page_info title: "New Codespaces Policy", selected_link: :settings_org_codespaces_policies_new %>
<%= render layout: "orgs/settings/layout" do %>
  <%= render Primer::Beta::Subhead.new do |component| %>
    <% component.with_heading(tag: :h2) do %>
      <a href="<%= settings_org_codespaces_policies_path(current_organization) %>">Codespaces policies</a> / New policy
    <% end %>
  <% end %>
  <div data-hpc>
    <%= render Organizations::Settings::CodespacesPolicyFormComponent.new(owner: current_organization) %>
  </div>
<% end %>
