<% if applications.any? %>
  <ul class="boxed-group-list standalone">
    <% applications.each do |approval| %>
      <li <%= test_selector("approval-application-#{approval.application.id}") %>>
        <%= avatar_for(approval.application.user, 20, :class => "avatar") %>
        <%= link_to approval.application.name, stafftools_user_application_path(approval.application.user, approval.application_id) %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>None</p>
<% end %>
