<%# erblint:counter DeprecatedComponentsCounter 2 %>
<%# erblint:counter DeprecatedComponentsCounter 2 %>
<% if user.plan.per_seat? %>
  <%= render(Primer::Beta::Flash.new(scheme: :warning)) do %>
    Changing seats for an <strong>invoiced</strong> account.
  <% end %>

  <dl class="form-group">
    <dt><label>Total seats</label></dt>
    <dd>
      <%= f.text_field :seats, name: "seats" %>
    </dd>
  </dl>
<% else %>
  <%= render(Primer::Beta::Flash.new(scheme: :warning)) do %>
    Changing plan for an <strong>invoiced</strong> account.
  <% end %>

  <dl class="form-group">
    <dt><label>Plan</label></dt>
    <dd>
    <%= select_tag :plan,
        options_for_select(available_plan_options_for_select(user), user.plan.to_s) %>
    </dd>
  </dl>
<% end %>
