<div class="Box-body">
  <p class="mb-2">
    <strong><%= domain.domain %></strong> is the only verified/approved
    domain in the <strong><%= domain.owner.to_param %></strong> <%= domain.owner_description %>.
    Because at least one verified or approved domain
    is required to restrict email notifications to domain emails, unverifying this domain will also
    disable that restriction.
  </p>

  <p class="color-fg-danger">
    <strong>
      Deleting this domain will immediately allow organization members to receive notifications for this organization at
      any email address. Members receiving notifications will depend upon the restrict email policy setting for their organization.
    </strong>
  </p>
</div>


<div class="Box-footer">
  <%= button_to "Unverify this domain and disable notification restrictions", unverify_stafftools_domain_path(domain.id),
      class: "btn btn-danger btn-block mt-2",
      method: :put %>
</div>
