<%# erblint:counter DeprecatedComponentsCounter 1 %>
<p>
  This user is a staff member. Please provide a reason why you need to view
  their site admin page. If you don’t need to, you can visit their
  <%= link_to "public profile", user_path(this_user), class: "Link--inTextBlock" %> instead.
</p>
<p class="lh-default text-normal py-3">
  Providing a reason will grant you access for 1 hour. This should only be necessary in specific circumstances, such as if the user has lost a device, their account may be compromised, or during onboarding.
</p>
<%= form_tag stafftools_user_hubber_access_overrides_path(this_user), class: "stafftools-form" do %>
  <dl class="form-group">
    <dt><label for="reason">Log reason</label></dt>
    <dd>
      <textarea id="reason" name="reason" placeholder="All access is logged, please provide a reason here." class="form-control long short" aria-label="Enter a staff user unlock reason" required></textarea>
    </dd>
  </dl>
  <%= render Primer::ButtonComponent.new(type: :submit, scheme: :danger) do %>Unlock<% end %>
<% end %>
