<% if GitHub.flipper[:max_packages_authorizable_per_token].enabled?(current_user) %>
  <div class="boxed-group" id="max_packages_authorizable_per_token_section">
    <h3>Max number of packages that can be authorized per token</h3>
    <div class="boxed-group-inner clearfix">
      <p>
        Control the maximum amount of packages that can be authorized when requesting a <code>GITHUB_TOKEN</code> using <strong>Actions</strong>.
        The highest safe amount for this value is 30,000 and it is recommended to be increased by minimal intervals, e.g. 1,000 at a time.
        Workflows with higher number of packages will fail.
      </p>

      <%= form_tag stafftools_user_max_packages_authorizable_per_token_path(user), method: :put do %>
        <div class="d-flex">
          <input
            class="form-control"
            type="number"
            max="<%= user.highest_safe_package_count_for_authorization %>"
            min="1"
            aria-label="Max number of packages"
            id="max_packages"
            name="max_packages"
            value="<%= user.max_packages_authorizable_per_token %>"
          >
          <%= render(Primer::Beta::Button.new(type: :submit, ml: 2, px: 4)) { "Save" } %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
