<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<% if !GitHub.enterprise? &&
  stafftools_action_authorized?(
    controller: Stafftools::Users::TradeCompliance::CheckViolationsController,
    action: :show
  )
%>
  <li class="Box-row js-trade-controls-violations-container trade-controls-container violations-pending" data-user-login="<%= user.login %>">
    <div class="d-flex flex-justify-between flex-items-center">
      <div class="pr-2">
        <label for="time-limit">Trade Controls Violations</label>
        <p class="note">Check possible trade controls violations for this <%= type %>.</p>
      </div>
      <div class="m-3">
        <button type="button" class="btn btn-block btn-danger" id="js-check-trade-controls-violations">
          Check violations
        </button>
      </div>
    </div>
    <div class="loading-violations-spinner my-4">
      <%= render(Primer::Beta::Spinner.new(size: :small, mr: 2, vertical_align: :top)) %>
      Checking violations…
    </div>
    <div class="mt-2 color-fg-muted">
      <label class="violations-found-header">We found the following violations:</label>
      <label class="violations-not-found-header">We found no violations!</label>
      <ul class="js-violations-list ml-4 mt-2" style="list-style: disc"></ul>
    </div>
  </li>
<% else %>
  <li class="Box-row">
    <div class="d-flex flex-justify-between flex-items-center">
      <div class="pr-2">
        <label for="time-limit">Trade Controls Violations</label>
        <p><%= stafftools_not_authorized_html %></p>
      </div>
    </div>
  </li>
<% end %>
