<%
  page_info title: "#{this_user.login} - Actions"
%>
<% unless GitHub.enterprise? %>
  <div class="Box Box--condensed mt-3">
    <div class="Box-header">
      <h3 class="Box-title">
        Restore Actions Billing Owner
      </h3>
    </div>
      <ul>
        <li class="Box-row pt-2">
          <% if !this_user.spammy? %>
            <%= form_tag stafftools_actions_restore_billing_owner_path(this_user), method: :post do %>
              <%= render Primer::Beta::Button.new(type: :submit, scheme: :danger, float: :right, ml: 2) do %>Restore Billing Owner<% end %>
            <% end %>
            <p>This should resolve the error "Billing Owner (User or Organization) is deleted".</p>
          <% else %>
            <%= render Primer::Beta::Button.new(type: :submit, scheme: :danger, float: :right, ml: 2, disabled: true) do %>Restore Billing Owner<% end %>
            <p>This user is spammy and cannot be restored.</p>
          <% end %>
        </li>
      </ul>
  </div>
<% end %>
