<% page_info title: "Invoiced accounts" %>

<%= render layout: "stafftools/stafftools" do %>
  <div class="boxed-group">
    <h3>Invoiced Accounts</h3>
    <div class="boxed-group-inner seamless">
      <table class="boxed-group-table">
        <thead>
          <tr>
            <th class="no-wrap">Account</th>
            <th class="no-wrap">Plan</th>
            <th class="date no-wrap">Next bill date</th>
          </tr>
        </thead>
        <% invoiced_accounts.each do |account| %>
          <% next unless account.paid_plan? %>
          <tr>
            <td>
              <%= link_to (account.profile_name.presence || account.login),
                          billing_stafftools_user_path(account) %>
            </td>
            <td><%= account.plan.name.humanize %></td>
            <td class="billing-table-cell"><%= account.billed_on %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
<% end %>
