<%# erblint:counter LabelComponentMigrationCounter 1 %>
<template data-target="ref-selector.itemTemplate">
  <label class="SelectMenu-item js-create-branch" tabindex="0" role="menuitemradio" aria-checked="{{ isCurrent }}" data-index="{{ index }}">
    <input checked="{{ isCurrent }}" hidden name="source_branch" type="radio" value="{{ refName }}" data-action="click:ref-selector#updateCurrent"><%# erblint:disable BooleanAttributes %>
    <%= primer_octicon(:check, classes: 'SelectMenu-icon SelectMenu-icon--check') %>
    <span class="flex-1 css-truncate css-truncate-overflow {{ isFilteringClass }}" data-menu-button-text>{{ refName }}</span>
    <span hidden="{{ isNotDefault }}" class="Label Label--secondary flex-self-start">default</span><%# erblint:disable BooleanAttributes %>
  </label>
</template>
