<div class="Box-header">
  <button class="Box-btn-octicon btn-octicon float-right" type="button" aria-label="Close dialog" data-close-dialog>
    <%= primer_octicon(:x) %>
  </button>
  <h3 class="Box-title">Checkout in your local repository</h3>
</div>
<div class="Box-body">
  <p class="f6 color-fg-muted mb-3">Run the following commands in your local clone.</p>
  <div class="copyable-terminal">
    <div class="copyable-terminal-button">
      <%= render(Primer::Beta::ClipboardCopy.new(for: "git-checkout-new-branch", "aria-label": "Copy to clipboard", classes: "btn btn-sm" )) %>
    </div>
    <pre id="git-checkout-new-branch" class="copyable-terminal-content f6">
<span class="user-select-contain">git fetch origin</span>
<span class="user-select-contain">git checkout <%= branch_name %></span></pre>
  </div>
</div>
