<div class="Box-header">
  <button class="Box-btn-octicon btn-octicon float-right" type="button" aria-label="Close dialog" data-close-dialog>
    <%= primer_octicon(:x) %>
  </button>
  <h3 class="Box-title"><span>Opening branch in GitHub Desktop</span><span class="AnimatedEllipsis"></span></h3>
</div>
<div class="Box-body"><!-- Ensure box rows behave properly -->
  <p class="f6 color-fg-muted mb-0">
    If nothing happens, make sure <%= link_to "GitHub Desktop", "https://desktop.github.com/", target: "_blank", class: "Link--inTextBlock" %> is installed and set up properly, then <%= link_to("try again", clone_url, "data-target": "create-branch.desktopLink", class: "Link--inTextBlock") %>.
  </p>
</div>
