Changed the billing date
<% if view.entry.hit.data[:old_date] %>
  from <span class="context"><%= view.entry.hit.data[:old_date] %></span>
<% end %>
to <span class="context"><%= view.entry.hit.data[:date] %></span>
