<% if view.email_invitation? %>
  Canceled the invitation to <span class="context"><%= view.entry.hit.data[:email] %></span> to be an owner of the <span class="context"><%= view.entry.safe_business_name %></span> enterprise
<% else %>
  Canceled <%= view.link_to_user %>’s invitation to be an owner of the <span class="context"><%= view.entry.safe_business_name %></span> enterprise
<% end %>
