<% if view.email_invitation? %>
  Invited <span class="context"><%= view.entry.hit.data[:email] %></span> to be an owner of the <span class="context"><%= view.entry.safe_business_name %></span> enterprise
<% else %>
  Invited <%= view.link_to_user %> to be an owner of the <span class="context"><%= view.entry.safe_business_name %></span> enterprise
<% end %>
