<% if view.entry.hit.data[:new_emu_repo_runners_policy] == Configurable::ActionsRepoSelfHostedRunners::NO_ENTITIES%>
Updated the <span class="context">self-hosted runners policy</span> to disable repository level runnes for EMUs
<% elsif view.entry.hit.data[:new_emu_repo_runners_policy] == Configurable::ActionsRepoSelfHostedRunners::ALL_ENTITIES%>
Updated the <span class="context">self-hosted runners policy</span> to enable repository level runners for EMUs
<% end %>
