Added the <%= view.link_to_org %> organization to the <span class="context"><%= view.entry.safe_business_name %></span>
enterprise<% if view.entry.hit[:organization_upgrade] %> through an organization to enterprise upgrade<% end %>.
