<span class="context"><%= (!!view.entry.hit.data[:permission]) ? "Allowed" : "Prevented" %></span> the creation of <%= view.entry.members_can_create_repositories_visibility(view.entry.hit.data[:visibility]) %> repositories by organization members in the <%= view.link_to_business %> enterprise.
