<span class="context">The GitHub Copilot plan was scheduled to be downgraded to Copilot Business</span> for the
<% if view.entry.hit[:org] %>
  <span class="context"><%= view.link_to_org %></span> organization
<% else %>
  <span class="context"><%= view.link_to_business %></span> enterprise
<% end %>

