Copilot seat was cancelled for <%= view.link_to_user %>

<% if view.copilot_seat_assignment_details %>
  <% assignee_type = view.copilot_seat_assignment_details[:assignee_type] %>
  <% unless assignee_type == "EnterpriseTeam" %>
    in the <span class="context"><%= view.link_to_org %></span> organization
  <% end %>
<% end %>

<%= view.copilot_seat_cancellation_reason ? " because #{view.copilot_seat_cancellation_reason}" : "" %>
