<span class="context"><%= view.copilot_plan_changed_message %></span> for the
<% if view.entry.hit[:org] %>
  <span class="context"><%= view.link_to_org %></span> organization
<% else %>
  <span class="context"><%= view.link_to_business %></span> enterprise
<% end %>
