<% if view.entry.hit.data[:previous_value].present? && view.entry.hit.data[:current_value].present? %>
Copilot access policy changed from <span class="context"><%= view.previous_copilot_enablement_policy %></span> to <span class="context"><%= view.current_copilot_enablement_policy %></span>
<% else %>
Copilot access policy changed
<% end %>
