Copilot seat management setting changed from <span class="context"><%= view.previous_copilot_seat_management_setting %></span> to <span class="context"><%= view.current_copilot_seat_management_setting %></span> for the <span class="context"><%= view.link_to_org %></span> organization
