Copilot seat for <span class="context"><%= view.link_to_user %></span>

<% if view.copilot_seat_assignment_details %>
  <% assignee_type = view.copilot_seat_assignment_details[:assignee_type] %>
  <% unless assignee_type == "EnterpriseTeam" %>
    in the <span class="context"><%= view.link_to_org %></span> organization
  <% end %>
<% end %>

has been cancelled manually by GitHub staff
