Disabled Dependabot alerts for all new repositories

<% if view.org? && view.entry.hit[:actor] != view.entry.hit[:org]%>
  for the <span class="context"><%= view.link_to_org %></span> organization
<% elsif view.business?%>
  for the <span class="context"><%= view.link_to_business %></span> enterprise
<% end %>
