Updated discussion post reply
<% if reply = view.entry.discussion_post_reply %>
  <a href="<%= team_discussion_comment_path(reply) %>" class="context">
    <%= view.entry.hit.data[:discussion_post_reply] %>
  </a>
<% else %>
  <strong class="context"><%= view.entry.hit.data[:discussion_post_reply] %></strong>
<% end %>
for <span class="context">discussion #<%= view.entry.hit.data[:discussion_post_number] %></span>
