Destroyed discussion post
<% if discussion = view.entry.discussion_post %>
  <a href="<%= team_discussion_path(discussion) %>" class="context">
    <%= view.entry.hit.data[:discussion_post] %>
  </a>
<% else %>
  <strong class="context"><%= view.entry.hit.data[:discussion_post] %></strong>
<% end %>
for <span class="context">@<%= view.entry.hit.data[:team] %></span>
