<% from_api = view.entry.data["request_category"] == "api" %>
Runners updated to <%= view.entry.hit.data[:runner_ids].join(",") %> for runner group <%= view.entry.hit.data[:runner_group_id] %> for <span class="context"><%= view.link_to_business %></span> <% if from_api %> via the API <% end %>
