<% from_api = view.entry.data["request_category"] == "api" %>
Removed variable <%= view.link_to_environment_secrets %> for <span class="context"><%= view.link_to_environment %></span> <% if from_api %> via the API <% end %>
