Organizations owned by the <span class="context"><%= view.link_to_business %></span> enterprise are now forbidden from allowing personal access token requests to be approved without administrator review.
