Created SSH signing key <span class="context"><strong><%= view.entry.hit.data[:title] %></strong></span>
<p>
 <span class="context"><strong>Fingerprint</strong> <%= view.entry.hit.data[:fingerprint] %></span>
</p>
