Installed <span class="context"><%= view.link_to_hook %></span>
<% if view.link_to_hook_target? %>
  for <%= view.link_to_resource_owner %>
<% end %>
with <span class="context"><%= view.hook_events %></span> events
