Updated <span class="context"><%= view.link_to_hook %></span> active status
<% if view.link_to_hook_target? %>
  for <%= view.link_to_resource_owner %>
<% end %>
from <span class="context"><%= view.hook_active_was? %></span> to <span class="context"><%= view.hook_active? %></span>

