<% if view.installation_repositories_added_automatically? %>
  Repositories were automatically added to the <span class="context"><%= view.link_to_installation %></span> integration.
<% elsif view.entry.hit.data[:repositories_added_names].present? %>
  Added the following repositories to the <span class="context"><%= view.link_to_installation %></span> integration:
  <ul class="ml-4">
    <% view.entry.hit.data[:repositories_added_names].each do |repository_name| %>
      <li>
        <%= view.link_to_repository_name(repository_name) %>
      </li>
    <% end %>
  </ul>
<% else %>
  Added repositories to the <span class="context"><%= view.link_to_installation %></span> integration.
<% end %>
