<% if view.entry.hit.data[:repositories_removed_names].present? %>
  Removed the following repositories from the <span class="context"><%= view.link_to_installation %></span> integration:
  <ul class="ml-4">
    <% view.entry.hit.data[:repositories_removed_names].each do |repository_name| %>
      <li>
        <%= view.link_to_repository_name(repository_name) %>
      </li>
    <% end %>
  </ul>
<% else %>
  Removed repositories from the <span class="context"><%= view.link_to_installation %></span> integration.
<% end %>
