<% if view.integration_installed_automatically? %>
  The <span class="context"><%= view.link_to_integration_settings %></span> app was installed automatically.
<% else %>
  Installed the <span class="context"><%= view.link_to_integration_settings %></span> integration.
<% end %>
