Updated IP allow list configuration of
<span class="context">
  the <%= view.link_to_business %> enterprise
</span>
to be
<span class="context">
  <% if view.entry.hit.data[:configuration_value] == "idp" %>
    "Identity Provider"
  <% elsif view.entry.hit.data[:configuration_value] == "github" %>
    "GitHub"
  <% else %>
    "Disabled"
  <% end %>
</span>
