Marketplace listing
<% if listing = view.entry.marketplace_listing %>
  <a href="<%= marketplace_listing_path(listing) %>" class="context">
    <%= view.entry.hit.data[:marketplace_listing] %>
  </a>
<% else %>
  <strong class="context"><%= view.entry.hit.data[:marketplace_listing] %></strong>
<% end %>
was approved
