Merge queue settings for <span class="context"><%= view.entry.hit.data[:merge_queue_branch] %></span> have been updated on <span class="context"><%= view.link_to_repo %></span>

<div class="export-phrase">
  <% view.changed_merge_queue_settings.each do |setting, value| %>
    <pre class="text-small color-fg-muted"><%= setting %> has been changed to <%= value %> </pre>
  <%end %>
</div>
