<span class="context">Pull request #<%= view.entry.hit.data[:pull_request_number]%></span> has been removed from the merge queue for <span class="context"><%= view.entry.hit.data[:merge_queue_branch] %></span> by <span class="context"><%= view.entry.hit.data[:dequeuer] %></span> on <span class="context"><%= view.link_to_repo %></span>
