<% from_api = view.entry.data["request_category"] == "api" %>
Deleted network configuration <%= view.entry.hit.data[:network_configuration_id] %> for <span class="context"><%= view.link_to_resource_owner %></span> <% if from_api %> via the API <% end %>
