<strong class="context"><%= view.entry.hit.data[:non_marketplace_listing] %></strong>
was rejected for display in <a class="Link--inTextBlock" href="<%= works_with_github_path %>">Works with GitHub</a>
