Transferred the <span class="context"><%= view.link_to_oauth_application %></span> application into the <span class="context"><%= view.entry.safe_organization_name %></span> organization from their account
