The invitation for the <span class="context"><%= view.link_to_org %></span> organization to join the <span class="context"><%= view.link_to_business %></span> enterprise was accepted by <%= view.link_to_actor %>.
