<%= view.link_to_actor %> requested approval for the <span class="context"><%= view.oauth_application_name %></span> application to access the <span class="context"><%= view.entry.safe_organization_name %></span> organization
