<% if view.org? %>
  Organization projects are disabled for the <span class="context"><%= view.link_to_org %></span> organization.
<% else %>
  Organization projects are disabled for all organizations in the <span class="context"><%= view.link_to_business %></span> enterprise.
<% end %>
