unassigned
<% if view.entry.hit.data[:team] %> the
  <strong class="context"><%= view.link_to_team %></strong> team
<% else %>
  <strong class ="context">
    <%= view.entry.own_entry? ? "themselves" : view.link_to_user %>
  </strong>
<% end %>
from the <strong class="context"> <%= view.entry.hit.data[:organization_role_name] %></strong> organization role in the <span class="context"><%= view.entry.safe_organization_name %></span> organization
