Disabled SAML SSO for the <span class="context"><%= view.entry.safe_organization_name %></span> organization.
SSO URL: <%= view.entry.hit.data[:sso_url] %>. Issuer: <%= view.entry.hit.data[:issuer] %>.
