<% permission = view.entry.hit.data[:permission] || view.entry.hit[:action] %>
Added <%= view.entry.own_entry? ? "themselves" : view.link_to_user %> to the <span class="context"><%= view.entry.safe_organization_name %></span> organization with <span class="context"><%= permission %></span> permission
