The invitation for the <span class="context"><%= view.link_to_org %></span>
organization to join the <span class="context"><%= view.link_to_business %></span>
enterprise was canceled by
<% if view.entry.hit[:initiated_from] == "enterprise" %>
  the enterprise owner
<% elsif view.entry.hit[:initiated_from] == "organization" %>
  the organization owner
<% end %>
<%= view.link_to_actor %>.
