<% if view.entry.hit.data[:enablement] == Configurable::OrganizationCodespacesUserLimit::DISABLED %>
Updated Codespaces access to disabled on all internal and private repositories in <span class="context"><%= view.link_to_org %></span>
<% elsif view.entry.hit.data[:enablement] == Configurable::OrganizationCodespacesUserLimit::ALL_USERS %>
Updated Codespaces access to all members on all internal and private repositories in <span class="context"><%= view.link_to_org %></span>
<% elsif view.entry.hit.data[:enablement] == Configurable::OrganizationCodespacesUserLimit::ALL_USERS_AND_OUTSIDE_COLLABORATORS %>
Updated Codespaces access to all members and collaborators on all internal and private repositories in <span class="context"><%= view.link_to_org %></span>
<% elsif view.entry.hit.data[:enablement] == Configurable::OrganizationCodespacesUserLimit::SELECTED_USERS %>
Updated Codespaces access to selected users on all internal and private repositories in <span class="context"><%= view.link_to_org %></span>
<% end %>
