Updated the repo-level self-hosted runners policy from <span class="context"><%= view.entry.hit.data[:old_repo_runners_policy] %></span> entities to <span class="context"><%= view.entry.hit.data[:new_repo_runners_policy] %></span> entities
