Changed the base repository permission setting from <span class="context"><%= view.entry.hit.data[:old_permission] %></span> to <span class="context"><%= view.entry.hit.data[:permission] %></span> for the <%= view.link_to_org %> organization.
