<% if view.org? %>
  The organization projects policy was removed from the <span class="context"><%= view.link_to_org %></span> organization.
<% else %>
  The organization projects policy was removed for all organizations in the <span class="context"><%= view.link_to_business %></span> enterprise.
<% end %>
