<%= view.link_to_actor %> blocked the application <span class="context"><%= view.oauth_application_name %></span> from accessing the <span class="context"><%= view.entry.safe_organization_name %></span> organization
