<%= view.link_to_actor %> unblocked the application <span class="context"><%= view.oauth_application_name %></span> to access the <span class="context"><%= view.entry.safe_organization_name %></span> organization
