Unblocked <%= link_to view.entry.hit.data[:blocked_user], user_path(view.entry.hit.data[:blocked_user]), class: "Link--inTextBlock" %> from the
<span class="context"><%= view.entry.safe_organization_name %></span> organization
