<% view.link_to_user(view.entry.hit.data[:manager]) %> has been removed as a manager of all GitHub Apps owned by the <span class="context"><%= view.entry.safe_organization_name %></span> organization
