<%
  previous_name = view.entry.hit.data[:organization_default_label_was]
  previous_description = view.entry.hit.data[:organization_default_label_description_was]
%>

Updated the <%= view.link_to_org_label %> label
<% if previous_name %>
  name from <span class="context"><%= previous_name %></span>
<% end %>

<% if previous_description %>
  <% if previous_name %>
    and the
  <% end %>
  description from <span class="context"><%= previous_description %></span>
<% end %>
