<% if view.actor_is_business? || view.actor_is_org? || view.actor_is_user? %>
  Added
<% else %>
  <span class="context"><%= view.link_to_actor %></span> added
<% end %>

<% if view.entry.hit.data[:payment_method] == "card" %>
  a credit card
<% elsif view.entry.hit.data[:payment_method] == "paypal" %>
  a PayPal account
<% else %>
  payment details
<% end %>

<% if view.business? %>
  to the <span class="context"><%= view.link_to_business %></span> enterprise
<% elsif view.org? %>
  to <span class="context"><%= view.link_to_org %></span>’s account
<% elsif view.entry.hit[:user] %>
  to your account
<% end %>
