<% if view.entry.hit.data[:payment_method] == "card" %>
  Removed a credit card
<% elsif view.entry.hit.data[:payment_method] == "paypal" %>
  Removed a PayPal account
<% else %>
  Cleared payment details
<% end %>

<% if view.entry.hit[:business] %>
  from the <span class="context"><%= view.entry.safe_business_name %></span> enterprise
<% elsif view.entry.hit[:org] %>
  from <span class="context"><%= view.entry.safe_organization_name %></span>’s account
<% elsif view.entry.hit[:user] %>
  from your account
<% end %>
