<% if view.entry.hit.data[:payment_method] == "card" %>
  Updated the credit card
<% elsif view.entry.hit.data[:payment_method] == "paypal" %>
  Updated the PayPal account
<% else %>
  Updated billing information
<% end %>

<% if view.entry.hit[:business] %>
  for the <span class="context"><%= view.entry.safe_business_name %></span> enterprise
<% elsif view.entry.hit[:org] %>
  for <span class="context"><%= view.entry.safe_organization_name %></span>’s account
<% elsif view.entry.hit[:user] %>
  for your account
<% end %>
