<% if view.repo? %>
  The "Allow forking" setting has been cleared on the <span class="context"><%= view.link_to_repo %></span> repository.
<% elsif view.org? %>
  The "Allow forking of private repositories" setting has been cleared on the <span class="context"><%= view.link_to_org %></span> organization.
<% else %>
  The "Allow forking of private repositories" setting has been cleared on the <span class="context"><%= view.link_to_business %></span> enterprise.
<% end %>
