<% if view.repo? %>
  Enabled forking of the <span class="context"><%= view.link_to_repo %></span> repository.
<% elsif view.org? %>
  Enabled forking of private repositories in the <span class="context"><%= view.link_to_org %></span> organization.
<% else %>
  Enabled forking of private repositories in all organizations in the <span class="context"><%= view.link_to_business %></span> enterprise.
<% end %>
