Updated branch name pattern from <span class="context"><%= view.entry.hit.data[:old_name] %></span> to <span class="context"><%= view.entry.hit[:name] %></span>
on <span class="context"><%= view.link_to_repo %></span>
