Up-to-date requirement of merging branches to <span class="context"><%= view.entry.hit.data[:name] %></span> on <span class="context"><%= view.link_to_repo %></span> was <% if view.entry.hit.data[:strict_required_status_checks_policy] %>activated<% else %>deactivated<% end %>
