Updated the baseline permission on <%= view.link_to_project %> for all members of <%= view.link_to_org %> from <span class="context"><%= view.entry.hit.data.dig(:changes, :old_permission) || "none" %></span> to <span class="context"><%= view.entry.hit.data.dig(:changes, :permission) || "none" %></span>
