<% if view.ignore_approvals_from_contributors? %>
  Ignore approvals from contributors for <span class="context"><%= view.entry.hit.data[:name] %></span>
  on <span class="context"><%= view.link_to_repo %></span>.
<% else %>
  Approvals from contributors are not ignored for <span class="context"><%= view.entry.hit.data[:name] %></span>
  on <span class="context"><%= view.link_to_repo %></span>.
<% end %>
