<% if view.lock_allows_fetch_and_merge? %>
  Fork syncing is allowed for <span class="context"><%= view.entry.hit.data[:name] %></span>
  on <span class="context"><%= view.link_to_repo %></span> when locked
<% else %>
  Fork syncing is not allowed for <span class="context"><%= view.entry.hit.data[:name] %></span>
  on <span class="context"><%= view.link_to_repo %></span> when locked
<% end %>
