<% if view.require_code_owner_review? %>
  Code owner review required for <span class="context"><%= view.entry.hit.data[:name] %></span>
  on <span class="context"><%= view.link_to_repo %></span>.
<% else %>
  Code owner review not required for <span class="context"><%= view.entry.hit.data[:name] %></span>
  on <span class="context"><%= view.link_to_repo %></span>.
<% end %>
