<% if view.admin_enforced? %>
  Included administrators in enforcement of all rules for <span class="context"><%= view.entry.hit.data[:name] %></span>
  on <span class="context"><%= view.link_to_repo %></span>.
<% else %>
  Excluded administrators from enforcement of all rules for <span class="context"><%= view.entry.hit.data[:name] %></span>
  on <span class="context"><%= view.link_to_repo %></span>.
<% end %>
