Updated <%= view.link_to_user %> permission for <%= view.link_to_project %> from <span class="context"><%= view.entry.hit.data.dig(:changes, :old_permission) || "none" %></span> to <span class="context"><%= view.entry.hit.data.dig(:changes, :permission) || "none" %></span>
