<% if view.dismiss_stale_reviews_on_push? %>
  Stale reviews are dismissed when new commits are pushed for <span class="context"><%= view.entry.hit.data[:name] %></span>
  on <span class="context"><%= view.link_to_repo %></span>.
<% else %>
  Stale reviews are not dismissed when new commits are pushed for <span class="context"><%= view.entry.hit.data[:name] %></span>
  on <span class="context"><%= view.link_to_repo %></span>.
<% end %>
