<% if view.require_last_push_approval? %>
  The most recent push must be approved by someone other than the last pusher for <span class="context"><%= view.entry.hit.data[:name] %></span>
  on <span class="context"><%= view.link_to_repo %></span>.
<% else %>
  Approval from someone other than the last pusher is not required for <span class="context"><%= view.entry.hit.data[:name] %></span>
  on <span class="context"><%= view.link_to_repo %></span>.
<% end %>
