Unverify public key failed for <span class="context"><%= view.entry.hit.data[:title] %></span><% if view.entry.hit.data[:reason] %> <%= view.entry.hit.data[:reason] %><% end %>
<% if view.link_to_repo %>
  in <span class="context"><%= view.link_to_repo %></span>
<% end %>
<p>
 <span class="context"><strong>Fingerprint</strong> <%= view.entry.hit.data[:fingerprint] %></span>
</p>
