Created public key <span class="context"><strong><%= view.entry.hit.data[:title] %></strong></span>
<% if view.link_to_repo %>
  in <span class="context"><%= view.link_to_repo %></span>
<% end %>
<p>
 <span class="context"><strong>Fingerprint</strong> <%= view.entry.hit.data[:fingerprint] %></span>
</p>
