<span class="context"><%= view.link_to_repo %></span> has been removed from <span class="context"><%= view.entry.hit[:security_configuration_name] %></span>.
<% if view.entry.hit[:repository_security_configuration_state] == "removed_by_enterprise" %>
  An enterprise setting was changed.
<% else %>
  A repository setting was changed.
<% end %>
