<% if view.repo? %>
  Projects are disabled for the <span class="context"><%= view.link_to_repo %></span> repository.
<% elsif view.org? %>
  Repository projects are disabled for all repositories for the <span class="context"><%= view.link_to_org %></span> organization.
<% else %>
  Repository projects are disabled for all organizations in the <span class="context"><%= view.link_to_business %></span> enterprise.
<% end %>
