Failed to apply <span class="context"><%= view.entry.hit[:security_configuration_name] %></span> to <span class="context"><%= view.link_to_repo %></span>. <span class="context"><%= view.entry.hit[:repository_security_configuration_failure_reason] %></span>
