<%= view.entry.hit.data[:enabled] ? "Unblocked" : "Blocked" %> <span class="context"><%=
  if view.entry.hit.data[:merge_type] == "squash"
    "squash merges"
  elsif view.entry.hit.data[:merge_type] == "rebase"
    "rebase merges"
  elsif view.entry.hit.data[:merge_type] == "merge_commit"
    "merge commits"
  else
    "a merge setting"
  end
%></span> on the <%= view.link_to_repo %> repository
