<% if view.org? %>
  Disabled members from changing repository visibilities in the <span class="context"><%= view.link_to_org %></span> organization.
<% else %>
  Disabled members from changing repository visibilities in all organizations in the <span class="context"><%= view.link_to_business %></span> enterprise.
<% end %>
