Changed <%= view.link_to_repo %>
<% if view.previous_visibility %>
  from <span class="context"><%= view.previous_visibility %></span>
<% end %>
to <span class="context"><%= view.visibility %></span>
