<%= view.entry.safe_actor_login %> changed the default branch
<span class="context">
  <code><%= view.old_default_branch %></code>
</span> to
<span class="context">
  <code><%= view.default_branch %></code>
</span> in
<%= view.link_to_repo %>
