<% if view.repo? %>
  Projects are enabled for the <span class="context"><%= view.link_to_repo %></span> repository.
<% elsif view.org? %>
  Repository projects are enabled for all repositories for the <span class="context"><%= view.link_to_org %></span> organization.
<% else %>
  Repository projects are now enabled for all repositories in the <span class="context"><%= view.link_to_business %></span> enterprise.
<% end %>
