<% if view.org? %>
  The repository projects policy was removed from the <span class="context"><%= view.link_to_org %></span> organization. Organization admins can now control their repository projects settings.
<% else %>
  The repository projects policy was removed for all organizations in the <span class="context"><%= view.link_to_business %></span> enterprise. Organization admins can now control their respective repository projects settings.
<% end %>
