The status <span class="context"><%= view.entry.hit.data[:context] %></span> was marked as no longer being required
for the branch <span class="context"><%= view.entry.hit.data[:protected_branch_name] %></span>
on <span class="context"><%= view.link_to_repo %></span>
