Reported a <%= view.secret_type_display_name %> to <%= view.secret_type_provider %> from a secret scanning alert <span class="context"><%= view.link_to_alert %></span>.
<%= view.report_result_description %>
