Set policy to
<% if view.entry.hit.data["policy"] == Configurable::ActionsPrivateForkPrApprovals::NONE %>
  not
<% end %>
require approval for private fork pull request workflows
<% if view.entry.hit.data["policy"] == Configurable::ActionsPrivateForkPrApprovals::READ_ONLY_USERS %>
  from <span class="context">users without write access</span>
<% end %>
for <span class="context"><%= view.link_to_resource_owner %></span>.
