Set policy to require approval for fork pull request workflows from <span class="context"><%= view.friendly_actions_fork_pr_approvals_policy_name %></span>
for <span class="context"><%= view.link_to_resource_owner %></span>.
