Set policy to default workflow token can create or approve PR to <%= view.entry.hit.data["workflow_permission_can_approve_pr_value"] %> for <span class="context"><%= view.link_to_resource_owner %></span>
