Disabled GitHub Sponsors account for
<% if view.org? %>
  the <span class="context"><%= view.link_to_org %></span> organization.
<% else %>
  <span class="context"><%= view.link_to_user %></span>.
<% end %>
