<% if view.actor_is_user? %>
  Signed
<% else %>
  <span class="context"><%= view.link_to_actor %></span> signed
<% end %>
version <span class="context"><%= view.sponsors_agreement_version %></span>
of the <span class="context"><%= view.sponsors_agreement_name %></span>
<% if view.org? %>
  agreement on behalf of <span class="context"><%= view.link_to_org %></span>.
<% else %>
  agreement.
<% end %>
