<span class="context"><%= view.link_to_actor %></span> signed
version <span class="context"><%= view.sponsors_agreement_version %></span>
of the <span class="context"><%= view.sponsors_agreement_name %></span>
agreement on behalf of <span class="context"><%= view.link_to_org %></span>.
