Connected Patreon account <span class="context"><%= view.entry.hit.data[:patreon_username] %></span> with email
address <span class="context"><%= view.entry.hit.data[:patreon_email] %></span><% if view.org? %>to the
<span class="context"><%= view.link_to_org %></span> organization<% end %>.
