<% if view.actor_is_user? %>
  Withdrew
<% else %>
  <span class="context"><%= view.link_to_actor %></span> withdrew their
<% end %>
signature of version <span class="context"><%= view.sponsors_agreement_version %></span>
of the <span class="context"><%= view.sponsors_agreement_name %></span>
<% if view.org? %>
  agreement that applied to
  <span class="context"><%= view.link_to_org %></span>'s GitHub Sponsors listing.
<% else %>
  agreement.
<% end %>
