<% if view.org? %>
  <span class="context"><%= view.link_to_actor %></span>
  updated welcome message for <%= view.sponsors_tier_name %> GitHub Sponsors tier for the
  <span class="context"><%= view.link_to_org %></span>
  organization.
<% else %>
  Updated welcome message for <%= view.sponsors_tier_name %> GitHub Sponsors tier.
<% end %>
