Deleted an SSH certificate authority from the
<span class="context">
  <% if view.org? %>
    <%= view.link_to_org %> organization
  <% else %>
    <%= view.link_to_business %> enterprise
  <% end %>
</span>
with fingerprint <span class="context"><code><%= view.entry.hit.data[:fingerprint] %></code></span>
