<% if view.entry.hit["entry_found"] %>
  Team <%= view.link_to_team %> was synchronized with <span class="context"><%= view.entry.hit["dn"] %></span>.
<% else %>
  Attempted to synchronize team <%= view.link_to_team %> with <span class="context"><%= view.entry.hit["dn"] %></span> but the target was not found.
<% end %>
