<% if view.org? %>
  The "Allow team discussions" setting has been cleared on the <span class="context"><%= view.link_to_org %></span> organization.
<% else %>
  The "Allow team discussions" setting has been cleared on the <span class="context"><%= view.link_to_business %></span> enterprise.
<% end %>
