<% if (location_was = view.entry.hit.data.dig(:actor_location_was, :country)) %>
  Country changed from <span class="context"><%= location_was %></span> to <span class="context"><%= view.entry.hit.dig(:actor_location, :country) %></span>
<% else %>
  Country changed from your previous session
<% end %>
