<% if view.entry.hit.data[:query_phrase].present? %>
  Exported the audit log with query:
  <div class="export-phrase">
    <pre class="text-small color-fg-muted"><%= view.entry.hit.data[:query_phrase] %></pre>
  </div>
<% else %>
  Exported the full audit log
<% end %>
