<span class="context">
  <% if view.entry.hit[:rerun_type] == "single_job" %>
    Re-ran job <%= view.link_to_workflow_check_run %> in
  <% elsif view.entry.hit[:rerun_type] == "failed_jobs" %>
    Re-ran failed jobs in
  <% else %>
    Re-ran
  <% end %>
  Actions workflow run <%= view.link_to_workflow_run %> of <%= view.entry.hit.data[:name] %> for <%= view.link_to_repo %>
</span>
