<span class="context">
  Deployment protection rules comment: <%= view.entry.hit.data[:comment] %>
  added for environment <%= view.link_to_environment %> on pending run <%= view.link_to_workflow_run %> for <%= view.link_to_repo %>.
</span>
