<span class="context">
  Deleted Actions workflow run <%= view.link_to_workflow_run %><%= " of #{view.entry.hit.data[:name]}" if view.entry.hit.data[:name].present? %> for <%= view.link_to_repo %>
</span>
