<div id="hooks_bucket">
  <%= render :partial => "hooks/webhook_list", :locals => { :hooks_view => hooks_view } %>

  <% if GitHub.pre_receive_hooks_enabled? %>
    <% if current_context.is_a?(Business) %>
      <%= render partial: "businesses/pre_receive_hook_targets/list", locals: {
        view: Businesses::PreReceiveHookTargets::IndexPageView.new
      } %>
    <% else %>
      <%= render partial: "hooks/pre_receive_list", locals: {
        view: Hooks::PreReceiveView.new(parent: current_context, current_user: current_user)
      } %>
    <% end %>
  <% end %>
</div><!-- /#hooks_bucket -->
