<div class="my-3">
  <%= render Primer::Alpha::CheckBox.new(
    name: field_name,
    label: "Active",
    caption: "We will deliver event details when this hook is triggered.",
    class: "js-hook-active-checkbox",
    checked: active,
  ) %>
</div>
