<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<%= render layout: "shared/details_dialog", locals: {
  button_text: "Delist this listing",
  button_class: "btn btn-danger",
  title: "Delist listing",
} do %>
  <div class="Box-body overflow-auto">
    <%= form_tag biztools_delist_marketplace_listing_path(listing_id) do %>
      <input type="hidden" name="slug" value="<%= listing_slug %>">
      <p>Are you sure you want to remove <strong><%= listing_name %></strong> from the GitHub Marketplace?</p>
      <dl class="form-group">
        <dt><label for="listing_delist_message">Message for the integrator (optional)</label></dt>
        <dd>
          <textarea autofocus name="message" id="listing_delist_message" class="form-control"></textarea>
        </dd>
      </dl>
      <button type="submit" class="btn btn-block btn-danger mt-2" data-disable-with="Updating..." autofocus>
        Delist this listing
      </button>
    <% end %>
  </div>
<% end %>
