<%# erblint:counter ButtonComponentMigrationCounter 2 %>
<hr>
<div class="clearfix">
  <p>Add or remove this app from the search index. Changes may take a few minutes to show up.</p>
  <%= form_tag biztools_reindex_marketplace_listing_path(listing_id) do %>
    <button type="submit" name="reindex" value="add" class="btn btn-danger">
      Add to the search index
    </button>
    <button type="submit" name="reindex" value="remove" class="btn btn-danger">
      Remove from the search index
    </button>
  <% end %>
</div>
