<div class="container-xl p-responsive pt-8 pt-md-9 mb-11 mb-md-12">
  <div class="d-md-flex flex-row-reverse flex-wrap gutter-spacious">
    <div class="col-md-6 flex-column flex-justify-center flex-items-center mb-12 mb-md-0">
      <div class="pl-md-6 position-relative z-2">
        <h2 class="h2-mktg text-gradient-blue-purple pb-2 mb-5 mb-md-6">
          Make open source careers possible
        </h2>
        <div class="js-build-in build-in-slideX-right" data-build-margin-bottom="10">
          <p class="color-fg-subtle f2-mktg text-semibold mb-3">
            <span class="color-fg-default">Everyone should be able to afford to contribute to open source.</span>
            Help make open source a viable, lucrative career path for people to create and contribute to our digital infrastructure.
          </p>
          <div class="h6-mktg color-fg-default mt-5 mt-md-6 mb-4">
            Sponsor in three easy steps
          </div>
          <ol class="f3-mktg pl-4 mb-3">
            <li class="color-fg-default mb-2">
              <span class="color-fg-subtle pl-lg-3">
                Visit the project’s sponsorship page.
              </span>
            </li>
            <li class="color-fg-default mb-2">
              <span class="color-fg-subtle pl-lg-3">
                Choose a subscription tier.
              </span>
            </li>
            <li class="color-fg-default">
              <span class="color-fg-subtle pl-lg-3">
                Pay!
              </span>
            </li>
          </ol>
          <%= render Site::LinkComponent.new(
            text: "Explore the projects you depend on",
            url: sponsors_explore_index_url(host: GitHub.urls.host_name),
            size: :medium,
            underlined: true) %>
        </div>
      </div>
    </div>

    <div class="js-build-in-trigger col-md-6 col-lg-5 d-flex flex-column build-in-animate" data-build-margin-bottom="10">
      <div class="position-relative z-2">
        <%= render "site/sponsors/components/testimonial_single_quote",
          quote: "GitHub Sponsors could eventually lead to a better world where an open source maintainer generates enough income to bring on a second maintainer.",
          author: "David Nolen",
          title: "Maintainer of ClojureScript",
          handle: "swannodette"
        %>
      </div>
    </div>
  </div>
</div>
