<div class="js-build-in position-relative mb-12" data-build-margin-bottom="10">
  <%= svg('modules/site/sponsors/sponsors-cta-bg.svg', aria: false, class: 'sponsors-cta-bg events-none col-12 col-sm-8 col-lg-6 col-xl-5 position-absolute bottom-n10 right-n12 right-md-n6 right-lg-0 height-auto') %>
  <div class="container-xl p-responsive pb-4">
    <div class="position-relative offset-lg-1">
      <h2 class="col-7-max h2-mktg color-fg-default mb-4">
        <span class="d-none d-md-block">
          Invest in the projects you&nbsp;depend on
        </span>
        <span class="d-block d-md-none">
          Invest in the projects you depend on
        </span>
      </h2>
      <%= render "site/sponsors/components/cta_block" %>
    </div>
  </div>
</div>
