<% page_info \
     :title => "Repository advisory #{this_repository_advisory.ghsa_id}",
     :selected_link => :repository_advisories %>

<div class="site-admin-unboxed">
  <div class="site-admin-subhead ruleless">
    <h2 class="site-admin-subhead-heading">
      <%= link_to \
            "Repository advisory",
            gh_stafftools_repository_advisories_path(current_repository) %>
      /
      <%= link_to \
            this_repository_advisory.ghsa_id,
            gh_stafftools_repository_advisory_path(this_repository_advisory) %>
      / Database
    </h2>
  </div>

  <%= render \
        partial: "stafftools/database",
        locals: {
          record: this_repository_advisory,
          denylist: %w[body description frozen_description] } %>
</div>
