<%#
  Duplicated from comments/edit/tabnav partial.
  TODO deprecate when comments/projects/edit_from partial is removed.
%>
<%# erblint:counter ButtonComponentMigrationCounter 2 %>
<%graphql
  fragment Comment on Comment {
    createdViaEmail
    ... on PullRequestReviewComment {
      pullRequest {
        id
        number
        state
        author {
          ... on User {
            databaseId
          }
          ... on Bot {
            databaseId
          }
          ... on Mannequin {
            databaseId
          }
        }
        repository {
          name
          owner {
            login
          }
        }
      }
    }
  }
%><%# erblint:disable NoGraphqlFragments %>
<%
  unless comment.is_a?(Issue::Adapter::Base)
    comment = Views::Comments::Projects::Edit::Tabnav::Comment.new(comment)
  end
  is_pull_request_review_comment = comment.is_a?(PlatformTypes::PullRequestReviewComment) && comment.pull_request.state == "OPEN"
  pull_request_hash = nil
  if is_pull_request_review_comment
    suggestion_button_path = review_comment_suggestion_button_path(comment.pull_request.repository.owner.login, comment.pull_request.repository.name, comment.pull_request.number)
    pull_request_hash = {
      global_relay_id: comment.pull_request.id,
      user_id: comment.pull_request.author&.database_id,
    }
  end
%>

<div class="tabnav CommentBox-header p-0 position-static">
  <div class="tabnav-tabs" role="tablist" aria-label="Preview">
    <button type="button" class="btn-link tabnav-tab write-tab js-write-tab selected" role="tab" aria-selected="true">Write</button>
    <button type="button" class="btn-link tabnav-tab preview-tab js-preview-tab" role="tab">Preview</button>
  </div>

  <% if !comment.created_via_email? %>
    <%= render Comments::GitHubSpecificMarkdownToolbarComponent.new(
        textarea_id: textarea_id,
        saved_reply_context: saved_reply_context,
        hide_saved_replies: false,
        allows_suggested_changes: is_pull_request_review_comment,
        suggestion_button_path: suggestion_button_path,
        pull_request: pull_request_hash,
      ) %>
  <% end %>
</div>
