.assigneeEventContainer {
  display: inline-flex;
  margin-right: 0;
}

.assigneeEventContainer:last-of-type {
  margin-right: var(--base-size-4);
}

.assigneeMarginRight {
  margin-right: var(--base-size-4);
}

.assigneeMarginHorizontal {
  margin-right: var(--base-size-4);
  margin-left: var(--base-size-4);
}

.assigneeLink {
  color: var(--fgColor-default, var(--color-fg-default)) !important;
}
