.footerContainer {
  justify-content: flex-end;
  display: flex;
  align-items: center;
}

.buttonsContainer {
  display: flex;
  padding-left: 0;
  text-align: left;
  justify-content: flex-end;
  align-items: center;
}
