.filterContainer {
  padding-top: var(--base-size-8);
  margin-left: var(--base-size-24);
}

.threadContent {
  margin: var(--base-size-16);
  margin-bottom: 0;
  border-color: var(--borderColor-default, var(--color-border-default));
  border-style: solid;
  /* stylelint-disable-next-line primer/borders */
  border-width: thin;
  border-radius: var(--borderRadius-medium);
}

.threadRow {
  padding: var(--base-size-8) var(--base-size-12);
}
