<div class="js-notice">
  <%= form_tag(
    dismiss_notice_path(UserNotice::DASHBOARD_GLOBAL_CAMPUS_NOTICE),
    class: "Box position-relative rounded-2 mb-4 p-3 js-notice-dismiss"
  ) do %>
    <h3 class="h4">
      Learn. Collaborate. Grow.
    </h3>
    <p class="my-3 text-small">
      GitHub Education gives you the tools and community support to take on tech challenges and turn them into
      opportunities.  Your future in tech starts here!
    </p>
    <%= render(Primer::Beta::Button.new(size: :small,
     tag: :a,
     href: "#{GitHub.education_url}/globalcampus/student",
      data: {
        **analytics_click_attributes(
          category: "dashboard_right_column",
          action: "Go to GitHub Education",
          label: "link:github_education_existing"
        )
      })) { "Go to GitHub Education" } %>
    <div class="position-absolute p-1" style="top: 2px; right: 6px;">
      <%= render(Primer::Beta::CloseButton.new(type: :submit)) %>
    </div>
  <% end %>
</div>
