<% if recent_interactions.any? %>
  <div data-issue-and-pr-hovercards-enabled data-repository-hovercards-enabled>
    <% recent_interactions.take(DashboardSidebarHelper::RECENT_ACTIVITY_ITEM_COUNT).each do |recent_interaction| %>
      <%= render partial: "dashboard/recent_interaction",
        locals: {
          interactable: recent_interaction.interactable,
          interaction: recent_interaction.interaction
        } %>
    <% end %>
  </div>
<% else %>
  <div class="border border-dashed rounded-2 p-3 mt-2" <%= test_selector "empty-recent-items" %>>
    <p class="note mt-0">
      When you take actions across GitHub, we’ll provide links to that activity here.
    </p>
  </div>
<% end %>
