<div class="Details js-repos-container <%= "mt-5" unless user_can_switch_contexts? %>" <%= test_selector("dashboard-teams-and-repos") %> data-repository-hovercards-enabled role="navigation" aria-label="Repositories">
  <%= render partial: "dashboard/repositories_box", locals: { repositories: repositories, viewer: viewer, query: query, location: location } %>
</div>
