<div class="Details js-repos-container" data-team-hovercards-enabled>
  <h2 class="hide-sm hide-md f5 mb-1 color-border-muted">Your teams</h2>
  <% if teams.count > 0 %>
    <div class="mt-2 mb-3" role="search" aria-label="Teams">
      <input type="text" class="form-control input-contrast input-block mb-3 js-filterable-field js-your-repositories-search" id="your-teams-filter-<%= location %>" placeholder="Find a team&hellip;" aria-label="Find a team&hellip;" data-url="<%= request.url %>" data-query-name="team" value="<%= query %>" autocomplete="off">
    </div>
    <%= render partial: "dashboard/teams", locals: { teams: teams, viewer: current_user, location: location } %>
  <% else %>
    <p class="notice">
      You don&rsquo;t belong to any teams yet!
    </p>
  <% end %>
</div>
