<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%= render(Primer::Alpha::Dialog.new(
  title: "Pause Audit log stream",
  subtitle: "",
  id: "pause-audit-log-stream-#{stream[:stream].id}",
  show_divider: true,
  size: :medium_portrait,
  animation: :fade_in,
)) do |d| %>
  <% if stream[:stream].enabled %>
    <% d.with_show_button(scheme: :danger) { "Pause stream" } %>
  <% else %>
    <% d.with_show_button(scheme: :danger, disabled: :true) { "Pause stream" } %>
  <% end %>
  <% d.with_body do %>
    <h4 class="pb-2 pl-3 pt-3 pr-3">Are you sure you want to pause the Audit log stream?</h4>
    <p class="pl-3 pr-3 mb-0 color-fg-muted">This will disable a client's audit log stream and send them an email notifying them that it must be checked and re-enabled.</p>
    <div class="p-3" >
      <%= form_tag stafftools_audit_log_stream_disable_endpoint_path(business, stream[:stream].id), method: :put do %>
        <input type="hidden">
        <%= render(Primer::ButtonComponent.new(type: :submit, scheme: :danger, block: true)) { "Pause stream" } %>
      <% end %>
    </div>
  <% end %>
<% end %>
