<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%= render(Primer::Alpha::Dialog.new(
  title: "Send notification about ongoing errors",
  subtitle: "",
  id: "misconfigured-stream-notification-#{stream[:stream].id}",
  show_divider: true,
  size: :medium_portrait,
  animation: :fade_in,
 )) do |d| %>
  <% if stream[:stream].enabled %>
    <% d.with_show_button(scheme: :danger) { "Send notification" } %>
    <% d.with_body do %>
      <h4 class="pb-2 pl-3 pt-3 pr-3">Are you sure you want to warn <%= business.name %> admins about ongoing errors with its stream?</h4>
      <p class="pl-3 pr-3 mb-0 color-fg-muted">This will send an email to enterprise admins notifying them that there are ongoing errors
        with their audit log stream and asking them to check it.</p>
      <div class="p-3">
        <%= form_tag stafftools_audit_log_stream_send_disable_warning_path(business, stream[:stream].id), method: :post do %>
          <input type="hidden">
          <%= render(Primer::ButtonComponent.new(type: :submit, scheme: :danger, block: true, name: :notification_button, value: :notification)) { "Send notification" } %>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <% d.with_show_button(scheme: :danger, disabled: :true) { "Send notification" } %>
  <% end %>
<% end %>


