<div class="d-flex">
  <div class="mr-2">
    <%= primer_octicon(:server, height: 48, mr: 1) %>
  </div>
  <div>
    <%= installation.customer_name %>
    <span class="d-block f5 color-fg-muted" itemprop="name"><%= installation.host_name %></span>
  </div>
</div>
