<% links = [
  {
    title: "Blog",
    body: "Read up on product innovations and updates, company announcements, community spotlights, and more.",
    url: "https://github.blog"
  },
  {
    title: "Brand assets",
    body: "Want to use Mona the octocat? Looking for the right way to display the GitHub logo for your latest project? Download the assets and see how and where to use them.",
    url: logos_path
  },
  {
    title: "Community stories",
    body: "Developers are building the future on GitHub every day, explore their stories, celebrate their accomplishments, and find inspiration for your own work.",
    url: readme_index_path
  },
  {
    title: "Customer stories",
    body: "See how some of the most influential businesses around the world use GitHub to provide the best services, products, and experiences for their customers.",
    url: customer_stories_path(type: :enterprise)
  },
  {
    title: "Careers",
    body: "Help us build the home for all developers. We’re a passionate group of people dedicated to software development and collaboration. Come join us!",
    url: "https://github.careers"
  },
  {
    title: "Diversity, Inclusions & Belonging",
    body: "We are dedicated to building a community and team that reflects the world we live in and pushes the boundaries of software innovation. Learn more about our DI&B efforts.",
    url: about_diversity_path
  },
  {
    title: "GitHub Status",
    body: "We are always monitoring the status of github.com and all its related services. Updates and status interruptions are posted in real-time here.",
    url: "https://www.githubstatus.com"
  },
  {
    title: "Leadership",
    body: "Meet the leadership team guiding us as we continue on this journey building the world’s largest and most advanced software development platform in the world.",
    url: about_leadership_path
  },
  {
    title: "Octoverse",
    body: "Dive into the details with our annual State of the Octoverse report looking at the trends and patterns in the code and communities that build on GitHub. ",
    url: "https://octoverse.github.com"
  },
  {
    title: "Policy",
    body: "We’re focused on fighting for developer rights by shaping the policies that promote their interests and the future of software. Learn more about our policy efforts.",
    url: "/about/developer-policy"
  },
  {
    title: "Press",
    body: "Explore the latest press stories on our company, products, and global community.",
    url: about_press_path
  },
  {
    title: "Social Impact",
    body: "Learn about how GitHub’s people, products, and platform are creating positive and lasting change around the world.",
    url: "https://socialimpact.github.com"
  }
]

digest = Digest::SHA256.hexdigest("#{links.to_json}")
cache_key = "site_about_links_#{digest}"

cache cache_key do %>
  <div class="col-md-10 col-lg-6 mx-auto mb-8">
    <% links.each do |link| %>
      <%= link_to link[:url], class: "d-block width-full py-5 border-bottom Link--secondary no-underline arrow-target-mktg" do %>
        <h3 class="mb-3 h5-mktg">
          <%= link[:title] %> <%= svg("modules/site/icons/chevrow.svg") %>
        </h3>

        <p class="mb-0 f3-mktg color-fg-muted">
          <%= link[:body] %>
        </p>
      <% end %>
    <% end %>
  </div>
<% end %>
