<% page_info title: "Importer — Down for Maintenance" %>

<%= render(Primer::Box.new) do %>
  <div class="text-center px-4">
    <%= render(Primer::Alpha::Image.new(src: image_path("modules/octocats/constructocat2.jpeg"), alt: "Constructocat", height: 350, width: 350)) %>

    <%= render Primer::Beta::Blankslate.new(spacious: true) do |c| %>
      <% c.with_heading(tag: :h2) do %>
        Sorry, GitHub Importer is down for maintenance
      <% end %>

      <% c.with_description do %>
        We'll be back shortly.
      <% end %>
    <% end %>
  </div>
<% end %>
