[Unit]
Description=Elasticsearch indices setup for a cluster
# the cluster is identified by the datacenter value

[Service]
Type=oneshot
Environment="CLUSTER_DC=%I"
ExecStart=/usr/local/share/enterprise/ghe-es-setup $CLUSTER_DC
