[Unit]
Description=Enterprise Manage
ConditionPathExists=/data/user/version
ConditionPathIsMountPoint=/data/user
BindsTo=ghe-user-disk.service
Wants=ghe-user-disk.service
After=ghe-user-disk.service

[Service]
User=enterprise-manage
Type=simple
Restart=always
RestartSec=5s
RestartPreventExitStatus=126
KillMode=control-group
KillSignal=SIGQUIT
ExecReload=/bin/kill -USR2 $MAINPID
TimeoutStartSec=180
TimeoutStopSec=600
SendSIGKILL=no

WorkingDirectory=/data/enterprise-manage/current
LimitCORE=524288000

Environment=CHECK_SERVICE=no
SyslogIdentifier=enterprise-manage
ExecStart=/usr/local/share/enterprise/ghe-systemd-wrapper enterprise-manage bin/unicorn \
  --env production \
  --config-file config/unicorn.rb \
  config.ru
ExecStartPost=/usr/local/share/enterprise/wait-for-unicorns enterprise-manage
ExecStartPost=/usr/local/share/enterprise/systemd-scripts/enterprise-manage-post-start
ExecStopPost=/usr/local/share/enterprise/systemd-scripts/enterprise-manage-post-stop

[Install]
Alias=enterprise-manage-unicorn.service
WantedBy=multi-user.target
