[Unit]
After=consul.service
After=enterprise-manage.service
Requisite=enterprise-manage.service
PartOf=enterprise-manage.service

[Service]
Type=notify
NotifyAccess=all
TimeoutSec=50s
Restart=always
StartLimitInterval=0
ExecStart=/usr/local/share/enterprise/ghe-consul-register enterprise-manage --port 1336 --check --http 'http://localhost:1336/setup/unlock' --interval 15s
ExecStopPost=/usr/local/share/enterprise/ghe-consul-register --deregister enterprise-manage

[Install]
WantedBy=multi-user.target
