[Unit]
Description=Welcome to GitHub Enterprise
ConditionPathExists=!/etc/github/ec2-ami
ConditionPathExists=!/etc/default/walinuxagent
ConditionPathExists=!/etc/default/instance_configs.cfg
ConditionVirtualization=!container
Before=sysinit.target
After=console-setup.target
After=keyboard-setup.target
After=local-fs.target
DefaultDependencies=no

[Service]
Type=simple
ExecStart=/usr/local/share/enterprise/ghe-welcome
StandardInput=tty
StandardOutput=tty
TTYPath=/dev/tty1
TTYReset=yes
Restart=always

[Install]
WantedBy=sysinit.target
