[Unit]
Description=Secrets initialization
Wants=ghe-user-disk.service
After=ghe-user-disk.service
Before=graphite.service
Before=enterprise-manage.service
Before=ghes-manage-agent.service
Before=ghes-manage-gateway.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/share/enterprise/ghe-secrets-init

[Install]
WantedBy=multi-user.target
