[Unit]
Description=GitHub Enterprise user disk
#Wants=cloud-config.service
Requires=rc-local.service
After=rc-local.service
#After=cloud-config.service
After=haproxy-pre-config.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/share/enterprise/systemd-scripts/ghe-user-disk-start
ExecStop=/usr/local/share/enterprise/systemd-scripts/ghe-user-disk-stop
Environment="HOME=/root"
TimeoutStopSec=150s

[Install]
WantedBy=multi-user.target
