#
# This unit reconfigures the system when the hardware
# or the configuration changed.
#
[Unit]
Description=GitHub Enterprise configuration service
Wants=ghe-secrets.service
Wants=ghe-user-disk.service
After=ghe-user-disk.service
After=ghe-secrets.service
ConditionPathIsMountPoint=/data/user
ConditionPathExists=/data/user/common/enterprise.ghl
ConditionPathExists=/data/user/common/enabled

[Service]
Type=oneshot
ExecStart=/usr/local/share/enterprise/systemd-scripts/ghe-reconfigure-start
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
