[Unit]
Description=GitHub Enterprise Loading Page
Wants=ghe-user-disk.service
After=ghe-user-disk.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/share/enterprise/systemd-scripts/ghe-loading-page

[Install]
WantedBy=multi-user.target
