[Unit]
Description=Wait for the SSL certificates to be generated
Before=ghe-user-disk.service
Before=enterprise-manage.service

[Service]
Type=oneshot
ExecStart=/usr/local/share/enterprise/systemd-scripts/wait-for-certs

[Install]
WantedBy=multi-user.target
