[Unit]
Description=ensure the lock directory has the correct permissions
Requires=local-fs.target
After=local-fs.target
Before=multi-user.target

[Service]
Type=oneshot
ExecStart=/usr/local/share/enterprise/systemd-scripts/ghe-set-lock-dirs-permissions

[Install]
WantedBy=multi-user.target
