[Unit]
Description=ensure log directories exist
Requires=local-fs.target
After=local-fs.target
Before=multi-user.target

[Service]
Type=oneshot
ExecStart=/usr/local/share/enterprise/systemd-scripts/ghe-create-log-dirs

[Install]
WantedBy=multi-user.target
