[Unit]
Description=Configures default DC settings
Requires=ghe-user-disk.service
After=ghe-user-disk.service
Requires=consul.service
After=consul.service

[Service]
Type=oneshot
ExecStart=/usr/local/share/enterprise/ghe-dc-setup

[Install]
WantedBy=multi-user.target
