[Unit]
Description=GHE monitoring binary
Wants=ghe-user-disk.service
After=ghe-user-disk.service

[Service]
ExecStart=/usr/local/share/enterprise/systemd-scripts/ghe-health-monitor
