[Unit]
Description=Warm up Docker images
Requires=local-fs.target
After=local-fs.target

[Service]
ExecStart=/usr/local/share/enterprise/ghe-block-init /data/docker-images

[Install]
WantedBy=multi-user.target
