[Unit]
Description=GitHub Enterprise database disk
Requisite=ghe-user-disk.service
Before=elasticsearch.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/share/enterprise/systemd-scripts/ghe-db-disk

[Install]
RequiredBy=elasticsearch.service
