[Unit]
Description=GHES Manage Gateway
ConditionPathExists=/data/user/version
ConditionPathExists=/data/ghes-manage-gateway/shared
ConditionPathIsMountPoint=/data/user
BindsTo=ghe-user-disk.service
Wants=ghe-user-disk.service
After=ghe-user-disk.service

[Service]
User=ghes-manage-gateway
Type=simple
Restart=always
RestartSec=5s
RestartPreventExitStatus=126
KillMode=control-group
KillSignal=SIGTERM
ExecReload=/bin/kill -USR2 $MAINPID
TimeoutStartSec=180
TimeoutStopSec=600
SendSIGKILL=no

WorkingDirectory=/data/ghes-manage-gateway/shared
LimitCORE=524288000

Environment=CHECK_SERVICE=no
SyslogIdentifier=ghes-manage-gateway
ExecStart=/usr/local/share/enterprise/ghe-systemd-wrapper ghes-manage-gateway /usr/local/share/enterprise/ghes-manage \
  --gateway

[Install]
WantedBy=multi-user.target
