[Unit]
After=consul.service
After=ghes-manage-gateway.service
Requisite=ghes-manage-gateway.service
PartOf=ghes-manage-gateway.service

[Service]
Type=notify
NotifyAccess=all
TimeoutSec=50s
Restart=always
StartLimitInterval=0
ExecStart=/usr/local/share/enterprise/ghe-consul-register ghes-manage-gateway --port 9400 --check --http 'http://localhost:9400/_ping' --interval 5s
ExecStopPost=/usr/local/share/enterprise/ghe-consul-register --deregister ghes-manage-gateway

[Install]
WantedBy=multi-user.target
