[Unit]
Description=Ensure haproxy-cluster-proxy config reloads when required
After=network.target
Requires=nomad.service
After=nomad.service
Wants=haproxy-cluster-proxy-config.timer
After=haproxy-cluster-proxy-config.timer
# Running the config service while Nomad is stopped will result in restarting Nomad. Binding to nomad.service prevents this
BindsTo=nomad.service

[Service]
Type=oneshot
TimeoutSec=30
ExecStart=/usr/local/share/enterprise/systemd-scripts/haproxy-config-reloader data

[Install]
WantedBy=multi-user.target
