[Unit]
Description=Ensure haproxy-cluster-proxy config reloads when required
# Running the config service while Nomad is stopped will result in restarting Nomad. Binding to nomad.service prevents this
BindsTo=nomad.service

[Timer]
OnUnitInactiveSec=5s

[Install]
WantedBy=github-enterprise.target
