[Unit]	
Description=HAProxy Load Balancer	
After=network.target	

[Service]	
StartLimitInterval=0	
Environment="CONFIG=/etc/haproxy/haproxy-pre-config.cfg" "PIDFILE=/var/run/haproxy-pre-config.pid"	
ExecStartPre=/bin/bash -c "([ -f /etc/haproxy/ssl.crt+key ] && cat /etc/haproxy/ssl.crt+key | openssl verify) || /usr/local/share/enterprise/ghe-ssl-generate-self-signed"
ExecStartPre=-/bin/cp $CONFIG ${CONFIG}.previous	
ExecStartPre=/usr/sbin/haproxy -f $CONFIG -c -q	
ExecStart=/usr/sbin/haproxy -Ws -f $CONFIG -p $PIDFILE	
ExecReload=-/usr/bin/diff -U 15 ${CONFIG}.previous $CONFIG	
ExecReload=-/bin/cp $CONFIG ${CONFIG}.previous	
ExecReload=/usr/sbin/haproxy -f $CONFIG -c -q	
ExecReload=/bin/kill -USR2 $MAINPID	
KillMode=process
KillSignal=SIGUSR1
Restart=always	
SuccessExitStatus=143	
Type=notify	
SyslogIdentifier=haproxy-pre-config

[Install]	
WantedBy=multi-user.target	
