<% page_meta = {
    title: "GitHub Supplier Agreements · GitHub Procurement",
    description: "GitHub Supplier Agreements consist of all agreements that may be applicable to a GitHub purchase."
  }

  page_info \
  title: page_meta[:title],
  description: page_meta[:description],
  class: "overflow-x-hidden",
  richweb: {
    title: page_meta[:title],
    url: request.original_url,
    description: page_meta[:description],
    image: image_path("modules/site/social-cards/procurement.jpg"),
  }
%>

<div class="py-3 p-responsive border-bottom">
  <div class="col-12">
    <div class="d-flex flex-justify-between flex-md-items-center flex-column flex-md-row flex-wrap">
      <div class="position-relative" style="top: -3px">
        <div class="f6-mktg text-gray-light-mktg text-semibold">
          GitHub Supplier Agreements
        </div>

        <h1 class="f4-mktg text-semibold">
          <%= document.title %>
        </h1>

        <% if document.subtitle.present? %>
          <p class="text-gray-light-mktg f6-mktg mt-1 mb-0">
            <%= document.subtitle %>
          </p>
        <% end %>
      </div>

      <a class="mt-2 text-center btn-mktg btn-small-mktg" href="<%= document.file.url %>" target="_blank" rel="noopener noreferrer">
        Download
      </a>
    </div>
  </div>
</div>

<%= tag.iframe(
  title: document.title,
  src: document.file.url,
  class: "width-full",
  style: "height: 86vh",
  frameborder: "0"
)%>
