
  <%= render Primer::Beta::Subhead.new(hide_border: true) do |component| %>
    <% component.with_heading(tag: :h2, danger: true) do %>Danger zone<% end %>
  <% end %>

<div class="Box Box--danger">
  <div class="Box-row">
    <div class="form-group d-flex mt-0">
      <div class="d-flex flex-column col-8">
        <label>Backfill Actions shared storage to Billing Platform</label>
        <span class="note">
          Replays all Artifact events to sync the Enterprise's current storage usage for Actions to Billing Platform.
          This should only be run with as part of customer migration.
        </span>
      </div>
      <div class="flex-1">
        <%= form_tag stafftools_enterprise_billing_migrations_actions_storage_backfill_path(this_business), method: :post do %>
          <%= render Primer::Beta::Button.new(type: :submit, block: true, scheme: :danger) do %>
            Backfill Actions Storage
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
