<nav class="UnderlineNav mb-4" aria-label="Audit Log">
  <div class="UnderlineNav-body" role="tablist">
    <%= selected_link_to "Events",
      settings_org_audit_log_path(organization),
      class: "UnderlineNav-item",
      data: test_selector_hash("underline-nav-item"),
      role: "tab" %>
    <% if GitHub.audit_log_export_enabled? &&
        GitHub.flipper[:audit_log_export_logs].enabled?(organization) ||
        GitHub.flipper[:audit_log_export_logs].enabled?(current_user) %>
      <%= selected_link_to "Export logs",
        org_audit_log_export_logs_path(organization),
        class: "UnderlineNav-item",
        data: test_selector_hash("underline-nav-item"),
        role: "tab",
        highlight: :org_audit_log_export_logs %>
    <% end %>
    <% if organization.show_optional_audit_log_event_settings?%>
      <%= selected_link_to "Settings",
      org_audit_log_event_settings_path(organization),
      class: "UnderlineNav-item",
      data: test_selector_hash("underline-nav-item"),
      role: "tab",
      highlight: :business_audit_log_event_settings_settings %>
    <% end %>
  </div>
</nav>
