<div class="mt-3 mb-4 d-flex">
  <div class="mr-5">
    <div>
      <span class="color-fg-muted">
        Runner group:
      </span>
      <span>
        <a href="<%= runner_group_path %>"><%= runner_group_name %></a>
      </span>
    </div>
  </div>
</div>
