<div class="d-flex flex-row pb-5 border-bottom" <%= test_selector "runner-scale-set-component" %>>
  <div class="mr-5 pr-5 flex-1">
    <%= render(Actions::RunnerScaleSets::RunnerScaleSetStatisticsComponent.new(scale_set: @scale_set)) %>
  </div>
  <div class="mr-5 pr-5 flex-1">
    <%= render(Actions::RunnerScaleSets::RunnerScaleSetLabelsComponent.new(scale_set: @scale_set)) %>
  </div>
</div>
