.leadingContent {
  min-width: 22px;
}

.commentCountContainer {
  display: flex;
  align-items: center;
}

.defaultRepoContainer {
  display: inline;
}

.timestampContainer {
  display: inline;
  width: '100%';
  margin-left: var(--base-size-4);
}

.visibleTimestampResponsive {
  display: inline;
}

@media (min-width: 1024px) {
  .visibleTimestampResponsive {
    display: none;
  }
}

.hiddenTimestampResponsive {
  display: none;
}

@media (min-width: 1024px) {
  .hiddenTimestampResponsive {
    display: inline;
  }
}

.authorCreatedLink {
  color: var(--fgColor-muted, var(--color-fg-muted)) !important;
}

.authorCreatedLink:hover {
  color: var(--fgColor-accent, var(--color-fg-accent)) !important;
  text-decoration: none !important;
}

.defaultNumberDescription {
  color: var(--fgColor-muted, var(--color-fg-muted));
}

.compactNameWithOwnerLabel {
  overflow: hidden;
  text-overflow: ellipsis;
}
