<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# rubocop:disable Lint/InstanceVariable %>
<% url_opts = {
  :controller => 'repository_search',
  :action     => 'index',
  :user_id    => current_repository.root.user.display_login,
  :repository => current_repository.root.name,
  :q          => @search,
  :type       => 'Code'
} %>

<%= render Primer::BlankslateComponent.new(
  icon: "search",
  title: "Sorry, forked repositories are not currently searchable.",
  narrow: true,
) do %>
  <p>
    You could try searching the <%= link_to "parent repository", url_with(url_opts), class: "Link--inTextBlock" %>.
  </p>
<% end %>
