<% unless check_result.nil? %>
  <% if check_result != "ok" %>
    <p class="flash flash-error">
      <button class="flash-close js-flash-close" type="button" aria-label="Dismiss this message">
        <%= primer_octicon(:x) %>
      </button>
      <%= render(Primer::Beta::Octicon.new(icon: "alert")) %>
      <%= check_result %>
    </p>
  <% end %>
<% end %>
