<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%= render(Primer::Alpha::Dialog.new(
    title: "Delete Audit log stream",
    subtitle: "",
    id: "delete-audit-log-stream-#{stream_id}",
    show_divider: true,
    size: :medium_portrait,
    animation: :fade_in
  )) do |d| %>
    <% d.with_show_button(scheme: :danger) { "Delete stream" } %>
    <% d.with_body do %>
      <%= render(Primer::Beta::Flash.new(scheme: :warning, color: :attention)) { "This is a destructive action and cannot be undone. Please be certain." } %>
      <h4 class="pb-2 pl-3 pt-3 pr-3">Are you sure you want to delete the Audit log stream? </h4>
      <p class="pl-3 pr-3 mb-0 color-fg-muted">This will disconnect GitHub from your specified endpoint.</p>
      <p class="pl-3 pr-3 color-fg-muted">Once deleted, you will have to re-configure streaming audit log data from GitHub to an external location.</p>
      <div class="p-3">
        <%= button_to "Delete stream", current_business.audit_log_multiple_streaming_endpoint_enabled? ?
                settings_audit_log_streams_remove_enterprise_path(current_business.slug, stream_id) :
                settings_audit_log_stream_remove_enterprise_path(current_business.slug),
              class: 'btn btn-block btn-danger',
              method: :delete,
              aria: { label: "Delete stream" } %>
      </div>
    <% end %>
<% end %>


