<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%= render(Primer::Beta::Flash.new(scheme: :warning, color: :attention)) { "This is a destructive action and cannot be undone. Please be certain." } %>
<h4 class="pb-2 pl-3 pt-3 pr-3">Are you sure you want to delete the Audit log stream?</h4>
<p class="pl-3 pr-3 mb-0 color-fg-muted">This will disconnect GitHub from your specified endpoint.</p>
<p class="pl-3 pr-3 color-fg-muted">Once deleted, you will have to re-configure streaming audit log data from GitHub to an external location.</p>
<div class="p-3">
  <%= button_to "Delete stream", settings_audit_log_stream_enterprise_path(current_business),
        class: 'btn btn-block btn-danger',
        method: :delete,
        aria: { label: "Delete stream" } %>
</div>
