<% page_info title: "Codespaces Dials", selected_link: :codespaces_dials %>

<%= render layout: "stafftools/stafftools" do %>

  <%= render(Primer::Alpha::Menu.new) do |c| %>

    <% c.with_heading(tag: :h2) do %>
      Dials
    <% end %>

    <% dials.each do |dial| %>
      <% c.with_item(href: edit_stafftools_codespaces_dial_path(dial.key)) do %>
        <div>
          <%= dial.key %>
        </div>
      <% end %>
    <% end %>
  <% end %>
<% end %>
