<% last = href_components.size - 1 %>
<% href_components.each_with_index do |component, index| %>
  <span class="d-inline-flex" <%= test_selector("issue-href-group-component")%> >
    <%= render component %>
    <% unless index == last %>,&nbsp;<% end %>
  </span>
<% end %>
