<div <%= test_selector("tracked_in_pill") %> class="tracked-in-parent-pill d-flex mr-2 border" style="border-radius: 2em; padding: 4px 12px; height: 32px">
  <% if @tracking_issues.size > 1 %>
    <span <%= safe_data_attributes(hovercard_data_attributes_for_tracked_in(@issue)) %> style="cursor: pointer">
      <%= @tracking_issues.size %> tracking issues
    </span>
  <% else %>
    <%= render first_href_component %>
  <% end %>
</div>
