<div class="d-flex mt-2 flex-wrap lh-default">
  <span class="mr-1 flex-shrink-0 color-fg-muted">Tracked by</span>
  <%= render Issues::IssueHrefGroupComponent.new(issue_href_components: components) %>
</div>
