<% force_create_lead ||= false %>

<div class="py-3 mb-6 border-bottom">
  <h1 class="f0-light">
    Get started with <%= GitHub::Plan.business_plus.titleized_display_name %>
  </h1>
  <p class="lead mb-0">
    <% if logged_in? %>
      <% if lead == :create_org %>
        Tell us about your organization to begin your <strong>free <%= view.discount_duration %></strong> trial.
      <% elsif lead == :upgrade_org %>
        Choose an organization to begin your <strong>free <%= view.discount_duration %></strong> trial.
      <% end %>
    <% else %>
      Create an account or sign in to begin your <strong>free <%= view.discount_duration %></strong> trial.
    <% end %>
  </p>
</div>
