<div class="js-check-all-container js-bulk-actions-container">
  <div class="Box rounded-0 rounded-top-2">
    <div class="Box-header d-flex flex-items-center">
      <div class="select-all-dropdown js-bulk-actions flex-auto">
        <%= render partial: "registry_two/package_settings/access_management/repositories_toolbar_actions", locals: { selected_count: codespaces_packages_permissions.count, selected_ids: [], repositories_count: codespaces_packages_permissions.count  } %>
      </div>
    </div>
  </div>

  <div id="package-access-table">
    <div class="Box rounded-0 rounded-bottom-2 border-top-0">
        <% codespaces_packages_permissions.each do |codespaces_packages_permission| %>
          <div class="Box-row clearfix d-flex flex-items-center adminable">

            <%= render partial: "registry_two/package_settings/access_management/repository_row", locals: { package: package, repository: codespaces_packages_permission.repository } %>
            <div class="permission-level-cell">
              <span class="text-normal color-fg-muted">Role: </span> Read
            </div>
            <%= render partial: "registry_two/package_settings/access_management/remove_access_form", locals: { package: package, member: codespaces_packages_permission.repository, local_removal_path: remove_package_codespaces_access_path } %>
          </div>
        <% end %>
      </div>
  </div>
</div>
