<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<p>Select the organization repositories that may use Actions.</p>
<div class="mt-3 d-flex flex-column overflow-hidden">
  <%= render(Organizations::Settings::RepositorySelectionComponent.new(
    organization: organization,
    repositories: repositories,
    selected_repositories: selected_repositories,
    data_url: repository_items_data_url,
    aria_id_prefix: repository_items_aria_id_prefix)) %>
</div>

<div class="Box-footer">
  <div class="d-flex flex-items-center ">
    <span class="js-selected-repositories-count-container flex-auto text-small color-fg-muted lh-condensed-ultra">
      <span class="js-selected-repositories-count">
        <%= selected_repositories.size %>
      </span>
      <span class="js-multiple-repositories-text" <%= " hidden" if selected_repositories.size == 1 %>>
        selected repositories
      </span>
      <span class="js-single-repository-text" <%= " hidden" unless selected_repositories.size == 1 %>>
        selected repository
      </span>
    </span>
    <button type="submit" form="actions-policy-repos-form" data-close-dialog class="btn btn-primary">
      Select repositories
    </button>
  </div>
</div>
