<div class="form-checkbox">
  <label>
    <%= form.check_box :searchable %>
    <%= primer_octicon(:book) %> Make the index searchable
  </label>
  <p class="note">
    The index will process search requests <strong>when</strong> it is the primary index.
  </p>
</div>

<div class="form-checkbox">
  <label>
    <%= form.check_box :writable %>
    <%= render(Primer::Beta::Octicon.new(icon: "pencil")) %> Make the index writable
  </label>
  <p class="note">
    Documents will be added to the index <strong>only</strong> when it is writable.
  </p>
</div>
