<div class="mb-5">
  <%= render(Primer::Beta::BorderBox.new(padding: :condensed)) do |component| %>
    <% component.with_header(id: "billing-txn-search-label") do %>
      Search billing transactions
    <% end %>
    <% component.with_row do %>
      Find transactions for <strong>existing and deleted enterprises, organizations, and users</strong>
      <%= form_with url: stafftools_billing_transaction_path, method: :get do |f| %>
        <div class="form-group">
          <%= f.text_field :transaction_id,
            placeholder: "transaction ID or PayPal or credit card reference ID",
            value: params[:transaction_id],
            "aria-labelledby": "billing-txn-search-label"
          %>
        <%= render(Primer::Beta::Button.new(type: :submit, display: :inline_block)) { "Search" } %>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
