<%# rubocop:disable Lint/InstanceVariable %>
<%# erblint:counter 1%>
<% page_info :title => "Search Billing Transaction" %>

<%= render layout: "stafftools/stafftools" do %>
  <%= render "stafftools/billing_transactions/form" %>

  <%= render(Primer::Beta::BorderBox.new(padding: :condensed)) do |component| %>
    <% component.with_header do %>
      Transaction not found
    <% end %>
    <% component.with_row do %>
      <% if params[:transaction_id].present? %>
        <p>Unable to locate transaction <strong><%= params[:transaction_id] %></strong>.</p>
      <% else %>
        <p>Please enter a transaction ID to continue</p>
      <% end %>
    <% end %>
  <% end %>
<% end %>
