<div class="mb-3">
  <%= render(Primer::Alpha::Banner.new(scheme: :warning, full: false, icon: "alert", dismiss_scheme: :hide)) do |banner| %>
    <% banner.with_action_button(size: :medium) { "Renew Now" } %>
      <span class="ml-2 text-normal">Your GitHub Enterprise contract expires on <span class="text-bold"> <%= billing_end_date %> </span>. Renew now to keep your experience as smooth as possible.</span>
  <% end %>
</div>

