<%= render GitHub::FlashActionDismissibleComponent.new(
  level: :warning,
  icon: :info,
  spacious: true,
  is_dismissible: dismissible,
  test_selector: "lfs-billing-banner"
) do |flash| %>
  <% flash.with_title do %>
    Updates for LFS are coming soon
  <% end %>
  <% flash.with_text do %>
    GitHub is changing the billing method for Git Large File Storage (Git LFS)
    from pre-purchased data packs to metered billing. More details
    <a class="Link--inTextBlock" target="_blank" rel="noopener noreferrer"
      href="https://github.com/orgs/community/discussions/61362">in this LFS billing FAQ</a>.
  <% end %>
<% end %>
