<div class="<%= wrapper_class %>" <%= test_selector("fields-container") %>>
  <%= render Billing::Settings::NameAddressFormInputsComponent.new(
    profile: profile,
    target: target,
    payment_flow_loaded_from: payment_flow_loaded_from,
    disable_form_inputs: disable_form_inputs,
    return_to: return_to,
    wrapper_type: :form,
    form_id: form_id,
  ) %>
</div>
