<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%= render(Primer::Beta::Flash.new(
  scheme: :warning,
  display: :flex,
  align_items: :center,
  mb: 4,
  test_selector: "trending-deprecation-banner"
)) do |component| %>
  <div>
    <%= render(Primer::Beta::Heading.new(tag: :h2, font_size: 5, font_weight: :emphasized, style: "display:inline")) { "Heads up!" } %>
    <%= render(Primer::Beta::Text.new(style: "display:inline")) do %>
      This Trending tab is being deprecated. Due to low usage of Trending Repositories and Trending Developers,
      this tab will no longer be available beginning September 30, 2022. For questions and feedback, please visit
      <a href="/community/community/discussions/categories/general" class="text-underline" style="text-underline-offset: 25%">GitHub Community</a>.
    <% end %>
  </div>
<% end %>
