<nav class="subnav mb-0" aria-label="Trending" data-pjax>
  <%= selected_link_to(
    "Repositories",
    trending_index_path,
    highlight: :trending_repositories,
    class: "subnav-item",
  ) %>
  <%= selected_link_to(
    "Developers",
    trending_developers_path,
    highlight: :trending_developers,
    class: "subnav-item",
  ) %>
</nav>
