<% if outermost_table %>
<table data-table-type="yaml-metadata">
<% else %>
<table>
<% end %>
<% if th_row.any? -%>
  <thead>
  <tr>
  <% th_row.each do |header| %>
  <th><%= transcode_yaml_value(header) %></th>
  <% end %>
  </tr>
  </thead>
<% end %>
  <tbody>
<% if tb_row.any? -%>
  <tr>
  <% tb_row.each do |row| %>
  <td><div><%= transcode_yaml_value(row) %></div></td>
  <% end %>
  </tr>
<% end %>
  </tbody>
</table>
