<p class="mb-0"><%= "Email #{UserEmail::GENERIC_DOMAIN_ERROR}" %></p>

<%=
  render partial: "email_validity_checks/spellcheck_suggestion",
    locals: { spellcheck_suggestion: spellcheck_suggestion }
%>
