<p class="mb-0"><%= "#{UserEmail::ReservedEmailDomainDependency::RESERVED_DOMAIN_NEW_ACCOUNT_MESSAGE}" %></p>
<%=
  render partial: "email_validity_checks/spellcheck_suggestion",
    locals: { spellcheck_suggestion: spellcheck_suggestion }
%>
