<p class="mb-0"><%= TradeControls::Notices.sanctioned_domain_email_warning %></p>

<%=
  render partial: "email_validity_checks/spellcheck_suggestion",
    locals: { spellcheck_suggestion: spellcheck_suggestion }
%>
