<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% if spellcheck_suggestion %>
  <p data-target="text-suggester.suggestionContainer">
    Did you mean
    <%= render Primer::ButtonComponent.new(scheme: :link, "data-target": "text-suggester.suggestion", "data-action": "click:text-suggester#acceptSuggestion") do %>
      <%= spellcheck_suggestion %>
    <% end %>?
  </p>
<% end %>
