<p class="mb-0">
  <%= safe_join([
    "The email you have provided is already associated with an account.",
    render(Primer::BaseComponent.new(tag: :br, hide: :whenNarrow)),
    link_to("Sign in", login_path, class: "Link--inTextBlock"),
    "or",
    link_to("reset your password", password_reset_path, class: "Link--inTextBlock")
  ], " ") %>.
</p>
