<% page_info title: "Password reset sent!" %>

<div class="auth-form px-3" <%= test_selector "password-reset-standard-view" %>>
  <div class="auth-form-header p-0">
    <h1>Reset your password</h1>
  </div>
  <%= render "shared/flash" %>
  <div class="auth-form-body mt-3">
    <p class="mt-0">
      Check your email for a link to reset your password. If it doesn’t appear within a few minutes, check your spam folder.
    </p>
    <%= link_to(
      login_path,
      class: "btn btn-block",
      data: sign_in_link_data_attributes(location_in_page: "password reset sent")
    ) do %>
      Return to sign in
    <% end %>

  </div>
</div>
