<div class="d-flex flex-row pb-5 border-bottom">
  <div class="mr-5 pr-5 flex-1">
    <%= render(Actions::LargerRunners::LargerRunnerJobsUsageComponent.new(larger_runner: @larger_runner, runner_group: @runner_group, check_runs: @check_runs)) %>
  </div>
  <div class="mr-5 pr-5 flex-1">
    <%= render(Actions::LargerRunners::LargerRunnerLabelsComponent.new(larger_runner: @larger_runner)) %>
  </div>
</div>

<div>
  <%= render(Actions::LargerRunners::LargerRunnerJobsListComponent.new(larger_runner: @larger_runner, check_runs: @check_runs)) %>
</div>
