<%= render(Primer::Experimental::Dialog.new(
  dialog_id: "dialog-with-actions-nav-fragment",
  show_header_divider: false,
  header_variant: :large,
  title:  "Actions",
  src: nav_content_src,
  preload: true,
  position_narrow: :bottom,
  w: :full,
  height: :large,
  test_selector: "actions-mobile-nav-dialog" )) do |c| %>
    <% c.with_show_button(scheme: :invisible, color: :default, ml: -3, classes: "Truncate", align_items: :center) do |s| %>
      <h3 class="Truncate-text mr-2 lh-default f3"><%= overlay_button_text %></h3>
      <%= render(Primer::Beta::Octicon.new(icon: "triangle-down", flex_shrink: 0, color: :default)) %>
    <% end %>
    <% c.with_include_fragment(test_selector: "actions-mobile-nav-fragment") do |s| %>
      <div class="text-center" data-hide-on-error>
        <h5>Loading...</h5>
        <%= render(Primer::Beta::Spinner.new(size: :small, mt: 1)) %>
      </div>
      <div class="text-center" data-show-on-error hidden>
        <h5>Sorry, something went wrong.</h5>
      </div>
  <% end %>
<% end %>
