<% page_info(
    title: "Bulk Sponsorships · #{this_organization.safe_profile_name}",
    breadcrumb: "Bulk Sponsorships",
    breadcrumb_owner: this_organization,
    selected_link: :org_sponsoring_bulk,
    stafftools: billing_stafftools_user_path(this_organization)
  )
%>

<div class="p-md-3 width-full">
  <%= render Primer::Beta::Subhead.new do |subhead| %>
    <% subhead.with_heading(tag: :h3).with_content("Bulk Sponsor") %>
  <% end %>
  <%= render Sponsors::BulkSponsorships::FrequenciesComponent.new(sponsor: this_organization) %>
</div>
