.checksGroupHeadingButton {
  --control-transparent-bgColor-selected: transparent;

  color: var(--fgColor-muted, var(--color-fg-muted)) !important;
}

.checksGroupActionList {
  padding-top: var(--base-size-2) !important;
  margin-left: calc(var(--base-size-4) * -1) !important;
}

.checksContainer {
  /* stylelint-disable-next-line primer/spacing */
  padding-top: var(--stack-padding-condensed);
  /* stylelint-disable-next-line primer/spacing */
  padding-bottom: var(--stack-padding-condensed);
  overflow-y: auto;
}

.expandableWrapper {
  display: grid;
  opacity: 0;

  --transition-duration: 0.25s;

  @media (prefers-reduced-motion) {
    --transition-duration: 0;
  }

  transition: grid-template-rows var(--transition-duration) cubic-bezier(0.85, 0, 0.30, 1), visibility var(--transition-duration), opacity var(--transition-duration);
  grid-template-rows: 0fr;
}

.expandableContent {
  overflow: hidden;
}

.isExpanded {
  opacity: 1;
  grid-template-rows: 1fr; /* using a grid property lets us animate the height as grid is an animatable property */
}
