.check-spinner-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: var(--base-size-16);
  height: var(--base-size-16);
  align-items: center;
  justify-content: center;
}

.check-spinner-inner {
  width: var(--base-size-8);
  height: var(--base-size-8);
  background-color: var(--fgColor-attention);
  border-radius: var(--borderRadius-full);
}

.check-row {
  isolation: isolate;
  position: relative;
  display: flex;
  /* stylelint-disable-next-line primer/spacing */
  margin-right: var(--control-medium-paddingInline-condensed);
  /* stylelint-disable-next-line primer/spacing */
  margin-left: var(--control-medium-paddingInline-condensed);
  overflow: hidden;
  list-style: none;
  justify-content: space-between;
  border-radius: var(--borderRadius-medium);
}

.check-row-has-target:hover {
  background-color:var(--control-transparent-bgColor-hover);
}

.check-row:not(:last-of-type) .check-row-prepending-content,
.check-row:not(:last-of-type) .check-row-main-content {
  border-bottom-color: var(--borderColor-muted);
}

.check-row:focus-within {
  outline: 2px solid var(--focus-outlineColor, var(--color-accent-fg));
}

.check-row-main-content {
  display: flex;
  min-width: 0;
  height: var(--control-medium-size);
  /* stylelint-disable-next-line primer/spacing */
  padding-right: var(--control-medium-paddingInline-normal);
  border-top: var(--borderWidth-thin) solid transparent;
  border-bottom: var(--borderWidth-thin) solid transparent;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}

.check-row-left-content {
  z-index: 2;
  display: inline-block;
  min-width: 0;
  overflow: hidden;
  font-size: var(--text-body-size-small);
  color: var(--fgColor-muted);
  text-overflow: ellipsis;
  white-space: nowrap;
}

.check-row-link {
  margin-right: var(--base-size-8);
  font-size: var(--text-body-size-medium);
  font-weight: var(--base-text-weight-normal);
  color: var(--fgColor-default);
}

.check-row-link:focus {
  outline: none; /* setting outline none as the parent has focus-within style */
}

.check-row-prepending-content {
  display: flex;
  /* stylelint-disable-next-line primer/spacing */
  padding: 0 var(--control-medium-paddingInline-condensed); /* disabling because this is a primer variable */
  border-top: var(--borderWidth-thin) solid transparent;
  border-bottom: var(--borderWidth-thin) solid transparent;
  align-items: center;
  gap: var(--control-medium-gap);
}

.control-small {
  display: flex;
  width: var(--control-small-size);
  color: var(--fgColor-muted);
  justify-content: center;
}

/* Using inclusive component styles for the button as per https://inclusive-components.design/cards */
.button {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
  }
}
