<template class="js-new-comment-template">
  <%= form_tag(
    discussion_comments_path(repository.owner, repository.name, discussion.number),
    class: "js-new-comment-form js-discussion-comment-form",
  ) do %>
    <input type="hidden" name="comment[parent_comment_id]" value="{{ id }}" >
    <input type="hidden" name="anchor_id" value="{{ anchorId }}">
    <input type="hidden" name="back_page" value="{{ backPage }}">
    <div class="comment-form-error js-comment-form-error" role="alert" hidden></div>
    <%= render(Comments::PreviewableCommentFormComponent.new(
      textarea_id: "discussion-{{ id }}-comment",
      placeholder: "Write a reply",
      subject: discussion,
      current_repository: repository,
      local_storage_resumable: true,
      session_resumable: false,
      use_fixed_width_font: current_user.use_fixed_width_font?,
      slash_commands_enabled: slash_commands_enabled?,
      slash_commands_surface: SlashCommands::DISCUSSION_SURFACE
    )) %>

    <div class="form-actions float-none p-0 mt-2">
      <%= render Discussions::FormActionsComponent.new(timeline: timeline, is_inline_comment: true) %>
    </div>
  <% end %>
</template>
