.container {
  display: flex;
  align-items: center;
  min-width: var(--control-small-size);
  grid-area: actions;
  flex-grow: 2;
  max-height: 24px; /* if this is taller than the title, the leading icon won't align with the title's first line anymore */

  &.withoutActions {
    max-width: 200px;
  }
}
