.hint {
  position: absolute;
  top: 0;
  right: var(--base-size-12);
  z-index: 100;
  display: none;
  /* stylelint-disable-next-line primer/spacing */
  padding: var(--control-small-paddingBlock);
  /* stylelint-disable-next-line primer/spacing */
  padding-left: var(--control-small-paddingInline-condensed);
  color: var(--fgColor-muted);
  background: var(--bgColor-default);
  border-radius: var(--borderRadius-medium);
  box-shadow: var(--shadow-floating-medium);
  transform: translateY(-66%);
  gap: var(--control-small-paddingInline-condensed);
}

/* Show the hint when contained by a focused item ([role="treeitem"]:focus-visible &) but not when it is inside
a subitem of a focused item (:not([role="treeitem"]:focus-visible [role="treeitem"] &)). The :where is just to
avoid an absurdly high specificity.

Avoiding nesting to work around https://github.com/github/web-systems/issues/2103
*/
[role='treeitem']:focus-visible .hint:where(:not([role='treeitem']:focus-visible [role='treeitem'] .hint)) {
  display: flex;
}
