.container {
  display: flex;
  height: 100%;
  padding-right: var(--base-size-4);
  flex-direction: row;
  grid-area: status;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--controlStack-small-gap-condensed);
}
