.container {
  display: inline-block;
  margin-right: var(--base-size-4);

  &:hover {
    text-decoration: none;
  }
}

.titleLabel {
  display: grid;
  overflow: hidden;
}

.titleText {
  overflow: hidden;
  line-height: normal;
  text-overflow: ellipsis;
}
