.container {
  display: flex;

  /* need to define width for container query */
  min-width: 16px;
  height: 100%;
  flex-direction: column;
  grid-area: status;
  container-type: size;
  container-name: NestedListItem;

  &.hasNewActivity {
    position: relative;
    height: 36px;

    @container NestedListView (width < 48rem) {
      top: 0;
    }
  }
}

.visualContainer {
  position: relative;
  /* stylelint-disable-next-line primer/spacing */
  top: var(--leading-icon-offset); /* offset to align with text lineheight */
  display: flex;
  width: var(--base-size-16);
  height: var(--base-size-16);
  align-items: center;
  justify-content: center;

  /*
    container query needed to align with text when height of list item is
    larger than 20px but isn't multiline
  */
  @container NestedListItem (height > 20px) and (height <= 24px) {
    /* stylelint-disable-next-line primer/spacing */
    top: calc(var(--leading-icon-offset) * 2);
  }
}
