.container {
  display: flex;
  /* stylelint-disable-next-line primer/spacing */
  padding-right: var(--stack-gap-normal);
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  gap: var(--stack-gap-normal);
  flex-grow: 1;
  grid-area: main-content;
}

.innerContainer {
  display: flex;
  min-width: 40%;
  height: 100%;
  overflow: hidden;
  flex-direction: row;
  flex-grow: 1;
  justify-content: flex-start;
  align-items: center;
  flex-shrink: 1;
  gap: var(--base-size-4);

  @container NestedListView (width < 48rem) {
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 0;
  }
}
