.container {
  display: flex;
  flex-direction: row;
  align-items: center;

  &.primary {
    /* stylelint-disable-next-line primer/spacing */
    padding-right: var(--stack-gap-normal);
    gap: var(--stack-gap-normal);
  }

  &.secondary {
    font-size: var(--text-body-size-small);
    font-weight: normal;
    color: var(--fgColor-muted);
    flex-shrink: 0;
    gap: var(--base-size-4);
  }

  &.alignRight {
    justify-content: flex-end;
  }
}
