.metadataContainer {
  display: flex;
  max-height: 24px; /* if this is taller than the title, the leading icon won't align with the title's first line anymore */
  /* stylelint-disable-next-line primer/spacing */
  padding-right: var(--stack-padding-normal);
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--controlStack-small-gap-auto);
  grid-area: metadata;
  flex-grow: 2;
  align-content: center;

  @container NestedListView (width < 34rem) {
    display: none;
  }
}
