.item {
  display: grid;
  min-height: 1rem;
  font-size: var(--text-body-size-medium);
  color: var(--fgColor-default);
  gap: var(--base-size-4);
  align-items: center;

  &:hover {
    /* Set opacity so that focus-visible can override and the ring does not get messed up */
    background: rgba(var(--bgColor-muted), 0.9);
  }

  &.selected {
    z-index: 1;
    background: var(--bgColor-accent-muted);
    box-shadow: 0 0 0 1px var(--borderColor-accent-emphasis, var(--color-accent-fg));
  }
}

.itemGrid {
  display: grid;

  --common-grid-template-columns: min-content min-content minmax(2em, max-content) minmax(0, auto)
    minmax(min-content, max-content);

  /* minmax(0, max-content) - '0' is required to fix overflow caused by the "metadata" on smaller screen sizes
  2em for short titles and description to be aligned next to title */
  grid-template-columns: var(--common-grid-template-columns) min-content;
  grid-template-areas: 'selection status primary main-content metadata actions';
  grid-template-rows: auto;

  &.hasResizableActionsWithActionBar {
    /* This allows the actions to show in the action bar depending on the screen size. These actions
       will move into a dropdown menu when the screen isn't big enough to fit them side by side.
       Edge case: if some items have resizable actions and some don't have an actionbar,
       column alignment will be off. */
    grid-template-columns: var(--common-grid-template-columns) minmax(0, auto);
  }

  @container NestedListView (width < 34rem) {
    /* Hide metadata on small mobile */
    grid-template-rows: auto auto;
    grid-template-areas:
      'selection status primary main-content actions'
      'selection status primary main-content actions';
  }
}

.dragHandle {
  max-width: .85rem;
  height: 100% !important;
  align-content: flex-start !important;
}
