.container {
  display: flex;
  width: var(--base-size-32);
  height: 100%;
  /* stylelint-disable-next-line primer/spacing */
  margin-left: var(--stack-gap-condensed);
  justify-content: center;
  grid-area: selection;
}

.checkbox {
  @container NestedListView (width < 34rem) {
    /* stylelint-disable-next-line primer/spacing */
    margin-top: var(--leading-icon-offset) !important; /* offset to align with text lineheight */
  }
}
