.container {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  grid-area: primary;
  flex-grow: 2;
  text-wrap: pretty;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.anchor {
  max-width: 60%;
  color: var(--fgColor-default) !important; /* override primer internal sx */
  flex: 0 0 max-content;

  &:hover {
    color: var(--fgColor-accent) !important;
    text-decoration: underline;
    cursor: pointer;
  }
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
}

.trailingBadges {
  display: inline;
  padding-left: var(--base-size-4);
}
