.container {
  width: 12px;
  height: 12px;
  margin-left: var(--base-size-4);
  background-color: var(--fgColor-accent);
  border: var(--borderWidth-thick) solid;
  border-color: var(--bgColor-default);
  border-radius: var(--borderRadius-full);
  transform: translate(-2px, 2px);
}
