<%= render layout: "sponsors/dashboards/layout", locals: { full_width: true, sponsors_listing: sponsors_listing, selected_tab: :tiers } do %>
  <div class="px-3 px-md-6">
    <%= render(Sponsors::Dashboard::TierSuggestions::HeaderComponent.new(sponsorable: sponsorable)) %>

    <div class="gutter-sm-condensed clearfix pt-3">
      <div class="col-sm-7 float-left">
        <%= render(Sponsors::Dashboard::TierSuggestions::RecommendedComponent.new(sponsorable: sponsorable, tiers: tiers)) %>
      </div>

      <div class="col-sm-5 float-left">
        <div class="pl-2 pl-lg-3">
          <%= render(Sponsors::Dashboard::TierSuggestions::PreviewComponent.new(sponsorable: sponsorable, tiers: tiers)) %>
        </div>
      </div>
    </div>
  </div>
<% end %>
