<div class="py-5 py-md-8">
  <%= render "site/readme/home/section_intro", title: "The ReadMe Podcast", link: readme_podcasts_path %>

  <div class="container-readme p-responsive-readme">
    <% podcasts.each_with_index do |story, index| %>
      <div class="d-md-flex flex-md-items-center mb-8 <% if index == 1 %>flex-row-reverse<% end %>" data-build-margin-bottom="20">
        <div class="position-relative col-md-5 overflow-hidden mb-4 mb-md-0 readme-img-build-in js-build-in">
          <span class="position-relative d-block readme-link">
            <figure class="position-relative readme-link__figure" data-animation-is-running="false">
              <%= render Site::ContentfulImageComponent.new(src: story[:thumbnail][:url], width: 1200, height: 1400, classes: "d-block width-full height-auto readme-link__img", alt: story[:name], sizes: "(max-width: 755px) 90vw, 40vw")  %>
            </figure>
          </span>

          <%= render "site/readme/podcasts/tease_badge" %>
        </div>

        <div class="col-md-7 <% if index == 0 %>pl-md-6 pl-xl-8<% elsif index == 1 %>pr-md-6 pr-xl-8<% end %>">
          <%= render Site::Readme::Shared::LinkTextComponent.new(
            story: story,
            heading_class: "readme-heading-1 readme-heading--condensed",
            subtitle_class: "f2-mktg text-normal"
          ) %>
        </div>
      </div>
    <% end %>
  </div>
</div>
