<div class="py-6 py-md-9 my-5 my-md-9 readme-bg-blue">
  <h2 class="readme-home-visually-hidden">Stories by topic</h2>
  <div class="container-readme p-responsive-readme mx-auto color-fg-on-emphasis">
    <div class="d-md-flex gutter-md gutter-xl-spacious">
      <p class="col-md-4 col-md-3 lh-condensed mt-md-2 mb-6 mb-md-0 readme-heading-3">
        The ReadME Project amplifies the voices of the developer community by telling stories about:
      </p>

      <ul class="col-md-8 col-lg-9 list-style-none lh-condensed readme-heading-1 readme-heading--condensed">
        <% topics.take(4).each do |topic| %>
          <li class="d-inline">
            <a href="<%= readme_topic_path(topic[:slug]) %>" class="d-inline-block no-underline readme-underline-grow--green" <%= test_selector "topic-link" %>>
              <span><%= topic[:name] %></span>
            </a>,
          </li>
        <% end %>

        <li class="d-inline">and&nbsp;<a href="<%= readme_topics_path %>" class="no-underline readme-underline-grow--green"><span>more topics</span></a>.</li>
      </ul>
    </div>
  </div>
</div>
