<%= render Primer::Experimental::SelectMenuComponent.new(
  position: :relative,
  menu: { tag: :"details-menu" },
  details: { overlay: :default },
) do |c| %><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
  <% c.with_summary do %>
    <i>Period:</i>
    <span data-menu-button><%= title(@period) %></span>
  <% end %>

  <% c.with_header do %>
    Filter activity
  <% end %>

  <% c.with_list do |l| %>
    <% SponsorsActivity::VALID_PERIODS.each do |period_option| %>
      <% is_selected = selected?(period_option) %>
      <% l.with_item(
        tag: :a,
        href: period_selection_url(period_option),
        selected: is_selected,
        test_selector: is_selected ? "selected-period" : nil,
      ) do %>
        <%= title(period_option) %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
