<% if paginated_activities.empty? %>
  <%= render Primer::Beta::Blankslate.new(mb: 5, test_selector: "blank-slate") do |c| %>
    <% c.with_visual_icon(icon: "clock") %>

    <% c.with_heading(tag: :h2) do %>
      Check back soon
    <% end %>

    <% c.with_description do %>
      This is where you can review recent activity for your sponsorships. If your listing was approved, check back soon. Data is synced daily.
    <% end %>
  <% end %>
<% else %>
  <% paginated_activities.each do |activity| %>
    <%= render Sponsors::Activities::ActivityComponent.new(
      activity: activity,
      first: activity == first_activity,
      last: activity == last_activity,
      viewer_role: :sponsorable,
    ) %>
  <% end %>

  <% if has_next_page? %>
    <div class="text-center d-block p-1 ajax-pagination-form js-ajax-pagination">
      <%= form_tag activities_path, method: :get do %>
        <input name="page" type="hidden" value="<%= @page + 1 %>">
        <button type="submit" class="ajax-pagination-btn" data-disable-with="Loading more&hellip;">Load more&hellip;</button>
      <% end %>
    </div>
  <% end %>
<% end %>
