<% ref_loc = "org_overview" %>

<aside
  class="p-4 mb-3 border rounded-2 color-shadow-small js-notice position-relative d-flex flex-column"
  aria-label="Free upgrade to access all included Enterprise Cloud features"
  <%= test_selector "entacct-migration-overview-page-banner" %>
>
  <%= render(Hydro::TrackViewComponent.new(name: "entacct_migration/#{ref_loc}")) %>

  <%= render(Organizations::EnterpriseCloudOnboarding::FreeUpgradeToEnterpriseCloudComponent.new(ref_loc: ref_loc, mb: 3)) %>
  <div>
    <%= render(Primer::Beta::Button.new(
      scheme: :primary,
      tag: :a,
      href: new_org_enterprise_upgrade_path(organization),
      data: analytics_click_attributes(
        category: "entacct_migration",
        action: "click_to_upgrade_for_free",
        label: "ref_loc:#{ref_loc}",
      ),
    ).with_content("Upgrade for free")) %>
  </div>
</aside>
