<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%= render Primer::BlankslateComponent.new(
  icon: "repo",
  title: "This repository is empty.",
  narrow: true,
) do %>
  <p>
    Care to check out the <%= link_to 'GitHub Channel on YouTube', 'https://youtube.com/GitHub', class: "Link--inTextBlock" %> while you wait?
  </p>
<% end %>
