<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%= render Primer::BlankslateComponent.new(
  icon: "alert",
  title: "This repository has been disabled.",
  narrow: true,
) do %>
  <% if GitHub.enterprise? %>
    <p>
      Access to this repository has been disabled by your site administrator due
      to excessive use of resources.
      <%= contact_support_snippet %> to restore access to this repository.
    </p>
  <% else %>
    <p>
      Access to this repository has been disabled by GitHub staff due to excessive use
      of resources, in violation of our <a class="Link--inTextBlock" href="/site/terms">Terms of Service</a>.
      Please <a class="Link--inTextBlock" href="<%= contact_path %>">contact support</a> to restore access
      to this repository. <a class="Link--inTextBlock" href="<%= GitHub.help_url %>/articles/what-is-my-disk-quota">Read here</a>
      to learn more about decreasing the size of your repository.
    </p>
  <% end %>
<% end %>
