<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%= render Primer::BlankslateComponent.new(
  icon: "alert",
  title: "This repository has been disabled.",
  narrow: true,
) do %>
  <p align="left">
    <% if GitHub.enterprise? %>
        Access to this repository has been disabled by your site administrator.
        <%= contact_support_snippet %> to restore access to this repository.
    <% else %>
      Access to this repository has been disabled by GitHub staff.
      <%= link_to "Contact support", contact_path, class: "Link--inTextBlock" %> to restore access to this repository.
    <% end %>
  </p>
<% end %>
