<%= render layout: "layouts/repository_container", locals: {
  repository: current_repository,
} do %>
<div class="clearfix container-xl px-3 px-md-4 px-lg-5 mt-4">
  <%= render Primer::Beta::Blankslate.new(narrow: true) do |c| %>
    <% c.with_visual_icon(icon: "alert") %>

    <% c.with_heading(tag: :h2) do %>
      <%= render Repositories::ArchivedNoticeMessageComponent.new(repository: current_repository) %>
    <% end %>
  <% end %>
</div>
<% end %>
