<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<% page_info \
    title: "#{current_repository.name_with_display_owner}",
    container_xl: true
  %>

<% content_for :head do %>
  <meta http-equiv="refresh" content="5">
<% end %>

<%= render layout: "layouts/repository_container", locals: { repository: current_repository } do %>
<div class="clearfix container-xl px-3 px-md-4 px-lg-5 mt-4">
  <%= render Primer::BlankslateComponent.new(
    title: "Forking #{current_repository.parent.name_with_display_owner}",
    description: "It should only take a few seconds.",
  ) do |component| %>
    <a href="" class="btn btn-sm mt-2"><%= render(Primer::Beta::Octicon.new(icon: "sync")) %> Refresh</a>
    <% component.with_spinner(size: :medium) %>
  <% end %>
</div>
<% end %>
