<%# erblint:counter DeprecatedComponentsCounter 2 %>
<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<% content_for :head do %>
  <meta http-equiv="refresh" content="5">
<% end %>

<%= render layout: "layouts/repository_container", locals: { repository: current_repository } do %>
  <div class="clearfix container-xl px-3 px-md-4 px-lg-5 mt-4" id="next_step">
    <% if current_user_can_push? %>
      <%= render Primer::BlankslateComponent.new(
        title: "Renaming your repository.",
        description: "Your repository is being renamed. It should only take a few seconds.",
        narrow: true,
      ) do |component| %>
        <% component.with_spinner(size: :medium) %>
        <p><a href="" class="btn btn-primary my-3">Refresh at will</a></p>
      <% end %>
    <% else %>
      <%= render Primer::BlankslateComponent.new(
        title: "This repository is locked.",
        description: "This repository has been locked until it’s finished being renamed. This page will refresh automatically.",
        narrow: true,
      ) do |component| %>
        <% component.with_spinner(size: :medium) %>
      <% end %>
    <% end %>
  </div>
<% end %>
