<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% page_info \
    title: "#{current_repository.name_with_display_owner}",
    container_xl: true
  %>

<% content_for :head do %>
  <meta http-equiv="refresh" content="5">
<% end %>

<%= render layout: "layouts/repository_container", locals: { repository: current_repository } do %>
<div class="clearfix container-xl px-3 px-md-4 px-lg-5 mt-4">
  <%= render Primer::BlankslateComponent.new(
    title: "Mirroring your repository.",
    description: "We’re currently mirroring this repository. It should take anywhere from a few minutes to a couple of hours depending on the size of repository you are mirroring.",
    narrow: true,
  ) do |component| %>
    <% component.with_spinner(size: :medium) %>
  <% end %>
</div>
<% end %>
