<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%= render Primer::BlankslateComponent.new(
  icon: "alert",
  title: "Repository unavailable in your location",
) do %>
  <p>
    This repository is currently disabled in your location.
    <% if country_block_url.present? %>
      For more details please see the
      <%= link_to "takedown notice", country_block_url, class: "Link--inTextBlock" %>.
    <% end %>
  </p>
<% end %>
