<% page_info \
    title: "#{current_repository.name_with_display_owner}",
    container_xl: true
  %>

<%= render layout: "layouts/repository_container", locals: { repository: current_repository } do %>
<div class="clearfix container-xl px-3 px-md-4 px-lg-5 mt-4">
  <%= render :partial => "repositories/states/nothing_partial" %>
</div>
<% end %>
