<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%= render Primer::BlankslateComponent.new(
  icon: "alert",
  title: "This repository has been disabled",
  narrow: true,
) do %>
  <% if current_repository.adminable_by? current_user %>
    <p align="left">
      Access to this repository has been disabled by GitHub Staff as a result
      of a sensitive data removal request. You may contact <%= link_to "GitHub Support", contact_url, class: "Link--inTextBlock" %>
      for more information or to appeal this decision.
    </p>
    <p align="left">
      Read more about <%= link_to "GitHub's Sensitive Data Removal Policy", "#{GitHub.help_url}/github/site-policy/github-sensitive-data-removal-policy", class: "Link--inTextBlock" %>.
    </p>
  <% else %>
    <p align="left">
      Access to this repository has been disabled by GitHub Staff due to a violation of
      <%= link_to "GitHub's Terms of Service", "#{GitHub.help_url}/site-policy/github-terms/github-terms-of-service", class: "Link--inTextBlock" %>.
      If you are the owner of the repository, you may reach out to GitHub Support for more
      information.
    </p>
  <% end %>
<% end %>
