<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%= render Primer::BlankslateComponent.new(
  icon: "alert",
  title: "This repository has been disabled.",
  narrow: true,
) do %>
  <p align="left">
    <% if GitHub.enterprise? %>
        Access to this repository has been disabled by your site administrator.
        <%= contact_support_snippet %> to restore access to this repository.
    <% elsif current_repository.access.tos_violation? %>
      <% if current_repository.adminable_by?(current_user)%>
        Access to this repository has been disabled by GitHub Staff due to a violation
        of GitHub's terms of service. <a class="Link--inTextBlock" href="<%= current_repository.access.tos_violation_review_link %>">Contact Support</a> for more information
        or to request a review of this decision.
      <% else %>
        Access to this repository has been disabled by GitHub Staff due to a
        violation of GitHub's terms of service. If you are the owner of the
        repository, you may reach out to GitHub Support for more information.
      <% end %>
    <% else %>
      Access to this repository has been disabled by GitHub staff.
      <%= link_to "Contact support", "#{GitHub.contact_support_url}/reinstatement", class: "Link--inTextBlock" %> to restore access to this repository.
    <% end %>
  </p>
<% end %>
