<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%= render layout: "layouts/repository_container", locals: { repository: current_repository } do %>
<div class="clearfix container-xl px-3 px-md-4 px-lg-5 mt-4">
  <%= render Primer::BlankslateComponent.new(
    icon: "alert",
    title: "This repository has been archived.",
    narrow: true,
  ) do %>
    <p><%= trade_controls_archived_admin_notice %></p>
    <p><%= trade_controls_archived_cta_for_admins %></p>
  <% end %>
</div>
<% end %>
