<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%= render Primer::BlankslateComponent.new(
  icon: "alert",
  title: "This repository has been disabled",
  narrow: true,
) do %>
  <% if current_repository.adminable_by? current_user %>
    <p align="left">
      Access to this repository has been disabled by GitHub Staff as a
      result of a violation of GitHub's Trademark Policy. You may contact <%= link_to "GitHub Support", "#{GitHub.contact_support_url}/reinstatement", class: "Link--inTextBlock" %>
      for more information or to appeal this decision.
    </p>
    <p align="left">
      Read more about GitHub's Trademark Policy here:
      <%= link_to "GitHub's Trademark Policy", "#{GitHub.help_url}/github/site-policy/github-trademark-policy", class: "Link--inTextBlock" %>.
    </p>
  <% else %>
    <p align="left">
      Access to this repository has been disabled by GitHub Staff due to a
      violation of GitHub's Trademark Policy. If you are the owner of the
      repository, you may reach out to GitHub Support for more information.
    </p>
  <% end %>
<% end %>
