<% content_for :header do %>
  <%= @title %>
<% end %>

<% if @enterprise_teams.count == 1 %>
  <p>An <%= link_to("enterprise security manager team", @enterprise_team_link)%> has been granted access to one or more of your owned organizations.</p>
<% else %>
  <p>Multiple <%= link_to("enterprise security manager teams", @enterprise_team_link) %> have been granted access to one or more of your owned organizations.</p>
<% end %>

<p>
Enterprise security managers are granted read access to all repositories in an organization. They can also view and manage code security alerts and associated settings for the organization and its repositories.
</p>

<% content_for :footer_text do %>
  <%= @footer_text %>
<% end %>
