<%
  payload = {
    user_id: current_user&.id,
    pull_request_id: pull_request_id,
    category: "file_filter",
    action: "clear_filters"
  }
  clear_filter_hydro_attributes = hydro_click_tracking_attributes("pull_request.user_action", payload)
%>
<div
  class="js-reset-filters diffbar-item hide-sm"
  data-target="diff-file-filter.resetFilters"
  hidden
>
  <a class="text-bold color-fg-accent no-underline"
     href="<%= request.path %>"
     data-action="click:diff-file-filter#clearFilters"
     data-hydro-click="<%= clear_filter_hydro_attributes["hydro-click"] %>"
     data-hydro-click-hmac="<%= clear_filter_hydro_attributes["hydro-click-hmac"] %>"
   >
    <%= render Primer::Beta::Octicon.new(icon: :x, color: :muted, style: "height: 12px; width: 12px;") %> <span>Clear filters</span>
  </a>
</div>
