<%# erblint:counter DeprecatedComponentsCounter 2 %>
<%
  conversations_menu_params = {
    id: pull_comparison.pull.number
  }
%>

<div class="position-relative diffbar-item ml-0">
  <details class="details-reset details-overlay toc-select js-conversations-details select-menu ml-0">
    <%= render Primer::ButtonComponent.new(tag: :summary, scheme: :link, classes: "Link--muted select-menu-button", "data-ga-click": "Pull Requests, open view comments menu, type:semantic") do %>
      <strong class="js-conversation-menu-button">Conversations</strong>
    <% end %>
    <details-menu class="select-menu-modal position-absolute" style="z-index: 99;" id="conversations-menu" src="<%= show_pull_request_conversations_menu_path(conversations_menu_params) %>" preload><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
      <include-fragment>
        <div class="select-menu-blankslate select-menu-error">
          Failed to load comments. <%= render Primer::ButtonComponent.new(scheme: :link, classes: "js-toc-retry") do %>Retry<% end %>
        </div>
        <div class="select-menu-loading-overlay d-flex flex-items-center">
          <%= render(Primer::Beta::Spinner.new(flex: 1)) %>
        </div>
      </include-fragment>
    </details-menu>
  </details>
</div>
