  <% if user_feature_enabled?(:codespaces_review_pr_button) && visibility.has_access_to_codespaces? %>
    <div class="diffbar-item dropdown js-reviews-container">
      <%= render(Primer::Beta::Button.new(href: codespace_keyboard_shortcut_path(current_repository, pull: pull), tag: :a, size: :small, display: [:none, :none, :none, :inline_flex, :inline_flex], mr: 2, target: :_blank, "aria-label": "Review this pull request in a codespace")) do %>
        Review in codespace
      <% end %>
    </div>
  <% end%>
