<%# erblint:counter DeprecatedComponentsCounter 1 %>
<div class="container-md p-responsive">
  <%= render Primer::BlankslateComponent.new(
    image_src: beta.feature_icon_path,
    image_alt: "#{beta.feature_name} icon",
    title: "Thanks for joining!",
    spacious: true,
  ) do %>
    <p class="col-11 mx-auto mb-4 color-fg-muted f4">
      You’ve been added to the waitlist for <%= beta.feature_name %>! No need to do anything else&mdash;we'll let you know when you can start using it.
      Just make sure <%= link_to "your primary email address", settings_email_preferences_path, class: "Link--inTextBlock" %> is up-to-date.
    </p>
  <% end %>
</div>
