<%
  number_value = raw || "Enter a number ..."
%>

<% if readonly %>
  <%= render Primer::Beta::Text.new(
    system_arguments: { px: 0, py: 1, w: :full, color: :muted }
  ) do %>
    <%= number_value %>
  <% end %>
<% else %>
  <input
    type="number"
    placeholder="Enter a number ..."
    name="memexProjectColumnValues[][value]"
    class="form-control input-sm width-full"
    value="<%= raw %>"
    data-target="sidebar-memex-input.read"
    data-action="
      blur:sidebar-memex-input#onBlur
      keydown:sidebar-memex-input#onKeyDown
      change:sidebar-memex-input#onChange
    "
    disabled
    required
  >
  <div
    class="width-full form-control input-sm"
    contenteditable=false
    data-target="sidebar-memex-input.write"
  >
    <%= number_value %>
  </div>
<% end %>
