<%
  date_value = formatted || "Enter a date ..."
%>

<% if readonly %>
  <%= render Primer::Beta::Text.new(
    system_arguments: { px: 0, py: 1, w: :full, color: :muted }
  ) do %>
    <%= date_value %>
  <% end %>
<% else %>
  <input
    type="date"
    pattern="\d\d\d\d-\d\d-\d\d"
    placeholder="Enter a date ..."
    name="memexProjectColumnValues[][value]"
    class="form-control input-sm width-full"
    value="<%= raw %>"
    data-target="sidebar-memex-input.read"
    data-action="
      blur:sidebar-memex-input#onBlur
      keydown:sidebar-memex-input#onKeyDown
      change:sidebar-memex-input#onChange
    "
    autofocus
    disabled
  >
  <div class="width-full form-control input-sm" contenteditable=false data-target="sidebar-memex-input.write"><%= date_value %></div>
<% end %>
