<%= render Primer::Beta::Subhead.new do |component| %>
  <% component.with_heading(tag: :h2) do %>Repository access<% end %>
<% end %>

<% if repo_access_visible %>
  <% if repo_access_service_unavailable %>
    <p><%= primer_octicon(:alert, classes: "alert") %> There was a problem loading the repository access list.</p>
  <% elsif !repo_access.access_editable %>
    <p>Dependabot needs to be installed for repository access to be available.</p>
  <% else %>
    <%= render partial: "stafftools/users/repos", locals: { view: repos_view } %>
  <% end %>
<% else %>
  <p>Repository Access is only available to Organizations.</p>
<% end %>
