<% page_info title: "Prepaid Metered Billing", selected_link: :stafftools_user_billing %>

<h2>Prepaid Metered Billing</h2>

<div class="p-2 text-italic">
  Prepaid Metered Billing Refills cannot be manually created for this organization because its Zuora subscription has not been synchronized to Dotcom.
</div>
