<%# erblint:counter DeprecatedComponentsCounter 1 %>
<div class="Box">
  <div class="Box-header">
    <h3 class="Box-title">
      Filter
    </h3>
  </div>
  <div class="Box-body">
    <%= form_tag stafftools_user_reminders_path(user), :method => :get do %>
      <div class="d-flex p-2 py-4">
        <div class="text-right">ID(s):</div>
        <%= text_field_tag :id_query, params[:id_query], placeholder: '1234, 1235, 1236', class: "short flex-1", autofocus: true,
          "aria-label" => "repository name" %>
      </div>
      <div>
        <%= render Primer::ButtonComponent.new(type: :submit) do %>Search<% end %>
      </div>
    <% end %>
  </div>
</div>
