<% if sessions.any? %>
  <%
    header_text ||= "Sessions"
  %>
  <%= render Primer::Beta::Subhead.new(spacious: spacious) do |component| %>
    <% component.with_heading(tag: :h2) do %>
      <%= header_text %>
    <% end %>
  <% end %>

  <p>This is a list of devices that have logged into your account. Revoke any sessions that you do not recognize.</p>

  <div class="Box Box-row--gray">
    <% sessions.each do |session| %>
      <%= render "settings/user/sessions/session", view: create_view_model(
        UserSessions::ShowView,
        current_user_session: user_session,
        session_or_auth_record: session,
      ) %>
    <% end %>
  </div>
<% end %>

