<%= render layout: "stafftools/sponsors/members/layout", locals: { sponsors_listing: sponsors_listing } do %>
  <%= render Stafftools::Sponsors::Members::Activities::FilterComponent.new(
    sponsorable_login: sponsors_listing.sponsorable_login,
    tiers: tiers,
    filter: params
  ) %>

  <div id="sponsors-activities-results">
    <%= render "stafftools/sponsors/members/activities/sponsors_activities",
      activities: activities,
      sponsorable_login: sponsors_listing.sponsorable_login
    %>
  </div>
<% end %>
