<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%= render Primer::Box.new(display: :flex, align_items: :center, hidden:, mt: 3, data: {target: data_target, value: allowed_value}) do %>
  <%= render Primer::IconButton.new(
    icon: :trash,
    scheme: :danger,
    classes: 'flex-self-start',
    ml: 0,
    mr: 1,
    title: "Delete value",
    "aria-label": "Delete value",
    data: {action: "click:allowed-values-input#handleRemoveValue"}
    )
  %>
  <p class="color-fg-default flex-1 mb-0"><%= allowed_value %></p>
<% end %>
