<% stats_timer do %>
  <div class="pt-3 pb-3" id="inline-trending-repositories" <%= test_selector("inline-trending-repositories-container") %>>
    <%= render Feed::Cards::TrendingRepoComponent.new(item:) %>
    <% item.related_items.each do |item| %>
      <%= render Feed::Cards::TrendingRepoComponent.new(item:) %>
    <% end %>
  </div>
<% end %>
