<div class="d-flex flex-justify-start mb-2">
  <span class="d-block col-4 text-bold">Stripe W-8/W-9 Form</span>
  <span class="d-block col-8">
    <%= render(Primer::Beta::Label.new(scheme: status_text.scheme, test_selector: status_text.test_selector)) do %>
      <%= status_text.label %>
    <% end %>
    <div class="text-small color-fg-muted mt-1">
      <%= status_text.hint %>
    </div>
  </span>
</div>
