<div class="Box p-3">
  <div class="d-flex flex-items-center flex-justify-center">
    <%= image_tag "icons/emoji/hearts_around.png", alt: "", size: "64x64" %>
  </div>
  <%= render Sponsors::Explore::TotalFundedComponent.new(
    user: filter_org ? filter_org : current_user,
  ) %>
  <%= render Sponsors::Explore::FundedDependenciesComponent.new(
    direct_only: direct_dependencies_only,
    org: filter_org,
  ) %>
</div>
