
<% if logs.any? %>
  <div class="site-admin-table">
    <table <%= test_selector("audit-log-table") %>>
      <% logs.each do |log| %>
        <tr>
          <td>
            <%
              query_string =
                if driftwood_ade_query?(current_user)
                  "webevents | where _document_id == '#{log.hit.id}'"
                else
                  "_id:\"#{log.hit.id}\""
                end
            %>
            <%= link_to \
                  log.action,
                  stafftools_audit_log_path(query: query_string) %>
          </td>
          <td class="right-align">
            <%= render "stafftools/audit_log/extra_action_details", log: log %>
          </td>
        </tr>
      <% end %>
    </table>
    <% if more_results %>
      <%= link_to \
            "View more logs",
            stafftools_audit_log_path(query: query),
            class: "more" %>
    <% end %>
  </div>
<% else %>
  <p class="site-admin-blankstate">
    No audit log entries.
  </p>
<% end %>
