<%
  denylist ||= []
  denylist += %w(raw_data)

  columns = %w(id created_at updated_at) + record.attributes.keys.sort
  columns = columns.uniq - denylist

  data = columns.map { |column| [column, record.attributes[column]] }
%>

<table class="site-admin-table">
  <% data.each do |key, value| %>
    <tr>
      <th><%= key %></th>
      <td>
        <% if value.nil? %>
          <em>nil</em>
        <% else %>
          <% if value.instance_of? String %>
            <%= scrubbed_utf8(value) %>
          <% else %>
            <%= value %>
          <% end %>
          <% if key == "state" && record.respond_to?(:current_state) %>
            &ndash; <%= record.current_state %>
          <% end %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
