<div <%= test_selector "dependent-repo-count" %>>
  <%= render Primer::Beta::Link.new(
    href: network_dependents_path(dependency.owner_display_login, dependency, owner: account_login),
    scheme: :secondary,
  ).with_content("#{count} of #{whose_repos} repositories #{verb} on this") %>
</div>
