<%
  page_info(
    title: "Codespaces",
    container_xl: true,
    selected_link: :codespaces_repository_settings,
  )
%>

<%= render layout: "edit_repositories/edit" do %>
  <%= render Primer::Beta::Subhead.new do |component| %>
    <% component.with_heading(tag: :h2) do %>
      Codespaces
    <% end %>
  <% end %>
  <div data-hpc>
    <%= render Codespaces::PrebuildConfigurationsListComponent.new(
      prebuild_configurations: prebuild_configurations,
      current_repo: current_repository,
      current_user: current_user,
      repo_owner: current_repository.owner,
      prebuild_usage_message: prebuild_usage_message,
    ) %>
  </div>
<% end %>
