<div class="mb-1">
  <span class="password-validity-pill password-validity-pill-close mr-2 rounded-2"></span>
  <span class="password-validity-pill password-validity-pill-close mr-2 rounded-2"></span>
  <span class="password-validity-pill rounded-2"></span>
</div>
<p class="password-validity-summary password-validity-summary-close mb-1">
  Password needs a number and lowercase letter
</p>
<p><%= password_strength_sentence(include_documentation_link: false) %></p>
