<div class="mb-1">
  <span class="password-validity-pill password-validity-pill-fail mr-2 rounded-2"></span>
  <span class="password-validity-pill mr-2 rounded-2"></span>
  <span class="password-validity-pill rounded-2"></span>
</div>
<p class="password-validity-summary password-validity-summary-fail mb-1">
  Password is too long
</p>
<p> Make sure it's no more than <%= PasswordStrengthHelper::MAXIMUM_VALID_CHARACTERS %> characters.</p>
