<div class="d-flex flex-justify-between mb-5">
  <div class="col-8 mr-3">
    <h3 class="f3-light mb-3">Listing description</h3>
    <%= listing.full_description_html %>
  </div>
  <div class="col-4">
    <h3 class="f3-light mb-3 d-flex flex-items-center">
      Published tiers
      <%= render(Primer::Beta::Counter.new(count: listing.published_sponsors_tiers.count, ml: 2)) %>
    </h3>
    <div class="Box">
      <% listing.published_sponsors_tiers.each do |tier| %>
        <div class="Box-row pb-1">
          <h4><%= tier.name %></h4>
          <div class="mt-2">
            <%= tier.description_html %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
