<% if manual_criteria.any? %>
  <div class="mb-5">
    <%= render Primer::Beta::Subhead.new do |component| %>
      <% component.with_heading(tag: :h2) do %>Needs manual review<% end %>
    <% end %>
    <div class="col-12">
      <% manual_criteria.each do |check| %>
        <%= render "stafftools/sponsors/members/manual_criterion",
          sponsorable: sponsorable,
          view: create_view_model(Stafftools::Sponsors::Members::ManualCriterionView, check: check)
        %>
      <% end %>
    </div>
  </div>
<% end %>

<div class="mb-5">
  <%= render Primer::Beta::Subhead.new do |component| %>
    <% component.with_heading(tag: :h2) do %>Survey answers<% end %>
  <% end %>
  <%= render "stafftools/sponsors/members/survey_answers", sponsorable: sponsorable %>
</div>
