<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<div class="Box-row d-flex flex-items-center">
  <div class="flex-auto">
    <strong>Mark listing as pending</strong>
    <div class="text-small color-fg-muted">
      Returns this user's Sponsors listing back to the pending state.
    </div>
  </div>

  <%= render layout: "shared/details_dialog", locals: {
    button_text: "Repending",
    button_class: "btn btn-danger",
    title: "Return Maintainer to Pending",
  } do %>
    <div class="Box-body overflow-auto">
      <%= form_tag stafftools_sponsors_member_listing_approval_path(listing.sponsorable_login), method: :delete do %>
        <p>Are you sure you want to return <strong><%= listing.sponsorable_login %></strong>'s GitHub Sponsors listing to pending state?</p>
        <dl class="form-group">
          <dt><label for="listing_repending_message">Message for the maintainer (optional)</label></dt>
          <dd>
            <textarea autofocus name="message" id="listing_repending_message" class="form-control"></textarea>
          </dd>
        </dl>
        <button type="submit" class="btn btn-block btn-danger mt-2" data-disable-with="Updating..." autofocus>
          Repending
        </button>
      <% end %>
    </div>
  <% end %>
</div>
