<% sponsors_listing = sponsorable.sponsors_listing %>

<% sponsors_listing.survey_answers_without_fiscal_host.includes(:question, :choice).each do |answer| %>
  <div class="mb-3">
    <span class="d-block mb-2 text-bold"><%= answer.question.text %></span>
    <p>
      <% if answer.other_text.present? %>
        <%= answer.other_text %>
      <% else %>
        <% if answer.choice.text != "Other" %>
          <%= answer.choice.text %>
        <% end %>
      <% end %>
    </p>
  </div>
<% end %>
