.diffSquare {
  width: 8px;
  height: 8px;
  /* stylelint-disable-next-line primer/spacing */
  margin-left: 1px;
  border-style: solid;
  border-width: var(--borderWidth-thin);
  /* stylelint-disable-next-line primer/borders */
  border-radius: 2px;
  outline-offset: -1px;
}

.addition {
  background-color: var(--bgColor-success-emphasis);
  border-color: var(--borderColor-success-emphasis);
}

.deletion {
  background: repeating-linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.6),
    rgba(255, 255, 255, 0.6) 0.11rem,
    var(--bgColor-danger-emphasis) 0.11rem,
    var(--bgColor-danger-emphasis) 0.22rem
  );
  background-color: var(--bgColor-danger-emphasis);
  border-color: var(--borderColor-danger-emphasis);
}

.neutral {
  background-color: var(--bgColor-neutral-muted);
  border-color: var(--borderColor-default);
}
