<p class="note mt-4">
  <%= primer_octicon(:question) %>
  Applications act on your behalf to access your data based on the permissions you grant them. Organizations control which applications are allowed to access their <% unless current_organization.first_party_oauth_app_controls_feature_enabled? %>private<% end %> data. Applications authorized by members will always have access to public data in your organization. <a class="Link--inTextBlock" href="<%= GitHub.help_url %>/organizations/managing-oauth-access-to-your-organizations-data/about-oauth-app-access-restrictions/">Read about organization OAuth app access restrictions.</a>
</p>
