<% page_info :title => "All Activity on #{GitHub.flavor}", :selected_link => :explore_activity %>

<nav class="pagehead" aria-labelledby="dashboards-activity-nav-heading">
  <div class="container"><%# erblint:disable DeprecatedCustomCss %>
    <%= render Navigation::ExploreComponent.new %>
    <h1 id="dashboards-activity-nav-heading">All Activity on <%= GitHub.flavor %></h1>
  </div>
</nav><!-- /.pagehead -->

<div class="position-relative container"><%# erblint:disable DeprecatedCustomCss %>
  <%= render :partial => "dashboards/overview/metrics", locals: { graphs: graphs, period: period.to_s, url_base: "/dashboards/overview/count/", show_period_summary: true } %>
</div>

<% content_for :scripts do %><%# erblint:disable NoContentForScripts %>
  <%= javascript_bundle "graphs" %>
<% end %>
