<%# erblint:counter DeprecatedComponentsCounter 1 %>
<div class="boxed-group">
  <h3>Search for coupons</h3>
  <div class="boxed-group-inner">
    <p><label for="coupon-id">Search coupon by coupon code</label></p>
    <%= form_tag search_biztools_coupons_path, :method => :post do %>
      <p>
        <input class="form-control" type="text" required placeholder="coupon id" id="coupon-id" name="id" value="<%= params[:id] %>">
        <%= render Primer::ButtonComponent.new(type: :submit) do %>Search<% end %>
      </p>
    <% end %>
  </div>
</div>
