.timelineBodyRowContainer {
  display: flex;
}

.timelineBodyRowContainer .timelineBodyContent {
  flex-grow: 1;
  flex-wrap: nowrap;
}

.timelineBodyRowContainer .timelineBodyTrailingContent {
  font-size: var(--text-body-size-small);
}

.timelineAgoLink {
  color: var(--fgColor-muted, var(--color-fg-muted)) !important;
}

.eventActorContainer {
  display: inline-flex;
  justify-content: center;
}

.eventActorLink {
  margin-right: var(--base-size-4);
  font-weight: var(--base-text-weight-semibold);
  color: var(--fgColor-default, var(--color-fg-default)) !important;
}
