.contentfulHeroContainer {
  padding-bottom: var(--base-size-96);

  @media screen and (min-width: 34rem) {
    padding-bottom: var(--base-size-128);
  }
}

.videoContainer {
  position: relative;
  z-index: 1;
  width: 100%;
  padding-bottom: 56%;
  margin-top: var(--base-size-40);
  overflow: hidden;
  /* stylelint-disable-next-line primer/borders */
  border-radius: var(--brand-borderRadius-large);

  @media screen and (min-width: 34rem) {
    margin-top: var(--base-size-80);
  }
}
