.header {
  background-color: var(--bgColor-inset, var(--color-canvas-inset));
}

.gradient {
  --offset: -500px;

  position: absolute;
  /* stylelint-disable-next-line primer/responsive-widths */
  width: 1000px;
  height: 800px;
}

.gradient-left {
  /* stylelint-disable primer/spacing */
  bottom: 0;
  left: var(--offset);
  /* stylelint-enable primer/spacing */
  /* stylelint-disable-next-line primer/colors */
  background: radial-gradient(30% 70% at 50% 50%, rgb(130 80 223 / 0.2) 0%, rgb(130 80 223 / 0) 100%);
}

.gradient-right {
  /* stylelint-disable primer/spacing */
  top: 0;
  right: var(--offset);
  /* stylelint-enable primer/spacing */
  /* stylelint-disable-next-line primer/colors */
  background: radial-gradient(30% 70% at 50% 50%, rgb(9 107 222 / 0.3) 0%, rgb(9 107 222 / 0) 100%);
}

.header-content {
  position: relative;
  z-index: 1;
}

.negative-margin {
  /* stylelint-disable-next-line primer/spacing */
  margin: -0.5rem;
}

.search-input {
  @media screen and (min-width: 1012px) {
    max-width: 600px;
  }
}

.marketplace-featured-grid,
.marketplace-list-grid {
  display: grid;
  gap: 1rem;
}

.marketplace-featured-grid {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  max-width: 100%;
}

.marketplace-list-grid {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  max-width: 100%;

  @media screen and (min-width: 544px) {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
}

.marketplace-list-grid-one {
  max-width: 50%;
}

.marketplace-item {
  background-color: var(--card-bgColor);
  box-shadow: var(--shadow-resting-small, var(--color-shadow-small));
  transition: background-color 0.3s;
}

.marketplace-item:hover,
.marketplace-item:focus-within {
  background-color: var(--control-transparent-bgColor-hover, var(--color-canvas-subtle));
}

.marketplace-item:focus-within {
  outline: 2px solid var(--fgColor-accent, var(--color-accent-fg));
}

.marketplace-item-link {
  color: var(--fgColor-default, var(--color-fg-default));
}

.marketplace-item-link:hover {
  color: inherit;
  text-decoration: none;
}

.marketplace-item-link:focus {
  outline: none;
}

.marketplace-item-link::before {
  position: absolute;
  cursor: pointer;
  content: '';
  inset: 0;
}

.marketplace-logo {
  --container-size: var(--base-size-40);
  --logo-size: var(--base-size-24);

  display: grid;
  place-items: center;
  width: var(--container-size);
  height: var(--container-size);
  box-shadow: inset 0 0 0 1px var(--avatar-borderColor, var(--color-avatar-border, rgba(31, 35, 40, 0.15)));
}

.marketplace-logo--large {
  --container-size: var(--base-size-64);
  --logo-size: var(--base-size-40);
}

/* stylelint-disable selector-max-type */
.marketplace-logo-img,
.marketplace-logo-svg,
.marketplace-logo-svg svg {
  width: var(--logo-size);
  height: var(--logo-size);
}

/* stylelint-enable selector-max-type */

.details {
  &[open] .down-icon {
    display: none !important;
  }

  &:not([open]) .up-icon {
    display: none !important;
  }
}

/* Header background elements */

/* stylelint-disable selector-max-type */
.image-wrapper > img {
  animation-play-state: paused;
}

.image-wrapper:hover > img {
  animation-play-state: running;
}

/* stylelint-disable primer/spacing */
.copilot {
  position: relative;
  z-index: 1;
  height: 141px;
  animation: copilot 2s ease-in-out infinite;
}

.models {
  top: 70px;
  right: 215px;
  z-index: 1;
  height: 113px;
  animation: spin 60s linear infinite;

  @media screen and (min-width: 1012px) {
    top: 100px;
  }

  @media screen and (min-width: 1280px) {
    top: 80px;
  }
}

.arrow {
  top: -75px;
  right: 205px;
  height: 150px;
  opacity: 0.5;
}

.donut {
  top: -175px;
  right: -190px;
  height: 255px;
  opacity: 0.4;

  @media screen and (min-width: 1012px) {
    right: -150px;
  }
}

.semicircles {
  top: 110px;
  right: 80px;
  display: none;
  height: 220px;
  opacity: 0.4;

  @media screen and (min-width: 1012px) {
    display: block;
  }
}

.sparklelarge {
  top: 140px;
  right: -60px;
  height: 42px;
  opacity: 0.8;
  animation: sparkle 3.5s linear infinite;

  @media screen and (min-width: 1012px) {
    top: 175px;
    right: 5px;
  }
}

.sparklesmall {
  top: 170px;
  right: 48px;
  height: 21px;
  opacity: 0;
  animation: sparkle 2s linear infinite;

  @media screen and (min-width: 1012px) {
    opacity: 0.8;
  }
}

.workflow {
  top: 60px;
  right: -190px;
  height: 110px;
  opacity: 0.6;

  @media screen and (min-width: 1012px) {
    top: 90px;
    right: -100px;
  }
}

@keyframes copilot {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-5px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes sparkle {
  0% {
    transform: scale(1) rotate(0deg);
  }

  33% {
    transform: scale(0.9) rotate(5deg);
  }

  66% {
    transform: scale(1.05) rotate(-10deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
