.logo-container {
  height: 4rem;
  aspect-ratio: 1 / 1;
  box-shadow: inset 0 0 0 1px var(--avatar-borderColor, var(--color-avatar-border, rgba(31, 35, 40, 0.15)));
}

.logo-svg {
  max-width: 2.5rem;
  max-height: 2.5rem;
}

/* Let me cook 👨‍🍳 */
/* stylelint-disable selector-no-qualifying-type, selector-max-type, selector-max-specificity, primer/borders, primer/colors */

/* For some reasons the browsers don’t like it when we comma separate selectors so some style blocks are duplicated */

input[type='range'] {
  --range-width: 100%;
  --range-track-height: var(--base-size-4);
  --range-track-borderRadius: var(--borderRadius-small);
  --range-track-bgColor-rest: var(--controlTrack-bgColor-rest);
  --range-track-bgColor-active: var(--controlTrack-bgColor-active);
  --range-thumb-size: var(--base-size-12);
  --range-thumb-size-webkit: calc(var(--range-thumb-size) + var(--base-size-4));
  --range-thumb-borderRadius: var(--borderRadius-full);
  --range-thumb-color: var(--control-checked-bgColor-rest);

  width: var(--range-width);
  appearance: none;
  background: transparent;
}

input[type='range']::-webkit-slider-runnable-track {
  width: var(--range-width);
  height: var(--range-track-height);
  cursor: pointer;
  background: var(--range-track-bgColor-rest);
  border: 0;
  border-radius: var(--range-track-borderRadius);
  box-shadow: none;
  transition: background 0.1s ease-in-out;
}

input[type='range']::-moz-range-track {
  width: var(--range-width);
  height: var(--range-track-height);
  cursor: pointer;
  background: var(--range-track-bgColor-rest);
  border: 0;
  border-radius: var(--range-track-borderRadius);
  box-shadow: none;
  transition: background 0.1s ease-in-out;
}

input[type='range']::-webkit-slider-thumb {
  width: var(--range-thumb-size-webkit);
  height: var(--range-thumb-size-webkit);
  box-sizing: border-box;
  cursor: grab;
  background: var(--range-thumb-color);
  border: var(--borderWidth-thick) solid var(--bgColor-default);
  border-radius: var(--range-thumb-borderRadius);
  box-shadow: none;
  transition: outline 0.1s ease-in-out;

  /* Gotta manually center the thumb on the track */
  transform: translateY(calc((var(--range-thumb-size-webkit) - var(--range-track-height)) / -2));
  appearance: none;
}

input[type='range']::-moz-range-thumb {
  width: var(--range-thumb-size);
  height: var(--range-thumb-size);
  cursor: grab;
  background: var(--range-thumb-color);
  border: var(--borderWidth-thick) solid var(--bgColor-default);
  border-radius: var(--range-thumb-borderRadius);
  box-shadow: none;
  transition: outline 0.1s ease-in-out;
}

input[type='range']:focus {
  outline: none;
}

input[type='range']:focus::-webkit-slider-runnable-track {
  background: var(--range-track-bgColor-active);
}

input[type='range']:focus::-moz-range-track {
  background: var(--range-track-bgColor-active);
}

input[type='range']:focus:focus-visible::-webkit-slider-thumb {
  outline: var(--base-size-2) solid var(--focus-outlineColor);
}

input[type='range']:focus:focus-visible:-moz-range-thumb {
  outline: var(--base-size-2) solid var(--focus-outlineColor);
}

input[type='range']:active::-webkit-slider-thumb {
  cursor: grabbing;
}

input[type='range']:active::-moz-range-thumb {
  cursor: grabbing;
}
