<%# erblint:counter ButtonComponentMigrationCounter 3 %>
<%# erblint:counter GoogleAnalyticsDeprecation 1 %>
<% if current_repository_writable? %>
  <% if can_edit_pull_request_blobs? && uneditable_type.nil? %>
    <a href="<%= edit_file_path %>" role="menuitem" class="pl-5 dropdown-item btn-link" rel="nofollow" aria-label="Change this file using the online editor" data-ga-click="Edit file, click, location:files_changed_dropdown" <%= repo_turbo_frame_attr(flagged: true) %>>
      Edit file
    </a>
  <% elsif can_edit_pull_request_blobs? && uneditable_type -%>
    <button type="button" disabled role="menuitem" class="pl-5 dropdown-item btn-link" aria-label="Online editor is disabled for <%= uneditable_type %> files.">
      Edit file
    </button>
  <% else %>
    <button type="button" disabled role="menuitem" class="pl-5 dropdown-item btn-link" aria-label="You must be signed in and have push access to make changes.">
      Edit file
    </button>
  <% end %>
<% end %>
