<%# erblint:counter ButtonComponentMigrationCounter 1 %>

<a class="pl-5 dropdown-item btn-link js-remove-unless-platform"
    data-platforms="windows,mac" role="menuitem"
    href="<%= app_clone_url(nil, pull_request, nil, path_string) %>"
    aria-label="Open this file in GitHub Desktop"
    <%= safe_analytics_click_attributes(
      category: "Repository",
      action: "open with desktop",
      label: "pull_request_id:#{pull_request.id}"
    ) %>>
    Open in desktop
</a>
