<label
  role="menuitemradio"
  class="dropdown-item btn-link text-normal d-block pl-5"
  tabindex="0"
  aria-checked="true"
  <%= safe_data_attributes(
    hydro_click_tracking_attributes("show_annotation.click", {
      pull_request_id: pull_request&.id,
      repository_id: repository&.id,
      non_diff_entry: non_diff
      })
    )%>
>
  <span class="position-absolute ml-n4"><%= render(Primer::Beta::Octicon.new(icon: "check")) %></span>
  <input type="checkbox" checked class="d-none js-toggle-file-check-annotations">
  Show annotations
</label>
