<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<%# erblint:counter GoogleAnalyticsDeprecation 1 %>
<a href="<%= view_file_path %>"
   class="pl-5 dropdown-item btn-link"
   rel="nofollow"
   role="menuitem"
   data-ga-click="View file, click, location:files_changed_dropdown"
   <%= repo_turbo_frame_attr(flagged: true) %>
   <%= test_selector("#{test_selector_prefix}-view-file") %>>
   View file
</a>
