<ul>
  <li class="copilot-li mb-3">Get code suggestions in more than a dozen coding languages including Python, JavaScript, TypeScript, Go, and Ruby</li>
  <li class="copilot-li mb-3">Plugs into IDEs including VS Code, Visual Studio, Neovim, and JetBrains</li>
</ul>
