<%
  error ||= false
  view ||= nil
%>
<%= render(Primer::Box.new(mb: 4, mt: 4, color: :muted, font_weight: :light)) do %>
  <% if view == :onboarding %>
    <p class="mb-3">You can change these at any time from your account settings.</p>
  <% end %>
<% end %>

<%= render(Copilot::Policies::UserSettingsComponent.new(copilot_user: copilot_user, submit_path: form_submit_path, error: error, view: view)) %>

<% if view == :settings %>
  <%= render(Primer::Box.new(mb: 4, mt: 4, color: :muted, font_weight: :light)) do %>
    <%= render(Primer::Beta::Octicon.new(icon: :info)) %>
    It can take up to 30 minutes for the changes to take effect. Restart your code editor for the changes to take effect immediately.
  <% end %>
<% end %>
