<ul>
  <li class="copilot-li mb-3">Get code suggestions as you type in more than a dozen coding languages, including Python, JavaScript, TypeScript, Go, and Ruby</li>
  <li class="copilot-li mb-3">Chat with Copilot for assistance on a wide variety of scenarios, such as project-specific code explanations or help with debugging</li>
  <li class="copilot-li mb-3">Plugs into IDEs, including VS Code, Visual Studio, JetBrains IDEs, and Neovim</li>
  <li class="copilot-li mb-3">Cancel anytime before the trial ends to avoid getting billed</li>
</ul>
