<%= render Copilot::SignupComponent.new do |signup_component| %>
  <% signup_component.with_heading do %>
    <span class="copilot-signup-heading">
      GitHub Copilot Business
    </span>
  <% end %>
  <% signup_component.with_subheading do %>
    <span class="copilot-signup-subheading">
      Infuse AI into GitHub to accelerate every step of the software development lifecycle
    </span>
  <% end %>
  <% signup_component.with_main do %>
    <div class="container-md mt-3">
      <h2 class="mb-2">Your organization <%= organization.display_login %> billing is managed by your enterprise <%= organization.business %></h2>
      <hr>
      <p class="text-light mb-3">Please contact your enterprise administrator to enable GitHub Copilot for your organization</p>
    </div>
  <% end %>
<% end %>
