<%= render Copilot::SignupComponent.new do |signup_component| %>
  <% signup_component.with_heading do %>
    <span class="copilot-signup-heading">
      GitHub Copilot Business
    </span>
  <% end %>
  <% signup_component.with_subheading do %>
    <span class="copilot-signup-subheading">
      Infuse AI into GitHub to accelerate every step of the software development lifecycle
    </span>
  <% end %>
  <% signup_component.with_main do %>
    <div class="container-md p-responsive clearfix my-4">
      <h2>
        Enable GitHub Copilot for your Organizations
      </h2>

      <hr>

      <p class="my-2">
        Assign which organizations will have access to GitHub Copilot inside your enterprise. Admins of organizations with approved access will receive an email with setup instructions.
      </p>

      <%= render "copilot/signup_enterprise_seat_management",
        copilot_business: copilot_business,
        enabled_count: enabled_count,
        organizations: organizations,
        return_to: copilot_business_signup_completion_path(business_type: "enterprise", enterprise: copilot_business.business_object, **utm_memo),
        show_org_list: show_org_list %>
    </div>
  <% end %>
<% end %>
