<%= render Copilot::SignupComponent.new do |signup_component| %>
  <% signup_component.with_heading do %>
    <span class="copilot-signup-heading">
      GitHub Copilot Business
    </span>
  <% end %>
  <% signup_component.with_subheading do %>
    <span class="copilot-signup-subheading">
      Infuse AI into GitHub to accelerate every step of the software development lifecycle
    </span>
  <% end %>
  <% signup_component.with_main do %>
    <p class="h2 text-center mt-4 mb-0">
      Which organization do you want to enable GitHub Copilot for?
    </p>

     <% if available_organizations.empty? && already_signed_up_organizations.empty? %>
      <p class="f4 text-light text-center">
        You don't have any eligible organizations. Click here to <a class="Link--inTextBlock" href="<%= new_organization_path(return_to: "copilot_business_signup", **utm_memo) %>">create a new organization</a>.
      </p>
    <% else %>
      <p class="f5 text-center color-fg-muted">
        Select one of your organizations or <a class="Link--inTextBlock" href="<%= new_organization_path(return_to: "copilot_business_signup", **utm_memo) %>">create a new organization</a>.
      </p>

      <%= render Copilot::BusinessSelectionComponent.new(
        businesses: available_organizations,
        already_signed_up_businesses: already_signed_up_organizations,
        business_type: "org",
        form_path: copilot_business_signup_organization_payment_path) %>
    <% end %>
  <% end %>
<% end %>
