<%= render Copilot::SignupComponent.new do |signup_component| %>
  <% signup_component.with_heading do %>
    <span class="copilot-signup-heading">
      GitHub Copilot Business
    </span>
  <% end %>
  <% signup_component.with_subheading do %>
    <span class="copilot-signup-subheading">
      Infuse AI into GitHub to accelerate every step of the software development lifecycle
    </span>
  <% end %>
  <% signup_component.with_main do %>
    <div class="container-md mt-3">
      <h2 class="mb-2">Your organization <%= organization %> belongs to a legacy per-repository billing plan</h2>
      <hr>
      <p class="text-light mb-3">
      Please
      <%= render(Primer::Beta::Link.new(href: "https://docs.github.com/billing/managing-billing-for-your-github-account/upgrading-your-github-subscription#switching-your-organization-from-per-repository-to-per-user-pricing", classes: "Link--inTextBlock")) { "review your pricing plan" } %>
      to get access to GitHub <%= Copilot.business_product_name %>
      </p>
    </div>
  <% end %>
<% end %>
