<%= render Copilot::SignupComponent.new do |signup_component| %>
  <% signup_component.with_heading do %>
    <span class="copilot-signup-heading">
      GitHub Copilot Business
    </span>
  <% end %>
  <% signup_component.with_subheading do %>
    <span class="copilot-signup-subheading">
      Infuse AI into GitHub to accelerate every step of the software development lifecycle
    </span>
  <% end %>
  <% signup_component.with_main do %>
    <p class="h1 text-center mt-4 mb-0">
      Which enterprise do you want to enable GitHub Copilot for?
    </p>

    <%= render Copilot::BusinessSelectionComponent.new(
      businesses: available_enterprises,
      already_signed_up_businesses: already_signed_up_enterprises,
      business_type: "enterprise",
      form_path: copilot_business_signup_enterprise_payment_path) %>

  <% end %>
<% end %>
