<% page_info title: "Signup to GitHub Copilot" %>
<%= render Copilot::SignupComponent.new(fullscreen: true) do |signup_component| %>
  <% signup_component.with_heading do %>
    <span class="copilot-signup-heading">
      GitHub Copilot Individual
    </span>
  <% end %>
  <% signup_component.with_subheading do %>
    <span class="copilot-signup-subheading">
      Your AI pair programmer
    </span>
  <% end %>
  <% signup_component.with_main do %>
    <%= render partial: "copilot/free_user_signup", locals: { copilot_user: copilot_user, form_submit_path: form_submit_path } %>
  <% end %>
<% end %>
