<%
  error ||= false
%>

<% page_info title: "Signup to GitHub Copilot" %>
<%= render Copilot::SignupComponent.new do |signup_component| %>
  <% signup_component.with_heading do %>
    <span class="copilot-signup-heading">
      GitHub Copilot Individual
    </span>
  <% end %>
  <% signup_component.with_subheading do %>
    <span class="copilot-signup-subheading">
      Your AI pair programmer
    </span>
  <% end %>
  <% signup_component.with_main do %>
    <div class="container-md p-responsive clearfix mt-3">
      <%= render(Primer::Beta::Heading.new(tag: :h2, mb: 3)) { "Select your preferences" } %>
      <%= render partial: "/copilot/settings", locals: { view: :onboarding, error: error, form_submit_path: form_submit_path, copilot_user: copilot_user } %>
    </div>
  <% end %>
<% end %>
