<template id="<%= "emoji-reaction-button-template-#{emotion.content}" %>">
  <%= render(
    Reactions::ReactionButtonComponent.new(
      emotion: emotion,
      user_has_reacted: true,
      index: index,
      title: reaction_count_tooltip_for_model(emotion, [current_user&.display_login], 1),
    )
  ) do %>
    <%= emoji_tag(emotion.emoji_character, alias: emotion.content, class: "social-button-emoji") %>
    <span class="js-discussion-reaction-group-count">1</span>
  <% end %>
</template>
