<% if logged_in? %>
  <div class="discussion-sidebar-item sidebar-notifications">
    <%= render(
      Notifications::ThreadSubscriptionComponent.new(
        thread: discussion.notifications_thread,
        list: discussion.notifications_list,
        display_explanation_text: true,
        deferred: deferred_content
      ),
    ) %>
  </div>
<% end %>
