<div class="Popover position-relative mt-3" <%= test_selector "welcome_message" %> style="z-index: 98;">
  <div class="Popover-message Popover-message--left-top p-4 ml-2 Box color-shadow-large">
    <h4 class="mt-2 text-center"><%= emoji_tag(Emoji.find_by_alias("wave")) %></h4>
    <p>
      Since you're new here, we're helping you to get started by generating your
      first post to the community.

      Don't worry, you can edit this discussion after you
      post! <%= emoji_tag(Emoji.find_by_alias("smile")) %>
    </p>
  </div>
</div>
