<% page_info(
  title: discussion_page_title(discussion, remove_separator: robot?),
  container_xl: true,
  selected_link: :repo_discussions,
  richweb: {
    title: discussion_page_title(discussion, remove_separator: robot?)
  },
) %>

<% unless discussion.error? %>
  <% content_for :head do %>
    <meta http-equiv="refresh" content="5">
  <% end %>
<% end %>

<%= render layout: "layouts/repository_container", locals: { repository: current_repository } do %>
  <div class="clearfix container-xl px-3 px-md-4 px-lg-5 mt-4">
    <%= render Discussions::ConvertingFromIssueComponent.new(discussion: discussion) %>
  </div>
<% end %>
