<% page_info \
     :title => "#{this_business.name} - #{enterprise_team.name} team database",
     selected_link: :enterprise_teams %>

<div class="site-admin-unboxed">
  <div class="site-admin-subhead ruleless">
    <h2 class="site-admin-subhead-heading">
      <%= link_to "Enterprise Teams", stafftools_enterprise_teams_path(this_business) %>
      /
      <%= link_to enterprise_team.name, stafftools_enterprise_team_path(this_business, enterprise_team) %>
      / Database
    </h2>
  </div>

  <%= render \
        partial: "stafftools/database",
        locals: { record: enterprise_team } %>
</div>
