/* stylelint-disable primer/spacing */
/* stylelint-disable order/properties-order */
/* stylelint-disable primer/borders */
/* stylelint-disable primer/colors */
/* stylelint-disable selector-max-type */
.verticalOffset > div {
  margin-block-start: calc(var(--base-size-48) * -1);
}

.noBottomRadius {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.topOfStack {
  position: relative;
  z-index: 2;
}

.portalCustomerCards {
  --brand-Card-background-default: transparent;
}

.gitLinesBg {
  background-position: center center;
  background-size: cover;
}

.ctaBanner {
  --brand-CTABanner-bgColor: var(--brand-color-canvas-subtle);
}

.customerCards {
  --brand-Grid-spacing-row: var(--base-size-32);
}

.articleContents {
  background-color: var(--brand-color-canvas-default);
  border-radius: var(--brand-borderRadius-xlarge);
  margin-top: calc(-1 * var(--brand-borderRadius-xlarge));
  position: relative;
  z-index: 90;
}
