<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% page_info title: "Initiating Single Sign-On" %>

<div class="container-md px-3">
  <%= render Primer::BlankslateComponent.new(
    icon: "shield-lock",
    title: "Configure your identity provider.",
    mt: 5,
  ) do %>
    <p>
      Please download the public key certificate, upload it to your identity provider, configure SAML encrypted assertions for your GitHub business, and continue the setup.
    </p>
    <p>
      <%= link_to("Download certificate", urls.idm_saml_enc_cert_enterprise_path(business_slug), class: "btn") %>
      <%= link_to("Continue setup", redirect_url, class: "btn") %>
    </p>
  <% end %>
</div>
