<% ignored = (current_organization || current_user).sorted_ignored %>
<div class="js-user-block-settings-list">
  <ul class="js-blocked-list" <% if ignored.empty? %>hidden<% end %>>
    <% ignored.each do |ignore| %>
      <%= render partial: "settings/blocked_users/user", locals: { user_ignore: ignore } %>
    <% end %>
  </ul>
  <%= render Primer::Beta::Blankslate.new(classes: "js-user-block-blank-slate", hidden: ignored.any?) do |c| %>
    <% c.with_heading(tag: :h2) do %>
      You have not blocked any users.
    <% end %>
  <% end %>
</div>
