<div class="Box">
  <div class="Box-row p-3 d-flex flex-items-center">
    <h3 class="Box-title">
      <% if is_draft %>
        Checklist to publish app with paid plan
      <% else %>
        Checklist for publishing a paid plan
      <% end %>
    </h3>
  </div>

  <%= render(Marketplace::Listings::RequestVerificationComponent.new(
    listing: listing,
    display_login: display_login,
  )) %>

  <%= render(Marketplace::Listings::InstallationRequirementComponent.new(
    listing: listing,
    installation_count: installation_count,
  )) %>

  <%= render(Marketplace::Listings::FinancialOnboardingComponent.new(
    listing: listing,
    plan_id: plan_id,
  )) %>
</div>
