<% page_info title: "New toggleable feature", selected_link: :toggleable_features %>

<% content_for :pagehead_path do %>
  / <a href="<%= devtools_toggleable_features_path %>">Toggleable Features</a>
  / <a href="<%= devtools_toggleable_feature_path(feature.slug) %>"><%= feature.public_name %></a>
<% end %>

<div class="Box">
  <div class="Box-header">
    Edit toggleable feature
  </div>

  <div class="Box-body">
    <%= render partial: "devtools/toggleable_features/form", locals: {
      feature: feature,
      method: "put",
      url: devtools_toggleable_feature_path(feature.slug),
    } %>
  </div>
</div>
