<% page_info title: "New toggleable feature", selected_link: :toggleable_features %>

<% content_for :pagehead_path do %>
  / <a href="<%= devtools_toggleable_features_path %>">Toggleable Features</a>
<% end %>

<div class="Box">
  <div class="Box-header">
    New toggleable feature
  </div>

  <div class="Box-body">
    <%= render partial: "devtools/toggleable_features/form", locals: {
      feature: feature,
      method: "post",
      url: devtools_toggleable_features_path,
    } %>
  </div>
</div>
