<div class="d-flex flex-wrap glyph-table position-relative z-2 text-center mb-8 js-typegrid">
  <div>A</div>
  <div>B</div>
  <div>C</div>
  <div>D</div>
  <div>E</div>
  <div>F</div>
  <div>G</div>
  <div>H</div>
  <div>I</div>
  <div>J</div>
  <div>K</div>
  <div>L</div>
  <div>M</div>
  <div>N</div>
  <div>O</div>
  <div>P</div>
  <div>Q</div>
  <div>R</div>
  <div>S</div>
  <div>T</div>
  <div>U</div>
  <div>V</div>
  <div>W</div>
  <div>X</div>
  <div>Y</div>
  <div>Z</div>
  <div>0</div>
  <div>1</div>
  <div>2</div>
  <div>3</div>
  <div>4</div>
  <div>5</div>
  <div>6</div>
  <div>7</div>
  <div>8</div>
  <div>9</div>
  <div>a</div>
  <div>b</div>
  <div>c</div>
  <div>d</div>
  <div>e</div>
  <div>f</div>
  <div>g</div>
  <div>h</div>
  <div>i</div>
  <div>j</div>
  <div>k</div>
  <div>l</div>
  <div>m</div>
  <div>n</div>
  <div>o</div>
  <div>p</div>
  <div>q</div>
  <div>r</div>
  <div>s</div>
  <div>t</div>
  <div>u</div>
  <div>v</div>
  <div>w</div>
  <div>x</div>
  <div>y</div>
  <div>z</div>
  <div>!</div>
  <div>?</div>
  <div>#</div>
  <div>%</div>
  <div>&</div>
  <div>~</div>
  <div>(</div>
  <div>)</div>
  <div>[</div>
  <div>]</div>
  <div>/</div>
  <div>=</div>
  <div>_</div>
  <div>{</div>
  <div>}</div>
  <div>’</div>
  <div>@</div>
  <div>—</div>
  <div>&gt;</div>
  <div>&lt;</div>
  <div>.</div>
  <div>;</div>
</div>
