<div class="border-top d-flex mt-12 font-alt-mktg flex-wrap flex-md-nowrap">
  <div role="img" class="col-12 col-md-4 pb-md-8 pt-8 mr-md-5 js-build-in-trigger" aria-label="Animation of Hubot floating adjacent to a large '&' symbol.">
    <%= render "site/mona_sans/hubot_video", video: { filename: "hubot", size: 500 } %>
  </div>

  <div class="col-12 col-md-8">
    <div class="d-flex border-bottom flex-justify-between flex-items-center">
      <h2 class="font-alt-mktg text-uppercase text-expanded text-extrabold py-3" style="font-size: min(10vw, 56px); letter-spacing: -0.01em;">
        Hubot Sans
      </h2>
      <%= primer_octicon(:"hubot", size: :medium) %>
    </div>

    <p class="f0-mktg font-alt-mktg col-md-11 text-light pt-4 pt-lg-5 pb-5">
      Mona’s robotic sidekick. More geometric accents lend a technical and idiosyncratic feel—perfect for headers and&nbsp;pull&#8209;quotes.
    </p>

    <div class="d-flex flex-column flex-sm-row mb-8" style="gap: 16px">
      <a class="btn-mktg btn-large-mktg btn-muted-mktg" href="/github/hubot-sans/releases/latest">Download font</a>
      <a class="btn-mktg btn-large-mktg btn-subtle-mktg" href="/github/hubot-sans">View on GitHub</a>
    </div>

  </div>
</div>

<div class="font-alt-mktg">
  <%= render "site/mona_sans/font_grid" %>
</div>

<div class="pb-5">
  <img width="3032" height="854" src="<%= image_path "modules/site/mona-sans/hubot-sketches.webp" %>" class="d-block width-full height-auto" style="mix-blend-mode: difference;" alt="Sketches of Hubot" loading="lazy" decoding="async">
</div>
