<div class="border-top border-bottom d-flex mt-12 flex-justify-between flex-items-center position-relative">
  <h2 class="text-uppercase text-expanded text-extrabold py-3" style="font-size: min(10vw, 64px); letter-spacing: -0.01em;">Mona Sans</h2>
  <img src="<%= image_path "modules/site/mona-sans/octoface.svg" %>" width="40" height="40" alt="Mona icon" loading="lazy" decoding="async" class="height-auto position-relative" style="max-width: 9vw; top: -2px;">
</div>

<div class="d-flex flex-column-reverse flex-sm-row pb-5 pt-sm-5 position-relative js-build-in-trigger">
  <p class="col-12 col-sm-8 col-lg-9 text-semibold lh-condensed-ultra" style="font-size: min(4.9vw, 64px)">
    A strong and versatile typeface, designed with <a href="https://degarism.com" class="Link--inTextBlock color-fg-default m-link no-underline">Degarism</a> and inspired by industrial-era grotesques. Mona Sans works well across product, web, and&nbsp;print.
  </p>

  <div role="img" class="col-12 col-sm-4 col-lg-3" aria-label="Mona hearts animated emoji.">
    <%= render "site/mona_sans/video", video: { filename: "hearts", size: 360 } %>
  </div>
</div>

<div class="d-flex flex-column flex-sm-row mb-8" style="gap: 16px">
  <a class="btn-mktg btn-large-mktg btn-muted-mktg" href="/github/mona-sans/releases/latest">Download font</a>
  <a class="btn-mktg btn-large-mktg btn-subtle-mktg" href="/github/mona-sans">View on GitHub</a>
</div>

<%= render "site/mona_sans/font_grid" %>

<img width="2920" height="736" src="<%= image_path "modules/site/mona-sans/mona-sketches.webp" %>" class="d-block width-full height-auto" alt="A series of sketches of Mona from different angles" loading="lazy" decoding="async">
