<div class="mt-4 mt-md-12 pt-12">
  <img width="191" height="228" src="<%= image_path "modules/site/mona-sans/file.png" %>" class="d-block mx-auto" alt="Mona sans file" loading="lazy">
  <h2 class="text-center h0-mktg my-6">
    Open-source
    <span class="color-fg-subtle d-block">and free to use</span>
  </h2>

  <p class="f2-mktg color-fg-subtle mx-auto text-center col-11 col-sm-9 col-md-7 col-lg-6 mb-3 mb-md-9 z-1 position-relative">
    <span class="color-fg-default">Licensed under</span> <a class="Link--inTextBlock m-link color-fg-default no-underline" href="https://scripts.sil.org/OFL">OFL</a> (basically, you can use it on your sites and in your projects—<a class="Link--inTextBlock color-fg-default m-link no-underline" href="https://github.com/github/mona-sans/blob/main/LICENSE">read the full&nbsp;license</a>)
  </p>

  <div class="position-relative py-8 py-md-12 js-build-in-trigger">
    <%= svg("site/mona-sans/contribution-graph", class: "position-absolute mona-contribution-graph events-none z-2") %>
    <div class="mona-sans-git-line js-build-in-item position-absolute left-0 top-0 bottom-0 right-0 height-full rounded-2 mx-auto z-1" style="width: 2px; background-color: #484F58;"></div>
    <div class="position-absolute bottom-n4 left-0 right-0 mx-auto rounded-2 z-1" style="height: 20px; width: 20px; background-color: #2DA44E; box-shadow: 0 8px 25px 0 #2da44e, 0 2px 7px 0 #2da44e;"></div>
  </div>
</div>
