<div class="color-bg-done-emphasis pt-12 pl-6 pr-6 mt-n6 text-center" style="background: linear-gradient(180deg, #8250DF 15%, #131121 100%);">
  <h2 style="font-size: min(9vw, 220px)" class="text-bold pt-12 pb-12">
    <span data-build-margin-top="48" data-build-margin-bottom="46" class="pb-10 js-build-in build-in-fade d-block">3 variables</span>
    <span data-build-margin-top="48" data-build-margin-bottom="46" class="pb-10 js-build-in build-in-fade d-block">granular control</span>
    <span data-build-margin-top="48" data-build-margin-bottom="46" class="pb-10 js-build-in build-in-fade d-block">unlimited freedom</span>
    <span data-build-margin-top="48" data-build-margin-bottom="46" class="pb-10 js-build-in build-in-fade d-block">Fast</span>
    <span data-build-margin-top="48" data-build-margin-bottom="46" class="pb-10 js-build-in build-in-fade d-block">expressive</span>
    <span data-build-margin-top="48" data-build-margin-bottom="46" class="pb-10 js-build-in build-in-fade d-block">and flexible</span>
    <a class="js-build-in build-in-slideY d-block color-fg-default col-6-max mx-auto mt-9" style="font-size: min(10vw, 45px)" href="/github/mona-sans#usage">Learn about how to
use variable fonts effectively</a>
  </h2>

  <img width="696" height="211" src="<%= image_path "modules/site/mona-sans/mona-ears.png" %>" class="d-block mx-auto height-auto width-fit" alt="Mona ears" loading="lazy" decoding="async">
</div>
