<div class="SelectMenu-list" data-filter="owner">
  <div data-filterable-for="assigns-owners-filter-field" data-filterable-type="substring">
    <%= render partial: "orgs/settings/third_party_access/personal_access_tokens/filters/items/clear", locals: {
      id: "org-members-clear", name: "owner"
    } %>

    <% if selected_owner.present? %>
      <%= render partial: "orgs/settings/third_party_access/personal_access_tokens/filters/items/owner", locals: {
        checked: true, user: selected_owner
      } %>
    <% end %>

    <% total_pages.times do |index| %>
      <% this_page = index + 1 %>

      <% users.paginate(page: this_page).each do |user| %>
        <% next if user.display_login == selected_owner&.display_login %>
        <%= render partial: "orgs/settings/third_party_access/personal_access_tokens/filters/items/owner", locals: {
          checked: false, user: user
        } %>
      <% end %>
    <% end %>
  </div>
</div>
