<div class="SelectMenu-list" data-filter="permissions">
  <div data-filterable-for="assigns-permissions-filter-field" data-filterable-type="substring">
    <%= render partial: "orgs/settings/third_party_access/personal_access_tokens/filters/items/clear", locals: {
      id: "permissions-clear", name: "permission"
    } %>

    <% [Repository, Organization].map do |resource| %>
      <%= render(Organizations::Settings::ThirdPartyAccess::PersonalAccessTokens::Filters::PermissionFilterListComponent.new(
              resource_parent: resource,
              selected_permission: selected_permission,
              programmatic_actor: access)
            ) %>
    <% end %>

  </div>
</div>
