<div class="SelectMenu-list" data-filter="repository">
  <div data-filterable-for="assigns-repos-filter-field" data-filterable-type="substring">
    <%= render partial: "orgs/settings/third_party_access/personal_access_tokens/filters/items/clear", locals: {
      id: "org-repositories-clear", name: "repository"
    } %>

    <% if selected_repository.present? %>
      <%= render partial: "orgs/settings/third_party_access/personal_access_tokens/filters/items/repository", locals: {
        checked: true, repository: selected_repository
      } %>
    <% end %>

    <% total_pages.times do |index| %>
      <% this_page = index + 1 %>

      <% repositories.paginate(page: this_page).each do |repository| %>
        <% next if repository.name == selected_repository&.name %>
        <%= render partial: "orgs/settings/third_party_access/personal_access_tokens/filters/items/repository", locals: {
          checked: false, repository: repository
        } %>
      <% end %>
    <% end %>
  </div>
</div>
