<template data-target="ref-selector.noMatchTemplate">
  <div class="height-full width-full d-flex flex-items-center pl-3">
    <span>Branch not found: <strong>{{ refName }}</strong></span>
  </div>
</template>
