<% security_campaign_number = local_assigns.fetch(:security_campaign_number) %>

<% content_for :content do %>
  <main>
    <%= render layout: "layouts/repository/security", locals: { selected_tab: "campaign-#{security_campaign_number}" } do %>
      <%= yield %>
    <% end %>
  </main>
<% end %>

<%= render template: "layouts/application" %>
