.instructionContainer {
  display: flex;
  flex-direction: column;
  border-color: var(--borderColor-default);
  border-style: solid;
  border-width: var(--borderWidth-thin);
  /* stylelint-disable-next-line primer/borders */
  border-radius: 5px;
}

.instruction {
  display: flex;
  padding: var(--base-size-16);
  border-bottom-color: var(--borderColor-default);
  border-bottom-style: solid;
  border-bottom-width: var(--borderWidth-thin);
  justify-content: space-between;
}

.footerContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.footerForm {
  display: flex;
  align-items: center;
}

.footerForm > :first-child {
  display: contents;
}

.footerButton {
  display: flex;
  align-items: center;
  gap: var(--base-size-8);
}
