.dragItem {
  z-index: 1;

  &::after,
  &::before {
    position: absolute;
    z-index: 1;
    display: block;
    content: "";
    background-color: var(--bgColor-accent-emphasis);
    border: 0;
  }

  &.vertical::after,
  &.vertical::before {
    right: 0;
    left: 0;
    height: 2px;
  }

  &.horizontal::after,
  &.horizontal::before {
    top: 0;
    bottom: 0;
    width: 2px;
  }

  &.vertical::before {
    top: 0;
    transform: translateY(-50%);
  }

  &.vertical::after {
    bottom: 0;
    transform: translateY(50%);
  }

  &.horizontal::before {
    left: 0;
    transform: translateX(-50%);
  }

  &.horizontal::after {
    right: 0;
    transform: translateX(50%);
  }

  .contents {
    opacity: 0;
  }
}

.dragOverlay {
  position: absolute;
  bottom: var(--base-size-8);
  left: var(--base-size-8);
  pointer-events: none;
  background-color: var(--bgColor-default);
  border-radius: var(--borderRadius-medium);
  outline: var(--borderWidth-thin) solid;
  outline-color: var(--borderColor-muted);
  box-shadow: var(--shadow-floating-large);
}
