<%# erblint:counter LabelComponentMigrationCounter 1 %>
<template data-target="ref-selector.itemTemplate">
  <button type="button" class="SelectMenu-item" role="menuitemradio" rel="nofollow" aria-checked="{{ isCurrent }}" data-index="{{ index }}" data-action="click:input-demux-context-wrapper#onItemSelected">
    <%= primer_octicon(:check, classes: 'SelectMenu-icon SelectMenu-icon--check') %>
    <span class="flex-1 css-truncate css-truncate-overflow {{ isFilteringClass }} js-ref-name">{{ refName }}</span>
    <span hidden="{{ isNotDefault }}" class="Label Label--secondary flex-self-start">default</span><%# erblint:disable BooleanAttributes %>
  </button>
</template>
