<%# erblint:counter LabelComponentMigrationCounter 1 %>
<template data-target="ref-selector.itemTemplate">
  <a href="<%= url_template %>" class="SelectMenu-item" role="menuitemradio" rel="nofollow" aria-checked="{{ isCurrent }}" data-index="{{ index }}">
    <%= primer_octicon(:check, classes: 'SelectMenu-icon SelectMenu-icon--check') %>
    <span class="flex-1 css-truncate css-truncate-overflow {{ isFilteringClass }}">{{ refName }}</span>
    <span hidden="{{ isNotDefault }}" class="Label Label--secondary flex-self-start">default</span><%# erblint:disable BooleanAttributes %>
  </a>
</template>
