<%# erblint:counter LabelComponentMigrationCounter 1 %>

<% turbo_frame = local_assigns.fetch(:turbo_frame, false) %>

<template data-target="ref-selector.itemTemplate">
  <a href="<%= ref_path_template %>" class="SelectMenu-item" role="menuitemradio" rel="nofollow" aria-checked="{{ isCurrent }}" data-index="{{ index }}" <% if turbo_frame %><%= turbo_frame_attr(id: turbo_frame, flagged: true) %><% end %>>
    <%= primer_octicon(:check, classes: 'SelectMenu-icon SelectMenu-icon--check') %>
    <span class="flex-1 css-truncate css-truncate-overflow {{ isFilteringClass }}">{{ refName }}</span>
    <span hidden="{{ isNotDefault }}" class="Label Label--secondary flex-self-start">default</span><%# erblint:disable BooleanAttributes %>
  </a>
</template>
