<%= render(Primer::Alpha::TabNav.new(label: "Dependency Insights menu", display: :flex, body_arguments: { flex: 1 })) do |component| %>
  <% component.with_tab(selected: selected_tab == :dependencies, href: network_dependencies_path) { "Dependencies" }%>
  <% if !current_repository.private? %>
    <% component.with_tab(selected: selected_tab == :dependents, href: network_dependents_path) { "Dependents" } %>
  <%end%>
  <% if current_repository.automated_dependency_updates_visible_to?(current_user) %>
    <% component.with_tab(selected: selected_tab == :dependabot, href: network_dependabot_path, :highlight => [:dependabot_updates]) { "Dependabot" } %>
  <% end %>
  <% if current_repository.dependency_graph_enabled? %>
    <% component.with_extra(align: :right) do %>
      <div>
        <%= render(Primer::Beta::Button.new(ml: 6, float: :right, href: dependency_graph_sbom_path, tag: :a)) do |component| %>
          <% component.with_leading_visual_icon(icon: :download) %>
            Export SBOM
          <% end %>
      </div>
    <% end %>
  <% end %>
<% end %>

