<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter DeprecatedComponentsCounter 1 %>
<div class="flash-messages">
  <%= render(Primer::Beta::Flash.new(dismissible: true)) do %>
    This network is too big to show all forks as a tree.  To sort, filter, and see more results,
    <%= link_to "switch to the list view.", forks_path(current_repository.owner, current_repository), class: "Link--inTextBlock" %>
  <% end %>
</div>
