<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%= render Primer::BlankslateComponent.new(
  icon: "repo-forked",
  title: "No one has forked this repository yet.",
  large: true,
  spacious: true,
) do %>
  <p>Forks are a great way to contribute to a repository. After <a class="Link--inTextBlock" href="<%= GitHub.help_url %>/articles/fork-a-repo">forking a repository</a>, you can send the original author a <a class="Link--inTextBlock" href="<%= GitHub.help_url %>/articles/using-pull-requests">pull request</a>.</p>
<% end %>
