.confirmationText {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  letter-spacing: -0.15px;
}

.confirmationPaymentHeader {
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 'var(--text-title-lineHeight-small)';
  color: var(--fgColor-default);
}

.confirmationPaymentText {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 150% */
  letter-spacing: 0.3px;
}

.confirmationFooter {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 150% */
  color: var(--fgColor-muted);
}

.perMonth {
  font-size: 14;
  font-style: normal;
  font-weight: 300;
  line-height: 30px; /* 150% */
  color: var(--fgColor-subtle);
}
