<%
  page_info title: "GitHub Copilot",
            responsive: false,
            selected_link: :organization_copilot_settings_seat_management
%>

<%= render layout: "orgs/settings/layout" do %>
  <%= render Primer::Beta::Blankslate.new(border: true) do |c| %>
    <% c.with_visual_icon(icon: :copilot) %>
    <% c.with_heading(tag: :h2).with_content("GitHub #{Copilot.business_product_name} requires a paid enterprise account") %>
    <% c.with_description do %>
      <p>Contact your enterprise admin to upgrade to a paid enterprise account.</p>
      <p><%= link_to "Learn more about GitHub Copilot", "https://docs.github.com/enterprise-cloud@latest/copilot", class: "Link--inTextBlock" %></p>
    <% end %>
  <% end %>
<% end %>
