.copilotActionsChatButton.buttonBorder {
  border-top: 0;
}

.copilotActionsChatButton.compact {
  display: block;
}

.copilotActionsChatButton.expanded {
  display: none;
}

@media screen and (min-width: 1012px) {
  .copilotActionsChatButton.compact {
    display: none;
  }

  .copilotActionsChatButton.expanded {
    display: block;
  }
}

/*
Primer's button group only makes the corners rounded for the first and last child.
In this case, this button is not actually the last child because it has a tooltip
element that comes after it in the DOM (for the action menu). So we need some nice
specific selectors to make sure we get rounded corners.
*/
.copilotActionsChatButton.expanded .expandButton {
  border-top-right-radius: var(--borderRadius-medium);
  border-bottom-right-radius: var(--borderRadius-medium);
}
