<div class="SelectMenu-divider">
  <%= resource_parent.to_s %>
  <span hidden><%= resources.join %></span>
</div>
<% resources.map do |resource| %>
  <% actions.each do |action| %>
    <%= render(Organizations::Settings::ThirdPartyAccess::PersonalAccessTokens::Filters::PermissionFilterListItemComponent
    .new(resource: resource, selected_permission: selected_permission, action: action)) %>
  <% end %>
<% end %>
