<%# locals: (organization:) %>

<label for="search-member" class="f4">
  <span>
    Search by username, full name or email address
  </span>
</label>
<auto-complete src="<%= org_invitations_invitee_suggestions_path(current_organization) %>" for="new-org-members-complete-results" <%= test_selector("multi-user-invite") %>>
  <div class="auto-search-group">
    <div class="js-badge-container pb-2">
      <div
        class="d-flex flex-wrap width-full my-2 rounded-2 border color-border-default hx_badge-search-container js-badge-search-container js-badges p-2"
        <% if show_plan_upgrade_on_invite_page? %> data-allow-plan-increase=true <% end %>
      >
        <input type="text" class="hx_badge-input m-2 f4 flex-auto js-badge-input flex-order-2 form-control py-0" id="search-member">
      </div>
      <%= render partial: "orgs/invitations/multi_invite_auto_complete", locals: { organization: organization } %>
    </div>
  </div>
</auto-complete>
