<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter DeprecatedComponentsCounter 1 %>
<div class="flash-messages">
  <%= render Primer::Beta::Flash.new(scheme: :danger) do %>
    <button type="button" class="flash-close js-flash-close">
      <%= primer_octicon(:x) %>
    </button>
    You need to purchase additional seats to invite more people.
  <% end %>
</div>
