<%
  page_info title: "Choose a plan"
%>

<%= render layout: "signup/container",
  locals: {
    title: "Pick a plan for your organization",
    subtitle: "Choose a plan",
    container_class: "mb-4 mb-md-8 container-xl",
    yield_container_class: "container-xl"
  } do %>
    <div class="d-flex flex-column">
      <%= render partial: "organizations/signup/plans" %>
    </div>
<% end %>

<%= render partial: "site/pricing/compare_features", locals: { context: "organization_plan" } %>
