<%= render layout: "sponsors/dashboards/layout", locals: { sponsors_listing: sponsors_listing, selected_tab: :goals } do %>
  <%= render Primer::Beta::Subhead.new do |component| %>
    <% component.with_heading(tag: :h2) do %>Your goals<% end %>
  <% end %>

  <p class="mb-4">
    Set a goal to share with your community! You can set a target number of sponsors or the
    amount of money you aim to earn each month. You can also describe what those sponsorships will
    help you achieve.
  </p>

  <%= render Sponsors::Dashboard::Goals::FormComponent.new(sponsors_listing: sponsors_listing, goal: goal) %>
  <%= render(Sponsors::Dashboard::Goals::ExamplesComponent.new(sponsors_listing: sponsors_listing)) %>
<% end %>
