<div data-pjax>
  <% collections.each do |c| %>
    <%= link_to showcase_collection_path(c), :class => "exploregrid-item exploregrid-item-mini float-left height-auto width-full mt-0 mr-0 mb-3 ml-0 px-3 py-4" do %>
      <div class="exploregrid-item-header" style="background-image: <%= c.geo_pattern %>"></div>
      <h4 class="exploregrid-item-title">
        <%= c.name %>
      </h4>
      <small class="d-block"><%= truncate(c.body_text, :length => 75) %></small>
    <% end %>
  <% end %>
</div>
