<%= render Issues::LabelComponent.new(
    color: label.color,
    name: label.name,
    description: label.description,
    display: :inline_block,
    mt: 1,
    vertical_align: :middle) do |component| %>
  <span class="css-truncate css-truncate-target d-inline-block">
    <%= label.name_html %>
  </span>
<% end %>
