<div class="color-bg-subtle border-bottom">
  <div class="container-lg p-responsive text-center py-6">
    <h1 class="h1">
      Events
    </h1>

    <p class="f4 color-fg-muted col-md-6 mx-auto">
      Connect with the GitHub community at conferences, meetups, and hackathons around the world.
    </p>
  </div>
</div>

<div class="container-lg p-responsive border-bottom">
  <div class="d-lg-flex gutter-lg-spacious">
    <%= render Explore::Event::IndexMainListComponent.new(events: @hosted_events) %>
    <%= render Explore::Event::IndexSidebarListComponent.new(events: @sponsored_events) %>
  </div>
</div>
