<li>
  <%= render(Primer::Beta::Link.new(
    data: {
      **analytics_click_attributes(
        category: "Events",
        action: "go to #{@event.display_name}",
        label: "location:sponsored by github"
      )
    },
    href: @event.url,
  )) do %>
    <%= @event.display_name %>
  <% end %>

  <p class="color-fg-muted f6">
    <%= @event.sponsored_date_range %> • <%= @event.location_short_name %>
  </p>
</li>
