<%
org_header_title(organization)
page_info \
  title: page_title,
  description: organization_meta_description,
  breadcrumb: "Followers",
  dashboard_pinnable_item_id: organization.id,
  richweb: {
    title: page_title,
    url: user_url(organization),
    description: organization_meta_description,
    image: organization_avatar_url(280),
    username: organization_login,
    type: "profile",
  }
%>

<%= render "orgs/identity_management/banner", organization: organization %>
<%= render Organizations::ArchivedNoticeComponent.new(organization: organization)%>

<div itemscope itemtype="http://schema.org/Organization">
  <%= render Organizations::HeaderComponent.new(organization: organization, selected_nav_item: :overview) %>

  <div class="container-xl p-responsive clearfix" data-hpc>
    <%= render Profiles::Organization::Tabs::FollowersListComponent.new(organization: organization, followers: followers, current_page: current_page) %>
  </div>
</div>
