<% page_info title: "Custom messages", selected_link: :business_custom_messages,
  stafftools: stafftools_enterprise_path(this_business) %>

<%= render layout: "businesses/layout",
  locals: {
    business: this_business,
    title: "Messages",
    container_attributes: "itemscope itemtype='http://schema.org/Business'"
  } do %>
  <div>
    <%= yield %>
  </div>
<% end %>
