<% unless GitHub.enterprise? %>
  <div class="Box Box--condensed mb-2 border-bottom-0">
    <div class="Box-header clearfix">
      <h3 class="float-left">Packages Utilities</h3>
    </div>
    <div class="Box-body p-0 overflow-x-auto">
      <% if GitHub.flipper[:packages_submit_billing_reconciliation].enabled?(current_user) %>
        <table class="boxed-group-table">
          <tr class="no-wrap">
            <th>Name</th>
            <th>Description</th>
            <th>Actions</th>
            <th></th>
          </tr>
          <tbody>
              <tr>
                <td>Billing Reconciliation</td>
                <td>Triggers Billing Reconciliation for <%= this_business.name %> </td>
                <td>
                  <%= stafftools_button_to "Trigger", trigger_packages_billing_reconciliation_stafftools_actions_packages_path(this_business),
                    method: :post,
                    class: "btn btn-primary",
                    form_class: "inline-form",
                    "data-confirm": "Are you sure you want to trigger billing reconciliation for #{this_business.name}?" %>
                </td>
              </tr>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
<% end %>
