<%
  page_info title: "#{this_user.login} - Actions & Packages usage"
%>

<% if this_user&.business.present? %>
  <div class="Box Box--danger mb-3">
    <div class="Box-body text-bold">
      To manage this organization's billing, see their parent enterprise <%= link_to this_user.business.name, stafftools_enterprise_path(this_user.business), class: "Link--inTextBlock" %>.
    </div>
  </div>
<% end %>

<%= render "stafftools/actions_packages/breakdown", business: false %>
