.containerSolid,
.containerSegmented,
.containerRing {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--base-size-6);
  color: var(--fgColor-muted);
}

.containerSolid,
.containerSegmented {
  container-type: inline-size;
  width: 100%;
}

.containerRing {
  padding-right: var(--base-size-4) !important;
  padding-left: var(--base-size-4) !important;
}

.solid,
.segmented {
  flex: 1;
  background-color: transparent !important;
}

.segmented {
  gap: var(--base-size-2);

  .barItemComplete,
  .barItemIncomplete {
    flex: 1;
  }
}

.barItemIncomplete {
  opacity: 0.25;
}

@container (width < 160px) {
  .textCount {
    display: none;
  }
}

.textCount,
.textPercentage {
  font-size: 13px;
}

.consistentContentSizing {
  .textCount {
    min-width: 3.25em;
    text-align: center;
  }

  .textPercentage {
    min-width: 2.65em;
    text-align: right;
  }
}
