<nav aria-label="Releases and Tags" class="<%= classes %>">
  <%= selected_link_to "Releases", releases_path(repository), :highlight => :repo_releases, :selected_link => selected, :class => "subnav-item" %>
  <%= selected_link_to "Tags", tags_path(repository.owner, repository), :highlight => :repo_tags, :selected_link => selected, :class => "subnav-item" %>
</nav>
