<div class="col-6-max mx-auto text-center my-11 my-md-12 pt-5">
  <h1 class="h1-mktg blacktocats-title-brow blacktocats-title-dot">Black initiatives are GitHub initiatives&nbsp;</h1>
  <p class="f3-mktg color-fg-muted mt-3">
    Blacktocats is the first official GitHub Community of Belonging. Our mission is to attract and empower Black lives in tech. What began as a small group effort in 2015 has turned into a global initiative to amplify Black voices and talent in the tech community.
  </p>
</div>
