<div class="my-11 my-md-12">
  <div class="d-block d-lg-flex flex-row gutter gutter-spacious">
    <div class="col-lg-7">
      <picture>
        <source srcset="<%= image_path "modules/site/about/community/blacktocats/blacktocats-one-to-many.webp" %>" type="image/webp">
        <img
          src="<%= image_path "modules/site/about/community/blacktocats/blacktocats-one-to-many.jpg" %>"
          width="900"
          height="735"
          alt=""
          class="height-auto position-relative z-1 width-full d-block"
          style="background-color: #242b2e">
      </picture>
      <span class="color-fg-muted text-mono f5 d-block mt-3">Co-founders Leithia Williams (GitHub Alum) and 'Toya East</span>
    </div>

    <div class="col-sm-8 col-lg-5 mt-8 mt-lg-7">
      <h2 class="h4-mktg">Blacktocats’ goals</h2>
      <h3 class="h6-mktg blacktocats-title-dot mt-5 mt-lg-7 mb-2">Recruitment and community-building&nbsp;</h3>
      <p class="col-lg-8 f4-mktg color-fg-muted">Support GitHub’s efforts to attract Black talent and build an internal community that connects employees with Blacktocats initiatives.</p>
      <h3 class="h6-mktg blacktocats-title-dot mt-5 mt-lg-7 mb-2">Career development and retention&nbsp;</h3>
      <p class="col-lg-8 f4-mktg color-fg-muted">Promote Black leadership and development at all levels within GitHub.</p>
      <h3 class="h6-mktg blacktocats-title-dot mt-5 mt-lg-7 mb-2">Open source and education&nbsp;</h3>
      <p class="col-lg-8 f4-mktg color-fg-muted">Support the Black community’s participation in open source projects and coding.</p>
    </div>
  </div>

  <div class="gutter gutter-spacious mt-8">
    <div class="col-lg-8">
      <div class="d-flex flex-column-reverse flex-md-row flex-nowrap flex-items-center text-center text-md-left">
        <div class="col-3 col-md-4 mt-4 mr-md-6" style="max-width: 168px;">
          <%= render Site::AvatarComponent.new(handle: "ericalloyd", classes: "width-fit", size: 168, alt: "Erica Lloyd", aria_hidden: nil) %>
        </div>
        <figure class="m-0 col-md-8">
          <blockquote class="f3-mktg pt-4 pt-md-5 position-relative">
            <span class="h3-mktg width-full position-absolute top-0 left-0 color-fg-muted">“</span>
            <p>As an engineer, I followed and looked up to Blacktocats long before I joined GitHub. Their outreach efforts provide inspiration and #goals for developers who are navigating their careers and exposure to Black developers who are already succeeding. Now that I’m here, it’s also a crucial source of support (and fun) for me and so many others.</p>
          </blockquote>
          <figcaption class="text-mono f5-mktg color-fg-muted">Erica Lloyd<span class="d-none d-md-inline"> // </span><br class="d-block d-md-none">Implementation Engineer</figcaption>
        </figure>
      </div>
    </div>
  </div>
</div>
