<%= render Primer::Alpha::Dialog.new(
  title: "Git it together",
  size: :large,
  id: "space-transcript-dialog",
) do |d| %>
  <% d.with_header do %>
    <div class="h4-mktg mb-2">
      Git it together
    </div>
  <% end %>
  <% d.with_body do %>
    <p class="f3-mktg color-fg-muted">
      We commissioned artist <a href="https://www.iamsoteria.com/en/" target="_blank" class="text-underline text-bold">I AM SOTERIA</a> to create and perform a spoken word piece all about the impact and legacy of the Blacktocats.
    </p>

    <div class="f4-mktg">
      <p>Listen, we have to GIT it together, and the best way we GIT it together is by building together.</p>

      <p>See,<br>
      We are original REPOSITORIES created by experiences<br>
      That only our perseverance could have sculpted</p>

      <p>We are the carrier of an OPEN SOURCE that need not be sublime<br>
      We are the bridge between dreamers and the TECH PIPELINE</p>

      <p>We are worthy and We belong<br>
      For We are timeless assets<br>
      &amp;We BLACKTOCATS won’t sit back<br>
      So, we boldly PULL forth your greatness because<br>
      Greatness recognizes greatness</p>

      <p>We want to remind you <em>over and over</em> that:</p>

      <p>You are capable<br>
      You are fearless</p>

      <p>It is your  CONTRIBUTIONS that will<br>
      inspire minds<br>
      develop communities<br>
      And invoke passion throughout the ages</p>

      <p>You will be the reason <strong>people say yes</strong><br>
      For You are the BUILDING BLOCK that wakes up the very ground</p>

      <p>You will be the reason technology translates as:<br>
      A language of hope<br>
      possibility<br>
      innovation, access and sound</p>

      <p>Your determination can not be matched<br>
      For You are the PROPRIETOR we need to create, shine and be the magic</p>

      <p>Deemed Collectors of Collaboration because</p>

      <p>We all have a part to play<br>
      Stories in our heart to relay</p>

      <p>For when we GIT together<br>
      We move UPSTREAM<br>
      It is together we build the best teams, putting all other inhibitors of creativity at rest</p>

      <p>So, when you are chosen just know we chose you knowing how to GIT the best.</p>

      <p>© iamsoteria</p>
    </div>
  <% end %>
<% end %>

<%= render Site::ButtonComponent.new(text: "Read the transcript", scheme: :subtle, classes: "link-mktg f3-mktg mt-3 py-1 px-0 text-semibold btn-link-reset", arrow: true, data: {"show-dialog-id": "space-transcript-dialog"}, style: "box-shadow: none !important;") %>
