<div class="d-lg-flex mt-3 mb-5 flex-items-center">
    <div>
      <%= render Primer::Beta::Subhead.new(hide_border: true) do |component| %>
        <% component.with_heading(tag: :h1, font_weight: :bold) { "Get started with Advanced Security." } %>
          <% component.with_description do %>
            We’ve suggested some tasks here on your organization’s onboarding to help you get started during your trial.
          <% end %>
      <% end %>
    </div>
    <div class="growth-GettingStarted-imageContainer ml-4 mr-4" style="position: relative; min-width: 290px; min-height: 190px; max-width: 290px; max-height: 190px;">
      <%= render Primer::Beta::Link.new(
          href: "https://www.youtube.com/watch?v=DA_WbNRFPT0&ab_channel=GitHub",
          display: :inline_block,
          target: :_blank,
          rel: "noopener noreferrer",
          mt: 4,
          data: analytics_click_attributes(
            category: "advanced_security_self_serve_trial",
            action: "click_getting_started_video",
            label: "ref_cta:getting_started_video; ref_loc:ghas_onboarding"
          ),
        ) do %>
          <img src="<%= image_path "modules/growth/advanced_security/thumbnail.jpeg" %>"
            alt="Advanced Security" class="growth-GettingStarted-imageThumbnail d-block rounded-2" style="position: relative; z-index: 1;">
          <%= render(Primer::Beta::Octicon.new(
            icon: :play,
            size: :medium,
            color: :on_emphasis,
            style: "position: absolute; bottom: 70px; right: 130px; z-index: 2"
          )) %>
        <% end %>
    </div>
  </div>
