<div class="border-bottom d-flex flex-justify-between">
  <div>
    <%= render Primer::Beta::Subhead.new(hide_border: true, mt: 4, mb: 1) do |component| %>
      <% component.with_heading(tag: :h2) { trial_active? ? "Advanced Security trial" : "Advanced Security trial has expired" } %>
        <% component.with_description do %>
          <% if trial_active? %>
            Your trial expires in <%= pluralize(trial_days_left, "day") %>
          <% end %>
        <% end %>
    <% end %>
  </div>
</div>
