<div class="Box">
  <div class="Box-header">
    <div class="d-flex flex-items-center">
      <span class="h4 flex-auto text-normal color-fg-muted" id="sponsors-featured-accounts-header">
        Sponsored developers and organizations
      </span>
      <%= render Primer::Beta::Button.new(
        tag: :a,
        id: "sponsors-featured-accounts-refresh-button",
        href: sponsors_featured_index_path,
        data: { turbo: true, turbo_frame: "sponsors-featured-accounts" },
        aria: { labelledby: "sponsors-featured-accounts-refresh-button sponsors-featured-accounts-header" },
        classes: 'js-refresh-sponsors-explore',
      ) do |button| %>
        <% button.with_leading_visual_icon(icon: :sync) %>
        Refresh
      <% end %>
    </div>
  </div>
  <%= render Sponsors::Explore::FeaturedAccountsComponent.new %>
</div>
