<%= render Primer::Beta::Subhead.new(display: :flex, align_items: :center, pt: 6) do |component| %>
  <% component.with_heading(tag: :h2) do %>Payout statement<% end %>
<% end %>

<p>Download PDF statements for payouts you have received.</p>

<include-fragment src="<%= sponsorable_dashboard_payout_receipts_path(sponsorable) %>" aria-label="Loading payout history..." class="width-full">
  <%= render(Primer::Beta::Spinner.new) %>
  <div class="color-fg-muted no-wrap">Loading&hellip;</div>
</include-fragment>
