<%= render(Primer::Alpha::UnderlineNav.new(label: "Gist tab")) do |component| %>
  <% component.with_tab(href: user_gists_path(view.user), selected: link_selected?(:user_gists)) do |t| %>
    <% t.with_icon(icon: :"code-square") %>
    <% t.with_text { "All gists" } %>
    <% t.with_counter(count: view.all_count) %>
  <% end %>

  <% if view.show_forked_tab? %>
    <% component.with_tab(href: user_forked_gists_path(view.user), selected: link_selected?(:user_forked_gists)) do |t| %>
      <% t.with_icon(icon: :"git-branch") %>
      <% t.with_text { "Forked" } %>
      <% t.with_counter(count: view.forked_count) %>
    <% end %>
  <% end %>

  <% if view.show_starred_tab? %>
    <% component.with_tab(href: user_starred_gists_path(view.user), selected: link_selected?(:user_starred_gists)) do |t| %>
      <% t.with_icon(icon: :star) %>
      <% t.with_text { "Starred" } %>
      <% t.with_counter(count: view.starred_count) %>
    <% end %>
  <% end %>

  <% component.with_actions do %>
    <div class="d-lg-flex d-none">
      <% if view.show_filters? %>
        <%= render "gists/gists/filter_options", view: view %>
      <% end %>
      <div class="ml-2 mr-2">
        <%= render "gists/gists/sort_options", view: view if view.has_gists? %>
      </div>
    </div>
  <% end %>
<% end %>
