<%# erblint:counter ButtonComponentMigrationCounter 1 %>

<%
  layout_data = Profiles::User::LayoutData.preload(profile_user: this_user, viewer: current_user, active_tab: nil)
  page_info dashboard_pinnable_item_id: user.id
%>
<div class="h-card col-md-3 col-12" itemscope itemtype="http://schema.org/Person">
  <%= render Profiles::User::SidebarComponent.new(profile_layout_data: layout_data, gists_profile: true) %>
  <a class="btn width-full text-center mt-3" href="<%= "#{GitHub.url}/#{this_user.to_param}" %>">
    View GitHub Profile
  </a>
</div>
