<div class="m-6">
  <p>Welcome to the testing form for the new Dotcom code referencing view.</p>
  <p>Submit some code here and you'll be taken to the matches page for that snippet:</p>

  <%= form_tag("/github-copilot/code_referencing", method: :post) do %>
    <textarea name="code" aria-label="Code" class="form-control width-full mb-3 mt-3"></textarea>
    <br>

    <%= render Primer::Beta::Button.new(type: :submit, scheme: :primary) do %>
      Find matches
    <% end %>
  <% end %>

  <p class="mt-3">Try these snippets:</p>

  <pre class="color-bg-subtle p-2 border">
function calculateDaysBetweenDates(begin, end) {
    var oneDay = 24*60*60*1000; // hours*minutes*seconds*milliseconds
    var firstDate = new Date(begin);
    var secondDate = new Date(end);

    return Math.round(Math.abs((firstDate.getTime() - secondDate.getTime())/(oneDay)));
}</pre>

  <pre class="color-bg-subtle p-2 border">
// Path first expands environment variables like $FOO or ${FOO}, and then
// reports if any of the sources have been modified more recently than the
// destination. Path does not descend into directories, it literally just checks
// the modtime of each thing you pass to it. If the destination file doesn't
// exist, it always returns true and nil. It's an error if any of the sources
// don't exist.
func Path(dst string, sources ...string) (bool, error) {</pre>

  <pre class="color-bg-subtle p-2 border">
THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE
LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION
OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION
WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.</pre>
</div>
