<div class="d-md-none">
  <%= render Primer::Experimental::SelectMenuComponent.new(
    align_right: true,
    position: :relative,
    test_selector: "attempt-navigation",
    menu: {
      tag: :"details-menu",
      preload: true,
      src: menu_src_path,
    },
    modal: { classes: "hx_SelectMenu-modal-no-animation" },
    details: { overlay: :default },
    ) do |menu| %><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
    <% menu.with_summary(classes: "dropdown-item", caret: false, button: false) do %>
      Jump to attempt
    <% end %>
  <% end %>
</div>

<div class="d-none d-md-inline-block">
  <%= render Primer::Experimental::SelectMenuComponent.new(
    align_right: true,
    position: :relative,
    mr: 2,
    test_selector: "attempt-navigation",
    menu: {
      tag: :"details-menu",
      preload: true,
      src: menu_src_path,
    },
    modal: { classes: "hx_SelectMenu-modal-no-animation" },
    details: { overlay: :default },
    ) do |menu| %><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
    <% menu.with_summary(variant: :medium) do %>
      <%= primer_octicon(:history) %>
      <%= button_text %>
    <% end %>
  <% end %>
</div>
