<% track_render_partial("actions/workflow_runs/job_rerun_dialogs") do %>
  <div
      class="js-updatable-content js-socket-channel"
      data-channel="<%= live_update_view_channel(check_suite.channel) %>"
      data-url="<%= job_rerun_dialogs_path(user_id: @current_repository.owner, repository: @current_repository, workflow_run_id: @workflow_run.id, pr: pull_request_number) %>">
    <% if render_job_rerun_dialogs? %>
      <% if @defer_rendering %>
        <include-fragment src="<%=job_rerun_dialogs_path(user_id: @current_repository.owner, repository: @current_repository, workflow_run_id: @workflow_run.id, pr: pull_request_number)%>"></include-fragment>
      <% else %>
        <% check_runs.each do |check_run| %>
          <% if check_run.actions_rerequestable? %>
            <%= render Actions::WorkflowRuns::RerunDialogComponent.new(
              current_repository: @current_repository,
              workflow_run: @workflow_run,
              job: check_run.workflow_job_run,
              dialog_id: "rerun-dialog-#{check_run.id}",
              variant: :single_job,
            ) %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
<% end %>
