<div class="actions-fullwidth-module color-bg-default Box color-shadow-small mb-3 pt-3 pb-1 border rounded">
  <div class="mt-1 mb-3 px-3">
    <div class="mx-0 mx-md-1">
      <h3>Run time</h3>
      <a href="<%= GitHub.help_url %>/github/setting-up-and-managing-billing-and-payments-on-github/about-billing-for-github-actions" class="text-small Link--secondary no-underline">
        Learn about OS pricing on GitHub Actions
      </a>
    </div>
  </div>

  <table class="width-full mt-n1 actions-workflow-table sticky">
    <thead>
      <tr class="color-fg-muted border-bottom color-border-muted">
        <th class="py-0 text-semibold col-6 col-md-5 col-xl-4">Job</th>
        <th class="py-0 text-semibold col-md-3 col-xl-3 text-right">Run time</th>
        <th class="d-none d-lg-table-cell col-lg-1 col-xl-2" aria-hidden="true"></th>
      </tr>
    </thead>

    <tbody>
      <% total_run_time = 0 %>
      <% total_billing_time = 0 %>
      <% check_runs_grouped_by_name.each do |_check_run_name, check_runs| %>
        <% check_runs.each do |check_run| %>
          <% line_items = check_run_id_to_line_item_map[check_run.id] %>
          <% if line_items.nil? %>
            <% total_run_time += check_run.actions_runtime_duration %>
            <% total_billing_time += 0.0 %>
            <%= render Actions::WorkflowRuns::BillingItemComponent.new(
              repository: repository,
              billing_duration_in_seconds: 0,
              check_run: check_run,
              runtime_environment: check_run_label_data_to_environment(check_run.workflow_job_run&.label_data))
            %>
          <% else %>
            <% line_items.each_with_index do |line_item, index| %>
              <% rerun_id = index + 1 if line_items.length > 1 %>
              <% total_run_time += check_run.actions_runtime_duration %>
              <% total_billing_time += line_item.duration_in_minutes.minutes.in_seconds %>
              <%= render Actions::WorkflowRuns::BillingItemComponent.new(
                repository: repository,
                billing_duration_in_seconds: line_item.duration_in_minutes.minutes.in_seconds,
                runtime_environment: line_item.job_runtime_environment,
                check_run: check_run,
                rerun_id: rerun_id
              ) %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>

      <tr role="row">
        <td class="compact col-4 pr-3"></td>
        <td class="compact pl-3 text-right text-bold">
          <%= precise_duration(total_run_time) %>
        </td>
        <td class="compact d-none d-lg-table-cell" aria-hidden="true"></td>
      </tr>
    </tbody>
  </table>
</div>
