<a class="no-underline" href="<%= url %>" id="<%= id %>">
  <%= truncated_name %>
</a>
<% if show_tooltip? %>
  <%= render(Primer::Alpha::Tooltip.new(for_id: id, type: :description, text: name, direction: :ne)) %>
<% end %>
