    <div class="position-relative position-xl-static">
      <div class="position-relative position-xl-absolute col-xl-8 top-0 top-lg-3 top-xl-n10 right-0 right-md-8 right-lg-0 z-n1">
        <div class="position-absolute position-xl-relative top-0 right-0 z-n1">
          <div class="features-category--background features-category--background-apps js-build-in">
            <img class="width-full height-auto d-block" src="<%= image_path "modules/site/features/launchpad/backgrounds/bg-apps-glow.svg" %>" aria-hidden="true" alt="" loading="lazy" width="1247" height="1025">
            <div class="position-absolute width-full top-0 right-n10">
              <img class="width-full height-auto d-block" src="<%= image_path "modules/site/features/launchpad/backgrounds/bg-apps-shapes.svg" %>" aria-hidden="true" alt="" loading="lazy" width="1182" height="1006">
            </div>
          </div>
        </div>

        <div class="p-responsive container-xl">
          <div class="pt-6 pt-xl-12 mt-4 mt-xl-8 position-static position-xl-absolute width-full top-0 d-flex flex-column flex-justify-center height-full">
            <div class="offset-xl-3 col-xl-9 position-relative d-flex flex-row flex-justify-end flex-items-start pr-lg-12">
              <div class="features-category--apps-illo1 copilot-mobile-chat-ga col-5" style="max-width: 281px;">
                <div class="features-category--apps-illo1-inner1">
                  <div class="features-category--apps-illo1-inner2">
                    <img class="width-full height-auto d-block" src="<%= image_path "modules/site/features/launchpad/illo/notifications.webp" %>" alt="Get to inbox zero in no time—swipe to wrap up a task or save the notification to come back to it later." loading="lazy" width="273" height="592" style="max-width: 273px;">
                  </div>
                </div>
              </div>

              <div class="features-category--apps-illo2 copilot-mobile-chat-ga col-6 position-relative left-n3 top-n5" style="max-width: 310px;">
                <img class="width-full height-auto d-block" src="<%= image_path "modules/site/features/launchpad/illo/merge-confirm.webp" %>" alt="GitHub App Pull Request" loading="lazy" width="295" height="640" style="max-width: 288px;">
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
