<%= render(Onboarding::Organizations::TipComponent.new(
  **system_arguments,
  organization: organization,
  show_tip: show_tip,
  check_for_task_completion: false,
  task: OnboardingTasks::AdvancedSecurity::SecurityOverview.new(taskable: organization, user: current_user),
  tasks_path: organization_onboarding_advanced_security_path(organization),
  test_selector: "security-overview-onboarding-tip",
)) do %>
  <h3 class="mb-1 h4">View your security risk in a security overview</h3>
  <div class="color-fg-muted">
    <p>Uncover insights to help prioritize efforts in your AppSec program and share progress with the various stakeholders across your organization with detailed reporting in a security overview. </p>
  </div>
<% end %>
