---
http_interactions:
- request:
    method: get
    uri: http://pond.dev/repositories/1/views/hour
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token eyJleHBpcmVzX2F0IjoxNDAzNjMxMzQwfQ==--1a202280f278bd8134d90efcddd14f065f3508bb
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"latencyMillis":21,"data":[{"timestamp":1403272800000,"count":7,"uniques":5},{"timestamp":1403276400000,"count":21,"uniques":6},{"timestamp":1403280000000,"count":10,"uniques":5},{"timestamp":1403283600000,"count":8,"uniques":5},{"timestamp":1403287200000,"count":4,"uniques":3},{"timestamp":1403290800000,"count":1,"uniques":1},{"timestamp":1403294400000,"count":1,"uniques":1},{"timestamp":1403298000000,"count":2,"uniques":1},{"timestamp":1403301600000,"count":1,"uniques":1},{"timestamp":1403308800000,"count":1,"uniques":1},{"timestamp":1403312400000,"count":1,"uniques[...]
