---
http_interactions:
- request:
    method: get
    uri: http://pond.dev/repositories/1/referrers/github.com/top_paths
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token eyJleHBpcmVzX2F0IjoxNDAzNjMxMTA4fQ==--cb1e48f44e78d5eedfce6b81d09ae12e8cc0d7fe
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"latencyMillis":11,"data":[{"path":"/mojombo","count":48,"uniques":28},{"path":"/schacon/grit","count":10,"uniques":5},{"path":"/gitlabhq/grit","count":5,"uniques":3},{"path":"/github/grit","count":3,"uniques":3},{"path":"/gitlabhq","count":2,"uniques":2},{"path":"/search","count":2,"uniques":2},{"path":"/frk1705/gift","count":2,"uniques":1},{"path":"/mloughran/git-cleanup/issues/10","count":2,"uniques":1},{"path":"/blog/1252-how-we-keep-github-fast","count":1,"uniques":1},{"path":"/codesake/codesake-dawn/issues/61","count":1,"uniques":1},{"path":"/github","count":1,"uniques":1},{"path":"/gitlabhq/grit/blob/master/lib/grit/ref.rb","count":1,"uniques":1},{"path":"/gollum/gollum/issues/755","count":1,"uniques":1},{"path":"/notatestuser/gift","count":1,"uniques":1},{"path":"/ooyala","count":1,"uniques":1}]}'
  recorded_at: Tue, 24 Jun 2014 17:28:49 GMT
recorded_with: VCR 2.9.2
