<nav class="UnderlineNav mb-3" aria-label="Licenses navigation">
  <div class="UnderlineNav-body">
      <%= selected_link_to stafftools_enterprise_licensing_path(this_business.slug), :class => "UnderlineNav-item" do %>
        Overview
      <% end %>

      <%= selected_link_to stafftools_enterprise_bundled_license_assignments_path(this_business.slug), :class => "UnderlineNav-item" do %>
        Visual Studio subscription license assignments <%= render Primer::Beta::Counter.new(count: this_business.bundled_license_assignments.count) %>
      <% end %>
  </div>
</nav>
