<div class="container-xl p-responsive position-relative py-9  py-md-12 z-1">
  <div class="d-flex flex-row flex-wrap gutter-md gutter-xl-spacious">
    <div class="col-12 col-sm-12 col-lg-4 mt-md-4 d-flex flex-column flex-items-center">
      <span class="overflow-hidden d-inline-block mb-3">
        <img class="width-fit height-auto" src="<%= image_path("modules/site/enterprise/trials/automation.icon.svg") %>" width="50" height="50" alt="DevOps Icon">
      </span>
      <h2 class="h5-mktg text-semibold mb-2">
        DevOps
      </h2>
      <p class="f3-mktg color-fg-muted mb-3 text-center">
        Automate every step of your pipeline,
        <br class="d-none d-sm-block"> including powerful, flexible CI/CD
        <br class="d-none d-sm-block"> native to GitHub.
      </p>
    </div>

    <div class="col-12 col-sm-12 col-lg-4 mt-md-4 d-flex flex-column flex-items-center">
      <span class="overflow-hidden d-inline-block mb-3">
        <img class="width-fit height-auto" src="<%= image_path("modules/site/enterprise/trials/security.icon.svg") %>" width="50" height="50" alt="Security Icon">
      </span>
      <h2 class="h5-mktg text-semibold mb-2">
        Security
      </h2>
      <p class="f3-mktg color-fg-muted mb-3 text-center">
       Find and fix vulnerabilities in days, not
       <br class="d-none d-sm-block">months-all as part of the developer
       <br class="d-none d-sm-block"> workflow.
      </p>
    </div>

    <div class="col-12 col-sm-12 col-lg-4 mt-md-4 d-flex flex-column flex-items-center">
      <span class="overflow-hidden d-inline-block mb-3">
        <img class="width-fit height-auto" src="<%= image_path("modules/site/enterprise/trials/collaboration.icon.svg") %>" width="50" height="50" alt="Collaboration Icon">
      </span>
      <h2 class="h5-mktg text-semibold mb-2">
        Collaboration
      </h2>
      <p class="f3-mktg color-fg-muted mb-3 text-center">
       Use innersource to iterate and ship<br class="d-none d-sm-block"> more efficiently with best practices<br class="d-none d-sm-block"> from open source teams.
      </p>
    </div>
  </div>
</div>
