<div class="position-relative pt-3 pb-8 overflow-hidden" <%= mktg_color_theme_attributes %>>
  <%= render Site::ImageComponent.new(
    src: image_path("modules/site/enterprise/trials/hero-bg/enterprise-trial-hero.jpg"),
    width: 1600,
    height: 744,
    classes: "width-full height-full object-fit-cover position-absolute d-block top-0 left-0",
    sizes: "100vw",
    lazy: false,
    alt: ""
  ) %>
  <div class="container-xl p-responsive position-relative z-1 pt-11 py-md-6 text-center">
    <h1 class="h2-mktg mb-3 mt-6 color-fg-default text-center">
      Produce quality code faster <br class="d-none d-sm-block">with GitHub Enterprise
    </h1>
    <p class="f3-mktg mb-4 text-normal text-center">
    A development platform with end-to-end security, the latest in
    <br class="d-none d-sm-block">
    automation, and tools to help your team do their best work yet.
    </p>

    <%= render "site/enterprise/trials/cta", ref_loc: "hero" %>
    <div class="container-xl p-responsive position-relative">
      <small class="d-block f5-mktg color-fg-muted text-semibold mt-5">
        <%= try_enterprise_trial_message %>, no credit card required.
      </small>
    </div>
  </div>
</div>
