<div class="py-4">
  <div>
    <p class="f5-mktg text-bold">Storage usage</p>
    <p class="f5-mktg color-fg-muted">Your Codespace is stored when not in active use, making it easy to resume work on reconnecting. Storage costs are $0.07 USD/GiB/mo.</p>
  </div>
  <div class="d-sm-flex flex-sm-row flex-sm-justify-between gutter-sm-condensed">
    <div class="col-sm-6 mb-3 mb-sm-0">
      <label class="d-block mb-1 f5-mktg text-bold" for="codespaces-stored-count">Stored codespaces</label>
      <%= render partial: "site/pricing/calculator/unit_input", locals: {
        name: "codespaces-stored-count",
        unit: "/dev",
        options: {
          placeholder: "E.g 3",
          data: {
            target: "codespaces-calculator.storedCountInput",
            action: "input:codespaces-calculator#updatePerDevPerMonth"
          }
        }
      } %>
    </div>
    <div class="col-sm-6">
      <label class="d-block mb-1 f5-mktg text-bold" for="codespaces-project-size">Average project size</label>
      <%= render partial: "site/pricing/calculator/unit_input", locals: {
        name: "codespaces-project-size",
        unit: "GB",
        options: {
          placeholder: "E.g 10",
          data: {
            target: "codespaces-calculator.projectSizeInput",
            action: "input:codespaces-calculator#updatePerDevPerMonth"
          }
        }
      } %>
    </div>
  </div>
</div>
