<div class="border-bottom border-dashed border-top-0 border-left-0 border-right-0 py-4">
  <p class="f5-mktg text-bold">Weekly developer usage</p>
  <p class="f5-mktg color-fg-muted">With Codespaces, you only pay for active usage; you are not billed for suspended instances.</p>
  <div class="d-sm-flex flex-sm-row flex-sm-justify-between gutter-sm-condensed">
    <div class="col-sm-6 mb-3 mb-sm-0">
      <label class="d-block f5-mktg text-bold mb-1" for="codespaces-developer-count">Number of developers</label>
        <%= number_field_tag("codespaces-developer-count", nil, class: "col-12", min: 0, placeholder: "E.g 5", data: {
          target: "codespaces-calculator.developerCountInput",
          action: "input:codespaces-calculator#updatePerMonth",
        }) %>
    </div>
    <div class="col-sm-6">
      <label class="d-block f5-mktg text-bold mb-1" for="codespaces-usage-hrs-per-dev">Weekly usage per developer</label>
      <%= render partial: "site/pricing/calculator/unit_input", locals: {
        name: "codespaces-usage-hrs-per-dev",
        unit: "hours",
        options: {
          placeholder: "E.g 20",
          data: {
            target: "codespaces-calculator.usageHoursPerDevInput",
            action: "input:codespaces-calculator#updatePerDevPerMonth",
          },
          max: 168
        }
      } %>
    </div>
  </div>
</div>
