.message {
  position: relative;
  display: flex;
  margin-top: var(--base-size-8);
  flex-direction: column;
  gap: var(--base-size-8);
}

@container message-container (min-width: 640px) {
  .message {
    margin-left: var(--base-size-32);
  }
}

.message .icon-link,
.message .color-icon-link {
  padding: var(--base-size-2);
  background-color: var(--control-bgColor-rest, var(--color-btn-bg));
  border-radius: var(--borderRadius-small);
}

.message .icon-link::before,
.message .color-icon-link::before {
  margin-right: var(--base-size-4);
  background-color: var(--control-bgColor-hover, var(--color-btn-hover-bg));
}

.message .color-icon-link::before {
  white-space: nowrap;
  vertical-align: -2px;
}

.message .icon-link::before {
  padding-left: var(--base-size-12);
  margin-right: var(--base-size-4);
  /* stylelint-disable-next-line primer/spacing */
  margin-left: 1px;
  content: "\00a0";
  background-color: var(--fgColor-muted,var(--color-fg-muted));
  mask-repeat: no-repeat;
  mask-position: center;
}

.message .file::before {
  mask: url('/images/modules/copilot-chat/file-16.svg') no-repeat;
  mask-position: 0 0.5px;
}

.message .snippet::before {
  mask: url('/images/modules/copilot-chat/code.svg') no-repeat;
  mask-position: 0 1px;
}

.message .commit::before {
  mask: url('/images/modules/copilot-chat/git-commit.svg') no-repeat;
  mask-position: 0 1px;
}

.message .bing::before {
  content: url('/images/modules/copilot-chat/bing.svg');
}

.agentUnauthorizedAvatar {
  width: 48px;
  height: 48px;
}
