/* we use type selectors to increase specificity to override styles */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-max-type */

.functionReferenceListContainer {
  display: flex;
  margin-top: var(--base-size-4);
  flex-direction: column;
  border: var(--borderWidth-thin) solid var(--borderColor-default, var(--color-border-default));
  border-radius: var(--borderRadius-medium);
}

.functionReferenceListContainer+button {
  margin-top: var(--base-size-4);
}

.functionReferenceListContainer+div {
  margin-top: var(--base-size-8);
}

.functionLoading {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--fgColor-muted, var(--color-fg-muted));
}

button.functionReferenceButton {
  min-width: 0;
  align-self: flex-start;
  height: auto;
  padding: var(--base-size-4);
}

button.functionReferenceButton [data-component="buttonContent"] {
  max-width: fit-content;
  align-items: start;
}

.functionReferenceButtonContents {
  display: block;
  font-size: var(--font-size-small, 12px);
  font-weight: var(--base-text-weight-normal);
  color: var(--fgColor-muted, var(--color-fg-muted));
  text-align: left;
  white-space: normal;
}

div.functionReferenceTitle {
  max-width: min-content;
}

.functionReferenceListFooter {
  margin-bottom: var(--base-size-8);
  margin-left: var(--base-size-16);
  font-size: var(--font-size-small, 12px);
  color: var(--fgColor-muted, var(--color-fg-muted));
}

.functionReferenceListFooter a {
  color: var(--fgColor-muted, var(--color-fg-muted));
  text-decoration: underline;
}
