<% if show_octicon_for_state? %>
  <%= primer_octicon(octicon_params_for_state[:name], **octicon_params_for_state[:kwargs]) %>
<% end %>
<div class="autocomplete-suggestion">
  <%= octicon(hit[:icon_name], color: hit[:icon_color], height: 16) %>
  <span class="truncated-autocomplete-suggestion-title"><%= hit[:title] %></span>
  <% if hit[:number] %>
    <span class="autocomplete-suggestion-issue-number">#<%= hit[:number] %></span>
  <% end %>
</div>
