<%= render Primer::Alpha::Banner.new(scheme: banner_scheme, icon: :alert, display: :flex, mt: 3, mx: 2, mb: 2, align_items: :flex_start) do %>
  <%= sanitize error_message %>
  <% unless error_details.nil? %>
    Errors:
    <ul>
      <% error_details.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
<% end %>
