<%= render Primer::Beta::Subhead.new do |component| %>
  <% component.with_heading(tag: :h2) do %>Seat limit for upgrades<% end %>
  <% component.with_actions do %>
    <%= link_to "Edit", edit_stafftools_seat_limits_path(business), class: "btn" %>
  <% end %>
<% end %>

<table class="stafftools-table mb-6">
  <tr>
    <td>Maximum number of seats when upgrading from an Enterprise trial</td>
    <td>
      <%= business.seat_limit_for_upgrades %>
      <% if business.seat_limit_for_upgrades == business.default_seat_limit_for_upgrades%>
        (default)
      <% end %>
    </td>
  </tr>
  <tr>
    <td>Maximum number of seats when adding a self-serve Advanced Security subscription</td>
    <td>
      <%= business.seat_limit_for_advanced_security_upgrade %>
      <% if business.seat_limit_for_advanced_security_upgrade == business.default_seat_limit_for_upgrades %>
        (default)
      <% end %>
    </td>
  </tr>
</table>
