<div class="header-style">
  <a href="<%= email_link_with_tracking(url: GitHub.url, email_source: email_source) %>" class="a-style-2">
    <img src="<%= GitHub.mailer_asset_host_url %>/images/email/global/wordmark.png" height="32" alt="GitHub" class="img-style-2">
  </a>
</div>
