<% if total_copilot_usage_for_business.empty? %>
  <p class="py-4 color-fg-muted f5 border-bottom">No Copilot usage yet</p>
<% else %>
  <% total_copilot_usage_for_business.each do |usage| %>
    <div class="d-flex py-3 border-bottom flex-items-center">
      <div class="col-6">
        <strong><%= pluralize(number_with_delimiter(usage[:effective_quantity]), "seat") %></strong>
      </div>
      <div class="col-3">
        <strong><%= Billing::Money.new(usage[:cost_in_subunits]).format(no_cents_if_whole: false) %></strong>
      </div>
    </div>
  <% end %>
<% end %>

