
<%= render Primer::Box.new(mr: 6) do %>
  <span class="f6"><%= @heading %></span>
  <%= render(Primer::Beta::Heading.new(tag: :h5, mt: 1, color: @show_danger_text ? :danger : :default)) { @value } %>
<% end %>
