<%# erblint:counter ButtonComponentMigrationCounter 2 %>

<div class="tabnav CommentBox-header p-0 position-static">
  <div class="tabnav-tabs" role="tablist" aria-label="Preview">
    <button type="button" class="btn-link tabnav-tab write-tab js-write-tab selected" role="tab" aria-selected="true">Write</button>
    <button type="button" class="btn-link tabnav-tab preview-tab js-preview-tab" role="tab">Preview</button>
  </div>

  <% if !comment.created_via_email %>
    <%= render Comments::GitHubSpecificMarkdownToolbarComponent.new(
        textarea_id: textarea_id,
        saved_reply_context: saved_reply_context,
        hide_saved_replies: comment.is_a?(GistComment),
        allows_suggested_changes: false,
        slash_commands_enabled: slash_commands_enabled,
        tasklist_blocks_enabled: tasklist_blocks_enabled,
        repository: current_repository,
        copilot_summary_enabled: copilot_summary_enabled,
        copilot_text_completion_enabled: copilot_text_completion_enabled,
      ) %>
  <% end %>
</div>
