<% mode = render_mode.to_sym %>
<% if mode == :timeline %>
  <div
    class="js-socket-channel js-updatable-content"
    data-channel="<%= live_update_view_channel(GitHub::WebSocket::Channels.issue(issue)) %>"
    data-gid="<%= issue.global_relay_id %>"
    data-url="<%= show_partial_issue_path(:id => issue, :partial => "issues/checklist_progress_component", sticky: sticky, render_mode: mode) %>"
  >
<% else %>
  <div>
<% end %>
    <% track_render_partial("issues/checklist_progress_component") do %>
      <%= render Issues::TrackedIssuesProgressComponent.new(mode: mode, completed: issue.task_list_item_count(:complete), total: issue.task_list_item_count) %>
    <% end %>
  </div>
