<% if issue.can_be_converted_by?(current_user) %>
  <%= render(Primer::Experimental::Dialog.new(
    title: "Convert issue to a discussion",
    width: :large,
    dialog_id: "convert-to-discussion",
    src: issue_show_partial_path(issue: issue, partial: "issues/convert_to_discussion_dialog"),
    preload: true
  )) do |c| %>
    <% c.with_show_button(
      scheme: :link,
      font_weight: :bold,
      underline: false,
      classes: "discussion-sidebar-item Link--primary",
      p: 0,
      mt: 3
    ) do |button| %>
      <% button.with_leading_visual_icon(icon: :"comment-discussion") %>
      Convert to discussion
    <% end %>
    <% c.with_include_fragment do %>
      <div class="text-center" data-hide-on-error>
        <p>Loading...</p>
        <%= render(Primer::Beta::Spinner.new(size: :small, mt: 1)) %>
      </div>
      <div class="text-center" data-show-on-error hidden>
        <p>Sorry, something went wrong.</p>
      </div>
    <% end %>
  <% end %>
<% end %>
