<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<% if issue.deleteable_by?(current_user) %>
<div class="discussion-sidebar-item border-top-0 mt-0">
  <details class="details-reset details-overlay details-overlay-dark js-delete-issue">
    <summary class="d-inline-block">
      <span class="text-bold Link--primary lock-toggle-link">
        <%= primer_octicon(:trash, mr: 1) %> <strong>Delete issue</strong>
      </span>
    </summary>
    <details-dialog class="anim-fade-in fast Box Box--overlay color-fg-default f5" aria-labelledby="delete-issue-dialog-title"><%# erblint:disable A11yDetailsDialogMigration %>
      <div class="Box-body p-3 text-center">
        <button class="Box-btn-octicon btn-octicon float-right" type="button" aria-label="Close dialog" data-close-dialog>
          <%= primer_octicon(:x) %>
        </button>

        <%= primer_octicon(:"circle-slash", height: 40, width: 40, color: :danger, ml: 1) %>

        <%= form_for issue, method: :delete do %>
          <h4 class="mt-4">Are you sure you want to delete this issue?</h4>
          <div class="col-9 mx-auto mt-1 mb-4">
            <ul class="text-left">
              <li>This cannot be undone</li>
              <li>Only administrators can delete issues</li>
              <li>Deletion will remove the issue from search and previous references will point to a placeholder</li>
            </ul>
          </div>

          <button type="submit" name="verify_delete" value="1" class="btn btn-danger input-block float-none" data-disable-with="Deleting issue…">
            Delete this issue
          </button>
        <% end %>
      </div>
    </details-dialog>
  </details>
</div>
<% end %>
