<div class="<%= wrapper_class %> mb-3 <%= "flash-error" if discussion.error? %>">
  <h3 class="<%= heading_class %>">
    <% if discussion.error? %>
      There was an error converting this issue to a discussion.
    <% elsif discussion.converting? %>
      This issue is being moved to a discussion.
    <% else %>
      This issue was moved to a discussion.
    <% end %>
  </h3>
  <p class="m-0">
    <% if discussion.error? %>
      <% if discussion.comment_copy_failure? %>
        Not all the comments could be copied from this issue to the new discussion.
      <% elsif discussion.close_failure? %>
        This issue could not be closed so it could not be migrated to a discussion.
      <% else %>
        Something went wrong.
      <% end %>
    <% else %>
      You can continue the conversation there.
    <% end %>
    <a href="<%= discussion_path(discussion) %>" class="Link--inTextBlock">
      Go to discussion &rarr;
    </a>
  </p>
</div>
