<%# erblint:counter DeprecatedComponentsCounter 1 %>
<div class="container-md">
  <%= render Primer::BlankslateComponent.new(
    icon: icon,
    large: true,
    spacious: true,
    "data-hpc": ""
  ) do %>
    <h3><%= title %></h3>
    <p><%= copy %></p>
  <% end %>
</div>
