<% labels.each do |label| %>
  <%= render Issues::LabelComponent.new(
      color: label.color,
      name: label.name,
      description: label.description,
      href: gh_label_path(label, current_repository),
      w: :fit,
      mb: 1, mr: 1) do |component| %>
    <span class="css-truncate css-truncate-target width-fit"><%= label.name_html %></span>
  <% end %>
<% end %>
