<% if current_user_can_push? && current_repository_writable? %>
  <template class="js-label-creation-template">
    <div class="Box-header">
      <h3 class="Box-title">Create new label</h3>
    </div>

    <%= render Issues::LabelCreationModalComponent.new(
      labelable: model,
      repository: current_repository,
    ) %>
  </template>
<% end %>
