<%# erblint:counter DeprecatedComponentsCounter 1 %>
<div class="timeline-comment-wrapper timeline-new-comment composer">
  <%= timeline_comment_avatar_for(user: current_user) %>

  <div class="timeline-comment">
    <div class="discussion-topic-header">
      <input type="text" name="" value="" class="form-control input-lg input-block input-contrast"
        placeholder="Please verify your email address" disabled>
    </div>

    <div class="previewable-comment-form">
      <div class="comment-form-head tabnav">
        <nav class="tabnav-tabs">
          <span class="tabnav-tab write-tab selected">Write</span>
          <span class="tabnav-tab preview-tab ">Preview</span>
        </nav>
      </div>
      <%= render Primer::BlankslateComponent.new(icon: "mail") do %>
        <p>You need to <%= link_to "verify your email address", settings_email_preferences_path, class: "Link--inTextBlock" %> before you can open an issue.</p>
      <% end %>
    </div>
  </div>
</div>
