<%
# This file exists for the sole purpose of rendering comment open/close
# buttons independent of context.
%>
<%
  pull = local_assigns[:pull].present? ? pull : nil
  issue = pull ? pull.issue : issue
  addl_btn_classes = !issue.pull_request? ? [] : ["width-full", "mt-2"]
  url = if issue.pull_request?
          pull_request_state_button_wrapper_partial_path(id: issue.number)
        else
          show_partial_issue_path(id: issue.number, partial: "issues/state_button_wrapper")
        end
  state_websocket =  GitHub::WebSocket::Channels.issue_state(issue)

%>
<div id="issue-state-button-wrapper"
    class="js-socket-channel js-updatable-content"
    data-channel="<%= live_update_view_channel(state_websocket) %>"
    data-url="<%= url %>"
  >
  <%= render "issues/form_buttons", issue: issue, addl_btn_classes: addl_btn_classes, btn_group_classes: "mt-2 width-full" %>
</div>
