<% if logged_in? %>
  <div class="discussion-sidebar-item sidebar-notifications">
    <%= render(
      Notifications::ThreadSubscriptionComponent.new(
        thread: issue,
        list: issue.repository,
        display_explanation_text: true,
        deferred: deferred_content && GitHub.flipper[:notifications_async_issues_subscription_button].enabled?(current_user),
      ),
    ) %>
  </div>
<% end %>
