<% mode = render_mode.to_sym %>
<div>
  <% track_render_partial("issues/checklist_progress_component") do %>
    <%= render Issues::TrackedIssuesProgressComponent.new(
      mode: mode,
      completed: completion[:completed],
      total: completion[:total],
      is_tasklist: true,
      color: "var(--fgColor-done, var(--color-done-fg))"
    ) %>
  <% end %>
</div>
