<%# erblint:counter ButtonComponentMigrationCounter 1 %><%= form_tag transfer_issue_path(current_repository.owner, current_repository, issue), method: :post do %>
  <div class="discussion-sidebar-item border-top-0 mt-0">
    <details class="details-reset details-overlay details-overlay-dark js-transfer-issue">
      <summary class="btn-link no-underline text-bold Link--primary">
        <span class="text-bold Link--primary lock-toggle-link">
          <%= primer_octicon(:"arrow-right", mr: 1) %> <strong>Transfer issue</strong>
        </span>
      </summary>
      <details-dialog class="anim-fade-in fast Box Box--overlay color-fg-default f5 overflow-visible" aria-labelledby="transfer-dialog-title" src="<%= issues_transfer_form_partial_path(id: issue.number, issue: issue.number) %>" preload><%# erblint:disable A11yDetailsDialogMigration %>
        <include-fragment>
          <%= render(Primer::Beta::Spinner.new(my: 3, mx: :auto, display: :block)) %>
        </include-fragment>
      </details-dialog>
    </details>
  </div>
<% end %>
