<span class="text-small color-fg-muted">
  <% if @include_workflows %>
    Wildcards, tags, and SHAs are allowed.<br>
    Action examples: <code class="color-fg-default">octo-org/octo-repo@*</code>, <code class="color-fg-default">octo-org/octo-repo@v2</code><br>
    Reusable workflow examples: <code class="color-fg-default">octo-org/octo-repo/.github/workflows/build.yml@main</code><br>
    Entire organization or repository examples: <code class="color-fg-default">octo-org/*</code>, <code class="color-fg-default">octo-org/octo-repo/*</code>
  <% else %>
    Wildcards, tags, and SHAs are allowed. Examples: <code class="color-fg-default">monalisa/octocat@*</code>, <code class="color-fg-default">monalisa/octocat@v2</code>, <code class="color-fg-default">monalisa/*</code>
  <% end %>
</span>
