<div class="boxed-group">
  <h3>Concurrency</h3>
  <div class="boxed-group-inner">
    <div class="summary">
      <dl>
        <dt class="mr-5"><b>GitHub plan</b></dt>
        <dd><%= plan_name %></dd>
      </dl>
      <dl>
        <dt class="mr-5"><b>Total concurrent jobs</b></dt>
        <dd><%= max_concurrent_jobs %><sup>*</sup></dd>
      </dl>
      <dl>
        <dt class="mr-5"><b>Maximum concurrent macOS jobs</b></dt>
        <dd><%= max_concurrent_macos_jobs %><sup>*</sup></dd>
      </dl>
      <p><sup>*</sup>We calculate these numbers from the plan based on <a class="Link--inTextBlock" href="https://docs.github.com/actions/reference/usage-limits-billing-and-administration#usage-limits">documentation</a> and they may be outdated or overridden for this repository.</p>
    </div>
  </div>
</div>

<div class="boxed-group">
  <h3>Metered billing</h3>
  <div class="boxed-group-inner">
    <p>View <a class="Link--inTextBlock" href="<%= metered_billing_url %>">metered billing</a>.</p>
  </div>
</div>
