<%= render Hovercards::ContextComponent.new(color: :danger) do |component| %>
  <% component.with_icon do %>
    <%= render Primer::Beta::Octicon.new(icon: context.octicon, color: :danger, aria: { label: "blocked" }) %>
  <% end %>
  <% component.with_body do %>
    <span <%= test_selector("blocked-text") %>><%= context.message %></span>
  <% end %>
<% end %>
