<div class="d-flex d-inline-block float-right">
  <%= form_tag gist_diffview_path do %>
     <%= render(Primer::Alpha::SegmentedControl.new(size: :small, aria: { label: "Diff view"})) do |component| %>
      <% component.with_item("data-disable-with": "", type: :submit, name: "diff", value: "split", selected: split_diff?, label: "Split") %>
      <% component.with_item("data-disable-with": "", type: :submit, name: "diff", value: "unified", selected: !split_diff?, label: "Unified") %>
    <% end %>
  <% end %>
</div>
