<input type="text" class="form-control input-block input-contrast"
  name="gist[description]" value="<%= view.description %>"
  aria-label="Gist description"
  placeholder="Gist description&hellip;"
  autocomplete="off">

<div class="gist-dropzone js-gist-dropzone d-none">
  <div class="gist-dropzone-pill">
    <%= primer_octicon(:"file-code", :height => 32) %><%= primer_octicon(:"arrow-right", :height => 32) %><%= primer_octicon(:plus, :height => 32) %>
    <p>Drop one or more files here to prefill your gist!</p>
  </div>
</div>
