<div id="partial-new-comment-form-actions" class="d-flex flex-items-center flex-justify-end gap-2 my-2">
  <%= render Primer::Beta::Button.new(type: :submit, scheme: :primary, "data-disable-with": "", "data-disable-invalid": "") do %>
    Comment
  <% end %>
</div>
