<cvss-calculator
  data-target="<%= calculator_target %>"
  data-action="vectorStringSelectionChange:severity-selection-next#handleCalculatorSelectionChanged"
>
  <%= render Primer::Beta::Link.new(href: score_documentation_url, target: "_blank", rel: "noopener noreferrer", display: :inline_block, font_size: 6, mt: 2, mx: [nil, nil, 2], test_selector: "cvss-score-documentation-link") do %>
    Learn more about CVSS scoring
  <% end %>
  <div class="d-flex flex-wrap mt-2 mx-md-2 mb-n2">
    <div class="col-12 col-lg-6">
        <% METRICS.each do |metric| %>
          <% metric.each_key do |metric_category| %>
            <% metric[metric_category].each do |metric_sub_category| %>
              <%= render Advisories::MetricSelectionFieldNextComponent.new(metric_sub_category: metric_sub_category, metric_selection_classes: "mr-lg-4") %>
            <% end %>
          <% end %>
        <% end %>
    </div>
  </div>
</cvss-calculator>
