<div class="form-group col-12 col-sm-3">
  <div class="form-group-header"><%= form.label :severity, "Severity" + (asterisk_shown ? " *" : "") %></div>
  <div class="form-group-body">
    <%= form.select(:severity,
      choices,
      {
        prompt: "Select severity",
        selected: selected
      }, {
        class: "width-full",
        "data-action": "change:severity-selection#handleSeveritySelectChange change:severity-tracking#addSeveritySelectInteraction",
        "data-target": "severity-selection.severitySelectElement",
        required: required
      })
    %>
  </div>
</div>
