<% results.each do |organization| %>
  <li class="autocomplete-item" data-autocomplete-value="<%= organization.display_login %>" role="option">
    <%= avatar_for organization, 20, :class => "avatar" %>
    <%= organization.display_login %>
    <small class="text-normal"><%= organization.profile_name %></small>
  </li>
<% end %>
