<%# rubocop:disable GitHub/DeprecatedViewHelpers %>

<div class="wants-full-width-container"></div>

<%= link_to 'Permalink', h(blob_blame_path(path_string, current_commit.oid)), :class => 'd-none js-permalink-shortcut', 'data-hotkey' => 'y' %>

<div class="breadcrumb css-truncate blame-breadcrumb">
  <span id="blob-path" class="css-truncate-target"><%= breadcrumb_trail params[:path] %></span>
  <%= render Primer::Beta::ClipboardCopy.new(value: path_string_for_display, "aria-label": "Copy file path to clipboard", classes: "btn btn-sm") %>
</div>

<div class="line-age-legend float-right mt-n4 f6">
  <span>Newer</span>
  <ol class="d-inline-block mx-1 list-style-none">
    <% view.range.each do |heat| %>
      <li class="heat d-inline-block" data-heat="<%= heat %>"></li>
    <% end %>
  </ol>
  <span>Older</span>
</div>
