<%# `view` is an instance of Blob::ShowView %>
<div class="<%= class_names(
  "Box d-flex flex-column flex-shrink-0 mb-3"
  ) %>">
  <%= include_cached_fragment cache_key: blob_contributors_view_key,
                                    src: blob_contributors_path(view.repo.owner, view.repo, tree_name, path_string),
                                  class: "commit-loader" do %>
    <div class="Box-header d-flex flex-items-center">
      <div class="Skeleton avatar avatar-user flex-shrink-0 ml-n1 mr-n1 mt-n1 mb-n1" style="width:24px;height:24px;"></div>
      <div class="Skeleton Skeleton--text col-5 ml-2">&nbsp;</div>
    </div>

    <div class="Box-body d-flex flex-items-center" <%= test_selector("commit-tease-contributors") %>>
      <div class="Skeleton Skeleton--text col-1">&nbsp;</div>
      <span class="color-fg-danger h6 loader-error">Cannot retrieve contributors at this time</span>
    </div>
  <% end %>
</div>
