<ul class="list-style-none overflow-auto">
  <% view.contributor_users.each do |user| %>
    <li class="Box-row">
      <%= profile_link user, class: "Link--primary no-underline", skip_hovercard: true do %>
        <%= avatar_for user, 20, class: "avatar mr-1", alt: "" %>
        <%= user.display_login %>
      <% end %>
    </li>
  <% end %>
</ul>
