<p>
    <a href="https://containers.dev" class= "Link--inTextBlock">Development Containers</a> are configuration files used by Codespaces
    and tools implementing the dev container specification.
</p>

<p>
    These files allow you to create a consistent, sharable development environment.
</p>

<h2>Features</h2>

<p>
    Dev Container Features are self-contained units of installation code and development container configuration. Features are designed
    to install atop a wide-range of base container images.  Be sure to check a Feature's documentation to see which
    base images are supported.
</p>

<h3>Usage</h3>

<p>
    To reference a Feature, add the desired Feature(s) to a <code>devcontainer.json</code>.
    See a Feature's README for available options, or leave the options empty to use the default value.

</p>

<h4>Example devcontainer.json</h4>

<pre>
{
    "name": "my-project-devcontainer",
    "image": "mcr.microsoft.com/devcontainers/base:ubuntu",  // Any generic, debian-based image.
    "features": {
        "ghcr.io/devcontainers/features/go:1": {
            "version": "1.18"
        },
        "ghcr.io/devcontainers/features/docker-in-docker:1": {
            "version": "latest",
            "moby": true
        }
    }
}
</pre>
