<%# erblint:counter DeprecatedComponentsCounter 1 %>
<p id="readme" class="readme preview-msg color-fg-muted">
  This file is
  <%= render(Primer::Tooltip.new(direction: :e, label: empty_blob_tip, multiline: true)) { "empty" } %>.
</p>
