<%# erblint:counter DeprecatedComponentsCounter 1 %>
<details class="details-reset details-overlay position-relative d-inline-block">
  <%= render Primer::ButtonComponent.new(tag: :summary, variant: :small, classes: "select-menu-button") do %>
    <i>Choose .gitignore:</i>
    <span data-menu-button>None</span>
  <% end %>
  <details-menu class="select-menu-modal position-absolute right-0" style="z-index: 99;"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
    <div class="select-menu-header">
      <span class="select-menu-title">.gitignore</span>
    </div>

    <div class="select-menu-filters">
      <div class="select-menu-text-filter">
        <input type="text" id="context-ignore-filter-field" class="form-control js-filterable-field js-navigation-enable" placeholder="Filter ignores&hellip;" aria-label="Choose .gitignore type" autocomplete="off" autofocus>
      </div>
    </div>

    <div class="select-menu-list">
      <div data-filterable-for="context-ignore-filter-field">
        <% Gitignore.templates.each do |template| %>
          <label tabindex="0" class="select-menu-item" role="menuitemradio">
            <%= radio_button_tag "gitignore",
              template, false, "data-template-url" => gitignore_template_url(template) %>
            <%= primer_octicon(:check, classes: 'select-menu-item-icon') %>
            <span class="text-normal select-menu-item-text" data-menu-button-text><%= template %></span>
          </label>
        <% end %>
      </div>

      <div class="select-menu-no-results">Nothing to show</div>
    </div>
  </details-menu>
</details>
