<div class="prose-diff js-preview-msg">
  <p class="js-warn-no-visible-changes preview-msg color-fg-muted">
    <%= preview_message %>
    <% unless preview_rendered_html.blank? %>
      But you can <span class="js-show-rich-diff show-rich-diff">preview the whole file</span>.
    <% end %>
  </p><% unless preview_rendered_html.blank? %>
  <div class="js-no-rich-changes d-none">
    <div class="readme prose-diff html-blob blob">
      <div class="markdown-body container-lg">
        <%= preview_rendered_html %>
      </div>
    </div>
  </div><% end %>
</div>
