<div class="p-6" style="background-color: rgba(0, 0, 0, 0.45)">
  <div style="max-width: 448px;" class="mx-auto Box Box--overlay width-full">
    <div class="Box-header">
      <h3 class="Box-title">
        Sponsor <%= repository.name_with_display_owner %>
      </h3>
    </div>

    <%= render Repositories::FundingLinksComponent.new(
      repository: repository,
      funding_links: funding_links,
      current_user_can_push: current_user_can_push?,
      preview: true,
    ) %>
  </div>
</div>
