<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%= render(Primer::Alpha::Layout.new(my: 3, pt: 3, pb: 4, border: :bottom)) do |component| %>
  <% component.with_sidebar(col_placement: :end, width: :narrow) do %>
    <%= render(Primer::ButtonComponent.new(scheme: :primary, type: :submit, form: "tier-suggestion-form", mt: 1)) do %>
        Continue to tier editor
    <% end %>
    <p class="mt-2">
    <a
      href="<%= sponsorable_dashboard_tiers_path(sponsorable, {"skip-suggestions" => true}) %>"
      <%= test_selector("skip-suggestions") %>
    >Skip this step</a>
    </p>
  <% end %>
  <% component.with_main do %>
    <div class="pr-4">
      <h2>Get started with rewards</h2>
      <p class="mt-2">
        Build tiers from a list of the most popular rewards from our community. You can always customize and edit them at any time.
      </p>
    </div>
  <% end %>
<% end %>
