<% page_info title: "#{current_repository.nwo} - Dependabot" %>

<div class="boxed-group dangerzone">
  <h3>Dependabot Error</h3>
  <div class="boxed-group-inner clearfix">
    <p>Dependabot returned the following error:</p>

    <p><code><%= error.message %></code></p>

    <p>
      For more informtion, check <%= link_to "Sentry", "https://sentry.io/organizations/github/issues/?project=1861010&query=is%3Aunresolved&statsPeriod=14d", target: :_blank, class: "Link--inTextBlock" %>
      or contact <%= link_to "#dependabot-ops", "https://github.slack.com/archives/CKE86M8V9", target: :_blank, class: "Link--inTextBlock" %>
    </p>
  </div>
</div>
