<% page_info title: "#{current_repository.nwo} - Dependabot" %>

<div class="boxed-group dangerzone">
  <h3>Dependabot Unavailable</h3>
  <div class="boxed-group-inner clearfix">
    <p>The Dependabot service is currently unavailable.</p>

    <p>If this is unexpected or persistant, please contact <%= link_to "#dependabot-ops", "https://github.slack.com/archives/CKE86M8V9", class: "Link--inTextBlock" %> or check in with the support engineer in Slack.</p>

    <code>
      .who is on call dependabot-oncall-primary
    </code>
  </div>
</div>
