<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%
  package_roles = {
    "contents" => "Read" ,
    "maintainer" => "Admin",
    "administration" => "Write",
  }
%>

<%= render Primer::ButtonComponent.new(tag: :summary, variant: :small, classes: "disabled") do %>
    <span class="text-normal color-fg-muted">Role: </span>
    <span data-menu-button><%= package_roles[access_type] %></span>
<% end %>
