<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%
  package_roles = {
    "package_reader" => { name: "Read", description: "Can download this package and read package metadata." },
    "package_writer" => { name: "Write", description: "Can upload and download this package. Can read and write package metadata." },
    "package_admin" => { name: "Admin", description: "Can upload, download, and manage this package. Can read and write package metadata. Can grant package permissions." },
  }
%>

  <%= render Primer::ButtonComponent.new(tag: :summary, variant: :small, classes: "disabled") do %>
    <span class="text-normal color-fg-muted">Role: </span>
    <span data-menu-button><%= package_roles[role.name][:name] %></span>
<% end %>
