<%
  package_roles = {
    "package_reader" => { name: "Read" },
    "package_writer" => { name: "Write" },
    "package_admin" => { name: "Admin" },
  }
%>

  <div class="mb-3">
    <h3 class="mb-2">Package Members</h3>
  </div>

<div>
  <details class="Box Box--condensed mb-3" open>
    <summary class="Box-header">
    <%= package.name %>
    </summary>
    <div id="package-access-table">
      <div class="Box rounded-0 rounded-bottom-2 border-top-0">
        <div class="border-top">
          <% members_map.each do |member, role| %>
            <div class="Box-row clearfix d-flex flex-items-center adminable">
              <% if member.is_a?(User) %>
                <%= render partial: "stafftools/organization_packages/user_row", locals: { user: member, role: role } %>
              <% elsif member.is_a?(Team) %>
                <%= render partial: "stafftools/organization_packages/team_row", locals: { team: member, role: role  } %>
              <% end %>
              <div class="permission-level-cell flex-self-end flex-self-center">
                <%= render partial: "stafftools/organization_packages/permission_view", locals: { member: member, role: role, disabled: package.active_sync_perms } %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </details>

</div>


