  <div class="mb-3">
    <h3 class="mb-2">Actions Access</h3>
  </div>

<div>
  <details class="Box Box--condensed mb-3" open>
    <summary class="Box-header">
    <%= package.name %>
    </summary>
    <div id="package-access-table">
      <div class="Box rounded-0 rounded-bottom-2 border-top-0">
        <div class="border-top">
          <% repos_with_actions_access.each do |repository_access| %>
            <div class="Box-row clearfix d-flex flex-items-center adminable">
              <%= render partial: "stafftools/organization_packages/repo_row", locals: { repository_access: repository_access } %>
              <div class="permission-level-cell flex-self-end flex-self-center">
                <%= render partial: "stafftools/organization_packages/actions_repo_permission_view", locals: { access_type: repository_access.access_type, disabled: false } %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </details>

</div>


