<div class="experimental-video position-fixed bottom-0 right-0 mr-3 mb-3 hidden" style="height: 268px; z-index: 1000;">
  <%= image_tag(
    "modules/site/experiments/video/thumbnail.png",
    alt: "",
    aria: { hidden: true },
    width: "470",
    height: "268",
    class: "d-block width-full height-full object-fit-cover rounded-2"
  ) %>
  <span class="position-absolute width-full height-full top-0 left-0 d-flex flex-column text-left p-3 p-lg-4">
    <span class="d-block d-flex flex-row flex-nowrap flex-justify-between flex-items-start">
      <span class="h6-mktg color-fg-default" style="color: white !important;">What is GitHub?</span>
    </span>
  </span>
  <div class="position-absolute top-0 right-0 mt-2 mr-2">
    <span
      class="d-inline-block rounded p-2 mx-auto"
    >
      <button class="Box-btn-octicon btn-octicon float-right js-close-video" type="button" aria-label="Close dialog" style="color: white;" data-close-dialog>
        <%= render Primer::Beta::Octicon.new(icon: "x", aria: { label: "Close Dialog", hidden: false }) %>
      </button>
    </span>
  </div>
  <div class="position-absolute bottom-0 left-0 mb-1 ml-1">
    <button class="js-video-play-dialog d-block d-sm-inline-block mb-3 mr-sm-3" type="button" aria-label="Play button">
      <%= image_tag(
          "modules/site/experiments/video/play.png",
          alt: "",
          role: "none",
          width: "178",
          height: "32",
          class: "d-block width-full height-full object-fit-cover"
        ) %>
    </button>

    <%= render Primer::Alpha::Dialog.new(
      title: "Why GitHub?",
      size: :xlarge,
      visually_hide_title: true,
      id: "issues-video-dialog",
      classes: "js-video-dialog",
    ) do |d| %>
      <% d.with_body do %>
        <div class="position-relative z-1 mt-2">
          <svg aria-hidden="true" viewBox="0 0 1920 1080" version="1.1" width="1920" height="1080" class="width-full height-auto d-block"></svg>
          <iframe class="js-video position-absolute width-full height-full top-0 left-0 border-0"
            data-src="https://www.youtube-nocookie.com/embed/pBy1zgt0XPc?si=wm_RA73kbmqtKmaO&amp;autoplay=1"
            title="What is GitHub video" type="text/html" width="1920" height="1080" frameborder="0" allowfullscreen allow="autoplay;">
          </iframe>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
