<%# rubocop:disable Lint/InstanceVariable %>

<% if @starred_topics.any? %>
  <ul class="repo-list list-style-none js-navigation-container js-active-navigation-container">
    <%= render(
      partial: "stars/list",
      locals: {
        stars: @starred_topics,
        starred_by_viewer: starred_by_viewer,
        sort: params[:sort],
      }
    )%>
  </ul>

  <% if @page == "overview" %>
    <div class="mt-2">
      <div class="pagination">
        <a href="<%= users_stars_topics_path(user: @star_user, filter: 'topics', page: nil)%>">See all starred topics</a>
      </div>
    </div>
  <% else %>
    <div class="paginate-container" data-pjax>
      <%= simple_paginate @starred_topics, params: params.slice(:q, :language, :sort, :direction, :user, :filter) %>
    </div>
  <% end %>
<% else %>
  <% unless params[:language] %>
    <%= render partial: "stars/blank_stars", locals: { stars: "topics" } %>
  <% end %>
<% end %>
