<%# rubocop:disable Lint/InstanceVariable %>

<% if @star_user == current_user %>
  <% page_info \
      title: "Your stars"
  %>
<% else %>
  <%
    profile_name = @star_user.profile_name
    page_info \
      title: "#{@star_user} #{"(#{profile_name})" if profile_name.present?} / starred"
  %>
<% end %>

<% page_info breadcrumb: "Stars", breadcrumb_owner: @star_user %>

<div class="color-bg-subtle border-bottom">
  <div class="container-lg p-responsive text-center py-6">
    <h1 class="f0-light">
      <% if @star_user == current_user %>Your <% end %>Stars
    </h1>
    <p class="f4 color-fg-muted col-md-6 mx-auto">
      Browse <% if @star_user == current_user %>your <% end %>starred repositories and topics
    </p>
  </div>
</div>

<%= render partial: "stars/star_content", locals: { starred_by_viewer: starred_by_viewer } %>
