<div class="d-flex flex-column flex-lg-row">
  <div class="col-12 col-lg-6">
    <div class="copilot-waitlist-header-section copilot-waitlist-header-enterprise">
      <div class="copilot-waitlist-section-inner">
        <div class="copilot-waitlist-beta-bubble">
          Limited Beta
        </div>
        <p class="lh-condensed copilot-waitlist-header">Sign up for the Copilot Extensions waitlist</p>

        <p class="text-light mt-4 mb-4">
          You are joining the Copilot Extensions waitlist. Copilot Extensions allow you to add capabilities to GitHub
          Copilot with an ecosystem of extensions from third-party tools and services.
          <%= link_to "Learn more about extensions", Copilot::EXTENSIONS_DOCS, class: "Link--inTextBlock" %>.
        </p>
      </div>
    </div>
  </div>
  <div class="copilot-waitlist-form-section col-12 col-lg-6 pr-8 pb-8 pl-8 pt-10">
    <p class="mb-2 h2">
      Thank you!
    </p>
    <p class="mb-2 h3">
      <% if copilot_user.has_cfi_access? %>
        You are now on the waitlist for Copilot Extensions
      <% else %>
        <%= nominee.display_login %> is now on the waitlist for Copilot Extensions
      <% end %>
    </p>

    <p class="mb-4">
      Admission to the public beta for GitHub Copilot Extensions will be limited. You will receive an email if you are
      granted access.
    </p>
  </div>
</div>
