<% if @exception_message.present? %>
  <div class="mt-2 mb-2">
    <%= primer_octicon(:alert, color: :danger, classes: "alert", "aria-label": "Parse Error") %>
    Parsing the certificate to determine issuer failed.
  </div>
  <code><%= @exception_message %></code>
<% else %>
  <pre data-label="issuer" class="<%= @classes %>"><%= @certificate.issuer %></pre>
<% end %>
