<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%
  renamable_type = renamable.organization? ? "organization" : "account"
  button_url = if renamable.organization?
    settings_org_profile_path(renamable)
  else
    settings_path
  end
%>

<%= render Primer::BlankslateComponent.new(
  title: "Your #{renamable_type} has been renamed",
  button_text: "View #{renamable.display_login} settings",
  button_url: button_url,
  large: true,
  spacious: true,
) do %>
  <p>
    Remember to
    <a class="Link--inTextBlock" href="<%= docs_url "get-started/managing-remote-repositories" %>">update your local repositories</a>
    to point to the new location.
  </p>
<% end %>
