<%= link_to("https://docs.github.com/actions/deployment/about-deployments/about-continuous-deployment",
        data: analytics_click_attributes(category: "Features", action: "Click to learn about deploy software with confidence", label: "ref_cta: Deploy"), aria: { label: "Learn about deploying software with confidence" }) do %>
  <div class="position-absolute rounded-3 box-shadow-active-mktg overflow-hidden js-build-in-item build-in-fade" style="bottom: 17.5%; right: -3.75%; left: -3.75%;" >
    <img src="<%= image_path "modules/site/ci-cd/workflow-1.png" %>" alt="" class="d-block width-full" loading="lazy" decoding="async">
  </div>

  <div class="position-absolute rounded-2 box-shadow-active-mktg js-build-in-item build-in-slideY" style="top: 10%; right: 3%;">
    <img src="<%= image_path "modules/site/ci-cd/workflow-2.png" %>" alt="" class="d-block" width="246" loading="lazy" decoding="async">
  </div>

  <div class="rounded-3 box-shadow-card-border-mktg">
    <img src="<%= image_path "modules/site/ci-cd/workflow-bg.png" %>" alt="" class="rounded-3 d-block width-full" loading="lazy" decoding="async">
  </div>
<% end %>
