<%= link_to("https://docs.github.com/actions/learn-github-actions/understanding-github-actions",
        data: analytics_click_attributes(category: "Features", action: "Click to learn about build fast, stay secure", label: "ref_cta: Fast secure"), aria: { label: "Learn how GitHub actions helps you build fast and stay secure" }) do %>
  <div class="js-build-in-item build-in-slideY rounded-2 box-shadow-card-border-mktg" data-build-delay="200">
    <img src="<%= image_path "modules/site/ci-cd/code-review-1.png" %>" alt="" class="d-block width-full rounded-2" loading="lazy" decoding="async">
  </div>

  <div class="position-absolute rounded-2 box-shadow-active-border-mktg overflow-hidden js-build-in-item build-in-scale-fade" style="top: 33%; right: -3.75%; left: -3.75%;" data-build-delay="600">
    <img src="<%= image_path "modules/site/ci-cd/code-review-2.png" %>" alt="" class="d-block width-full" loading="lazy" decoding="async">
  </div>
<% end %>
