<%= render Primer::Beta::Subhead.new do |component| %>
  <% component.with_heading(tag: :h2) do %>Reported content<% end %>
<% end %>

<p>
  Users can report abusive or distruptive content for review and moderation. <a class="Link--inTextBlock" href="<%= GitHub.help_url %>/en/github/building-a-strong-community/managing-reported-content-in-your-organizations-repository">Learn more about reported content</a>.
</p>

<%= primer_form_with(url: toggle_tiered_reporting_path(current_repository.owner, current_repository), method: :put, mt: 2) do |f| %>
  <%= render(EditRepositories::TieredReportingForm.new(
    f,
    report_content_prior_contributors_enabled: report_content_prior_contributors_enabled,
    report_content_all_users_enabled: report_content_all_users_enabled
  )) %>
<% end %>
