<%
  topics = local_assigns.fetch(:pinned_topics, [])
  for_you_context = local_assigns.fetch(:for_you_context, true)
%>

<%= render(Primer::Alpha::Overlay.new(
  title: "Add tag",
  role: :menu,
  id: "feed-post-tag-menu",
  size: :small,
  test_selector: "feed-post-tags-menu"
)) do |o| %>
  <% o.with_show_button(
    scheme: :link,
    font_weight: :normal,
    classes: "js-feed-post-tags-menu-show-button",
    hidden: !for_you_context,
    test_selector: "feed-post-tag-menu-button",
    data: feed_clicks_hydro_attrs(click_target: "feed-post-tag-menu-button")
  ) do %>
    Set topic
  <% end %>
  <% o.with_header(divider: true, visually_hide_title: true) do %>
    <h1 id="overlay-title-feed-post-tag-menu" class="Overlay-title">Select a topic</h1>
    <h2 class="Overlay-description">Make your post more discoverable</h2>
    <% unless topics.empty? %>
      <div>
        <%# TODO: implement topic search bar here, perhaps after Primer::Alpha::SelectPanel is released %>
      </div>
    <% end %>
  <% end %>
  <% if topics.empty? %>
    <% o.with_body(display: :none) %>
  <% else %>
    <% o.with_body do %>
      <%= render(Primer::Alpha::ActionList.new(
        item_classes: "js-tag-menu-topic",
        aria: { label: "Tag list" }
      )) do |a| %>
        <% topics.each do |topic| %>
          <%= a.with_item(
            label: topic.safe_display_name,
            test_selector: "feed-post-tag-menu-item",
            data: {
              id: topic.id,
              name: topic.safe_display_name,
            }.merge(label_hydro_data(topic_id: topic.id)),
          ) do |item| %>
            <%# TODO: use topic logo if available %>
            <% item.with_leading_visual_icon(icon: :hash) %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
  <% o.with_footer(
    show_divider: !topics.empty?,
    pt: 3,
  ) do %>
    <div class="float-left width-full text-small color-fg-muted">
      <div>
        Tip: Follow more topics to tag your posts with.
      </div>
      <div>
        <%= render(Primer::Beta::Link.new(
          href: dashboard_path(view: "topics"),
          data: {
            action: 'click:feed-container#openTopicView',
          },
          classes: "Link--inTextBlock"
        )) { "Explore topics" } %>
      </div>
    </div>
  <% end %>
<% end %>
