<%# `view` is an instance of Orgs::OverviewView %>
<%
  page_info stafftools: stafftools_user_path(view.organization)
%>

<header class="pagehead orghead border-bottom-0 pt-0 mb-0">
  <div class="container-lg p-responsive d-none d-lg-block clearfix">
    <%= render "orgs/header_org_name", view: create_view_model(Orgs::HeaderView, organization: view.organization) %>
  </div>

  <%= render Organizations::HeaderNavComponent.new(
    organization: view.organization,
    selected_nav_item: :repos,
  ) %>

  <%= render(Site::EnterpriseBannersComponent.new) %>
</header>
