<p <%= test_selector("org-roles-info") %>>
  Organization roles are used to grant access to subsets of organization settings to teams and members.
  <% if role_limit > 0 %>
    You can create up to <%= pluralize(role_limit, "custom role") %> to fit your needs.
    <a class="Link--inTextBlock" href="<%= org_roles_docs_url %>" target="_blank" rel="noopener">
      Learn more about custom organization roles
    </a>.
  <% end %>
</p>
