<% page_info title: "Security Incident Response", selected_link: :security_incident_response %>
<%= render layout: "stafftools/stafftools" do %>
  <div class="Box">
    <%= form_tag stafftools_security_incident_response_process_data_path, multipart: true, method: :post do %>
      <div class="Box-header">
        <h3 class="Box-title">Process Security Incident Response Data (BETA)</h3>
      </div>
      <div class="Box-body">
        This process will expand a CSV that contains org_ids. It will create a new CSV with rows for each organization's corresponding admin user_ids. Any additional row data provided for each org will be copied to each new corresponding user_id row.
      </div>
      <div class="Box-body">
        <label>
          Upload Organizations CSV
          <div>
            <input name="orgs_csv" class="button-file-chooser orgs-csv-file-chooser position-relative" type="file" accept=".csv">
          </div>
        </label>
      </div>

      <div class="Box-footer form-actions">
        <%= render Primer::Beta::Button.new(type: :submit, block: true, scheme: :default) do %>
          <span class="d-md-inline-block d-none">Process CSV</span>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
