<div class="col-md-10 mx-auto text-center" <%= test_selector("contentful-hero-simple-component") %>>
  <h1 class="h1-mktg mb-3">
    <%= @heading %>
  </h1>

  <div class="mb-6 mb-md-8 mx-auto f3-mktg text-gray-mktg">
    <%= helpers.contentful_rich_text(@subheading) %>
  </div>
</div>
