<div class="color-bg-subtle py-5 py-md-6 mt-6 mt-md-12" <%= test_selector("contentful-section-resource-cards-component") %>>
  <div class="container-xl mx-auto p-responsive text-left mt-5">
    <div class="d-md-flex flex-wrap flex-justify-center gutter my-5 my-md-6">
      <% @items.each do |item| %>
        <%= render Site::Contentful::ResourceCardComponent.new(title: item.title, text: item.text, link: item.link) %>
      <% end %>
    </div>
  </div>
</div>
