<div class="container-lg p-responsive" <%= test_selector("contentful-section-grid-component") %>>
  <div class="d-flex flex-wrap flex-justify-center gutter-md-spacious mx-auto mt-md-6">
    <% @items.each do |item| %>
      <%= render Site::Contentful::PersonComponent.new(person: item) %>
    <% end %>
  </div>
</div>
