<p class="text-mono text-uppercase text-center f5-mktg mb-5 py-3 readme-text-gray-dark" style="letter-spacing:0.05em;">
  <%= story[:name] %> // <a href="<%= user_path(story[:github_handle]) %>" class="link-blue-readme">@<%= story[:github_handle] %></a>
</p>

<div class="f2-mktg text-normal font-alt-mktg border-bottom readme-bio__intro" style="border-color:rgba(255,255,255,0.2) !important;">
  <%= contentful_readme_rich_text(story[:bio]) %>
</div>

<div class="mx-auto col-6 col-md-4 col-lg-3 my-9 border-top" style="border-color:#4969ED !important;"></div>
