<div class="d-flex flex-items-center mt-3">
  <span class="f5-mktg text-mono text-uppercase mr-1 mr-lg-3 <% if local_assigns[:invert] %>readme-text-gray-med<% end %>" style="letter-spacing:0.05em">Subscribe:</span>

  <ul class="list-style-none d-flex flex-justify-center">
    <li>
      <a href="https://open.spotify.com/show/660KitvdJDX2vUmioAbwSQ" target="_blank" rel="noopener" aria-label="Subscribe on Spotify" class="d-flex flex-justify-center flex-items-center readme-icon-link <% if local_assigns[:invert] %>readme-icon-link--inverted<% else %>readme-icon-link <% end %>" style="width:40px;height:40px">
        <%= svg("site/readme/logo-spotify", height: 20, class: "d-block", aria_hidden: true) %>
      </a>
    </li>
    <li>
      <a href="https://podcasts.apple.com/us/podcast/the-readme-podcast/id1567016194" target="_blank" rel="noopener" aria-label="Subscribe on Apple Podcasts" class="d-flex flex-justify-center flex-items-center <% if local_assigns[:invert] %>readme-icon-link--inverted<% else %>readme-icon-link <% end %>" style="width:40px;height:40px">
        <%= svg("site/readme/logo-apple", height: 20, class: "d-block mb-1", aria_hidden: true) %>
      </a>
    </li>
    <li>
      <a href="https://feeds.simplecast.com/ioCY0vfY" target="_blank" rel="noopener" aria-label="Grab the ReadME Podcast RSS link" class="d-flex flex-justify-center flex-items-center <% if local_assigns[:invert] %>readme-icon-link--inverted<% else %>readme-icon-link <% end %>" style="width:40px;height:40px">
        <%= svg("site/readme/icon-rss", height: 18, class: "d-block mb-1", aria_hidden: true) %>
      </a>
    </li>
  </ul>
</div>
