<% screenings_records_count = screenings_records.total_entries %>
<div class="Box Box--condensed">
  <div class="Box-body p-0">
    <table class="stafftools-table" <%= test_selector("screening-records-table") %>>
      <thead>
        <tr>
          <th class="v-align-middle px-2 no-wrap">
              User/Organization
          </th>
          <th class="v-align-middle px-2 no-wrap">
              Owner type
          </th>
          <th class="v-align-middle text-center px-2 no-wrap">
            Trade Screening Status
          </th>
          <th class="v-align-middle text-center px-2 no-wrap">
            Last Trade Screening date
          </th>
        </tr>
      </thead>
      <tbody>
        <% if screenings_records_count > 0 %>
          <% screenings_records.each do |record| %>
            <%= render "stafftools/trade_compliance/trade_screening/listing", screening_record: record %>
          <% end %>
        <% else %>
          <tr>
            <td colspan="2" class="text-center">
              <%= "No Screening Records Found." %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<% if screenings_records.total_pages > 1 %>
  <div class="paginate-container">
    <div class="pagination">
      <%= will_paginate screenings_records, "data-pjax" => true %>
    </div>
  </div>
<% end %>
