<% page_info title: "Trade Screening Records - Stafftools", selected_link: :trade_controls_trade_screening_records, container_xl: true  %>

<%= render layout: "stafftools/stafftools" do %>
  <%= render "stafftools/trade_compliance/trade_screening/filters",
        trade_screening_status: trade_screening_status %>

  <div id="screening-records-list">
    <%= render "stafftools/trade_compliance/trade_screening/listings", screenings_records: trade_screening_records%>
  </div>
<% end %>
