<p class="note my-2">
  ORCID provides a persistent identifier - an ORCID iD - that distinguishes you from other
  researchers. Learn more at
  <%= render(Primer::Beta::Link.new(
    href: "https://orcid.org",
    underline: true,
  ).with_content("ORCID.org")) %>.
</p>

<%= render(Primer::Beta::Button.new(
  tag: :a,
  href: new_settings_orcid_connection_path,
  mt: 1,
  test_selector: "orcid-connect-button",
)) do |button| %>
  <% button.with_leading_visual_svg do %>
    <%= svg("site/icons/orcid-id-color", aria_hidden: true, width: 16, height: 16) %>
  <% end %>
  Connect your ORCID iD
<% end %>
