<% if current_user.is_enterprise_managed? || email.primary_role? %>
  <span class="color-fg-muted mx-2">&ndash;</span>
  <span class="color-fg-success text-bold">Primary</span>
<% elsif email.backup_role? %>
  <span class="color-fg-muted mx-2">&ndash;</span>
  <span class="color-fg-success text-bold">Backup</span>
<% end -%>
