<div class="m-1">
  <div class="mb-1 color-fg-danger">
    <%= error_message %>
    <% if !GitHub.enterprise? && error_message.include?(User::NOT_UNIQUE_LOGIN_MESSAGE) %>
      Please choose another. To submit a trademark claim, please see our <a class="Link--inTextBlock" href="<%= GitHub.help_url %>/articles/github-trademark-policy/" target="_blank" rel="noopener noreferrer">Trademark Policy</a>.
    <% end %>
  </div>
  <% if suggested_usernames.present? %>
    <%= render "account/suggested_usernames", suggested_usernames: suggested_usernames, source: source %>
  <% end %>
</div>
