<div <%= test_selector "allow-reactions-checkbox" %> class="form-checkbox">
  <label>
    <input type="checkbox" name="allow_reactions" aria-describedby="help-text-for-allow-reactions">
    Allow reactions
  </label>
  <p class="note mb-1" id="help-text-for-allow-reactions">
    Selecting this will lock the discussion from comments, but still allow users to provide emoji reactions.
  </p>
</div>
