<%= render GitHub::BatchDeferredContentComponent.new(url: deferred_content_path, inputs: deferred_content_inputs) do %>
  <div data-replace-remote-form-target  <%= test_selector("badge-placeholder") %>></div>
<% end %>

