<div
  class="TimelineItem pt-0 js-comment-container discussion-timeline-item ml-0"
  data-gid="<%= timeline.discussion_graphql_id %>"
  data-url="<%= discussion_body_path(timeline.repo_owner_login, timeline.repo_name, discussion) %>"
>
  <%= render Discussions::CommentComponent.new(comment: timeline.discussion, timeline: timeline, hpc: true) %>
</div>
