<div class="ml-0 pl-0 pl-md-3">
  <div class="d-flex flex-column flex-sm-row flex-justify-between flex-items-center mb-3">
    <%= render(Primer::Beta::Heading.new(tag: :h1, font_size: 2, flex: [:auto, 1])) { "Manage discussion categories" } %>
      <%= render(Primer::Beta::Button.new(
        scheme: :default,
        tag: :a,
        mr: [0, 3],
        m: [3, 0],
        href: agnostic_new_section_path
      )) { "New section" } %>
      <%= render(Primer::Beta::Button.new(
        scheme: :default,
        tag: :a,
        href: agnostic_new_category_path
      )) { "New category" } %>
  </div>
  <p class="color-fg-muted f6">
    Sections are a dropdown of categories. Categories have types of discussions, and discussions within them.
  </p>
  <%= render(Primer::Beta::BorderBox.new) do |component|
    component.with_header(font_weight: :bold, font_size: 4) { "Categories without section" }

    # Categories without a section are first
    categories_no_section.each do |category|
      component.with_row do
        render(Discussions::CategoryRowComponent.new(
          repository: repository,
          category: category,
          categories: categories,
          editable_by_viewer: editable_by_viewer?(category),
          deletable_by_viewer: deletable_by_viewer?(category),
          viewer_can_create_announcements: viewer_can_create_announcements?,
          org_param: org_param,
        ))
      end
    end

    # Then, render the sections
    sections.each do |section|
      component.with_row(scheme: :neutral, classes: "hx_discussion_section_row") do
        render(Discussions::SectionRowComponent.new(
          repository: repository,
          section: section,
          modifiable_by_viewer: can_edit_sections?,
          org_param: org_param
        ))
      end
      section.discussion_categories.each do |section_category|
        component.with_row do
          render(Discussions::CategoryRowComponent.new(
            repository: repository,
            category: section_category,
            categories: categories,
            editable_by_viewer: editable_by_viewer?(section_category),
            deletable_by_viewer: deletable_by_viewer?(section_category),
            viewer_can_create_announcements: viewer_can_create_announcements?,
            org_param: org_param,
          ))
        end
      end
    end
  end %>
</div>
