<div class="col-12 col-sm-6 col-lg-4 mb-4 mb-md-5">
  <div class="Box color-shadow-large p-3 d-flex flex-column height-full">
    <div class="d-flex m-1">
      <img
        src="<%= image_path(@image) %>"
        width="48"
        height="48"
        class="rounded-2 mr-3"
        alt=""
      >
      <div class="ml-1">
        <a class="text-bold" href="<%= @link %>">
          <%= @title %>
        </a>
        <p class="color-fg-muted mt-2">
          <%= @description %>
        </p>
      </div>
    </div>
  </div>
</div>
