<div class="color-fg-success mt-2 ml-3 mb-2 mb-md-0" <%= test_selector("comment-mark-answer-#{comment.id}") %>>
  <% if user_who_marked_answer %>
    <span>Answer selected by</span>
    <%= helpers.profile_link(user_who_marked_answer,
      data: helpers.discussion_view_click_attrs(comment, target: :USER_PROFILE_LINK),
      class: "d-inline-block color-fg-inherit text-bold",
    ) %>
  <% else %>
    Answer selected
  <% end %>
</div>
