<a <%= test_selector("created-issue-event-description") %>
  href="<%= issue_path(timeline.repo_owner_login, timeline.repository, event.issue) %>"
  <%= safe_data_attributes(hovercard_data_attributes_for_issue_or_pr(event.issue)) %>
>
  #<%= event.issue.number %>
</a>
