<comment-actions-container>
  <%= render Primer::Experimental::ActionMenu.new(
    menu_id: "#{target_class}-actions-#{discussion_or_comment.id}",
    anchor_align: :end,
    src: comment_actions_url
  ) do |c| %>
    <% c.with_trigger(
      icon: :"kebab-horizontal",
      aria: { label: "#{target_class} options" },
    ) %>
  <% end %>

  <template data-target="comment-actions-container.dialogTemplate">
    <%= render(Primer::Alpha::Dialog.new(
      title: "{{title}}",
      id: "{{dialogId}}",
      classes: "Overlay--size-auto",
    )) do |dialog| %>
      <% dialog.with_body do %>
        <include-fragment src="{{src}}">
          <div class="text-center" data-hide-on-error>
            <%= render(Primer::Beta::Spinner.new(aria: { label: "Loading" })) %>
          </div>
          <div class="text-center" data-show-on-error hidden>
            Something went wrong.
          </div>
        </include-fragment>
      <% end %>
    <% end %>
  </template>

  <div data-target="comment-actions-container.dialogContainer"></div>

  <%# Quote reply is hidden due to async loading the action menu contents. Hidden button allows hotkey r to work if the action menu hasn't been loaded. %>
  <div hidden>
    <%= render(Primer::Beta::Button.new(
      tag: :button,
      classes: "js-comment-quote-reply",
      "data-hotkey": hotkeys_for(current_user, :pull_request_conversation, :reply)
    )) { "Quote reply" } %>
  </div>
</comment-actions-container>
