<%= form_tag(form_path, method: :delete, class: delete_discussion_or_comment_async?(comment) ? "js-comment-delete" : "") do %>
  <p>Are you sure you want to delete this comment?</p>
  <div class="d-flex flex-justify-end mt-3">
    <%= render(Primer::Beta::Button.new(data: { "close-dialog-id": "dialog-delete-comment-#{comment.id}" })) { "Cancel" } %>
    <%= render(Primer::Beta::Button.new(type: :submit, scheme: :danger, ml: 2)) { "Delete comment" } %>
  </div>
<% end %>
