<div class="col-12 col-lg-4 col-md-6 mb-4 mb-md-5">
  <div class="Box color-shadow-large p-3 d-flex flex-column height-full position-relative">
    <div class="d-flex flex-justify-center m-1">
      <%= light_or_dark_picture_tag(@image_light, @image_dark,
        class: "rounded-2 width-fit",
        alt: ""
      ) %>
    </div>
    <% if @add_label %>
      <div class="mt-2 flex-self-start">
        <%= render(Primer::Beta::Label.new( scheme: :success)) { label_text } %>
      </div>
    <% end %>
    <h3 class="mt-2 mx-1">
      <%= @title %>
    </h3>
    <p class="color-fg-muted mt-2 m-1">
      <%= @description %>
    </p>
  </div>
</div>
