<%# erblint:counter DeprecatedComponentsCounter 1 %>
<div class="timeline-inline-comments js-inline-comments-container">
  <div class="js-line-comments review-thread-reply inline-comment-form-container js-inline-comment-form-container px-2">
    <div class="inline-comment-form-actions">
      <div class="d-flex">
        <%= render(Primer::ButtonComponent.new(
          type: :button,
          scheme: :link,
          underline: false,
          block: true,
          color: :muted,
          text_align: :left,
          font_weight: :normal,
          ml: 0,
          "aria-label": aria_label_write_reply,
          test_selector: "discussions-write-reply",
          classes: class_names(
            "review-thread-reply-button",
            "form-control",
            "js-discussions-previewable-comment-form"
          )
        )) { "Write a reply" } %>
      </div>
    </div>
    <div
      class="inline-comment-form inline-comment-form-box discussion-nested-comment-inline-form js-discussions-previewable-comment-form-container m-0 color-bg-transparent"
      data-parent-comment-id="<%= parent_comment.id %>"
      data-anchor-id="<%= anchor_id %>"
      data-back-page="<%= back_page %>"
    >
    </div>
  </div>
</div>
