<%= render Primer::Alpha::SelectPanel.new(
  id: "label-select-menu",
  src: menu_content_path,
  fetch_strategy: :eventually_local,
  title: "Filter by label",
  no_results_label: "No labels found. Sorry about that.",
) do |menu| %>
  <% menu.with_show_button("aria-label": "Filter labels") do |button| %>
    <% button.with_trailing_action_icon(icon: :"triangle-down") %>
    Label
  <% end %>

  <% menu.with_footer(show_divider: true) do %>
    <p class="my-1 text-center">Use <kbd class="js-modifier-key">alt</kbd> + <kbd>click/return</kbd> to exclude labels.</p>
    <% if can_edit_labels? %>
      <%= render(Primer::Beta::Button.new(
        tag: :a,
        href: edit_labels_path,
        scheme: :default,
        size: :small,
        block: true)
      ) { "Edit labels" } %>
    <% end %>
  <% end %>
<% end %>
