<%= render Primer::Alpha::SelectPanel::ItemList.new(
  id: "label-filter-field-list",
  show_dividers: true,
  content_arguments: {
    classes: "discussions-select-menu",
  },
  select_variant: :multiple,
  aria: { label: "labels" },
) do |list| %>
  <% list.with_item(label: "Unlabeled", href: url_for_no_labels, active: unlabeled_checked?) %>

  <% labels.each do |label| %>
    <% list.with_item(
      label: label.name_html,
      href: url_to_toggle(label),
      active: checked?(label),
      content_arguments: {
        classes: "label-select-menu-item js-issues-label-select-menu-item",
      },
      data: { "excluded-url": url_to_exclude(label) },
    ) do |item| %>
      <% item.with_leading_visual_content do %>
        <div class="ColorSwatch discussions-label-select-menu" style="background-color: #<%= label.color %>; margin-top: 1px;"></div>
      <% end %>
      <% if label.description.present? %>
        <% item.with_description(label.description) %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
