<span <%= test_selector("marked-or-unmarked-answer-event-description") %>>
  <% if event.comment %>
    an
    <a href="<%= discussion_comment_show_path_from(discussion: timeline.discussion, comment_id: event.comment_id) %>"
      class="Link--primary"
      <%=
        safe_data_attributes(
          helpers.discussion_view_click_attrs(timeline.discussion, target: :DISCUSSION_LINK).merge(
            hovercard_data_attributes_for_discussion(
              timeline.repo_owner_login,
              timeline.repo_name,
              timeline.discussion.number
            )
          )
        )
      %>
    >
      Answer
    </a>
  <% elsif event.marked_or_unmarked_answer? %>
    <%# Comment that was (un)marked as the answer has since been deleted, so can't link to it %>
    a comment
  <% end %>
</span>
