<section id="sidebar-events" class="discussion-sidebar-item" aria-labelledby="sidebar-events-header">
  <h4 id="sidebar-events-header" class="f5 mb-3">Events</h4>

  <div id="<%= JS_EVENT_LIST_DOM_ID %>">
    <%= render "discussions/events_list", events: events, timeline: timeline, discussion: discussion %>

    <% if paginated? %>
      <%= form_tag(
        discussion_events_path(
          repo_owner_login,
          repo_name,
          discussion
        ),
        method: :get,
        "data-replace-remote-form-target": JS_EVENT_LIST_DOM_ID,
        "data-replace-remote-form": true,
      ) do %>
        <div class="mt-2">
          <%= render Primer::Beta::Button.new(
            type: :submit,
            scheme: :link,
            font_size: 6,
            data: { disable_with: "Loading more events..." },
            test_selector: "load-more-events-button",
          ) do %>
            View older events
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</section>
