<% discussion_comments.each do |discussion_comment| %>
  <div
    class="js-timeline-item js-timeline-progressive-focus-container js-quote-selection-container"
    <%= test_selector("comment-#{discussion_comment.id}") %>
    <% if discussion_comment.respond_to?(:global_relay_id) %>
      data-gid="<%= discussion_comment.global_relay_id %>"
    <% end %>
    data-quote-markdown=".js-comment-body"
  >
    <div
      class="TimelineItem discussion-timeline-item mx-0 js-comment-container"
      data-open-edit-form-after-load="false"
    >
      <% timeline.record_show_stats_render("comment") do %>
        <%= render(Discussions::CommentComponent.new(
          comment: discussion_comment,
          subscribe_to_live_updates: discussion_comment.nested_comments_count <= max_number_of_nested_comments_to_render,
          timeline: timeline,
        )) %>
      <% end %>
    </div>
  </div>
<% end %>
