<span <%= test_selector("transferred-event-description") %>>
  from
  <% if old_repo = timeline.old_repository_for_transfer_event(event) %>
    <%= old_repo.name_with_display_owner %>
  <% else %>
    another repository
  <% end %>
</span>
