<li class="discussion-sidebar-item border-top-0 mt-0 pt-1 pb-0">
  <%= render(Primer::Alpha::Dialog.new(
    title: "Transfer this discussion",
    size: :medium_portrait,
    id: "discussion-transfer-conversation",
  )) do |dialog| %>
    <% dialog.with_show_button(
      scheme: :link,
      font_weight: :bold,
      underline: false,
      classes: "Link--primary lock-toggle-link",
    ) do |button| %>
      <% button.with_leading_visual_icon(icon: :"arrow-right") %>
      Transfer this discussion
    <% end %>
    <% dialog.with_body(p: 0) do %>
      <%= form_tag(discussion_repository_transfer_path(timeline.repo_owner_login, timeline.repo_name, timeline.discussion), method: :put) do %>
        <include-fragment
          src="<%= discussion_repository_transfer_path(timeline.repo_owner_login, timeline.repo_name, timeline.discussion) %>"
          preload
        >
          <div class="text-center" data-hide-on-error>
            <%= render Primer::Beta::Spinner.new(aria: { label: "Loading" }) %>
          </div>
          <div class="text-center" data-show-on-error hidden>
            Something went wrong.
          </div>
        </include-fragment>
      <% end %>
    <% end %>
  <% end %>
</li>
