<%= form_tag(form_path, method: :delete) do %>
  <p>Are you sure you want to unblock this user from the organization?</p>
  <div class="d-flex flex-justify-end mt-3">
    <%= render(Primer::Beta::Button.new(data: { "close-dialog-id": "discussion-unblock-#{target_class}-#{discussion_or_comment.id}" })) { "Cancel" } %>
    <%= render(Primer::Beta::Button.new(type: :submit, scheme: :danger, ml: 2)) { "Unblock user" } %>
  </div>
<% end %>
