<%= form_tag(unminimize_discussion_comment_path(timeline.repo_owner_login, timeline.repo_name, timeline.discussion, comment), class: "js-discussion-comment-unminimize", method: :delete) do %>
  <p>Are you sure you want to unhide this comment?</p>
  <div class="d-flex flex-justify-end mt-3">
    <%= render(Primer::Beta::Button.new(data: { "close-dialog-id": "dialog-unhide-comment-#{comment.id}" })) { "Cancel" } %>
    <%= render(Primer::Beta::Button.new(type: :submit, scheme: :danger, ml: 2)) { "Unhide comment" } %>
  </div>
<% end %>
