.diff-file-header {
  position: relative;
  display: flex;
  padding: var(--base-size-8);
  /* stylelint-disable-next-line primer/spacing */
  margin-bottom: -1px;
  background-color: var(--bgColor-muted);
  border: var(--borderWidth-thin) solid var(--borderColor-default);
  border-radius: var(--borderRadius-medium);
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  align-items: center;

  &.collapsed {
    border-bottom-right-radius: var(--borderRadius-medium);
    border-bottom-left-radius: var(--borderRadius-medium);
  }
}

.file-name {
  overflow: hidden;
  font-size: var(--text-body-size-medium);
  font-weight: unset;
  text-overflow: ellipsis;
  white-space: nowrap;
  direction: rtl;
}
