<% page_info :title => "Surveys" %>
<% content_for :pagehead_path do %>
  / <strong>Surveys</strong>
<% end %>

<div class="Box Box--condensed">
  <div class="Box-header">
    <h3 class="Box-title">
      Surveys
    </h3>
  </div>

  <% if surveys.any? %>
    <ul>
      <% surveys.each do |survey| %>
        <li class="Box-row">
          <strong>
            <%= link_to survey.title, devtools_survey_path(slug: survey.slug) %>
          </strong>
        </li>
      <% end %>
    </ul>

    <div class="paginate-container">
      <%= will_paginate(surveys, class: "d-flex d-md-inline-block pagination") %>
    </div>
  <% else %>
    <div class="Box-body">
      <p>No surveys found.</p>
    </div>
  <% end %>
</div>
