/* Overrides line height to be 23px (at 14px font size) to match classic style */
.overrideLineHeight {
  line-height: 1.64em !important;
}

.shiftOnePxRight {
  /* stylelint-disable-next-line primer/spacing */
  margin-left: 1px;
}

/* Dims tab link text when unselected */
.muteWhenUnselected[aria-selected="false"],
/* Dims tab link child elements when unselected and link isn't in hover state */
.muteWhenUnselected[aria-selected="false"]:not(:hover) * {
  color: var(--fgColor-muted);
}

.counterLoading {
  /* stylelint-disable-next-line primer/colors */
  color: transparent !important;
}
