<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<div class="position-relative width-full d-flex flex-justify-between flex-items-center pt-xl-4 pb-xl-2">
  <a href="<%= readme_index_path %>" aria-label="ReadME Project Homepage" class="d-inline-block <% if local_assigns[:invert] == "true" %>readme-logo-link--inverted<% else %>readme-logo-link<% end %>"><%= svg("modules/site/readme/readme-logo-lockup", height: 50, width: 132, class: "d-block readme-logo", aria_hidden: true) %></a>

  <button class="btn-link no-underline readme-nav__button <% if local_assigns[:invert] == "true" %>readme-logo-link--inverted<% else %>readme-text-black<% end %> js-focus-on-dismiss js-details-target" type="button" aria-label="Open ReadME Project Menu" aria-expanded="false">
    <div class="d-flex flex-items-center">
      <%= primer_octicon(:"three-bars", :height => 20) %>
    </div>
  </button>
</div>
