<%# erblint:counter DeprecatedInPrimerCounter 2 %>
<%= form_with(url: readme_subscriptions_path, local: false, class: "js-newsletter-signup-form") do |f| %>
  <h3 class="readme-heading-3 readme-heading--condensed text-uppercase pt-6 pt-md-8">
    Sign Up For Newsletter
  </h3>

  <p class="f3-mktg mb-0">
    Every month we’ll share new articles from The ReadME Project, episodes of The ReadME Podcast, and other great developer content from around the community.
  </p>

  <label for="readme" class="d-block mt-4 mt-lg-5 mb-2">Email Address <sup class="f5" style="top: -0.1em;">*</sup></label>
  <div class="position-relative readme-input-container">
    <%= svg("site/icons/mail", height: 16, class: "d-inline-block position-absolute top-0 left-0 mt-1 color-text-white", aria_hidden: true) %>

    <input id="readme" type="email" name="email" placeholder="you@company.com" class="readme-input border-top-0 border-left-0 border-right-0 d-block width-full border-bottom color-text-white pr-9 pb-2 pl-5 js-newsletter-email-input readme-focus-on-blue" required>

    <span class="readme-input-border position-relative width-full d-block color-bg-default z-1"></span>

    <button type="submit" class="readme-focus-on-blue position-absolute top-0 right-0 f3-mktg color-text-white text-uppercase readme-heading--condensed readme-button-reset">
      Subscribe
    </button>
  </div>
<% end %>

<span aria-live="assertive" class="position-absolute mt-2 text-mono text-uppercase f5-mktg js-newsletter-flash v-hidden">
  Thank you! <span class="sr-only">for subscribing</span>
</span>
