<div class="Box-row color-bg-subtle clearfix">
  <%= link_to completion_path, class: "Link--muted", target: "_blank" do %>
    <span class="Box-btn-octicon btn-octicon float-left">
      <%= marketplace_onboarding_status_icon(onboarding_status_logic) %>
    </span>
    <span class="overflow-hidden pl-3">
      <%= description %>
    </span>
  <% end %>
</div>
