<div class="full-button width-full" id="listing-delist-proceed-button-container">

  <% if show_verification_input? %>
    <%= render Primer::Alpha::TextField.new(
      name: :verification_field,
      label: verification_label,
      invalid: true,
      mb: 2,
      full_width: true,
      data: { listing_conf:, test_selector: "listing-delist-proceed-confirmation" },
      classes: "js-listing-delist-proceed-confirmation",
    ) %>
    <input type="hidden" name="verify" value="<%= listing_conf %>">
  <% end %>

  <%= render Primer::Beta::Button.new(
    type: button_type,
    scheme: last_stage? ? :danger : :default,
    block: true,
    id: "listing-delist-proceed-button",
    classes: "js-listing-delist-proceed-button",
    data: { next_stage:, test_selector: "listing-delist-proceed-button" }.compact,
  ) do %>
    <%= button_text %>
  <% end %>
</div>
