<div class="Box-row color-bg-subtle d-flex flex-items-center">
  <% if is_verification_pending_from_unverified %>
    <div class="Box-btn-octicon btn-octicon float-left">
      <%= primer_octicon(:clock) %>
    </div>
    <span class="ml-3">Financial onboarding is in progress, We'll notify you via email with updates</span>
  <% elsif is_unverified %>
    <div class="Box-btn-octicon btn-octicon float-left">
      <%= marketplace_onboarding_status_icon(false) %>
    </div>
    <div class="flex-auto ml-3">Financial onboarding is required</div>
    <span>
      <%= button_to "Initiate",
        verified_financial_listing_approval_request_path(listing.slug, plan_id),
        class: "btn float-left mt-2",
        disabled: !can_initiate_financial_onboarding
      %>
    </span>
  <% else %>
    <div class="Box-btn-octicon btn-octicon float-left">
      <%= marketplace_onboarding_status_icon(true) %>
    </div>
    <span class="ml-3">Financial onboarding is completed.</span>
  <% end %>
</div>
