<div class="Box-row color-bg-subtle d-flex flex-items-center">
  <div class="Box-btn-octicon btn-octicon float-left">
    <%= marketplace_onboarding_status_icon(has_installation_requirements_met) %>
  </div>
  <span class="ml-3">
    <%= required_installations_for_verification %> app installations required (Current app installation count: <%= installation_count %>)
  </span>
</div>
