<%# Responsive menu for small and medium size screens %>
<div class="d-flex d-md-none position-fixed bottom-0 width-full border-top color-bg-default p-3 color-shadow-large" style="z-index: 35;">
  <div class="flex-auto">
    <%= render Primer::Beta::Details.new(classes: "details-reset", test_selector: "marketplace-menu-details") do |c| %>
      <% c.with_summary(w: :full, text_align: :center, mb: 3) do %>
        Listing dashboard menu
        <div class="dropdown-caret"></div>
      <% end %>
      <% c.with_body do %>
        <%= render Marketplace::Listings::AdminSidebarComponent.new(listing: listing, selected_tab: selected_tab) %>
      <% end %>
    <% end %>
  </div>
</div>
