<div class="Box p-4 color-bg-subtle mb-4" <%= test_selector("verified-creator") %>>
  <h2 class="f5 text-normal mt-0">
    Publisher verification: To publish a Copilot Extension, you must be publishing from an
    <span class="text-bold">organization</span> account with <span class="text-bold">Verified Creator</span> status.
    <%= link_to "Steps for publisher verification.", Marketplace::APPLY_FOR_PUBLISHER_VERIFICATION_DOCS, class: "Link--inTextBlock" %>
  </h2>
</div>
