<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<%= form_tag billing_create_external_email_path(organization), method: :post do %>
  <%= render(GitHub::DialogComponent.new(title: "Add billing recipient")) do |dialog| %><%# erblint:disable A11yDetailsDialogMigration %>
    <% dialog.with_summary do %>
      <summary
        class="btn btn-sm"
        role="button">
        Add
      </summary>
    <% end %>
    <% dialog.with_body do %>
      <span class="d-block text-center color-fg-muted mt-1 mb-3">
        Receipts are sent to billing managers and email recipients.
      </span>
      <input
        type="text"
        name="billing_external_email"
        aria-label="Add billing recipient email"
        class="form-control input-block input-contrast auto-search-input new-member-field"
        autofocus
        required
        placeholder="Add billing recipient email">
        <ul id="org-invite-complete-results" class="invite-member-results autocomplete-results"></ul>
    <% end %>
    <% dialog.with_footer do %>
      <%= render Primer::ButtonComponent.new(type: :submit, block: true) do %>
        Add
      <% end %>
    <% end %>
  <% end %>
<% end %>
