<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% if GitHub.flipper[:banner_migration].enabled?(current_user) %>
  <%= render Primer::Alpha::Banner.new(scheme: :warning, display: :none, my: 4, classes: "js-contact-us") do %>
    Please contact <a class="Link--inTextBlock" href="https://github.com/enterprise/contact" target="_blank" rel="noreferrer">our sales team</a>
    for pricing and purchasing information.
  <% end %>
<% else %>
  <%= render Primer::Beta::Flash.new(scheme: :warning, display: :none, my: 4, classes: "js-contact-us") do %>
    Please contact <a class="Link--inTextBlock" href="https://github.com/enterprise/contact" target="_blank" rel="noreferrer">our sales team</a>
    for pricing and purchasing information.
  <% end %>
<% end %>
