<%# erblint:counter DeprecatedComponentsCounter 1 %>
<div class="Box mb-4">
  <div class="Box-header d-flex flex-items-center">
    <div class="d-flex flex-items-center">
      <img width="32" height="32" alt="Storage for Actions and Packages" src="<%= image_path "modules/site/icons/hosting.svg" %>">
    </div>
    <div class="Box-title flex-auto ml-1 pl-2">
      <div>Storage for Actions and Packages</div>
      <div class="text-small text-normal color-fg-muted">
        Shared storage consists of Actions artifacts and Packages usage. This graph shows the account's storage usage in GB-months. Removing stored artifacts will not reduce this number, but it will lower its rate of growth. To see your account's current storage, download a usage report.
      </div>
    </div>
    <% if view.eligible_for_legacy_upsell? %>
      <%= render(Primer::ButtonComponent.new(
        scheme: :default, tag: :a, size: :small,
        href: view.compare_plans_link,
        data: {
          **analytics_click_attributes(
            category: "GitHub Legacy Plans",
            action: "click.compare_plans",
            label: "location:billing_settings_storage"
          )
        })) { "Compare plans" } %>
    <% end %>
  </div>

  <% if view.eligible_for_legacy_upsell? %>
    <p class="m-3">GitHub Actions and Packages are not available for private repositories on legacy per-repository billing plans. Review your pricing plan to get access to this feature.</p>
  <% else %>
    <%= render(Billing::Settings::UsageLoaderComponent.new(
      loading_text: "Loading Shared Storage data...",
      source: view.is_organization? ? billing_settings_org_storage_usage_path(organization_id: view.organization_login) : settings_user_billing_storage_usage_path,
      classes: "m-3 text-center")) %>
  <% end %>
</div>
