<div class="Box-footer py-2 pl-0 flash-error rounded-bottom-2">
  <div class="d-flex my-1 flex-items-baseline">
    <div class="col-1 text-center text-small flex-items-center">
      <%= primer_octicon(:"circle-slash") %>
    </div>
    <div class="flex-auto text-small">
      <p class="mb-0">
        <%= yield %>
      </p>
    </div>
  </div>
</div>
