<%
  if !has_error
    if data[:business_usage_percentage] < 100
      org_progress_color = data[:business_usage_percentage] <= 75 ? :accent_emphasis : :attention_emphasis
      other_orgs_progress_color = data[:business_usage_percentage] <= 75 ? :accent : :attention
      org_usage_percentage = (data[:org_usage] / data[:quota].to_f) * 100
      other_orgs_usage_percentage = (data[:other_orgs_usage] / data[:quota].to_f) * 100
    else
      org_progress_color = :accent_emphasis
      other_orgs_progress_color = :accent
      org_usage_percentage = (data[:org_usage] / data[:business_usage].to_f) * 100
      other_orgs_usage_percentage = (data[:other_orgs_usage] / data[:business_usage].to_f) * 100
    end
  end
%>

<% if has_error %>
  <div class="Box-row py-4">
    <div class="color-fg-muted text-center">
      <%= primer_octicon(:stop, color: :muted, mr: 2) %>
      Error: Unable to load the data at this time. <%= link_to "Refresh", "", class: "Link--inTextBlock" %> the page or try again later.
    </div>
  </div>
<% else %>
  <div>
    <div class="Box-row py-2 d-flex flex-items-center flex-justify-between color-fg-muted">
      <div class="pl-6 ml-1 my-1 col-6">
        <div class="d-flex flex-items-baseline mb-1">
          <div class="flex-auto d-inline-block text-bold">Storage</div>
          <div class="text-small d-inline-block">
            <strong><%= number_with_delimiter(data[:org_usage]) %></strong> GB used
          </div>
        </div>
        <div class="billing-box-progress">
          <%= render(Primer::Beta::ProgressBar.new(size: :small)) do |component| %>
            <% component.with_item(bg: org_progress_color, percentage: org_usage_percentage, "aria-label": "#{number_with_precision(data[:org_usage], precision: 2)} GB used by this org", title: "#{number_with_precision(data[:org_usage], precision: 2)} GB used by this org") %>
            <% component.with_item(bg: other_orgs_progress_color, percentage: other_orgs_usage_percentage, "aria-label": "#{number_with_precision(data[:other_orgs_usage], precision: 2)} GB used by other orgs", title: "#{number_with_precision(data[:other_orgs_usage], precision: 2)} GB used by other orgs") %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
