<h4 class="f5 text-normal color-fg-muted">Next payment due</h4>
<% if view.account.invoiced? %>
  <span class="f2 text-bold d-block mt-1 mb-2 pb-1">
    <% if view.invoice.present? && !view.invoice.paid? %>
      <%= Date.parse(view.invoice.due_on).strftime("%B %d") %>
    <% else %>
      &mdash;
    <% end %>
  </span>
<% else %>
  <span class="f2 text-bold d-block mt-1 mb-2 pb-1" <%= test_selector("billing-next-payment-due") %>>
    <% if next_charge_amount == 0 %>
      &mdash;
    <% else %>
      <% if view.account.next_payment_due_on %>
        <% if view.account.next_billing_date == Date.today %>
          Today
        <% else %>
          <%= view.account.next_billing_date.strftime("%B %d, %Y") %>
        <% end %>
      <% else %>
        Immediately
      <% end %>
    <% end %>
  </span>
<% end %>
