<% link_text = budget.spending_limit_in_subunits == 0 ? "Set up a spending limit" : "Update" %>

<div class="Box-footer py-2" <%= test_selector "spending-limit-footer" %>>
  <div class="d-flex my-1 flex-items-center">
    <% if spending_limit_enabled %>
      <div class="flex-auto ml-md-6 ml-0 pl-md-1 pl-0 color-fg-muted text-small">
        <% if budget.unlimited_spending_limit? %>
          <strong>Unlimited</strong> spending
        <% else %>
          <strong><%= Billing::Money.new(budget.spending_limit_in_subunits).format(:no_cents_if_whole => false) %></strong>
          monthly spending limit |
        <% end %>
        <% unless spending_limit_path.nil? %>
          <%= link_to link_text, spending_limit_path, class: "Link--inTextBlock" %>
        <% end %>
      </div>
    <% else %>
      <div class="flex-auto"></div>
    <% end %>
    <strong><%= amount.format(:no_cents_if_whole => false) %></strong>
  </div>
</div>
