<% locals = ensure_local_vars(local_assigns, {
  required: [:feature],
  optional: [:test_selector_string],
  defaults: {},
  view: "billing_settings/upgrade_feature_list_item"
}) %>

<li class="text-normal d-flex flex-items-start" <%= test_selector(locals[:test_selector_string])%>>
  <%= primer_octicon "check", width: "16", height: "16", color: :success, mt: 1, mr: 2 %>
  <span><%= locals[:feature] %></span>
</li>
