.templateItemContainer > [data-component="ActionList.Item--DividerContainer"]::before {
  top: calc(-1 * var(--base-size-8)) !important; /* not sure of a better way to do this, but this aligns the style with the larger variant in Figma. Really this change would be better to do in Primer directly and enabling support for this natively? */
}

.actionListTitle {
  font: var(--text-title-shorthand-small);
  font-weight: var(--base-text-weight-medium); /* this is an override to match the index list item font-weight */
}
