<div class="color-bg-subtle border-0 rounded-2 p-3">
  <code class="f6 p-0 lh-default">
    <% commands.each do |cmd, i|%>
      <span class="color-fg-muted px-2"># <%= cmd[:desc] %></span><br>
      <%= render partial: "actions/settings/copy_code_snippet", locals: {
        dom_id: "clipboard-copy-content-#{platform}-#{cmd[:desc].parameterize}",
        prompt: "$",
        text: cmd[:body] || safe_join(cmd[:body_arr], "")
      } %>
    <% end %>
  </code>
</div>
