<span class="mx-<%= mx %> js-organization-members-exporting" hidden>
  <%= render(Primer::Beta::Spinner.new(
    size: :small,
    vertical_align: :middle,
    mr: 1,
  )) %>
  <%= render(Primer::Beta::Button.new(
    disabled: :true,
  )) do |button|
    button.with_leading_visual_icon(icon: :download)
    button.with_trailing_action_icon(icon: :"triangle-down")
    "Exporting"
  end %>
</span>

<%= render(Primer::Alpha::ActionMenu.new(
  test_selector: "organization-members-export-menu",
  mx: mx,
  classes: "js-organization-members-export-menu"
)) do |menu| %>
  <% menu.with_show_button do |button|
    button.with_leading_visual_icon(icon: :download)
    button.with_trailing_action_icon(icon: :"triangle-down")
    "Export"
  end %>

  <% menu.with_item(
    label: "JSON",
    href: export_path,
    form_arguments: form_arguments.merge!(value: "json"),
  ) %>
  <% menu.with_item(
    label: "CSV",
    href: export_path,
    form_arguments: form_arguments.merge!(value: "csv"),
  ) %>
<% end %>
