<%# rubocop:disable Lint/InstanceVariable %>
<%= render layout: "stafftools/stafftools" do %>
  <div class="boxed-group">
    <h3>Reflog Sync Errors (<%= @repositories.count %>)</h3>

    <div class="boxed-group-inner clearfix">
      <ul class="boxed-group-list standalone">
        <% @repositories.limit(25).each do |repository| %>
          <li>
            <%= render(Primer::Beta::Octicon.new(icon: "repo")) %>
            <%= link_to repository.name_with_owner, gh_disk_stafftools_repository_path(repository) %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
