<div class="Box Box--danger mb-3">
  <div class="Box-body text-bold">
    This view shows a breakdown of usage for this organization but not the
    total usage for the Enterprise. To see total usage, please see their
    parent enterprise <%= link_to user.business.name, stafftools_enterprise_path(user.business), class: "Link--inTextBlock" %>.
  </div>
</div>
