<% page_info \
  container_xl: true,
  title: "Coding guidelines playground · #{current_repository.name_with_display_owner}",
  selected_link: :repo_settings_copilot_coding_guidelines,
  hide_footer: true
%>

<div class="p-3">
  <%= render_react_partial(
    name: "copilot-code-guidelines-playground",
    props: {
      indexPath: copilot_code_guidelines_path(user_id: current_repository.owner),
    },
    ssr: false,
  ) %>
</div>
