<div>
  <% if organization_ids.any? %>
    <%= form_tag update_settings_actions_bulk_orgs_enterprise_path(@business, form_params),
        method: :put,
        "aria-label": "Apply permissions",
        "data-replace-remote-form": true do %>
      <%= render GitHub::MenuComponent.new(text: "Set organization permissions", items: enablement_options, align: :right) %>
    <% end %>
  <% end %>
</div>
