.ActionList_LeadingVisual_0 {
  min-width: 20px;
  max-width: 44px;
}

.Radio_0 {
  margin-top: 0;
  margin-right: var(--base-size-8);
}

.Box_0 {
  word-break: break-word;
}

.Box_1 {
  display: flex;
  gap: var(--stack-gap-condensed);
}

.LoadingSkeleton_0 {
  flex: 0 0 auto;
}

.LoadingSkeleton_1 {
  width: 100%;
}
