.ActionList_Item_0 {
  /* stylelint-disable-next-line selector-max-type, selector-no-qualifying-type */
  div[data-component="-action-list.-item---divider-container"] > span:nth-of-type(1) {
    margin-bottom: 0;
  }
}

.ActionList_LeadingVisual_0 {
  max-width: 38px;
}

.Radio_0 {
  margin-right: var(--base-size-8);
}

.SafeHTMLText_0 {
  word-break: break-word;
}

.LoadingSkeleton_0 {
  flex: 0 0 auto;
}

.LoadingSkeleton_1 {
  width: 100%;
  margin-bottom: var(--base-size-8);
}

.Box_0 {
  display: flex;
  height: 16px;
  align-items: center;
}

.Box_1 {
  width: 12px;
  height: 12px;
  border-radius: 100%;
}

.Box_2 {
  display: flex;
  gap: var(--stack-gap-condensed);
}

.Box_3 {
  width: 100%;
}
