.GitHubAvatar_0 {
  box-shadow: 0 0 0 2px var(--bgColor-muted, var(--color-canvas-subtle));
}

.ActionList_LeadingVisual_0 {
  min-width: 20px;
  max-width: 44px;
}

.Radio_0 {
  margin-top: 0;
  margin-right: var(--base-size-8);
}

.LoadingSkeleton_0 {
  flex: 0 0 auto;
}

.LoadingSkeleton_1 {
  width: 100%;
}

.Box_0 {
  display: flex;
  gap: var(--stack-gap-condensed);
  align-items: center;
}
