<% page_info title: "Billing", selected_link: :business_billing_settings,
  stafftools: stafftools_enterprise_path(this_business) %>

<%= render layout: "businesses/layout",
  locals: {
    business: this_business,
    container_attributes: "itemscope itemtype='http://schema.org/Enterprise'"
} do %>
  <%= render(Primer::Beta::Breadcrumbs.new) do |component| %>
    <% component.with_item(href: settings_billing_tab_enterprise_path(tab: :budgets)) do %>Billing<% end %>
    <% component.with_item(href: request.path) do %>Edit budget<% end %>
  <% end %>
  <%= render(Primer::Beta::Heading.new(tag: :h1, mt: 3)) { "Edit budget" } %>
  <div class="col-6">
    <%= render(Billing::Settings::BillingBudgetFormComponent.new(
      business: this_business,
      organizations: this_business&.organizations,
      cancel_path: settings_billing_tab_enterprise_path(tab: :budgets),
      submit_path: billing_settings_billing_budget_path,
      budget: budget
    )) %>
  </div>
<% end %>
