<%# Sprite utilized to position the grid to the hero section's corners %>
<% hero_background_grid = url_encode(svg("modules/site/customer-stories/homepage-hero-blocks.svg")) %>

<style>
  @media (min-width: 768px) {
    div[class^="customer-stories__homepage-hero--"] {
      background-repeat: no-repeat;
      background-image: url("data:image/svg+xml,<%= hero_background_grid %>");
    }
  }
</style>

<%= render Site::ImageComponent.new(
  src: image_path("modules/site/customer-stories/homepage-gradient-mobile.png"),
  width: 50,
  height: 190,
  classes: "position-absolute width-full top-0 height-auto left-0 d-lg-none",
  alt: "",
  sizes: ""
) %>

<%= render Site::ImageComponent.new(
  src: image_path("modules/site/customer-stories/homepage-gradient.jpg"),
  width: 200,
  height: 158,
  classes: "position-absolute width-full height-full top-0 left-0 d-none d-lg-block",
  alt: "",
  sizes: ""
) %>

<%= render Site::ImageComponent.new(
  src: image_path("modules/site/customer-stories/homepage-hero-blocks-mobile.svg"),
  width: 375,
  height: 108,
  style: "z-index: -1",
  classes: "position-absolute top-0 left-0 width-full height-auto d-md-none",
  alt: "",
  sizes: ""
) %>

<div class="customer-stories__homepage-hero--top-left position-absolute left-0"></div>
<div class="customer-stories__homepage-hero--top-right position-absolute right-0"></div>
<div class="customer-stories__homepage-hero--bottom-left position-absolute bottom-0 left-0"></div>
<div class="customer-stories__homepage-hero--bottom-right position-absolute bottom-0 right-0"></div>
