/* stylelint-disable primer/colors */
.backgroundContainer {
  grid-column: 1/13;
  position: sticky;
  top: 0;
  width: calc(100% + var(--brand-Grid-spacing-column-gap));
  height: 100vh; /* Full height of the viewport */
  overflow: hidden;
  background-color: #000;

  @media (min-width: 768px) {
    grid-column: 1/7;
  }
}

.circle {
  position: absolute;
  width: 67.1875vw; /* Diameter of the circles */
  height: 67.1875vw;
  filter: blur(150px);
  border-radius: 50%;
}

.circleLeft {
  top: 40vh;
  right: 50vw;

  @media (min-width: 768px) {
    top: 60vh;
    right: 25vw;
  }
}

.circleMiddle {
  top: 50vh;
  left: 50%;
  opacity: 0.8;
  transform: translateX(-50%);

  @media (min-width: 768px) {
    top: 75vh;
  }
}

.circleRight {
  top: 40vh;
  left: 50vw;;

  @media (min-width: 768px) {
    top: 60vh;
    left: 25vw;
  }
}
