<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%= render Primer::BlankslateComponent.new(
  icon: "alert",
  title: "Unauthorized access error",
  narrow: true,
  mt: 5,
) do %>
  <p class="mt-3">
    You are logged in as <strong>@<%= current_user.display_login %></strong>, which does not have access to this Page. Please contact an admin of the repository.
  </p>
<% end %>
