<p style="text-align: start;">
  Hello,
</p>

<p style="text-align: start;">
  Thank you for being a part of GitHub for Startups!
</p>

<p style="text-align: start;">
  We're reaching out because <b>your program expiration is coming up on <%= @expiration_date %>.</b>
</p>

<p style="text-align: start;">
  Want to continue on GitHub Enterprise?
  We're offering startups associated with an <a href="https://github.com/enterprise/startups/partners">approved
  GitHub for Startups partner</a> a 50% discount on up to 20 GitHub Enterprise seats for their second year in the program.
</p>

<p style="text-align: start;">
  GitHub Enterprise <a href="https://github.com/pricing/">features</a> you'd lose:
</p>

<p style="text-align: start;">
  <span>&#8226; 50K Action mins per month</span><br>
  <span>&#8226; User Management (SSO)</span><br>
  <span>&#8226; Organizational Controls (SOC)</span><br>
  <span>&#8226; ...and exclusive events, office hours, and webinars!</span><br>
</p>

<p style="text-align: start;">
  To ensure your Enterprise plan is not interrupted, please <b><u>notify us with your intent to continue on GitHub Enterprise at least
  5 business days before your program expiration so we can send over a quote and next steps.</u></b>
</p>

<p style="text-align: start;">
  <b>Interested in GitHub Advanced Security?</b> We're also inviting startups returning to the program and new to Advanced security
  a 50% discount on GitHub Advanced Security! Let us know if you're interested in learning more about
  <a href="https://docs.github.com/code-security/code-scanning/introduction-to-code-scanning/about-code-scanning"> Code Scanning</a>,
  <a href="https://docs.github.com/code-security/secret-scanning/about-secret-scanning"> Secret Scanning</a>,
  and <a href="https://docs.github.com/code-security/supply-chain-security/understanding-your-software-supply-chain/about-dependency-review"> Dependency Review</a> features.
</p>

<p style="text-align: start;">
  If we don't hear from you, your <b>organization will automatically be downgraded to a Free plan on your termination date,</b>
  and your Enterprise Account will be deleted. You will be notified once your organization has been removed from the Enterprise, at which time you may self-serve upgrade to the Team tier.
</p>

<p style="text-align: start;">
  Thank you again for building with GitHub for Startups! Please let us know if you have any questions.
</p>

<p style="text-align: start;">
  The GitHub for Startups Team
</p>
