<p style="text-align: start;">
  Hello,
</p>

<p style="text-align: start;">
  We're following up as <u>your access to GitHub for Startups expires in <%= @expire_in %> days.</u>
</p>

<p style="text-align: start;">
  Please let us know if you'd like to continue on GitHub Enterprise so we can send over next steps.
</p>

<p style="text-align: start;">
  If not, no worries. <u>Once your termination is processed, you'll be notified when your organization(s) are removed from your Enterprise Account
  and downgraded to a Free plan.</u> Once that takes place, you'll have the ability to remain on the free tier or self-serve purchase the Team plan.
  If you receive an invoice for any consumptive add-ons, you will still be able to pay in the admin dashboard.
</p>

<p style="text-align: start;">
Thanks again for having been a part of GitHub for Startups!
</p>

<p style="text-align: start;">
  Regards,
</p>

<p style="text-align: start;">
  The GitHub for Startups Team
</p>

<% content_for :footer_text do %>
  You're receiving this email because you're an owner of the <%= @business.name %>
  enterprise on GitHub, which was onboarded into the GitHub for Startups program.
<% end %>
