<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% if suspended? %>
  <span class="color-fg-muted">
    <%= render Primer::Beta::Octicon.new(icon: "moon", color: :muted, mr: 0) %>
    Suspended
  </span>
<% else %>
  <%= form_tag suspend_environment_stafftools_user_codespace_path(codespace.owner, codespace) do %>
    <%= render Primer::ButtonComponent.new(variant: :small, type: :submit) do %>Suspend<% end %>
  <% end %>
<% end %>
