.ruleBlock {
  padding: var(--base-size-4) var(--base-size-24);
  margin-bottom: var(--base-size-16);
  background-color: var(--bgColor-inset);
  border: var(--borderWidth-thin) solid var(--borderColor-muted);
  border-radius: var(--borderRadius-large);
}

.ruleBlockTitle {
  max-width: 800px;
  font-family: var(--fontStack-sansSerifDisplay);
  color: var(--fgColor-default);
}

.ruleBlockDescription {
  max-width: 800px;
  margin-left: var(--base-size-8);
  font: var(--text-subtitle-shorthand);
  font-size: var(--text-body-size-large);
  color: var(--fgColor-muted);
}
