.visibilityHidden {
  visibility: hidden;
}

.visibilityVisible {
  visibility: visible;
}

.userSelectNone {
  pointer-events: none;
  user-select: none;
}

.focusedResultStyles {
  position: relative;

  /* stylelint-disable-next-line color-named *//* stylelint-disable-next-line primer/colors */
  color: black;
  /* stylelint-disable-next-line primer/colors */
  background: #ff9632
}

.nonFocusedResultStyles {
  /* need to use this var because the built in class name doesn't have the correct color, the opacity is off */
  background-color: var(--borderColor-attention-muted,var(--color-attention-muted,rgba(187,128,9,0.4)));
}

.nonHunkStyles {
  /* stylelint-disable-next-line primer/spacing */
  margin-right: 30px;
}
