.visibilityHidden {
  visibility: hidden;
}

.visibilityVisible {
  visibility: visible;
}

.defaultStyles {
  position: fixed;
  right: var(--base-size-8);
  z-index: 11;
  background: var(--bgColor-default, var(--color-canvas-default));
  border-radius: var(--borderRadius-large);
  box-shadow: var(--shadow-floating-large, var(--color-shadow-large));
}

.stickyStyles {
  /* stylelint-disable-next-line primer/spacing */
  top: 120px;
}

.notStickyStyles {
  /* stylelint-disable-next-line primer/spacing */
  top: 52px;
}
