.expand-button-line {
  width: var(--line-number-cell-width);
  padding-top: 0;
  padding-bottom: 0;
  line-height: 30px;
  color: var(--fgColor-default);
  background-color: var(--diffBlob-hunk-bgColor-num, var(--color-diff-blob-hunk-num-bg));
  border: 0;
  border-radius: 0;
  outline: none;
  box-shadow: none;

  &:hover:not([disabled]) {
    color: var(--fgColor-onEmphasis, var(--color-fg-on-emphasis));
    background-color: var(--bgColor-accent-emphasis, var(--color-accent-emphasis));
  }

  &.expand-up-and-down {
    height: 20px;
    padding-top: var(--base-size-4);
    padding-bottom: var(--base-size-4);
  }
}
