<% page_info title: "Create sponsorships in bulk via file import" %>
<div class="mt-4 width-full container-lg p-responsive">
  <%= render Sponsors::BulkSponsorships::BreadcrumbComponent.new(
    page: Sponsors::BulkSponsorships::BreadcrumbComponent::Page::Import,
    frequency: frequency,
    sponsor: sponsor,
  ) %>
  <h1 class="f3" <%= test_selector("bulk-sponsorship-import-title") %>>
    <% if frequency == :recurring %>
      Monthly
    <% else %>
      One-time
    <% end %>
    bulk sponsorship
  </h1>
  <div class="d-sm-flex border-bottom">
    <div class="col-sm-8 pb-3 pt-2">
      <%= render Sponsors::AccountSwitcherComponent.new(
        sponsor: sponsor,
        route: :bulk_sponsorship_new,
        method: :get,
        form_data: form_data,
        header_tag: :h2,
      ) %>
    </div>
  </div>

  <%= render Sponsors::BulkSponsorshipImports::UploadFormComponent.new(
    sponsor: sponsor,
    redirect_params: redirect_params,
  ) %>
</div>
