<%#
  Render options:
  - truncate - Boolean; should the user status message be truncated to a shorter
               length; defaults to false
  - link_mentions - Boolean; should @-mentions of users and teams in the user status
                    message be turned into links; defaults to true
  - compact - Boolean; should the user status area be more tight with a smaller emoji;
              defaults to false
%>
<%
  status = current_user.user_status_when_not_expired
  truncate = false unless local_assigns.key?(:truncate)
  link_mentions = true unless local_assigns.key?(:link_mentions)
  compact = false unless local_assigns.key?(:compact)
  circle = false unless local_assigns.key?(:circle)
%>

<div class="<%= class_names(
  "js-user-status-container",
  "user-status-circle-badge d-inline-block lh-condensed-ultra p-2": circle,
  "rounded-2 px-2 py-1 mt-2": compact && !circle,
  "border-top-0 rounded-top-0 rounded-bottom-2 p-2": !compact && !circle,
  "user-status-busy border color-border-attention-emphasis": status&.limited_availability?,
  "border": !status&.limited_availability? && !circle)
  %>"
  <%= test_selector("user-status-edit") %>
  data-team-hovercards-enabled>
  <%= render(partial: "user_statuses/dialog_container", locals: {
    show_header: false,
    truncate: truncate,
    link_mentions: link_mentions,
    compact: compact,
    circle: circle,
    profile: true,
  }) %>
</div>
