<% expiration_interval_exists = false %>
<div class="mt-2">
  <%= render(Primer::Alpha::Select.new(
    name: "expires_at",
    label: "Clear status",
    id: "expires_at",
    test_selector: "test-user-status-expiration",
    caption: "How long until this status will automatically clear."
  )) do |component| %>
    <% component.option(label: "Never", value: " ", selected: expires_at.blank?) %>
    <% expires_in = expires_at ? current_user_status_expires_at(expires_at) : nil %>
    <% UserStatusesHelper.expiration_intervals.each do |time_data| %>
    <% expiration_interval_exists = true if expires_in == time_data[:words] %>
      <% component.option(label: "#{time_data[:words]}", value: "#{time_data[:time]}", selected: expires_in == time_data[:words]) %>
    <% end %>
    <% if !expiration_interval_exists && expires_at.present? %>
      <% component.option(label: "#{expires_in}", value: "#{expires_at}", selected: true) %>
    <% end %>
  <% end %>
</div>
