<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<% if this_user == current_user && !this_user.dismissed_notice?("feature_tutorial_user_status") %>
  <div class="Popover js-notice" style="right: -327px; bottom: -8px">
    <div class="Popover-message Popover-message--large Popover-message--left-bottom p-4 Box color-shadow-large">
      <h2 class="d-flex flex-items-baseline mb-2 f4"><%= emoji_tag(Emoji.find_by_alias("wave"), class: "emoji emoji-icon mr-2") %>Introducing user status</h2>
      <p class="color-fg-muted">
        Now you can set a status message about what you're currently doing on GitHub.
        This status will be publicly visible to other users when they view your profile.
      </p>

      <%= form_tag dismiss_notice_path("feature_tutorial_user_status"), class: "js-notice-dismiss" do %>
        <button type="submit" class="btn mt-2 text-bold">Got it!</button>
      <% end %>
    </div>
  </div>
<% end %>
