<%
  selected_org = status&.organization
%>

<% if organizations.any? %>
  <div class="mt-2">
    <%= render(Primer::Alpha::Select.new(
      name: "organization_id",
      label: "Visible to",
      id: "organization_id",
      classes: "js-user-status-org-selection",
      caption: "Scope status visibility to a single organization."
    )) do |component| %>
      <% component.option(label: "Everyone", value: " ", selected: selected_org.blank?) %>
      <% organizations.each do |org| %>
        <% component.option(label: truncate(org.display_login, length: 40), value: "#{org.id}", selected: selected_org&.id == org.id, data: {org: org.display_login} ) %>
      <% end %>
    <% end %>
  </div>
<% end %>
