<% if loading? %>
  <%= render Primer::Beta::Label.new(scheme: :secondary, mr: 2, data: { hide_on_error: true }, test_selector: "exposure-analysis-loading") do %>
    Analyzing<span class="AnimatedEllipsis"></span>
  <% end %>
<% elsif vulnerable? %>
  <%= render Primer::Beta::Label.new(mr: 2, test_selector: "exposure-analysis-vulnerable") do %>
    Calls vulnerable code
  <% end %>
<% end %>
