<% attributes.each_with_index do |attribute, idx| %>
  <span class="text-underline" <%= test_selector "attribute-with-error" %>><%= attribute %></span><%= idx < attributes.length - 1 ? "," : ""  %>
<% end %>
