<% unless caption.blank? %>
  <span class="FormControl-caption mb-1" <%= test_selector("caption") %>>
    <%= caption %>
  </span>
<% end %>

<%= render(Primer::Alpha::ActionMenu.new(test_selector: "enforcement-options-menu", size: :small, select_variant: :single,  dynamic_label: true, form_arguments: { builder: @form, name: "rule_behavior" })) do |menu| %>
  <% menu.with_show_button do |button| %>
    <% button.with_trailing_action_icon(icon: :"triangle-down") %>
  <% end %>

  <% options.each do |option| %>
    <% menu.with_item(label: option[:label], active: option[:active], data: { value: option[:value] }, test_selector: "#{option[:label]}-option") do |item| %>
      <% item.with_description.with_content(option[:description]) %>
    <% end %>
  <% end %>
<% end %>
