<div class="mt-4 text-center color-fg-muted">
  <%= render(Primer::Beta::Octicon.new(icon: "light-bulb", color: :muted)) %>
  <strong class="color-fg-default">ProTip!</strong>
  <%= selected_tip %>
</div>
