.square {
  width: 28px;
  height: 28px;
  color: var(--fgColor-default, var(--color-fg-default));
}

.square.muted {
  color: var(--fgColor-muted, var(--color-fg-muted));
}

.diff-button {
  color: var(--fgColor-muted, var(--color-fg-muted));
}

/* stylelint-disable-next-line selector-max-type */
.diff-button > span {
  margin-bottom: 0;
}

.diff-button-container {
  position: absolute;
  top: 50%;
  /* stylelint-disable-next-line primer/spacing */
  right: -3px;
  z-index: 1;
  transform: translateY(-50%);
}
