<%= render(Mail::ContainerComponent.new(classes: "text-center")) do %>
  <%= render(Mail::SpacerComponent.new(size: 16)) %>
  <p class="f6 text-gray-light">GitHub, Inc. ・88 Colin P Kelly Jr Street ・San Francisco, CA 94107</p>
<% end %>
