<table class="container-sm width-full"><!--// Progress Bar //-->
  <tr>
    <td>
      <table width="100%" class="width-full">
        <tr>
          <td class="text-left">
            <p class="f6"><%= label %></p>
          </td>
          <td class="text-right">
            <p class="f6"><%= amount %></p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td class="bg-gray-2 rounded-1">
      <table width="100%" class="width-full">
        <tr>
          <td class="bg-<%= color %> p-1 rounded-2" style="width: <%= percentage %>%">
          </td>
          <% if percentage < 100 %>
            <td class="bg-gray-2 p-1 rounded-2">
            </td>
          <% end %>
        </tr>
      </table>
    </td>
  </tr>
</table>
