<% sponsors_listings.each do |sponsors_listing| %>
  <li role="option" class="autocomplete-item" data-autocomplete-value="<%= sponsors_listing.sponsorable_login %>">
    <%= render GitHub::AvatarComponent.new(actor: sponsors_listing.sponsorable) %>
    <%= sponsors_listing.sponsorable_login %>
    <small class="text-normal">@<%= sponsors_listing.sponsorable.safe_profile_name %></small>
  </li>
<% end %>
