<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%= render Primer::BlankslateComponent.new(
  icon: "alert",
  title: "We can’t display the feed right now.",
) do %>
  <p>
    Please <a class="Link--inTextBlock" href="<%= contact_path %>">contact support</a> if the problem persists
    <% unless GitHub.enterprise? %>
      or check our <a class="Link--inTextBlock" href="https://githubstatus.com">status site</a> for updates.
    <% end %>
  </p>
<% end %>
