<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter DeprecatedComponentsCounter 1 %>
<div class="activity">
  <%= render(Primer::Beta::Spinner.new(classes: "graph-loading dots", mb: 2)) %>
  <div class="graph-loading msg">
    <p>Crunching the latest data, just for you. Hang tight…</p>
  </div>
  <div class="graph-empty msg mt-6">
    <h3>We don’t have enough data to show anything useful.</h3>
    <p>It usually takes about a week to populate this graph.</p>
  </div>
  <div class="graph-too-large msg mt-6">
    <h3>There are too many commits to generate this graph.</h3>
    <p>More information about this data can be found in the
      <a class="Link--inTextBlock" href="<%= GitHub.help_url %>/repositories/viewing-activity-and-data-for-your-repository/analyzing-changes-to-a-repositorys-content">activity documentation</a>.
    </p>
  </div>
  <div class="graph-no-usable-data msg mt-6">
    <p>We need at least one non-empty commit with an email to generate this graph.</p>
  </div>
</div>

<%= render Primer::Beta::Flash.new(scheme: :danger, m: 3, classes: "graph-error") do %>
  <p>We tried our best, but the graph wouldn’t load. Try reloading the page.</p>
<% end %>
