<% page_info \
    selected_link: :repo_graphs,
    container_xl: true,
    dashboard_pinnable_item_id: current_repository.global_relay_id
%>

<%= render layout: "layouts/repository_container", locals: { repository: current_repository } do %>
<div class="clearfix container-xl px-3 px-md-4 px-lg-5 mt-4">
  <%= render Primer::Beta::Blankslate.new(spacious: true) do |c| %>
    <% c.with_visual_icon(icon: "graph") %>

    <% c.with_heading(tag: :h2) do %>
      <%= "Welcome to the #{current_repository.name} graphs!" %>
    <% end %>

    <% c.with_description do %>
      <%= "Once code is added to this repository, you’ll be able to see graphs for the contributors, commit timeline, forking activity, and the number of people looking at #{current_repository.name}." %>
    <% end %>
  <% end %>
</div>
<% end %>
