<% page_info \
    container_xl: true,
    responsive: true,
    selected_link: :repo_graphs,
    dashboard_pinnable_item_id: current_repository.global_relay_id
%>
<% page_title "Commit Activity · #{current_repository.name_with_display_owner}" %>
<%= render layout: "layouts/repository/insights" do %>
  <div class="graphs">
    <commit-activity-graph>
      <section class="js-graph graph-canvas commit-activity-graphs" data-target="commit-activity-graph.graph" data-url="<%= commit_activity_data_path %>">
        <%= render :partial => "graphs/activity" %>
        <section id="commit-activity-master" class="commit-activity-master mb-6"></section>
        <section id="commit-activity-detail"></section>
      </section>
    </commit-activity-graph>
  </div>
<% end %>
