<%= fields_for gpg_key do |f| %>
  <dl class="form-group">
    <dt><label for="gpg_key_title">Title</label></dt>
    <dd><%= f.text_field :name, :id => "gpg_key_title" %></dd>
  </dl>
  <dl class="form-group">
    <dt><label for="gpg_key_public_key">Key</label></dt>
    <dd><%= f.text_area :public_key, :id => "gpg_key_public_key", :class => "key_value form-control", :placeholder => "Begins with '-----BEGIN PGP PUBLIC KEY BLOCK-----'" %></dd>
  </dl>
<% end %>
