<%
  tags ||= []
  inline ||= nil
%>
<div class="discussion-sidebar-item sidebar-assignee js-discussion-sidebar-item">
  <%= form_tag assignees_path(id: issue.number, :inline => inline), :method => :put, :class => "js-issue-sidebar-form", "aria-label": "Select assignees" do %>

    <% track_render_partial("issues/sidebar/assignees_menu", tags) do %>
      <%= render :partial => "issues/sidebar/assignees_menu", :locals => { :issue => issue, :tags => tags, :inline => inline } %>
    <% end %>

    <% unless inline %>
      <% track_render_partial("issues/sidebar/assignees", tags) do %>
        <%= render :partial => "issues/sidebar/assignees", :locals => { :issue => issue } %>
      <% end %>
    <% end %>

  <% end %>
</div>
