<%= render_nothing_if_database_fails do %>
  <%
    show_columns_menu ||= false
    project_cards ||= ProjectsClassicSunset.projects_classic_ui_enabled?(current_user, org: issue.repository.organization) ? issue.visible_cards_for(current_user).to_a : []
    error_message ||= nil
    inline ||= nil
    tasklist_id ||= nil
  %>

  <div class="discussion-sidebar-item js-discussion-sidebar-item">
    <%= form_tag repo_project_issues_path(issue.repository.owner, issue.repository, issue.number, :inline => inline), method: :put, class: "js-issue-sidebar-form", "aria-label": "Select projects" do %>
      <%= render partial: "issues/sidebar/projects_menu", locals: { issue: issue, tasklist_id: tasklist_id, inline: inline } %>
      <% unless inline %>
        <%= render partial: "issues/sidebar/projects", locals: { issue: issue, project_cards: project_cards, show_columns_menu: show_columns_menu, error_message: error_message } %>
      <% end %>
    <% end %>
  </div>
<% end %>
