<%
  title_message = commit.short_message_text.empty? ? "" : "#{commit.short_message_text} · "
  title = "#{title_message}#{current_repository.name_with_display_owner}@#{commit.abbreviated_oid}"

  page_info(
    title: title,
    class: diff_body_class,
    dashboard_pinnable_item_id: current_repository.global_relay_id,
    richweb: {
      title: title,
      url: commit_url(commit.oid),
      description: truncate(commit.message_body_text || "", :length => 240),
      updated_time: commit.committed_date.to_i,
      image: repository_open_graph_image_url(current_repository, resource: commit)
    }
  )
%>

<% content_for :head do %>
  <%= tag(:link, :href => "#{commit_path(commit)}.diff",  :rel => 'alternate', :type => 'text/plain+diff',  :'data-turbo-transient' => true) %>
  <%= tag(:link, :href => "#{commit_path(commit)}.patch", :rel => 'alternate', :type => 'text/plain+patch', :'data-turbo-transient' => true) %>

  <meta name="diff-view" content="<%= diff_view %>" data-turbo-transient>
  <meta name="voltron-timing" value="<view-proxy-timing></view-proxy-timing>">
<% end %>

<%= render layout: "layouts/repository_container", locals: { repository: repo } do %>
<div class="clearfix container-xl px-3 px-md-4 px-lg-5 mt-4">
  <viewproxy-fragment id="header"></viewproxy-fragment>
  <viewproxy-fragment id="content"></viewproxy-fragment>
</div>
<% end %>
