<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter DeprecatedComponentsCounter 1 %>
<div class="pt-5">
  <%= render(Primer::Beta::Flash.new) do %>
    <%= render(Primer::Beta::Octicon.new(icon: "alert")) %>
    <span class="h5">
        <%= title %>
    </span>
    <p class="pt-2">
        <%= description %>
    </p>
  <% end %>
</div>
