<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% page_info title: "Linked Accounts",
  selected_link: :linked_accounts_settings,
  stafftools: stafftools_enterprise_path(this_business) %>
<%= render layout: "businesses/layout",
  locals: {
    business: this_business,
    title: "Linked Accounts",
    selected_link: :linked_accounts
  } do %>
    <div class="mt-4">
      <%= form_tag update_emu_contributions_sharing_enabled_enterprise_path(this_business), method: :put do |f| %>
        <div class="form-checkbox">
          <input id="enable_emu_contributions_sharing_checkbox" type="checkbox" name="enable_emu_contributions_sharing"
            <%= "checked" if this_business.emu_contributions_sharing_enabled? %>>
          <label for="enable_emu_contributions_sharing_checkbox">Contributions sharing</label>
          <p class="note color-fg-muted">
            Enable user contributions sharing with linked accounts.
          </p>
        </div>
        <%= render Primer::ButtonComponent.new(type: :submit, ml: 3) do %>Save<% end %>
      <% end %>
    </div>
  <% end %>
