<% page_info title: "Configure security and analysis features",
             selected_link: :business_security_analysis,
             stafftools: stafftools_enterprise_path(business) %>

<%= render layout: "businesses/layout",
  locals: {
    business: business,
    title: "Configure security and analysis features",
    selected_link: :business_security_analysis,
    container_attributes: "itemscope itemtype='http://schema.org/Business'"
  } do %>
  <% if !business.advanced_security_configurable? || business.downgraded_to_free_plan? %>
    <p <%= test_selector("security-analysis-advanced-security-not-configurable")%>>
      Security and analysis features help keep your repositories secure and updated. Find out more about <a class="Link--inTextBlock" href="https://github.com/features/security/">how GitHub helps you ship secure applications</a>, or <a class="Link--inTextBlock" href="https://github.com/enterprise/contact">contact Sales</a> to discuss enabling Advanced Security on your account.
    </p>
  <% else %>
    <p <%= test_selector("security-analysis-advanced-security-configurable")%>>
      Security and analysis features help keep your repositories secure and updated. By enabling these features, you're granting us permission to perform read-only analysis on your organizations' repositories.
    </p>
  <% end %>
  <%= render(Settings::SecurityAnalysisFormComponent.new(owner: business, public_repo_count:, repo_count:, cursor: nil, custom_patterns_query: nil)) %>
<% end %>
