<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%= form_tag stafftools_sponsors_bulk_approvals_path(filter: filter, query: query, order: order), hidden: true, class: "my-4 d-flex flex-justify-between js-sponsors-bulk-approve-listings-form js-sponsors-bulk-manage-listings-form" do %>
  <div class="Box col-8">
    <div class="Box-header py-2">
      <h3 class="Box-title">Approve GitHub Sponsors profiles</h3>
    </div>
    <div class="Box-body py-2">
      <div class="form-group mt-0">
        <div class="tag-input-container js-sponsors-bulk-manage-listings-tag-input js-multi-tag-input-container">
          <div class="js-tag-input-wrapper">
            <ul class="js-tag-input-selected-tags">
              <li class="tag-input js-tag-input-tag js-template d-none border rounded-2 d-inline-block p-1 pl-2 mb-2 ml-1">
                <span class="js-placeholder-tag-name"></span>
                <button type="button" class="remove js-remove js-sponsors-bulk-manage-listings-remove-tag border-0 color-bg-default m-0" tabindex="-1">
                  <%= primer_octicon(:x, "aria-label": "Remove maintainer") %>
                </button>
                <input type="hidden" name="sponsorable_logins[]" value="">
              </li>
            </ul>
            <auto-complete src="<%= stafftools_sponsors_bulk_approvals_path %>" class="js-sponsors-bulk-manage-listings-autocomplete" for="bulk-approve-sponsorables-results">
              <input type="text" name="sponsorables_autocomplete" aria-label="Which maintainers do you want to approve?"
                class="form-control width-full" autocomplete="off" autofocus
                placeholder="Search usernames or select maintainers below" size="30">
              <ul id="bulk-approve-sponsorables-results" class="form-control"></ul>
            </auto-complete>
          </div>
        </div>
      </div>
    </div>
    <div class="Box-footer py-2 form-actions border-top-0">
      <%= render Primer::ButtonComponent.new(type: :submit, scheme: :primary).with_content("Publish Sponsors profiles") %>
    </div>
  </div>
  <div class="ml-4">
    <div class="py-2">
      <h3 class="Box-title">Approval implications</h3>
    </div>
    <div class="text-small">
      <p>When you approve GitHub Sponsors maintainers:</p>
      <ul class="ml-4">
        <li>Their Sponsors profile page will become publicly visible;</li>
        <li>Other GitHub users and orgs will be able to sponsor them;</li>
        <li>They will receive an email telling them they've been approved.</li>
      </ul>
    </div>
  </div>
<% end %>
