<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%= form_tag stafftools_sponsors_bulk_bans_path(filter: filter, query: query, order: order), hidden: true, class: "my-4 d-flex flex-justify-between js-sponsors-bulk-ban-listings-form js-sponsors-bulk-manage-listings-form" do %>
  <div class="Box col-9">
    <div class="Box-header py-2">
      <h3 class="Box-title">Ban maintainers from GitHub Sponsors</h3>
    </div>
    <div class="Box-body py-2">
      <div class="form-group mt-0">
        <div class="tag-input-container js-sponsors-bulk-manage-listings-tag-input js-multi-tag-input-container">
          <div class="js-tag-input-wrapper">
            <ul class="js-tag-input-selected-tags">
              <li class="tag-input js-tag-input-tag js-template d-none border rounded-2 d-inline-block p-1 pl-2 mb-2 ml-1">
                <span class="js-placeholder-tag-name"></span>
                <button type="button" class="remove js-remove js-sponsors-bulk-manage-listings-remove-tag border-0 color-bg-default m-0" tabindex="-1">
                  <%= primer_octicon(:x, "aria-label": "Remove maintainer") %>
                </button>
                <input type="hidden" name="sponsorable_logins[]" value="">
              </li>
            </ul>
            <auto-complete src="<%= stafftools_sponsors_bulk_bans_path %>" class="js-sponsors-bulk-manage-listings-autocomplete" for="bulk-ban-sponsorables-results">
              <input type="text" name="sponsorables_autocomplete" aria-label="Which maintainers do you want to ban?"
                class="form-control width-full" autocomplete="off" autofocus
                placeholder="Search usernames or select maintainers below" size="30">
              <ul id="bulk-ban-sponsorables-results" class="form-control"></ul>
            </auto-complete>
          </div>
        </div>
      </div>
      <div class="form-group mb-0">
        <div class="form-group-header">
          <label for="banned_reason">Ban reason (for internal use):</label>
        </div>
        <div class="form-group-body">
          <input type="text" id="banned_reason" name="banned_reason" class="input-sm form-control width-full"
            placeholder="e.g., suspected fraud, see https://github.com/github/platform-health-incidents/issues/431" required>
        </div>
      </div>
    </div>
    <div class="Box-footer py-2 form-actions border-top-0">
      <%= render Primer::ButtonComponent.new(type: :submit, scheme: :danger, data: { disable_invalid: true }).with_content("Ban from Sponsors") %>
    </div>
  </div>
  <div class="ml-4">
    <div class="py-2">
      <h3 class="Box-title">Ban implications</h3>
    </div>
    <div class="text-small">
      <p>When you ban users and organizations from GitHub Sponsors:</p>
      <ul class="ml-4">
        <li>Any sponsorships they are receiving will be cancelled;</li>
        <li>Their Sponsors profile will be disabled;</li>
        <li>Their sponsors will be emailed to inform them the maintainers are no longer participating in the program.</li>
      </ul>
    </div>
  </div>
<% end %>
