<%
  sponsors_sdn_playbook_url = "https://github.com/github/trade-compliance/blob/main/playbooks/sponsor-operations-screening-status-playbook.md"
%>
<tr>
  <td colspan="8" class="tiny no-wrap v-align-middle text-right">
    <%= render Primer::Beta::Label.new(scheme: :danger) do %>
      Blocked from payouts due to commercial interaction restrictions, <a class="Link--inTextBlock" href="<%= sponsors_sdn_playbook_url %>">learn more about trade compliance</a>.
    <% end %>
  </td>
</tr>
