<%# erblint:counter DeprecatedComponentsCounter 1 %>
<div class="Box-row d-flex flex-items-center" <%= test_selector("requires-additional-review-listing-stafftools") %>>
  <div class="flex-auto">
    <strong>Requires Additional Review</strong>
    <div class="text-small color-fg-muted">
      Mark this listing as requiring additional review.
    </div>
  </div>
  <%= form_tag stafftools_sponsors_member_listing_require_additional_review_path(@listing.sponsorable) do %>
    <%= render Primer::ButtonComponent.new(type: :submit).with_content("Require Additional Review") %>
  <% end %>
</div>
