<% [["Starred", starred], ["Yours", owned]].each do |header, gists| %>
  <div class="gist-quicksearch-result-group">
    <h2 class="gist-quicksearch-result-header">
      <%= header %>
    </h2>
    <div class="gist-quicksearch-hits">
      <% if gists.any? %>
        <%= render partial: "gists/searches/quick_hit", collection: gists, as: :gist %>
      <% else %>
        <span class="gist-quicksearch-no-results">No results.</span>
      <% end %>
    </div>
  </div>
<% end %>
