<%-
  view ||= PullRequests::DeploymentsBoxView.new(pull: pull, current_user: current_user, additional_container_classes: "py-0 my-3")
  gate_requests ||= []
-%>
<% if view.can_see_deployments? %>
  <div class="<%= view.container_classes %> pl-0 pl-md-3 ml-md-6">
    <div class="border color-border-default rounded-2 branch-action-item js-details-container js-transitionable">
      <% if view.deploys_for_current_head.any? %>
        <%= render Primer::Beta::Button.new(scheme: :link, float: :right, classes: "js-details-target", "aria-expanded": "false") do %>
          <span class="statuses-toggle-opened">Hide environments</span>
          <span class="statuses-toggle-closed">Show environments</span>
        <% end %>
      <% end %>

      <!-- We could pass view here, but since this partial is rendered directly by a controller action,
           it's easiest to just always pass a pull and have the view initialize the view -->
      <%= render :partial => "pull_requests/deployments_box", :locals => { pull: view.pull, gate_requests: gate_requests } %>
    </div>
  </div>
<% end %>
