<% if pull_comparison.diffs.too_big? %>
  <%
    # Diff has more than 300 changed files, load file tree async
    tree_params = {
      start_commit_oid: pull_comparison.start_commit.oid,
      end_commit_oid: pull_comparison.end_commit.oid,
      base_commit_oid: pull_comparison.base_commit.oid,
      w: params[:w]
    }
  %>
  <include-fragment src="<%= pull_request_file_tree_partial_path(tree_params) %>">
    <ul class="list-style-none">
      <li class="Skeleton mb-2" style="height:32px"></li>
      <% 3.times do %>
        <li class="px-2 py-1 d-flex">
          <div class="Skeleton octicon mt-1 mr-2" style="width:16px;height:16px;"></div>
          <div class="Skeleton Skeleton--text flex-1 flex-self-center f4">&nbsp;</div>
        </li>
      <% end %>
    </ul>
  </include-fragment>
<% else %>
  <% stats.record_render("pr_file_tree") do %>
    <div <%= test_selector('file-tree') %>>
      <%= render(PullRequests::FileTree::RootComponent.new(
        pull_comparison.diffs,
        codeowners: pull_comparison.codeowners,
        viewed_files: user_reviewed_files,
        default_hydro_payload: default_hydro_payload
      )) %>
    </div>
  <% end %>
<% end %>
