<div class="timeline-comment-wrapper timeline-new-comment composer">
  <%= timeline_comment_avatar_for(user: current_user) %>

  <div class="timeline-comment">
    <div class="discussion-topic-header">
      <input type="text" name="" value="" class="form-control input-lg input-block input-contrast"
        placeholder="Please verify your email address" disabled>
    </div>

    <div class="previewable-comment-form">
      <div class="comment-form-head tabnav">
        <nav class="tabnav-tabs" aria-label="Composer options">
          <span class="tabnav-tab write-tab selected">Write</span>
          <span class="tabnav-tab preview-tab ">Preview</span>
        </nav>
      </div>
      <%= render Primer::Beta::Blankslate.new do |component| %>
        <% component.with_visual_icon(icon: :mail) %>
        <% component.with_heading(tag: :h3).with_content("Verify your email address") %>
        <% component.with_description do %>
          <p>You need to <%= link_to "verify your email address", settings_email_preferences_path, class: "Link--inTextBlock" %> before you can create a pull request.</p>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
