<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<%
  user_requesting = pull.user_requesting(current_user)
%>

<%= render Primer::Beta::Flash.new(scheme: :warning, w: :full, mb: 3, p: 2, display: :flex, classes: "flex-items-center", test_selector: "review-request-banner") do %>
  <div class="flex-1 pl-2">
    <% if user_requesting == current_user %>
      This pull request is waiting on your review.
    <% else %>
      <a class="text-emphasized Link--primary" href="<%= user_path(user_requesting) %>"><%= user_requesting&.display_login %></a>
      requested your review on this pull request.
    <% end %>
  </div>
  <a class="btn btn-primary btn-sm ml-2" href="<%= gh_show_pull_request_path(pull) %>/files#submit-review" data-pjax="#repo-content-pjax-container" data-turbo-frame="repo-content-turbo-frame">
    Add your review
  </a>
<% end %>
