<%# Review status displayed in PR list issue meta %>

<% if pull_request.draft? %>
  <span class="d-inline-block ml-1">
    &bull;
    <a class="Link--muted"
        href="<%= pull_request_path(pull_request) %>#partial-pull-merging">
      Draft
    </a>
  </span>
<% elsif pull_request.merge_queue_enabled? && pull_request.in_merge_queue? %>
  <%
    repository = pull_request.repository
    branch = pull_request.base_ref
  %>
  <span class="d-inline-block ml-1">
    &bull;
    <a class="Link--muted"
        href="<%= merge_queue_path(repository.owner_display_login, repository.name, merge_queue_branch: branch) %>">
      Queued
    </a>
  </span>
<% else %>
  <%= render GitHub::BatchDeferredContentComponent.new(url: pull_request_review_decisions_path, inputs: { pull_request_id: pull_request.id }) do %>
    <span class="Skeleton d-inline-block ml-1 Skeleton--text">Loading…</span>
  <% end %>
<% end %>
