<div
  id="pull-state"
  class="js-socket-channel js-updatable-content"
  data-channel="<%= live_update_view_channel(GitHub::WebSocket::Channels.pull_request_state(pull)) %>"
  data-url="<%= pull_request_state_partial_path(id: pull) %>"
  data-gid="<%= pull.global_relay_id %>"
>
  <%= render PullRequests::StateComponent.new(
    state: pull.state.to_sym,
    is_draft: pull.draft?,
    reviewable_state: pull.reviewable_state,
  ) %>
</div>
