<% if pull_comparison.current? %>
  <div class="js-socket-channel js-updatable-content js-pull-refresh-on-pjax" data-channel="<%= live_update_view_channel(GitHub::WebSocket::Channels.pull_request(pull_comparison.pull)) %>" data-url="<%= show_partial_pull_request_comparison_path(:id => pull_comparison.pull, :partial => "pull_requests/stale_comparison", :start_commit_oid => pull_comparison.start_commit.oid, :end_commit_oid => pull_comparison.end_commit.oid, :base_commit_oid => pull_comparison.base_commit.oid) %>" data-gid="<%= pull_comparison.pull.global_relay_id %>"></div>
<% else %>
    <div class="stale-files-tab js-files-tab-stale ml-3">
      <a class="stale-files-tab-link" href="<%= pull_request_path(pull_comparison.pull) %>/files">Refresh</a>
    </div>
<% end %>
