<% open_pull_request_task = OnboardingTasks::Organizations::OpenPullRequest.new(taskable: current_repository.organization, user: current_user) %>
<%= render(Onboarding::Organizations::TipComponent.new(
  organization: current_repository.organization,
  show_tip: params[:show_onboarding_guide_tip].present?,
  task: open_pull_request_task,
  mb: 3,
  )) do %>
  <h3 class="mb-1">Propose and collaborate on changes to a repository</h3>
  <div class="color-fg-muted">
    <p>
      The changes below are committed to a separate branch, named <strong class="color-fg-default">add-badges-to-readme</strong>.
      By creating a <a class="Link--inTextBlock"
        href="https://docs.github.com/github/collaborating-with-pull-requests/proposing-changes-to-your-work-with-pull-requests/about-pull-requests"
        target="_blank"
        rel="noopener noreferrer"
      >pull request</a> you'll be proposing that your team pull these changes into this repository's main branch.
    </p>
    <p>
      These particular changes propose revisions to the README file in this repository, which adds a badge indicating the status of two
      <a class="Link--inTextBlock"
      href="https://docs.github.com/actions" target="_blank"
      >GitHub Actions</a> workflows in your repository.
    </p>
    <p class="mb-0">
      <a class="Link--inTextBlock"
        href="https://docs.github.com/github/collaborating-with-issues-and-pull-requests/creating-a-pull-request"
        target="_blank"
        rel="noopener noreferrer"
      ><%= render(Primer::Beta::Octicon.new(icon: "file", color: :accent, mr: 1 )) %>Learn more about creating a pull request</a>
    </p>
  </div>
<% end %>
