<%# erblint:counter DeprecatedComponentsCounter 1 %>
<div class="merge-message">
  <%= render Primer::ButtonComponent.new(disabled: true) do %>
    <%= primer_octicon(:"git-merge") %>
    Merge pull request
  <% end %>

  <p class="alt-merge-options text-small">
    You’re not <a class="Link--inTextBlock" href="<%= docs_url "repositories/about-protected-branches" %>">authorized</a> to merge this pull request.
  </p>
</div>
