<% if announcement.present? %>
  <% content_for :enterprise_announcement_preview do %>
    <%= render(Site::Announcements::PreviewAnnouncementComponent.new(announcement, user_dismissible, owner)) %>
  <% end %>
<% else %>
  <% content_for :enterprise_announcement_preview do %>
    <div></div>
  <% end %>
<% end %>

<div class="Box Box--spacious col-6 mx-auto text-center mt-4 p-4 f4">
  <%= primer_octicon(:info) %>
  <% if announcement.present? %>
    The announcement banner will appear to users as shown above.
  <% else %>
    The announcement message is empty.
  <% end %>
</div>
