<% page_info title: "Sign out?" %>

<div class="auth-form Box p-4 mt-3">
  <%= form_tag kill_session_path, :method => 'post' do %>
    <h1 class="f2-light text-center">Are you sure you want to sign out?</h1>
    <!-- Using utilities to make button larger until btn-large is added to style guide -->
    <input type="submit" value="Sign out" class="btn btn-block f4 py-3 mt-5">
  <% end %>
</div>
