<%# rubocop:disable Lint/InstanceVariable %>
<% @display_message = @preview_message || @message %>
<% suspended = session.delete(:suspended_login) || "suspended" %> <%# intentional delete, don't want to leave the session variable %>

<div class="container"><%# erblint:disable DeprecatedCustomCss %>
  <div class="auth-form">
    <div class="auth-form-header">
      <h1>Account suspended</h1>
    </div>

    <div class="auth-form-body text-center">
      <%= github_simplified_markdown(@display_message) %>
    </div>

    <% if current_user && !current_user.suspended? %>
      <div class="auth-form-body text-center mt-3">
        Your <b><%= suspended %></b> account is suspended and could not be switched to. You are still signed into your <b><%= current_user.display_login %></b> account.

        <%= render Primer::Beta::Button.new(tag: :a, scheme: :primary, href: home_url, mt: 3) do "Return home" end %>
      </div>
    <% end %>
  </div>
</div>
