<%# rubocop:disable Lint/InstanceVariable %>
<% page_info title: "Two-factor authentication", class: "page-two-factor-auth session-authentication" %>

<div id="login" class="auth-form px-3">
  <div class="auth-form-header p-0">
    <h1>Two-factor authentication</h1>
  </div>

  <%= render(partial: "sessions/totp/sms_prompt", locals: {
    user: @user,
    form_type: "login"
  }) %>

  <%= render(Primer::Beta::BorderBox.new(mt: 3)) do |component| %>
    <%= component.with_body(p: 3) do %>
      <h2 id="problems-options" class="h5 mb-2">Having problems?</h2>
      <%= render(Sessions::TwoFactorAlternativesComponent.new(user: @user, prompt_type: "sms", list_label_id: "problems-options")) %>
    <% end %>
  <% end %>
</div>
