<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<%# erblint:counter GoogleAnalyticsDeprecation 1 %>
<div class="border-top color-bg-subtle p-3">
  <div class="d-sm-flex flex-items-center">
    <div>
      <%= image_tag "modules/organizations/github_for_teams.png", :width => 60, :height => 60, :class => "d-block mr-3", :alt => "GitHub for Teams" %>
    </div>
    <div class="d-flex flex-items-center flex-justify-between">
      <div>
        <h4 class="color-fg-default lh-condensed">Get team access controls and discussions for your contributors in an organization.</h4>
        <% unless current_user.dismissed_notice?("munich") %>
          <div>
            <p class="color-fg-muted mt-1 mb-0">
              <%= render Primer::Beta::Label.new(scheme: :orange, mr: 1, text_transform: :uppercase, title: "Label: New") do %>
                New
              <% end %>
              Private repos and unlimited members are free.</p>
          </div>
        <% end %>
      </div>
      <div>
        <a href="/organizations/new" class="btn" data-ga-click="Repository, click create org, location:collaborators;text:Create an organization">Create an organization</a>
      </div>
    </div>
  </div>
</div>
