<%# erblint:counter DeprecatedComponentsCounter 1 %>
<div class="js-org-level-repo-select-form">
  <div class="form-checkbox my-0 p-0">
    <div class="d-flex flex-items-center">
      <details class="select-menu details-reset details-overlay mb-2">
          <%= render Primer::ButtonComponent.new(tag: :summary, classes: "select-menu-button") do %>
            <% if @has_discussion_repo %>
              <span id="js-selected-repository-name" <%= test_selector("selected-repo-item") %>>
                <%= @discussion_repo.repository.full_name %>
              </span>
            <% else %>
              <span id="js-selected-repository-name">Choose a repository</span>
            <% end %>
          <% end %>
          <details-menu class="select-menu-modal position-absolute" style="z-index: 99;"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
            <div class="select-menu-filters">
              <div class="select-menu-text-filter">
                <remote-input
                  aria-owns="org-level-repository-menu-list"
                  src="<%= @repos_path %>">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Search for a repository"
                    aria-label="Search for a repository"
                    autocomplete="off"
                    autofocus>
                </remote-input>
              </div>
            </div>
            <div class="select-menu-list" id="org-level-repository-menu-list">
            </div>
          </details-menu>
      </details>
    </div>
  </div>
</div>
