<%
  page_info \
  title: "GitHub-hosted runner details for #{larger_runner.name} · #{this_business.name}",
  stafftools: stafftools_enterprise_path(this_business),
  selected_link: :business_actions_settings_larger_runner_details

  edit_button = content_tag(:div, class: ["ml-3"]) do
    render(Actions::LargerRunners::LargerRunnerEditButtonComponent.new(
      larger_runner: larger_runner,
      owner_settings: owner_settings,
      viewing_from_runner_group: viewing_from_runner_group))
  end

  remove_button = render(Actions::LargerRunners::LargerRunnerRemoveButtonComponent.new(
    larger_runner: larger_runner,
    owner_settings: owner_settings))

  buttons = content_tag(:div, class: ["d-flex"]) do
    concat remove_button if !larger_runner.is_in_deleting_state?
    concat edit_button if larger_runner.is_in_editable_state?
  end

  title = render(Actions::LargerRunners::LargerRunnerTitleWithIconComponent.new(larger_runner: larger_runner, owner_settings: owner_settings))

  header_description = render(Actions::LargerRunners::LargerRunnerHeaderDescriptionComponent.new(larger_runner: larger_runner, owner_settings: owner_settings, owner: this_business, network_configuration_name: network_configuration_name, image_gen_feature_enabled: image_generation_feature_enabled))

  banner_component = render(Actions::LargerRunners::LargerRunnerPublicIpBannerComponent.new(larger_runner: larger_runner, owner: this_business))
%>

<%= render layout: "businesses/layout", locals: {
    business: this_business,
    title: title,
    back_to_link_path: viewing_from_runner_group ? settings_actions_runner_group_enterprise_path(this_business.slug, id: larger_runner.runner_group_id) : settings_actions_runners_enterprise_path(this_business.slug),
    back_to_link_text: viewing_from_runner_group ? "runner group" : "runners",
    banner_component: banner_component,
    header_description: header_description,
    header_component_action: buttons
  } do %>

  <div data-hpc>
    <%= render(Actions::LargerRunnerComponent.new(larger_runner: larger_runner, owner_settings: owner_settings, check_runs: check_runs)) %>
  </div>
<% end %>
