<%
  page_info \
  title: "Runner groups · #{this_business.name}",
  selected_link: :business_actions_settings_runner_groups,
  stafftools: stafftools_enterprise_path(this_business)
%>

<%= render layout: "businesses/layout",
  locals: {
    business: this_business,
    title: "Actions",
    container_attributes: "itemscope itemtype='http://schema.org/Business'"
  } do %>

  <%= render "businesses/settings/actions/tabs", business: this_business, should_display_custom_images_tab: should_display_custom_images_tab %>

  <%= render(Actions::RunnerGroupsComponent.new(
    owner: this_business,
    owner_settings: Actions::EnterpriseRunnersView.new(settings_owner: this_business, current_user: current_user),
    runner_groups: runner_groups,
    disabled_runner_group_ids: disabled_runner_group_ids
  )) do |component| %>
    <% component.with_description do %>
      <p class="mb-0">
        Control access to your runners by specifying the organizations that are able to use your shared enterprise runners. New runners will be automatically assigned to the default group if no other group is specified.
      </p>
    <% end %>
  <% end %>
  <div class="paginate-container">
    <div class="pagination">
      <%= will_paginate(runner_groups) %>
    </div>
  </div>
<% end %>
