<div class="Box-body p-0">
  <% if sponsorships.present? %>
    <table class="stafftools-table">
      <thead>
        <tr>
          <th class="px-2">Status</th>
          <th class="px-2">Amount (USD)</th>
          <th class="px-2">Maintainer</th>
          <th class="px-2">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% sponsorships.each_with_index do |sponsorship, index| %>
          <%= render Stafftools::Sponsors::Invoiced::SponsorshipComponent.new(
            sponsorship: sponsorship,
            sponsor: sponsor,
            is_even_row: index.even?,
          ) %>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <%= render Primer::Beta::Blankslate.new(spacious: true) do |c| %>
      <% c.with_visual_icon(icon: "clock") %>
      <% c.with_heading(tag: :h2) do %>
        There aren&rsquo;t any sponsorships yet
      <% end %>
      <% c.with_description do %>
        @<%= sponsor %> hasn't funded any sponsorships yet.
      <% end %>
    <% end %>
  <% end %>

  <% if sponsorships.total_pages > 1 %>
    <div class="Box-footer text-center">
      <%= will_paginate sponsorships, params: {
        controller: "stafftools/sponsors/invoiced/sponsorships",
        action: "index",
        invoiced_sponsor_id: sponsor.to_param,
      }, "data-pjax" => "" %>
    </div>
  <% end %>
</div>
