<% if transfers.present? %>
  <table class="stafftools-table">
    <thead>
      <tr>
        <th class="px-2">Status</th>
        <th class="px-2">Transfer</th>
        <th class="px-2">Payment</th>
        <th class="px-2">Date</th>
        <th class="px-2 no-wrap text-center">Amount (USD)</th>
        <th class="px-2">Maintainer</th>
        <th class="px-2">Email</th>
        <th class="px-2">Sponsorship</th>
        <th class="px-2">Options</th>
      </tr>
    </thead>
    <tbody>
      <% transfers.each_with_index do |transfer, index| %>
        <%= render Stafftools::Sponsors::Invoiced::TransferComponent.new(
          transfer: transfer,
          sponsor: sponsor,
          is_even_row: index.even?,
        ) %>
      <% end %>
    </tbody>
  </table>
<% else %>
  <%= render Primer::Beta::Blankslate.new(spacious: true) do |c| %>
    <% c.with_visual_icon(icon: "clock") %>
    <% c.with_heading(tag: :h2) do %>
      There aren&rsquo;t any transfers yet
    <% end %>
    <% c.with_description do %>
      We&rsquo;ve never created a transfer for an invoiced sponsorship for @<%= sponsor %>.
    <% end %>
  <% end %>
<% end %>

<% if transfers.total_pages > 1 %>
  <div class="Box-footer text-center">
    <%= will_paginate transfers, params: {
      controller: "stafftools/sponsors/invoiced/transfers",
      action: "index",
      invoiced_sponsor_id: sponsor.to_param,
    }, "data-pjax" => "" %>
  </div>
<% end %>
