<% page_info title: "Advanced Security" %>

<% if this_user.advanced_security_billable_entity? %>
  <%= render Stafftools::AdvancedSecurity::OrganizationCommittersFormComponent.new(
    this_user: this_user,
    entities: request.params[:entities],
  ) %>
<% else %>
<div class="Box Box--danger mb-3">
  <div class="Box-body text-bold" <%= test_selector("ghas-business-link") %>>
    To manage this organization's advanced security billing, see their parent enterprise <%= link_to this_user.business.name, stafftools_enterprise_path(this_user.business), class: "Link--inTextBlock" %>.
  </div>
</div>
<% end %>
