<%= render layout: 'layouts/repository_layout' do %>
  <%= render layout: "layouts/repository_container", locals: { repository: current_repository } do %>
    <div class="container-md px-3 px-md-4 mt-4">
      <%= yield %>
    </div>
  <% end %>
<% end %>
