<% page_info title: "Two-factor verification successful", class: "page-two-factor-auth session-authentication" %>

<div class="two-factor-container">
  <div id="success" class="auth-form px-3">
    <div class="auth-form-header p-0">
      <h1>2FA verification successful!</h1>
    </div>

    <div class="auth-form-body mt-3">
      <p>
        <b>Keep your recovery codes safe and easy to access</b>
      </p>

      <br>
      <p>
        As a reminder, recovery codes can be used as a second factor to authenticate in case you lose your device. If you don't have your recovery codes, you may lose access to your account.
      </p>

      <br>
      <p>
        Not sure where you saved them?
        <%= form_tag settings_auth_download_recovery_codes_path, :class => "d-inline" do -%>
          <%= render Primer::Beta::Button.new(scheme: :link, type: :submit, "data-ga-click": "2FA, download recovery codes, view 2fa recovery codes form") do %>
            Download your recovery codes
          <% end %>
        <% end -%>
      </p>

      <br>
      <%= render Primer::Beta::Button.new(test_selector: "2fa-checkup-back-button", tag: :a, href: return_to, scheme: :primary, block: true) do %>Done<% end %>
    </div>
  </div>
</div>
