<% customize_permission_task = OnboardingTasks::Organizations::CustomizePermission.new(taskable: current_organization, user: current_user) %>
<%= render(Onboarding::Organizations::TipComponent.new(
  organization: current_organization,
  show_tip: params[:enable_tip].present?,
  task: customize_permission_task,
  mb: 4,
)) do %>
  <h3 class="mb-1">Set everyone's base permissions for your code</h3>
  <div class="color-fg-muted">
    <p>
      Change the "base permissions" below that apply to all members of your organization when
      accessing any of its repositories. By default, members of an organization will have Read
      permissions to the organization's repositories.
    </p>
    <p>
      If someone with admin permissions to an organization's repository grants a member a higher level of
      permission for the repository, the higher level of permission overrides the base permission.
    </p>
    <p class="mb-0">
      <a
        href="<%= GitHub.help_url %>/organizations/managing-access-to-your-organizations-repositories"
        target="_blank"
      >
        <%= render(Primer::Beta::Octicon.new(:file, mr: 1)) %>
        Learn how to manage access to your organization's repositories
      </a>
    </p>
  </div>
<% end %>

<%= render(Onboarding::Organizations::CompletedGuidanceComponent.new(
  organization: current_organization,
  completed_task: customize_permission_task,
  show_tip: params[:enable_tip].present?,
  container_class: "mb-4"
)) %>
