<div class="full-button width-full" id="repo-delete-proceed-button-container">
  <% if show_verification_input? %>
    <%= render Primer::Alpha::TextField.new(
      name: :verification_field,
      label: verification_label,
      invalid: true,
      mb: 2,
      full_width: true,
      data: { repo_nwo:, test_selector: "repo-delete-proceed-confirmation" },
      classes: "js-repo-delete-proceed-confirmation",
    ) %>
    <input type="hidden" name="verify" value="<%= repo_nwo %>">
  <% end %>

  <%= render Primer::Beta::Button.new(
    type: button_type,
    scheme: last_stage? ? :danger : :default,
    block: true,
    id: "repo-delete-proceed-button",
    classes: "js-repo-delete-proceed-button",
    disabled: show_verification_input?,
    data: { next_stage:, test_selector: "repo-delete-proceed-button" }.compact,
  ) do %>
    <%= button_text %>
  <% end %>
</div>
