<%# erblint:counter DeprecatedInPrimerCounter 2 %>

<div class="d-sm-flex flex-wrap gutter-md-spacious mt-md-6 mb-5">
<% icon_list_items.each_with_index do |icon_list, i| %>
  <div class="><% if layout == "hanging" %>d-sm-inline-flex <% end %><% if columns == 2 %>col-md-6<% elsif columns == 3 %>col-md-6 col-lg-4<% end %> mb-6 <% if centered == true %>text-center mx-auto<% end %>">
    <div class="<% if layout == "hanging" %>mr-3 <% end %>mb-2 mb-md-0">
      <% if lazy_load == true %>
        <%= image_tag "#{icon_list[:icon]}", alt: "", width: 48, height: 48, loading: "lazy" %>
      <% else %>
        <%= image_tag "#{icon_list[:icon]}", alt: "", width: 48, height: 48 %>
      <% end %>
    </div>
    <h3 class="h6-mktg d-block mb-2">
      <%= GitHub::Goomba::SimplePipeline.to_html(icon_list[:title], cache_settings: { use_cache: true }) %>
    </h3>
    <div class="color-fg-muted Links--underline">
      <%= GitHub::Goomba::SimplePipeline.to_html(icon_list[:body], cache_settings: { use_cache: true }) %>
    </div>
  </div>
<% end %>
</div>
