<% unless logged_in? %>
  <div class="gist-detail-intro gist-banner pb-3">
    <div class="text-center container-lg px-3">
      <p class="lead">
        <%= I18n.t("gists.banner") %>
      </p>
    </div>
  </div>
<% end %>
