<details class="details-overlay details-reset">
  <summary
    class="<%= class_names(
      "Header-link",
    ) %>"
    aria-label="Create new…"
    <%= safe_analytics_click_attributes(
      category: "Header",
      action: "create new",
      label: "icon:add"
    ) %>
  >
    <%= primer_octicon(:plus) %> <span class="dropdown-caret"></span>
  </summary>
  <details-menu class="dropdown-menu dropdown-menu-sw"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
    <%= render "users/global_add", locals: { current_user: current_user } %>
  </details-menu>
</details>
