<% page_info(title: "GitHub Sponsors · Get sponsored") %>

<%= render Sponsors::Accounts::BreadcrumbsComponent.new(sponsorable: sponsorable) %>

<div data-hpc>
  <%= render Sponsors::Accounts::SignupComponent.new(
    sponsorable: sponsorable,
    listing: sponsors_listing,
  ) %>
</div>
