<%= render Primer::Beta::Subhead.new(spacious: true) do |component| %>
  <% component.with_heading(tag: :h2) { "Link Patreon account" } %>
<% end %>
<p>
  Connect a Patreon account for <strong>@<%= sponsor.display_login %></strong> to sponsor
  maintainers with. Get recognition on GitHub for sponsorships made on Patreon when the sponsored person has
  linked Patreon and GitHub, too, and has a public GitHub Sponsors profile.
</p>
<%= render(Sponsors::ConnectPatreonButtonComponent.new(user: sponsor, scope: :sponsor)) %>
