<%= render Primer::Beta::Subhead.new(spacious: true) do |component| %>
  <% component.with_heading(tag: :h2) { "Unlink Patreon account" } %>
<% end %>
<p>
  Disconnect the Patreon account <strong><%= patreon_email %></strong> for
  <strong>@<%= sponsor.display_login %></strong> to sponsor maintainers with. Any sponsorships made on Patreon will
  no longer receive recognition on GitHub.
</p>

<%= render(Sponsors::DisconnectPatreonButtonComponent.new(user: sponsor, scope: :sponsor)) %>
