<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%= form_tag @action, method: :put, class: "my-6" do %>
  <h3 class="text-normal mb-2"><%= title %></h3>

  <% if show_description? %>
    <p class="col-10 mb-2"> <%= description %>
  <% end %>

  <div class="col-10 form-checkbox <% unless @entity.can_enable_public_fork_pr_workflows_with_variables? %>color-fg-muted<% end %>">
    <label>
      <input
        type="checkbox"
        name="public_fork_pr_workflows_policy[send_variables]"
        class= "form-checkbox-details-trigger"
        <% unless @entity.can_enable_public_fork_pr_workflows_with_variables? %> disabled <% end %>
        <% if @entity.can_run_public_fork_pr_workflows_with_variables? %> checked <% end %>>
        Send variables to workflows from fork pull requests
        <p class="note">This tells Actions to send repository variables to
        workflows from pull requests originating from public repository forks.</p>
    </label>
  </div>

  <%= render(Primer::ButtonComponent.new(type: :submit, classes: "btn", "aria-label": "Save fork pull request workflows settings")) { "Save" } %>
<% end %>
