<%# erblint:counter DeprecatedComponentsCounter 1 %>
<variable-value>
<div>
  <div class="float-left" style="width: 100%" data-target="variable-value.parentDiv">
    <div class="overflow-hidden">
      <span style="white-space: nowrap" data-target="variable-value.valueText"><%= value %></span>
    </div>
  </div>
  <span class="hidden-text-expander inline pl-1 float-right" data-target="variable-value.toggleButton" hidden>
    <%= render Primer::ButtonComponent.new(classes: "ellipsis-expander", aria: { expanded: false }, data: { action: "click:variable-value#toggleText"}) do %>
      &hellip;
    <% end %>
  </span>
</div>
