.lineHeightSpacious {
  line-height: var(--text-title-lineHeight-small, 1.5);
}

.warnFooter {
  margin-bottom: calc(var(--base-size-16) * -1);
  border-top: solid var(--borderWidth-thin) var(--borderColor-attention-muted);
}

/* stylelint-disable-next-line selector-max-type */
.bannerDismissButton>svg {
  margin-right: 0;
  color: var(--fgColor-muted, var(--color-fg-muted))
}

.gap6 {
  gap: var(--base-size-40) !important;
}
