/* stylelint-disable primer/spacing */

/* Adjust sharp corners on bottom of header when there's no body for the overall card */
.summaryCardHeaderNoBody {
  margin-bottom: calc(var(--borderWidth-thin, 1px)* -1);
  border-bottom-right-radius: var(--borderRadius-medium);
  border-bottom-left-radius: var(--borderRadius-medium);
}
