.asideHeading {
  font-size: var(--brand-text-size-100);
  /* stylelint-disable-next-line primer/colors */
  color: var(--brand-color-text-muted);
  text-transform: uppercase;
  letter-spacing: 0.031rem;
}

@media screen and (max-width: 63.25rem) {
  .asideHeading {
    display: flex;
    height: 45px;
    align-items: center;
  }
}


@media screen and (max-width: 63.25rem) {
  .asideHeading {
    padding-inline-start: var(--base-size-12);
  }
}
