<div class="setup-header">
  <h1>Redeem your coupon</h1>
  <p class="lead">
    You’re getting <strong><%= view.discount_amount %></strong>
    <% if view.coupon.plan.present? %>
      the <%= view.coupon.plan_display_name %> plan
    <% end %> for <strong><%= view.discount_duration %></strong>. You lucky cat.
  </p>
</div>
