<% if logged_in? %>
  <h2>FAQs</h2>
  <%= render "site/org_faqs" %>
<% else %>
  <h2>You’ll love GitHub</h2>
  <ul class="features-list">
    <li><strong>Unlimited</strong> collaborators</li>
    <li><strong>Unlimited</strong> public repositories</li>

    <li class="list-divider"></li>

    <li><%= primer_octicon(:check) %> Great communication</li>
    <li><%= primer_octicon(:check) %> Frictionless development</li>
    <li><%= primer_octicon(:check) %> Open source community</li>
  </ul>
<% end %>
