.completedIcon {
  display: inline-block;
  overflow: visible;
  vertical-align: text-bottom;
  transform: rotate(-90deg);
}

.animatedCircle {
  transition: stroke-dashoffset 0.35s;
}

.circleProgressShade {
  opacity: 0.25;
}

.ringSvg {
  display: inline-flex;
  flex-shrink: 0;
}

.circle,
.circleProgress,
.circleProgressShade {
  transform-origin: 50px 50px;
}
