<div class="Box-row" role="radiogroup">
  <div class="form-checkbox mt-0 mb-2">
    <label>
      <input type="radio" name="block_option" value="warn-via-support" checked>
      <%= render Stafftools::Copilot::DetailComponent.new(
        "WARN VIA SUPPORT: ",
        "",
        "Allows a second chance via support ticket",
      ) %>
    </label>
  </div>
  <div class="form-checkbox mt-0 mb-2">
    <label>
      <input type="radio" name="block_option" value="ban">
      <%= render Stafftools::Copilot::DetailComponent.new(
        "BAN: ",
        "",
        "Appeal will likely be rejected",
      ) %>
    </label>
  </div>
  <div class="form-checkbox my-0">
    <label>
      <input type="radio" name="block_option" value="superban">
      <%= render Stafftools::Copilot::DetailComponent.new(
        "SUPERBAN: ",
        "",
        "Also blocks payment method if any",
      ) %>
    </label>
  </div>
</div>
