<%= render(Primer::Beta::BorderBox.new(padding: :condensed, mt: 4)) do |component| %>
  <% component.with_header do |h| %>
    <% h.with_title(tag: :h2) do %>
      Copilot Metrics
    <% end %>
  <% end %>
  <% component.with_row do %>
    <div class="d-flex flex-justify-between flex-items-center">
      <div class="pr-2">
        <div class="d-flex flex-items-start flex-items-center">
          <%= form_tag stafftools_user_copilot_generate_csv_path(copilot_organization.organization_object.display_login), :method => :post do %>
            <%= render(Primer::Beta::ButtonGroup.new) do |component| %>
              <% component.with_button(type: :submit, id: "copilot-export-button", test_selector: "copilot-export-button") do |button| %>
                <% button.with_leading_visual_icon(icon: :download) %>
                Export Organization Seat Details
              <% end %>
              <% component.with_button(tag: :a, href: base_url + "?q=" + acceptances_by_language_query, target: "_blank") { "View Acceptances In App Insights" } %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
