<%= render(Primer::Beta::BorderBox.new(padding: :condensed, mt: 4)) do |component| %>
  <% component.with_header do |h| %>
    <% h.with_title(tag: :h2) do %>
      Copilot Seat Assignment History
    <% end %>
  <% end %>
  <% @seat_history.each do |key, seat| %>
    <% component.with_row do %>
      <div class="d-flex mb-3">
        <div class="col-6 d-flex flex-items-center">
          <%= key %>
        </div>
        <div class="col-6 d-flex flex-justify-end">
          <%= seat[:added] %> added, <%= seat[:deleted] %> deleted
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
