<div class="form-group required">
  <div class="form-group-body">
    <%= check_box_tag("unblock_payment_method", id: "unblock_payment_method", checked: false, disabled: false)  %>
    <%= label_tag "unblock_payment_method", "Unblock payment method for user" %>
  </div>
</div>
