<%= render(Primer::Beta::BorderBox.new(padding: :condensed, mt: 4, mb: 4)) do |component| %>
  <% component.with_header do |h| %>
    <% h.with_title(tag: :h2) do %>
      Copilot Waitlist Memberships <a href="https://admin.github.com/stafftools/betas/">(view betas)</a>
    <% end %>
  <% end %>
  <% early_access_memberships.each do |membership| %>
    <% beta = copilot_betas.find { |b| b.feature_slug == membership.feature_slug } %>
    <% component.with_row do %>
      <%= render Stafftools::Copilot::DetailComponent.new(
        beta.feature_name,
        membership.feature_enabled? ? "Onboarded" : "Not yet onboarded",
        "Whether this member has been onboarded from the #{beta.feature_name} waitlist",
        label_scheme:  membership.feature_enabled? ? :success : :danger
      ) %>
    <% end %>
  <% end %>
<% end %>
