<dl id="achievements" class="form-group">
  <dt class="f3"><label>Achievements</label></dt>
  <dd>
    <div class="form-checkbox m-0">
      <input type="hidden" name="organization[achievements_projects_opt_out]" value="0">
      <input
        type="checkbox"
        name="organization[achievements_projects_opt_out]"
        value="1"
        id="org_achievements_projects_opt_out"
        <% if current_organization.profile_settings.all_private_projects_opted_out_of_achievements_tracking? %>checked<% end %>
      >
      <label for="org_achievements_projects_opt_out">
        Do not track <%= current_organization.safe_profile_name %>'s private repositories for achievements
      </label>
    </div>
    <p class="note">
      None of the contributions or events that occur in <%= current_organization.safe_profile_name %>'s
      private repositories will count towards the progress of any
      achievements for any user. This will only affect future contributions
      and events. Any progress, or awarded achievements, that any user has
      already earned will not be affected.
    </p>
  </dd>
</dl>
