<% page_info title: "Potential sponsorships", selected_link: :potential_sponsorships, container_xl: true %>

<%= render layout: "stafftools/stafftools" do %>
  <%= render Primer::Beta::Subhead.new do |component| %>
    <% component.with_heading(tag: :h1) do %>
      Potential sponsorships
      <%= render Primer::Beta::Label.new(
        vertical_align: :middle,
      ).with_content(potential_sponsorships.total_entries.to_s) %>
    <% end %>
    <% component.with_description do %>
      When someone wants to sponsor a maintainer but the maintainer has not created a GitHub Sponsors profile,
      log a potential sponsorship and we'll tell the maintainer someone wants to sponsor them.
    <% end %>
  <% end %>

  <turbo-frame id="potential-sponsorships-container" data-turbo-action="advance">
    <div id="potential-sponsorships-container-pjax">
      <%= render Stafftools::Sponsors::PotentialSponsorshipsListComponent.new(
        potential_sponsorships: potential_sponsorships,
      ) %>
    </div>
  </turbo-frame>
<% end %>
