<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% view = Admin::LockedRepoView.new :current_user => current_user, :current_repository => current_repository %>

<%
  page_info \
    description: "This private repository is currently locked. Unlock it in stafftools.",
    container_xl: true,
    dashboard_pinnable_item_id: current_repository.global_relay_id,
    richweb: {
      title: current_repository.name_with_display_owner,
      url: repository_url(current_repository),
    }
%>

<%= render layout: "layouts/repository_container", locals: { repository: current_repository } do %>
<div class="clearfix container-xl px-3 px-md-4 px-lg-5 mt-4">
  <%= render Primer::BlankslateComponent.new(
    icon: "lock",
    title: "This repository is locked.",
    narrow: true,
  ) do %>
    <% if view.show_github_repo_message? %>
      <p>
        This repository belongs to GitHub, but you aren’t on a team that can view it.
        If you need to access this repository, ask one of the
        <%= link_to "owners", org_owners_path(view.github_org), class: "Link--inTextBlock" %>
        to add you to the appropriate team.
      </p>
    <% elsif view.show_unlock? %>
      <div class="my-2">
        This private repository is currently <strong>locked.</strong>
        <%= link_to "Unlock it in stafftools", gh_security_stafftools_repository_path(current_repository), class: "Link--inTextBlock" %>.
    <% else %>
      <p>
        Open a pull request to add yourself to
        <a class="Link--inTextBlock" href="https://github.com/github/entitlements/blob/master/github.com/stafftools/can-unlock-repos-with-owners-permission.txt">`can-unlock-repos-with-owners-permission`</a>
        to gain the ability to unlock repositories.
      </p>
    <% end %>
  <% end %>
</div>
<% end %>
