<%= render Site::SectionComponent.new do %>
  <div class="p-responsive">
    <h2 class="h5-mktg">Explore more from GitHub</h2>
    <hr class="mb-3">

    <%= render(Primer::Alpha::OcticonSymbols.new(icons: [{ symbol: "link-external" }])) %>
    <%= render(Primer::Alpha::OcticonSymbols.new(icons: [{ symbol: "chevron-right" }])) %>

    <div class="clearfix gutter f4-mktg d-lg-flex">
      <% @cards.each_with_index do |card, i|
        icon_theme = @themes[i % @themes.length] %>
        <%= render Site::Contentful::CustomerStories::CardLinkComponent.new(**card, icon_theme: icon_theme, analytics: {category: "Customer stories explore more"}, card_count: @cards.length) %>
      <% end %>
    </div>
  </div>
<% end %>
