<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% if should_show_free_org_restricted_banner?(organization) %>
  <div>
    <%= render Primer::Beta::Flash.new(full: true, scheme: :warning, classes: "js-notice") do %>
    <div>
      <%= form_tag dismiss_notice_path(Billing::OFACCompliance::FREE_ORG_NOTICE_FLAG), class: "js-notice-dismiss" do %>
        <%= render Primer::Beta::CloseButton.new(type: :submit, float: :right, "aria-label": "Hide this notice") %>
      <% end %>
      <div class="container-md">
        <%= trade_controls_free_org_restricted_notice %>
      </div>
    </div>
  <% end %>
<% end %>
