<% unless header_redesign_enabled? %>
  <h1 class="h3 lh-condensed mt-3 mb-1">
    <a class="color-fg-default no-underline" href="<%= user_path(view.organization) %>" data-name="<%= view.organization.name %>">
      <%= view.organization_avatar(30, "avatar float-left") %>
      <%= view.organization.safe_profile_name %>
    </a>
  </h1>
<% end %>
