<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% page_info title: "Download data export" %>

<div class="container-lg">
  <%= render Primer::BlankslateComponent.new(
    icon: "download",
    title: "Your data export download will begin shortly",
    mt: 5,
    "data-hpc": ""
  ) do %>
    <p>
      If the download doesn't start automatically,
      please <a class="Link--inTextBlock" href="<%= redirect_url %>">click here to continue</a>.
    </p>
  <% end %>
</div>
