<%# erblint:counter DeprecatedComponentsCounter 1 %>
<details class="details-reset details-overlay select-menu d-inline-block mr-2" <%= test_selector "organization-filter" %>>
  <%= render Primer::ButtonComponent.new(tag: :summary, classes: "select-menu-button") do %>
    Organization
  <% end %>
  <details-menu class="select-menu-modal position-absolute" style="z-index: 99;"
    src="<%= enterprise_org_filter_menu_content_path(this_business, "collaborators", query: query, q: params[:q]) %>"
    preload><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
    <div class="select-menu-header">
      <span class="select-menu-title">Filter by organization</span>
    </div>
    <div class="select-menu-filters">
      <div class="select-menu-text-filter">
        <input type="text" id="orgs-filter-field" class="form-control js-filterable-field"
          placeholder="Filter organizations" aria-label="Filter organizations"
          autocomplete="off" autofocus>
      </div>
    </div>
    <include-fragment aria-label="Loading">
      <%= render(Primer::Beta::Spinner.new(my: 6, mx: :auto, display: :block)) %>
    </include-fragment>
  </details-menu>
</details>
