<% page_info sticky_footer: true, class: "f4" %>

<div class="container-lg py-5">
  <h1 class="h1-mktg">
		<%= _("Subscription confirmed for #{email}!") %>
	</h1>
  <p class="f2-mktg mt-2">
    <%= _("You'll now receive emails about %{t}.", t: topic[:name]) %>
  </p>
  <p class="f2-mktg mt-2">
    <%= _("To manage other communication permissions for this email,") %>
    <%= render(Primer::Beta::Link.new(href: settings_email_subscriptions_path(params: cpm_link_params))) { _("click here") } %>
  </p>
</div>
