<section aria-label="GitHub Mobile App Banner" class="app-banner d-flex flex-items-center flex-content-center px-3 py-2 border-bottom">
  <div class="d-flex mr-3">
    <div class="app-banner-icon color-shadow-small rounded-2">
      <%= primer_octicon("mark-github", size: :medium) %>
    </div>
  </div>
  <div class="flex-1 lh-condensed">
    <span class="app-banner-title text-semibold">GitHub</span><br>
    <span class="app-banner-text f6"><%= current_user_has_mobile_app? ? "Open in" : "Get" %> the GitHub app</span>
  </div>
  <% if current_user_has_mobile_app? %>
    <%= link_to "Open", deeplink_url, class: "btn", aria: { label: "Open this page in the GitHub app" } %>
  <% else %>
    <%= link_to "Get", mobile_store_url, class: "btn", aria: { label: "Get the GitHub app" } %>
  <% end %>
</section>
