<%# erblint:counter DeprecatedComponentsCounter 1 %>
<div class="previewable-comment-form">
  <div class="comment-form-head tabnav">
    <div class="tabnav-tabs">
      <span class="tabnav-tab write-tab selected">Write</span>
      <span class="tabnav-tab preview-tab">Preview</span>
    </div>
  </div>
  <%= render Primer::BlankslateComponent.new(icon: octicon, test_selector: "limited-conversation-blankslate") do %>
    <p class="<%= class_names(
      "mx-3",
      "color-fg-danger" => notifiable_block?,
    ) %>"><%= message %></p>
  <% end %>
</div>
