<include-fragment
  <%= test_selector("comment_edit_form_deferred") %>
  loading="lazy"
  src="<%= src %>"
  class="previewable-comment-form js-comment-edit-form-deferred-include-fragment"
>
  <p class="text-center mt-3" data-hide-on-error>
    <%= render(Primer::Beta::Spinner.new("aria-label": "Loading...")) %>
  </p>
  <p class="ml-1 mb-2 mt-2" data-show-on-error hidden>
    <%= primer_octicon(:alert) %>
    Sorry, something went wrong.
  </p>
</include-fragment>
