.spinner {
  display: flex;
  justify-content: space-around;
  padding: var(--base-size-8);
}

.safe-html-box {
  max-width: 100%;
  font-size: 14px;

  /* stylelint-disable-next-line selector-max-type */
  & > div > :last-child {
    margin-bottom: 0;
  }
}
