<% cache_if @cache, cache_key do %>
  <div class="color-bg-subtle py-6 <%= @classes if @classes.present? %>">
    <div class="container-xl mx-auto p-responsive text-left mt-5">
      <h2 class="h5-mktg mb-2"><%= @header %></h2>

      <div class="d-md-flex flex-wrap flex-justify-center gutter my-5 my-md-6">
        <% cards.each do |card| %>
          <%= card %>
        <% end %>

        <% if @cards.present? %>
          <% @cards.each do |card| %>
            <%= render(Site::CardComponent.new(**card)) %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
