<%= content_tag(:div,
  class: wrapper_classes,
  data: data_attributes,
  **@options
) do %>
  <% if @container == true %><div class="<%= container_classes %>"><% end %>
    <%= content %>
  <% if @container == true %></div><% end %>
<% end %>
