<div class="issue-card project-card position-relative rounded-2 color-shadow-small color-bg-default my-2 mx-0 border ws-normal">
  <%= render partial: "projects/cards/reference", locals: {
        reference: reference,
        project: local_assigns[:project],
        show_repository: local_assigns[:show_repository]
      } %>
</div>
