<%
  number_to_show = 4
  pull_requests_to_show = pull_requests.first(number_to_show)
%>
<% pull_requests_to_show.each do |pull_request| %>
  <%= render partial: "projects/cards/closing_reference",
    locals: { card: card, pull_request: pull_request}
  %>
<% end %>

<% if pull_requests.count > number_to_show %>
  <div class="ml-2 mb-2">
    <%= link_to "See all in full issue",
        issue_or_pull_request_path(card.content),
        class: "text-small"
    %>
  </div>
<% end %>
