<div class="rounded-2 color-shadow-small border m-2">
  <div class="position-relative pl-5 p-2 js-issue-note-reference js-project-issue-details-container"
    <% ProjectCard.filter_attrs_for_content(issue, viewer: current_user).each do |attr_name, attr_value| %>
      data-card-<%= attr_name %>='<%= Array.wrap(attr_value).to_json %>'
    <% end %>
    >
    <%= render partial: "projects/cards/issue_details", locals: {
          issue: issue,
          render_task_list: true,
          project: project,
          status_direction: local_assigns[:status_direction],
          show_repository: true
        } %>
  </div>

  <% if issue.pull_request? %>
    <%= render partial: "projects/cards/review_status", locals: { pull_request: issue.pull_request } %>
  <% end %>
</div>
