<div class="mx-2 mt-2">
  <small class="color-fg-muted">
    <%= render(Primer::Beta::Octicon.new(icon: "alert")) %>
    This <a class="Link--inTextBlock" href="#card-<%= card.id %>">issue</a> is already in this project.
  </small>
</div>
