<div class="position-relative pl-5 p-2 js-project-issue-details-container">
  <% case reference %>
  <% when Issue %>
    <%= render partial: "projects/cards/issue_details", locals: {
          issue: reference,
          render_task_list: true,
          project: project,
          show_repository: local_assigns[:show_repository]
        } %>
  <% when Project %>
    <%= render partial: "projects/cards/project_details", locals: { project: reference } %>
  <% when DiscussionPost %>
    <%= render partial: "projects/cards/discussion_details", locals: { discussion: reference } %>
  <% end %>
</div>
