<%# erblint:counter DeprecatedInPrimerCounter 3 %>

<% if pull_request.draft? %>
  <div class="border-top position-relative pl-5 p-2 color-fg-muted text-small">
    <span>Draft</span>
  </div>
<% else %>
  <%-
    reviews_required = pull_request.base_branch_rule_evaluator&.pull_request_reviews_required?
    review_decision = pull_request.cached_merge_state(viewer: current_user).pull_request_review_policy_decision

    changes_requested = review_decision&.changes_requested?
    approved = review_decision&.approved?
    more_reviews_required = reviews_required && review_decision&.more_reviews_required?

    show_review_status = changes_requested || approved || more_reviews_required
  -%>

  <% if show_review_status %>
    <div class="border-top position-relative pl-5 p-2 color-fg-muted text-small">
      <%= primer_octicon(:eye, style: "top: 9px", position: :absolute, classes: "card-octicon") %>
      <% if changes_requested %>
        <span class="tooltipped tooltipped-ne"
              aria-label="<%= pluralize(pull_request.latest_enforced_reviews_count_for(:changes_requested), 'review') %> requesting changes"><%# erblint:disable GitHub::Accessibility::NoAriaLabelMisuse, Primer::Accessibility::TooltippedMigration %>
          Changes requested
        </span>
      <% elsif approved %>
        <span class="tooltipped tooltipped-ne"
              aria-label="<%= pluralize(pull_request.latest_enforced_reviews_count_for(:approved), 'review approval') %>"><%# erblint:disable GitHub::Accessibility::NoAriaLabelMisuse, Primer::Accessibility::TooltippedMigration %>
          Changes approved
        </span>
      <% elsif more_reviews_required %>
        <span class="tooltipped tooltipped-ne"
              aria-label="Review required before merging"><%# erblint:disable GitHub::Accessibility::NoAriaLabelMisuse, Primer::Accessibility::TooltippedMigration %>
          Review required
        </span>
      <% end %>
    </div>
  <% end %>
<% end %>
