<div class="Box-row color-bg-subtle d-flex">
  <div class="mr-1" style="width: 20px;">
    <%= render Primer::Beta::Octicon.new(icon: profile_status_icon, color: profile_status_color) %>
  </div>
  <div class="flex-auto">
    Fill out your <a class="Link--inTextBlock" href="<%= sponsorable_dashboard_profile_path(sponsorable_login) %>">profile details</a>
  </div>
</div>
