<div class="Box-row color-bg-subtle d-flex">
  <div class="mr-1" style="width: 20px;">
    <%= render Primer::Beta::Octicon.new(icon: two_factor_status_icon, color: two_factor_status_color) %>
  </div>
  <div class="flex-auto">
    Enable <%= link_to("GitHub two-factor authentication", settings_security_path, target: "_blank", class: "Link--inTextBlock") %> for your account.
    <% if two_factor_recommended? %>
      <p class="pt-1 mb-0">
        To add another layer of security, enable two-factor authentication
        <%= link_to("for the #{sponsorable.display_login} organization", settings_org_security_path(sponsorable.display_login), target: "_blank", class: "Link--inTextBlock") %>
      </p>
    <% end %>
  </div>
</div>
