<div class="p-responsive d-flex flex-wrap container-lg px-md-2 mt-md-4" <%= test_selector("team-settings-sidebar-component") %>>
  <div class="col-md-3 col-12 pr-md-4 pr-0">
    <%= render(Primer::Experimental::NavigationList.new(
      aria: { label: "Team settings" },
      selected_item_id: selected_link,
      item_classes: "org-menu-item",
      nav_classes: "org-sub-menu")
    ) do |component| %>
      <% component.with_item(href: edit_team_path(org: org_login, team_slug: team_slug)) do |item| %>
        <% item.with_leading_visual_icon(icon: :gear) %>
        General
      <% end %>
      <% component.with_item(href: edit_team_review_assignment_path(org: org_login, team_slug: team_slug)) do |item| %>
        <% item.with_leading_visual_icon(icon: :"code-review") %>
        Code review
      <% end %>
      <% unless GitHub.enterprise? %>
        <% component.with_item(href: team_reminders_path(org: org_login, team_slug: team_slug)) do |item| %>
          <% item.with_leading_visual_icon(icon: :clock) %>
          Scheduled reminders
        <% end %>
      <% end %>
    <% end %>
  </div>

  <div class="col-12 col-md-9 px-2 pt-2 pt-3 pt-md-0">
    <%= content %>
  </div>
</div>
