<% page_info \
  title: page.title,
  description: page.seo.description,
  richweb: {
    title: page.seo.title,
    url: request.original_url,
    description: page.seo.description,
    image: page.seo.image.url
  }
%>

<div class="container-xl p-responsive">
  <%= render(Primer::Beta::Breadcrumbs.new(mt: 4)) do |component| %>
    <% component.with_item(href: about_path) do %>About<% end %>
    <% component.with_item(href: request.path) do %><%= page.title %><% end %>
  <% end %>
</div>

<div class="container-lg p-responsive pt-7" data-hpc>
  <%= render Site::Contentful::HeroSimpleComponent.new(heading: page.content.hero.heading, subheading: page.content.hero.subheading) %>
</div>

<% page.content.sections.each do |section| %>
  <%= render Site::Contentful::SectionComponent.new(section: section) %>
<% end %>
