<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%= render Primer::Beta::Flash.new(scheme: :warning, display: :flex, mt: 3, pt: 2, pb: 2, test_selector: "dependabot-updates-paused-pull-request-banner") do %>
  <p class="mt-0">
    <%= primer_octicon(:clock, mr: 3) %>
  </p>
  <div class="flex-column">
    <p class="text-bold mb-2 d-inline-block">Dependabot updates are paused</p>
    <p>
      We noticed you haven't used Dependabot in a while, so we've paused automated Dependabot updates for this repository.
      To resume, simply interact with Dependabot. <br> For example, merge a Dependabot pull request or use <b>@dependabot rebase</b>.
      <%= render(Primer::Beta::Link.new(href: dependabot_prs_link, classes: "Link--inTextBlock")) { "See open Dependabot pull requests" } %> or
      <%= render(Primer::Beta::Link.new(href: docs_link, classes: "Link--inTextBlock")) { "learn more about pausing of activity." } %>
    </p>
  </div>
<% end %>
