<%= render(PullRequests::TimelineEvents::TimelineItemComponent.new(issue_event: issue_event, render_actor: false, icon: "git-branch", bg: badge_bg, color: :on_emphasis)) do |component| %>
  <% component.with_body do %>
    <% if action == :success %>
      Base automatically changed from
    <% elsif action == :failure %>
      An error occurred while trying to automatically change base from
    <% end %>
    <span class="commit-ref user-select-contain">
      <span class="css-truncate-target"><%= old_base %></span>
    </span> to
    <span class="commit-ref user-select-contain">
      <span class="css-truncate-target"><%= new_base %></span>
    </span>
  <% end %>
<% end %>
