<%= render(PullRequests::TimelineEvents::TimelineItemComponent.new(issue_event: issue_event, render_actor: false, icon: octicon_symbol)) do |component| %>
  <% component.with_body do %>
    <% if automatically_disabled? %>
      auto-merge was automatically disabled
    <% else %>
      <%= render PullRequests::TimelineEvents::ActorComponent.new(actor: issue_event.event_actor(viewer: current_user)) %><%= action_message %>
    <% end %>
  <% end %>
  <% if automatically_disabled? %>
    <% component.with_additional_details do %>
      <p class="text-small"><%= reason %></p>
    <% end %>
  <% end %>
<% end %>
