<%= render(PullRequests::TimelineEvents::TimelineItemComponent.new(issue_event: issue_event, icon: "git-branch")) do |component| %>
  <% component.with_body do %>
    changed the base branch from
    <span class="branch-name">
      <span class="css-overflow-wrap-anywhere"><%= previous_ref_name %></span>
    </span>
    to
    <span class="branch-name">
      <span class="css-overflow-wrap-anywhere"><%= current_ref_name %></span>
    </span>
  <% end %>
<% end %>
