<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%= render(PullRequests::TimelineEvents::TimelineItemComponent.new(issue_event: issue_event, icon: "git-branch")) do |component| %>
  <% component.with_body do %>
    deleted the branch
    <span class="commit-ref user-select-contain width-fit">
      <%= render(Primer::Truncate.new(tag: :span)) { ref_name } %>
    </span>
  <% end %>
<% end %>
