<span class="commit-ref user-select-contain">
  <span class="base-ref">
    <%# This is all intentionally written on one line so that there is no extra
      # space between the ":" and the following span containing the branch name. %>
    <% if pull_request.cross_repo? %><span class="css-truncate-target user"><%= repository.owner_display_login %></span>:<% end %><span class="css-truncate-target"><%= pull_request.display_base_ref_name %></span>
  </span>
</span>
