<%= render(PullRequests::TimelineEvents::TimelineItemComponent.new(issue_event: first_event, icon: "x")) do |component| %>
  <% component.with_body do %>
    <%= render description_component %>

    <% if commit_oid %>
      via
      <code>
        <%= render(Primer::Beta::Link.new(href: commit_path, scheme: :secondary)) { abbreviated_commit_oid } %>
      </code>
    <% end %>
  <% end %>

  <% if dismissal_message_html.present? %>
    <% component.with_additional_details do %>
      <div class="timeline-comment timeline-comment--caret timeline-comment--caret-nw mt-3 ml-n2">
        <div class="comment-body markdown-body">
          <%= dismissal_message_html %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
