<%# formatting of conditions is weird in this partial so that when the results of multiple calls
  # are joined together there is no trailing space preceding the comma.
  #
  # NOTE: Lack of trailing newline is intentional for the same reason. If you forget this,
  #   tests will fail 😼 %>
<% if team.nil? %>
  <span class="text-bold color-fg-default"><%= GitHub.ghost_user_login %></span><% else %>
  <%= link_to content_tag(:span, team.combined_slug, class: "Link--primary text-bold"), resource_path.to_s, data: hovercard_data_attributes_for_team(team) %><% end %>