<%# formatting of conditions is weird in this partial so that when the results of multiple calls
  # are joined together there is no trailing space preceding the comma.
  #
  # NOTE: Lack of trailing newline is intentional for the same reason. If you forget this,
  #   tests will fail 😼 %>
<%- if user.nil? -%>
<span class="text-bold color-fg-default"><%= GitHub.ghost_user_login %></span>
<%- else -%>
<%= profile_link(user) do -%><span class="Link--primary text-bold"><%= helpers.user_display_login_or_bot_integration_name(user) -%></span><%- end -%><%- end -%>