<%# erblint:counter DeprecatedComponentsCounter 1 %>
<div class="js-project-activity-pane Details">
  <%= render partial: "stafftools/staffbar/project_stats" %>

  <%= form_tag project_activity_resource_path, class: "js-project-activity-form", method: :get, autocomplete: "off" do %>
    <div class="border-bottom color-bg-attention Details-content--hidden">
      <%= render Primer::ButtonComponent.new(scheme: :link, ml: 3, mt: 2, mb: 2, classes: "Link--secondary", type: :submit) do %>
        View new activity
      <% end %>
    </div>
  <% end %>

  <ul class="list-style-none js-project-activity-container">
    <include-fragment class="js-project-activity-results" data-project-activity-url="<%= project_activity_resource_path %>">
      <div class="text-center py-3 f5 color-fg-muted">Loading activity</div>
    </include-fragment>
  </ul>
</div>
