<% deliveries_view.deliveries.each do |delivery| %>
  <% deliveries_view.take_outages_after(delivery.delivered_at).each do |outage| %>
    <li class="hook-delivery-item">
      <p class="flash flash-error mb-0">
        Due to an incident, webhooks were not delivered from
        <time>
          <%= Time.parse(outage["from"]).in_time_zone(Time.zone).strftime("%Y-%m-%d %H:%M:%S") %>
        </time>
        to
        <time>
          <%= Time.parse(outage["to"]).in_time_zone(Time.zone).strftime("%Y-%m-%d %H:%M:%S") %>
        </time>
      </p>
    </li>
  <% end %>

  <%= render "hook_deliveries/delivery_log", delivery: delivery, hook: current_hook %>
<% end %>
