<%# erblint:counter DeprecatedComponentsCounter 1 %>
<li>
  <%= render Primer::ButtonComponent.new("data-url": hook_deliveries_path(hook, last_delivery_guid: last_delivery_guid, next_cursor: next_cursor, deliveries_q: hook_deliveries_query, fragment: true), block: true, classes: "js-hook-deliveries-pagination-button", "data-sudo-required": "true") do %>
    Load more deliveries
  <% end %>
</li>
