<poll-include-fragment src="<%= hook_redeliveries_path(current_hook, guid: delivery_guid, updated_after: Time.now.utc.iso8601) %>">
  <p data-hide-on-error>
    <%= image_tag 'spinners/octocat-spinner-32.gif', :size => "16x16", :class => "spinner", :alt => "" %>
    Loading deliveries…
  </p>

  <p class="flash flash-error" data-show-on-error hidden>
    <%= render(Primer::Beta::Octicon.new(icon: "alert")) %>
    Sorry, something went wrong while fetching the redelivery details.
  </p>
</poll-include-fragment>
