<% if delivery_view.present? %>
<tab-container class="hook-delivery-container" >
  <% if current_hook.webhook? || current_hook.cli_hook? %>
    <%= render "hook_deliveries/webhook_delivery", delivery_view: delivery_view %>
  <% else %>
    <%# TODO do we even have service deliveries/non webhooks anymore %>
    <%= render "hook_deliveries/service_delivery", delivery_view: delivery_view %>
  <% end %>
</tab-container>
<% else %>
  <p class="flash flash-warn mb-0 mt-2">
    We were unable to retrieve this delivery at this time. Please try again later.
  </p>
<% end %>
