<% content = capture do %>
  <div class="clearfix stafftools-group" id="stafftools">
    <%= render :partial => "navigation/biztools" %>

    <div class="float-left col-9 pl-3">
      <%= yield %>
    </div>
  </div>
<% end %>

<% if pjax? %>
  <%= content %>
<% else %>
  <div id="page-stafftools">
    <%= content %>
  </div>
<% end %>
