<% if render_as_table_cell? %>
  <%= render Primer::BaseComponent.new(tag: :td, **@kwargs.merge({ role: :gridcell })) %>
  <%= render Primer::Alpha::Tooltip.new(
    for_id: @id, type: :label, direction: :n, text: @description, test_selector: "contribution-graph-tooltip-#{@id}"
  ) %>
<% else %>
  <%= render Primer::Box.new(border_radius: 1, **@kwargs) do %>
    <span class="sr-only"><%= @description %></span>
  <% end %>
<% end %>
