<% content_for :content do %>
  <main>
    <div class="container-md p-responsive mt-4">
      <%= render Sponsors::Orgs::InvoicedBilling::AccountSwitcherComponent.new(
        selected_account: this_organization,
      ) %>
    </div>
    <%= yield %>
  </main>
<% end %>

<%= render template: 'layouts/application' %>
