/* Force emojis to a uniform size and alignment */
/* stylelint-disable selector-max-type */
.emojiIcon,
.emojiContainer img {
  width: 14px;
  height: 14px;
  /* stylelint-disable-next-line primer/spacing */
  margin-top: 1px;
  font-size: 14px;
  vertical-align: -2px;
}
