<% content_for :content do %>
  <main>
    <% page_info title: "GitHub Copilot",
                selected_link: :enterprise_licensing %>

    <%= render layout: "businesses/layout",
      locals: {
        business: this_business,
        title: "Copilot Business",
        container_attributes: "itemscope itemtype='http://schema.org/Business'",
        back_to_link_path: enterprise_licensing_path(this_business),
        back_to_link_text: "Enterprise licensing",
        header_component_action: link_to("Manage policies", settings_copilot_enterprise_path(this_business))
      } do %>
      <%= yield %>
    <% end %>
  </main>
<% end %>
<%= render template: 'layouts/application' %>
