<% page_info :title => "Reserved Login", :selected_link => :stafftool_reserved_logins_path %>

<%= render layout: "stafftools/stafftools" do %>
  <div class="Box mt-3">
    <ul>
      <% if reserved_login %>
        <li class="Box-row d-flex flex-items-center flex-justify-between">
          <%= render partial: "stafftools/reserved_logins/reserved_login", locals: { reserved_login: reserved_login } %>
        </li>
      <% else %>
        <div class="Box-row text-center">No reserved logins</div>
      <% end %>
    </ul>
  </div>
<% end %>
