<%= render(Mail::BorderedRowComponent.new(skip_padding: true, last: @skip_bottom_border)) do %>
  <% if @alerts.present? %>
    <% @alerts.each do |alert| %>
      <%= render(SecretScanning::Mailers::DetectedSecretRowComponent.new(alert, alert_url(alert))) %>
    <% end %>

    <% if @additional_alerts_count > 0 %>
      <div class="mb-4 text-left">
        <span class="color-fg-muted">and <%= @additional_alerts_count %> more alerts</span>
      </div>
    <% end %>
  <% end %>
<% end %>
