<p><%= render(Primer::Beta::Label.new(scheme: :primary)) do %><%= @label_text %><% end %>&nbsp;
<%= render(Primer::Beta::Link.new(href: @feedback_link, classes: "Link--inTextBlock")) do %>Give feedback<% end %></p>
