<p>These secrets were
<%= render(Primer::Beta::Link.new(href: doc_url, classes: "Link--inTextBlock")) do %>detected by AI<% end %>.
False positive rates will improve over time.</p>

<%= render(SecretScanning::Mailers::BetaFeedbackLinkComponent.new("Beta", "https://github.com/github-early-access/secret-scanning-password-detection/discussions")) %>
