<div class="mt-3 ml-5 d-flex" <%= test_selector("remediation-sub-step-flexbox") %>>
  <div class="mr-2">&#8226;</div>
  <div class="text-left" <%= test_selector("remediation-sub-step-text") %>>
    <%= render(Primer::Beta::Link.new(test_selector: "remediation-sub-step-link", href: @link_url)) { @link_text } %>
    <%= @follow_up_text %>
  </div>
</div>
