<%# We need a separate fragment to deal with events that use the Actor interface
  # instead of the User type. So here it is.
  # Formatting of conditions is weird in this partial so that when the results of multiple calls
  # are joined together there is no trailing space preceding the comma.
  #
  # NOTE: Lack of trailing newline is intentional for the same reason. If you forget this,
  #   tests will fail 😼 %>
<%-
  css_class = local_assigns.fetch(:css_class, "Link--primary text-bold")
-%>
<% if actor.nil? %>
  <span class="text-bold color-fg-default"><%= GitHub.ghost_user_login %></span><% else %>
  <%= profile_link(actor, class: css_class) %> <%= bot_identifier(actor) %><% end %>