<div class="TimelineItem">
  <div class="TimelineItem-badge">
    <%= primer_octicon(:bookmark) %>
  </div>

  <div class="TimelineItem-body">
    <%- events.each_with_index do |event, index| %>
    <%= render "issues/events/connection", {
      event: event,
      rollup: events.size > 1,
      first: index == 0
    } %>
    <%- end %>
  </div>
</div>
