converted this issue into
<% if event.discussion.present? %>
  discussion
  <a href="<%= "/#{event.discussion.repository.name_with_display_owner}/discussions/#{event.discussion.number}" %>">
    #<%= event.discussion.number %>
  </a>
<% else %>
  a discussion
<% end %>
