<div class="TimelineItem">
  <div class="TimelineItem-badge">
    <%= primer_octicon(:"cross-reference") %>
  </div>

  <div class="TimelineItem-body" <%= test_selector("cross_reference") %>>
    <%- events.each_with_index do |event, index| %>
      <%= render "issues/events/cross_reference", {
        event: event,
        rollup: events.size > 1,
        first: index == 0
      } %>
    <%- end %>
  </div>
</div>
