<%-
  event = events.first
-%>

<% if events.length == 1 %>
  marked this as
  <% if event.is_a?(PlatformTypes::UnmarkedAsDuplicateEvent) %>not<% end %>
  a duplicate of
<% else %>
  <%- if events.first.is_a?(PlatformTypes::MarkedAsDuplicateEvent) &&
         events.last.is_a?(PlatformTypes::UnmarkedAsDuplicateEvent) %>
    marked this as a duplicate and then as not a duplicate of
  <%- elsif events.first.is_a?(PlatformTypes::UnmarkedAsDuplicateEvent) &&
            events.last.is_a?(PlatformTypes::MarkedAsDuplicateEvent) %>
    marked this as not a duplicate and then as a duplicate of
  <%- elsif events.first.is_a?(PlatformTypes::MarkedAsDuplicateEvent) &&
            events.last.is_a?(PlatformTypes::MarkedAsDuplicateEvent) %>
    marked this as a duplicate of
  <%- else %>
    marked this as not a duplicate of
  <%- end %>
<% end %>
<a href="<%= event.canonical.resource_path %>" class="text-bold" title="<%= event.canonical.title %>"><%= event.canonical.repository.name_with_display_owner if event.is_cross_repository? %>#<%= event.canonical.number %></a><%# erblint:disable GitHub::Accessibility::NoTitleAttribute %>
