<%# formatting of conditions is weird in this partial so that when the results of multiple calls
  # are joined together there is no trailing space preceding the comma.
  #
  # NOTE: Lack of trailing newline is intentional for the same reason. If you forget this,
  #   tests will fail 😼 %>
<a href="<%= event.memex_resource_path %>" class="Link--primary text-bold" ><%= event.memex_title %></a>