<%# erblint:counter DeprecatedInPrimerCounter 1 %>
<%# formatting of conditions is weird in this partial so that when the results of multiple calls
  # are joined together there is no trailing space preceding the comma.
  #
  # NOTE: Lack of trailing newline is intentional for the same reason. If you forget this,
  #   tests will fail 😼 %>
<% if milestone -%>
  <a href="<%= milestone.resource_path %>" class="Link--primary text-bold"><%= title %></a><% else -%>
  <span class="tooltipped tooltipped-n text-bold color-fg-default" aria-label="This milestone has been deleted."><%= title %></span><% end -%><%# erblint:disable GitHub::Accessibility::NoAriaLabelMisuse, Primer::Accessibility::TooltippedMigration %>