<div class="Box-row width-full d-flex flex-items-center">
  <span class="flex-1">
    <%=h key_link.example_key %> &nbsp;&rarr;&nbsp; <%=h key_link.example_url %>
    <%= render(Primer::Beta::Label.new(scheme: :primary)) { key_link.is_alphanumeric ? "Alphanumeric" : "Numeric" } %>
  </span>

  <%= button_to "Remove",
    key_link_path(current_repository.owner, current_repository, key_link),
    method: :delete,
    class: "btn btn-sm btn-danger"
  %>

</div>
