<% page_info title: "#{user.login} - Azure ExP" %>

<%= render partial: "stafftools/users/azure_exp/clear_cache", locals: { assignment_namespaces: assignment_namespaces } %>

<%= render Primer::Beta::Subhead.new(hide_border: true) do |component| %>
  <% component.with_heading(tag: :h5, font_size: 5, font_weight: :bold, mb: 2) do %>Experiments<% end %>
<% end %>

<include-fragment src="<%= azure_exp_local_assignment_path(this_user) %>">
  <div class="d-flex flex-justify-center">
    <%= render Primer::Beta::Spinner.new %>
  </div>
</include-fragment>
