<div style="margin-bottom:16px;">
  <table>
    <tr>
      <td width="40" style="padding-bottom:0" valign="middle">
        <a
          style="display:block;"
          href="<%= email_link_with_tracking(
            url:  @view.github_url(user.display_login),
            email_source: "explore",
            auto_subscribed: @view.auto_subscribed,
          ) %>"
        >
          <img
            alt=""
            src="<%= image_path user.primary_avatar_url %>"
            width="28"
            height="28"
          >
        </a>
      </td>
      <td width="4"></td>
      <td style="padding-bottom:0" valign="middle">
        <h3>
          <a
            href="<%= email_link_with_tracking(
              url: @view.github_url(user.display_login),
              email_source: "explore",
              auto_subscribed: @view.auto_subscribed,
            ) %>"
          >
            <%= user.profile_name %>
          </a>
        </h3>
      </td>
    </tr>
  </table>
</div>
