<% if children.any? %>
  <div class="graphql-stats-node-children js-graphql-stats-node-children">
    <% children.sort_by! { |n| -n.total_ms } if sort %>
    <% children.each do |child_node| %>
      <%= render_graphql_node(child_node) %>
    <% end %>
    <%# .js-graphql-query-trace-hidden-count may be inserted in here, too %>
  </div>
<% end %>
