<% if staff_bar_enabled? %>
  <div class="js-project-stats-container stats-ui-enabled d-none">
    <div class="js-project-stats project-stats server-stats more-enabled width-full d-block text-center"></div>
  </div>
<% end %>
