<% tenants ||= Business.take(10).map(&:slug).sort %>
<% current_tenant = cookies[:gh_tenant] || "Select tenant" %>

<tenant-selector class="clearfix color-bg-transparent position-relative js-header-wrapper">
  <div class="px-3 clearfix">
    <p class="m-0 py-1 d-inline-block float-left">
      <%= render Primer::Beta::Label.new(scheme: :orange, mr: 3, title: "Label: DEVELOPMENT MODE") do %>
        PROXIMA DEVELOPMENT
      <% end %>
    </p>
    <details data-target="tenant-selector.details" class="dropdown details-reset details-overlay float-left">
      <%= render Primer::Beta::Button.new(
          tag: :summary,
          scheme: :invisible,
          "data-target": "tenant-selector.currentTenant",
          classes: "select-menu-button").with_content(current_tenant) %>
      <ul class="dropdown-menu dropdown-menu-e show-more-popover" style="width: fit-content;">
        <% tenants.each do |tenant| %>
          <li>
            <%= render Primer::Beta::Button.new(
              scheme: :invisible,
              classes: "dropdown-item menu-item-text",
              "data-action": "click:tenant-selector#select",
              text_align: :left) do %>
              <%= tenant %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </details>
  </div>
</tenant-selector>
