<li class="flex-1 text-left text-sm-center px-2 px-sm-0 my-2" <%= test_selector("compare-stat") %>>
  <%= render Primer::Beta::Octicon.new(icon: icon_name, color: :muted) %>
  <span class="text-emphasized">
    <%= delimited_item_count %>
  </span>

  <span class="color-fg-muted"><%= pluralized_item_name %></span>
</li>
