<%# primer_experimental_selectpanel %>
<% if experimental == "1" %>
  <%= render(Primer::Alpha::SelectPanel::ItemList.new(
    aria: {
      label: "repositories"
    },
    menu_id: "repository_select_menu",
    select_variant: :multiple
    )) do |list| %>
    <% view.repositories.each do |repository| %>
    <% if !trusted_repositories || !view.trusted_repo_selected?(repository) %>
      <% disabled = view.disabled?(repository) %>
      <% selected = trusted_repositories ? view.trusted_repo_selected?(repository) : false %>
      <% list.with_item(label: repository.name_with_display_owner, content_arguments: { data: { value: repository.id } }, disabled: disabled, active: selected) %>
    <% end %>
    <% end %>
  <% end %>
<% else %>
  <% view.repositories.each do |repository| %>
    <% disabled = view.disabled?(repository) %>
    <% selected = view.selected?(repository) %>
    <%= render Codespaces::RepositoryListItemComponent.new(repository: repository, selected: selected, disabled: disabled) %>
  <% end %>
  <% if view.repositories.empty? %>
    <div class="p-3 text-center">
      No matching repositories.
    </div>
  <% end %>
<% end %>
